figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-*
.repl
.nrepl-*
.DS_Store
*.sublime-*
.idea*
open-company-web.iml
.sass-cache/
.shadow-cljs/
node_modules/

.ruby-gemset
.ruby-version

forms-emitted.txt
forms-read.txt
forms-analyzed.txt

.calva/
.vscode/
public/js/

# Ignore compiled css and html files
public/css/app.main.css
public/*.html

# See electron-builder.example.env
electron-builder.env