figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
resources/public/js/compiled/
.lein-*
.repl
.nrepl-port
.DS_Store
*.sublime-*
.idea*
open-company-web.iml
.sass-cache/
resources/public/css/main.css

.ruby-gemset
.ruby-version