figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
public/js/compiled/
.lein-*
.repl
.nrepl-*
.DS_Store
*.sublime-*
.idea*
open-company-web.iml
.sass-cache/
.shadow-cljs/
node_modules/

.ruby-gemset
.ruby-version

public/js/oc_assets.*

forms-emitted.txt
forms-read.txt
forms-analyzed.txt

.calva/
.vscode/

public/js/cljs-runtime
public/js/oc.*

# Ignore compiled css and html files
public/css/app.main.css
public/*.html

# See electron-builder.example.env
electron-builder.env

# Local env file used only in local development
public/js/local-env.js

# Manifest file from shadow-cljs for code splitting
public/js/manifest.edn