@import "../modules/_colors";
@import "../modules/_fonts";

$bottom_margin: 16;
$h2_top_margin: 24;

@mixin activity-author($avatar_size: 32){
  div.user-avatar-img-container {
    float: left;
    margin-right: 13px;
  }

  @include user-profile($avatar_size);

  div.name {
    overflow: hidden;
    text-overflow: ellipsis;
    @include OC_Body_Book();
    color: $ui_grey;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
  }

  div.time-since {
    overflow: hidden;
    text-overflow: ellipsis;
    @include OC_Body_Book();
    color: rgba($ui_grey, 0.5);
    font-size: 12px;
    white-space: nowrap;

    div.tooltip {
      .tooltip-inner {
        white-space:pre-wrap;
        max-width: none;
        text-align: center;
      }
    }
  }
}

@mixin new-comments-tag(){
  div.new-comments-tag {
    width: auto;
    height: 17px;
    position: relative;
    vertical-align: inherit;
    @include OC_Body_Bold();
    line-height: 17px;
    font-size: 12px;
    color: $carrot_green;
  }
}

@mixin must-see-tag() {
  div.must-see-tag {
    @include image-2x("/img/ML/must_see_tag");
    background-size: 65px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($sea_blue, 0.2);
    height: 18px;
    width: 74px;
    margin-right: 8px;
    position: relative;
    vertical-align: top;
    border-radius: 4px;

    &.white-bg {
      background-color: white;
    }
  }
}

@mixin follow-up-tag() {
  div.follow-up-tag {
    @include image-2x("/img/ML/follow_up_tag");
    background-size: 77px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($sea_blue, 0.2);
    height: 18px;
    width: 86px;
    margin-right: 8px;
    position: relative;
    vertical-align: top;
    border-radius: 4px;

    &.white-bg {
      @include image-2x("/img/ML/follow_up_tag_white");
      background-color: rgba(white, 0.2);
    }
  }
}

@mixin must-see(){
  div.must-see {
    display: inline;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include OC_Body_Bold();
    color: $ui_grey;
    font-size: 12px;
    white-space: nowrap;
    background-image: cdnUrl("/img/ML/must_see_bolt_grey.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 2px 0px;
    margin-left: 8px;

    &.must-see-on {
      background-image: cdnUrl("/img/ML/must_see_bolt_blue.svg");
    }

    @include mobile() {
      width: auto;
    }
  }
}

@mixin section-tag($max_width: null) {
  div.section-tag {
    float: right;
    margin-right: 8px;
    background-color: #E7E6E1;
    border-radius: 100px;
    height: 26px;
    color: $ui_grey;
    @include OC_Body_Bold();
    font-size: 12px;
    padding: 5px 12px 6px 12px;
    border: 1px solid #E7E6E1;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;

    @if $max_width {
      max-width: #{$max_width - 8 - 24}px;

      &.has-new {
        max-width: #{$max_width - 46 - 8 - 8 - 24}px;
      }
    }
  }
}

@mixin activity-tag(){
  div.activity-tag {
    display: inline-block;
    height: 26px;
    border-radius: 100px;
    @include OC_Body_Bold();
    font-size: 12px;
    color: $carrot_light_gray_3;
    background-color: $carrot_light_gray_7;
    line-height: 14px;
    text-align: center;
    padding: 7px 11px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-left: 3px;

    &.on-gray {
      &:hover, &:active, &:focus, &.active {
        background-color: $carrot_purple;
        color: white;
        cursor: pointer;

        &.board-tag {
          background-color: $carrot_text_blue_3;
          color: white;
          cursor: pointer;
        }
      }
    }

    &:hover, &:active, &:focus, &.active {
      background-color: $carrot_light_purple;
      color: $carrot_purple;
      cursor: pointer;

      &.board-tag {
        color: $carrot_text_blue_3;
        background-color: $carrot_light_blue_2;
        cursor: pointer;
      }
    }
  }
}

@mixin activity-title($font_size: 26px, $line_height: 30px){
  @include OC_Title();
  font-size: $font_size;
  color: $deep_navy;
  line-height: $line_height;

  .emojione {
    @include emoji-size(22);
  }
}

@mixin activity-abstract($font_size: 14px, $line_height: 18px){
  @include OC_Body_Book();
  font-size: $font_size;
  color: $deep_navy;
  line-height: $line_height;

  b, strong{
    @include OC_Body_Bold();
    font-weight: normal;

    a, span[data-auto-link] {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &.editing {
    b, strong {
      @include OC_Body_Book();
      font-weight: 700;
    }

    i {
      @include OC_Body_Book_Italic();
    }

    b i, b strong, i b, i strong {
      @include OC_Body_Book_Italic();
      font-weight: 700;
    }
  }

  i {
    @include OC_Body_Book_Italic();
  }

  i b, i strong, strong i, b i {
    @include OC_Body_Bold_Italic(); 
  }

  a, span[data-auto-link], a.noreferrer, a.noopener, a.noreferrer.noopener {
    text-decoration: none;
    color: $carrot_green;
    background-color: transparent !important;
  }

  &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
    @include OC_Body_Book();
    font-size: #{$font_size}px;
    line-height: #{$line_height}px;
    color: $grey_num_1;
    opacity: 1;
    font-style: none !important;
  }

  p, ul > li, i {
    min-height: #{$line_height}px;
  }

  i:empty, li:empty, b:empty, strong:empty {
    display: grid;
    min-width: 1px;
  }
}

@mixin activity-headline(){
  @include OC_Title();
  font-size: 22px;
  color: $deep_navy;
  line-height: 28px;

  .emojione {
    @include emoji-size(18);
  }
}

@mixin activity-body($font_size: 16, $line_height: $bottom_margin, $color: $deep_navy){

  &.uploading[contenteditable=true]{
    .rangySelectionBoundary {
      display: inline-block !important;
      width: 32px;
      height: 32px;
      background-image: cdnUrl("/img/small_loading.gif");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      top: -16px;
      position: relative;
    }
  }

  &.medium-editor-placeholder-hidden:after {
    display: none !important;
  }

  &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
    @include OC_Body_Book();
    font-size: #{$font_size}px;
    line-height: #{$line_height}px;
    color: $grey_num_1;
    opacity: 1;
    font-style: none !important;
  }

  @include OC_Body_Book();
  font-size: #{$font_size}px;
  line-height: #{$line_height}px;
  color: $color;
  white-space: pre-wrap;
  word-wrap: break-word;

  p, ul > li, i {
    min-height: #{$line_height}px;
  }

  blockquote {
    padding: 10px 20px;
    min-height: #{$line_height + 20}px;
    border-left: 4px solid $ultra_light_grey;
  }

  i:empty, b:empty, strong:empty, li:empty {
    display: grid;
    min-width: 1px;
  }

  * {
    color: $color;
  }

  & > *:first-child {
    margin: 0px;
  }

  & > *:not(:last-child) {
    margin: #{$line_height}px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  & > *:last-child:not(:first-child) {
    margin: #{$line_height}px 0px 0px;
    padding-bottom: 0px;
  }

  & > blockquote:not(:last-child) {
    margin: #{$line_height}px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  & > blockquote:last-child:not(:first-child) {
    margin: #{$line_height}px 0px 0px;
    padding-bottom: 10px;
  }

  & > img, img {
    padding-bottom: 8px;
  }

  b, strong{
    @include OC_Body_Bold();
    font-weight: normal;

    a, span[data-auto-link] {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &.editing {
    b, strong {
      @include OC_Body_Book();
      font-weight: 700;
    }

    i {
      @include OC_Body_Book_Italic();
    }

    b i, b strong, i b, i strong {
      @include OC_Body_Book_Italic();
      font-weight: 700;
    }
  }

  i {
    @include OC_Body_Book_Italic();
  }

  i b, i strong, strong i, b i {
    @include OC_Body_Bold_Italic(); 
  }

  *:first-child {
    margin-top: 0px;
  }

  & > *:not(:first-child) {
    margin-top: #{$line_height}px;
  }

  h2 + p {
    margin-top: 0px !important;
  }

  h2 {
    @include OC_Body_Bold();
    font-size: #{$font_size + 2}px;
    line-height: #{$line_height}px;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0px !important;

    a, span[data-auto-link] {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  a, span[data-auto-link], a.noreferrer, a.noopener, a.noreferrer.noopener {
    text-decoration: none;
    color: $carrot_green;
    background-color: transparent !important;
  }

  a:hover {
    text-decoration: underline;
  }

  .emojione {
    @include emoji-size($font_size - 2);
  }

  hr.media-divider-line {
    display: inline-block;
    position: relative;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    height: 1px;
    background-color: $color;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  img, a > img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
  }

  iframe {
    margin: 0 auto;
    display: block;
    width: 100% !important;
  }

  @include tablet() {
    iframe.carrot-no-preview {
      width: calc(100% + 32px) !important;
      margin: 0 0 0 -16px;
      max-width: calc(100% + 32px);
    }
  }

  pre {
    min-height: 36px;
  }
}

@mixin activity-attachment($hide-remove-button: false){
  a.media-attachment {
    display: inline-block;
    width: 100%;
    height: 56px;
    padding: 13px 16px;
    background-color: #F0EFEA;
    border-radius: 4px;
    margin-top: 4px;

    & > * {
      opacity: 0.8;
      cursor: pointer;
    }

    &:hover {
      & > * {
        opacity: 1;
      }

      label.media-attachment-title {
        text-decoration: underline;
      }
      @if $hide-remove-button == true {
        button.remove-attachment {
          display: block;
        }
      }
    }

    i.file-mimetype {
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 15px;
      color: $oc_gray_5;
      float: left;
      font-size: 16px;
      padding: 7px 9px;
      margin-top: -2px;
    }

    label {
      float: left;
      width: calc(100% - 30px - 30px);
      height: 20px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    label.media-attachment-title {
      font-size: 13px;
      @include OC_Body_Bold();
      color: $carrot_dark_gray;
      margin-left: 8px;
    }

    label.media-attachment-subtitle {
      font-size: 12px;
      @include OC_Body_Book();
      color: rgba($oc_gray_7, 0.5);
      margin-left: 8px;
    }

    button.remove-attachment {
      float: right;
      width: 25px;
      height: 25px;
      margin: -35px 0 0 0;
      padding: 0;
      color: $oc_gray_5;
      display: none;
    }
  }
}

@mixin activity-media-preview(){
  div.media-preview-container {
    width: 72px;
    height: 72px;
    float: right;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    img {
      max-width: 72px;
      max-height: 54px;
      margin-top: 9px;
    }

    &:after {
      position: absolute;
      font-family: FontAwesome;
      font-size: 20px;
      color: white;
      opacity: 0.5;
      top: 50%;
      left: 50%;
    }

    &:hover {
      &:after {
        opacity: 0.8;
      }
    }

    &.video {
      &:after {
        content: "\f04b";
        margin-left: -8px;
        margin-top: -14px;
      }
    }
  }
}


@mixin activity-comment(){
  @include OC_Body_Book();
  font-size: 18px;
  color: $deep_navy;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 24px;

  &.uploading[contenteditable=true]{
    .rangySelectionBoundary {
      display: inline-block !important;
      width: 32px;
      height: 32px;
      background-image: cdnUrl("/img/small_loading.gif");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      top: -16px;
      position: relative;
    }
  }

  &.editing {
    display: block;
  }

  &:hover {
    a.read-more {
      color: $carrot_green;
    }
  }

  a.read-more {
    @include OC_Body_Book();
    font-size: 12px;
    color: $deep_navy;
  }

  margin-bottom: 0px;

  &>*:last-child {
    margin-bottom: 0px;
  }

  & > blockquote:last-child {
    margin-bottom: 0px;
  }

  &.emoji-comment {
    font-size: 40px;
    height: 50px;
    line-height: 50px;
  }

  a, span[data-auto-link] {
    text-decoration: none;
    color: $carrot_green;
    background-color: transparent !important;
  }

  a:hover {
    text-decoration: underline;
  }

  &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
    color: rgba($deep_navy, 0.5);
    font-style: normal;
  }

  img, a > img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
  }

  iframe {
    margin: 0 auto;
    display: block;
    width: 100% !important;
  }

  i:empty, b:empty, strong:empty, li:empty {
    display: grid;
    min-width: 1px;
  }

  blockquote {
    padding: 10px 20px;
    min-height: 44px;
    border-left: 4px solid $ultra_light_grey;
  }

  b, strong{
    @include OC_Body_Bold();
    font-weight: normal;

    a, span[data-auto-link] {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &.editing {
    b, strong {
      @include OC_Body_Book();
      font-weight: 700;
    }

    i {
      @include OC_Body_Book_Italic();
    }

    b i, b strong, i b, i strong {
      @include OC_Body_Book_Italic();
      font-weight: 700;
    }
  }

  i {
    @include OC_Body_Book_Italic();
  }

  i b, i strong, strong i, b i {
    @include OC_Body_Bold_Italic(); 
  }

  p, ul > li, i {
    min-height: 24px;
  }

  pre {
    min-height: 36px;
  }
}