@import "../modules/_theme";
@import "../modules/_fonts";

$bottom_margin: 16;
$header_top_margin: 24;

@mixin activity-author($avatar_size: 32){

  @include user-profile($avatar_size) {
    float: left;
    margin-right: 13px;
  }

  div.name, span.name {
    overflow: hidden;
    text-overflow: ellipsis;
    @include OC_Body_Book();
    color: var(--light-color);
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
  }

  div.time-since, span.time-since {
    overflow: hidden;
    text-overflow: ellipsis;
    @include OC_Body_Book();
    color: var(--ultralight-color);
    font-size: 12px;
    white-space: nowrap;

    div.tooltip {
      .tooltip-inner {
        white-space:pre-wrap;
        max-width: none;
        text-align: center;
      }
    }
  }
}

@mixin must-see-tag() {
  div.must-see-tag {
    @include image-2x("/img/ML/must_see_tag");
    background-size: 65px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($sea_blue, 0.2);
    height: 18px;
    width: 74px;
    margin-right: 8px;
    position: relative;
    vertical-align: top;
    border-radius: 4px;

    &.white-bg {
      background-color: white;
    }
  }
}

@mixin bookmark-tag() {
  div.bookmark-tag {
    @include image-2x("/img/ML/bookmark_tag");
    background-size: 75px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($sea_blue, 0.2);
    height: 18px;
    width: 86px;
    margin-right: 8px;
    position: relative;
    vertical-align: top;
    border-radius: 4px;

    &.white-bg {
      // @include image-2x("/img/ML/bookmark_tag_white");
      background-color: white;
    }
  }


  div.bookmark-tag-small {
    height: 18px;
    width: 18px;
    margin-right: 8px;
    position: relative;
    vertical-align: top;
    border-radius: 4px;
    background-color: rgba($sea_blue, 0.2);
    @include image-2x("/img/ML/bookmark_icon");
    background-size: 8px 11px;
    background-repeat: no-repeat;
    background-position: center;

    &.white-bg {
      // @include image-2x("/img/ML/bookmarks_icon_white");
      background-color: rgba(white, 0.2);
    }
  }
}

@mixin muted-activity($width: 12, $height: 14) {
  div.muted-activity {
    margin-right: 8px;
    vertical-align: top;
    width: #{$width}px;
    height: #{$height}px;
    background-image: cdnUrl("/img/ML/more_inbox_unfollow.svg");
    background-size: #{$width}px #{$height}px;
    background-position: center;
    background-repeat: no-repeat;

    @include dark_mode() {
      background-image: cdnUrl("/img/ML/more_inbox_unfollow@dark.svg");
    }
  }
}

@mixin must-see(){
  div.must-see {
    display: inline;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    @include OC_Body_Bold();
    color: $ui_grey;
    font-size: 12px;
    white-space: nowrap;
    background-image: cdnUrl("/img/ML/must_see_bolt_grey.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 2px 0px;
    margin-left: 8px;

    &.must-see-on {
      background-image: cdnUrl("/img/ML/must_see_bolt_blue.svg");
    }

    @include mobile() {
      width: auto;
    }
  }
}

@mixin activity-title($font_size: 26px, $line_height: 30px){
  @include OC_Title();
  font-size: $font_size;
  color: var(--color);
  line-height: $line_height;
  white-space: normal;
  overflow-wrap: break-word;

  .emojione {
    @include emoji-size(22);
  }
}

@mixin activity-abstract($font_size: 14px, $line_height: 18px){
  @include OC_Body_Bold();
  font-size: $font_size;
  color: var(--color);
  line-height: $line_height;
  white-space: normal;
  overflow-wrap: break-word;

  i {
    @include OC_Body_Bold_Italic();
  }

  a, span[data-auto-link], a.noreferrer, a.noopener, a.noreferrer.noopener, a i, a strong, a b {
    text-decoration: none;
    color: $carrot_green;
    background-color: transparent !important;
  }

  &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
    @include OC_Body_Bold();
    font-size: $font_size;
    line-height: $line_height;
    color: var(--light-color);
    opacity: 1;
    font-style: normal;
    text-transform: none;
  }

  p, ul > li, i {
    min-height: $line_height;
  }

  i:empty {
    display: grid;
    min-width: 1px;
  }

  p:only-child {
    margin-bottom: 0;
  }
}

@mixin activity-headline(){
  @include OC_Title();
  font-size: 22px;
  color: var(--color);
  line-height: 28px;
  white-space: normal;
  overflow-wrap: break-word;

  .emojione {
    @include emoji-size(18);
  }
}

@mixin poll($paragraph_spacing) {
  div.oc-poll-portal {
    margin: 0 0 #{$paragraph_spacing}px;

    &:empty {
      // FIXME: add a poll ghost screen?
    }

    div.oc-poll-container {
      div.poll {
        width: 100%;
        display: inline-block;
        background-color: var(--poll-background-color);
        border-radius: 4px;
        border: 1px solid var(--divider-line);
        box-shadow: var(--poll-box-shadow);
        padding: 24px;
        color: var(--color);
        position: relative;

        button.delete-poll-bt {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 10px;
          right: 10px;
          background-image: cdnUrl("/img/ML/mobile_close_x.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 12px 12px;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/mobile_close_x@dark.svg");
          }
        }

        // Write component

        div.poll-question-label {
          @include OC_Body_Bold();
          font-size: 14px;
          line-height: 18px;
          color: var(--color);
        }

        input.poll-question {
          height: 32px;
          padding: 7px 8px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: var(--color);
          background-color: var(--opac-background-color-1);
          width: 100%;
          border: none;
          outline: none;
          border-radius: 4px;
          margin-top: 4px;

          @include placeholder() {
            color: var(--light-color);
          }
        }

        div.poll-reply {
          margin-top: 16px;
          position: relative;

          div.poll-reply-label {
            @include OC_Body_Bold();
            font-size: 14px;
            line-height: 18px;
            color: var(--color);
          }

          input.poll-reply-body {
            height: 32px;
            width: 100%;
            border: none;
            outline: none;
            padding: 7px 30px 7px 8px;
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;
            color: var(--color);
            background-color: var(--opac-background-color-1);
            display: block;
            border-radius: 4px;
            margin-top: 4px;

            @include placeholder() {
              color: var(--light-color);
            }
          }

          button.delete-reply {
            position: absolute;
            top: 30px;
            right: 9px;
            width: 16px;
            height: 24px;
            background-image: cdnUrl("/img/ML/close_x.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 8px 8px;
            margin: 0;
            padding: 0;
            opacity: 0.5;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/close_x@dark.svg");
            }

            &.read-poll {
              top: 0px;
            }

            &:hover {
              opacity: 0.4;
            }
          }
        }

        // Both

        div.poll-reply-new {
          margin-top: 8px;
          position: relative;

          div.poll-reply {
            margin-top: 0;

            button.delete-reply {
              top: 4px;
              right: 7px;
            }
          }

          button.poll-reply-new {
            height: 18px;
            display: inline-block;
            background-image: cdnUrl("/img/ML/plus_button_icon.svg");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 16px 16px;
            padding-left: 24px;
            color: var(--light-color);
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/plus_button_icon@dark.svg");
            }
          }

          button.poll-preview-bt {
            padding: 0;
            float: right;
            color: $carrot_green;
            height: 18px;
            font-size: 14px;
            @include OC_Body_Book();

            &:hover {
              text-decoration: underline;
            }
          }
        }


        // Read component

        &.poll-read {
          // background-color: var(--opac-background-color-05);
        }

        div.poll-question {
          display: flex;
          flex-direction: row;
          align-items: center;

          div.poll-question-body {
            @include OC_Body_Bold();
            font-size: 18px;
            line-height: 20px;
            color: var(--color);
            text-align: left;
            flex: 0 1 auto;
            margin-right: 8px;
            width: 100%;
            min-width: 10%;
          }

          div.poll-total-count {
            @include OC_Body_Book();
            font-size: 18px;
            line-height: 20px;
            color: var(--light-color);
            text-align: right;
            flex: 0 0 auto;
            max-width: calc(50% - 8px);
          }
        }

        div.poll-replies {
          margin-top: 16px;

          &:not(.can-vote) {
            div.poll-reply-outer button.poll-reply {
              opacity: 1;
              cursor: default;
            }
          }

          &.can-vote {

            div.poll-reply-outer.voted {
              &:before {
                background-color: rgba($carrot_green, 0.3);
              }

              button.poll-reply {
                padding-left: 32px;

                div.poll-reply-body {
                  color: var(--color);
                  @include OC_Body_Bold();
                }

                &:before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  background-image: cdnUrl("/img/ML/poll_voted_check_dark.svg");
                  background-size: 16px 16px;
                  background-position: 0 0;
                  background-repeat: no-repeat;
                  position: absolute;
                  left: 8px;
                  top: 8px;
                  display: block;

                  @include dark_mode() {
                    background-image: cdnUrl("/img/ML/poll_voted_check.svg");
                  }
                }
              }

              div.poll-reply-count {
                color: var(--color);
              }
            }

            &:hover {
              div.poll-reply-outer {

                &.voted:before, &:before {
                  background-color: var(--opac-background-color-05);
                  width: 100%;
                  transition: none !important;
                }

                &.voted button.poll-reply, button.poll-reply {
                  width: 100%;

                  div.poll-reply-body {
                    @include OC_Body_Book();
                  }
                }

                &:hover {
                  &:before {
                    background-color: rgba($carrot_green, 0.3);
                    width: 100%;
                  }

                  button.poll-reply {
                    width: 100%;

                    div.poll-reply-body {
                      color: var(--color);
                    }
                  }
                }
              }
            }
          }

          &:not(.animate) div.poll-reply-outer.percent-0:before {
            width: 100%;
          }

          @for $i from 1 through 100 {
            &:not(.animate) div.poll-reply-outer.percent-#{$i}:before {
              width: 0;
            }
          }

          div.poll-reply-outer {
            position: relative;
            margin-top: 8px;
            display: flex;
            flex-direciton: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            &:before {
              background-color: var(--opac-background-color-05);
              border-radius: 4px;
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              content: "";
              transition: 180ms width ease-in, 180ms background-color ease-in;
            }

            &.percent-0:before {
              width: 100%;
            }

            @for $i from 1 through 100 {
              &.percent-#{$i}:before {
                width: #{percentage($i/100)};
              }
            }

            button.poll-reply {
              margin: 0;
              min-height: 32px;
              padding: 7px 4px 7px 8px;
              border-radius: 4px;
              position: relative;
              display: block;
              flex: 1 1 auto;

              div.poll-reply-body {
                text-align: left;
                @include OC_Body_Book();
                font-size: 14px;
                line-height: 18px;
                color: var(--color);
              }
            }

            div.poll-reply-count {
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 18px;
              color: var(--light-color);
              text-align: right;
              padding: 0 4px;
              flex: 1 1 auto;
            }
          }
        }
      }
    }
  }
}

@mixin code-blocks($font-size: 14, $line-height: $bottom_margin, $paragraph_spacing: $line-height) {
  pre, pre > code {
    font-family: 'IBM Plex Mono', monospace;
    color: var(--color);
    font-size: #{$font-size}px;
    line-height: #{$line-height}px;
    background-color: var(--code-background-color);
    border: 1px solid var(--code-border-color);
    border-radius: 4px;
    overflow-x: auto;
    white-space: pre;
    padding: 16px;
    min-height: 54px;
    margin: 0 0 #{$paragraph_spacing}px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    font-family: 'IBM Plex Mono', monospace;
    color: var(--inline-code-color);
    font-size: #{$font-size}px;
    line-height: #{$line-height}px;
    background-color: var(--code-background-color);
    border: 1px solid var(--code-border-color);
    border-radius: 4px;
    white-space: pre-wrap;
    padding: 2px 1px 1px;
  }
}

@mixin activity-body($font_size: 16, $line_height: ($bottom_margin + 6), $color: var(--color), $paragraph_spacing: $line_height){

  &.uploading[contenteditable=true]{
    .rangySelectionBoundary {
      display: inline-block !important;
      width: 32px;
      height: 32px;
      background-image: cdnUrl("/img/small_loading.gif");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      top: -16px;
      position: relative;
    }
  }

  &.medium-editor-placeholder-hidden:after {
    display: none !important;
  }

  &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
    @include OC_Body_Book();
    font-size: #{$font_size}px;
    line-height: #{$line_height}px;
    color: var(--light-color);
    opacity: 1;
    font-style: none !important;
  }

  @include OC_Body_Book();
  font-size: #{$font_size}px;
  line-height: #{$line_height}px;
  color: $color;
  white-space: normal;
  overflow-wrap: break-word;

  p, ul > li, i, div {
    min-height: #{$line_height}px;
  }

  i:empty, b:empty, strong:empty {
    display: grid;
    min-width: 1px;
  }

  * {
    color: $color;
  }

  & > * {
    padding-top: 0;
    padding-bottom: 0;
  }

  & > * {
    margin: #{$paragraph_spacing}px 0 #{$paragraph_spacing}px 0;
  }

  & > *:not(blockquote):not(pre):first-child {
    margin-top: 0;
  }

  & > *:not(blockquote):not(pre):last-child {
    margin-bottom: 0;
  }

  & > h1, & > h2 {
    margin: #{$header_top_margin}px 0px #{$paragraph_spacing}px;
  }

  & > h1:first-child, & > h2:first-child {
    margin-top: 0;
  }

  & > h1:last-child, & > h2:last-child {
    margin-bottom: 0;
  }

  blockquote {
    padding: 10px 20px;
    min-height: #{$line_height + 20}px;
    border-left: 4px solid $ultra_light_grey;
  }

  & > img, img {
    padding-bottom: 8px;
  }

  b, strong {
    @include OC_Body_Bold();
    font-weight: normal;

    a, span[data-auto-link], a i, a strong, a b {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &.editing {
    b, strong {
      @include OC_Body_Book();
      font-weight: 700;
    }

    i {
      @include OC_Body_Book_Italic();
    }

    b i, b strong, i b, i strong {
      @include OC_Body_Book_Italic();
      font-weight: 700;
    }
  }

  i {
    @include OC_Body_Book_Italic();
  }

  i b, i strong, strong i, b i {
    @include OC_Body_Bold_Italic();
  }

  h1 {
    @include OC_Body_Bold();
    font-size: #{$font_size + 11}px;
    line-height: #{$line_height + 14}px;
    font-weight: normal;

    a, span[data-auto-link] {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  h2 {
    @include OC_Body_Bold();
    font-size: #{$font_size + 5}px;
    line-height: #{$line_height + 6}px;
    font-weight: normal;

    a, span[data-auto-link], a i, a strong, a b {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  a, span[data-auto-link], a i, a strong, a b, a.noreferrer, a.noopener, a.noreferrer.noopener {
    text-decoration: none;
    color: $carrot_green;
    background-color: transparent !important;
  }

  a:hover {
    text-decoration: underline;
  }

  .emojione {
    @include emoji-size($font_size - 2);
  }

  hr.media-divider-line {
    display: inline-block;
    position: relative;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    height: 1px;
    background-color: $color;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  img, a > img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
  }

  iframe {
    margin: 0 auto;
    display: block;
    width: 100% !important;
  }

  @include tablet() {
    iframe.carrot-no-preview {
      width: calc(100% + 32px) !important;
      margin: 0 0 0 -16px;
      max-width: calc(100% + 32px);
    }
  }

  span {
    background-color: transparent!important;
  }

  mark, mark.highlight {
    background-color: var(--highlighter-bg-color);
    color: $deep_navy;
    border-radius: 3px;
    padding: 0 3px;
  }

  @include poll($paragraph_spacing);

  @include code-blocks($font_size - 3, $line_height - 3, $paragraph_spacing);

}

@mixin activity-attachment($hide-remove-button: false){
  a.media-attachment {
    display: inline-block;
    width: 100%;
    height: 56px;
    padding: 13px 16px;
    background-color: #F0EFEA; // FIXME
    border-radius: 4px;
    margin-top: 4px;
    white-space: normal;
    overflow-wrap: break-word;

    & > * {
      opacity: 0.8;
      cursor: pointer;
    }

    &:hover {
      & > * {
        opacity: 1;
      }

      label.media-attachment-title {
        text-decoration: underline;
      }
      @if $hide-remove-button == true {
        button.remove-attachment {
          display: block;
        }
      }
    }

    i.file-mimetype {
      width: 30px;
      height: 30px;
      background-color: var(--background-color);
      border-radius: 15px;
      color: var(--color);
      float: left;
      font-size: 16px;
      padding: 7px 9px;
      margin-top: -2px;
    }

    label {
      float: left;
      width: calc(100% - 30px - 30px);
      height: 20px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    label.media-attachment-title {
      font-size: 13px;
      @include OC_Body_Bold();
      color: var(--color);
      margin-left: 8px;
    }

    label.media-attachment-subtitle {
      font-size: 12px;
      @include OC_Body_Book();
      color: var(--light-color);
      margin-left: 8px;
    }

    button.remove-attachment {
      float: right;
      width: 25px;
      height: 25px;
      margin: -35px 0 0 0;
      padding: 0;
      color: var(--color);
      display: none;
    }
  }
}

@mixin activity-media-preview(){
  div.media-preview-container {
    width: 72px;
    height: 72px;
    float: right;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    img {
      max-width: 72px;
      max-height: 54px;
      margin-top: 9px;
    }

    &:after {
      position: absolute;
      font-family: FontAwesome;
      font-size: 20px;
      color: var(--background-color);
      opacity: 0.5;
      top: 50%;
      left: 50%;
    }

    &:hover {
      &:after {
        opacity: 0.8;
      }
    }

    &.video {
      &:after {
        content: "\f04b";
        margin-left: -8px;
        margin-top: -14px;
      }
    }
  }
}

@mixin activity-comment($font_size: 18, $line_height: 24, $paragraph_spacing: $line_height){
  @include OC_Body_Book();
  font-size: #{$font_size}px;
  color: var(--color);
  white-space: normal;
  overflow-wrap: break-word;
  line-height: #{$line_height}px;

  &.uploading[contenteditable=true]{
    .rangySelectionBoundary {
      display: inline-block !important;
      width: 32px;
      height: 32px;
      background-image: cdnUrl("/img/small_loading.gif");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      top: -16px;
      position: relative;
    }
  }

  &.editing {
    display: block;
  }

  &:hover {
    a.read-more {
      color: $carrot_green;
    }
  }

  a.read-more {
    @include OC_Body_Book();
    font-size: 12px;
    color: var(--color);
  }

  margin-bottom: 0px;

  &.emoji-comment {
    font-size: 40px;
    height: 50px;
    line-height: 50px;
  }

  a, span[data-auto-link], a i, a strong, a b {
    text-decoration: none;
    color: $carrot_green;
    background-color: transparent !important;
  }

  a:hover {
    text-decoration: underline;
  }

  &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
    color: var(--light-color);
    font-style: normal;
    font-size: #{$font_size}px;
    line-height: #{$line_height}px;
    cursor: text;
  }

  img, a > img, video, a > video {
    display: block;
    margin: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;

    &:after {
      content: "";
      display: table;
      clear: both;
      white-space: nowrap;
    }
  }

  iframe {
    margin: 0;
    display: block;
    width: 100% !important;

    &:after {
      content: "";
      display: table;
      clear: both;
      white-space: nowrap;
    }
  }

  i:empty, b:empty, strong:empty {
    display: grid;
    min-width: 1px;
  }

  &.editing {
    b, strong {
      @include OC_Body_Book();
      font-weight: 700;
    }

    i {
      @include OC_Body_Book_Italic();
    }

    b i, b strong, i b, i strong {
      @include OC_Body_Book_Italic();
      font-weight: 700;
    }
  }

  i {
    @include OC_Body_Book_Italic();
  }

  i b, i strong, strong i, b i {
    @include OC_Body_Bold_Italic();
  }

  p, ul > li, i {
    min-height: #{$line_height}px
  }

  & > * {
    margin: #{$paragraph_spacing}px 0 #{$paragraph_spacing}px 0;
  }

  & > *:not(blockquote):not(pre):first-child {
    margin-top: 0;
  }

  & > *:not(blockquote):not(pre):last-child {
    margin-bottom: 0;
  }

  & > h1, & > h2 {
    margin: #{$header_top_margin}px 0px #{$paragraph_spacing}px;
  }

  & > h1:first-child, & > h2:first-child {
    margin-top: 0;
  }

  & > h1:last-child, & > h2:last-child {
    margin-bottom: 0;
  }

  & > img, img {
    padding-bottom: 8px;
  }

  span {
    background-color: transparent!important;
  }

  blockquote {
    padding: 10px 20px;
    min-height: 44px;
    border-left: 4px solid $ultra_light_grey;
  }

  b, strong {
    @include OC_Body_Bold();
    font-weight: normal;

    a, span[data-auto-link], a i, a strong, a b {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  h1 {
    @include OC_Body_Bold();
    font-size: #{$font_size + 11}px;
    line-height: #{$line_height + 14}px;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;

    a, span[data-auto-link] {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  h2 {
    @include OC_Body_Bold();
    font-size: #{$font_size + 5}px;
    line-height: #{$line_height + 6}px;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;

    a, span[data-auto-link] {
      text-decoration: none;
      color: $carrot_green;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  mark, mark.highlight {
    background-color: var(--highlighter-bg-color);
    color: $deep_navy;
    border-radius: 3px;
    padding: 0 3px;
  }

  @include code-blocks(int($font-size) - 3, int($line-height) - 3, $paragraph_spacing);
}

@mixin activity-body-preview($font_size: 16, $line_height: $bottom_margin, $color: var(--color), $preview_lines: 2){

  @include activity-body($font_size, $line_height, $color, 0);
  overflow: hidden;

  color: var(--color);
  @include OC_Body_Book();
  line-height: #{$line_height}px;
  font-size: #{$font_size}px;

  max-height: #{$line_height * $preview_lines}px;

  h1, h2, mark, mark.highlight {
    color: var(--color);
    @include OC_Body_Book();
    font-size: #{$font_size}px;
    line-height: #{$line_height}px;
    background-color: transparent;
    padding: 0 !important;
    margin: 0 !important;
  }

  b, strong, &.editing b, &.editing strong {
    @include OC_Body_Book();
    font-weight: normal;
  }

  .carrot-no-preview {
    display: none;
  }

  blockquote, pre, code {
    display: none;
  }

  div.media-poll {
    display: block;
    margin: 0;
    padding: 0;

    &:before {
      content: "";
      background-image: cdnUrl("/img/ML/media_poll.svg");
      background-repeat: no-repeat;
      background-position: top #{($line_height - 11) / 2}px left 0px;
      background-size: 16px 11px;
      width: auto;
      height: #{$line_height}px;
      padding-left: 24px;
      font-size: #{$font_size}px;
      line-height: #{$line_height}px;
      color: $color;
      @include OC_Body_Book();
      content: attr(data-question);
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/media_poll@dark.svg");
      }
    }
  }
}