@import "../modules/_colors";

@mixin activity-author($avatar_size: 32){
  div.user-avatar-img-container {
    height: #{$avatar_size}px;
    float: left;
    white-space: nowrap;
    width: #{$avatar_size};
    text-align: center;
    margin-right: 16px;

    div.user-avatar-img-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img.user-avatar-img {
      max-width: #{$avatar_size}px;
      max-height: #{$avatar_size}px;
      border-radius: #{$avatar_size / 2}px;
      vertical-align: middle;
    }
  }

  div.name {
    overflow: hidden;
    text-overflow: ellipsis;
    @include avenir_H();
    color: $carrot_dark_gray;
    font-size: 15px;
  }

  div.time-since {
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 52px);
    @include avenir_R();
    color: rgba($oc_gray_7, 0.5);
    font-size: 14px;

    div.tooltip {
      .tooltip-inner {
        white-space:pre-wrap;
        max-width: none;
        text-align: center;
      }
    }
  }
}

@mixin activity-tag(){
  div.topic-tag {
    height: 26px;
    border-radius: 4px;
    @include avenir_H();
    font-size: 12px;
    color: $carrot_text_blue;
    background-color: rgba($carrot_text_blue, 0.25);
    line-height: 14px;
    text-align: center;
    padding: .5em .9em;
    cursor: pointer;

    &:hover {
      background-color: $carrot_text_blue;
      color: white;
    }
  }
}

@mixin activity-headline(){
  @include avenir_H();
  font-size: 20px;
  color: $carrot_dark_gray;

  .emojione {
    @include emoji-size(18);
  }
}

@mixin activity-body(){

  &.medium-editor-placeholder:after {
    @include avenir_R();
    font-size: 16px;
    color: $carrot_light_gray_1;
    font-style: none !important;
  }

  @include avenir_R();
  font-size: 16px;
  color: $carrot_dark_gray;

  * {
    color: $carrot_dark_gray;
  }

  p, img, h1, h2, h3, h4, h5 {
    margin: 0 0 10px;
  }

  b, strong{
    @include avenir_H();
    color: $carrot_dark_gray;
    font-weight: normal;
  }

  h1, h2, h3, h4, h5 {
    font-family: AvenirLTStd-Medium !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 19px;
  }

  a {
    text-decoration: none;
    color: $carrot_text_blue;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }

  .emojione {
    @include emoji-size(14);
  }

  p:last-child, & > div:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}