@import "../modules/_browser_type";

@mixin blur ($radius) {
  -webkit-filter: blur($radius+px); /* Chrome, Safari */
  -ms-filter: blur($radius+px); /* IE12? */
  -o-filter: blur($radius+px);
  -moz-filter: blur($radius+px);
  filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin no-user-select(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
    width: $width;
    height: $height;
  }
}

@mixin mobile(){
  @media screen and (max-width: #{($min_big_web_width - 1)}px){
    @content;
  }
}

@mixin big_web(){
  @media screen and (min-width: #{$min_big_web_width}px){
    @content;
  }
}

/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;

  $opposite-direction: top;
  @if $direction == top {
    $opposite-direction: bottom;
  } @else if $direction == bottom {
    $opposite-direction: top;
  } @else if $direction == left {
    $opposite-direction: right;
  } @else if $direction == right {
    $opposite-direction: left;
  }

  border-#{$opposite-direction}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}

@mixin topic_navigation(){
  div.topic-navigation{
    width: 100%;
    margin-bottom: 15px;

    div a {
      font-size: 14px;
      line-height: 1;
      color: #707070;
      text-decoration: none;
    }

    div.arrow{
      button {
        font-size: 14px;
        line-height: 1;
        color: #5b5b5b;
        margin: 0;
        padding: 0;
        width: auto;
        border: 0px solid transparent;
        background-color: transparent;
      }
    }

    div.previous {
      float: left;
    }

    div.next {
      float: right;
    }
  }
}

@mixin pillbox($active_pillbox_bg: #bababa){
  label.pillbox {
    margin: 4px 3px;
    padding: 3px 12px;
    height: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 $oc_gray_2;
    border: solid 0.3px #979797;
    font-size: 14px;
    color: #5b5b5b;
    cursor: pointer;

    &.active {
      border: solid 0.3px transparent;
      background-color: $active_pillbox_bg;
      color: white;
    }
  }
}