@mixin carrot-fallback($max_logo_height, $show_border) {

  &:before {
    background-color: $wut_purple;
    content: attr(data-first-letter);
    text-align: center;
    color: white;
    line-height: #{$max_logo_height}px;
    font-size: #{$max_logo_height * .7}px;
    position: absolute;
    width: #{$max_logo_height}px;
    height: #{$max_logo_height}px;
    top: 0;
    left: 0;

    @if $show_border == true {
      $logo_padding: $max_logo_height / 10;
      $logo_height: $max_logo_height - ($logo_padding * 2);
      $logo_width: $logo_height * (66 / 119);

      border: 1px solid white;// var(--divider-line);
      background-size: #{$logo_width}px #{$logo_height}px;
      border-radius: 4px;
    } @else {
      $logo_width: $max_logo_height * (66 / 119);

      background-size: #{$logo_width}px #{$max_logo_height}px;
    }
  }

  img.org-avatar-img {
    display: none;
  }
}

@mixin org-avatar($max_logo_height: 42, $show_border: true){
  div.org-avatar-container {
    line-height: 0;
    position: relative;
    height: #{$max_logo_height}px;
    min-width: #{$max_logo_height}px;

    &.no-avatar {
      @include carrot-fallback($max_logo_height, $show_border);

      span.org-name {
        margin-left: #{$max_logo_height + 8}px;
      }
    }

    img.org-avatar-img {
      @if $show_border == true {
        border: 1px solid var(--divider-line);
        padding: #{$max_logo_height / 10}px; // Let's use a padding of 1/10
      }

      width: #{$max_logo_height}px;
      height: #{$max_logo_height}px;
      object-fit: contain;
      border-radius: 4px;
      vertical-align: middle;
      background-color: white;
      float: left;
    }

    span.org-name {
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: #{$max_logo_height}px;
      color: var(--color);
      text-align: left;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      width: auto;
      max-width: 14vw;
      display: block;
      margin-left: 8px;
      float: left;

      @include mobile() {
        max-width: unset;
      }
    }
  }
}