@mixin carrot-fallback($max_logo_height) {
  width: #{$max_logo_height}px;
  height: #{$max_logo_height}px;

  &:before {
    content: "";
    width: #{$max_logo_height * (66 / 119)}px;
    height: #{$max_logo_height}px;
    background-image: cdnUrl("/img/ML/carrot_logo.svg");
    background-repeat: no-repeat;
    background-size: #{$max_logo_height * (66 / 119)}px #{$max_logo_height}px;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 3px;
  }

  img.org-avatar-img {
    display: none;
  }

  span.org-name {
    display: none !important;
  }
}

@mixin org-avatar($max_logo_height: 42, $show-border: true){
  div.org-avatar-container {
    line-height: 0;
    position: relative;
    height: #{$max_logo_height}px;
    min-width: #{$max_logo_height}px;

    &.no-avatar {
      @include mobile() {
        @include carrot-fallback($max_logo_height);
      }

      span.org-name {
        max-width: calc(14vw + #{$max_logo_height}px + 8px);
        left: 0;

        @include mobile(){
          left: 9px;
        }
      }
    }

    img.org-avatar-img{
      position: absolute;
      top: 0;
      left: 0;

      @if $show-border == true {
        border: 1px solid $ultra_light_grey;
        padding: #{$max_logo_height / 10}px; // Let's use a padding of 1/10
      }

      width: #{$max_logo_height}px;
      height: #{$max_logo_height}px;
      object-fit: contain;
      border-radius: 4px;
      vertical-align: middle;
      background-color: white;
    }

    span.org-name {
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: #{$max_logo_height}px;
      color: $deep_navy;
      text-align: left;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      width: auto;
      max-width: 14vw;
      display: block;
      position: absolute;
      top: 0;
      left: #{$max_logo_height + 8}px;
    }
  }
}