@mixin carrot-fallback($max_logo_height) {
  position: relative;
  width: #{$max_logo_height}px;
  height: #{$max_logo_height}px;

  &:before {
    content: "";
    width: #{$max_logo_height * (66 / 119)}px;
    height: #{$max_logo_height}px;
    background-image: cdnUrl("/img/ML/carrot_logo.svg");
    background-repeat: no-repeat;
    background-size: #{$max_logo_height * (66 / 119)}px #{$max_logo_height}px;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 3px;
  }

  img.org-avatar-img {
    display: none;
  }

  span.org-name {
    display: none !important;
  }
}

@mixin org-avatar($max_logo_height: 42, $show-border: true){
  div.org-avatar-container {
    line-height: 0;

    &.no-avatar {
      @include mobile() {
        @include carrot-fallback($max_logo_height);
      }
    }

    &.force-label {
      img.org-avatar-img {
        display: inline-block;
        float: left;
      }

      span.org-name {
        display: inline-block;
        float: left;
        margin: -#{($max_logo_height / 2) + ($max_logo_height / 4)}px 0 0 #{$max_logo_height + 8}px;
      }
    }

    img.org-avatar-img{
      @if $show-border == true {
        border: 1px solid $ultra_light_grey;
        padding: 4px;
      }

      width: #{$max_logo_height}px;
      height: #{$max_logo_height}px;
      object-fit: contain;
      border-radius: 4px;
      vertical-align: middle;
      background-color: white;
    }

    span.org-name {
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 22px;
      color: $deep_navy;
      text-align: left;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      max-width: 250px;

      &.no-logo {
        @include mobile(){
          margin-left: 9px;
          margin-top: 4px;
        }

        @include big_web(){
          margin-top: #{($max_logo_height - 26) / 2}px;
          margin-left: 0px;
        }

      }
    }
  }
}