@mixin mobile(){
  @media screen and (max-width: #{($min_big_web_width - 1)}px){
    @content;
  }
}

@mixin mobile_to_tablet(){
  @media screen and (min-width: #{$min_big_web_width}px) and (max-width: 980px) {
    @content;
  }
}

@mixin tablet(){
  @media screen and (max-width: #{$max_tablet_width}px) {
    @content;
  }
}

@mixin big_web(){
  @media screen and (min-width: #{$min_big_web_width}px){
    @content;
  }
}

@mixin big_web_no_tablet(){
  @media screen and (min-width: #{$max_tablet_width - 1}px) {
    @content;
  } 
}

@mixin retina_screen(){
  @media not screen and (min-device-pixel-ratio: 2),
         not screen and (min-resolution: 192dpi) {
    @content
  }
}