/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  width: 0;
  height: 0;
  content: '';
  z-index: 2;

  $opposite-direction: top;
  @if $direction == top {
    $opposite-direction: bottom;
  } @else if $direction == bottom {
    $opposite-direction: top;
  } @else if $direction == left {
    $opposite-direction: right;
  } @else if $direction == right {
    $opposite-direction: left;
  }

  border-#{$opposite-direction}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}

@mixin topic_navigation($x_padding: 0px){
  div.topic-navigation{
    width: 100%;
    margin-bottom: 15px;
    padding: 0px $x_padding;

    div a {
      font-size: 14px;
      line-height: 1;
      color: #707070;
      text-decoration: none;
    }

    div.arrow{
      button {
        font-size: 14px;
        line-height: 1;
        color: #5b5b5b;
        margin: 0;
        padding: 0;
        width: auto;
        border: 0px solid transparent;
        background-color: transparent;
      }
    }

    div.previous {
      float: left;
    }

    div.next {
      float: right;
    }
  }
}

@mixin pillbox(){
  label.pillbox {
    margin: 4px 3px;
    padding: 6px 12px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(78, 90, 107, 0.5);
    font-size: 12px;
    color: rgba(78, 90, 107, 0.5);
    cursor: pointer;

    &.active {
      background-color: #ffffff;
      color: $oc_gray_5;
      border: 1px solid $oc_gray_5;
    }
  }
}

@mixin rich-editor-body($text_color: #444444){
  border: 0px solid transparent;

  &:focus,
  &.editing {
    outline: none;
    overflow: hidden;
    border: 0px solid transparent;
  }

  p, ul, ol {
    margin: 0;
    margin-bottom: 16px;

    &:empty {
      margin-bottom: 0px;
    }
  }

  p {
    margin: 0 0 .88888em 0;
    padding: 0;
  }

  &, & *{
    margin: 0;
    padding: 0;
    font-family: $oc_headers_font;
    font-size: 18px;
    line-height: 1.8;
    color: $oc_gray_5;

    a {
      cursor: pointer;
      pointer-events: auto;
      font-weight: bold;
      color: inherit;
      text-decoration: none;
      border-bottom: 0 solid rgba(249,215,72,1);
      box-shadow: inset 0 -6px 0 rgba(249,215,72,1);

      &:hover {
        background-color: rgba(249,215,72,.5);
        box-shadow: inset 0 -4px 0 rgba(249,215,72,.5);
      }
    }
  }

  svg.emojione {
    width: 18px;
    height: 18px;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 800;
    text-size: 19px;
  }

  ul, ol {
    padding-left: 30px;
    list-style-type: none;

    li:before {
      /* Unicode bullet symbol */
      content: '\25A0 ';
      /* Bullet color */
      color: $oc_yellow;
      padding-right: 0.5em;
    }
  }

  img {
    width: 100%;
    margin-bottom: 16px;
  }

  *::selection {
    background: rgba(249,215,72, 0.5);
  }

  *::-moz-selection {
    background: rgba(249,215,72, 0.5);
  }

  &::after{ //placeholder
    white-space: inherit;
  }
}