/***** About ******/

@media (min-width: 768px) { 
  div#wrap.about-wrap {
    min-height: calc(100vh - 40px);
  }
}

div.container.about {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 768px) { 
  div.container.about {
    max-width: 1086px;
  }
}

h1.about {
  @include avenir_H();
  font-size: 40px;
  letter-spacing: 0.3px;
  color: $cr_dark_blue;
  margin-top: 35px;
}

div.divider-line {
  margin-top: 32px;
  width: 82px;
  height: 6px;
  background-color: $cr_orange;
  left: 50%;
  margin-left: -41px;
  position: relative;
}

div.ovarls-container {
  width: 1086px;
  height: 580px;
  background-image: url("/img/ML/about_happy_faces.svg");
  background-position: 0px 0px;
  background-size: 1086px 565px;
  background-repeat: no-repeat;
  margin: 30px auto 0;

  div.about-subline {
    @include avenir_H();
    font-size: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    color: $cr_dark_blue;
    width: 757px;
    margin: 20px auto 106px;
  }

  div.paragraph {
    font-family: $oc_main_font;
    font-size: 20px;
    text-align: center;
    color: $cr_text_blue_2;
    width: 757px;
    margin: 20px auto 50px;
  }
}

div.principle {
  position: relative;
  width: 746px;
  margin: 76px auto 0;

  div.principle-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    backgorund-size: 80px 80px;
  }

  div.principle-oval-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 251px;
    height: 251px;
    backgorund-size: 251px 251px;
  }

  div.principle-title {
    padding-top: 90px;
    font-size: 36px;
    font-family: $oc_main_font;
    width: 564px;
    text-align: left;
    margin-left: 160px
  }

  div.principle-description {
    color: $cr_text_blue_2;
    font-family: $oc_main_font;
    font-size: 20px;
    width: 564px;
    text-align: left;
    margin-left: 160px;
    margin-top: 23px;
  }

  &.principle-1 {

    div.principle-logo {
      background-image: url("/img/ML/about_principle_1.svg");
    }

    div.principle-oval-bg {
      background-image: url("/img/ML/about_principle_1_oval.svg");
    }

    div.principle-title {
      color: $cr_orange;
    }
  }

  &.principle-2 {

    div.principle-logo {
      background-image: url("/img/ML/about_principle_2.svg");
    }

    div.principle-oval-bg {
      background-image: url("/img/ML/about_principle_2_oval.svg");
    }

    div.principle-title {
      color: $cr_green;
    }
  }

  &.principle-3 {

    div.principle-logo {
      background-image: url("/img/ML/about_principle_3.svg");
    }

    div.principle-oval-bg {
      background-image: url("/img/ML/about_principle_3_oval.svg");
    }

    div.principle-title {
      color: $cr_text_blue;
    }
  }
}

div.about-alignment {
  background-color: $cr_dark_blue;
  padding: 115px 0;
  position: relative;
  margin: 177px 0 0;
  text-align: center;
  
  div.quote {
    position: absolute;
    left: 50%;
    margin-left: -480px;
    margin-top: 27px;
    top: 70px;
    font-size: 200px;
    font-family: $oc_main_font;
    color: $cr_orange;
  }

  div.about-alignment-description {
    width: 1024px;
    padding: 0 117px;
    margin: 0 auto;
    font-size: 33px;
    color: white;
    text-align: center;
  }
}

div.about-team {
  padding: 114px 0 190px;
  background-color: $cr_settings_background;

  div.about-team-inner {
    width: 1146px;
    margin: 0 auto 0;
    text-align: center;

    h1.team {
      @include avenir_H();
      font-size: 40px;
      letter-spacing: 0.3px;
      color: $cr_dark_blue;
      margin-top: 35px;
    }

    div.divider-line {
      margin-bottom: 56px;
    }

    div.team-card {
      margin: 26px auto 0;
      width: 561px;
      height: 230px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
      padding: 40px;

      div.team-avatar {
        background-image: url("/img/ML/user_avatar_yellow.svg");
        background-size: 64px 64px;
        background-repeat: no-repeat;
        width: 64px;
        height: 64px;
        float: left;
      }

      div.team-member {
        float: left;
        margin-left: 26px;
        text-align: left;
        width: 390px;

        div.team-name {
          @include avenir_H();
          font-size: 24px;
          color: #383b41;
        }

        div.team-description {
          @include avenir_BOOK();
          font-size: 16px;
          line-height: 1.75;
          color: #6a707a;
          margin-top: 12px;
        }

        div.team-media-links {
          height: 20px;
          margin-top: 19px;

          a {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            margin-right: 40px;

            &.twitter {
              background-image: url("/img/ML/about_twitter.svg");
              background-size: 20px 17.5px;
              background-repeat: no-repeat;
            } 

            &.linkedin {
              background-image: url("/img/ML/about_linkedin.svg");
              background-size: 20px 20px;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    div.column-left {
      float: left;
      width: 561px;
      div.team-card {
        float: left;
        margin-right: 24px;

        div.team-avatar {
          background-image: url("/img/ML/user_avatar_red.svg");
        }
      }
    }

    div.column-right {
      float: right;
      width: 561px;
      div.team-card {
        float: right;

        div.team-avatar {
          background-image: url("/img/ML/user_avatar_blue.svg");
        }
      }
    }
  }
}

div.about-footer {
  width: 100%;
  margin: 0 auto;
  padding: 155px 78px;
  background-image: linear-gradient(252deg, #f7c144, #f2558f);

  div.block {
    width: 50%;
    text-align: left;
    padding-left: 50px;

    div.block-title {
      @include avenir_H();
      font-size: 36px;
      letter-spacing: 0.2px;
      color: white;
    }

    div.block-description {
      opacity: 0.8;
      font-family: $oc_main_font;
      font-size: 20px;
      line-height: 1.7;
      color: #3a3d40;
      margin-top: 39px;
      max-width: 417px;
    }

    a.link {
      border-radius: 8px;
      background-color: white;
      @include avenir_H();
      font-size: 16px;
      text-align: center;
      color: $cr_orange;
      margin-top: 39px;
      padding: 13px 20px;
      display: inline-block;
    }

    &.join-us {
      float: left;
    }

    &.open-source {
      float: right
    }
  }
}


div.container p {
  font-family: $oc_main_font;
  font-size: 18px;
  line-height: 1.4;
  color: #4e5a6b;
}

div.container p.person {
  margin-top: 20px;
}