/***** About ******/

div.about-wrap {
  background-color: $oc_gray_8;

  div.main.about {
    width: 100%;

    section.about-header {
      padding: 138px 0 0;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include mobile() {
        padding: 88px 16px 0;
      }
      
      h3.about-copy-header {
        @include OC_Title()
        color: $deep_navy;
        font-size: 60px;
        line-height: 76px;
        position: relative;
        margin: 0 auto;
        max-width: 795px;

        @include tablet() {
          max-width: 595px;
          text-align: center;
        }

        @include mobile() {
          font-size: 36px;
          line-height: 40px;
        }
      }

      div.about-copy {
        width: 100%;
        margin: 0 auto;
        border-radius: 8px;
        padding: 0 0 80px;
        position: relative;
        text-align: center;

        @include tablet() {
          width: 100%;
        }

        @include mobile() {
          padding: 0 0 40px;
        }

        div.about-copy-inner {
          width: 795px;
          margin: 0 auto;
          position: relative;
          text-align: center;

          @include tablet() {
            width: 100%;
          }

          p {
            @include OC_Body_Book();
            font-size: 24px;
            line-height: 32px;
            color: $deep_navy;
            text-align: left;
            margin: 40px 0 0;
            padding: 0;

            @include tablet() {
              font-size: 20px;
              line-height: 26px;
              margin: 32px 0 0;

              &:first-child {
                margin-top: 40px;
              }
            }

            @include mobile() {
              margin: 24px 0 0;

              &:first-child {
                margin-top: 40px;
              }
            }

            span.oblique {
              @include OC_Body_Bold_Italic();
            }

            span.heavy {
              @include OC_Body_Bold();
            }
          }
        }

        div.about-bottom-copy {
          width: 795px;
          margin: 40px auto 0;
          position: relative;

          @include tablet() {
            margin: 40px auto 0;
            width: 100%;
          }

          div.about-bottom-copy-row {
            border-top: 1px solid $more_ultra_light_grey;
            padding: 40px 0 0;

            div.about-bottom-copy-left {
              float: left;
              width: 42%;
              @include OC_Title()
              font-size: 30px;
              line-height: 40px;
              color: $deep_navy;

              @include tablet() {
                float: unset;
                width: 100%;
                font-size: 20px;
                line-height: 26px;
              }

              @include mobile() {
                text-align: left;
              }
            }

            div.about-bottom-copy-right {
              float: right;
              width: 48%;
              text-align: left;

              @include tablet() {
                float: unset;
                width: 100%;
                margin-top: 8px;
              }

              @include mobile() {
                span.link-or {
                  display: none;
                }

                a {
                  // float: left;
                  // width: 100%;
                  display: block;
                  margin-top: 16px;

                  &:nth-child(2){
                    margin-top: 24px;
                  }
                }
              }

              div.about-bottom-copy-description {
                @include OC_Body_Book();
                font-size: 20px;
                line-height: 26px;
                color: $deep_navy;
                width: 100%;
                display: block;
                margin: 0 0 16px 0;
              }

              a {
                margin-top: 16px;
                color: $carrot_green;
                @include OC_Body_Book();
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.5;
              }
            }
          }
        }
      }

      div.about-alignment {
        @include OC_Body_Bold();
        font-size: 34px;
        color: $deep_navy;
        margin: 80px auto 0px;
      }

      button.get-started-button.bottom-button {
        margin-top: 20px;
      }
    }

    section.team-section {
      padding: 80px 24px;
      width: 100%;
      max-width: 1200px;
      position: relative;
      margin: 0 auto;

      @include mobile() {
        padding: 40px 16px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 200px 20px;
        background-color: $another_ui_grey;
        z-index: 1;

        @include mobile() {
          border-radius: 0;
        }
      }

      div.team-section-block {
        max-width: 832px;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
        position: relative;

        div.team-section-header {
          @include OC_Body_Bold();
          font-size: 40px;
          line-height: 51px;
          color: $deep_navy;
          text-align: center;
        }

        div.team-section-icons {
          width: 100%;
          text-align: center;

          img.team-section-icon {
            width: 72px;
            height: 72px;
            margin: 40px 16px 0;
            display: inline-block;
          }
        }

        div.team-section-bottom-copy {
          width: 100%;
          margin: 40px auto 0;
          position: relative;

          div.team-section-bottom-copy-row {
            border-top: 1px solid $more_ultra_light_grey;

            div.team-section-bottom-copy-left {
              float: left;
              width: 42%;
              @include OC_Title()
              font-size: 30px;
              line-height: 40px;
              color: $deep_navy;

              @include tablet() {
                float: unset;
                width: 100%;
                font-size: 20px;
                line-height: 26px;
              }
            }

            div.team-section-bottom-copy-right {
              float: right;
              width: 48%;
              text-align: left;

              @include tablet() {
                float: unset;
                width: 100%;
                margin-top: 8px;
              }

              @include mobile() {
                span.link-or {
                  display: none;
                }

                a {
                  // float: left;
                  // width: 100%;
                  display: block;
                  margin-top: 16px;

                  &:nth-child(2){
                    margin-top: 24px;
                  }
                }
              }

              div.team-section-bottom-copy-description {
                @include OC_Body_Book();
                font-size: 20px;
                line-height: 26px;
                color: $deep_navy;
                width: 100%;
                display: block;
                margin: 0 0 16px 0;
              }

              a {
                margin-top: 16px;
                color: $carrot_green;
                @include OC_Body_Book();
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.5;
              }
            }
          }
        }
      }
    }
  }
}