/***** About ******/

div.about-wrap {
  background-color: $oc_gray_8;

  div.main.about {
    width: 100%;

    section.about-header {
      padding-top: 239px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include tablet() {
        padding-top: 131px;
      }

      h1.about {
        @include PTSerif()
        font-size: 80px;
        line-height: 90px;
        color: $deep_navy;
        margin: 0 auto;
        padding: 0 16px;

        @include tablet() {
          font-size: 36px;
          line-height: 40px;
          padding: 0 24px;
          max-width: 690px;
        }

        @include mobile() {
          max-width: 380px;
        }
      }

      div.team-container{
        margin: 80px 0 160px;

        @include tablet() {
          margin: 28px 0 60px;
          padding: 0 24px;
        }

        div.team-row {
          margin: 0 auto;
          width: 1210px;

          @media screen and (max-width: 1258px) {
            width: 605px;

            div.team-card:nth-child(4) {
              margin: 20px 0 20px 0;
            }
          }

          @include mobile() {
            width: 100%;
          }

          div.team-card {
            display: inline-block;
            text-align: left;
            width: 176px;
            position: relative;
            z-index: 2;
            margin: 20px 0 20px 30px;

            @include mobile() {
              display: block;
              width: 100%;
              margin-top: 32px;
              padding-top: 24px;
              border-top: 1px solid #E7E6E5;
              margin-left: 0;
            }

            &:first-child {
              margin-left: 0px;
            }

            &.iacopo-carraro div.user-avatar {
              @include image-2x("/img/ML/about_team_iacopo_carraro");
            }

            &.sean-johnson div.user-avatar {
              @include image-2x("/img/ML/about_team_sean_johnson");
            }

            &.georgiana-laudi div.user-avatar {
              @include image-2x("/img/ML/about_team_georgiana_laudi");
            }

            &.stuart-levinson div.user-avatar {
              @include image-2x("/img/ML/about_team_stuart_levinson");
            }

            &.ryan-le-roux div.user-avatar {
              @include image-2x("/img/ML/about_team_ryan_le_roux");
            }

            &.nathan-zorn div.user-avatar {
              @include image-2x("/img/ML/about_team_nathan_zorn");
            }

            div.user-avatar {
              background-size: 176px 176px;
              width: 176px;
              height: 176px;
              background-repeat: no-repeat;
              background-position: center;
              margin: 0px auto;

              @include mobile() {
                float: left;
                width: 80px;
                height: 80px;
                background-size: 80px 80px;
                margin-right: 24px;
              }
            }

            div.user-name {
              @include PTSerif()
              font-size: 20px;
              color: $deep_navy;
              margin-top: 24px;

              @include mobile() {
                margin-top: 0;
              }
            }

            div.user-position {
              @include avenir_R();
              font-size: 14px;
              color: rgba($ui_grey, 0.6);
              margin-top: 8px;
            }

            div.user-links {
              margin-top: 16px;
              height: 20px;

              @include mobile() {
                margin-left: 104px;
              }

              a.twitter-link {
                display: block;
                float: left;
                background-image: cdnUrl("/img/ML/about_twitter_icon.svg");
                width: 20px;
                height: 20px;
                background-size: 20px 20px;
                background-repeat: no-repeat;
                background-position: center;
              }

              a.linkedin-link {
                display: block;
                float: left;
                background-image: cdnUrl("/img/ML/about_linkedin_icon.svg");
                width: 22px;
                height: 20px;
                background-size: 22px 20px;
                background-repeat: no-repeat;
                background-position: center;
                margin-left: 16px;
              }
            }
          }
        }
      }

      div.about-copy {
        width: 100%;
        margin: 0 auto;
        border-radius: 8px;
        padding: 160px 0;
        position: relative;
        z-index: 1;
        text-align: left;

        &:before {
          content: "";
          background-color: #F8F7F3;
          border-top-right-radius: 200px;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 86vw;
          z-index: 2;

          @media screen and (max-width: 1200px) {
            width: 100vw;
            border-top-right-radius: 100px;
          }
        }

        @include tablet() {
          width: 100%;
          padding: 80px 24px;
        }

        div.about-copy-inner {
          width: 795px;
          margin: 0 auto;
          position: relative;
          z-index: 3;

          @include tablet() {
            width: 100%;
          }

          h3.about-copy-header {
            @include PTSerif()
            color: $deep_navy;
            font-size: 80px;
            line-height: 78px;
          }

          div.about-copy-title {
            @include avenir_H();
            font-size: 30px;
            color: $ui_grey;
            text-align: left;
            margin: 40px 0 0;
            padding: 0;

            @include tablet() {
              font-size: 20px;
              line-height: 26px;
              margin: 32px 0 0;
            }

            @include mobile() {
              margin: 24px 0 0;
            }
          }

          p {
            @include avenir_R();
            font-size: 30px;
            color: $ui_grey;
            text-align: left;
            margin: 40px 0 0;
            padding: 0;

            @include tablet() {
              font-size: 20px;
              line-height: 26px;
              margin: 32px 0 0;
            }

            @include mobile() {
              margin: 24px 0 0;
            }

            span.oblique {
              @include avenir_O();
            }

            span.heavy {
              @include avenir_H();
            }
          }
        }

        div.about-bottom-copy {
          width: 795px;
          margin: 80px auto 0;
          position: relative;
          z-index: 3;

          @include tablet() {
            margin: 40px auto 0;
            width: 100%;
          }

          div.about-bottom-copy-row {
            border-top: 1px solid #E7E6E5;
            padding: 40px 0;

            div.about-bottom-copy-left {
              float: left;
              width: 45%;
              @include PTSerif()
              font-size: 30px;
              line-height: 40px;
              color: $deep_navy;

              @include tablet() {
                float: unset;
                width: 100%;
                font-size: 20px;
                line-height: 26px;
              }
            }

            div.about-bottom-copy-right {
              float: right;
              width: 45%;

              @include tablet() {
                float: unset;
                width: 100%;
                margin-top: 8px;
              }

              div.about-bottom-copy-description {
                @include avenir_R();
                font-size: 20px;
                line-height: 26px;
                color: $ui_grey;
                width: 100%;
                display: block;
                margin: 0 0 16px 0;
              }

              a {
                margin-top: 16px;
                color: $carrot_green;
                text-transform: uppercase;
                @include avenir_B();
                font-size: 14px;
                letter-spacing: 0.5;
              }
            }
          }
        }
      }

      div.about-alignment {
        @include avenir_M();
        font-size: 34px;
        color: $carrot_dark_gray;
        margin: 80px auto 0px;
      }

      button.get-started-button.bottom-button {
        margin-top: 20px;
      }
    }
  }
}