div.activity-move {
  width: 310px;
  height: 166px;
  z-index: 110;

  div.move-post-inner {
    background-color: white;
    border: 1px solid rgba(177,184,192,0.50);
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.10);
    border-radius: 5px;
    padding: 10px 13px 6px 8px;
    width: 310px;
    height: 166px;
    padding: 16px 28px;
    position: relative;

    div.move-post-title {
      @include avenir_H();
      font-size: 12px;
      color: $oc_gray_7;

      i.mdi:before {
        opacity: 0.7;
        font-size: 14px;
        margin-left: 8px;
      }
    }

    div.select-new-board {
      margin-top: 16px;
      width: 250px;
      height: 40px;
      border: 1px solid $carrot_light_gray_1;
      border-radius: 4px;
      @include avenir_R();
      font-size: 14px;
      color: $carrot_dark_gray;
      padding: 8px 12px;

      &.placeholder{
        color: rgba($carrot_dark_gray, 0.5);
      }

      &:after {
        font-family: "Material Design Icons";
        content: "\f140";
        float: right;
        font-size: 16px;
      }
    }

    div.boards-list {
      position: absolute;
      left: 28px;
      top: 89px;
      width: 250px;
      border: 1px solid $carrot_light_gray_1;
      border-radius: 4px;
      background-color: white;
      z-index: 112;

      div.board-item {
        height: 40px;
        @include avenir_R();
        font-size: 14px;
        color: $carrot_dark_gray;
        cursor: pointer;
        padding: 8px;
        background-color: white;

        &.disabled {
          opacity: 0.4;
        }

        &:not(.disabled):hover {
          text-decoration: underline;
        }
      }
    }

    button {
      margin-top: 16px;
      float: right;
      margin-left: 16px;
      height: 40px;
    }
  }
}