div.activity-attachments {
  position: relative;
  height: 26px;

  div.attachments-summary {
    height: 26px;
    @include avenir_M();
    font-size: 14px;
    color: $deep_navy;
    position: relative;
    float: left;
    padding-right: 16px;
    padding-left: 23px;

    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: cdnUrl("/img/ML/attachments_icon.svg");
      background-repeat: no-repeat;
      width: 15px;
      height: 18px;
      background-size: 15px 18px;
      background-position: center;
      background-color: transparent;
    }

    &:after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0px;
      background-image: cdnUrl("/img/ML/section_access_chevron.svg");
      background-repeat: no-repeat;
      width: 8px;
      height: 6px;
      background-size: 8px 6px;
      background-position: center;
      background-color: transparent;
    }
  }
    
  div.attachments-dropdown {
    margin-top: 26px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 257px;
    height: auto;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    overflow: visible;
    z-index: 100;
    background-color: white;
    border: 1px solid rgba(177,184,192,0.50);
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.10);
    border-radius: 5px;
    padding: 0px;

    a.attachments-dropdown-item {
      display: block;
      height: 64px;
      padding: 16px 24px;
      cursor: pointer;
      position: relative;
      border-bottom: 1px solid $light_tan;

      div.file-icon {
        border-radius: 16px;
        width: 32px;
        height: 32px;
        background-color: $light_ui_grey;
        float: left;
        background-image: cdnUrl("/img/ML/attachments_file_icon.svg");
        background-position: center;
        background-size: 11px 14px;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      div.file-title {
        @include avenir_H();
        font-size: 14px;
        color: $deep_navy;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        margin-left: 8px;
        margin-top: -1px;
        cursor: pointer;
      }

      div.file-subtitle {
        @include avenir_M();
        font-size: 12px;
        color: $carrot_light_gray_3;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        margin-left: 8px;
        margin-top: -3px;
        cursor: pointer;
      }

      div.file-download {
        background-image: cdnUrl("/img/ML/attachments_file_download.svg");
        background-size: 16px 20px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 16px;
        height: 20px;
        right: 16px;
        top: 22px;
        cursor: pointer;
      }

      &:hover {

        div.file-icon {
          background-color: $carrot_green;
        }

        div.file-title {
          color: $carrot_green;
        }

        div.file-subtitle {
          color: $deep_navy;
        }

        div.file-download {
          background-image: cdnUrl("/img/ML/attachments_file_download_green.svg");
        }
      }
    }
  }
}