div.activity-move {
  width: 192px;
  height: 130px;
  z-index: 110;

  div.move-post-inner {
    background-color: var(--overlay-background-color);
    border: 1px solid var(--divider-line);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    height: 130px;
    position: relative;

    div.move-post-title {
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
      line-height: 18px;
    }

    div.select-new-board {
      margin-top: 8px;
      width: 100%;
      height: 32px;
      border-radius: 4px;
      background-color: var(--opac-background-color-1);
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
      padding: 7px 8px;
      background-image: cdnUrl("/img/ML/select_arrows.svg");
      background-size: 8px 10px;
      background-position: top 11px right 8px;
      background-repeat: no-repeat;
      overflow: hidden;
      text-overflow: ellipsis;

      &.placeholder{
        color: var(--light-color);
      }
    }

    div.boards-list {
      position: absolute;
      left: 16px;
      top: 80px;
      width: 160px;
      border: 1px solid var(--divider-line);
      border-radius: 4px;
      background-color: var(--overlay-background-color);
      padding: 8px 0;
      z-index: 112;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 300px;

      div.board-item {
        height: 32px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        cursor: pointer;
        padding: 7px 8px;
        background-color: var(--overlay-background-color);
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;

        &.disabled {
          opacity: 0.4;
        }

        &:not(.disabled):hover {
          text-decoration: underline;
        }
      }
    }

    button {
      margin-top: 8px;
      border-radius: 4px;
      height: 32px;
      background-color: $wut_purple;
      color: white;
      @include OC_Body_Bold;
      font-size: 14px;
      width: 100%;
    }
  }
}

@include dark_mode() {
  div.activity-move div.move-post-inner div.select-new-board {
    background-image: cdnUrl("/img/ML/select_arrows@dark.svg");
  }
}