div.activity-share-container {
  position: relative;
}

div.activity-share-modal-container {
  position: absolute;
  top: 0px;
  right: 16px;
  background-color: $carrot_modal_bg;
  z-index: 110;
  transition: opacity 180ms ease-in;
  width: 250px;
  background-color: var(--overlay-background-color);
  border-radius: 8px;
  padding: 16px;
  margin-top: 55px;
  border: 1px solid var(--divider-line);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  text-align: left;

  @include mobile() {
    position: unset;
    top: unset;
    left: unset;
    height: auto;
    margin: 0px;
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 0px;
    border-bottom: 1px solid var(--divider-line);
    background-color: white;
  }

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.activity-share-modal {
    position: relative;

    @include mobile() {
      width: 100%;
      margin: 0px;
      border-radius: 0px;
    }

    div.activity-share-main-cta {
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
      position: relative;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;

      @include mobile() {
        position: relative;
        width: 100%;
        height: #{$mobile_navbar_height}px;
        border-bottom: 1px solid var(--divider-line);
        padding: 11px 16px;
        text-align: center;
        line-height: 32px;
        @include OC_Body_Bold();
        font-size: 18px;
      }

      button.mobile-modal-close-bt {
        display: none;

        @include mobile() {
          display: block;
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/mobile_close_x.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 14px 14px;
          position: absolute;
          padding: 0;
          top: 15px;
          left: 16px;
        }
      }
    }

    div.activity-share-divider-line {
      height: 1px;
      background-color: var(--divider-line);

      &.no-tabs {
        margin-top: 8px;
      }

      @include mobile(){
        margin: 0px 24px;
      }
    }

    div.activity-share-medium-selector-container {
      width: 100%;
      height: 32px;
      margin-top: 11px;

      @include mobile() {
        padding: 0px 24px;
      }

      div.activity-share-medium-selector {
        height: 33px;
        @include OC_Body_Bold();
        font-size: 13px;
        line-height: 24px;
        text-align: left;
        color: var(--light-color);
        float: left;
        cursor: pointer;
        margin: 0 16px 0 0;
        padding-bottom: 9px;
        text-transform: uppercase;

        &:first-child {
          margin-left: 0px;
        }

        &:last-child {
          margin-right: 0px;
        }

        &.medium-selector-disabled {
          opacity: 0.5;
        }

        &.selected {
          color: $carrot_orange;
          border-bottom: 1px solid $carrot_orange;
        }
      }
    }

    div.activity-share-share {

      @include mobile() {
        padding: 0px 24px;
      }

      div.mediums-box {
        
        div.medium {
          @include OC_Body_Bold();
          color: var(--color);
          font-size: 16px;

          @include mobile() {
            padding: 0px 0px;
          }

          & > div.medium-row {
            height: 26px;
            min-height: 26px !important;
          }

          div.carrot-switch {
            float: right;
          }

          div.slack-medium {

            div.medium-row {
              min-height: 40px;
              margin-top: 16px;

              div.fields.error {
                position: relative;

                & > input, & > textarea, & > div.slack-channels-dropdown input {
                  border: 1px solid $carrot_orange !important;
                }

                & > div.slack-channels-dropdown i.fa{
                  display: none;
                }

                &:after {
                  font-family: "Material Design Icons";
                  position: absolute;
                  bottom: 8px;
                  right: 4px;
                  content: "\f5D6";
                  font-size: 20px;
                  color: $carrot_orange;
                }
              }

              div.labels {
                @include OC_Body_Bold();
                font-size: 15px;
                color: var(--color);
                padding-top: 8px;
                display: block;
              }

              div.fields {
                margin-top: 8px;

                textarea {
                  width: 100%;
                  min-height: 77px;
                  border-radius: 4px;
                  background-color: white;
                  @include OC_Body_Bold();
                  font-size: 14px;
                  color: var(--color);
                  padding: 0.4rem 0.8rem;
                  outline: none;
                  border: 1px solid var(--divider-line);
                }

                input {
                  width: 100%;
                  height: 40px;
                  border-radius: 4px;
                  background-color: white;
                  @include OC_Body_Bold();
                  font-size: 14px;
                  color: $oc_gray_7;
                  padding: 0.4rem 0.8rem;
                  outline: none;
                  border: 1px solid var(--divider-line);
                }
              }
            }
          }
        }
      }

      div.share-footer{
        button {
          height: 32px;
          padding: .2em 1.8em;

          &:disabled, &.disabled {
            opacity: 0.6 !important;
          }
        }

        div.right-buttons {
          float: right;
          height: 32px;
          margin-top: 16px;

          button {
            margin: 0;
            padding: 0;
            @include OC_Body_Bold();
            font-size: 14px;
            margin-left: 16px;

            &.ml-link-black {
              color: var(--light-color);
            }

            &.share-button {
              width: 72px;
              background-color: $wut_purple;
              color: white;
              border-radius: 6px;
            }
          }
        }
      }
    }

    div.activity-share-modal-shared {
      margin-top: 8px;

      @include mobile() {
        padding: 24px;
        min-height: calc(100vh - 56px);
      }

      button.checkbox-row {
        height: 18px;
        cursor: pointer;
        padding: 0;
        width: 100%;

        div.carrot-option-button {
          float: left;
          margin-top: 2px;
        }

        div.checkbox-label {
          display: block;
          float: left;
          line-height: 18px;
          @include OC_Body_Book();
          font-size: 12px;
          color: var(--color);
          margin-left: 8px;

          span.bold {
            @include OC_Body_Bold();
          }
        }
      }

      div.share-headline {
        @include OC_Body_Bold();
        font-size: 12px;
        color: var(--color);
        margin-bottom: 8px;
      }

      div.shared-subheadline {
        @include OC_Body_Book();
        font-size: 12px;
        color: var(--color);
        margin-top: 8px;
        display: block;
        float: left;
      }

      div.shared-url-container {
        width: 100%;
        height: 32px;
        margin-top: 8px;

        input {
          border: none;
          outline: none;
          padding: 7px 8px;
          height: 32px;
          border-radius: 4px;
          margin: 0;
          width: 100%;
          @include OC_Body_Book();
          color: var(--color);
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          background-color: var(--opac-background-color-1);
        }

        div.tooltip {
          margin-top: -10px;
        }
      }

      button.copy-btn {
        width: 100%;
        margin-top: 8px;
        height: 32px;
        text-align: center;
        @include OC_Body_Bold();
        font-size: 14px;
        border-radius: 4px;
        background-color: $wut_purple;
        color: white;
        padding: 0;
      }

      button.done-btn {
        margin-top: 24px;
      }
    }
  }
}


@include dark_mode() {
div.activity-share-modal-container div.activity-share-modal div.activity-share-main-cta button.mobile-modal-close-bt {
  @include mobile() {
    background-image: cdnUrl("/img/ML/mobile_close_x@dark.svg");
  }
}
}