div.activity-card {
  width: 228px;
  float: left;
  background-color: #F5F5F5;
  border-radius: 6px;
  margin: 8px;
  position: relative;
  border: 1px solid $ultra_light_grey;
  min-height: 195px;

  &:not(.draft), &:not(.draft) * {
    cursor: pointer;
  }

  &.draft, &.draft * {
    cursor: default;
  }

  &:nth-child(3n+3) {
    margin-right: 0px;
  }

  &:nth-child(3n+1) {
    margin-left: 0px;
  }

  @include mobile() {
    width: 100%;
    margin: 12px 0px;
  }

  &.new-item {
    div.new-tag {
      display: block;
    }
  }

  @include new-tag();

  div.new-tag {
    position: absolute;
    top: 8px;
    right: 8px;
    display: none;
  }

  &.draft {
    background-color: $light_gold;
    border: 1px solid $ultra_light_grey;
  }

  div.activity-card-menu-container {
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 121px;

    div.more-menu {
      position: absolute;
      right: 0px;
      top: -10px;
      float: unset;

      div.activity-move {
        left: unset;
        right: -4px;
      }
    }
  }

  div.activity-card-preview-container {
    margin: 20px auto 0px;
    width: 188px;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 12px;
    height: 101px;
    overflow: hidden;
    z-index: 2;

    div.activity-card-preview-header {
      height: 12px;

      @include user-profile(12);

      div.user-avatar-img-container {
        float: left;

        img {
          margin-top: -10px;
        }
      }

      div.activity-card-preview-author {
        overflow: hidden;
        text-overflow: ellipsis;
        @include avenir_M();
        color: $deep_navy;
        font-size: 8px;
        line-height: 8px;
        white-space: nowrap;
        margin-left: 18px;
      }

      div.time-since {
        overflow: hidden;
        text-overflow: ellipsis;
        @include avenir_M();
        color: $ui_grey;
        font-size: 6px;
        white-space: nowrap;
        margin-left: 18px;
      }
    }

    div.activity-card-preview-title {
      @include avenir_H();
      font-size: 10px;
      color: $deep_navy;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      // white-space: nowrap;
      line-height: 12px;
      max-height: 24px;
      margin-top: 6px;
    }

    div.activity-card-preview-body {
      @include activity-body(8, 10, 10);
      @include avenir_R();
      color: $deep_navy;
      line-height: 10px;
      display: block;
      overflow: hidden;
    }
  }

  div.activity-card-bottom-container {
    width: 100%;
    border-top: 1px solid $ultra_light_grey;
    padding: 16px 24px;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: calc(100% - 121px);

    div.activity-share-container {
      div.activity-share-modal-container {
        margin-top: 0px;
      }
    }

    div.separator {
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: $ui_grey;
      margin: 6px 8px 0px;
      float: left; 
    }

    div.activity-card-header {
      @include avenir_M();
      font-size: 12px;
      color: $ui_grey;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.wrt-container {
        overflow: visible;
        text-overflow: unset;
      }

      &>span, &>div {
        float: left;
      }

      span.board-name {
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    div.activity-card-headline {
      @include activity-title();
      @include avenir_H();
      font-size: 16px;
      display: inline-block;
      color: $deep_navy;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      max-height: 36px;
      line-height: 18px;
      margin-top: 4px;
    }

    div.activity-card-footer-placeholder {
      height: 32px;
    }

    div.activity-card-footer {
      margin-top: 16px;
      height: 16px;
      position: absolute;
      bottom: 16px;
      width: calc(100% - 48px);

      div.activity-card-menu-container {
        z-index: 3;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 121px;

        div.more-menu {
          position: absolute;
          right: 0px;
          top: -10px;
          float: unset;
        }
      }

      button.delete-draft-bt {
        float: right;
        text-align: right;
        padding: 0px;
        @include avenir_R();
        font-size: 14px;
        color: $ui_grey;
        cursor: pointer;
      }

      button.edit-draft-bt {
        float: left;
        text-align: left;
        padding: 0px;
        @include avenir_H();
        font-size: 14px;
        color: $carrot_green;
        cursor: pointer;
      }

      div.comments-count {
        height: 16px;
        float: left;

        span.comments-icon {
          content: "";
          background-image: cdnUrl("/img/ML/tile_comments_icon.svg");
          background-size: 14px 14px;
          background-position: center;
          background-repeat: no-repeat;
          width: 14px;
          height: 14px;
          float: left;
          display: block;
        }

        span.comments-count {
          @include avenir_M();
          font-size: 12px;
          color: $ui_grey;
          margin-left: 6px;
          line-height: 14px;
          float: left;
          display: block;
        }
      }

      div.tile-reactions {
        height: 16px;
        float: left;
        max-width: 124px;
        overflow: hidden;

        div.tile-reaction {
          height: 16px;
          margin-left: 6px;
          float: left;

          span.reaction {
            font-size: 12px;
            float: left;
            display: block;
            margin-left: 6px;
          }

          span.count {
            @include avenir_H();
            font-size: 11px;
            color: $ui_grey;
            float: left;
            display: block;
            margin-left: 4px;
          }
        }
      }

      div.activity-card-footer-right {
        float: right;

        div.tile-attachments {
          height: 16px;
          display: inline;
          float: left;
          span.attachments-icon {
            display: block;
            width: 12px;
            height: 13px;
            background-image: cdnUrl("/img/ML/tile_attachments_icon.svg");
            background-repeat: no-repeat;
            background-size: 12px 13px;
            background-position: center;
          }

          span.attachments-count {
            @include avenir_M();
            font-size: 12px;
            color: $ui_grey;
            margin-left: 16px;
            float: left;
          }
        }

        div.activity-card-must-see {
          background-image: cdnUrl("/img/ML/must_see_bolt_grey.svg");
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: 6px -1px;
          width: 20px;
          height: 16px;
          display: inline-block;
          float: right;
          &:hover {
            background-image: cdnUrl("/img/ML/must_see_bolt.svg");
          }

          &.must-see-on {
            background-image: cdnUrl("/img/ML/must_see_bolt_blue.svg");
          }
        }
      }
    }
  }
}