div.activity-removed-container {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($deep_navy, 0.7);
  z-index: #{$navbar_zindex + 156};

  @include tablet() {
    position: absolute;
  }

  div.activity-removed {
    width: 360px;
    // height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;

    @include tablet() {
      position: relative;
      top: unset;
      left: unset;
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      height: 100%;
      transform: none;
      padding: 24px;
    }

    div.activity-removed-mobile-header {
      display: none;

      @include tablet() {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 56px;
        border-bottom: 1px solid #ECECEC;

        button.activity-removed-mobile-close {
          @include image-2x("/img/ML/mobile_modal_close");
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-size: 14px 14px;
          background-position: 5px 5px;
          position: absolute;
          top: 16px;
          left: 16px;
        }

        div.activity-removed-mobile-header-logo {
          width: 18px;
          height: 32px;
          background-image: cdnUrl("/img/ML/carrot_logo.svg");
          background-size: 18px 32px;
          background-position: center;
          background-repeat: no-repeat;
          margin: 8px auto 0;
        }
      }
    }

    button.settings-modal-close {
      right: -56px;
      top: 0px;

      @include tablet() {
        display: none;
      }
    }

    div.activity-removed-icon {
      width: 140px;
      height: 140px;
      background-image: cdnUrl("/img/ML/sad_search.svg");
      background-size: 140px 140px;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;

      @include tablet() {
        margin-top: 20vh;
      }
    }

    div.activity-removed-title {
      margin-top: 24px;
      @include OC_Body_Bold();
      font-size: 22px;
      color: $deep_navy;
    }

    div.activity-removed-description {
      margin-top: 4px;
      @include OC_Body_Bold();
      font-size: 16px;
      color: $deep_navy;
    }

    button.activity-removed-button {
      margin-top: 16px;
      width: 152px;
      height: 32px;
      color: white;
      border-radius: 6px;
      background-color: $wut_purple;
      @include OC_Body_Bold();
      font-size: 14px;
    }
  }

}