div.activity-attachments {
  position: relative;
  height: 26px;
    
  div.activity-attachments-inner {
    &.atch-1 {
      div.activity-attachment {
        max-width: calc(100% - 8px);
      } 
    }

    &.atch-2 {
      div.activity-attachment {
        max-width: calc(50% - 8px);
      } 
    }

    div.activity-attachment {
      cursor: default;
      float: left;
      margin-right: 8px;
      height: 26px;
      background-color: $chalk_blue;
      color: $sea_blue;
      padding: 5px 16px 4px 16px;
      border-radius: 100px;
      @include avenir_H();
      font-size: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 120px;
      white-space: pre;

      // span {
      //   text-overflow: ellipsis;
      //   overflow: hidden;
      //   display: block;
      //   float: left;
      // }

      // span.ativity-attachment-title {
      //   max-width: 54px;
      // }

      // span.activity-attachment-separator {

      // }

      // span.activity-attachment-description {
      //   @include avenir_R();
      //   font-size: 12px;
      //   color: $sea_blue;
      //   max-width: 24px;
      // }

      &.remaining-attachments {
        background-color: transparent;
        padding: 5px 0px 4px 0px;
        margin-right: 0px;
        max-width: 70px;
      }
    }
  }
}