div.add-comment-box-container {
  position: relative;
  width: 100%;

  &.collapsed-box {
    div.add-comment-box div.add-comment-internal {
      height: 48px;
      cursor: text;
      padding: 12px 16px;

      p:first-child {
        display: none;
      }

      @include mobile() {
        padding: 11px 14px;
      }

      div.medium-editor-media-picker {
        display: none!important;
      }

      div.add-comment-footer {
        display: none;
      }
    }
  }

  @include tablet() {
    padding: 0;
    width: 100%;
    position: relative;
  }

  div.add-comment-box {
    position: relative;
    width: 100%;

    div.add-comment-internal {
      position: relative;
      border-radius: 4px;
      border: 1px solid var(--add-comment-border-color);
      padding: 13px 16px;
      background-color: var(--add-comment-background);

      &:hover, &:active, &:focus, &.active {
        box-shadow: 0 2px 8px 0 var(--add-comment-box-shadow);
      }

      div.add-comment-footer-media-picker {
        float: left;
        position: relative;
        margin-left: 8px;

        div.medium-editor-media-picker {
          position: relative;
          top: unset;
          left: unset;
          bottom: unset;
          right: unset;  
        }
      }

      @include mobile() {
        width: 100%;
        left: unset;
        position: relative;
        bottom: unset;
        padding: 11px 14px;
        margin-left: 0;
        background-color: var(--mobile-add-comment-background);
      }

      div.add-comment {
        resize: none;
        outline: none;
        cursor: auto;
        margin: 0;
        height: auto;
        min-height: 48px;
        outline: none;

        @include mobile(){
          min-height: 32px;
        }

        &.medium-editor-placeholder-hidden:after {
          display: none !important;
        }

        .emojione {
          @include emoji-size(13);
        }

        @include activity-comment(15, 18, 12);

        @include mobile() {
          @include activity-comment(18, 24, 16);
        }
      }

      div.add-comment-footer {
        height: 32px;
        margin-top: 16px;
        width: 100%;

        div.upload-progress {
          float: right;
          margin-right: 16px;
          margin-top: 6px;

          div.small-loading {
            float: left;
          }

          span.attachment-uploading {
            @include OC_Body_Book();
            font-size: 14px;
            color: var(--color);
            float: left;
          }
        }

        button.close-reply-bt {
          width: 24px;
          height: 32px;
          opacity: 0.3;
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          padding: 0;
          float: right;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
          }

          &:hover {
            opacity: 1;
          }
        }

        div.emoji-picker {
          float: left;
          width: 24px;
          height: 32px;

          button.emoji-button {
            width: 24px;
            height: 32px;
            padding: 0;
            position: unset;
            top: unset;
            left: unset;
            cursor: pointer;
            opacity: 0.3;
            background-position: center;
            background-size: 16px 16px;

            @include mobile() {
              display: none;
            }

            &:hover {
              opacity: 1;
            }
          }

          div.picker-container {
            right: -16px;
            left: unset;

            @include mobile() {
              left: 0;
              right: 0;
              top: 0 !important;
            }
          }
        }

        button.send-btn {
          float: right;
          height: 32px;
          padding: 7px 16px;
          margin: 0 0 0 8px;
          background-color: $wut_purple;
          color: white;
          @include OC_Body_Bold();
          font-size: 14px;
          line-height: 18px;
          border-radius: 4px;
          position: relative;

          &.separator-line:before {
            content: "";
            position: absolute;
            top: 0;
            left: -16px;
            width: 1px;
            height: 32px;
            background-color: var(--divider-line);
          }

          &:disabled {
            cursor: not-allowed;
            opacity: 1 !important;
            background-color: var(--opac-background-color-1);
            color: var(--light-color);

            @include big_web() {
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
