div.add-topic {
  border-radius: 2px;
  background-color: white;
  border: 1px solid rgba(78, 90, 107, 0.2);
  text-align: left;
  font-weight: normal;
  font-family: $oc_headers_font;
  cursor: pointer;
  margin: 0 10px;
  width: 500px;
  float: right;
  box-shadow:  1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
  padding: 20px;

  div.topic-title {
    font-weight: 700;
    font-family: $oc_headers_font;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $oc_gray_5;
    margin-top: 37px;
    opacity: 0.2;
  }
}