div.add-topic {
  border-radius: 2px;
  background-color: white;
  border: 1px solid rgba(78, 90, 107, 0.2);
  text-align: left;
  font-weight: normal;
  font-family: $oc_headers_font;
  margin: 0 10px;
  width: 600px;
  box-shadow:  1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
  padding: 20px;

  div.category {
    span.category-title {
      margin-top: 2rem;
    }

    &:first-child {
      span.category-title {
        margin-top: 0;
      }
    }
  }

  div.add-topic-title {
    width: 70%;
    font-family: $oc_headers_font;
    font-size: 14px;
    font-weight: 700;
    color: $oc_gray_5;
    margin-bottom: 1rem;
  }

  span.close-add-topic{
    cursor: pointer;
    padding: 0;
    margin:0;
    margin-top: -64px;
    color: $oc_gray_5;
    opacity: .5;
    transition: $oc_animation_duration;
    outline: none;
    border-width: 0;
    background-color: transparent;
    float: right;

    &:hover {
      color: $oc_gray_5;
      opacity: .8;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }

  .topic-title {
    font-size: 14px;
  }

  input.custom-topic-input {
    font-size: 16px;
    width: 180px;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid rgba(78, 90, 107, 0.5);
    border-radius: 2px;
    line-height: 1.2;
    color: $oc_gray_5;
    height: 37px;
    outline: none;

    @include placeholder(){
      color: rgba(78,90,107,0.6);
      font-style: italic;
    }
  }

  button.custom-topic-add {
    height: 37px;
  }
}