div.add-comment-box-container {
  position: relative;
  width: 100%;
  margin-bottom: 8px;

  @include tablet() {
    padding: 16px 0px 0px;
    width: 100%;
    position: relative;
  }

  div.add-comment-box {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;

    @include tablet(){
      box-shadow: none;
    }

    &.show-buttons {

      div.add-comment-internal {
        min-height: unset;
        box-shadow: 0px 2px 6px 0px rgba(0,0,0, 0.1);
        border: 2px solid $light_ui_grey;

        div.add-comment {
          min-height: 58px;

          @include tablet() {
            height: auto;
            width: auto;
          }
        }
      }
    }

    div.add-comment-internal{
      min-height: 24px;
      width: 100%;
      background-color: white;
      border-radius: 6px;
      border: 2px solid $deep_tan;
      padding: 9px 16px;

      &:hover {
        border: 2px solid #D8DBDF;
      }

      div.add-comment {
        resize: none;
        border: none;
        outline: none;
        @include avenir_R();
        color: $deep_navy;
        font-size: 16px;
        cursor: text;
        height: 24px;
        min-height: initial;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 4px 0px 0px 0px;
        margin: 0px;
        height: auto;

        &.medium-editor-placeholder:after {
          @include avenir_R();
          color: rgba($ui_grey, 0.5);
          margin-left: 0px;
        }

        @include tablet() {
          width: 100%;
          resize: vertical;
          padding-right: 0px;
        }

        p {
          margin-bottom: 0px;
        }

        .emojione {
          @include emoji-size(13);
        }
      }
    }

    div.add-comment-footer {
      margin-top: 16px;
      height: 40px;
      position: relative;

      button.cancel-btn {
        float: right;
        width: 112px;
        height: 40px;
        padding: 10px 24px;
        text-align: center;
        color: $ui_grey;
        @include avenir_H();
        font-size: 14px;

        &:disabled {
          color: $light_ui_grey;
        }
      }

      button.reply-btn {
        float: right;
        width: 112px;
        height: 40px;
        padding: 10px 24px;
        background-color: $carrot_green;
        text-align: center;
        color: white;
        @include avenir_H();
        font-size: 14px;
        border-radius: 100px;

        &:disabled {
          background-color: $light_ui_grey;
        }
      }

      div.emoji-picker {
        position: absolute;
        top: 8px;
        left: 0px;
        right: unset;

        div.picker-container {
          left: 0px;
        }

        button.emoji-button {
          background-size: 20px 20px;
          background-position: 0% 0%;
        }

        @include tablet() {
          display: none;
        }
      }
    }
  }
}