div.alert-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 206};
  transition: opacity 180ms ease-in;
  overflow: auto;

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.modal-wrapper {
    width: 360px;
    margin: 100px auto 50px;
    min-height: 147px;
    position: relative;

    @include mobile() {
      width: 100%;
      height: 100vh;
      margin: 0px;
    }

    button.modal-close-bt {
      position: absolute;
      left: 50%;
      margin-left: -228px;
      top: 12px;

      @include mobile() {
        display: none;
      }
    }

    div.alert-modal {
      width: 100%;
      margin: 0px;
      position: relative;
      overflow: hidden;
      background-color: var(--overlay-background-color);
      border-radius: 6px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
      padding: 24px;
      text-align: center;

      @include mobile() {
        margin: 100px 16px 0px;
        width: calc(100% - 32px);
      }

      &.has-bottom-button {
        padding: 24px 24px 0px 24px;
      }

      &.has-buttons {
        min-height: 182px;

        @include mobile() {
          min-height: initial;
        }
      }

      div.alert-modal-emoji-icon {
        max-width: 42px;
        max-height: 42px;
        font-size: 36px;
        text-align: center;
        margin: 0 auto 12px;

        @include no-user-select();
      }

      img.alert-modal-icon {
        width: 42px;
        height: 42px;
        margin-bottom: 12px;
        object-fit: contain;
      }

      div.alert-modal-title {
        @include OC_Body_Bold();
        font-size: 22px;
        color: var(--color);
      }

      div.alert-modal-message {
        @include OC_Body_Book();
        font-size: 16px;
        color: var(--light-color);
        margin-top: 8px;

        a {
          color: $carrot_green;
        }
      }

      div.alert-modal-buttons {
        width: 100%;
        margin: 24px 0px 0;

        &.single-button {
          button {
            float: none;
            margin: 0 auto;
          }
        }

        button {
          width: calc(50% - 14px);
          float: left;
          height: 40px;
          padding: 0px;
          opacity: 0.9;
          @include OC_Body_Bold();
          font-size: 14px;
          border-radius: 4px;
          background-color: transparent;
          color: var(--light-color);

          &:hover {
            opacity: 1;
          }

          &:not(:first-child) {
            margin-left: 14px;
            float: right;
          }

          &.mlb-link-black {
            color: var(--color);

            &.green {
              color: $carrot_green;
            }
          }

          &.mlb-default.red {
            background-color: $carrot_orange;
            color: white;
            padding: 7px 8px;

            &:hover, &:focus {
              background-color: $carrot_orange;
              color: white;
            }

            &:active, &.active {
              background-color: $carrot_orange;
              color: white;
            }
          }

          &.mlb-default.green {
            background-color: $carrot_green;
            color: white;
            padding: 7px 8px;

            &:hover, &:focus {
              background-color: $carrot_green;
              color: white;
            }

            &:active, &.active {
              background-color: $carrot_green;
              color: white;
            }
          }
        }
      }

      button.bottom-button {
        width: calc(100% + 48px);
        margin-left: -24px;
        height: 62px;
        border-top: 1px solid var(--divider-line);
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        margin-top: 32px;
        border-radius: 4px;

        &.red {
          color: $carrot_orange;
        }
      }
    }
  }
}