div.alert-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 206};
  transition: opacity 180ms ease-in;
  overflow: auto;

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.modal-wrapper {
    width: 360px;
    margin: 100px auto 50px;
    min-height: 147px;
    position: relative;

    button.settings-modal-close {
      right: -56px;
    }

    @include mobile() {
      width: 100%;
      height: 100vh;
      margin: 0px;

      button.settings-modal-close {
        display: none;
      }
    }

    div.alert-modal {
      width: 100%;
      margin: 0px;
      position: relative;
      overflow: hidden;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
      padding: 24px;
      text-align: center;

      @include mobile() {
        margin: 100px 0px 0px;
        width: 100%;
        border-radius: 8px;
      }

      &.has-bottom-button {
        padding: 24px 24px 0px 24px;
      }

      &.has-buttons {
        min-height: 182px;

        @include mobile() {
          min-height: initial;
        }
      }

      img.alert-modal-icon {
        max-width: 42px;
        max-height: 42px;
        margin-bottom: 12px;
      }

      div.alert-modal-title {
        @include avenir_H();
        font-size: 22px;
        color: $deep_navy;
      }

      div.alert-modal-message {
        @include avenir_R();
        font-size: 16px;
        color: $oc_gray_7;
        margin-top: 8px;

        a {
          color: $carrot_green;
        }
      }

      div.alert-modal-buttons {
        width: 100%;
        margin: 24px 0px 0;

        &.single-button {
          button {
            float: none;
            margin: 0 auto;
          }
        }

        button {
          width: calc(50% - 14px);
          float: left;
          height: 40px;
          padding: 0px;
          opacity: 0.9;
          @include avenir_H();
          font-size: 14px;

          &:hover {
            opacity: 1;
          }

          &:not(:first-child) {
            margin-left: 14px;
            float: right;
          }

          &.mlb-link-black {
            &.green {
              color: $carrot_green;
            }
          }

          &.mlb-default.red {
            background-color: $carrot_orange_light;
            color: $carrot_orange;
            padding: 0px 16px;

            &:hover, &:focus {
              background-color: $carrot_orange;
              color: white;
            }

            &:active, &.active {
              background-color: $carrot_orange;
              color: white;
            }
          }
        }
      }

      button.bottom-button {
        width: calc(100% + 48px);
        margin-left: -24px;
        height: 62px;
        border-top: 1px solid $light_ui_grey;
        @include avenir_H();
        font-size: 14px;
        color: $deep_navy;
        margin-top: 32px;
        opacity: 0.9;

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }

        &.red {
          color: $carrot_orange;
        }
      }
    }
  }
}