div.all-caught-up {
  width: 100%;
  height: 55px;
  margin: 10px 0;

  @include mobile() {
    display: none;
  }

  div.all-caught-up-inner {
    background-image: cdnUrl("/img/ML/caught_up.svg");
    background-size: 26px 33px;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 33px;
    margin: 0 auto;
    text-align: center;

    div.message {
      @include OC_Body_Bold();
      font-size: 14px;
      color: $carrot_light_gray_4;
      padding-top: 33px;
    }
  }
}

div.caught-up-line {
  height: 32px;
  width: 100%;
  position: relative;
  margin: 16px 0;
  display: flex;
  flex-direction: row;

  // Line besides caught up
  &:before {
    position: absolute;
    top: 16px;
    left: 0;
    height: 1px;
    width: 100%;
    z-index: 1;
    background-color: $wut_green;
    content: "";
  }

  div.all-caught-up {
    width: auto;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    position: relative;
    flex: 0 0 auto;

    // Layer to avoid seeing the horzontal line if the bg color is transparent
    &:before {
      content: "";
      width: 100%;
      height: 32px;
      border-radius: 4px;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--background-color);

      @include mobile() {
        background-color: var(--mobile-background-color);
      }
    }

    div.all-caught-up-inner {
      height: 32px;
      width: 100%;
      background-color: $wut_green;
      border-radius: 4px;
      padding: 4px 16px;
      position: relative;
      z-index: 3;
      text-align: center;
      background-image: none;

      div.message {
        color: white;
        line-height: 24px;
        font-size: 14px;
        text-align: center;
        @include OC_Body_Bold();
        padding-top: 0;
      }
    }
  }

  &.gray-style {
    &:before {
      background-color: var(--light-color);
    }

    div.all-caught-up div.all-caught-up-inner {
      background-color: var(--light-color);
    }
  }
}