div.all-caught-up {
  width: 100%;
  height: 55px;
  margin: 10px 0;

  @include mobile() {
    display: none;
  }

  div.all-caught-up-inner {
    background-image: cdnUrl("/img/ML/caught_up.svg");
    background-size: 26px 33px;
    background-position: 52px 0px;
    background-repeat: no-repeat;
    width: 130px;
    height: 33px;
    margin: 0 auto;
    text-align: center;

    div.message {
      @include OC_Body_Bold();
      font-size: 14px;
      color: $carrot_light_gray_4;
      padding-top: 33px;
    }
  }
}