div.all-caught-up {
  width: 100%;
  height: 55px;
  margin: 10px 0;

  @include mobile() {
    display: none;
  }

  div.all-caught-up-inner {
    background-image: cdnUrl("/img/ML/caught_up.svg");
    background-size: 26px 33px;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 33px;
    margin: 0 auto;
    text-align: center;

    div.message {
      @include OC_Body_Bold();
      font-size: 14px;
      color: $carrot_light_gray_4;
      padding-top: 33px;
    }
  }
}

div.caught-up-line {
  height: 32px;
  width: 100%;
  position: relative;
  margin: 16px 0;

  &:before, &:after {
    position: absolute;
    top: 16px;
    height: 1px;
    width: calc(50% - 80px);
    z-index: 1;
    background-color: $wut_green;
    content: "";
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  div.all-caught-up {
    width: 160px;
    margin: 0 auto;
    height: 32px;
    padding: 4px 16px;
    background-color: $wut_green;
    border-radius: 4px;
    z-index: 2;
    position: relative;

    div.all-caught-up-inner {
      text-align: center;
      background-image: unset;
      width: 128px;
      height: 24px;

      div.message {
        color: white;
        line-height: 24px;
        font-size: 14px;
        @include OC_Body_Bold();
        padding-top: 0;
      }
    }
  }

  &.gray-style {
    &:before, &:after {
      background-color: var(--light-color);
    }

    div.all-caught-up {
      background-color: var(--light-color);
    }
  }
}