div.all-posts {
  width: #{$board_container_width}px;

  @include mobile() {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  div.all-posts-cards {
    float: left;

    @include mobile() {
      width: 100%;
      float: unset;
    }

    div.loading-updates {
      width: 100%;
      text-align: center;
      color: $oc_gray_7;
      margin-bottom: 16px;
      font-size: 14px;
      margin-top: 24px;
      @include OC_Body_Book_Italic();
    }

    div.all-posts-cards-inner {
      position: relative;

      div.activities-overlay {
        position: fixed;
        top: 50px;
        left: 50%;
        z-index: 1;
        height: calc(100vh - 50px);
        width: #{$board_container_width}px;
        margin-left: -244px;
        background-color: $oc_gray_8;
        text-align: center;

        @include mobile() {
          width: 100%;
        }

        div.oc-loading {
          margin: 100px auto;
          height: 170px;

          div.oc-loading-inner {
            top: 110px;
          }
        }

        div.top-loading-message {
          top: 300px;
          position: absolute;
          width: 100%;
          color: rgba($oc_gray_7, 0.5);
          font-size: 16px;
          @include OC_Body_Bold();
          text-align: center;

          @include mobile() {
            width: 100%;
          }
        }
      }
    }

    div.load-next {
      text-align: center;
      margin-top: 24px;

      button.load-next {
        font-size: 16px;
        @include OC_Body_Bold();
      }
    }
  }
}