div.all-activity {
  width: 895px;
  margin-left: 16px;

  div.all-activity-cards {
    float: left;
    width: 617px;

    div.entry-card.all-activity-card {
      width: 617px;
      max-height: 403px;
      margin: 0px 0px 20px 0px;

      div.entry-card-content {
        div.entry-card-headline {
          // margin-top: 24px;
        }

        div.entry-card-body {
          max-height: #{24*4}px;
          // margin-top: 16px;

          &.has-body {
            height: initial;
          }
        }
      }
    }

    div.load-next {
      text-align: center;
      margin-top: 24px;

      button.load-next {
        font-size: 16px;
        @include avenir_H();
      }
    }
  }

  div.all-activity-nav {
    float: right;
    width: 224px;
    position: relative;

    div.all-activity-nav-inner {
      position: fixed;
      max-height: calc(100vh - 200px);
      overflow-y: scroll;
      min-width: 150px;
      padding-right: 10px;

      div.nav-year {
        @include avenir_H();
        font-size: 16px;
        color: $oc_gray_7;
        margin-bottom: 4px;
        cursor: pointer;
        margin-top: 8px;

        &.selected {
          color: $carrot_text_blue;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      div.nav-month {
        cursor: pointer;
        margin-left: 24px;
        position: relative;
        @include avenir_M();
        font-size: 14px;
        color: $oc_gray_7;
        padding: 2px 0;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          font-family: FontAwesome;
          font-size: 9px;
          content: "\f10c";
          position: absolute;
          color: $oc_gray_7;
          top: 6px;
          left: -24px;
        }

        &.selected{
          color: $carrot_text_blue;
          &:before {
            color: $carrot_text_blue;
            content: "\f111";
          }
        }
      }
    }
  }
}