.btn-reset {
  cursor: pointer;
  outline: none;
  border-width: 0;
  background-color: transparent;
}

.btn-outline {
  padding: .3rem 2rem;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: .1em;
  color: $oc_gray_5;
  text-transform: uppercase;
  transition: 230ms;
  background-color: transparent;
  border: 1px solid rgba(78, 90, 107, 0.5);
  opacity: 0.2;

  &:hover {
    border: 1px solid rgba(78, 90, 107, 0.5);
    opacity: .8;
  }

  &:active {
    background-color: rgba(78, 90, 107, 0.1);
    border: 1px solid rgba(78, 90, 107, 0.5);
  }
}

.btn-solid {
  background-color: $oc_yellow;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: .1em;
  color: $oc_gray_5;
  text-transform: uppercase;
  padding: .3rem 2rem;
  border: 1px solid $oc_yellow;

  &:hover {
    background-color: $oc_yellow;
    border: 1px solid #d8b935;
  }

  &:active {
    background-color: $oc_yellow;
    border: solid 2px #d8b935;
    color: #fff;
  }
}

.bg-gray { background-color: $oc-gray_1 }

.bg-white-05 { background-color: rgba(255,255,255,.5) }

.domine { font-family: 'Domine', Georgia, serif; }

.open-sans {font-family: 'Open Sans', Arial, sans-serif; }