// - buttons
// - inputs
// - typography
// - colors

// buttons

.mlb-reset {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  opacity: 1;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2 !important;
  }

  &:hover {
    opacity: 0.9;
  }
}

.mlb-default {
  background-color: $carrot_orange;
  color: white;
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  padding: .2em 1em;
  transition: opacity 230ms, color 230ms, background-color 230ms;

  &:not(.disabled) {
    &:hover, &:focus {
      opacity: 0.9;
    }

    &:active, &.active {
      opacity: 0.9;
    }
  }

  &:disabled, &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

@mixin mlb-link($btcolor: $carrot_text_blue){
  background-color: transparent;
  color: $btcolor;
  @include OC_Body_Bold();

  &:hover {
    text-decoration: underline;
  }
}

.mlb-link {
  @include mlb-link();
}

.mlb-link-black {
  @include mlb-link($carrot_dark_gray);
}

.mlb-link-red {
  @include mlb-link($carrot_orange);
}

.mlb-link-green {
  @include mlb-link($wut_purple);
}

.btn-reset {
  cursor: pointer;
  outline: none;
  border-width: 0;
  background-color: transparent;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
  }
}

.btn-outline {
  padding: .3rem 2rem;
  border: solid 1px rgba(78, 90, 107, 0.5);
  @include OC_Body_Bold();
  font-size: 0.75rem;
  letter-spacing: .1em;
  color: $oc_gray_5;
  text-transform: uppercase;
  transition: 230ms;
  background-color: transparent;
  border: 1px solid rgba(78, 90, 107, 0.5);
  opacity: 0.7;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: rgba(78, 90, 107, 0.1);
    border: 1px solid rgba(78, 90, 107, 0.5);
  }
}

.btn-link {
  padding: .3rem 2rem;
  @include OC_Body_Bold();
  font-size: 0.75rem;
  letter-spacing: .1em;
  color: $oc_gray_5;
  text-transform: uppercase;
  text-decoration: underline;
  transition: 230ms;
  background-color: transparent;
  opacity: 0.7;

  &:hover {
    opacity: 0.8;
  }
}

.btn-solid {
  background-color: $oc_yellow;
  border: solid 1px $oc_yellow;
  @include OC_Body_Bold();
  font-size: 0.75rem;
  letter-spacing: .1em;
  color: $oc_gray_5;
  text-transform: uppercase;
  padding: .3rem 2rem;
  border: 1px solid $oc_yellow;

  &:hover {
    background-color: $oc_yellow;
    border: 1px solid #d8b935;
  }

  &:active {
    background-color: $oc_yellow;
    border: 1px solid #d8b935;
  }
}

// inputs (npt used as prefix)

.outline-none {
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.no-outline {
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.npt {
  background-color: white;
  border: 1px solid rgba(78, 90, 107, 0.1);
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.2;
  color: $oc_gray_5;
  transition: border-color $oc_animation_duration;

  &:active, &:focus {
    border-color: rgba(78, 90, 107, 0.5);
    outline: none;
  }

  &:disabled, &.npt-disabled {
    color: transparentize($oc_gray_5, 0.6)
  }
}

.ta-mh { min-height: 7rem }

// typography

.domine { font-family: 'Domine', Georgia, serif; }

.open-sans {font-family: 'Open Sans', Arial, sans-serif; }

.small-caps {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: $oc_gray_5;
}

.all-caps {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

// colors
// .{color} - color: {color}
// .bg-{color} - background-color: {color}
// .b--{color} - border-color: {color}

.gray5 {color: $oc_gray_5}

.b--red {border-color: $oc_red_regular}
.red {color: $oc_red_regular;}
.green {color: $oc_green_regular;}

.bg-gray { background-color: $oc_gray_1 }
.bg-white-05 { background-color: rgba(255,255,255,.5) }

.dimmed-gray {
  color: $oc_gray_5;
  opacity: .5;
  transition: $oc_animation_duration;
  &:hover {
    color: $oc_gray_5;
    opacity: .8;
  }
}

// overflow

.overflow-visible {overflow: visible}

// pad helpers

// additional intermediate step between p2 & p3
.p25 {padding: 1.5rem}
.px25 {padding-left: 1.5rem; padding-right: 1.5rem}
.py25 {padding-top: 1.5rem; padding-bottom: 1.5rem}

// max-heights

.mh1 {max-height: 1rem}
.mh2 {max-height: 3rem}
.mh3 {max-height: 6rem}
.mh4 {max-height: 12rem}

// highlight a .child with the brand underline

.yellow-line-hover-child {
  &.disabled {
    opacity: 0.4;
    cursor: default;
  }
  &:not(.disabled) .child {
    transition: box-shadow 200ms;
  }
  &:not(.disabled):hover .child {
    box-shadow: inset 0 -6px 0 $oc_yellow
  }
}

// UI atoms

.success {
  border-color: $oc_green_light;
  background-color: transparentize($oc_green_light, 0.85)
}

.mt5 {
  margin-top: 5rem;
}

.underline:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}