// - buttons
// - inputs
// - typography
// - colors

// buttons

.btn-reset {
  cursor: pointer;
  outline: none;
  border-width: 0;
  background-color: transparent;
  &:disabled {
    cursor: not-allowed;
    opacity: .6
  }
}

.btn-outline {
  padding: .3rem 2rem;
  border: solid 1px rgba(78, 90, 107, 0.5);
  font-weight: 700;
  font-family: $oc_headers_font;
  font-size: 0.75rem;
  letter-spacing: .1em;
  color: $oc_gray_5;
  text-transform: uppercase;
  transition: 230ms;
  background-color: transparent;
  border: 1px solid rgba(78, 90, 107, 0.5);
  opacity: 0.7;

  &:hover {
    border: 1px solid rgba(78, 90, 107, 0.5);
    opacity: .8;
  }

  &:active {
    background-color: rgba(78, 90, 107, 0.1);
    border: 1px solid rgba(78, 90, 107, 0.5);
  }
}

.btn-solid {
  background-color: $oc_yellow;
  border: solid 1px $oc_yellow;
  font-weight: 700;
  font-family: $oc_headers_font;
  font-size: 0.75rem;
  letter-spacing: .1em;
  color: $oc_gray_5;
  text-transform: uppercase;
  padding: .3rem 2rem;
  border: 1px solid $oc_yellow;

  &:hover {
    background-color: $oc_yellow;
    border: 1px solid #d8b935;
  }

  &:active {
    background-color: $oc_yellow;
    border: solid 2px #d8b935;
    color: #fff;
  }
}

// inputs (npt used as prefix)

.outline-none {
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.no-outline {
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.npt {
  background-color: white;
  border: 1px solid rgba(78, 90, 107, 0.1);
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2;
  color: $oc_gray_5;
  transition: border-color $oc_animation_duration;

  &:active, &:focus {
    border-color: rgba(78, 90, 107, 0.5);
    outline: none;
  }

  &:disabled, &.npt-disabled {
    color: transparentize($oc_gray_5, 0.6)
  }
}

.ta-mh { min-height: 7rem }

// typography

.domine { font-family: 'Domine', Georgia, serif; }

.open-sans {font-family: 'Open Sans', Arial, sans-serif; }

.small-caps {
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: $oc_gray_5;
}

// colors
// .{color} - color: {color}
// .bg-{color} - background-color: {color}
// .b--{color} - border-color: {color}

.gray5 {color: $oc_gray_5}

.b--red {border-color: $oc_red_regular}
.red {color: $oc_red_regular}

.bg-gray { background-color: $oc_gray_1 }
.bg-white-05 { background-color: rgba(255,255,255,.5) }

.dimmed-gray {
  color: $oc_gray_5;
  opacity: .5;
  transition: $oc_animation_duration;
  &:hover {
    color: $oc_gray_5;
    opacity: .8;
  }
}

// overflow

.overflow-visible {overflow: visible}

// pad helpers

// additional intermediate step between p2 & p3
.p25 {padding: 1.5rem}
.px25 {padding-left: 1.5rem; padding-right: 1.5rem}
.py25 {padding-top: 1.5rem; padding-bottom: 1.5rem}

// max-heights

.mh1 {max-height: 1rem}
.mh2 {max-height: 3rem}
.mh3 {max-height: 6rem}
.mh4 {max-height: 12rem}

// topic card look

.card {
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
  background-color: $oc_white;
  border-radius: 2px;
}

.p--card {
  padding: 20px
}

// highlight a .child with the brand underline

.yellow-line-hover-child {
  .child {
    transition: box-shadow 200ms;
  }
  &:hover .child {
    box-shadow: inset 0 -6px 0 $oc_yellow
  }
}

// UI atoms

.success {
  border-color: $oc_green_light;
  background-color: transparentize($oc_green_light, 0.85)
}