@import "../modules/_colors";
@import "../modules/_fonts";
@import "../modules/_deploy";

/*
Comment font-weight to font name mapping: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold

800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/

html {
  height: 100vh;

  @include mobile() {
    height: 100%;
  }
}

html, body {
  @include OC_Body_Bold();
  font-size: 16px;
  width: 100%;
  color: $oc_gray_5;

  @include mobile(){
    overflow-x: hidden;
  }
}

.tooltip {
  z-index: 1500;
  &.in {
    opacity: 1;
  }

  // Change Bootstrap tooltip style
  .tooltip-arrow {
    display: none;
  }

  .tooltip-inner {
    background-color: white;
    white-space:pre-wrap;
    max-width: none;
    text-align: left;
    opacity: 1;
    @include OC_Body_Book();
    font-size: 14px;
    color: $light_navy;
    line-height: 18px;
    padding: 11px 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    border: 1px solid $mid_light_grey;
  }
}

div.fullscreen-page {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.no-scroll {
  overflow-y: hidden;

  @include mobile() {
    div#app {
      max-height: 100vh;
    }
  }
}

h1, h2, h3, h4, h5, h6, .oc-header {
  @include OC_Body_Bold();
}

a {
  cursor: pointer;
}

a:hover, a:hover *{
  text-decoration: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
  white-space: nowrap;
}

/*
 * Global add-ons
 */
 .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.hidden {
  display: none;
}
.transparent {
  opacity: 0;
}

span img.user-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

span.num.red {
  color: red;
}

.form-group {
  margin-bottom: 25px;
}

/* Reset bootstrap 3.3.5 help block overflow */
.input-group[class*=col-] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

*::selection {
  background: rgba(250,100,82, 0.5);
}

*::-moz-selection {
  background: rgba(250,100,82, 0.5);
}

.navbar-offset {
  padding-top: #{$navbar_height}px;
}

div#wrap {
  min-height: 100vh;
  background-color: $ultra_light_gold;
}

button.slack-button {
  height: 40px;
  font-size: 15px;
  @include OC_Body_Bold();
  padding: 8px 5px 5px 5px;
  border-radius: 5px;
  border: 1px solid rgba(78,90,107,0.4);
  opacity: 1;

  &:hover {
    opacity: 0.9;
  }

  &:before {
    content: "";
    background-image: cdnUrl("/img/slack.png");
    background-position: 0px 0px;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -4px;
  }

  span.slack {
    font-weight: 700;
  }
}

/* Remove the files counter from Filestack picker */
div.fsp-picker div.fsp-modal div.fsp-modal__body div.fsp-footer div.fsp-nav span.fsp-nav__right span.fsp-badge {
  display: none;
}

.mobile-only {
  @media screen and (min-width: #{$min_big_web_width}px) {
    display: none !important;
  }
}

.tablet-only {
  @media screen and (min-width: #{$max_tablet_width}px) {
    display: none !important;
  }
  @include mobile(){
    display: none !important;
  }
}

.big-web-only {
  @include tablet(){
    display: none !important;
  }
}

.tablet-mobile-only {
  @media screen and (min-width: #{$max_tablet_width}px) {
    display: none !important;
  }
}

.big-web-tablet-only {
  @media screen and (max-width: #{$min_big_web_width - 1}px) {
    display: none !important;
  }
}

div.not-found, div.server-error{
  div.error-page {
    text-align: center;
    min-height: calc(100vh - 336px);
    padding: 100px 0;

    h1 {
      color: $oc_gray_6;
      font-size: 150px;
      @include OC_Body_Bold();
    }

    a.login {
      text-decoration: underline;
      color: $carrot_orange;
    }

    @media screen and (max-width: 768px) {
      padding: 50px 16px;
      img {
        max-width: 100%;
      }

      h2 {
        font-size: 32px;
      }
    }

    @media screen and (min-width: 769px){
      h2{
        font-size: 40px;
      }
    }

    h2 {
      margin: 50px auto;
      color: $carrot_orange;
      text-align: center;
      @include OC_Body_Bold();
    }
  }
}

// Textcomplete dropdown for emojis

.dropdown-menu.textcomplete-dropdown {
  max-height: 300px;
  top: 0px;
  overflow: scroll;
}

.oc-input {
  &.active, &:active, &:focus {
    opacity: 0.9;
  }
}