@import "../modules/_theme";
@import "../modules/_fonts";
@import "../modules/_deploy";

/*
Comment font-weight to font name mapping: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold

800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/

html {
  height: 100vh;

  @include mobile() {
    height: 100%;
  }
}

html, body {
  @include OC_Body_Bold();
  font-size: 16px;
  width: 100%;
  color: var(--color);
  background-color: var(--background-color);

  @include mobile(){
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.tooltip {
  z-index: 1500;
  &.in {
    opacity: 1;
  }

  // Change Bootstrap tooltip style
  &.top .tooltip-arrow {
    display: block;
    border-top-color: var(--tooltip-background-color);
    opacity: 1;
  }

  &.bottom .tooltip-arrow {
    display: block;
    border-bottom-color: var(--tooltip-background-color);
    opacity: 1;
  }

  &.left .tooltip-arrow {
    display: block;
    border-left-color: var(--tooltip-background-color);
    opacity: 1;
  }

  &.right .tooltip-arrow {
    display: block;
    border-right-color: var(--tooltip-background-color);
    opacity: 1;
  }

  .tooltip-inner {
    // background-color: white;
    // white-space:pre-wrap;
    // max-width: none;
    // text-align: left;
    // opacity: 1;
    // @include OC_Body_Book();
    // font-size: 14px;
    // color: $light_navy;
    // line-height: 18px;
    // padding: 11px 16px;
    // border-radius: 4px;
    // box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
    // border: 1px solid $mid_light_grey;

    background-color: var(--tooltip-background-color);
    white-space:pre-wrap;
    max-width: none;
    text-align: left;
    opacity: 1;
    @include OC_Body_Book();
    font-size: 12px;
    color: var(--tooltip-color);
    line-height: 18px;
    padding: 5px 8px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
  }
}

div.fullscreen-page {
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
}

.no-scroll {
  overflow-y: hidden;

  @include mobile() {
    div#app {
      max-height: 100vh;
    }
  }
}

h1, h2, h3, h4, h5, h6, .oc-header {
  @include OC_Body_Bold();
}

a {
  cursor: pointer;
}

a:hover, a:hover *{
  text-decoration: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
  white-space: nowrap;
}

/*
 * Global add-ons
 */
 .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.hidden {
  display: none;
}
.transparent {
  opacity: 0;
}

span img.user-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

span.num.red {
  color: red;
}

.form-group {
  margin-bottom: 25px;
}

/* Reset bootstrap 3.3.5 help block overflow */
.input-group[class*=col-] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

*::selection {
  background: var(--selection-color);
}

*::-moz-selection {
  background: var(--selection-color);
}

div#wrap {
  min-height: 100vh;
  background-color: $ultra_light_gold;
}

.mobile-only {
  @media screen and (min-width: #{$min_big_web_width}px) {
    display: none !important;
  }
}

.tablet-only {
  @media screen and (min-width: #{$max_tablet_width}px) {
    display: none !important;
  }
  @include mobile(){
    display: none !important;
  }
}

.big-web-only {
  @include tablet(){
    display: none !important;
  }
}

.tablet-mobile-only {
  @media screen and (min-width: #{$max_tablet_width}px) {
    display: none !important;
  }
}

.big-web-tablet-only {
  @media screen and (max-width: #{$min_big_web_width - 1}px) {
    display: none !important;
  }
}

// Textcomplete dropdown for emojis

.dropdown-menu.textcomplete-dropdown {
  max-height: 300px;
  top: 0px;
  overflow: scroll;
}

.oc-input {
  &.active, &:active, &:focus {
    opacity: 0.9;
  }
}