div.billing-settings-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.billing-settings-modal-container {
    width: 320px;
    background-color: white;
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: scroll;

    div.billing-settings-header {
      width: calc(100% + 48px);
      height: 56px;
      margin-left: -24px;
      background-color: $grey_num_2;
      padding: 12px 16px;

      div.billing-settings-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: $deep_navy;
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: $ui_grey;
        float: right;
      }
      
      button.save-bt {
        height: 32px;
        padding: 7px 12px;
        @include OC_Body_Bold();
        font-size: 14px;
        background-color: $carrot_green;
        border-radius: 4px;
        color: white;
        line-height: 18px;
        margin-left: 8px;
        float: right;
      }
    }

    div.billing-settings-body {
      margin-top: 24px;

      div.plan-summary-separator {
        margin-top: 16px;
        height: 1px;
        width: 100%;
        background-color: rgba($deep_navy, 0.1);
      }      

      div.plan-summary {
        margin-top: 24px;

        &.bottom-margin {
          margin-bottom: 24px;
        }

        div.plan-summary-details {
          margin-top: 16px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: $deep_navy;

          button, a {
            color: $carrot_green;
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;
            text-decoration: none;
            padding: 0;
            margin: 0;
            display: block;
          }
        }
      }

      div.plan-change {
        position: relative;

        button.plans-dropdown-bt {
          width: 100%;
          padding: 7px 8px;
          height: 32px;
          @include OC_Body_Book();
          font-size: 14px;
          color: $deep_navy;
          line-height: 22px;
          margin: 0;
          text-align: left;
          background-color: rgba($deep_navy, 0.2);
          border-radius: 4px;
          position: relative;
          opacity: 1;

          &:after {
            color: $deep_navy;
            background-image: cdnUrl("/img/ML/select_arrows.svg");
            width: 8px;
            height: 10px;
            content: "";
            position: absolute;
            right: 8px;
            top: 11px;
          }
        }

        div.dropdown-list-container {
          width: 100%;
          top: 34px;
          left: 0;

          div.triangle {
            display: none;
          }

          div.dropdown-list-content {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
            padding: 0;
            border: 1px solid $carrot_light_gray_1;
            border-radius: 4px;
            margin: 0;
            padding: 8px 0;

            ul.dropdown-list {
              border: none;
              border-radius: 4px;

              li.dropdown-list-item {
                padding: 4px 13px;
                margin: 0;
                border-radius: 0;

                &.select {
                  background-color: #ebf8f1;
                  span.dropdown-list-item-label {
                    color: $carrot_green;
                  }
                }

                @include big_web() {
                  &.select {
                    background-color: #ebf8f1;
                    span.dropdown-list-item-label {
                      color: $carrot_green;
                      text-decoration: none;
                    }
                  }
                }

                span.dropdown-list-item-label {
                  @include OC_Body_Book();
                  font-size: 14px;
                  color: $deep_navy;
                  line-height: 22px;
                  opacity: 1;
                  padding: 0;
                  text-decoration: none;
                }
              }
            }
          }
        }

        div.plan-change-description {
          margin-top: 16px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: $deep_navy;
        }

        div.plan-change-details {
          margin-top: 16px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: $deep_navy;

          button, a {
            color: $carrot_green;
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;
            text-decoration: none;
            padding: 0;
            margin: 0;
            display: block;
          }         
        }

        div.plan-change-separator {
          margin-top: 16px;
          height: 1px;
          width: 100%;
          background-color: rgba($deep_navy, 0.1);
        }

        div.plan-change-title {
          margin-top: 16px;
          @include OC_Body_Bold();
          font-size: 14px;
          line-height: 18px;
          color: $deep_navy; 
        }

        button.payment-info-bt {
          height: 32px;
          background-color: $carrot_green;
          border-radius: 4px;
          @include OC_Body_Bold();
          color: white;
          padding: 7px 16px;
          font-size: 14px;
          line-height: 18px;
          margin: 8px 0 24px;
        }
      }
    }
  }
}