@media (min-width: 768px) {

  div#wrap.blog-wrap {
    min-height: calc(100vh - 40px);
  }
}

div#wrap.blog-wrap {
  background-color: $carrot_settings_background;

  div.blog-head {
    h1 {
      text-align: center;
      font-size: 40px;
      @include avenir_H();
    }

    div.divider-line {
      margin-top: 32px;
    }
  }

  div.blog-body {
    margin: 17px auto 0;
    width: 1272px;
    overflow: hidden;

    div.post {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
      margin: 32px 0;
      padding: 94px 64px;
      max-height: 498px;

      div.post-column {
        width: 50%;
        float: left;
      }

      div.post-title {
        font-size: 32px;
        color: $carrot_dark_blue;
        @include avenir_H();
        letter-spacing: 0.2px;
        padding: 0 32px;
      }

      div.post-author {
        margin-top: 9px;
        font-size: 16px;
        color: $carrot_green;
        @include avenir_BOOK();
        padding: 0 32px;
      }

      div.post-body {
        padding: 0 32px;
        font-size: 20px;
        color: $carrot_text_blue_2;
        @include avenir_BOOK();
        max-height: 320px;
      }

      div.post-image {
        padding: 0 32px;
        max-width: 560px;
        max-height: 320px;
        border-radius: 8px;
        background-color: blue;
      }
    }
  }
}