/* board settings */

body.small-footer {
  div.main-board-settings {
    div.board-settings-container {
      /* 138px is the total height above and below the settings */
      min-height: calc(100vh - #{$navbar_height}px - #{$back_to_dashboard_row_height}px - #{$footer_small_height}px + 1px);
    }
  }
}

div.main-board-settings {
  div.board-settings-container {
    div.settings-container {
      width: 580px;

      button.rename-button {
        float: left;
        padding: 0.5rem;
        margin-bottom: 2rem;
      }

      div.settings-form-input-label {
        @include avenir_B();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
        margin-bottom: 0.6rem;
      }

      div.settings-form-input.visibility {
        margin-bottom: 2rem;

        div.invite-only {
          padding: 0.5rem 0.2rem;
          margin-left: -0.2rem;
        }

        div.highlightable:hover {
          background-color: $oc_blue_dark;
          color: white;
          border-radius: 4px;

          h3, i, p {
            color: white !important;
          }
        }

        div.visibility-value {
          cursor: pointer;
          padding: 0.5rem 0.2rem;

          h3 {
            font-size: 14px;
            @include avenir_B();
            color: rgba(78,90,107,1);
            margin-bottom: 0px;
            margin-top: 0px;

            i.fa {
              color: $oc_green;
            }
          }

          p {
            font-size: 14px;
            @include avenir_M();
            color: rgba(78,90,107,1);
            margin-bottom: 0px;

            &.bold {
              @include avenir_H();
            }
          }
        }

        div.invite-only-board {
          margin-left: 1rem;
          margin-bottom: 2rem;

          div.private-board-setup {
            cursor: default;

            div.private-board-users-list {
              margin-top: 1rem;

              table {
                width: 100%;
                color: $oc_gray_5;

                thead:first-child {
                  border-bottom: 1px solid rgba(78, 90, 107, 0.5);
                }

                tr:hover {
                  td {
                    background-color: $oc_blue_dark;
                    color: white;

                    div button.user-type-btn:after {
                      color: white;
                    }
                  }
                }

                tr th, tr td {
                  padding: 0 0.4rem;
                }

                th {
                  font-size: 14px;
                  @include avenir_H();
                  color: rgba(78, 90, 107, 0.5);
                }

                tr td:first-child {
                  padding-left: 1rem;
                  font-size: 14px;
                }

                tr td {
                  @include avenir_B();
                  font-size: 14px;
                  letter-spacing: 1.2px;
                }
              }
            }

            div.private-board-select-wrapper {
              position: relative;
              padding: 0;
              margin: 0 1rem 0 0;
              width: 196px;
              height: 36px;
              overflow: hidden;
              text-overflow: ellipsis;
              background-color: white;
              color: $oc_gray_5;
              border-radius: 2px;
              border: 1px solid $oc_gray_2;
              float: left;

              &:after {
                font-family: FontAwesome;
                content: "\f0d7";
                color: $oc_gray_5;
                font-size: 14px;
                position: absolute;
                right: 0.2rem;
                top: 4px;
                pointer-events: none;
              }

              &:avtive:after {
                content: "\f0d8";
              }

              select.private-board-select {
                // Remove default browser style
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;       /* remove default arrow */

                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                // ----------------------------
                border-radius: 0px;
                border: none;
                padding: 0.3rem 1rem 0.3rem 0.2rem;

                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: transparent;

                width: 186px;
                height: 36px;

                outline: none;

                &::-ms-expand {
                  display: none;
                }
              }
            }

            div.user-type-picker {
              margin-right: 1rem;
            }

            button.private-board-add-button {
              height: 36px;
            }
          }
        }
      }

      div.dashboard-slug {
        font-size: 14px;
        @include avenir_M();
        color: rgba(78,90,107,1);
        margin-bottom: 2rem;
      }

      div.settings-form-label {
        font-size: 26px;
        line-height: 1.4;
        color: $oc_gray_5;
        height: 54px;

          div.small-loading-container {
            float: left;
            margin-left: 20px;
          }
      }

      img.loading-spinner {
        margin-left: 25px;
        margin-bottom: 10px;
        width: 50px;
        opacity: 0;

        &.loading {
          opacity: 1;
        }
      }

      div.settings-form{
        background-color: rgba(78, 90, 107, 0.05);
      }
    }
  }
}