/* board settings */

body.small-footer {
  div.main-board-settings {
    div.board-settings-container {
      /* 138px is the total height above and below the settings */
      min-height: calc(100vh - #{$navbar_height}px - #{$back_to_dashboard_row_height}px - #{$footer_small_height}px + 1px);
    }
  }
}

div.main-board-settings {
  div.board-settings-container {
    div.settings-container {
      width: 580px;

      div.settings-form-input-label {
        font-family: $oc_headers_font;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #4E5A6B;
        margin-bottom: 0.6rem;
      }

      div.settings-form-input.visibility {
        margin-bottom: 2rem;

        div.visibility-value {
          cursor: pointer;

          h3 {
            font-size: 14px;
            font-weight: 800;
            font-family: $oc_headers_font;
            color: rgba(78,90,107,1);
            margin-bottom: 5px;
            margin-top: 0px;

            i.fa {
              color: $oc_green;
            }
          }

          p {
            font-size: 14px;
            font-weight: 400;
            font-family: $oc_headers_font;
            color: rgba(78,90,107,1);

            &.bold {
              font-weight: 700;
            }
          }

          &.invite-only-board {
            div.private-board-setup {
              margin-top: 30px;
              cursor: default;

              div.private-board-select-wrapper {
                position: relative;
                padding: 0;
                margin: 0 2rem 0 0;
                width: 196px;
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: white;
                color: $oc_gray_5;
                border-radius: 2px;
                border: 1px solid $oc_gray_2;
                float: left;

                &:after {
                  font-family: FontAwesome;
                  content: "\f0d7";
                  color: $oc_gray_5;
                  font-size: 14px;
                  position: absolute;
                  right: 0.2rem;
                  top: 4px;
                  pointer-events: none;
                }

                &:avtive:after {
                  content: "\f0d8";
                }

                select.private-board-select {
                  // Remove default browser style
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;       /* remove default arrow */

                  box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  // ----------------------------
                  border-radius: 0px;
                  border: none;
                  padding: 0.3rem 1rem 0.3rem 0.2rem;

                  width: 100%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  background-color: transparent;

                  width: 186px;
                  height: 36px;

                  outline: none;

                  &::-ms-expand {
                    display: none;
                  }
                }
              }

              div.user-type-picker {
                margin-right: 2rem;
              }

              button.private-board-add-button {
                height: 36px;
              }
            }
          }
        }
      }

      div.dashboard-slug {
        font-size: 14px;
        font-weight: 400;
        font-family: $oc_headers_font;
        color: rgba(78,90,107,1);
        margin-bottom: 2rem;
      }

      div.settings-form-label {
        font-size: 26px;
        line-height: 1.4;
        color: $oc_gray_5;
        height: 54px;

          div.small-loading-container {
            float: left;
            margin-left: 20px;
          }
      }

      img.loading-spinner {
        margin-left: 25px;
        margin-bottom: 10px;
        width: 50px;
        opacity: 0;

        &.loading {
          opacity: 1;
        }
      }

      div.settings-form{
        background-color: rgba(78, 90, 107, 0.05);
      }
    }
  }
}