div.board-editor {

  div.fullscreen-page {
    background-color: $oc_gray_1;

    @include mobile(){
      background-color: white;
    }

    div.board-editor-box {
      width: 520px;
      margin: #{$navbar_height + 20}px auto 20px;
      background-color: white;
      border: 2px solid $oc_yellow;
      border-radius: 5px;
      padding: 25px;
      text-align: center;

      div.slack-disclaimer {
        margin-bottom: 23px;
        text-align: center;
        font-family: $oc_main_font;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.4px;
        color: $oc_gray_5;
      }

      @include mobile(){
        width: auto;
        border: 0px;
        margin: 0;
        padding: #{$navbar_height + 20}px 20px 20px;
      }

      label.board-editor-message {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        font-family: $oc_main_font;
        text-align: left;
      } 

      input.board-editor-input {
        border: 1px solid rgba(78,90,107,0.4);
        height: 42px;
        width: 100%;
        font-size: 14px;
        font-family: $oc_main_font;
        padding: 0.3rem;
      }

      button.get-started-button {
        text-align: center;
      }
    }
  }
}