div.left-boards-list {
  float: left;
  position: fixed;
  margin-right: 20px;

  button.all-activity {
    background-color: transparent;
    border: none;
    outline: none;
    

    span {
      font-size: 16px;
      color: $oc_gray_7;
      @include avenir_H();
    }

    div.all-activity-icon {
      background-image: cdnUrl("/img/ML/activity_hamburger.svg");
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
      margin-top: 1px;
    }
  }

  div.left-boards-list-top{
    border-radius: 4px;
    margin-top: 34px; 

    .left-boards-list-top-title {
      padding: 0 0 0 5px;
      margin: 0;
      float: left;
      width: #{$left_boards_list_width - 20 - 48}px;
      margin-bottom: 12px;

      span {
        @include avenir_B();
        font-size: 13px;
        color: $oc_gray_7;
        float: left;
      }

      div.boards-icon, div.stories-icon {
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
        margin-top: -3px;
      }

      div.boards-icon {
        background-image: cdnUrl("/img/ML/boards_icon.svg");
      }
      div.stories-icon {
        background-image: cdnUrl("/img/ML/stories_icon.svg");
      }
    }

    button.left-boards-list-top-title-button {
      width: 20px;
      height: 20px;
      margin-right: 0px;
      margin-top: -6px;
      padding: 0;
      cursor: pointer;
      transition: 230ms;
      background-color: rgba(82,222,149,0.25);
      background-image: cdnUrl("/img/ML/plus_button_icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 8px;
      border-radius: 2px;

      &:hover {
        background-color: #3FBD7C;
        background-image: cdnUrl("/img/ML/plus_button_icon_white.svg");
      }
    }
  }

  div.left-boards-list-items{
    cursor: pointer;
    padding-left: 20px;

    div.left-boards-list-item {
      padding: 0 5px 0 5px;
      border-radius: 3px;
      font-family: $oc_main_font;
      cursor: default;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.71;
      color: $oc_gray_7;

      @include no-user-select();

      div.internal {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 120px;
        float: left;
        font-size: 14px;
        color: $oc_gray_7;
        @include avenir_M();
      }

      button.remove-board {
        float: right;
        margin-right: 2px;
        color: $oc_gray_5;
        opacity: 0;
        width: 20px;
        height: 20px;
        font-weight: 300;
        font-size: 14px;
        margin-top: -3px;
      }

      &:hover {
        button.remove-board {
          opacity: 0.8;
        }
      }

      &.selected {
        background-color: $cr_light_blue;
        color: #3E4547;

        div.internal {
          @include avenir_H();
          font-size: 14px;
          line-height: 1.71;
        }
      }

      &.highlight-on-hover {
        cursor: pointer;
      }

      input.board-name {
        width: #{$left_boards_list_width - 20 - 48}px;
        height: 20px;
        margin: 2px 0;

        &:active, &:focus {
          outline: none;
        }
      }
    }
  }

  div.left-boards-list-footer{
    margin-top: 34px;
    button.about-carrot-btn {
      div.about-carrot-icon {
        background-image: cdnUrl("/img/ML/carrot_grey.svg");
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
      }
      
      span {
        font-size: 14px;
        line-height: 1.71;
        color: $oc_gray_7;
      }
    }

    button.invite-people-btn {
      div.invite-people-icon {
        background-image: cdnUrl("/img/ML/invite_people.svg");
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
      }

      span {
        font-size: 14px;
        line-height: 1.71;
        color: $oc_gray_7;
      }
    }
  }
}