div.left-boards-list {
  float: left;
  position: fixed;
  margin-right: 20px;

  button.all-activity {
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 34px;

    &.selected {
      background-color: $carrot_light_blue;
      color: #3E4547;
    }

    &:hover {
      text-decoration: underline;
    }

    span {
      font-size: 16px;
      color: $oc_gray_7;
      @include avenir_H();
    }

    div.all-activity-icon {
      background-image: cdnUrl("/img/ML/activity_hamburger.svg");
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
      margin-top: 1px;
    }
  }

  div.left-boards-list-top{
    border-radius: 4px;

    .left-boards-list-top-title {
      padding: 0 0 0 5px;
      margin: 0;
      float: left;
      width: #{$left_boards_list_width - 20 - 48}px;
      margin-bottom: 12px;

      span {
        @include avenir_B();
        font-size: 13px;
        color: $oc_gray_7;
        float: left;
      }

      div.boards-icon, div.stories-icon {
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
        margin-top: -3px;
      }

      div.boards-icon {
        background-image: cdnUrl("/img/ML/boards_icon.svg");
      }
      div.stories-icon {
        background-image: cdnUrl("/img/ML/stories_icon.svg");
      }
    }

    button.left-boards-list-top-title-button {
      width: 20px;
      height: 20px;
      margin-right: 0px;
      margin-top: -6px;
      padding: 0;
      cursor: pointer;
      transition: 230ms;
      background-color: rgba(82,222,149,0.25);
      background-image: cdnUrl("/img/ML/plus_button_icon.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 8px 8px;
      border-radius: 2px;
      @include avenir_H();

      &:hover {
        background-color: #3FBD7C;
        background-image: cdnUrl("/img/ML/plus_button_icon_white.svg");
      }
    }
  }

  div.left-boards-list-items{
    cursor: pointer;

    div.left-boards-list-item {
      cursor: default;
      color: $oc_gray_7;

      img.public {
        float: left;
        margin-left: 4px;
        width: 16px;
        height: 16px;
      }

      img.private{
        float: left;
        margin-left: 4px;
        margin-top: 3px;
        width: 10px;
        height: 14px;
      }

      div.board-name {
        margin-left: 20px;

        // &.public-board {
        //   margin-left: 4px;
        // }

        // &.private-board {
        //   margin-left: 10px;
        // }
        // float: right;

        div.internal {
          border-radius: 3px;
          padding: 0 5px 0 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 120px;
          float: left;
          font-size: 14px;
          line-height: 1.71;
          color: $oc_gray_7;
          @include avenir_M();
          cursor: pointer;

          &.selected {
            background-color: $carrot_light_blue;
            color: #3E4547;
            @include avenir_H();
            font-size: 14px;
            line-height: 1.71;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  div.left-boards-list-footer {
    margin-top: 34px;

    button.about-carrot-btn {
      &:hover {
        text-decoration: underline;
      }

      div.about-carrot-icon {
        background-image: cdnUrl("/img/ML/carrot_grey.svg");
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
      }

      span {
        font-size: 14px;
        line-height: 1.71;
        color: $oc_gray_7;
      }
    }

    button.invite-people-btn {
      &:hover {
        text-decoration: underline;
      }

      div.invite-people-icon {
        background-image: cdnUrl("/img/ML/invite_people.svg");
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
      }

      span {
        font-size: 14px;
        line-height: 1.71;
        color: $oc_gray_7;
      }
    }
  }
}