div.fullscreen-page.bot-access-prompt {
  background-color: $oc_gray_1;

  div.org-editor-box {
    width: 520px;
    margin: #{$navbar_height + 20}px auto 20px;
    background-color: white;
    border: 2px solid $oc_yellow;
    border-radius: 5px;
    padding: 25px;
    text-align: center;

    div.slack-disclaimer {
      margin-bottom: 23px;
      text-align: center;
      @include avenir_M();
      font-size: 14px;
      letter-spacing: 0.4px;
      color: $oc_gray_5;
    }
  }
}
