body.fixed-navbar {
  div.left-topics-list {
    position: fixed;
    top: 84px;
  }
}

div.left-topics-list {
  float: left;
  padding-left: 5px;
  position: initial;

  div.left-topics-list-top{
    .left-topics-list-top-title {
      font-family: $oc_headers_font;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      color: $oc_gray_7;
      padding: 0 0 0 5px;
      margin: 0;
      cursor: pointer;
    }

    button.left-topics-list-top-title {
      width: 20px;
      height: 20px;
      font-size: 13px;
      margin-right: 5px;
      padding: 0;
    }
  }

  div.left-topics-list-items{
    cursor: pointer;

    div.left-topics-list-item {
      height: 21px;
      padding: 0 5px 0 5px;
      border-radius:4px;
      cursor: pointer;
      line-height: 1.5;
      font-size: 14px;
      font-family: $oc_headers_font;
      font-weight: normal;
      color: $oc_gray_7;

      div.internal{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 125px;
      }

      &.selected {
        background-color: rgba(78,90,107,0.1);
      }

      &.dnd {

        &:hover {
          background-color: rgba(78,90,107,0.1);

          &:after, &::after {
            font-size: 18px;
            font-family: FontAwesome;
            font-weight: 400;
            color: $oc_gray_5;
            content: "\f0c9";
            cursor: move;
            margin-top: -23px;
            margin-left: 128px;
            opacity: 0.7;
          }
        }
      }
    }
  }
}