div.left-boards-list {
  float: left;
  padding-left: 5px;
  position: fixed;

  button.all-activity {
    font-size: 16px;
    color: $oc_gray_7;
    background-color: transparent;
    border: none;
    outline: none;

    div.all-activity-icon {
      background-image: url("/img/ML/activity_hamburger.svg");
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 5px;
      margin-top: 3px;
    }
  }

  div.left-boards-list-top{
    border-radius: 4px;
    margin-top: 34px; 

    .left-boards-list-top-title {
      font-family: $oc_main_font;
      font-size: 13px;
      font-weight: 800;
      color: $oc_gray_7;
      padding: 0 0 0 5px;
      margin: 0;
      float: left;
      width: 130px;
      margin-bottom: 12px;

      div.boards-icon, div.stories-icon {
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 5px;
        margin-top: -2px;
      }

      div.boards-icon {
        background-image: url("/img/ML/boards_icon.svg");
      }
      div.stories-icon {
        background-image: url("/img/ML/stories_icon.svg");
      }
    }

    button.left-boards-list-top-title {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-top: -6px;
      padding: 0;
      cursor: pointer;
      background-image: url("/img/ML/add.svg");
    }
  }

  div.left-boards-list-items{
    cursor: pointer;
    padding-left: 17px;

    div.left-boards-list-item {
      height: 21px;
      padding: 0 5px 0 5px;
      border-radius: 3px;
      font-family: $oc_headers_font;
      cursor: default;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.71;
      color: $oc_gray_7;

      @include no-user-select();

      div.internal {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 120px;
        float: left;
      }

      button.remove-board {
        float: right;
        margin-right: 2px;
        color: $oc_gray_5;
        opacity: 0;
        width: 20px;
        height: 20px;
        font-weight: 300;
        font-size: 14px;
        margin-top: -3px;
      }

      &:hover {
        button.remove-board {
          opacity: 0.8;
        }
      }

      &.selected {
        background-color: #dee8ff;
        color: $ml_text_blue;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
      }

      &.highlight-on-hover {
        cursor: pointer;

        &:hover {
          background-color: #dee8ff;
          color: $ml_text_blue;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.71;
        }
      }

      input.board-name {
        width: 130px;
        height: 20px;
        margin: 2px 0;

        &:active, &:focus {
          outline: none;
        }
      }
    }
  }

  div.left-boards-list-footer{
    margin-top: 34px;
    button.about-carrot-btn {
      div.about-carrot-icon {
        background-image: url("/img/ML/about_carrot.svg");
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 2px;
      }
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      color: $oc_gray_7;
    }

    button.invite-people-btn {
      div.invite-people-icon {
        background-image: url("/img/ML/invite_people.svg");
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 2px;
      }
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      color: $oc_gray_7;
    }
  }
}