button.settings-modal-close {
  width: 40px;
  height: 40px;
  background-image: cdnUrl("/img/ML/modal_close_x.svg");
  background-size: 40px;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0.7;
  position: absolute;

  &:hover {
    opacity: 1;
  }
}

@include dark_mode() {
  button.settings-modal-close {
    background-image: cdnUrl("/img/ML/carrot_2_modal_close@dark.svg");
  }
}

button.modal-close-bt {
  width: 32px;
  height: 32px;
  background-image: cdnUrl("/img/ML/carrot_2_modal_close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;

  @include wut() {
    background-color: var(--opac-background-color-08);
    background-image: cdnUrl("/img/ML/close_x.svg");
    background-size: 12px 12px;
    border-radius: 4px;
  }
}

@include dark_mode() {
  button.modal-close-bt {
    background-image: cdnUrl("/img/ML/carrot_2_modal_close@dark.svg");
  }
}