div.cmail-content-abstract-container {
  margin: 16px 0 0;
  padding: 0 0 16px;
  border-bottom: 1px solid $ultra_light_grey;
  position: relative;
  display: none;

  @include tablet() {
    display: block;
  }

  div.cmail-content-abstract-counter {
    height: 26px;
    position: absolute;
    right: 0;
    top: -38px;
    @include OC_Body_Bold();
    font-size: 12px;
    line-height: 16px;
    color: white;
    background-color: $deep_navy;
    padding: 5px 6px;
    border-radius: 4px;
    width: 152px;
    text-align: center;
    display: none;

    &:after {
      content: " ";
      position: absolute;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      background-color: $deep_navy;
      bottom: -3px;
      left: 50%;
      margin-left: -3px;
    }

    &.show-counter {
      display: block;
    }

    &.exceeds-max-length, &.exceeds-max-length:after {
      background-color: $carrot_orange;
    }
  }

  div.cmail-content-abstract {
    @include activity-abstract(16px, 20px);
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    min-height: 26px;
    border-bottom: 1px solid transparent;

    @include mobile() {
      @include activity-abstract(18px, 26px);
    }
  }
}