div.carrot-checkbox {
  display: block-inline;
  border-radius: 2px;
  border: 1.5px solid $carrot_light_gray;
  width: 16px;
  height: 16px;

  &.selected {
    border: 1.5px solid $carrot_text_blue;
    background-color: $carrot_text_blue;
    background-image: cdnUrl("/img/ML/carrot_checkbox_mark.svg");
    background-size: 14px 11px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}