div.carrot-tip-container {
  z-index: #{$navbar_zindex + 1501};
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  position: fixed;

  &.needs-background {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  &.step-2 {
    pointer-events: none;

    @include mobile() {
      width: 100vw;
      height: 100vh;
      top: 0px;
      left: 0px;
      bottom: 0px;
    }

    div.carrot-tip {
      width: 494px;

      @include mobile() {
        bottom: 100px;
      }

      div.carrot-tip-inner {

        div.carrot-tip-title {
          width: 334px;

          @include mobile() {
            width: 300px;
          }
        }

        div.carrot-tip-description {
          width: 334px;

          @include mobile() {
            width: 300px;
          }
        }
      }
    }
  }

  &.step-3 {
    pointer-events: none;

    @include mobile() {
      width: 100%;
      height: 100vh;
      position: absolute;
    }

    div.carrot-tip{

      @include mobile() {
        width: 100%;
        height: auto;
        bottom: 150px;
        top: unset;
      }

      div.balloons-background {
        width: 189px;
        height: 84px;
        overflow: hidden;
        @include image-2x("/img/ML/carrot_tip_bg_2");
        background-size: 189px;
        bottom: 0px;
        right: -20px;
        overflow: hidden;

        @include mobile() {
          display: none;
        }
      }

      div.carrot-tip-inner {

        div.carrot-tip-title {
          margin-top: 8px;
        }

        div.carrot-tip-description {
          margin-top: 20px;
        }

        button.next-button {
          margin-top: 20px;
        }
      }
    }
  }

  &.step-4 {
    @include mobile() {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
    }

    div.carrot-tip{

      @include mobile() {
        width: 100%;
        height: auto;
        bottom: 0px;
      }

      div.carrot-tip-step {
        right: unset;
        left: 150px;
        bottom: 30px;
      }

      div.carrot-tip-inner {

        div.carrot-tip-description {
          margin-top: 12px;
        }

        div.carrot-tip-title {
          margin-top: 0px;
        }

        button.next-button {
          margin-top: 20px;
        }
      }
    }
  }

  div.carrot-tip-background {
    width: 100%;
    height: 100%;

    @include mobile() {
      position: absolute;
    }
  }

  div.carrot-tip {
    position: absolute;
    padding: 27px 40px;

    @include mobile() {
      width: 100%;
      background-color: transparent;
      position: absolute;
      padding: 24px;
    }

    div.carrot-tip-step {
      position: absolute;
      left: 40px;
      bottom: 0px;
      color: white;
      @include avenir_H();
      font-size: 16px;
      line-height: 28px;

      @include mobile() {
        left: 24px;
        bottom: -8px;
      }
    }

    div.carrot-tip-inner {
      position: relative;

      div.carrot-tip-title {
        @include avenir_H();
        font-size: 20px;
        line-height: 28px;
        color: white;
      }

      div.carrot-tip-description {
        @include avenir_R();
        font-size: 18px;
        color: white;
        line-height: 22px;

        @include mobile() {
          margin-top: 8px;
        }

        &.second {
          margin-top: 16px;
        }
      }

      button.next-button {
        padding: 8px 35px;
        height: 40px;
        float: right;
        background-color: white;
        color: $carrot_green_2;
        @include avenir_H();
        font-size: 14px;
        border-radius: 100px;

        &.left {
          float: left;
        }
      }
    }
  }
}