$carrot_switch_animation: 130ms;

div.carrot-switch {
  display: inline-block;
  width: 28px;
  height: 16px;
  border-radius: 100px;
  background-color: var(--ultralight-color); // FIXME $light_ui_grey
  color: var(--ultralight-color); // FIXME $light_ui_grey
  transition: background-color $carrot_switch_animation, color $carrot_switch_animation;
  position: relative;
  cursor: pointer;
  @include no-user-select();

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
  }

  span.selected-label {
    color: $wut_purple;
    float: left;
    @include OC_Body_Bold();
    font-size: 12px;
  }

  span.unselected-label {
    color: var(--light-color);
    float: right;
    @include OC_Body_Bold();
    font-size: 12px;
  }

  span.dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: var(--light-color);
    display: block;
    border-radius: 50%;
    transition: margin-left $carrot_switch_animation;
  }

  &.selected {
    background-color: rgba($wut_purple, 0.4);
    color: $wut_purple;

    span.dot {
      margin-left: 12px;
      background-color: $wut_purple;
    }
  }
}