div.carrot-box-container {
  width: 100%;
  max-width: 800px;
  padding: 20px 16px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 8px;

  // img.carrot-box {
  //   width: 111px;
  //   height: 114px;
  //   float: left;
  //   margin: 0 50px;

  //   @include mobile(){
  //     float: none;
  //     margin: 0 auto;
  //   }
  // }

  div.carrot-box-thanks {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 25px;

    @include mobile(){
      float: none;
      width: 100%;
      padding: 0 16px;
    }

    div{
      text-align: center;
    }

    div.thanks-headline {
      @include OC_Body_Bold();
      font-size: 32px;
      color: $carrot_gray;

      @include mobile(){
        margin-top: 40px;
      }
    }

    div.thanks-subheadline {
      @include OC_Body_Bold();
      font-size: 16px;
      color: $oc_gray_7;

      span {
        @include OC_Body_Bold();
      }
    }

    div.carrot-early-access-top {
      @include OC_Body_Bold();
      font-size: 16px;
      margin-top: 20px;
    }

    a.carrot-early-access-link {
      @include OC_Body_Bold();
      font-size: 16px;
      color: $carrot_text_blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}