div.carrot-tip-container {
  z-index: #{$navbar_zindex + 1501};
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  position: fixed;

  &.needs-background {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  @include mobile() {
    position: absolute;
  }

  &.step-2 {
    pointer-events: none;

    @include mobile() {
      width: 100%;
      height: auto;
      left: 0px;
      bottom: 70px;
    }

    div.carrot-tip {
      width: 494px;

      @include mobile() {
        width: 100%;
      }

      div.arrow {
        top: 32px;
        left: 486px;

        @include mobile() {
          right: 53px;
          left: unset;
          top: unset;
          bottom: -7px;
        }
      }

      div.balloons-background {
        width: 122px;
        height: 49px;
        overflow: hidden;
        @include image-2x("/img/ML/carrot_tip_bg_1");
        background-size: 122px 124px;
        top: 77px;
        right: 10px;
        overflow: hidden;

        @include mobile() {
          display: none;
        }
      }

      div.carrot-tip-inner {

        div.carrot-tip-title {
          width: 334px;

          @include mobile() {
            width: 100%;
          }
        }

        div.carrot-tip-description {
          width: 334px;

          @include mobile() {
            width: 100%;
          }
        }
      }
    }
  }

  &.step-3 {
    @include mobile() {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    div.carrot-tip-background {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: absolute;
    }

    div.carrot-tip{

      @include mobile() {
        width: 100%;
        height: auto;
        top: 439px;
      }

      div.arrow {
        left: -8px;
        top: calc(50% - 4px);

        @include mobile() {
          left: calc(50% - 8px);
          top: -8px;
        }
      }

      div.balloons-background {
        width: 189px;
        height: 84px;
        overflow: hidden;
        @include image-2x("/img/ML/carrot_tip_bg_2");
        background-size: 189px;
        bottom: 0px;
        right: -20px;
        overflow: hidden;

        @include mobile() {
          display: none;
        }
      }

      div.carrot-tip-inner {

        div.carrot-tip-step {
          top: -20px;
        }

        div.carrot-tip-title {
          margin-top: 8px;
        }

        div.carrot-tip-description {
          margin-top: 20px;
        }

        button.next-button {
          margin-top: 20px;
        }
      }
    }
  }

  &.step-4 {
    @include mobile() {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
    }

    div.carrot-tip{

      @include mobile() {
        width: 100%;
        height: auto;
        top: calc(100vh - 374px);
      }

      div.arrow {
        right: 64px;
        top: -7px;

        @include mobile() {
          top: unset;
          bottom: -8px;
          right: 50px;
        }
      }

      div.balloons-background {
        width: 205px;
        height: 89px;
        overflow: hidden;
        @include image-2x("/img/ML/carrot_tip_bg_3");
        background-size: 205px 191px;
        bottom: 0px;
        right: 30px;
        overflow: hidden;

        @include mobile() {
          display: none;
        }
      }

      div.carrot-tip-inner {

        div.carrot-tip-description {
          margin-top: 20px;
        }

        button.next-button {
          margin-top: 60px;
        }
      }
    }
  }

  &.step-5 {
    div.carrot-tip{

      div.arrow {
        left: -7px;
        top: 24px;
      }

      div.balloons-background {
        width: 178px;
        height: 152px;
        overflow: hidden;
        @include image-2x("/img/ML/carrot_tip_bg_4");
        background-size: 244px 229px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;

        @include mobile() {
          display: none;
        }
      }

      div.carrot-tip-inner {

        div.carrot-tip-description {
          margin-top: 20px;
        }

        button.next-button {
          margin-top: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &.step-6 {
    div.carrot-tip{

      div.arrow {
        left: 55px;
        bottom: -7px;
      }

      div.balloons-background {
        width: 174px;
        height: 108px;
        overflow: hidden;
        @include image-2x("/img/ML/carrot_tip_bg_5");
        background-size: 174px 170px;
        bottom: 0px;
        right: 70px;
        overflow: hidden;

        @include mobile() {
          display: none;
        }
      }

      div.carrot-tip-inner {

        div.carrot-tip-description {
          margin-top: 20px;
        }

        button.next-button {
          margin-top: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }

  div.carrot-tip-background {
    width: 100%;
    height: 100%;

    @include mobile() {
      position: absolute;
    }
  }

  div.carrot-tip {
    position: absolute;
    padding: 27px 40px;
    background-color: $carrot_text_blue;
    border-radius: 4px;

    @include mobile() {
      position: relative;
      padding: 24px;
      width: 100%;
      height: auto;
    }

    div.arrow {
      position: absolute;
      background-color: $carrot_text_blue;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
    }

    div.balloons-background {
      background-repeat: no-repeat;
      position: absolute;
    }

    div.carrot-tip-inner {
      position: relative;

      div.carrot-tip-step {
        position: absolute;
        top: -11px;
        right: -16px;
        color: white;
        @include avenir_H();
        font-size: 16px;
        line-height: 28px;
      }

      div.carrot-tip-title {
        @include avenir_H();
        font-size: 20px;
        line-height: 28px;
        color: white;
      }

      div.carrot-tip-description {
        @include avenir_R();
        font-size: 18px;
        color: white;
        line-height: 22px;

        &.second {
          margin-top: 16px;
        }
      }

      button.next-button {
        padding: 8px 35px;
        height: 40px;
        float: right;

        &.left {
          float: left;
        }
      }
    }
  }
}