div.cmail-content-abstract-container {
  position: relative;

  div.cmail-content-abstract-counter {
    margin-top: 8px;
    @include OC_Body_Book();
    font-size: 14px;
    line-height: 18px;
    color: rgba($deep_navy, 0.5);
    text-align: left;

    &.exceeds-max-length {
      color: $carrot_orange;
    }
  }

  div.cmail-content-abstract {
    @include activity-abstract(17px, 22px);
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    min-height: 26px;
    border-bottom: 1px solid transparent;
    cursor: text;

    @include mobile() {
      @include activity-abstract(18px, 26px);
    }
  }
}