div.carrot-checkbox {
  border-radius: 2px;
  border: 1.5px solid var(--light-color);
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: transparent;

  &.selected {
    border: 1.5px solid $wut_purple;
    background-color: $wut_purple;
    background-image: cdnUrl("/img/ML/carrot_checkbox_mark.svg");
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.disabled {
    border: 1.5px solid var(--color);
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.selected.disabled {
    background-color: var(--color);
  }
}


@include dark_mode() {
  div.carrot-checkbox.selected {
    background-image: cdnUrl("/img/ML/carrot_checkbox_mark@dark.svg");
  }
}