div.company-dashboard {

  div.category-nav {
    border-top: 1px solid #DFDFDF; /* gray */
    border-bottom: 1px solid #DFDFDF; /* gray */
    background-color: white;
    width: 100%;
    z-index: 2;
    padding: 0px;
    margin: 0px;
    width: 100%;
    -webkit-backface-visibility: hidden;

    div.category {
      width: 33.33333%;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      min-height: 40px;
      /* vertically center the text */
      padding-top: 10px;
      vertical-align: middle;
      /* horizontally center the text */
      text-align: center;
      color: #8b8a8a;
      text-transform: uppercase;

      div.category-label {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-block;
        color: #A6A6A3; /* gray */
        min-height: 30px;
      }

      &.active div.category-label {
        color: #2d2d2d;
        border-bottom: 3px solid black;
      }
    }
  }
}