div.company-dashboard {

  div.category-nav {
    border-top: 1px solid transparent; /* gray */
    border-bottom: 1px solid $oc_gray_2; /* gray */
    background-color: white;
    width: 100%;
    z-index: 2;
    margin: 0px;
    padding: 2px 0px;
    height: 46px;
    -webkit-backface-visibility: hidden;
    text-align: center;


    div.category-nav-internal{
      @include mobile() {
        margin: 0px;
      }

      @include big_web() {
        margin: 0 auto;
      }


      div.category {
        @include mobile(){
          width: 33.3%;
          float: left;
          padding: 15px 0px 0px 0px;
        }
        @include big_web(){
          width: 150px;
          float: left;
          padding: 15px 15px 0px 15px;
        }
        vertical-align: middle;
        /* horizontally center the text */
        text-align: center;
        color: $oc_gray_3;
        text-transform: uppercase;

        div.category-label {
          height: 18px;
          padding-left: 10px;
          padding-right: 10px;
          display: inline-block;
          color: $oc_gray_3;
          font-weight: 600;
          line-height: 0;

          @include mobile(){
            font-size: 16px;
          }

          @include big_web(){
            font-size: 14px;
          }
        }

        &.active div.category-label {
          color: #2d2d2d;
          border-bottom: 3px solid black;
        }
      }
    }
  }
}