.comp-cell {
  border: 2px solid transparent;
  width: 70px;
  height: 30px;
  overflow-x: hidden;
  margin: auto;
  
  .comp-cell-int {
    width: 100%;
    min-height: 24px;
    text-align: right;
    padding: 2px 4px 0 0;

    span, input {
      width: 100%;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      font-family: $oc_main_font;
      letter-spacing: normal;
      line-height: 1.2;
      color: $oc_gray_5;
      padding: 0;
      margin: 0;
    }
  }

  .state-new {
    border: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);

    span.placeholder {
      opacity: 0.4;
    }
  }

  .state-display {
    border: 2px solid transparent;
  }

  .state-draft {
    border: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  }

  .state-edit {
    border: 2px solid blue;

    input {
      border: none;
      outline: none;
      text-align: left;
    }
  }

}