.comp-cell {
  border: 2px solid transparent;
  width: 100px;
  height: 30px;

  .comp-cell-int {
    width: 100%;
    min-height: 24px;

    span, input {
      width: 100%;
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 0;
      margin: 0;
    }
  }

  .state-new {
    border: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);

    span.placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-size: 12px;
      font-weight: 400;
    }
  }

  .state-display {
    border: 2px solid transparent;

    span {
      color: black;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .state-draft {
    border: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);

    span {
      color: black;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .state-edit {
    border: 2px solid blue;

    input {
      color: black;
      border: 0px solid black;
      outline: none;
      text-align: left;
      font-size: 12px;
      font-weight: 400;
    }
  }

}