div.charts {
  height: 290px;
  width: 650px;

  div.chart-container {
    height: 290px;
    float: left;
  }

  div.values-navigator {
    margin-top: 264px;
    float: left;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
  }
}