div.cmail-outer {
  position: relative;
  width: 100%;
  margin-bottom: 24px;

  @include mobile() {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: 100vh;
    width: 100vw;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    margin-bottom: 0;
    z-index: #{$navbar_zindex + 20};
  }

  &.quick-post-collapsed {
    div.cmail-container {

      div.cmail-content-outer {
        padding: 16px 20px;

        div.cmail-content {
          height: 24px;
          min-height: 24px;

          div.cmail-content-headline {
            display: none;
          }

          div.rich-body-editor-outer-container {
            div.rich-body-editor-container {
              margin-top: 0;
              height: 24px;

              div.rich-body-editor {
                margin-top: 0;
                min-height: 24px;
              }
            }
          }
        }
      }

      div.cmail-footer {
        display: none;

        div.dismiss-inline-cmail-container {
          display: none;
        }
      }
    }
  }

  &.fullscreen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $carrot_modal_bg;
    border-radius: 0;
    z-index: #{$navbar_zindex + 116};
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    @include mobile() {
      position: relative;
      height: initial;
      min-height: 100vh;
      display: block;
      top: unset;
      left: unset;
      background-color: white;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
    }

    div.cmail-container {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: $grey_num_2;
      position: absolute;
      box-shadow: none;

      @include mobile() {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: initial;
        top: unset;
        border-radius: 0;
        background-color: white;
      }

      div.cmail-header {
        background-color: $grey_num_2;
        border-bottom: 1px solid rgba($deep_navy, 0.1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 1;
        display: block;

        div.close-bt-container {
          // position: absolute;
          // left: 16px;
          // top: 12px;
          // float: unset;

          button.close-bt {
            background-image: cdnUrl("/img/ML/cmail_fullscreen_close.svg");
          }

          .tooltip {
            margin-top: 0;
          }
        }

        div.fullscreen-bt-container {
          position: absolute;
          left: 48px;
          top: 12px;
          float: unset;

          button.fullscreen-bt {
            background-color: $ultra_light_grey;
            background-image: cdnUrl("/img/ML/cmail_fullscreen_collapse.svg");
          }

          .tooltip {
            margin-top: 0;
          }
        }

        div.cmail-header-right-buttons {
          position: absolute;
          height: 32px;
          right: 16px;
          top: 12px;
          padding: 4px 0 4px 0;

          button.attachment-button {
            @include OC_Body_Book();
            font-size: 14px;
            color: $deep_navy;
            position: relative;
            float: left;
            padding: 0;
            width: 32px;
            height: 32px;
            opacity: 1;
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
            background-size: 14px 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba($deep_navy, 0.1);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-left: 1px solid rgba($deep_navy, 0.1);
          }

          div.emoji-picker {
            float: left;
            width: 32px;
            height: 32px;

            button.emoji-button {
              width: 32px;
              height: 32px;
              background-position: center;
              background-size: 16px 16px;
              background-color: rgba($deep_navy, 0.1);
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              padding: 0;
              position: absolute;
              top: 0px;
              left: 0px;
              cursor: pointer;
              opacity: 1;
            }

            @include mobile() {
              display: none;
            }

            div.picker-container {
              right: -16px;
              left: unset;
              top: 28px;
            }
          }
        }
      }

      div.cmail-content-outer {
        padding: 56px 0 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: transparent;

        &.has-follow-ups {
          padding: 96px 0 0;
        }

        div.follow-ups-header {
          position: fixed;
          top: 56px;
          z-index: 2;
        }
      }

      div.cmail-content {
        width: 640px;
        margin: 0 auto;
        padding: 32px 0 18px;
        min-height: 100%;
        max-height: unset;
        overflow-x: auto;
        overflow-y: auto;
        overflow-x: visible;

        @include mobile() {
          padding: 16px 16px 24px;
          width: 100%;
        }

        div.cmail-content-headline {
          min-height: 34px;
          @include activity-title(32px, 34px);

          @include mobile() {
            @include activity-title(32px, 40px);
          }
        }

        div.cmail-content-abstract-container {
          margin-top: 24px;
          padding-bottom: 32px;
          display: block;
        }

        div.rich-body-editor-container {
          margin-top: 32px;

          div.rich-body-editor {
            padding-bottom: 30vh;
            min-height: calc(100vh - 334px);
            @include activity-body(18, 26, $deep_navy);

            @media screen and (min-height: 556px) {
              max-height: initial;
              min-height: calc(100vh - 354px);
            }
          }
        }
      }

      div.cmail-footer {
        width: 240px;
        margin: 0 auto 32px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: unset;
        background-color: transparent;

        div.saving-saved {
          float: right;
          margin: 0px 16px 0px 0px;
        }

        div.dismiss-inline-cmail-container {
          display: none;
        }
      }
    }
  }

  div.cmail-container {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    border: 1px solid $mid_light_grey;
    border-radius: 4px;

    &.has-follow-ups {
      @include mobile() {
        padding-top: #{$mobile_navbar_height + $mobile_navbar_height}px;
      }
    }

    @include mobile() {
      width: 100vw;
      height: auto;
      background-color: white;
      padding-top: #{$mobile_navbar_height}px;
    }

    div.cmail-mobile-header {
      display: none;

      @include mobile() {
        display: block;
        width: 100vw;
        height: #{$mobile_navbar_height}px;
        padding: 11px 16px;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid $divider_line_grey;
        background-color: white;
        z-index: 2;

        button.mobile-close-bt {
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          width: 32px;
          height: 32px;
          padding: 0;
          position: absolute;
          top: 11px;
          left: 16px;
          background-color: rgba($deep_navy, 0.1);
          border-radius: 4px;
        }

        div.cmail-mobile-header-right {
          position: absolute;
          top: 11px;
          right: 16px;

          button.mobile-attachment-button {
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
            background-size: 14px 16px;
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            padding: 0;
            float: left;
            opacity: 1;
            background-color: rgba($deep_navy, 0.1);
            border-radius: 4px;
          }

          button.follow-up-button {
            width: 32px;
            height: 32px;
            background-color: rgba($deep_navy, 0.1);
            border-radius: 4px;
            background-image: cdnUrl("/img/ML/mobile_create_follow_up.svg");
            background-size: 12px 14px;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0;
            float: left;
            margin-left: 8px;
            opacity: 1;

            &.disabled {
              cursor: not-allowed;
            }
          }

        }
      }
    }

    div.cmail-header {
      background-color: $deep_navy;
      height: 56px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 12px 16px;
      display: none;

      @include no-user-select();

      @include mobile() {
        display: block;
        width: 100%;
        min-height: 56px;
        height: auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 12px 16px;
        background-color: white;
      }

      &.has-follow-ups-button {
        div.cmail-header-right-buttons {
          button.follow-up-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

          button.attachment-button {
            border-radius: 0;
            border-left: 1px solid rgba($deep_navy, 0.1);
            border-right: 1px solid rgba($deep_navy, 0.1);
          }

          div.emoji-picker {
            button.emoji-button {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
      }

      div.cmail-header-center {
        position: absolute;
        height: 24px;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);

        @include user-profile(24);

        div.user-avatar-img-container {
          float: left;
        }

        @include mobile() {
          div.user-avatar-img-container {
            display: none;
          }
        }

        div.cmail-header-center-title {
          margin-left: 8px;
          height: 18px;
          margin-top: 3px;
          @include OC_Body_Book();
          font-size: 14px;
          color: $deep_navy;
          line-height: 18px;
          float: left;
          max-width: 25vw;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre;
        }
      }

      div.cmail-header-left-buttons {
        position: absolute;
        height: 32px;
        left: 16px;
        top: 12px;
        padding: 0;

        div.close-bt-container {
          float: left;
          
          @include mobile() {
            display: none;
          }

          button.close-bt {
            width: 32px;
            height: 32px;
            background-image: cdnUrl("/img/ML/cmail_fullscreen_close.svg");
            background-size: 12px 12px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgba($deep_navy, 0.1);
            border-radius: 4px;
            padding: 0;
            opacity: 1;

            @include mobile() {
              margin-left: 0;
              background-size: 14px 14px;
            }
          }

          &.long-tooltip {
            .tooltip {
              width: 122px;
              margin-left: -24px;
            }
          }

          // .tooltip {
          //   margin-top: -16px;
          // }
        }

        div.delete-button-container {
          float: left;
          margin-left: 16px;
          border-left: 1px solid rgba($deep_navy, 0.1);
          padding-left: 16px;

          button.delete-button {
            width: 32px;
            height: 32px;
            background-color: rgba($deep_navy, 0.1);
            border-radius: 4px;
            background-image: cdnUrl("/img/ML/cmail_delete.svg");
            background-size: 14px 16px;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0;
            display: block;
            opacity: 1;
          }
        }
      }

      div.cmail-header-right-buttons {
        position: absolute;
        height: 32px;
        right: 16px;
        top: 12px;
        padding: 0;

        @include mobile() {
          display: none;
        }

        button.follow-up-button {
          width: 32px;
          height: 32px;
          background-color: rgba($deep_navy, 0.1);
          border-radius: 4px;
          background-image: cdnUrl("/img/ML/mobile_create_follow_up.svg");
          background-size: 12px 14px;
          background-position: center;
          background-repeat: no-repeat;
          padding: 0;
          float: left;
          opacity: 1;

          &.disabled {
            cursor: not-allowed;
          }

          @include mobile() {
            display: none;
          }
        }

        button.attachment-button {
          @include OC_Body_Book();
          font-size: 14px;
          color: $deep_navy;
          position: relative;
          float: left;
          padding: 0;
          width: 32px;
          height: 32px;
          background-color: rgba($deep_navy, 0.1);
          background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
          background-size: 14px 16px;
          background-repeat: no-repeat;
          background-position: center;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          opacity: 1;
        }

        div.emoji-picker {
          float: left;
          margin-left: 8px;
          width: 32px;
          height: 32px;

          button.emoji-button {
            width: 32px;
            height: 32px;
            background-color: rgba($deep_navy, 0.1);
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            background-position: center;
            background-size: 16px 16px;
            padding: 0px;
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
            opacity: 1;
          }

          @include mobile() {
            display: none;
          }

          div.picker-container {
            right: -16px;
            left: unset;
            top: 28px;
          }
        }
      }

      button.right-button {
        margin-top: -2px;
      }

      div.fullscreen-bt-container {
        float: left;

        @include mobile() {
          display: none;
        }

        button.fullscreen-bt {
          width: 32px;
          height: 32px;
          background-image: cdnUrl("/img/ML/cmail_fullscreen_expand.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          background-color: rgba(white, 0.2);
          border-radius: 4px;
          margin-left: 8px;

          @include preload_image(cdnUrl("/img/ML/cmail_fullscreen_collapse.svg"));
        }

        .tooltip {
          margin-top: -16px;
        }
      }
    }

    div.post-button-container {
      position: relative;
      margin-left: 16px;
      padding-left: 16px;
      border-left: 1px solid rgba($deep_navy, 0.1);
      float: right;
    }

    &:not(.fullscreen) > {
      div.follow-ups-header {
        margin-top: -1px;

        @include mobile() {
          margin-top: 0;
        }
      }
    }

    div.follow-ups-header {
      width: 100%;
      height: 40px;
      background-color: $sea_blue;
      padding: 10px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;

      @include follow-up-tag();

      @include mobile() {
        text-align: center;
        width: 100%;
        height: #{$mobile_navbar_height}px;
        padding: 8px 48px;
        position: fixed;
        top: #{$mobile_navbar_height}px;
        z-index: 2;

        div.follow-up-tag {
          display: none;
        }
      }

      div.follow-ups-label {
        color: white;
        @include OC_Body_Book();
        font-size: 14px;

        span.follow-ups-label-count {
          color: white;
          text-decoration: underline;

        }
      }

      button.remove-follow-up-button {
        position: absolute;
        right: 16px;
        top: 8px;
        width: auto;
        height: 24px;
        padding: 0;
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 24px;
        color: white;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      div.mobile-follow-ups-remove-menu-container {
        display: none;

        @include mobile() {
          display: block;
          position: absolute;
          right: 16px;
          top: 16px;

          button.mobile-follow-ups-remove-menu {
            width: 24px;
            height: 24px;
            background-image: cdnUrl("/img/ML/more_menu_horizontal_ellipsis_white.svg");
            background-size: 18px 4px;
            background-position: center;
            padding: 0;
            background-repeat: no-repeat;
          }

          button.mobile-follow-ups-remove {
            background-color: white;
            border-radius: 4px;
            padding: 16px;
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;
            color: $light_navy;
            position: absolute;
            right: 0;
            top: 20px;
            border: 1px solid $mid_light_grey;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
            z-index: 2;
          }
        }
      }
    }

    div.cmail-content-outer {
      padding: 24px 40px;
      background-color: white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @include mobile() {
        background-color: transparent;
        padding: 24px 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
      }

      &.has-follow-ups {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include mobile() {
          border-radius: 0;
        }
      }
    }

    div.cmail-content {
      min-height: 112px;
      overflow-y: auto;
      overflow-x: auto;
      overflow: visible;
      height: auto;

      @include mobile() {
        padding: 4px 16px 24px;
        min-height: calc(100vh - 112px);
        max-height: initial;
        overflow-x: visible;
        overflow-y: visible;
      }

      div.ziggeo-player, div.ziggeo-recorder {
        margin: 0px auto 24px;

        @include mobile() {
          margin-top: -24px;
          margin-left: -24px;
        }

        video {
          max-width: 548px;

          @include mobile() {
            max-width: 100vw;
          }
        }

        div.ziggeo-player-not-processed, div.ziggeo-recorder-not-processed {
          margin: 0px auto;

          @include mobile() {
            margin-top: -24px;
            margin-left: -24px;
          }
        }
      }

      div.cmail-content-headline {
        border: none;
        outline: none;
        cursor: text;
        @include activity-title(22px, 28px);
        color: $deep_navy;
        white-space: pre-wrap;
        word-wrap: break-word;
        min-height: 28px;
        line-height: 28px;

        @include mobile() {
          @include activity-title();
          min-height: 30px;
        }

        &:empty:before {
          content: attr(placeholder);
          display: inline-block;
          color: rgba($deep_navy, 0.5) !important;
          font-style: none;
          height: 28px;
        }
      }

      div.rich-body-editor-outer-container {
        position: relative;

        @include mobile() {
          min-height: calc(100vh - 334px);
        }
      }

      div.rich-body-editor-container {
        position: relative;
        height: auto;
        margin-top: 8px;

        div.medium-editor-media-picker {
          margin-top: 1px;
          top: 0;
          left: unset;
          right: 0;
        }

        div.rich-body-editor {
          border: none;
          outline: none;
          margin: 8px 0px 0px;
          cursor: text;
          color: $deep_navy;
          @include OC_Body_Book();
          height: auto;

          @include big_web() {
            @include activity-body(18, 26, $deep_navy);
            font-size: 18px;
            line-height: 26px;
          }

          @media screen and (min-height: 556px) {
            min-height: 76px;
          }

          @include mobile() {
            min-height: 20vh;
            max-height: initial;
            @include activity-body(18, 24, $deep_navy);
            font-size: 18px;
            line-height: 24px;
            overflow-y: auto;
            overflow-x: visible;
            padding-bottom: 30vh;
          }

          & > *:first-child {
            margin-top: 0px;
          }

          p:not(:last-child):not(:first-child) {
            margin: 22px 0px;
          }

          &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
            color: rgba($deep_navy, 0.5) !important;
            font-style: normal;
          }

          &:after {
            margin: 0;
          }
        }
      }
    }

    div.cmail-footer {
      height: 64px;
      width: 100%;
      padding: 16px;
      background-color: rgba($deep_navy, 0.05);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      @include mobile() {
        display: none;
      }

      div.saving-saved {
        height: 35px;
        @include OC_Body_Book();
        color: rgba($deep_navy, 0.5);
        font-size: 14px;
        line-height: 35px;
        margin: 0px 0px 0px 16px;
        float: left;
      }

      div.dismiss-inline-cmail-container {
        float: left;
        
        @include mobile() {
          display: none;
        }

        button.dismiss-inline-cmail {
          width: 32px;
          height: 32px;
          background-image: cdnUrl("/img/ML/cmail_fullscreen_close.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          background-color: rgba($deep_navy, 0.1);
          opacity: 1;
          border-radius: 4px;
        }

        &.long-tooltip {
          .tooltip {
            width: 122px;
          }
        }

        .tooltip {
          margin-top: -16px;
        }
      }

      div.fullscreen-bt-container {
        float: left;
        margin-left: 16px;
        padding-left: 16px;
        border-left: 1px solid rgba($deep_navy, 0.1);

        @include mobile() {
          display: none;
        }

        button.fullscreen-bt {
          height: 32px;
          background-image: cdnUrl("/img/ML/cmail_fullscreen_expand_black.svg");
          background-size: 12px 12px;
          background-position: top 10px left 10px;
          background-repeat: no-repeat;
          background-color: rgba($deep_navy, 0.1);
          border-radius: 4px;
          padding: 7px 10px 7px 30px;
          @include OC_Body_Book();
          font-size: 14px;
          color: $deep_navy;
          opacity: 1;
        }

        .tooltip {
          margin-top: -16px;
        }
      }

      div.cmail-footer-right {
        float: right;
        position: relative;

        &.has-follow-ups-button {
          button.attachment-button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 1px solid rgba($deep_navy, 0.1);
          }
        }

        button.follow-up-button {
          width: 32px;
          height: 32px;
          background-image: cdnUrl("/img/ML/mobile_create_follow_up.svg");
          background-size: 12px 14px;
          background-position: center;
          background-repeat: no-repeat;
          background-color: rgba($deep_navy, 0.1);
          opacity: 1;
          padding: 0;
          float: right;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;

          &:not(.disabled):hover {
            opacity: 1;
          }

          &.disabled {
            cursor: not-allowed;
          }

          @include mobile() {
            display: none;
          }
        }

        button.attachment-button {
          @include OC_Body_Book();
          font-size: 14px;
          color: $deep_navy;
          position: relative;
          float: left;
          padding: 0;
          width: 32px;
          height: 32px;
          background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
          background-color: rgba($deep_navy, 0.1);
          background-size: 14px 16px;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 1;
          border-left: 1px solid rgba($deep_navy, 0.1);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        div.emoji-picker {
          float: left;
          width: 32px;
          height: 32px;

          button.emoji-button {
            width: 32px;
            height: 32px;
            background-position: center;
            background-size: 16px 16px;
            padding: 0px;
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
            background-color: rgba($deep_navy, 0.1);
            opacity: 1;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          @include mobile() {
            display: none;
          }

          div.picker-container {
            right: -16px;
            left: unset;
          }
        }

        div.post-button-container {
          float: right;
          // background-color: $carrot_green;
          // color: white;
          // width: 56px;
          // height: 32px;
          // @include OC_Body_Bold();
          // font-size: 14px;
          // border-radius: 4px;
          margin-left: 16px;

          // div.post-to-button div.post-to-bt-container.tt-title div.post-bt-tooltip {
          //   right: -42px;
          // }

          @include mobile() {
            display: none;
          }
        }

        div.board-name {
          width: 160px;
          height: 32px;
          cursor: pointer;
          position: relative;
          float: right;
          @include OC_Body_Book();
          font-size: 14px;
          color: $deep_navy;
          line-height: 16px;
          padding: 7px 8px;
          background-image: cdnUrl("/img/ML/select_arrows.svg");
          background-size: 8px 10px;
          background-position: top 11px right 8px;
          background-repeat: no-repeat;
          background-color: $ultra_light_grey;
          border-radius: 4px;
          margin-left: 16px;

          @include big_web() {
            &:hover, &.active {
              background-color: $more_ultra_light_grey;
            }
          }

          div.board-name-inner {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 16px);
            white-space: nowrap;
          }

          @include mobile() {
            width: calc(100% - 16px - 32px);
            background-image: cdnUrl("/img/ML/select_arrows.svg");
            background-color: $ultra_light_grey;
            color: $deep_navy;

            &:hover, &.open {
              background-color: $more_ultra_light_grey;
            }
          }
        }
      }
    }
  }
}