div.cmail-outer {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  background-color: var(--cmail-background-color);
  box-shadow: var(--cmail-active-box-shadow);
  border: var(--cmail-active-border);
  border-radius: 6px;

  @include mobile() {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: 100vh;
    width: 100vw;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--mobile-background-color);
    margin-bottom: 0;
    z-index: #{$navbar_zindex + 20};
  }

  div.trial-expired-alert-container {
    display: none;
  }

  &.quick-post-collapsed {

    @include mobile() {
      display: none;
    }

    &.show-trial-expired-alert {
      div.cmail-container, div.cmail-container div.cmail-content-outer,
      div.cmail-container div.cmail-content-outer div.cmail-content
      div.rich-body-editor-outer-container div.rich-body-editor-container div.rich-body-editor {
        cursor: not-allowed;
      }

      div.trial-expired-alert-container {
        margin-left: -#{$paywall_alert_width / 2}px;
      }

      @include big_web() {
        &:hover {
          div.trial-expired-alert-container {
            display: block;
          }
        }
      }
    }

    div.cmail-container {

      div.dismiss-inline-cmail-container {
        display: none;
      }

      div.delete-bt-container {
        display: none;
      }

      div.cmail-content-outer {
        padding: 18px 24px;

        div.cmail-content {
          height: 20px;
          min-height: 20px;

          div.cmail-content-headline-container {
            display: none;
          }

          div.cmail-content-abstract-container-outer {
            display: none;
          }

          div.rich-body-editor-outer-container {
            display: none;
          }

          div.stream-attachments {
            display: none;
          }

          div.cmail-content-collapsed-placeholder {
            @include OC_Body_Book();
            font-size: 16px;
            line-height: 20px;
            height: 20px;
            color: var(--light-color);
            display: block;
            cursor: text;

            @include no-user-select();
          }
        }
      }

      div.cmail-footer {
        display: none;
      }
    }
  }

  div.cmail-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;

    @include mobile() {
      width: 100vw;
      height: auto;
      padding-top: #{$mobile_navbar_height}px;
    }

    div.cmail-mobile-header {
      display: none;

      @include mobile() {
        display: block;
        width: 100vw;
        height: #{$mobile_navbar_height}px;
        padding: 11px 16px;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--divider-line);
        background-color: var(--mobile-background-color);
        z-index: 2;

        button.mobile-close-bt {
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          width: 32px;
          height: 32px;
          padding: 0;
          position: absolute;
          top: 11px;
          left: 16px;
          background-color: var(--opac-background-color-1);
          border-radius: 4px;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
          }
        }

        div.cmail-mobile-header-right {
          position: absolute;
          top: 32px;
          right: -16px;

          button.mobile-attachment-button {
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
            background-size: 14px 16px;
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            padding: 0;
            opacity: 1;
            background-color: var(--opac-background-color-1);
            border-radius: 4px;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
            }
          }
        }
      }
    }

    div.dismiss-inline-cmail-container {
      position: absolute;
      top: -16px;
      right: -16px;
      display: block;

      @include mobile() {
        display: none;
      }

      button.dismiss-inline-cmail {
        width: 32px;
        height: 32px;
        padding: 0;
        background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
        background-size: 12px 12px;
        background-color: var(--color);
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        display: block;
        border: none;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
        }

        &:not(.disabled):hover {
          opacity: 0.9;
        }
      }

      &.long-tooltip {
        .tooltip {
          width: 96px;
        }
      }
    }

    div.post-button-container {
      position: relative;
      float: right;

      @include mobile() {
        margin-left: 16px;
        padding-left: 16px;
        border-left: 1px solid var(--divider-line);
      }
    }

    div.cmail-content-outer {
      padding: 16px 16px 16px 24px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @include mobile() {
        background-color: transparent;
        padding: 24px 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
      }
    }

    div.cmail-content {
      min-height: 112px;
      overflow-y: auto;
      overflow-x: auto;
      overflow: visible;
      height: auto;

      @include mobile() {
        padding: 4px 16px 24px;
        min-height: calc(100vh - 112px);
        max-height: initial;
        overflow-x: visible;
        overflow-y: visible;
      }

      div.section-picker-bt-container {
        display: none;

        @include mobile() {
          display: block;
          position: relative;
          margin: 0;
          width: 100%;
          height: 40px;
          border-bottom: 1px solid var(--divider-line);
          padding-bottom: 16px;
          margin-bottom: 16px;

          span.post-to {
            float: left;
            display: block;
            height: 28px;
            font-size: 16px;
            line-height: 28px;
            @include OC_Body_Book();
            color: var(--color);
            margin-right: 8px;
            width: 52px;
          }

          div.sections-picker {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: #{$navbar_zindex - 1};
          }

          button.section-picker-bt {
            float: left;
            height: 28px;
            padding: 5px 24px 5px 8px;
            background-color: var(--cmail-section-bt-background);
            border-radius: 4px;
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;
            color: var(--cmail-section-bt-color);
            position: relative;
            text-align: left;
            max-width: 200px;
            vertical-align: super;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:after {
              content: "";
              width: 8px;
              height: 10px;
              position: absolute;
              top: calc(50% - 5px);
              right: 8px;
              background-image: cdnUrl("/img/ML/select_arrows_white.svg");
              background-size: 8px 10px;
              background-repeat: no-repeat;
              background-position: center;

              @include dark_mode() {
                background-image: cdnUrl("/img/ML/select_arrows_white@dark.svg");
              }
            }
          }
        }
      }

      div.cmail-content-abstract-bt-container {
        border-bottom: 1px solid var(--divider-line);
        padding: 6px 0 12px;
        margin-bottom: 16px;
        display: block;

        button.show-abstract-bt {
          float: left;
          color: $wut_purple;
          padding: 0;
          margin: 0;
          height: 24px;
          text-align: left;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 24px;

          @include mobile() {
            display: none;
          }
        }

        .tooltip {
          width: 172px;
        }
      }

      div.cmail-content-headline-container {
        display: block;

        div.cmail-content-headline {
          border: none;
          outline: none;
          cursor: text;
          @include activity-title(20px, 28px);
          color: var(--color);
          white-space: normal;
          overflow-wrap: break-word;
          min-height: 28px;
          line-height: 28px;
          border: none;
          margin: 0;
          padding: 0;
          display: block;

          @include mobile() {
            @include activity-title(16px, 22px);
            min-height: 22px;
            line-height: 22px;

            &:empty:before {
              @include activity-title(16px, 22px);
              height: 22px;
            }
          }

          &:empty:before {
            content: attr(placeholder);
            @include activity-title(20px, 28px);
            display: inline-block;
            color: var(--light-color) !important;
            font-style: none;
            height: 28px;
            margin: 0;
            padding: 0;
          }
        }
      }

      div.cmail-content-collapsed-placeholder {
        display: none;
      }

      div.cmail-content-abstract-container-outer {
        background-color: var(--opac-background-color-1);
        padding: 16px 24px;
        position: relative;
        margin-top: 24px;
        margin-bottom: 16px;
        border-radius: 4px;
        display: block;

        @include mobile() {
          padding: 8px 16px;
          margin-top: 40px;
          margin-bottom: 32px;
        }

        button.remove-abstract-bt {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 4px;
          right: 4px;
          background-image: cdnUrl("/img/ML/black_close.svg");
          background-size: 8px 8px;
          background-repeat: no-repeat;
          background-position: center;
        }

        div.cmail-content-abstract-container {
          @include activity-abstract(17px, 22px);
        }
      }

      div.rich-body-editor-outer-container {
        position: relative;
        margin-top: 8px;

        &.block-edit {
          &, * {
            pointer-events: none;
          }
        }

        @include mobile() {
          min-height: calc(100vh - 334px);
          padding-top: 16px;
        }
      }

      &.section-picker-visible {
        div.rich-body-editor-container div.medium-editor-media-picker {
          left: 323px;
        }
      }

      div.rich-body-editor-container {
        position: relative;
        height: auto;
        margin-top: 0;

        div.medium-editor-media-picker {
          top: unset;
          left: unset;
          bottom: -64px;
          left: 142px;
        }

        div.rich-body-editor {
          border: none;
          outline: none;
          margin: 0;
          cursor: text;
          color: var(--color);
          @include OC_Body_Book();
          height: auto;

          @include big_web() {
            @include activity-body(16, 20, var(--color), 16);
            font-size: 16px;
            line-height: 20px;
            min-height: 76px;
          }

          @media screen and (min-height: 556px) {
            min-height: 76px;
          }

          @include mobile() {
            min-height: 20vh;
            max-height: initial;
            @include activity-body(16, 22, var(--color), 16);
            overflow-y: auto;
            overflow-x: visible;
            padding-bottom: 30vh;

            &:after {
              line-height: 22px;
            }
          }

          &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
            color: var(--light-color) !important;
            font-style: normal;
          }

          &:after {
            margin: 0;
            line-height: 22px;
          }
        }
      }
    }

    div.cmail-footer {
      height: 64px;
      width: 100%;
      padding: 16px 16px 16px 24px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      @include mobile() {
        display: none;
      }

      button.attachment-button {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        position: relative;
        float: left;
        padding: 0;
        width: 24px;
        height: 32px;
        background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
        background-size: 14px 16px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.3;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
        }

        &:not(.disabled):hover {
          opacity: 1;
        }
      }

      div.emoji-picker {
        float: left;
        width: 24px;
        height: 32px;
        margin-right: 7px;

        button.emoji-button {
          width: 24px;
          height: 32px;
          background-position: center;
          background-size: 16px 16px;
          padding: 0px;
          position: absolute;
          top: 0px;
          left: 0px;
          cursor: pointer;
          opacity: 0.3;
          border-radius: 0;

          &:not(.disabled):hover {
            opacity: 1;
          }
        }

        @include mobile() {
          display: none;
        }

        div.picker-container {
          right: -16px;
          left: unset;
        }
      }

      div.section-picker-bt-container {
        margin: 0 28px 0 4px;
        position: relative;
        display: block;
        float: left;
        height: 32px;

        &:after {
          width: 1px;
          height: 16px;
          background-color: var(--divider-line);
          position: absolute;
          top: 8px;
          right: -16px;
          content: "";
        }

        &.hidden {
          display: none;
        }

        .tooltip {
          width: 95px;
        }

        div.sections-picker {
          position: absolute;
          top: 32px;
          left: 0;
          z-index: #{$navbar_zindex - 1};

          @include mobile (){
            top: 30px;
          }
        }

        button.section-picker-bt {
          height: 32px;
          width: 100px;
          padding: 0 12px 0 0;
          position: relative;
          text-align: left;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 32px;
          color: $wut_purple;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: super;
          white-space: nowrap;
          max-width: 100%;

          @include mobile() {
            height: 28px;
            font-size: 16px;

            &:after {
              top: 9px;
            }
          }

          &:after {
            content: "";
            width: 8px;
            height: 32px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: cdnUrl("/img/ML/purple_arrow.svg");
            background-size: 8px 4px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }

      div.post-button-container {
        float: left;
        margin-right: 12px;

        @include mobile() {
          display: none;
        }
      }

      div.delete-bt-container {
        flat: left;

        @include mobile() {
          display: none;
        }

        button.delete-bt {
          position: relative;
          height: 32px;
          width: 24px;
          background-image: cdnUrl("/img/ML/cmail_delete.svg");
          background-size: 14px 16px;
          background-position: center;
          background-repeat: no-repeat;
          padding: 0;
          opacity: 0.3;
          display: block;

          &:not(.disabled):hover {
            opacity: 1;
          }

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/cmail_delete@dark.svg");
          }
        }
      }

      div.cmail-footer-right {
        float: right;
        position: relative;

        div.post-button-container {
          float: right;

          @include mobile() {
            display: none;
          }
        }

        div.section-picker-bt-container {
          float: right;
        }

        div.delete-bt-container {
          flat: right;
        }
      }
    }
  }
}