div.cmail-outer {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  background-color: var(--cmail-background-color);
  box-shadow: var(--cmail-active-box-shadow);
  border: var(--cmail-active-border);
  border-radius: 6px;

  @include mobile() {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
    height: 100vh;
    width: 100vw;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--mobile-background-color);
    margin-bottom: 0;
    z-index: #{$navbar_zindex + 20};
  }

  @include big_web() {
    &.quick-post-collapsed {
      div.cmail-container {

        div.dismiss-inline-cmail-container {
          display: none;
        }

        div.delete-bt-container {
          display: none;
        }

        div.fullscreen-bt-container {
          display: none;
        }

        div.cmail-content-outer {
          padding: 18px 24px;

          div.cmail-content {
            height: 20px;
            min-height: 20px;

            div.cmail-content-headline-container {
              display: none;
            }

            div.rich-body-editor-outer-container {
              display: none;
            }

            div.stream-attachments {
              display: none;
            }

            div.cmail-content-collapsed-placeholder {
              @include OC_Body_Book();
              font-size: 16px;
              line-height: 20px;
              height: 20px;
              color: var(--light-color);
              display: block;
              cursor: text;

              @include no-user-select();
            }
          }
        }

        div.cmail-footer {
          display: none;
        }
      }
    }
  }

  div.cmail-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;

    @include mobile() {
      width: 100vw;
      height: auto;
      padding-top: #{$mobile_navbar_height}px;
    }

    div.cmail-mobile-header {
      display: none;

      @include mobile() {
        display: block;
        width: 100vw;
        height: #{$mobile_navbar_height}px;
        padding: 11px 16px;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--divider-line);
        background-color: var(--mobile-background-color);
        z-index: 2;
        display: flex;
        flex-flow: row nowrap;
        justify-items: center;
        align-items: center;

        div.cmail-mobile-header-left {
          margin-right: auto;
          flex: 0 0 auto;
          height: 32px;

          button.mobile-attachment-button {
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
            background-size: 16px 18px;
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            padding: 0;
            opacity: 1;
            border-radius: 4px;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
            }
          }
        }

        div.cmail-mobile-header-title {
          @include OC_Body_Book();
          font-size: 16px;
          flex: 0 1 auto;
          max-width: 50vw;
        }

        button.mobile-close-bt {
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          width: 32px;
          height: 32px;
          padding: 0;
          border-radius: 4px;
          flex: 0 0 auto;
          margin-left: auto;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
          }
        }
      }
    }

    div.dismiss-inline-cmail-container {
      position: absolute;
      top: -16px;
      right: -16px;
      display: block;

      @include mobile() {
        display: none;
      }

      button.dismiss-inline-cmail {
        width: 32px;
        height: 32px;
        padding: 0;
        background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
        background-size: 12px 12px;
        background-color: var(--color);
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        display: block;
        border: none;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
        }

        &:not(.disabled):hover {
          opacity: 0.9;
        }
      }

      &.long-tooltip {
        .tooltip {
          width: 88px;
        }
      }
    }

    div.post-button-container {
      position: relative;
      float: right;

      @include mobile() {
        padding-left: 16px;
      }
    }

    div.cmail-content-outer {
      padding: 16px 16px 16px 24px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @include mobile() {
        background-color: transparent;
        padding: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
      }
    }

    div.cmail-content {
      min-height: 112px;
      overflow-y: auto;
      overflow-x: auto;
      overflow: visible;
      height: auto;

      @include mobile() {
        padding: 16px;
        min-height: calc(100vh - #{$mobile_navbar_height}px);
        max-height: initial;
        overflow-x: visible;
        overflow-y: visible;
      }

      @include mobile() {
        &.has-section-button {
          &.sections-dropdown-shown {
            div.section-picker-bt-container {
              overflow-x: visible;
              overflow-y: visible;
            }
          }

          @media screen and (max-width: 321px) {
            div.section-picker-bt-container {
              div.section-picker-container {
                left: 0;
              }
            }
          }

          div.section-picker-bt-container {
            @media screen and (min-width: 322px) {
              span.post-to {
                display: block;
              }
            }
            button.section-picker-bt {
              display: flex;
            }
          }
        }
      }

      div.section-picker-bt-container {
        display: none;

        @include mobile() {
          display: block;
          position: relative;
          margin: 0;
          width: 100%;
          height: 48px;
          border-bottom: 1px solid var(--divider-line);
          padding-bottom: 16px;
          margin-bottom: 24px;
          display: flex;
          flex-flow: row nowrap;
          justify-items: center;
          align-items: center;
          overflow-x: auto;
          overflow-y: hidden;

          span.post-to {
            height: 32px;
            font-size: 16px;
            line-height: 32px;
            @include OC_Body_Book();
            color: var(--color);
            margin-right: 8px;
            width: 50px;
            flex: 0 0 50px;
            display: none;
          }

          div.section-picker-container {
            position: absolute;
            top: 40px;
            left: 58px;
            z-index: #{$navbar_zindex - 1};
            display: block;
          }

          button.section-picker-bt {
            height: 32px;
            padding: 7px 8px;
            // background-color: var(--cmail-section-bt-background);
            background-color: var(--secondary-color);
            border-radius: 4px;
            // color: var(--cmail-section-bt-color);
            color: var(--primary-color);
            position: relative;
            text-align: left;
            max-width: calc(100% - 50px - 8px - 16px - 120px);
            flex: 0 1 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            display: none;
            min-width: 100px;

            @media screen and (max-width: 321px) {
              min-width: 158px;
            }

            span.section-picker-bt-copy {
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              flex: 0 1 auto;
              margin-right: 4px;
            }

            div.dropdown-cog {
              width: 6px;
              height: 4px;
              margin-left: 4px;
              @include svgBgColor("/img/ML/dropdown_cog.svg", center, 6px 4px, var(--primary-color));
              flex: 0 0 6px;
            }
          }

          div.post-button-container {
            margin-left: auto;
            margin-right: 0;
            flex: 0 0 auto;
          }
        }
      }

      div.cmail-content-headline-container {
        display: block;
        padding: 0 0 16px;

        @include mobile() {
          padding: 0;
        }

        div.cmail-content-headline {
          border: none;
          outline: none;
          cursor: text;
          @include activity-title(20, 28);
          color: var(--color);
          white-space: normal;
          overflow-wrap: break-word;
          min-height: 28px;
          line-height: 28px;
          border: none;
          margin: 0;
          padding: 0;
          display: block;

          @include mobile() {
            @include activity-title(18, 23);
            min-height: 23px;
            line-height: 23px;
          }

          &:empty:before {
            content: attr(placeholder);
            @include activity-title(20, 28);
            display: inline-block;
            color: var(--light-color) !important;
            font-style: none;
            height: 28px;
            margin: 0;
            padding: 0;

            @include mobile() {
              @include activity-title(18, 23);
              height: 23px;
            }
          }
        }
      }

      div.cmail-content-collapsed-placeholder {
        display: none;
      }

      div.rich-body-editor-outer-container {
        position: relative;

        &.block-edit {
          &, * {
            pointer-events: none;
          }
        }

        @include mobile() {
          margin-top: 16px;
          min-height: calc(100vh - 334px);
        }
      }

      div.rich-body-editor-container {
        position: relative;
        height: auto;
        margin-top: 0;

        div.rich-body-editor {
          border: none;
          outline: none;
          margin: 0;
          cursor: text;
          color: var(--color);
          @include OC_Body_Book();
          height: auto;

          @include big_web() {
            @include activity-body(16, 20, var(--color), 16);
            font-size: 16px;
            line-height: 20px;
            min-height: 76px;
          }

          @media screen and (min-height: 556px) {
            min-height: 76px;
          }

          @include mobile() {
            min-height: 20vh;
            max-height: initial;
            @include activity-body(16, 22, var(--color), 16);
            overflow-y: auto;
            overflow-x: visible;
            padding-bottom: 30vh;

            &:after {
              line-height: 22px;
            }
          }

          &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
            color: var(--light-color) !important;
            font-style: normal;
          }

          &:after {
            margin: 0;
            line-height: 22px;
          }
        }
      }
    }

    div.cmail-footer {
      height: 64px;
      width: 100%;
      padding: 16px 16px 16px 24px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      @include mobile() {
        display: none;
      }

      button.attachment-button {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        position: relative;
        padding: 0;
        width: 24px;
        height: 32px;
        background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
        background-size: 14px 16px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.3;
        flex: 0 0 auto;
        order: 4;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
        }

        &:not(.disabled):hover {
          opacity: 1;
        }
      }

      div.emoji-picker {
        width: 24px;
        height: 32px;
        margin-right: 7px;
        flex: 0 0 auto;
        order: 3;

        button.emoji-button {
          width: 24px;
          height: 32px;
          background-position: center;
          background-size: 16px 16px;
          padding: 0px;
          position: absolute;
          top: 0px;
          left: 0px;
          cursor: pointer;
          opacity: 0.3;
          border-radius: 0;

          &:not(.disabled):hover {
            opacity: 1;
          }
        }

        @include mobile() {
          display: none;
        }

        div.picker-container {
          right: -16px;
          left: unset;
        }
      }

      div.section-picker-bt-container {
        margin: 0 28px 0 4px;
        position: relative;
        display: block;
        height: 32px;
        order: 2;
        flex: 0 1 auto;

        &:after {
          width: 1px;
          height: 16px;
          background-color: var(--divider-line);
          position: absolute;
          top: 8px;
          right: -16px;
          content: "";
        }

        &.hidden {
          display: none;
        }

        .tooltip {
          width: 95px;
        }

        div.section-picker-container {
          position: absolute;
          top: 32px;
          left: 0;
          z-index: #{$navbar_zindex - 1};

          @include mobile (){
            top: 30px;
          }
        }

        button.section-picker-bt {
          height: 32px;
          padding: 7px 8px;
          // background-color: var(--cmail-section-bt-background);
          background-color: var(--secondary-color);
          border-radius: 4px;
          // color: var(--cmail-section-bt-color);
          color: var(--primary-color);
          position: relative;
          text-align: left;
          max-width: 100%;
          flex: 0 1 auto;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;

          span.section-picker-bt-copy {
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 0 1 auto;
            margin-right: 4px;
          }

          div.dropdown-cog {
            width: 6px;
            height: 4px;
            margin-left: 4px;
            @include svgBgColor("/img/ML/dropdown_cog.svg", center, 6px 4px, var(--primary-color));
            flex: 0 0 6px;
          }
        }
      }

      div.post-button-container {
        margin-left: 0;
        margin-right: 12px;
        flex: 0 0 auto;
        order: 1;

        @include mobile() {
          display: none;
        }
      }

      div.delete-bt-container {
        flex: 0 0 auto;
        order: 6;
        margin-left: auto;

        @include mobile() {
          display: none;
        }

        button.delete-bt {
          position: relative;
          height: 32px;
          width: 24px;
          background-image: cdnUrl("/img/ML/cmail_delete.svg");
          background-size: 14px 16px;
          background-position: center;
          background-repeat: no-repeat;
          padding: 0;
          opacity: 0.3;
          display: block;

          &:not(.disabled):hover {
            opacity: 1;
          }

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/cmail_delete@dark.svg");
          }
        }
      }

      div.fullscreen-bt-container {
        float: left;
        margin-right: 7px;

        @include mobile() {
          display: none;
        }

        button.fullscreen-bt {
          position: relative;
          height: 32px;
          width: 24px;
          background-image: cdnUrl("/img/ML/cmail_fullscreen_expand_black.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          padding: 0;
          opacity: 0.3;
          display: block;

          &:not(.disabled):hover {
            opacity: 1;
          }

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/cmail_fullscreen_expand.svg");
          }
        }
      }

      div.cmail-footer-media-picker-container {
        margin-left: 6px;
        flex: 0 0 auto;
        order: 5;
      }
    }
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: #{$navbar_zindex + 100};
    background-color: $carrot_modal_bg;
    border: none;
    box-shadow: none;

    @include mobile() {
      background-color: var(--mobile-background-color);
      border: initial;
      box-shadow: initial;
    }

    div.cmail-container {
      width: #{$modal_width}px;
      // min-height: 318px;
      height: auto;
      position: relative;
      background-color: var(--cmail-fullscreen-background-color);
      box-shadow: var(--cmail-active-box-shadow);
      border: var(--cmail-active-border);
      border-radius: 6px;
      margin: 96px auto;

      @include mobile() {
        width: 100vw;
        box-shadow: none;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: var(--mobile-background-color);
        margin-bottom: 0;
        z-index: #{$navbar_zindex + 20};
        min-height: initial;
        margin: 0 auto;
        border: none;
      }

      div.cmail-content-outer {
        padding: 68px 24px 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - (96px * 2) - 64px); // Window height less top and bottom margin and the footer

        @include mobile() {
          padding: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          max-height: initial;
          overflow-x: initial;
          overflow-y: initial;
        }
      }

      div.cmail-content {
        min-height: initial;
        overflow-y: initial;
        overflow-x: initial;
        overflow: initial;
        height: initial;

        @include mobile() {
          padding: 16px 16px 24px;
          min-height: calc(100vh - #{$mobile_navbar_height}px - 1px);
          max-height: initial;
          overflow-x: visible;
          overflow-y: visible;
        }

        div.cmail-content-headline-container {
          position: absolute;
          top: 0;
          width: #{$modal_width - 24 - 24}px;
          min-height: 28px;
          padding: 24px 0 16px;
          background-color: var(--cmail-fullscreen-background-color);
          z-index: 2;

          @include mobile() {
            position: initial;
            top: unset;
            width: 100%;
            min-height: 23px;
          }
        }

        div.rich-body-editor-outer-container {
          @include mobile() {
            margin-top: 16px;
            padding-top: 0;
          }
        }

        div.rich-body-editor-container {
          div.rich-body-editor {
            @include big_web() {
              min-height: 184px;
            }

            @media screen and (min-height: 556px) {
              min-height: 184px;
            }
          }
        }
      }

      div.cmail-footer {
        div.section-picker-bt-container {
          div.section-picker-container {
            position: absolute;
            top: unset;
            bottom: 32px;
            left: 0;
            z-index: #{$navbar_zindex - 1};
          }
        }

        div.cmail-footer-right {
          div.fullscreen-bt-container {
            display: none;
          }
        }
      }
    }
  }
}