div.company-dashboard {
  background-color: #fff;

  div.page{
    position: relative; /* Set the position property so z-index will apply */
    z-index: 20; /* Make sure this is higher than #menu */
    top: 0px !important;
   
    background: #fff;
    min-height: calc(100vh - #{$navbar_height}px - #{$footer_height}px);
  }
}

body.small-footer {
  div.company-dashboard {
    div.page {
      min-height: calc(100vh - #{$navbar_height}px - #{$footer_small_height}px);
    }
  }
}

body.animating {
  div.company-dashboard {
    min-height: calc(100vh);
  }
}

body.small-footer.animating {
  div.company-dashboard {
    div.page {
      min-height: calc(100vh);
    }
  }
}