div.company-avatar {
  float: left;

  a, 
  a:hover {
    text-decoration: none;
  }

  div.company-avatar-container {

    div.company-avatar-border {
      width: 50px;
      height: 50px;
      border: solid 1px rgba(78, 90, 107, 0.2);
      padding: 5px;

      img.company-avatar-img{
        float: left;
        max-width: 40px;
        max-height: 40px;
      }
      span.company-avatar-initial {
        font-size: 38px;
        color: $oc_gray_5;
        margin-left: 7px;
        margin-top: -8px;
        float: left;
      }
    }

    span.company-name {
      font-family: $oc_headers_font;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      color: $oc_gray_5;
      margin-top: -33px;
      margin-left: 60px;
      float: left;
    }
  }
}