div.is-comments {
  float: left;
  text-align: right;
  height: 26px;

  div.is-comments-authors {
    float: left;

    &:not(:empty){
      margin-right: 8px;
    }

    div.is-comments-author {
      float: left;
      width: 28px;
      height: 28px;
      border: 2px solid white;
      background-color: white;
      border-radius: 12px;
      margin-left: -10px;

      @include user-profile(24);

      &:first-child {
        margin-left: 0px;
      }
    }
  }

  div.is-comments-summary {
    float: left;
    font-size: 12px;
    color: $ui_grey;
    @include avenir_R();
    margin-top: 6px;
    text-align: left;
    white-space: nowrap;
    // max-width: 74%;
    overflow: hidden;
    text-overflow: ellipsis;

    &.add-a-comment {
      opacity: 0.5;
    }

    @include mobile() {
      max-width: 68vw;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    span.add-a-comment {
      padding-left: 6px;
      color: $deep_navy;

      &:before {
        content: "";
        background-image: cdnUrl("/img/ML/tile_comments_icon.svg");
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        float: left;
        display: block;
      }
    }
  }
}