/* Company settings */

div.main-company-settings{
  div.company-settings-container {
    div.settings-container {
      div.company-settings {
        font-size: 26px;
        line-height: 1.4;
        color: $oc_gray_5;
        height: 74px;

        span {
          float: left;
        }

        div.small-loading-container {
          float: left;
          margin-left: 20px;
        }
      }

      img.loading-spinner {
        margin-left: 25px;
        margin-bottom: 10px;
        width: 50px;
        opacity: 0;

        &.loading {
          opacity: 1;
        }
      }

      div.company-form{
        background-color: rgba(78, 90, 107, 0.05);

        select.company-currency {
          -webkit-appearance: none;
          align-items: center;
          white-space: pre;
          -webkit-rtl-ordering: logical;
          cursor: default;
        }
      }
    }
  }
}