div.company-avatar {
  float: left;

  a, a:hover {
    text-decoration: none;
  }

  div.company-avatar-container {

    div.company-avatar-border {
      width: 45px;
      height: 45px;
      padding: 5px;
      text-align: center;
      white-space: nowrap;
      text-align: center;

      img.company-avatar-img{
        max-width: 35px;
        max-height: 35px;
        vertical-align: middle;
      }

      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      span.company-avatar-initial {
        font-size: 19px;
        color: $oc_gray_5;
        line-height: 1.1;
        vertical-align: middle;
      }
    }

    span.company-name {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.2;
      color: $oc_gray_5;
      margin-top: -34px;
      margin-left: 54px;
      float: left;

      &.no-logo {
        @include mobile(){
          margin-left: 9px;
          margin-top: 13px;
        }

        @include big_web(){
          margin-top: 15px;
          margin-left: 0px;
        }

      }
    }
  }
}