div.is-comments {
  float: left;
  text-align: right;
  height: 26px;

  @include mobile() {
    height: 20px;
  }

  div.is-comments-authors {
    float: left;
    margin-top: 2px;

    @include mobile (){
      display: none;
    }

    &:not(:empty){
      margin-right: 8px;
    }

    &.show-border {
      div.is-comments-author {
        background-color: transparent;
        border: 2px solid transparent;
      }
    }

    div.is-comments-author {
      float: left;
      width: 22px;
      height: 22px;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 50%;
      margin-left: -10px;

      @include user-profile(18);

      @include mobile(){
        width: 20px;
        height: 20px;
        border: 1px solid transparent;
        margin-left: -8px;

        @include user-profile(16);
      }

      &:first-child {
        margin-left: 0px;
      }
    }
  }

  div.is-comments-summary {
    float: left;
    font-size: 12px;
    color: rgba($deep_navy, 0.5);
    @include OC_Body_Book();
    margin-top: 4px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.has-new-comments {
      color: $deep_navy;

      @include mobile() {
        &:before {
          opacity: 1;
        }
      }
    }

    @include big_web() {
      cursor: pointer;

      &:hover {
        color: $deep_navy;

        span.add-a-comment {
          color: $deep_navy;
        }
      }
    }

    @include mobile() {
      margin-top: 0;
      line-height: 20px;

      div.is-comments-summary-inner {
        float: left;
        margin-left: 6px;
      }

      &:before {
        content: "";
        background-image: cdnUrl("/img/ML/tile_comments_icon.svg");
        background-size: 12px 12px;
        background-position: center 5px;
        background-repeat: no-repeat;
        width: 12px;
        height: 20px;
        float: left;
        display: block;
        opacity: 0.5;
      }
    }

    @include new-comments-tag();

    div.new-comments-tag {
      margin-left: 6px;
      display: inline-block;

      @include mobile() {
        margin-left: 4px;
      }
    }

    span.add-a-comment {
      color: rgba($deep_navy, 0.5);

      @include mobile() {
        display: none;
      }
    }
  }
}