$comment_avatar_size: 32;
$gradient_base_color: #fcfdfc; // rgba($carrot_light_gray_2, 0.15)

div.comments {
  width: 100%;
  position: relative;
  height: 100%;

  @include mobile() {
    margin: 32px auto 80px;
    height: auto;
  }

  &.loading div.small-loading {
    margin-left: 24px;
  }

  div.vertical-line {
    height: 100%;
    width: 1px;
    background-color: $carrot_light_gray_2;
    position: absolute;
    top: 0px;
    left: 16px;

    @include mobile() {
      display: none;
    }
  }

  div.top-gradient {
    position: absolute;
    height: 40px;
    z-index: 10;
    pointer-events: none;
    background: -moz-linear-gradient(top,  rgba($gradient_base_color, 1) 0%, rgba($gradient_base_color,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,rgba($gradient_base_color,0)), color-stop(100%,rgba($gradient_base_color,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$gradient_base_color}', endColorstr='transparent',GradientType=0 ); /* IE6-9 */

    @include mobile() {
      display: none;
    }

    &.top-left {
      top: 0px;
      left: 0px;
      width: 16px;
    }

    &.top-right {
      top: 0px;
      left: 17px;
      width: 283px;
    }
  }

  div.line-top-gradient {
    position: absolute;
    top: 0px;
    left: 16px;
    width: 1px;
    height: 35px;
    z-index: 10;
    pointer-events: none;
    background: -moz-linear-gradient(top,  rgba($carrot_light_gray_2, 1) 0%, rgba($carrot_light_gray_2,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,rgba($carrot_light_gray_2,0)), color-stop(100%,rgba($carrot_light_gray_2,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$carrot_light_gray_2}', endColorstr='transparent',GradientType=0 ); /* IE6-9 */

    @include mobile() {
      display: none;
    }
  }

  div.bottom-gradient {
    position: absolute;
    height: 40px;
    z-index: 10;
    pointer-events: none;
    background: -moz-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%, rgba($gradient_base_color,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, bottom, top, color-stop(0%,rgba($gradient_base_color,0)), color-stop(100%,rgba($gradient_base_color,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#{$gradient_base_color}',GradientType=0 ); /* IE6-9 */

    @include mobile() {
      display: none;
    }

    &.bottom-left {
      bottom: 0px;
      left: 0px;
      width: 16px;
    }

    &.bottom-right {
      bottom: 0px;
      left: 17px;
      width: 283px;
    }
  }

  div.line-bottom-gradient {
    position: absolute;
    bottom: 0px;
    left: 16px;
    width: 1px;
    height: 35px;
    z-index: 10;
    pointer-events: none;
    background: -moz-linear-gradient(bottom,  rgba($carrot_light_gray_2, 1) 0%, rgba($carrot_light_gray_2,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, bottom, top, color-stop(0%,rgba($carrot_light_gray_2,0)), color-stop(100%,rgba($carrot_light_gray_2,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba($carrot_light_gray_2, 1) 0%,rgba($carrot_light_gray_2,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#{$carrot_light_gray_2}',GradientType=0 ); /* IE6-9 */

    @include mobile() {
      display: none;
    }
  }

  div.comments-internal {
    min-height: 127px;
    height: calc(100% - 106px);
    width: 100%;
    margin-right: 16px;
    position: relative;
    bottom: 8px;
    left: 0;
    right: 0;
    top: 0;

    @include mobile() {
      position: unset;
      margin-right: 0px;
      min-height: initial;
      height: auto;
    }

    &.add-comment-focus {
      height: calc(100% - 188px);

      @include mobile() {
        height: auto;
      }
    }

    div.comments-internal-scroll {
      overflow-x: visible;
      overflow-y: auto;
      height: 100%;
      padding: 16px 10px 0px 0px;

      @include mobile() {
        padding: 0px;
        overflow-y: visible;
        height: auto;
      }
    }

    &.empty {

      div.comments-internal-empty {
        text-align: center;
        @include avenir_M();
        font-size: 14px;
        color: $carrot_light_gray;
        padding: calc(50% - 62px) 10px 0px;
        height: 100%;
        margin-left: 33px;

        @include mobile() {
          display: none;
        }

        div.no-comments-placeholder {
          width: 110px;
          height: 30px;
          background-size: 110px 30px;
          background-repeat: no-repeat;
          background-position: center;
          margin: 0 auto;
          @include image-2x("/img/ML/no_comments_placeholder");
        }

        div.no-comments-message {
          margin-top: 14px;
        }
      }
    }

    div.comment {
      margin: 0px;
      padding: 4px 14px 4px 0px;
      position: relative;

      &:hover div.comment-content div.comment-footer-container div.edit-delete-button button.more-button {
        opacity: 1;
      }

      div.comment-avatar-container {
        width: #{$comment_avatar_size}px;
        position: absolute;
        left: 0px;
        top: 20px;

        div.comment-avatar {
          width: #{$comment_avatar_size}px;
          height: #{$comment_avatar_size}px;
          background-position: 50%;
          background-size: #{$comment_avatar_size}px #{$comment_avatar_size}px;
          border-radius: #{$comment_avatar_size / 2}px;
        }
      }

      div.comment-content {
        width: calc(100% - #{$comment_avatar_size}px - 8px);
        float: right;

        div.comment-author-timestamp {
          display: block;

          div.comment-author {
            max-width: calc(60% - 8px);
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: $carrot_dark_gray_2;
            @include avenir_H();
            white-space: nowrap;
            float: left;
          }

          div.comment-timestamp {
            max-width: calc(40% - 5px);
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 2px;
            white-space: nowrap;
            float: right;
            @include avenir_M();
            color: rgba($carrot_light_gray_3, 0.5);
            font-size: 10px;
          }
        }

        &.single-emoji {
          div.comment-body-container {
            height: 50px;
            p.comment-body {
              background-color: transparent;
              font-size: 50px;
              padding: 0px;

              &.is-owner {
                background-color: transparent;
              }
            }
          }

          div.comment-footer-container {
            margin-top: 0px;
          }
        }

        div.comment-body-container {
          margin-top: 4px;

          p.comment-body {
            @include avenir_M();
            font-size: 13px;
            color: rgba(78,90,107,0.8);
            white-space: pre-wrap;
            word-wrap: break-word;
            padding: 13px 16px;
            background-color: $carrot_light_gray_9;
            border-radius: 6px;
            margin: 0px;
            min-height: initial;
            width: 252px;

            @include mobile() {
              width: 100%;
            }

            &.is-owner {
              background-color: $carrot_light_yellow;
            }

            &.editable {
              &.editing {
                outline: $oc_gray_5 auto 3px;

                @include mobile() {
                  border: 1px solid rgba($carrot_light_gray_9, 1);
                }
              }
            }

            .emojione {
              @include emoji-size(13);
            }
          }
        }

        div.comment-footer-container {
          height: 20px;
          width: 100%;
          margin-top: 4px;

          div.save-cancel-edit-buttons {
            display: none;

            @include mobile() {
              display: block;

              button {
                height: 20px;
                float: right;
                margin-left: 8px;
              }
            }
          }

          div.edit-delete-button {
            float: right;
            margin-right: 8px;
            position: relative;

            @include mobile(){
              &.editing {
                display: none;
              }
            }

            button.more-button {
              width: 18px;
              height: 18px;
              @include image-2x("/img/ML/horizontal_ellipsis");
              background-size: 18px 4px;
              background-position: center;
              background-repeat: no-repeat;
              opacity: 0;
              border: none;

              @include mobile() {
                opacity: 1;
              }

              &.more-dd-expanded {
                opacity: 1;
              }
            }

            div.dropdown-list-container {
              width: 92px;
              left: unset;
              right: calc(100% - 31px);
              top: unset;
              bottom: 24px;

              div.triangle {
                top: unset;
                bottom: -2px;
                left: unset;
                right: 12px;
                transform: rotate(225deg);
              }
            }
          }

          div.comment-reactions {
            float: right;
          }
        }
      }
    }

    div.add-comment-box-container {
      padding: 20px 24px 18px #{$comment_avatar_size + 8}px;
      position: relative;
      width: 316px;

      @include mobile() {
        padding: 0px;
        width: 100%;
      }

      div.add-comment-label {
        height: 14px;
        @include avenir_H();
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 8px;
        color: $carrot_light_gray_3;
      }

      &:before {
        content: "";
        height: 100%;
        width: 1px;
        background-color: $carrot_light_gray_2;
        position: absolute;
        top: 0px;
        left: 16px;
        z-index: 1;

        @include mobile() {
          display: none;
        }
      }

      div.add-comment-box {
        background-color: white;
        border-radius: 4px;
        border: 1px solid rgba($carrot_light_gray_1, 0.5);
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
        position: relative;
        left: 0;
        right: 0;
        bottom: 0px;
        width: 100%;
        padding: 10px 12px;

        @include mobile(){
          margin-bottom: 16px;
          box-shadow: none;
        }

        div.emoji-picker {
          position: absolute;
          right: 16px;
          top: 7px;

          @include mobile() {
            display: none;
          }

          button.emoji-button {
            width: 32px;
            height: 32px;
            background-color: $carrot_green_3;
            background-image: cdnUrl("/img/ML/emoji_picker_bt_green.svg");
            background-size: 14px 14px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 16px;

            &:hover {
              background-color: $carrot_green_2;
              background-image: cdnUrl("/img/ML/emoji_picker_bt_white.svg");
            }

            &.disabled:hover {
              background-color: $carrot_green_3;
              background-image: cdnUrl("/img/ML/emoji_picker_bt_green.svg");
            }

            @include preload_image(cdnUrl("/img/ML/emoji_picker_bt_white.svg"), "before");
          }

          div.picker-container {
            right: -92px !important;
          }
        }

        div.add-comment-internal{
          position: relative;

          div.add-comment {
            resize: none;
            width: 218px;
            border: none;
            outline: none;
            @include avenir_M();
            background-color: transparent;
            color: $carrot_light_gray_3;
            font-size: 14px;
            cursor: text;
            margin: 2px 0px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 20px;
            min-height: initial;
            white-space: pre-wrap;
            word-wrap: break-word;
            padding-right: 16px;

            @include mobile() {
              width: 100%;
            }

            &.show-buttons {
              height: 58px;
            }

            .emojione {
              @include emoji-size(13);
            }

            &:after {
              @include avenir_M();
              font-size: 14px;
              content: attr(placeholder);
              color: rgba($carrot_light_gray_3, 0.4);
              cursor: text;
              font-style: none;
            }
          }

          div.add-comment-footer {

            div.reply-button-container {
              float: right;
              button.reply-btn {
                float: right;
                color: $carrot_green;
                @include avenir_H();
                font-size: 14px;
                height: 32px;
                width: 59px;

                &:hover {
                  color: white;
                }
              }
            }
          }
        }

        &.show-buttons {
          padding: 16px;

          div.emoji-picker {
            right: 80px;
            bottom: 16px;
            top: unset;
          }
        }
      }
    }
  }
}