div.comment-reactions {
  height: 20spx;

  button.comment-reaction-btn {
    outline: none;
    position: relative;
    height: 20px;
    cursor: default;
    color: #C3C5C8;
    @include avenir_H();
    font-size: 14px;
    padding: 0px;

    div.reaction {
      display: inline-block;
      &.no-reactions {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }

    div.count {
      margin-left: 4px;
      display: inline-block;
    }

    &.can-react {
      cursor: pointer;
      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    &.reacted {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);

      div.count {
        color: $carrot_yellow;
      }
    }
  }
}