div.is-comments {
  float: left;
  text-align: right;
  height: 26px;

  @include mobile() {
    height: 22px;
  }

  @include big_web() {
    &:hover div.is-comments-bubble {
      opacity: 1;
    }
  }

  div.is-comments-bubble {
    float: left;
    width: 14px;
    margin-right: 8px;
    height: 100%;
    background-image: cdnUrl("/img/ML/foc_bubble.svg");
    background-size: 14px 14px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;

    @include dark_mode() {
      background-image: cdnUrl("/img/ML/foc_bubble@dark.svg");
    }
  }

  div.is-comments-authors {
    float: left;
    margin-top: 2px;

    @include mobile (){
      display: none;
    }

    &.show-border {
      div.is-comments-author {
        background-color: transparent;
        border: 2px solid transparent;
      }
    }

    div.is-comments-author {
      float: left;
      width: 22px;
      height: 22px;
      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 50%;
      margin-left: -10px;

      @include user-profile(16);

      @include mobile(){
        width: 20px;
        height: 22px;
        border: 1px solid transparent;
        margin-left: -8px;

        @include user-profile(16);
      }

      &:first-child {
        margin-left: 0px;
      }
    }
  }

  div.is-comments-summary {
    float: left;
    font-size: 14px;
    color: var(--light-color);
    @include OC_Body_Book();
    line-height: 26px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.has-new-comments {
      color: $wut_purple;
      @include OC_Body_Bold();

      @include mobile() {
        &:before {
          background-image: cdnUrl("/img/ML/tile_new_comments_icon.svg");
          opacity: 1;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/tile_new_comments_icon.svg");
          }
        }
      }
    }

    @include big_web() {
      cursor: pointer;

      &:hover {
        color: var(--color);

        span.add-a-comment {
          color: var(--color);
        }
      }
    }

    @include mobile() {
      margin-top: 0;
      font-size: 17px;
      line-height: 22px;

      div.is-comments-summary-inner {
        float: left;
        margin-left: 6px;
      }

      &:before {
        content: "";
        background-image: cdnUrl("/img/ML/tile_comments_icon.svg");
        background-position: center;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        width: 18px;
        height: 22px;
        float: left;
        display: block;
        opacity: 0.5;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/tile_comments_icon@dark.svg");
        }
      }
    }

    span.add-a-comment {
      color: var(--light-color);
      line-height: 26px;

      @include mobile() {
        display: none;
      }
    }
  }
}