$comment_avatar_size: 23;

div.comments {
  width: 100%;
  position: relative;
  height: 100%;

  div.top-gradient {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 10px;
    height: 40px;
    z-index: 10;
    pointer-events: none;
    background: -moz-linear-gradient(top,  rgba(241, 242, 237, 1) 0%, rgba(241, 242, 237,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,rgba(241, 242, 237,0)), color-stop(100%,rgba(241, 242, 237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(241, 242, 237, 1) 0%,rgba(241, 242, 237,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(241, 242, 237, 1) 0%,rgba(241, 242, 237,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(241, 242, 237, 1) 0%,rgba(241, 242, 237,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(241, 242, 237, 1) 0%,rgba(241, 242, 237,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2ed', endColorstr='transparent',GradientType=0 ); /* IE6-9 */
  }

  div.comments-internal {
    padding-bottom: 55px;
    max-height: 100%;
    min-height: 55px;
    width: 100%;
    bottom: 0px;
    left: 0;
    right: 0;
    position: absolute;
    transition: 230ms;

    &.empty {
      transition: 0ms !important;
      min-height: 100%;
    }

    &.add-comment-focus {
      padding-bottom: 120px;
      min-height: 120px;

      div.comments-internal-scroll {
        height: calc(100% - 65px);
      }
    }

    div.comments-internal-scroll {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      padding: 10px;
    }

    div.comments-internal-empty {
      text-align: center;
      @include avenir_M();
      font-size: 16px;
      color: $carrot_light_gray;
      margin-top: 20%;

      img {
        width: 23px;
        height: 23px;
      }

      div {
        margin-top: 24px;

        &:last-child {
          margin-top: 0px;
        }
      }
    }

    div.comment {
      margin: 10px 0;

      div.comment-header {
        div.comment-avatar {
          width: #{$comment_avatar_size}px;
          height: #{$comment_avatar_size}px;
          background-position: 50%;
          background-size: #{$comment_avatar_size}px #{$comment_avatar_size}px;
          border-radius: #{$comment_avatar_size / 2}px;
        }
        div.comment-author {
          margin-left: 20px;
          font-size: 14px;
          color: $oc_gray_5;
          font-weight: 700;
        }

        div.comment-timestamp {
          margin-left: 5px;
          margin-top: 4px;
          font-size: 11px;
          color: rgba(78,90,107,0.6);
        }
      }

      p.comment-body {
        @include avenir_M();
        font-size: 13px;
        color: rgba(78,90,107,0.8);
        font-weight: 300;
        margin: 0 0 0 #{$comment-avatar-size + 20}px;

        .emojione {
          @include emoji-size(11);
        }
      }

      div.comment-footer {
        color: rgba(78,90,107,0.4);
        font-size: 11px;
      }
    }

    div.add-comment-box {
      background-color: white;
      border-radius: 4px;
      border: 1px solid rgba(177, 184, 192, 0.5);
      padding: 0.5rem;
      transition: 230ms;
      left: 0;
      right: 0;
      position: absolute;
      bottom: 0px;
      width: calc(100% + 16px);

      &.expanded{
        div.add-comment-internal {
          div.add-comment {
            height: 70px;
            overflow: auto;
          }
        }
      }

      div.user-avatar-img-container {
        width: 23px;
        height: 23px;
        float: left;

        img.user-avatar-img {
          max-width: 23px;
          max-height: 23px;
          border-radius: 11.5px;
        }
      }

      div.add-comment-internal{
        margin-left: 35px;

        div.add-comment {
          resize: none;
          width: 100%;
          border: none;
          outline: none;
          @include avenir_R();
          background-color: transparent;
          color: $oc_gray_5;
          // height: 18px;
          font-size: 14px;
          transition: 230ms;
          overflow: hidden;
          cursor: text;

          .emojione {
            @include emoji-size(12);
          }

          &:empty:before {
            @include avenir_R();
            font-size: 14px;
            content: attr(placeholder);
            color: $carrot_light_gray_1;
            cursor: text;
          }
        }

        div.add-comment-footer {
          transition: 230ms;

          div.reply-button-container {
            button.reply-btn {
              float: left;
              color: $carrot_text_blue;
              @include avenir_R();
              font-size: 14px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}