div.company-editor {

  div.fullscreen-page {
    background-color: $oc_gray_1;

    @include mobile(){
      background-color: white;
    }

    div.company-editor-box {
      width: 520px;
      margin: #{$navbar_height + 20}px auto 20px;
      background-color: white;
      border: 2px solid $oc_yellow;
      border-radius: 5px;
      padding: 25px;

      @include mobile(){
        width: auto;
        border: 0px;
        margin: 0;
        padding: #{$navbar_height + 20}px 20px 20px;
      }

      label.company-editor-message {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        font-family: $oc_headers_font;
      } 

      input.company-editor-input {
        border: 1px solid rgba(78,90,107,0.4);
        height: 42px;
        width: 100%;
        font-size: 14px;
        font-family: $oc_main_font;
        padding: 0.3rem;
      }

      button.get-started-button {
        text-align: center;
      }
    }
  }
}