div.company-avatar {
  float: left;

  a, a:hover {
    text-decoration: none;
  }

  div.company-avatar-container {

    div.company-avatar-border {
      width: 30px;
      height: 30px;
      border: solid 1px rgba(78, 90, 107, 0.2);
      padding: 2.5px;
      text-align: center;
      white-space: nowrap;
      text-align: center;

      img.company-avatar-img{
        max-width: 20px;
        max-height: 20px;
        vertical-align: middle;
      }

      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      span.company-avatar-initial {
        font-size: 19px;
        color: $oc_gray_5;
        line-height: 1.1;
        vertical-align: middle;
      }
    }

    span.company-name {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.2;
      color: $oc_gray_5;
      margin-top: -24px;
      margin-left: 40px;
      float: left;
    }
  }
}