div.company-dashboard {
  background-color: $oc_gray_8;

  div.login-required {
    min-height: calc(100vh - #{$footer_height}px - 41px);
  }

  div.page{
    position: relative; /* Set the position property so z-index will apply */
    z-index: 20; /* Make sure this is higher than #menu */
    top: 0px !important;
   
    background: #fff;
    min-height: calc(100vh - #{$footer_height}px);

    @include mobile(){
      background-color: $oc_gray_8;
    }

    div.empty-dashboard {
      min-height: calc(100vh - #{$navbar_height}px - #{$footer_small_height}px - #{$top_border_height}px + 30px);
      padding: 40px 20px;
      margin-top: -20px;

      h3.empty-dashboard-title {
        font-family: $oc_headers_font;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
      }
    }
  }
}

body.small-footer {
  div.company-dashboard {
    div.page {
      min-height: calc(100vh - #{$footer_small_height}px);
    }
  }
}

body.fullscreen-topic {
  @include mobile(){
    div.company-dashboard {
      overflow: hidden;
      div.page {
        overflow: hidden;
      }
    }
  }
}