div.confirm-invitation {
  background-color: #fff;
  position: relative;

  h1.confirm-invitation-cta {
    font-family: $oc_headers_font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: $oc_gray_5;
    margin-top: 100px;
  }

  button.confirm-invitation-get-started {
    margin-top: 65px;
    min-height: 50px;
  }

  div.confirm-invitation-p {
    text-align: center;
    position: relative;
    margin-top: 32px;
    margin-bottom: 50px;
    @include big_web(){
      width: 400px;
      margin-left: -200px;
      left: 50%;
    }

    p{
      font-size: 18px;
      line-height: 1.8;
      color: $oc_gray_5;
    }
  }
}