div.create-update {
  background-color: $oc_gray_8;

  div.create-update-inner {
    min-height: calc(100vh - #{$footer_small_height}px + 71px);
    background-color: $oc_gray_8;

    div.create-update-content {
      margin: 35px auto 55px;
      padding: 0 34px;

      div.create-update-content-cards {
        padding: 20px 30px;
        margin-right: 50px;
        margin-top: 60px;
        background-color: white;

        input.create-update-content-cards-title {
          text-align: center;
          width: 100%;
          margin-top: 0px;
          padding-top: 0px;
          margin-bottom: 23px;
          background-color: transparent;
          height: 30px;
          border: none;
          outline: none;
          font-size: 24px;
          font-family: $oc_headers_font;
          font-weight: 500;
          color: $oc_gray_7;

          @include placeholder {
            font-style: italic;
          }

          &:focus, &:active {
            border: 1px solid rgba(78,90,107,0.3);
            outline: none;            
          }
        }

        div.topics-column-container{
          padding-top: 0px;

          div.topics-column {
            margin: 0;
            max-width: initial;
            background-color: white;

            div.topic-row{
              margin-left: 0px;
              margin-right: 0px;

              div.topic {
                margin-left: 0px;
                margin-right: 0px;
                border: none;
                box-shadow: none;
                border-bottom: 1px solid rgba(78,90,107,0.1);
              }

              &:last-child {
                div.topic {
                  border-bottom: 0px solid rgba(78,90,107,0.1);
                }
              }
            }
          }
        }
      }

      div.create-update-content-list{
        padding-left: 20px;
        margin-top: 0px;

        div.create-update-content-buttons {
          margin-bottom: 30px;

          button.cancel {
            margin-left: 0;
          }

          button.share {
            margin-right: 0;
          }
        }

        div.create-update-content-cta {
          font-family: $oc_headers_font;
          font-weight: 600;
          font-size: 14px;
          color: $oc_gray_5;
          margin-bottom: 20px;
        }

        div.create-update-topics-list {
          list-style-type: none;
          margin: 0;
          padding: 0;

          div.create-update-topics-list-item {
            font-family: $oc_headers_font;
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            padding: 3px 10px 3px 10px;
            cursor: pointer;
            margin-bottom: 2px;

            &.oc-active {
              font-weight: 800;
              background-color: rgba(78,90,107,0.05);
              border: 1px solid rgba(78,90,107,0.2);
              border-radius: 2px;

              &:after, &::after {
                font-size: 13px;
                font-family: FontAwesome;
                float: right;
                font-weight: 400;
                color: $oc_gray_5;
                content: "\f0c9";
                cursor: move;
                opacity: 0.7;
              }
            }

            &:hover {
              background-color: rgba(78,90,107,0.05);
              border-radius: 3;
            }
          }
        }
      }
    }
  }
}