div.composed-section {

  div.d3-dot-container{
    margin: 0 auto;

    svg{

      rect.hover-rect {
        cursor: pointer;
      }
    }

    div.chart-prev {
      float: left;
      cursor: pointer;
      width: 10px;
    }
    div.chart-next {
      float: right;
      cursor: pointer;
      width: 10px;
    }
  }

  div.chart-label-container {

    padding-left: 20px;

    div.chart-label{
      font-size: 24px;
      font-weight: 700;
      font-family: $oc_headers_font;

      &.small {
        font-size: 18px;
      }
    }

    div.chart-label-sub {
      font-size: 12px;
      font-weight: 700;
      font-family: $oc_headers_font;
      letter-spacing: 1px;
      line-height: 1.5;

      &.small {
        font-size: 10px;
      }
    }
  }

  div.extra-info-container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;

    div.extra-info {

      font-weight: 700;
      font-family: $oc_headers_font;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;

      div.extra-info-value {
        font-size: 20px;
      }

      div.extra-info-label {
        font-size: 12px;      
      }
    }
  }
}