div.composed-section {

  div.bordered-chart {
    border-style: solid;
    border-width: 1px;
    border-color: $oc_gray_2;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div.chart-container {

    margin: 0 auto;

    svg {
      rect.hover-rect {
        cursor: pointer;
      }

      text.x-axis-label {
        font-size: 12px;
        font-weight: 700;
        font-family: $oc_headers_font;
        color: $oc_gray_5;
        opacity: 0.25;
      }

      text.x-axis-label.selected {
        opacity: 0.5;
      }
    }

    div.chart-prev {
      float: left;
      cursor: pointer;
      width: 10px;
    }

    div.chart-next {
      float: right;
      cursor: pointer;
      width: 10px;
    }
  }

  div.chart-top-label-container, div.chart-bottom-label-container {

    display: flex;

    div.chart-labels {
      padding-left: 8px;
      padding-right: 8px;
    }

    div.chart-value, div.chart-label {
      font-weight: 700;
      font-family: $oc_headers_font;
      letter-spacing: 1px;
      line-height: 1.5;
    }

    div.chart-label {
      font-size: 12px;
    }
  }

  div.chart-top-label-container.multiple-rows, div.chart-bottom-label-container.multiple-rows {
    
    padding-left: 30px;
    padding-right: 40px;

    div.chart-labels {
      width: 50%;
    }
  }

  div.chart-top-label-container {

    div.chart-value {
      font-size: 22px;
    }
  }

  div.chart-bottom-label-container {

    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;

    div.chart-value {
      font-size: 20px;
    }
  }

}