div.d3-column-container{
  margin: 0 auto;

  svg{

    rect.hover-rect {
      cursor: pointer;
    }

    text.chart-label{
      font-size: 24px;
      font-weight: 700;
      font-family: $oc_headers_font;
      color: $oc_gray_5;
      opacity: 0.75;
    }

    text.sub-chart-label {
      opacity: 0.75;
      font-weight: 700;
      font-family: $oc_headers_font;
      font-size: 12px;
      letter-spacing: 1px;
      color: $oc_gray_5;
    }

    text.chart-label.small {
      font-size: 18px;
    }

    text.chart-x-label {
      font-size: 14px;
      line-height: 1.1;
      font-weight: 700;
      font-family: $oc_headers_font;
    }
  }

  div.chart-prev {
    float: left;
    cursor: pointer;
    width: 10px;
  }

  div.chart-next {
    float: right;
    cursor: pointer;
    width: 10px;
  }
}