div.d3-column-container{
  margin: 0 auto;

  svg{

    g.chart-g{

      rect.chart-bar {
        cursor: pointer;
      }
    }

    text.chart-label{
      font-family: $oc_main_font;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5;

      &.small {
        font-size: 18px;
      }
    }

    text.chart-x-label {
      font-family: $oc_main_font;
      font-size: 14px;
      line-height: 1.1;
      font-weight: bold;
      cursor: pointer;
    }
  }
}