div.d3-dot-container{
  margin: 0 auto;

  svg{

    rect.hover-rect {
      cursor: pointer;
    }

    text.dot-chart-label{
      font-size: 24px;
      font-weight: 700;
      opacity: 0.75;

      &.small {
        font-size: 18px;
      }
    }

    text.dot-chart-label-sub {
      font-size: 12px;
      opacity: 0.75;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5;

      &.small {
        font-size: 10px;
      }
    }
  }

  div.chart-prev {
    float: left;
    cursor: pointer;
    width: 10px;
  }
  div.chart-next {
    float: right;
    cursor: pointer;
    width: 10px;
  }
}