div.composed-section {

  div.bordered-chart {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  div.unbordered-chart {
    min-height: 36px;
  }

  div.chart-container {

    margin: 0 auto;

    &.chart-sparklines {
      margin: 0;
      float: right;
    }

    svg {
      overflow: visible;

      rect.hover-rect {
        cursor: pointer;
      }

      text.x-axis-label {
        font-size: 12px;
        font-weight: 700;
        font-family: $oc_main_font;
        color: $oc_gray_5;
        opacity: 0.25;
      }

      text.x-axis-label.selected {
        opacity: 0.5;
      }
    }

    div.chart-prev {
      float: left;
      cursor: pointer;
      width: 10px;
    }

    div.chart-next {
      float: right;
      cursor: pointer;
      width: 10px;
    }
  }

  div.chart-top-label-container, div.chart-bottom-label-container {

    display: flex;

    div.chart-labels {
      padding-left: 8px;
      padding-right: 8px;
    }

    div.chart-value, div.chart-label {
      font-weight: 700;
      font-family: $oc_headers_font;
      letter-spacing: 1px;
      line-height: 1.5;
    }

    div.chart-label {
      font-size: 12px;
    }

    &.chart-sparklines {
      float: left;
      max-width: 180px;
      overflow: hidden;
      display: inline-block;

      div.chart-labels {
        padding-left: 0px;
        padding-right: 0px;
      }

      div.chart-value, div.chart-label {
        font-weight: 400;
        font-family: $oc_main_font;
        letter-spacing: 1px;
        line-height: 1.5;
        font-size: 13px;
        color: $oc_gray_5;
        white-space: nowrap;
        overflow-y: visible;
        overflow-x: hidden;
      }

      div.chart-value {
        margin-bottom: 0.4rem;
      }

      div.chart-label {
        font-size: 13px;
      }
    }
  }

  div.chart-top-label-container.multiple-rows, div.chart-bottom-label-container.multiple-rows {
    
    padding-left: 30px;
    padding-right: 40px;

    div.chart-labels {
      width: 50%;
    }
  }

  div.chart-top-label-container {

    div.chart-value {
      font-size: 22px;
    }

    &.chart-sparklines {
      div.chart-value {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  div.chart-bottom-label-container {

    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;

    &.chart-sparklines {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    &.chart-sparklines {
      div.chart-value {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

}