div.dashboard-layout {
  padding: 0;
  width: 100%;
  overflow: visible;

  @include mobile() {
    &.sticky-board-name {
      padding-top: 48px;
      div.dashboard-layout-container {
        div.board-container {
          div.board-name-container {
            position: fixed;
            top: 0px;
          }
        }
      }
    }
  }

  div.dashboard-layout-container {
    padding: 24px 0px;
    margin: 0 auto;
    width: auto;
    width: 100%;
    position: relative;
    max-width: 952px;

    @include mobile(){
      padding: 0px;
    }

    div.board-container {
      width: #{$board_container_width}px;
      background-color: $oc_gray_8;
      position: relative;
      float: right;

      @include mobile() {
        width: 100%;
        background-color: $ultra_light_grey;
      }

      &.all-posts-container {
        width: #{$board_container_width}px;

        @include mobile() {
          width: 100%;
        }

        div.board-name-container {
          
          div.board-name {

            div.board-name-with-icon {
              max-width: 350px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: auto;

              @include mobile() {
                margin: 0 auto;
                text-align: center;
              }
            }
          }
        }
      }

      @include mobile() {
        width: 100%;
        margin: 0px;
        left: unset;
      }

      div.add-post-tooltip-container {
        border: 1px dashed $carrot_gold;
        background-color: #FDF6E4;
        border-radius: 6px;
        padding: 34px 40px;
        margin: 8px 0px;
        position: relative;

        @include tablet() {
          width: calc(100% - 48px);
          margin: 16px 24px;
          padding: 24px 24px;
        }

        button.add-post-tooltip-dismiss {
          position: absolute;
          top: 16px;
          right: 16px;
          width: 32px;
          height: 32px;
          background-image: cdnUrl("/img/ML/dismiss_tooltip_x.svg");
          background-size: 32px 32px;
          background-position: center;
          background-repeat: no-repeat;
        }

        div.add-post-tooltips {
          width: 334px;
          float: left;

          &.second-user {
            width: 444px;
          }

          @include tablet() {
            width: 100%;

            &.second-user {
              width: 100%;
            }
          }

          div.add-post-tooltip-box-mobile {
            display: none;

            @include mobile() {
              display: block;
              width: 125px;
              height: 130px;
              @include image-2x("/img/ML/add_post_tooltip_box");
              background-size: 125px 130px;
              background-repeat: no-repeat;
              background-position: center;
              margin: 0 auto 20px;
            }
          }

          div.add-post-tooltip-title {
            @include avenir_H();
            font-size: 22px;
            color: $deep_navy;
            line-height: 20px;
          }

          div.add-post-tooltip {
            @include avenir_R();
            font-size: 16px;
            color: $deep_navy;
            line-height: 20px;
            margin-top: 8px;

            button.add-post-bt {
              display: block;
              background-color: $carrot_orange_2;
              height: 40px;
              width: 192px;
              border-radius: 100px;
              padding: 0;
              margin: 16px 0 0;
              color: white;
              @include avenir_H();
              font-size: 16px;
              line-height: 20px;

              @include tablet() {
                width: 100%;
                max-width: 294px;
              }
            }

            @include tablet() {
              float: unset;
              margin: 24px auto 0px;
              width: 100%;
            }
          }

          div.add-post-tooltip-box {
            position: absolute;
            bottom: 0px;
            right: 80px;
            width: 154px;
            height: 160px;
            @include image-2x("/img/ML/add_post_tooltip_box");
            background-size: 154px 160px;
            background-repeat: no-repeat;
            background-position: center;

            &.second-user {
              width: 114px;
              height: 150px;
              background-size: 114px 150px;
              @include image-2x("/img/ML/add_post_tooltip_box_second_user");
            }

            @include mobile() {
              display: none;
            }
          }
        }
      }

      div.post-added-tooltip-container {
        border: 1px dashed $carrot_gold;
        background-color: #FDF6E4;
        border-radius: 6px;
        padding: 34px 40px;
        margin: 8px 0px;
        position: relative;

        @include tablet() {
          width: calc(100% - 48px);
          margin: 16px 24px;
          padding: 24px 24px;
        }

        div.post-added-tooltip-box-mobile {
            display: none;

            @include mobile() {
              display: block;
              width: 99px;
              height: 80px;
              @include image-2x("/img/ML/post_added_tooltip_box");
              background-size: 99px 120px;
              background-repeat: no-repeat;
              background-position: center;
              margin: 0 auto 24px;
            }
          }

        button.post-added-tooltip-dismiss {
          position: absolute;
          top: 16px;
          right: 16px;
          width: 32px;
          height: 32px;
          background-image: cdnUrl("/img/ML/dismiss_tooltip_x.svg");
          background-size: 32px 32px;
          background-position: center;
          background-repeat: no-repeat;
        }

        div.post-added-tooltips {
          width: 464px;
          float: left;

          @include tablet() {
            width: 100%;
          }

          div.post-added-tooltip-title {
            @include avenir_H();
            font-size: 22px;
            color: $deep_navy;
            line-height: 20px;
          }

          div.post-added-tooltip {
            @include avenir_R();
            font-size: 16px;
            color: $deep_navy;
            line-height: 20px;
            margin-top: 8px;

            button.post-added-bt {
              display: inline;
              background-color: transparent;
              padding: 0;
              margin: 0;
              color: $carrot_green;
              @include avenir_H();
              font-size: 16px;
              line-height: 20px;
            }

            @include tablet() {
              float: unset;
              margin: 8px auto 0px;
              width: 100%;
            }
          }

          div.post-added-tooltip-box {
            position: absolute;
            top: 50%;
            margin-top: -40px;
            right: 85px;
            width: 99px;
            height: 80px;
            @include image-2x("/img/ML/post_added_tooltip_box");
            background-size: 99px 80px;
            background-repeat: no-repeat;
            background-position: center;

            @include tablet(){
              display: none;
            }
          }
        }
      }

      div.board-name-container {
        padding: 0px 0px 8px;
        position: relative;

        @include mobile() {
          width: 100%;
          height: 48px;
          position: relative;
          z-index: #{$navbar_zindex - 1};
          top: 0px;
          left: 0px;
          background-color: white;
          box-shadow: none;
          border-bottom: 1px solid $ultra_light_grey;
          padding: 15px;
          text-align: center;

          &.sticky {
            position: absolute;
          }
        }
          
        div.board-name {
          float: left;
          position: relative;

          @include preload_image(cdnUrl("/img/ML/remove_video_icon.svg"));
          @include preload_image(cdnUrl("/img/ML/capture_video_icon.svg"), "before");

          @include mobile() {
            float: unset;
            text-align: center;
          }

          div.board-name-with-icon {
            @include avenir_H();
            font-size: 28px;
            color: $deep_navy;
            float: left;
            max-width: 350px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: auto;
            display: inline-block;
            position: relative;

            &:before {
              display: none;

              @include mobile() {
                display: block;
                content: "";
                width: 14px;
                height: 8px;
                background-image: cdnUrl("/img/ML/section_chevron.svg");
                background-size: 14px 8px;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 6px;
                left: 0px;
              }
            }

            div.board-name-with-icon-internal {
              max-width: 350px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            @include mobile() {
              @include avenir_H();
              font-size: 15px;
              color: $deep_navy;
              width: auto;
              height: 18px;
              text-align: center;
              margin: 0 auto;
              position: relative;
              float: unset;
              padding-left: 24px;

              div.board-name-with-icon-internal {
                position: relative;

                &.private {
                  padding-left: 20px;
                  &:before {
                    content: "";
                    background-image: cdnUrl("/img/ML/board_private.svg");
                    background-size: 10px 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    width: 10px;
                    height: 12px;
                  }
                }
                &.public {
                  padding-left: 20px;
                  &:before {
                    content: "";
                    background-image: cdnUrl("/img/ML/board_public.svg");
                    background-size: 12px 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    width: 12px;
                    height: 12px;
                  }
                }
              }
            }
          }

          button.board-settings-bt {
            background-image: cdnUrl("/img/ML/section_settings_gear.svg");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: 16px center;
            background-color: transparent;
            border-radius: 10px;
            width: 40px;
            height: 40px;
            opacity: 0.8;
            padding: 0 0 0 16px;
            margin: 0 0 0 16px;
            float: left;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 12px;
              width: 1px;
              height: 16px;
              background-color: $light_ui_grey;

              @include mobile(){
                display: none;
              }
            }

            @include mobile(){
              margin-right: -30px;
              margin-left: 8px;
              padding: 0px;
              float: unset;
              width: 20px;
              height: 20px;

              // Remove to show settings button on mobile
              display: none;
            }

            &:hover {
              opacity: 1;
            }
          }

          div.private-board {
            @include avenir_M();
            font-size: 14px;
            color: rgba($deep_navy, 0.5);
            position: relative;
            padding-left: 16px;
            float: left;
            margin-top: 12px;
            margin-left: 12px;

            @include mobile() {
              display: none;
            }

            &:before {
              content: "";
              background-image: cdnUrl("/img/ML/board_private.svg");
              background-size: 8px 10px;
              background-repeat: no-repeat;
              width: 8px;
              height: 10px;
              position: absolute;
              top: 3px;
              left: 0px;
              opacity: 0.5;

              @include mobile(){
                left: unset;
                top: 0px;
                margin-left: -12px;
              }
            }
          }

          div.public-board {
            @include avenir_M();
            font-size: 14px;
            color: rgba($deep_navy, 0.5);
            position: relative;
            padding-left: 16px;
            float: left;
            margin-top: 12px;
            margin-left: 12px;

            @include mobile() {
              display: none;
            }

            &:before {
              content: "";
              background-image: cdnUrl("/img/ML/board_public.svg");
              background-size: 10px 10px;
              background-repeat: no-repeat;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 4px;
              left: 0px;
              opacity: 0.5;

              @include mobile(){
                left: unset;
                top: 0px;
                margin-left: -12px;
              }
            }
          }
        }

        div.board-switcher {
          float: right;
          width: 32px;
          height: 32px;
          margin-top: 2px;

          @include mobile() {
            display: none;
          }

          button.board-switcher-bt {
            width: 32px;
            height: 32px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center 8px;
            float: left;
            padding: 0;
            margin: 0;
            opacity: 0.7;

            &.stream-view {
              background-image: cdnUrl("/img/ML/stream_view_button.svg");
            }

            &.grid-view {
              background-image: cdnUrl("/img/ML/grid_view_button.svg");
            }
          }
        }

        div.new-post-top-dropdown-container {
          position: relative;
          float: right;
          margin-left: 24px;

          button.add-to-board-top-button {
            height: 42px;
            background-color: $carrot_orange_light;
            color: $carrot_orange;
            border-radius: 100px;
            padding: 8px 24px;
            margin-top: -3px;
            border: 2px solid transparent;
            opacity: 1;
            transition: 0ms;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            // Remove to show settings button on mobile
            @include mobile() {
              display: none;
            }

            &.disabled {
              opacity: 0.4;
            }

            &:not(.disabled) {
              &:hover, &:active, &:focus, &.active {
                background-color: $carrot_orange;
                color: white;
                opacity: 1;

                div.add-to-board-plus {
                  background-image: cdnUrl("/img/ML/add_to_board_plus_white.svg");
                }

                label.add-to-board-label {
                  color: white;
                }
              }

              &:active, &:focus {
                background-color: #ED4F3B;
                opacity: 1;
              }
            }

            div.add-to-board-plus {
              background-image: cdnUrl("/img/ML/add_to_board_plus_orange.svg");
              background-size: 12px 12px;
              background-repeat: no-repeat;
              width: 12px;
              height: 12px;
              position: relative;
              top: -2px;
              pointer-events: none;

              @include preload_image(cdnUrl("/img/ML/add_to_board_plus_white.svg"));
            }

            label.add-to-board-label {
              @include avenir_H();
              font-size: 16px;
              color: $carrot_orange;
              margin-left: 6px;
              margin-bottom: 0px;
              pointer-events: none;
            }
          }

          div.compose-type-dropdown-wrapper {
            width: 112px;
            height: 152px;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 10;
            padding-top: 56px;

            div.compose-type-dropdown {
              height: 96px;
              border-radius: 6px;
              background-color: $feint_emerald;
              padding: 16px;

              div.compose-type-separator {
                width: 100%;
                height: 1px;
                background-color: rgba($deep_navy, 0.1);
                margin: 12px 0px;
              }

              button.compose-type {
                @include avenir_H();
                font-size: 14px;
                color: $carrot_green;
                cursor: pointer;
                height: 20px;
                margin: 0;
                padding: 0;

                &:before {
                  content: "";
                  float: left;
                  margin-right: 16px;
                  display: block;
                  width: 16px;
                  height: 20px;
                  background-size: 16px 20px;
                  background-position: center;
                  background-repeat: no-repeat;
                }

                &.compose-type-video:before {
                  background-image: cdnUrl("/img/ML/video_green.svg");
                  background-size: 16px 10px;
                }

                &.compose-type-post:before {
                  background-image: cdnUrl("/img/ML/pencil_green.svg");
                }
              }
            }
          }
        }
      }
    }

    div.new-post-floating-dropdown-container {
      position: relative;
      position: absolute;
      position: fixed;
      bottom: 24px;
      right: 24px;

      button.add-to-board-floating-button {
        width: 56px;
        height: 56px;
        border-radius: 33px;
        background-color: $carrot_orange_2;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.24);
        opacity: 1;
        padding: 0px;
        margin: 0px;

        &:hover, &.active {
          background-color: #FF7C6C;
          opacity: 1;
        }

        &:active, &:focus {
          background-color: #ED4F3B;
          opacity: 1;
        }

        div.add-to-board-plus {
          background-image: cdnUrl("/img/ML/add_to_board_plus_white.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          width: 56px;
          height: 56px;
        }
      }
    }
  }
}