div.dashboard-layout {
  padding: 0;
  width: 100%;
  overflow: visible;

  div.section-add {

    &.has-drafts {
      div.section-editor {
        top: 250px;
      }
    }

    div.section-editor {
      position: absolute;
      top: 214px;
      left: 180px;
      z-index: 1000;
    }
  }

  @include mobile() {
    &.sticky-board-name {
      padding-top: 48px;
      div.dashboard-layout-container {
        div.board-container {
          div.board-name-container {
            position: fixed;
            top: 0px;
          }
        }
      }
    }
  }

  div.dashboard-layout-container {
    padding: 24px 0px;
    margin: 0 auto;
    width: auto;
    width: 100%;
    position: relative;
    max-width: 952px;

    @include mobile(){
      padding: 0px;
    }

    div.board-container {
      width: #{$board_container_width}px;
      background-color: $oc_gray_8;
      position: relative;
      float: right;

      @include mobile() {
        width: 100%;
      }

      &.all-posts-container {
        width: #{$board_container_width}px;

        @include mobile() {
          width: 100%;
        }

        div.board-name-container {
          
          div.board-name {

            div.board-name-with-icon {
              max-width: 350px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;

              @include mobile() {
                margin: 0 auto;
                text-align: center;
              }
            }
          }
        }
      }

      @include mobile() {
        width: 100%;
        margin: 0px;
        left: unset;
      }

      div.add-post-tooltip-container {
        border: 2px dashed $carrot_gold;
        background-color: $light_gold;
        border-radius: 6px;
        padding: 32px 40px;
        margin: 32px 0px;
        position: relative;

        @include tablet() {
          width: calc(100% - 48px);
          margin: 32px 24px;
        }

        button.add-post-tooltip-dismiss {
          position: absolute;
          top: 8px;
          left: 8px;
          width: 30px;
          height: 30px;
          background-image: cdnUrl("/img/ML/dismiss_tooltip_x.svg");
          background-size: 14px 14px;
          background-position: center;
          background-repeat: no-repeat;

          @include tablet() {
            top: 16px;
            left: 16px;
          }
        }

        div.add-post-tooltip-icon {
          @include image-2x("/img/ML/balloon_small_yellow_face");
          background-size: 48px 48px;
          background-position: center;
          background-repeat: no-repeat;
          width: 48px;
          height: 48px;
          float: left;
          margin-top: 12px;

          @include tablet() {
            float: unset;
            margin: 0px auto;
          }
        }

        div.add-post-tooltips {
          width: 530px;
          margin-left: 24px;
          float: left;

          div.add-post-tooltip {
            @include avenir_M();
            font-size: 18px;
            color: $deep_navy;

            &.second-line {
              padding-top: 10px;
              @include tablet() {
                margin: 0px auto;
              }
            }

            @include tablet() {
              float: unset;
              margin: 24px auto 0px;
              width: 100%;
              text-align: center;
            }
          }
        }

        div.add-post-tooltip-arrow {
          background-image: cdnUrl("/img/ML/add_post_tooltip_arrow.svg");
          background-size: 32px 38px;
          background-position: center;
          background-repeat: no-repeat;
          width: 32px;
          height: 38px;
          float: right;
          margin-top: 18px;

          @include tablet() {
            display: none;
          }
        }

        button.add-post-tooltip-compose-bt {
          display: none;

          @include tablet() {
            display: block;
            color: $carrot_orange;
            @include avenir_H();
            font-size: 15px;
            margin: 24px auto 0px;
          }
        }
      }

      div.board-name-container {
        padding: 0px 0px 8px;
        position: relative;

        &:before {
          display: none;

          @include mobile() {
            display: block;
            content: "";
            width: 14px;
            height: 8px;
            background-image: cdnUrl("/img/ML/section_chevron.svg");
            background-size: 14px 8px;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 21px;
            left: 28px;
          }
        }

        @include mobile() {
          width: 100%;
          height: 48px;
          position: relative;
          z-index: 1000;
          top: 0px;
          left: 0px;
          background-color: white;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          border-top: 1px solid $light_tan;
          padding: 15px;
          text-align: center;

          &.sticky {
            position: absolute;
          }
        }
          
        div.board-name {
          float: left;

          @include mobile() {
            float: unset;
            text-align: center;
          }

          div.board-name-with-icon {
            @include avenir_H();
            font-size: 28px;
            color: $carrot_gray;
            float: left;
            max-width: 350px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include mobile() {
              @include avenir_H();
              font-size: 15px;
              color: $deep_navy;
              width: auto;
              height: 18px;
              text-align: center;
              margin: 0 auto;
              position: relative;
              float: unset;
            }
          }

          div.board-settings-container {
            float: left;
            margin-top: 11px;
            margin-left: 7px;
            position: relative;

            @include mobile(){
              display: none;
            }

            div.section-editor {
              position: absolute;
              top: 28px;
              left: 50%;
              margin-left: -180px;
              z-index: 1000;
            }

            button.board-settings-bt {
              background-image: cdnUrl("/img/ML/board_settings.svg");
              background-size: 8px 8px;
              background-repeat: no-repeat;
              background-position: 6px 7px;
              background-color: #F0EFEA;
              border-radius: 10px;
              width: 20px;
              height: 20px;
              opacity: 0.8;

              @include mobile(){
                margin-right: -30px;
                margin-left: 8px;
                padding: 0px;
                float: unset;

                // Remove to show settings button on mobile
                display: none;
              }

              &:hover {
                opacity: 1;
              }
            }
          }

          div.private-board {
            @include avenir_M();
            font-size: 14px;
            color: rgba($deep_navy, 0.5);
            position: relative;
            padding-left: 16px;
            float: left;
            margin-top: 12px;
            margin-left: 16px;

            @include mobile() {
              float: unset;
              display: inline;
              margin-left: 0px;
              top: -5px;
            }

            &:before {
              content: "";
              background-image: cdnUrl("/img/ML/board_private.svg");
              background-size: 8px 10px;
              background-repeat: no-repeat;
              width: 8px;
              height: 10px;
              position: absolute;
              top: 3px;
              left: 0px;

              @include mobile(){
                left: unset;
                top: 0px;
                margin-left: -12px;
              }
            }
          }

          div.public-board {
            @include avenir_M();
            font-size: 14px;
            color: rgba($deep_navy, 0.5);
            position: relative;
            padding-left: 16px;
            float: left;
            margin-top: 12px;
            margin-left: 16px;

            @include mobile() {
              float: unset;
              display: inline;
              margin-left: 0px;
              top: -5px;
            }

            &:before {
              content: "";
              background-image: cdnUrl("/img/ML/board_public.svg");
              background-size: 10px 10px;
              background-repeat: no-repeat;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 4px;
              left: 0px;

              @include mobile(){
                left: unset;
                top: 0px;
                margin-left: -12px;
              }
            }
          }
        }

        div.board-switcher {
          float: right;
          width: 32px;
          height: 32px;
          margin-top: 2px;

          @include mobile() {
            display: none;
          }

          button.board-switcher-bt {
            width: 32px;
            height: 32px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center 8px;
            float: left;
            padding: 0;
            margin: 0;
            opacity: 0.7;

            &.stream-view {
              background-image: cdnUrl("/img/ML/stream_view_button.svg");
            }

            &.grid-view {
              background-image: cdnUrl("/img/ML/grid_view_button.svg");
            }
          }
        }

        div.new-post-top-dropdown-container {
          position: relative;
          float: right;
          margin-left: 24px;

          @include preload_image(cdnUrl("/img/ML/remove_video_icon.svg"));
          @include preload_image(cdnUrl("/img/ML/capture_video_icon.svg"), "before");

          button.add-to-board-top-button {
            height: 42px;
            background-color: $carrot_orange_light;
            color: $carrot_orange;
            border-radius: 100px;
            padding: 8px 24px;
            margin-top: -3px;
            border: 2px solid transparent;
            opacity: 1;
            transition: 0ms;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            // Remove to show settings button on mobile
            @include mobile() {
              display: none;
            }

            &.disabled {
              opacity: 0.4;
            }

            &:not(.disabled) {
              &:hover, &:active, &:focus, &.active {
                background-color: $carrot_orange;
                color: white;
                opacity: 1;

                div.add-to-board-plus {
                  background-image: cdnUrl("/img/ML/add_to_board_plus_white.svg");
                }

                label.add-to-board-label {
                  color: white;
                }
              }

              &:active, &:focus {
                background-color: #ED4F3B;
                opacity: 1;
              }
            }

            div.add-to-board-plus {
              background-image: cdnUrl("/img/ML/add_to_board_plus_orange.svg");
              background-size: 12px 12px;
              background-repeat: no-repeat;
              width: 12px;
              height: 12px;
              position: relative;
              top: -2px;
              pointer-events: none;

              @include preload_image(cdnUrl("/img/ML/add_to_board_plus_white.svg"));
            }

            label.add-to-board-label {
              @include avenir_H();
              font-size: 16px;
              color: $carrot_orange;
              margin-left: 6px;
              margin-bottom: 0px;
              pointer-events: none;
            }
          }

          div.compose-type-dropdown-wrapper {
            width: 112px;
            height: 152px;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 10;
            padding-top: 56px;

            div.compose-type-dropdown {
              height: 96px;
              border-radius: 6px;
              background-color: $feint_emerald;
              padding: 16px;

              div.compose-type-separator {
                width: 100%;
                height: 1px;
                background-color: rgba($deep_navy, 0.1);
                margin: 12px 0px;
              }

              button.compose-type {
                @include avenir_H();
                font-size: 14px;
                color: $carrot_green;
                cursor: pointer;
                height: 20px;
                margin: 0;
                padding: 0;

                &:before {
                  content: "";
                  float: left;
                  margin-right: 16px;
                  display: block;
                  width: 16px;
                  height: 20px;
                  background-size: 16px 20px;
                  background-position: center;
                  background-repeat: no-repeat;
                }

                &.compose-type-video:before {
                  background-image: cdnUrl("/img/ML/video_green.svg");
                  background-size: 16px 10px;
                }

                &.compose-type-post:before {
                  background-image: cdnUrl("/img/ML/pencil_green.svg");
                }
              }
            }
          }

          div.dropdown-list-container {
            top: 46px;
            width: 200px;
            left: -26px;
          }
        }
      }
    }

    div.new-post-floating-dropdown-container {
      position: relative;
      position: absolute;
      position: fixed;
      bottom: 24px;
      right: 24px;
      z-index: 1000;

      button.add-to-board-floating-button {
        width: 56px;
        height: 56px;
        border-radius: 33px;
        background-color: $carrot_orange_2;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.24);
        opacity: 1;
        padding: 0px;
        margin: 0px;

        &:hover, &.active {
          background-color: #FF7C6C;
          opacity: 1;
        }

        &:active, &:focus {
          background-color: #ED4F3B;
          opacity: 1;
        }

        div.add-to-board-plus {
          background-image: cdnUrl("/img/ML/add_to_board_plus_white.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          width: 56px;
          height: 56px;
        }
      }

      div.dropdown-list-container {
        top: unset;
        bottom: 0px;
        width: 200px;
        left: -220px;
        z-index: 100;

        div.triangle {
          transform: rotate(135deg);
          top: unset;
          bottom: 20px;
          left: unset;
          right: -10px;
        }
      }
    }
  }
}