div.dashboard-layout {
  padding: 0;
  width: 100%;
  overflow: visible;

  &.expanded-post-view {
    div.cmail-outer:not(.fullscreen) {
      display: none;
    }
  }

  @include mobile() {
    background-color: rgba($deep_navy, 0.05);

    &.sticky-board-name {
      padding-top: 48px;
      div.dashboard-layout-container {
        div.board-container {
          div.board-name-container {
            position: fixed;
            top: 0px;
          }
        }
      }
    }
  }

  button.mobile-floating-compose-bt {
    display: none;

    @include mobile() {
      display: block;
      background-image: cdnUrl("/img/ML/white_pen.svg");
      background-size: 16px 16px;
      background-position: center;
      background-repeat: no-repeat;
      width: 48px;
      height: 48px;
      background-color: $carrot_green;
      border-radius: 6px;
      position: fixed;
      bottom: 24px;
      right: 24px;
      z-index: 2;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    }
  }

  div.dashboard-layout-container {
    padding: 0;
    margin: 0 auto;
    width: auto;
    width: 100%;
    max-width: calc(100% - #{$left_navigation_sidebar_width}px);
    margin-left: #{$left_navigation_sidebar_width}px;
    transition: margin-left 180ms ease-in, width 180ms ease-in, max-width 180ms ease-in;

    &.hide-left-navbar {
      margin-left: 0;
      max-width: 100vw;
    }

    @include mobile(){
      padding: 0px;
      transition: none;
      margin-left: 0;
      width: 100%;
      max-width: initial;
      min-width: initial;
      padding-bottom: 52px;
    }

    div.dashboard-layout-mobile-tabbar {
      display: none;

      @include mobile (){
        display: block;
        background-color: white;
        padding: 15px 0;
        border-top: 1px solid rgba($deep_navy, 0.15);
        height: #{$mobile_navbar_height}px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        z-index: #{$navbar_zindex + 5};

        &.ios-tabbar {
          height: #{$mobile_navbar_height + 24}px;
          padding: 7px 0 48px;

          span.unread-notifications-dot {
            bottom: 32px;
          }
        }

        &.can-compose {
          button {
            width: 25%;
          }

          span.unread-notifications-dot {
            right: 37vw;
          }
        }

        button {
          width: 33.3%;
          height: 24px;
          margin: 0;
          padding: 0;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0.5;

          &.active {
            opacity: 1;
          }
        }

        button.all-posts-tab {
          background-image: cdnUrl("/img/ML/all_posts_tab_icon.svg");
          backgorund-size: 22px 18px;

          @include preload_image(cdnUrl("/img/ML/all_posts_tab_icon_active.svg"));

          &.active {
            background-image: cdnUrl("/img/ML/all_posts_tab_icon_active.svg");
          }
        }

        button.follow-ups-tab {
          background-image: cdnUrl("/img/ML/follow_ups_tab_icon.svg");
          backgorund-size: 18px 20px;

          @include preload_image(cdnUrl("/img/ML/follow_ups_tab_icon_active.svg"));

          &.active {
            background-image: cdnUrl("/img/ML/follow_ups_tab_icon_active.svg");
          }
        }

        button.notifications-tab {
          background-image: cdnUrl("/img/ML/notifications_tab_icon.svg");
          backgorund-size: 18px 20px;
          position: relative;

          @include preload_image(cdnUrl("/img/ML/notifications_tab_icon_active.svg"));

          &.active {
            background-image: cdnUrl("/img/ML/notifications_tab_icon_active.svg");
          }
        }

        span.unread-notifications-dot {
          display: block;
          width: 4px;
          height: 4px;
          position: absolute;
          bottom: 4px;
          background-color: $carrot_green;
          border-radius: 50%;
          right: 16.1vw;
        }

        button.new-post-tab {
          background-image: cdnUrl("/img/ML/new_post_tab_icon.svg");
          backgorund-size: 20px 20px;

          @include preload_image(cdnUrl("/img/ML/new_post_tab_icon_active.svg"));

          &.active {
            background-image: cdnUrl("/img/ML/new_post_tab_icon_active.svg");
          }
        }
      }
    }

    div.board-container {
      width: #{$board_container_width}px;
      background-color: $grey_num_2;
      position: relative;
      margin: 0 auto;
      padding: 24px 0 0;

      @include mobile() {
        width: 100%;
        padding: 0;
        min-height: calc(100vh - 76px);
        margin: 0;
      }

      div.board-name-container {
        padding: 0px 0px 8px;
        position: relative;
        height: 40px;
        border-bottom: 1px solid rgba($deep_navy, 0.15);

        @include mobile() {
          height: 50px;
          border-bottom: none;
          padding: 0;

          &.drafts-board {
            height: 0;
          }
        }
          
        div.board-name {
          float: left;
          position: relative;
          height: 32px;

          @include preload_image(cdnUrl("/img/ML/remove_video_icon.svg"));
          @include preload_image(cdnUrl("/img/ML/capture_video_icon.svg"), "before");

          @include mobile() {
            display: none;
          }

          div.board-name-with-icon {
            @include OC_Body_Bold();
            font-size: 18px;
            line-height: 32px;
            color: $deep_navy;
            float: left;
            max-width: 350px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: auto;
            display: inline-block;
            position: relative;

            &:before {
              display: none;

              @include mobile() {
                display: block;
                content: "";
                width: 14px;
                height: 32px;
                background-image: cdnUrl("/img/ML/section_chevron.svg");
                background-size: 14px 8px;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 6px;
                left: 0px;
              }
            }

            div.board-name-with-icon-internal {
              max-width: 350px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            @include mobile() {
              @include OC_Body_Bold();
              font-size: 15px;
              color: $deep_navy;
              width: auto;
              height: 18px;
              text-align: center;
              margin: 0 auto;
              position: relative;
              float: unset;
              padding-left: 24px;

              div.board-name-with-icon-internal {
                position: relative;

                &.private {
                  padding-left: 20px;
                  &:before {
                    content: "";
                    background-image: cdnUrl("/img/ML/board_private.svg");
                    background-size: 10px 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    width: 10px;
                    height: 12px;
                  }
                }
                &.public {
                  padding-left: 20px;
                  &:before {
                    content: "";
                    background-image: cdnUrl("/img/ML/board_public.svg");
                    background-size: 12px 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    width: 12px;
                    height: 12px;
                  }
                }
              }
            }
          }

          div.board-settings-container {
            float: left;
            position: relative;
            height: 32px;

            button.board-settings-bt {
              background-image: cdnUrl("/img/ML/section_settings_gear.svg");
              background-size: 16px 16px;
              background-repeat: no-repeat;
              background-position: center;
              background-color: transparent;
              width: 48px;
              height: 25px;
              padding: 0 0 0 16px;
              margin: 3px 0 0 16px;
              position: relative;
              border-left: 1px solid $ultra_light_grey;

              // &:before {
              //   content: "";
              //   position: absolute;
              //   left: 0;
              //   top: 12px;
              //   width: 1px;
              //   height: 16px;
              //   background-color: $light_ui_grey;

              //   @include mobile(){
              //     display: none;
              //   }
              // }

              @include mobile(){
                margin-right: -30px;
                margin-left: 8px;
                padding: 0px;
                float: unset;
                width: 20px;
                height: 20px;

                // Remove to show settings button on mobile
                display: none;
              }
            }
          }

          div.private-board {
            position: relative;
            width: 12px;
            height: 23px;
            background-image: cdnUrl("/img/ML/board_private_dark.svg");
            background-size: 10px 12px;
            background-repeat: no-repeat;
            background-position: left 0 bottom 1px;
            float: left;
            margin-left: 6px;

            @include mobile(){
              left: unset;
              height: 12px;
              top: 0px;
              margin-left: -12px;
            }
          }

          div.public-board {
            position: relative;
            width: 12px;
            height: 23px;
            background-image: cdnUrl("/img/ML/board_public_dark.svg");
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: left 0 bottom 1px;
            float: left;
            margin-left: 6px;

            @include mobile(){
              left: unset;
              height: 12px;
              top: 0px;
              margin-left: -12px;
            }
          }
        }

        div.board-sort {
          float: right;
          height: 40px;
          position: relative;

          @include mobile() {
            width: 100%;
            height: 50px;
            background-color: rgba($deep_navy, 0.05);
            border-bottom: 1px solid rgba($deep_navy, 0.15);;
          }

          button.mobile-search-bt {
            display: none;

            @include mobile() {
              display: block;
              position: absolute;
              left: 16px;
              top: 13px;
              background-image: cdnUrl("/img/ML/mobile_search_lens.svg");
              background-size: 16px 16px;
              background-position: center;
              background-repeat: no-repeat;
              width: 24px;
              height: 24px;
            }
          }

          button.board-sort-bt {
            height: 23px;
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 23px;
            color: $deep_navy;
            padding: 0 14px 0 0;
            margin: 0;
            position: relative;

            @include mobile(){
              width: 200px;
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: -100px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              color: $deep_navy;
              opacity: 1;
            }

            @include big_web() {
              opacity: 0.5;

              &:hover, &:active, &:focus, &.active {
                opacity: 1;
              }
            }

            &:after {
              content: "";
              width: 8px;
              height: 4px;
              position: absolute;
              top: 9px;
              right: 0;
              background-image: cdnUrl("/img/ML/board_sort_dropdown.svg");
              background-size: 8px 4px;
              background-repeat: no-repeat;
              background-position: center;

              @include mobile() {
                position: absolute;
                top: 24px;
                left: 50%;
                margin-left: 47px;
              }
            }
          }

          div.board-sort-menu {
            position: absolute;
            top: 30px;
            right: 0;
            background-color: white;
            width: 138px;
            padding: 9px 0;
            border-radius: 4px;
            border: 1px solid $mid_light_grey;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
            display: none;
            z-index: 100;

            @include mobile() {
              right: unset;
              left: 50%;
              margin-left: -69px;
              top: 38px;
            }

            &.show-menu {
              display: block;
            }

            div.board-sort-menu-item {
              height: 34px;
              @include OC_Body_Book();
              font-size: 14px;
              padding: 8px 16px;
              cursor: pointer;

              &.active, &:hover, &:active, &:focus {
                background-color: $feint_emerald;
                color: $carrot_green;
                -webkit-tap-highlight-color: $feint_emerald;
              }
            }
          }
        }

        div.new-post-top-dropdown-container {
          position: relative;
          float: right;
          margin-left: 24px;

          button.add-to-board-top-button {
            height: 42px;
            background-color: $carrot_orange_light;
            color: $carrot_orange;
            border-radius: 6px;
            padding: 8px 24px;
            margin-top: -3px;
            border: 2px solid transparent;
            opacity: 1;
            transition: 0ms;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            // Remove to show settings button on mobile
            @include mobile() {
              display: none;
            }

            &.disabled {
              opacity: 0.4;
            }

            &:not(.disabled) {
              &:hover, &:active, &:focus, &.active {
                background-color: $carrot_orange;
                color: white;
                opacity: 1;

                div.add-to-board-plus {
                  background-image: cdnUrl("/img/ML/add_to_board_plus_white.svg");
                }

                label.add-to-board-label {
                  color: white;
                }
              }

              &:active, &:focus {
                background-color: #ED4F3B;
                opacity: 1;
              }
            }

            div.add-to-board-plus {
              background-image: cdnUrl("/img/ML/add_to_board_plus_orange.svg");
              background-size: 12px 12px;
              background-repeat: no-repeat;
              width: 12px;
              height: 12px;
              position: relative;
              top: -2px;
              pointer-events: none;

              @include preload_image(cdnUrl("/img/ML/add_to_board_plus_white.svg"));
            }

            label.add-to-board-label {
              @include OC_Body_Bold();
              font-size: 16px;
              color: $carrot_orange;
              margin-left: 6px;
              margin-bottom: 0px;
              pointer-events: none;
            }
          }

          div.compose-type-dropdown-wrapper {
            width: 112px;
            height: 152px;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 10;
            padding-top: 56px;

            div.compose-type-dropdown {
              height: 96px;
              border-radius: 6px;
              background-color: $feint_emerald;
              padding: 16px;

              div.compose-type-separator {
                width: 100%;
                height: 1px;
                background-color: rgba($deep_navy, 0.1);
                margin: 12px 0px;
              }

              button.compose-type {
                @include OC_Body_Bold();
                font-size: 14px;
                color: $carrot_green;
                cursor: pointer;
                height: 20px;
                margin: 0;
                padding: 0;

                &:before {
                  content: "";
                  float: left;
                  margin-right: 16px;
                  display: block;
                  width: 16px;
                  height: 20px;
                  background-size: 16px 20px;
                  background-position: center;
                  background-repeat: no-repeat;
                }

                &.compose-type-video:before {
                  background-image: cdnUrl("/img/ML/video_green.svg");
                  background-size: 16px 10px;
                }

                &.compose-type-post:before {
                  background-image: cdnUrl("/img/ML/pencil_green.svg");
                }
              }
            }
          }
        }
      }
    }

    div.new-post-floating-dropdown-container {
      position: absolute;
      position: fixed;
      bottom: 24px;
      right: 24px;

      @include mobile() {
        display: none;
      }

      button.add-to-board-floating-button {
        width: 56px;
        height: 56px;
        border-radius: 33px;
        background-color: $carrot_orange_2;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.24);
        opacity: 1;
        padding: 0px;
        margin: 0px;

        &:hover, &.active {
          background-color: #FF7C6C;
          opacity: 1;
        }

        &:active, &:focus {
          background-color: #ED4F3B;
          opacity: 1;
        }

        div.add-to-board-plus {
          background-image: cdnUrl("/img/ML/add_to_board_plus_white.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          width: 56px;
          height: 56px;
        }
      }
    }
  }
}