div#topic-finances.editing, div#topic-growth.editing {

  div.metric-name {
    padding: 32px 8px 0px 30px;
    font-weight: 700;
    font-family: $oc_main_font;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

div#growth-edit, div#finances-edit{
  div.oc-popover {
    padding: 0px;
    background-color: #fcfcfc;
    overflow: hidden;
    h3 {
      margin: 0;
      border-bottom: 1px solid rgba(78, 90, 107, 0.1);
      color: $oc_gray_5;
      font-family: $oc_main_font;
      font-weight: 500;
      line-height: 1.1;
      font-size: 24px;
      width: 100%;
      text-align: left;
    }

    div.table-container {
      margin: 0;
      table {
        td .comp-cell {
          border: 1px solid rgba(78, 90, 107, 0.5);
          width: 80px;
        }

        td {
          text-align: left;
        }

        th:first-child, td:first-child {
          width: 107px;
          font-size: 12px;
          font-family: $oc_main_font;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
        }
      }
    }
  }
}

div#finances-edit {
  div.oc-popover {
    div.table-container{
      table {
        thead tr th {
          text-align: right;
          padding-right: 2px;
        }
        tbody tr th.no-cell {
          padding-left: 0px;
        }
      }
    }
  }
}

div.growth {
  div.table-container {
    table.table {
      margin-top: 10px;
    }
  }
}

div.finances, div.growth {

  table.table {
    border-spacing: 10px;
    float: left;
    margin-bottom: 0;

    * {
      border: 0px solid transparent;
    }

    tr {

      th {
        padding: 4px 0 4px 6px;
        font-weight: normal;
        font-family: $oc_main_font;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: rgba(78,90,107, 1);
        vertical-align: middle;

        a.more {
          font-weight: 700;
          font-family: $oc_main_font;
          font-size: 12px;
          letter-spacing: 1px;
          color: rgba(78, 90, 107, 0.5);
        }
      }

      td {
        padding: 3px;
        text-align: center;
      }

      th.no-cell {
        padding: 4px 0 4px 8px;
      }

      th.earlier {
        text-align: left;
        padding-left: 20px;
      }

      td div.comp-cell {
        background-color: #ffffff;
        padding-top: 2px;
        padding-left: 2px;
      }
    }
  }

  div.topic.new-metric-slug-placeholder.fake-chart, div.bordered-chart.fake-chart {
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: "Your Chart Will Show Up Here \00000a (minimum two periods)";
      white-space: pre;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(243,244,245,0.8);
      color: rgba(78,90,107,0.5);
      font-size: 12px;
      font-style: italic;
      letter-spacing: 1px;
      text-align: center;
      padding-top: 120px;
    }
  }

  div.topic-foce-footer {
    margin: 0 !important;
    width: 100%;
    border-top: 1px solid rgba(78,90,107,0.1);

    button.btn-outline {
      background-color: white;
    }

    button.btn-outline.btn-data-save {
      opacity: 1;
      color: $oc_green;

      &:disabled {
        opacity: 0.2;
      }
    }

    div.topic-foce-footer-right {
      float: right;

      button {
        margin-left: 7px;
        float: right;
      }
    }
  }
}

div.finances, div.growth {
  div.topic-foce-footer {
    padding: 13px 20px 20px 20px;
  }
}

div.growth div.growth-metric-edit {
  div.topic-foce-footer {
    padding: 8px 0 0 0;
  }
}

div.pillbox-container.growth{
  background-color: transparent;
  padding: 12px 26px 12px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;

  @include pillbox();
}