div#section-finances.editing, div#section-growth.editing {
  padding: 0;
  background-color: #F3F4F5;

  div.metric-name {
    padding: 32px 8px 0px 30px;
    font-weight: 700;
    font-family: $oc_headers_font;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

div.finances {
  table.table {
    width: 100%;
  }
}

div.growth {
  table.table {
    width: 180px;
  }
}

div.finances, div.growth {

  table.table {
    border-spacing: 10px;
    float: left;
    margin-bottom: 0;

    * {
      border: 0px solid transparent;
    }

    thead th {
      text-align: center;
    }

    tbody tr th {
      text-align: right;   
    }

    tr {

      th {
        padding: 4px 0 4px 0px;
        font-weight: 700;
        font-family: $oc_headers_font;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: rgba(78,90,107, 0.75);
        text-transform: uppercase;
        height: 36px;
        vertical-align: middle;

        a.more {
          font-weight: 700;
          font-family: $oc_headers_font;
          font-size: 12px;
          letter-spacing: 1px;
          color: rgba(78, 90, 107, 0.5);
        }
      }

      td {
        padding: 3px;
        text-align: center;
      }

      td.no-cell, th.no-cell {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        color: rgba(78,90,107, 0.75);
        text-transform: uppercase;
      }

      td.no-cell {
        font-family: $oc_main_font;
      }

      th.no-cell {
        padding: 4px 0 4px 8px;
        font-family: $oc_headers_font;
      }

      th.earlier {
        text-align: left;
        padding-left: 20px;
      }

      td div.comp-cell {
        opacity: 0.5;
        background-color: #ffffff;
        padding-top: 4px;
      }

      td div.comp-cell div.comp-cell-int {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 1px;
        color: $oc_gray_7;
      }
    }
  }

  div.topic-foce-footer {
    margin: 0 !important;

    button.btn-outline {
      background-color: white;
    }

    button.btn-outline.btn-data-save {
      color: $oc_green;
    }
  }
}

div.finances, div.growth {
  div.topic-foce-footer {
    padding: 13px 20px 20px 20px;
  }
}

div.growth div.growth-metric-edit {
  div.topic-foce-footer {
    padding: 8px 0 0 0;
  }
}

div.pillbox-container.growth{
  background-color: transparent;
  padding: 12px 26px 12px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;

  @include pillbox();
}