div.drafts-layout {
  width: 100%;

  div.draft-cards-container {
    width: 100%;

    &:first-child {
      margin-top: 4px;
    }

    @include mobile() {
      display: block;
      width: 100%;
    }

    div.draft-card-column {
      width: 454px;
      float: left;

      &:nth-child(even) {
        margin: 12px 0px 12px 12px;
      }

      &:nth-child(odd) {
        margin: 12px 12px 12px 0px;
      }

      @include mobile() {
        width: 100%;
        margin: 12px 0px;
        float: unset;
      }

      div.draft-card {
        max-height: 438px;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
        border: 0.5px solid rgba(177, 184, 192, 0.24);
        border-radius: 8px;
        min-height: 100px;
        position: relative;
        cursor: pointer;

        @include mobile() {
          width: 100%;
          min-height: initial;
          max-height: initial;
          border: none;
          box-shadow: 0 4px 10px 0 rgba(0,0,0,0.05);
        }

        &:hover {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          div.draft-card-footer-last-edit {
            span.edit {
              opacity: 1;
            }
          }
        }

        div.draft-card-tag {
          @include activity-tag();
          padding: 16px 16px 0;
        }

        div.draft-card-head {
          display: none;

          @include mobile() {
            width: 100%;
            padding: 16px 24px;
            height: 72px;
            background-color: $carrot_light_gray_2;
            display: block;

            div.draft-card-head-author {
              float: left;
              width: 55%;
              padding-right: 20px;
              overflow: hidden;

              @include activity-author(40);
            }

            div.draft-card-head-right {
              float: right;
              position: relative;
              width: 45%;
              margin-top: 8px;

              div.new-tag {
                @include avenir_B();
                color: $carrot_green_1;
                font-size: 12px;
                line-height: 14px;
                padding: 6px 7px 4px 7px;
                float: right;
                text-transform: uppercase;
                border: 1px solid $carrot_green_2;
                border-radius: 3px;
              }

              div.activity-tag {
                margin-top: 0;
                float: right;
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-right: 8px;

                &.double-tag {
                  max-width: 50%;
                }
              }

              @include activity-tag();
            }
          }
        }

        div.draft-card-content {
          padding: 24px 32px 0px;

          div.draft-card-title {
            @include activity-title();
            font-size: 24px;
            color: $carrot_dark_gray;
            margin-bottom: 24px;
          }

          div.draft-card-body {
            @include activity-body();
            display: block;
            line-height: 24px;
            height: #{24*3}px;
            overflow: hidden;

            &.has-body {
              height: #{24*3}px;
            }

            &.has-media-preview {
              width: calc(100% - 72px - 16px);
              margin-right: 16px;
              float: left;
            }

            .carrot-no-preview {
              display: none;
            }

            a:not(.read-more):hover {
              text-decoration: none !important;
            }

            img:not(.emojione){
              display: none;
            }

            b {
              font-weight: 400;
              @include avenir_M();
            }

            h2 {
              @include avenir_R();
              font-size: 16px;
              font-weight: normal;
            }

            a.read-more {
              @include avenir_R();
              font-size: 16px;
              color: $carrot_text_blue;
              cursor: pointer;
              display: inline-block !important;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          @include activity-media-preview();
        }

        div.draft-card-mobile-footer {
          display: none;

          @include mobile() {
            display: block;
            width: 100%;
            padding: 16px 24px 24px;

            button.continue-editing-bt {
              padding: 8px 32px;
              @include avenir_H();
              font-size: 12px;
              color: $carrot_green_1;
              background-color: rgba(#E0F8EC, 0.7);
              border-radius: 100px;
            }

            button.delete-draft-bt {
              margin-left: 16px;
              padding: 8px 12px;
              background-color: transparent;
              color: $carrot_green_1;
            }
          }
        }

        div.draft-card-footer-last-edit {
          padding: 16px;
          margin: 24px;
          height: 46px;
          width: 382px;
          background-color: #D4F7E5;
          border-radius: 4px;
          cursor: pointer;

          @include mobile() {
            display: none;
          }

          span.edit {
            float: left;
            color: $carrot_green;
            opacity: 0.5;
          }

          button.delete-draft {
            float: right;
            width: 32px;
            height: 32px;
            margin-top: -5px;
            padding: 0;
            color: $carrot_green;
            opacity: 0.5;
            text-align: right;

            &:hover {
              opacity: 1;
            }

            i.mdi:before {
              font-size: 21px;
            }
          }

          span.last-edit {
            float: right;
            color: $carrot_green;
            @include avenir_O();
            font-size: 14px;
            opacity: 0.5;
            margin-right: 0px;
          }
        }

        &.empty-draft {
          background-color: transparent;
          box-shadow: none;
          border: none;

          @include mobile() {
            display: none;
          }
        }
      }
    }
  }
}