div.dropdown-list-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  z-index: 2;

  div.triangle {
    position: absolute;
    top: -2px;
    left: calc(50% - 10px);
    background-color: white;
    border-top: 1px solid rgba(177,184,192,0.50);
    border-left: 1px solid rgba(177,184,192,0.50);
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
  }

  div.dropdown-list-content {
    background-color: white;
    border: 1px solid rgba(177,184,192,0.50);
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.10);
    border-radius: 5px;
    margin: 8px 0;
    padding: 10px 8px 6px;
    min-height: 50px;

    ul.dropdown-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: white;
      position: relative;

      li.dropdown-list-item {
        padding: 5px 12px 3px;
        margin: 3px 0;
        cursor: pointer;
        @include OC_Body_Medium();
        font-size: 14px;
        color: $carrot_light_gray_3;
        cursor: pointer;
        border-radius: 100px;

        &.divider-line {
          display: block;
          height: 1px;
          width: calc(100% + 16px);
          padding: 0px;
          margin: 3px 0 3px -8px;
          background-color: rgba(177,184,192,0.50);
          border-radius: 0px;

          &:hover {
            background-color: rgba(177,184,192,0.50);
          }
        }

        &:hover {
          color: $carrot_dark_gray_2;
        }

        &.select {
          @include OC_Body_Bold();
          text-decoration: none;
          color: $carrot_dark_gray_2;
        }

        &.disabled {
          opacity: 0.5;
        }

        &.user-avatar-icons {
          @include user_profile(22){
            float: left;
            margin-right: 8px;
          }

          span.dropdown-list-item-label {
            max-width: calc(100% - 30px);
            line-height: 22px;
          }
        }

        img.dropdown-list-item-icon {
          width: 16px;
          height: 16px;
          margin-right: 8px;
          margin-top: -3px;
        }

        span.dropdown-list-item-label {
          @include OC_Body_Medium();
          font-size: 14px;
          color: $carrot_light_gray_3;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre;
          display: block;
        }
      }
    }
  }
}