div.edit-user-profile {

  div.edit-user-profile-internal {
    position: relative;
    padding: 2rem;

    @include big_web(){
      width: 580px;
    }
    /* 29px is the height below the user info */
    min-height: calc(100vh - 114px - #{$back_to_dashboard_row_height}px - #{$footer_small_height}px);

    @include mobile(){
      /* 9px on mobile */
      padding: 20px 20px 20px 20px;
      min-height: calc(100vh - 9px - #{$back_to_dashboard_row_height}px - #{$footer_small_height}px);
    }

    div.edit-user-profile-content {
      padding: 28px;
      background-color: rgba(78, 90, 107, 0.05);
      margin-bottom: 20px;

      .data-title {
        font-family: $oc_headers_font;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
      }

      div.edit-user-profile-title {
        font-size: 16px;
        font-weight: 400;
        color: $oc_gray_5;
        margin-top: 25px;

        &:first-child {
          margin-top: 0px;
        }
      }

      input.edit-user-profile {
        margin-top: 6px;
        font-size: 16px;
        line-height: 1.8;
        color: $oc_gray_5;
      }

      div.left-column{
        @include big_web(){
          width: 70%;
          float: left;
        }
      }

      div.right-column {
        @include big_web(){
          float: left;
          width: 30%;
          padding-left: 25px;
        }

        div.user-avatar-container {
          position: relative;
          &:hover{
            button.remove-user-avatar{
              color: rgba(78,90,107,0.8);
            }  
          }
          button.remove-user-avatar{
            position: absolute;
            color: rgba(78,90,107,0.4);
            top: 7px;
            right: 10px;

            i.fa {
              font-weight: 300;
            }
          }
        }

        img.user-avatar-img {
          margin-top: 11px;
          max-width: 100px;
          max-height: 100px;
        }

        div.user-avatar-name{
          margin-top: 11px;
          width: 100px;
          height: 100px;
          border: 1px solid rgba(78,90,107,0.4);
          padding: 10px;
          font-size: 56px;
          text-align: center;
        }

        div.uploading-progress {
          font-size: 12px;
          font-weight: normal;
          color: $oc_gray_5;
        }
      }
    }
  }
}