div.email-domain-container {
  margin-top: 16px;

  div.email-domain-title {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);

    i.mdi-information-outline {
      margin-left: 6px;

      &:before {
        font-size: 14px;
      }
    }
  }

  div.email-domain-field-container {
    margin-top: 8px;
    height: 32px;
    padding: 0 8px;
    background-color: var(--opac-background-color-1);
    border-radius: 4px;
    border: 1px solid var(--opac-background-color-1);
    border: none;
    outline: none;
    width: 100%;

    &.error {
      border: 1px solid $carrot_orange;
    }

    input.email-domain-field {
      height: 32px;
      background-color: transparent;
      border-radius: 4px;
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
      line-height: 18px;
      width: calc(100% - 32px);
      border: none;
      outline: none;
      border: 1px solid transparent;
      padding: 7px 0;
      float: left;

      &:focus, &:active, &.active {
        outline: none;
      }

      @include placeholder(){
        color: var(--light-color)
      }

      &.error {
        border: 1px solid $carrot_orange;
      }
    }

    button.add-email-domain-bt {
      float: right;
      width: auto;
      padding: 0;
      @include OC_Body_Bold();
      color: $wut_purple;
      font-size: 13px;
      height: 18px;
      margin-top: 7px;

      &:disabled, &.disabled {
        color: var(--light-color);
        opacity: 1;
      }
    }
  }

  div.email-domain-list {
    margin-top: 16px;

    div.email-domain-row {
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
      margin-top: 8px;
      line-height: 18px;
      height: 18px;

      button.remove-email-bt {
        padding: 0;
        float: right;
        @include OC_Body_Book();
        font-size: 12px;
        color: var(--light-color);

        &:hover {
          color: var(--color);
        }
      }
    }
  }
}