$picker_height: 421;
$picker_width: 338;

div.emoji-picker {
  z-index: #{$navbar_zindex - 1};
  position: relative;

  button.emoji-button{
    padding: 1px 0 0 0;
    width: 25px;
    height: 24px;
    background-image: cdnUrl("/img/ML/emoji2x.png");
    background-size: 25px 24px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;

    img {
      width: 25px;
      height: 24px;
    }

    &:hover {
      opacity: 1;
      background-image: cdnUrl("/img/ML/emoji_blue2x.png");
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  .emoji-dialog .modifiers {
    display: none;
  }

  div.picker-container {
    position: absolute;
    display: none;

    &:not(.visible).preloading {
      display: block;
      top: -10000px;
      left: -10000px;
    }

    &.visible {
      display: block;
    }

    &.top {
      top: -#{$picker_height + 10}px;
    }

    &.bottom {
      top: 0px;
    }
  }
}

// Override emojione-picker.css

.emoji-dialog span.emojione {
  width: 64px;
  height: 64px;
  zoom: 0.35;
  -moz-transform: scale(0.35);
}


div.emoji-mart {
  div.emoji-mart-preview {
    div.emoji-mart-preview-data span.emoji-mart-title-label {
      display: none;
    }
  }
}