/* AutoComplete styles for Emoji One */
 
.emoji-autocomplete-menu {
  list-style: none;
  overflow: hidden;
  font-size: inherit;
  letter-spacing: .025em;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  z-index: 1136!important;
  max-height: 300px;
  top: 0px;
  overflow: scroll;
  background-color: var(--tooltip-background-color);
  border: 1px solid var(--tooltip-border-color);
  border-radius: 5px;
  list-style-type: none;
  margin: 8px 0;
  padding: 0;
  position: relative;

  li.textcomplete-header, li.textcomplete-footer {
    height: 0;
  }

  li.textcomplete-item {
    letter-spacing: 0;
    display: block;
    float: none;

    &, span, a {
      border:none;
      padding: 5px 12px 3px;
      margin: 3px 0;
      cursor: pointer;
      color: var(--tooltip-color);
      @include OC_Body_Book();
      font-size: 14px;
      cursor: pointer;
    }

    &:before {
      display: none;
    }

    .emojione {
      vertical-align: middle;
      font-size: 1.23em;
      zoom: 0.3125;
      width: 64px;
      height: 64px;
      top: -1px;
      margin: 0 .3em 0 0;
    }

    &.active, &:hover {
      @include OC_Body_Bold();
      text-decoration: none;
      color: var(--tooltip-color);
      background-color: var(--opac-background-color-24);
    }
  }
}