$picker_height: 421;
$picker_width: 338;

div.emoji-picker {
  z-index: 100;
  position: relative;

  button.emoji-button{
    padding: 0;
    width: 20px;
    height: 20px;
    background-image: cdnUrl("/img/ML/new_post_emoji_button.svg");
    background-size: 16px 16px;
    background-position: center;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  .emoji-dialog .modifiers {
    display: none;
  }

  div.picker-container {
    position: absolute;
    display: block;

    button.mobile-cancel-bt {
      display: none;
    }

    @include mobile() {
      width: 100vw;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: white;
      z-index: 4;
      padding-top: 29px;

      button.mobile-cancel-bt {
        color: $deep_navy;
        padding: 0;
        margin: 0;
        @include OC_Body_Bold();
        font-size: 16px;
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
      }

      div.emoji-mart {
        position: relative;
        width: 100% !important;
        height: calc(100vh - 29px);
        bottom: unset;
        box-shadow: none;
        border-radius: none;
        border: none;

        div.emoji-mart-scroll {
          height: calc(100vh - 29px - 46px - 29px);
        }

        div.emoji-mart-bar:last-child {
          display: none;
        }
      }
    }

    &.top {
      top: -#{$picker_height + 8}px;
    }

    &.bottom {
      top: 0px;
    }
  }
}

// Override emoji-mart.css

div.emoji-mart {
  border: 1px solid rgba($deep_tan, 0.7);
  box-shadow: 0px 2px 4px 0px rgba($deep_tan, 0.8);
  border-radius: 6px;
  z-index: #{$navbar_zindex - 1};

  div.emoji-mart-preview {
    div.emoji-mart-preview-data span.emoji-mart-title-label {
      display: none;
    }
  }
}