div.emoji-picker {
  button.emoji-button{
    padding: 1px 0 0 0;
    width: 25px;
    height: 24px;
    background-image: cdnUrl("/img/ML/emoji2x.png");
    background-size: 25px 24px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;

    img {
      width: 25px;
      height: 24px;
    }

    &:hover {
      opacity: 1;
      background-image: cdnUrl("/img/ML/emoji_blue2x.png");
    }

    &.disabled {
      opacity: 0.2;

      &:hover {
        opacity: 0.2;
        background-image: cdnUrl("/img/ML/emoji2x.png");
      }
    }
  }

  .emoji-dialog .modifiers {
    display: none;
  }
}

// Override emojione-picker.css

.emoji-dialog span.emojione {
  width: 64px;
  height: 64px;
  zoom: 0.35;
  -moz-transform: scale(0.35);
}
