div.empty-board {
  margin: 124px auto 0;
  float: left;
  text-align: center;
  width: 100%;

  @include mobile() {
    float: unset;
    margin: 0px auto;
    width: 100%;
    padding: 0px 24px;
  }

  div.empty-board-grey-box {
    width: 100%;
    margin: 0 auto;

    @include mobile() {
      width: 100%;
      height: auto;
      background-image: none;
      border: none;
      padding: 40px 0;
      margin: 100px auto 0;
    }

    div.empty-board-illustration-container {
      width: 56px;
      height: 56px;
      background-color: rgba($deep_navy, 0.1);
      border-radius: 8px;
      margin: 0 auto;

      div.empty-board-illustration {
        width: 56px;
        height: 56px;
        opacity: 0.5;
        background-image: cdnUrl("/img/ML/empty_state_ap_section.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 21px;

        &.inbox {
          background-image: cdnUrl("/img/ML/empty_state_inbox_section.svg");
          background-size: 24px 21px;
        }

        &.drafts {
          background-image: cdnUrl("/img/ML/new_post_tab_icon.svg");
          background-size: 24px 24px;
        }

        &.follow-ups {
          background-image: cdnUrl("/img/ML/empty_state_follow_ups_section.svg");
          background-size: 18px 24px;
        }
      }
    }

    div.empty-board-title {
      @include OC_Body_Bold();
      font-size: 16px;
      color: $deep_navy;
      line-height: 20px;
      margin: 16px auto 0;
    }
  }
}