div.empty-board {
  margin: 0 auto;
  padding-top: 124px;
  float: left;
  text-align: center;
  width: 100%;
  border-top: 1px solid var(--divider-line);

  @include mobile() {
    float: unset;
    margin: 0px auto;
    width: 100%;
    padding: 0px 24px;
  }

  div.empty-board-grey-box {
    width: 100%;
    margin: 0 auto;

    @include mobile() {
      width: 100%;
      height: auto;
      background-image: none;
      border: none;
      padding: 40px 0;
      margin: 100px auto 0;
    }

    div.empty-board-illustration-container {
      width: 56px;
      height: 56px;
      background-color: var(--opac-background-color-1);
      border-radius: 8px;
      margin: 0 auto;

      &.contrib {
        background-color: transparent;
      }

      div.empty-board-illustration {
        width: 56px;
        height: 56px;
        opacity: 0.5;
        background-image: cdnUrl("/img/ML/empty_state_ap_section.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 21px;

        &.contributions {
          background-image: none;
          @include user-profile(56);
        }

        &.all-posts {
          background-image: cdnUrl("/img/ML/nav_all.svg");
          background-size: 24px 24px;
        }

        &.drafts {
          background-image: cdnUrl("/img/ML/nav_drafts.svg");
          background-size: 24px 24px;
        }

        &.saved {
          background-image: cdnUrl("/img/ML/nav_saved.svg");
          background-size: 24px 24px;
        }

        &.home {
          background-image: cdnUrl("/img/ML/nav_home.svg");
          background-size: 24px 24px;
        }

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/empty_state_ap_section@dark.svg");

          &.all {
            background-image: cdnUrl("/img/ML/nav_all@dark.svg");
          }

          &.drafts {
            background-image: cdnUrl("/img/ML/nav_drafts@dark.svg");
          }

          &.saved {
            background-image: cdnUrl("/img/ML/nav_saved@dark.svg");
          }

          &.home {
            background-image: cdnUrl("/img/ML/nav_home@dark.svg");
          }
        }
      }
    }

    div.empty-board-title {
      @include OC_Body_Bold();
      font-size: 16px;
      color: var(--color);
      line-height: 20px;
      margin: 16px auto 0;

      div.empty-follow {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;

        button {
          margin: 16px auto 0;
          width: auto;
          display: block;
          @include OC_Body_Bold();
          font-size: 16px;
          color: $wut_purple;

          &:hover {
            text-decoration: underline;
            opacity: 1;
          }
        }
      }
    }
  }
}