div.entries-layout {
  div.entry-cards-container {
    max-width: #{$board_container_width}px;

    @include mobile() {
      width: 100%;
    }

    div.entries-cards-container-row {
      display: flex;

      @include mobile() {
        display: block;
        width: 100%;
      }

      div.entry-card {
        flex: 1;
      }
    }
  }
}