div.entry-attachments {
  padding-bottom: 15px !important;
  width: 100%;

  a.entry-attachment {
    display: block;
    width: 100%;
    height: 43px;
    padding: 0.5rem 0.5rem 0.5rem 0;

    & > * {
      opacity: 0.8;
      cursor: pointer;
    }

    &:hover {
      & > * {
        opacity: 1;
      }

      label.entry-attachment-title {
        text-decoration: underline;
      }

      button.remove-attachment {
        display: block;
      }
    }

    i.file-mimetype {
      width: 30px;
      height: 30px;
      color: $oc_gray_5;
      float: left;
      font-size: 24px;
      margin-top: 2px;
    }

    label {
      color: $oc_gray_5;
      float: left;
      width: calc(100% - 30px - 30px);
      height: 16px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    label.entry-attachment-title {
      font-size: 12px;
      @include avenir_H();
    }

    label.entry-attachment-subtitle {
      font-size: 10px;
      @include avenir_B();
    }

    button.remove-attachment {
      float: right;
      width: 25px;
      height: 25px;
      margin: -15px 0 0 0;
      padding: 0;
      color: $oc_gray_5;
      display: none;
    }
  }
}