div.entries-layout {
  div.entry-cards-container {
    max-width: #{$board_container_width}px;

    &.by-topic {
      width: 100%;
      margin-top: 30px;
    }

    div.by-topic-header {
      div.by-topic-header-title{
        @include avenir_H();
        font-size: 24px;
        color: $oc_gray_7;
        margin-left: 16px;
        float: left;

        span.oblique {
          @include avenir_HO();
        }
      }

      button.view-all-updates {
        font-size: 13px;
        color: $oc_gray_7;
        @include avenir_B();
        float: right;
        margin-top: 10px;
        margin-right: 12px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    div.entries-cards-container-row {
      display: flex;

      div.entry-card {
        flex: 1;
      }
    }
  }
}