$add_media_animation: 0ms;

div.entry-edit-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $oc_gray_8;
  z-index: #{$navbar_zindex + 105};
  transition: opacity 180ms ease-in;
  overflow-y: auto;
  overflow-x: visible;

  @include mobile() {
    position: relative;
    height: initial;
  }

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.entry-edit-modal-header {
    height: 64px;
    background-color: white;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    box-shadow: 0px 2px 6px 0px rgba($deep_tan,0.5);
    padding: 20px 24px;

    @include mobile() {
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.12);
    }

    button.mobile-modal-close-bt {
      @include image-2x("/img/ML/mobile_modal_close");
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: 5px 5px;
      position: absolute;
      top: 20px;
      left: 18px;
    }

    div.entry-edit-modal-header-right {
      position: absolute;
      top: 12px;
      right: 24px;
      max-width: 80%;

      @include mobile() {
        top: 20px;
      }

      div.mobile-buttons-divider-line {
        display: none;

        @include mobile() {
          float: right;
          width: 1px;
          background-color: #D8DBDF;
          height: 16px;
          margin: 4px 24px 0px 12px;
        }
      }

      button.header-buttons {
        height: 40px;
        @include avenir_H();
        font-size: 14px;
        float: right;
        color: $carrot_green;
        margin: 0px;

        &.post-button {
          border-radius: 100px;
          background-color: $coral;
          color: $carrot_orange;
          padding: 0px 32px;
          margin-left: 24px;
        }

        @include mobile() {
          height: 24px;
          font-size: 15px;
          line-height: 24px;
          position: relative;
          padding: 2px 12px 0px 32px;
          border-radius: 0px;
          color: $carrot_green;

          &.disabled {
            color: $carrot_light_gray_3;
            opacity: 1;
          }

          div.button-icon {
            position: absolute;
            top: 2px;
            left: 0px;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center;
          }

          &.post-button {
            margin-left: 0px;
            background-color: transparent;
            padding: 2px 12px 0px 32px;
            color: $carrot_green;

            &.disabled {
              div.button-icon {
                @include image-2x("/img/ML/entry_post_button_icon");
              }
            }

            div.button-icon {
              @include image-2x("/img/ML/entry_post_button_icon_green");
              background-size: 20px 20px;
            }
          }

          &.save-button {
            &.disabled {
              div.button-icon {
                @include image-2x("/img/ML/entry_save_button_icon");
              }
            }

            div.button-icon {
              @include image-2x("/img/ML/entry_save_button_icon_green");
              background-size: 20px 20px;
            }
          }
        }
      }
    }
  }

  div.modal-wrapper {
    width: #{672 + 20 +8}px;
    min-height: 330px;
    margin: 104px auto 50px;
    position: relative;

    @include mobile() {
      min-height: initial;
      max-height: initial;
      height: initial;
      width: 100%;
      margin: 0px;
    }

    div.entry-edit-modal {
      width: 700px;
      margin: 0px 0px 0px 28px;
      position: relative;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
      padding: 0px;

      @include mobile() {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        position: initial;
        height: initial;
      }

      div.entry-edit-modal-headline {
        height: 88px;
        width: 100%;
        padding: 28px 41px;
        border-bottom: 1px solid rgba($deep_tan, 0.3);

        @include mobile() {
          height: 48px;
          padding: 0px;
          border-bottom: none;
        }

        @include user-profile(32);

        div.user-avatar-img-container {
          float: left;

          @include mobile() {
            display: none;
          }
        }

        div.posting-in {
          @include avenir_M();
          font-size: 16px;
          color: $carrot_dark_gray;
          float: left;
          margin-top: 5px;
          margin-left: 16px;

          @include mobile() {
            font-size: 15px;
            color: $carrot_text_blue_3;
            background-color: $carrot_light_blue_2;
            height: 48px;
            padding: 14px 24px 0px;
            float: none;
            margin-top: 64px;
            margin-left: 0px;

            &.active {
              background-color: $carrot_text_blue_3;

              div.boards-dropdown-caret {
                color: white;
                &:after {
                  background-image: cdnUrl("/img/ML/board_blue_chevron_white.svg");
                }
              }
            }
          }

          span {
            float: left;
          }

          div.boards-dropdown-caret {
            @include avenir_M();
            color: $carrot_green;
            float: left;
            margin-left: 6px;
            cursor: pointer;
            position: relative;

            label.board-name {
              @include avenir_M();
              color: $carrot_green;
              margin-bottom: 0px;
              cursor: pointer;

              @include mobile() {
                @include avenir_H();
                color: $carrot_text_blue_3;
              }
            }

            &:after {
              float: right;
              content: "";
              background-image: cdnUrl("/img/ML/board_settings.svg");
              background-size: 8px 8px;
              background-repeat: no-repeat;
              background-position: center;
              background-color: $deep_tan;
              border-radius: 10px;
              width: 20px;
              height: 20px;
              margin-top: 0px;
              margin-left: 6px;
              opacity: 0.8;

              &:hover {
                opacity: 1;
              }
            }

            @include mobile() {

              &:after {
                width: 8px 5px;
                margin-top: -3px;
                background-size: 8px 5px;
                background-position: 0px 9px;
                background-color: transparent;
                background-image: cdnUrl("/img/ML/board_blue_chevron.svg");
              }
            }

            div.dropdown-list-container {
              top: 32px;
              left: 50%;
              margin-left: -100px;
              width: 200px;

              @include mobile() {
                width: 100vw;
                height: calc(100vh - 64px - 48px);
                top: 34px;
                left: 0px;
                text-align: left;
                background-color: white;

                div.triangle {
                  display: none;
                }

                div.dropdown-list-content {
                  border: none;
                  border-radius: 0px;
                  padding: 24px;
                  margin: 0px;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }

      div.entry-edit-modal-body {
        margin: 0px;
        padding: 0px 42px 24px 42px;
        width: calc(100% + 22px);
        border-bottom: 1px solid rgba($deep_tan, 0.3);

        @include mobile() {
          min-height: calc(100vh - 139px);
          max-height: initial;
          padding: 0px;
          width: 100%;
          margin: 0px;
          border-bottom: none;
        }

        div.entry-edit-headline {
          border: none;
          outline: none;
          cursor: text;
          @include activity-headline();
          @include avenir_H();
          font-size: 18px;
          color: $carrot_dark_gray;
          white-space: pre-wrap;
          word-wrap: break-word;
          margin-top: 35px;
          min-height: 26px;

          @include tablet() {
            width: 100%;
            @include avenir_H();
            font-size: 20px;
            margin: 27px 0px 0px;
            padding: 0px 24px;
          }

          &:empty:before {
            content: attr(placeholder);
            display: inline-block;
            color: rgba(#8A8E94, 0.5) !important;
            font-style: none;
            height: 26px;

            @include tablet() {
              color: rgba($carrot_dark_gray, 0.5) !important;
            }
          }
        }

        div.rich-body-editor-container {
          position: relative;
          overflow: visible;

          @include tablet() {
            margin: 8px 0px 0px;
            padding: 0px 24px;
          }

          div.medium-editor-media-picker {
            margin-top: 0px;
            margin-left: -42px;
            top: 0px;
          }

          div.rich-body-editor {
            border: none;
            outline: none;
            color: $carrot_dark_gray;
            @include avenir_R();
            font-size: 16px;
            margin: 15px 0;
            cursor: text;
            min-height: 85px;
            white-space: pre-wrap;
            word-wrap: break-word;
            @include activity-body();

            @include tablet() {
              width: 100%;
              margin: 24px 0px 0px;
              min-height: 64px;

              @include avenir_BOOK();
              font-size: 18px;
              line-height: 30px;
            }

            @include activity-attachment(true);

            &.medium-editor-placeholder:after {
              color: rgba(#8A8E94, 0.5) !important;

              @include tablet() {
                color: rgba($carrot_dark_gray, 0.5) !important;
              }
            }

            * {
              color: $carrot_dark_gray;
            }

            &:after {
              margin: 0;
            }
          }
        }

        div.entry-edit-controls {
          margin-bottom: 16px;

          @include mobile() {
            display: none;
          }
        }
      }

      div.media-attachments {
        padding: 0px 36px;
      }

      div.entry-edit-modal-footer {
        height: 20px;
        margin: 16px 36px 32px;
        position: relative;

        @include mobile() {
          display: none;
        }

        div.emoji-picker {
          float: left;

          button.emoji-button {
            width: 20px;
            height: 28px;
            margin-top: -8px;
            background-position: 0px 8px;
          }

          @include mobile() {
            display: none;
          }

          div.picker-container {
            left: -8px;
          }
        }

        div.entry-edit-legend-container {
          float: left;
          margin-left: 16px;
          position: relative;

          div.entry-edit-legend-trigger {
            width: 20px;
            height: 28px;
            @include image-2x("/img/ML/new_post_legend_button");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 0px 8px;
            margin-top: -8px;
          }

          div.entry-edit-legend-image {
            position: absolute;
            top: -283px;
            left: -8px;
            width: 212px;
            height: 281px;
            @include image-2x("/img/ML/new_post_legend");
            background-size: 212px 281px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

div.tooltip.post-btn-tooltip {
  max-width: 175px;
}