$add_media_animation: 0ms;

div.entry-edit-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $oc_gray_8;
  z-index: #{$navbar_zindex + 105};
  transition: opacity 180ms ease-in;
  overflow-y: auto;
  overflow-x: visible;

  @include mobile() {
    position: relative;
    height: initial;
    min-height: 100vh;
    background-color: white;
  }

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.entry-edit-modal-header {
    height: 64px;
    background-color: white;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    box-shadow: 0px 2px 6px 0px rgba($deep_tan,0.5);
    padding: 20px 24px;
    z-index: #{$navbar_zindex + 106};

    @include mobile() {
      box-shadow: none;
      height: 112px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    div.entry-edit-modal-header-title {
      @include avenir_H();
      font-size: 18px;
      color: $deep_navy;
      width: 105px;
      text-align: right;
      position: relative;
      margin: 0px auto;

      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0px;
        width: 15px;
        height: 16px;
        background-image: cdnUrl("/img/ML/edit_pencil.svg");
        background-size: 15px 16px;
        background-position: center;
        background-repeat: no-repeat;
      }

      @include mobile() {
        display: none;
      }
    }

    button.mobile-modal-close-bt {
      @include image-2x("/img/ML/mobile_modal_close");
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: 5px 5px;
      position: absolute;
      top: 20px;
      left: 18px;
    }

    div.entry-edit-modal-header-right {
      position: absolute;
      top: 12px;
      right: 24px;
      max-width: 80%;

      @include mobile() {
        top: 20px;
      }

      div.mobile-buttons-divider-line {
        display: none;

        @include mobile() {
          float: right;
          width: 1px;
          background-color: #D8DBDF;
          height: 64px;
          margin: -20px 16px 0px 16px;
          display: block;
        }
      }

      button.header-buttons {
        height: 40px;
        @include avenir_H();
        font-size: 14px;
        float: right;
        color: $carrot_green;
        margin: 0px;
        position: relative;

        div.button-icon {
          position: absolute;
          top: 10px;
          left: 20px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-color: transparent;
          background-position: center;
        }

        &.post-button {
          border-radius: 100px;
          background-color: $carrot_green;
          color: white;
          padding: 0px 32px 0px 48px;
          margin-left: 24px;

          div.small-loading {
            position: absolute;
            top: 10px;
            left: 20px;
          }

          div.button-icon {
            background-size: 20px 20px;
            @include image-2x("/img/ML/entry_post_button_icon_white");
          }
        }

        @include mobile() {
          height: 24px;
          font-size: 15px;
          line-height: 24px;
          padding: 2px 0px 0px 32px;
          border-radius: 0px;
          color: $carrot_green;

          &.disabled {
            color: $carrot_light_gray_3;
            opacity: 1;
          }

          div.button-icon {
            top: 2px;
            left: 0px;
          }

          &.post-button {
            margin-left: 0px;
            background-color: transparent;
            padding: 2px 0px 0px 32px;
            color: $carrot_green;
            background-color: transparent;

            div.button-icon {
              background-size: 20px 20px;
              @include image-2x("/img/ML/entry_post_button_icon_green");
            }


            &.disabled {
              div.button-icon {
                background-size: 20px 20px;
                @include image-2x("/img/ML/entry_post_button_icon");
              }
            }
          }

          &.save-button {
            &.disabled {
              div.button-icon {
                @include image-2x("/img/ML/entry_save_button_icon");
              }
            }

            div.button-icon {
              @include image-2x("/img/ML/entry_save_button_icon_green");
              background-size: 20px 20px;
            }
          }
        }
      }
    }

    div.entry-edit-modal-mobile-subheader {
      height: 48px;
      margin-top: 44px;
      width: calc(100% + 48px);
      margin-left: -24px;
      padding: 12px 24px;
      border-top: 1px solid $light_ui_grey;
      display: none;

      @include mobile() {
        display: block;
      }
    }
  }

  div.posting-in {
    @include avenir_M();
    font-size: 16px;
    color: $carrot_dark_gray;
    float: left;
    margin-top: 5px;
    margin-left: 16px;

    @include mobile() {
      float: none;
      margin-left: 0px;
      font-size: 15px;
    }

    span.posting-in-span {
      float: left;
    }

    div.boards-dropdown-caret {
      @include avenir_M();
      color: $carrot_green;
      float: left;
      margin-left: 6px;
      cursor: pointer;
      position: relative;

      @include mobile() {
        @include avenir_H();
        font-size: 15px;
      }

      div.board-name {
        @include avenir_M();
        color: $carrot_green;
        margin-bottom: 0px;
        cursor: pointer;
        position: relative;
        float: left;

        &:after {
          float: right;
          content: "";
          background-image: cdnUrl("/img/ML/board_settings.svg");
          background-size: 8px 8px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: $deep_tan;
          border-radius: 10px;
          width: 20px;
          height: 20px;
          margin-top: 0px;
          margin-left: 6px;
          opacity: 0.8;

          @include mobile() {
            width: 8px 5px;
            margin-top: -3px;
            background-size: 8px 5px;
            background-position: 0px 9px;
            background-color: transparent;
            background-image: cdnUrl("/img/ML/board_chevron_green.svg");
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      div.sections-picker-container {
        position: absolute;
        top: 32px;
        left: 50%;
        margin-left: -180px;
        z-index: 1000;

        @include mobile() {
          position: fixed;
          top: 0px;
          left: 0px;
          margin-left: 0px;
          z-index: 1500;
        }
      }
    }
  }

  div.modal-wrapper {
    width: #{672 + 20 +8}px;
    min-height: 330px;
    margin: 104px auto 50px;
    position: relative;

    @include mobile() {
      min-height: initial;
      max-height: initial;
      height: initial;
      width: 100%;
      margin: 0px;
      margin-top: 136px;
    }

    div.entry-edit-modal {
      width: 700px;
      margin: 0px 0px 0px 28px;
      position: relative;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
      padding: 0px;

      @include mobile() {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        position: initial;
        height: initial;
      }

      div.entry-edit-modal-headline {
        height: 88px;
        width: 100%;
        padding: 28px 41px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @include mobile() {
          display: none;
        }

        @include user-profile(32);

        & > div.user-avatar-img-container {
          float: left;

          @include mobile() {
            display: none;
          }
        }
      }

      div.entry-edit-modal-body {
        margin: 0px;
        padding: 0px 42px 24px 42px;
        width: calc(100% + 22px);
        border-bottom: 1px solid rgba($deep_tan, 0.3);

        @include mobile() {
          min-height: calc(100vh - 139px);
          max-height: initial;
          padding: 0px;
          width: 100%;
          margin: 0px;
          border-bottom: none;
        }

        div.entry-edit-headline {
          border: none;
          outline: none;
          cursor: text;
          @include activity-headline();
          @include avenir_H();
          font-size: 18px;
          color: $carrot_dark_gray;
          white-space: pre-wrap;
          word-wrap: break-word;
          margin-top: 35px;
          min-height: 26px;

          @include tablet() {
            width: 100%;
            @include avenir_H();
            font-size: 20px;
            margin: 27px 0px 0px;
            padding: 0px 24px;
          }

          &:empty:before {
            content: attr(placeholder);
            display: inline-block;
            color: rgba(#8A8E94, 0.5) !important;
            font-style: none;
            height: 26px;

            @include tablet() {
              color: rgba($carrot_dark_gray, 0.5) !important;
            }
          }
        }

        div.stream-view-attachments {
          @include mobile(){
            padding: 0px 24px;
          }
        }

        div.rich-body-editor-container {
          position: relative;
          overflow: visible;

          @include tablet() {
            margin: 8px 0px 0px;
            padding: 0px 24px;
          }

          div.medium-editor-media-picker {
            margin-top: 0px;
            margin-left: -42px;
            top: 0px;
          }

          div.rich-body-editor {
            border: none;
            outline: none;
            color: $deep_navy;
            @include avenir_R();
            font-size: 16px;
            margin: 15px 0;
            cursor: text;
            min-height: 85px;
            white-space: pre-wrap;
            word-wrap: break-word;
            @include activity-body();

            @include tablet() {
              width: 100%;
              margin: 24px 0px 0px;
              min-height: 64px;

              @include avenir_BOOK();
              font-size: 18px;
              line-height: 30px;
            }

            @include activity-attachment(true);

            &.medium-editor-placeholder:after {
              color: $deep_navy !important;
            }

            &:after {
              margin: 0;
            }
          }
        }

        div.entry-edit-controls {
          margin-bottom: 16px;

          @include mobile() {
            display: none;
          }
        }
      }

      div.media-attachments {
        padding: 0px 36px;
      }

      div.entry-edit-modal-footer {
        height: 20px;
        margin: 28px 36px;
        position: relative;

        @include mobile() {
          display: none;
        }

        div.entry-edit-footer-multi-picker {
          float: left;
        }

        div.emoji-picker {
          float: left;
          margin-left: 16px;

          button.emoji-button {
            width: 20px;
            height: 20px;
            background-position: 0px 0px;
            padding: 0px;
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
          }

          @include mobile() {
            display: none;
          }

          div.picker-container {
            left: -8px;
          }
        }

        div.entry-edit-legend-container {
          float: left;
          margin-left: 16px;
          position: relative;

          button.entry-edit-legend-trigger {
            width: 20px;
            height: 20px;
            @include image-2x("/img/ML/new_post_legend_button");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 0px 0px;
            cursor: pointer;
            position: absolute;
            top: 0px;
            left: 0px;
          }

          div.entry-edit-legend-image {
            position: absolute;
            top: -283px;
            left: -8px;
            width: 212px;
            height: 281px;
            @include image-2x("/img/ML/new_post_legend");
            background-size: 212px 281px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

div.tooltip.post-btn-tooltip {
  max-width: 175px;
}