$add_media_animation: 0ms;

div.entry-edit-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $oc_gray_8;
  z-index: #{$navbar_zindex + 105};
  transition: opacity 180ms ease-in;
  overflow-y: auto;
  overflow-x: visible;

  @include mobile() {
    position: relative;
    height: initial;
    min-height: 100vh;
    background-color: white;
  }

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.entry-edit-modal-header {
    height: 56px;
    background-color: $sea_blue;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 24px;
    z-index: #{$navbar_zindex + 106};

    @include mobile() {
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    div.entry-edit-modal-header-title {
      @include avenir_H();
      font-size: 16px;
      line-height: 24px;
      color: white;
      text-align: center;
      position: relative;
      margin: 2px auto 0px;
      max-width: 50%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include mobile() {
        display: none;
      }
    }

    button.modal-close-bt {
      background-image: cdnUrl("/img/ML/white_close.svg");
      width: 16px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center;
      position: absolute;
      padding: 0px;
      top: 16px;
      left: 24px;
    }

    div.entry-edit-modal-header-right {
      position: absolute;
      top: 16px;
      right: 24px;
      max-width: 80%;

      @include mobile() {
        top: 16px;
      }

      div.mobile-buttons-divider-line {
        display: none;

        @include mobile() {
          float: right;
          width: 1px;
          background-color: rgba(white, 0.2);
          height: 24px;
          margin: 0px 16px;
          display: block;
        }
      }

      button.header-buttons {
        height: 24px;
        @include avenir_M();
        font-size: 14px;
        float: right;
        color: white;
        margin: 0px;
        position: relative;
        padding: 0px;
        opacity: 0.6;
        padding-top: 4px;

        &:hover {
          opacity: 1;
        }

        div.small-loading {
          position: absolute;
          top: 3px;
          left: 0px;
        }

        &.post-button {
          @include avenir_B();
          color: white;
          margin-left: 24px;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }

        @include tablet() {
          height: 24px;
          font-size: 15px;
          line-height: 24px;
          padding: 2px 0px 0px 0px;
          border-radius: 0px;

          &.loading {
            padding-left: 32px;
          }

          &.disabled {
            opacity: 0.6
          }


          &.post-button {
            margin-left: 0px;
            color: white;
            background-color: transparent;
            padding: 2px 0px 0px 0px;

            &.loading {
              padding-left: 32px;
            }

            &.disabled {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }

  div.entry-edit-modal {
    width: 720px;
    margin: 112px auto 32px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(#E4E3DE, 0.5);
    padding: 16px 24px 32px;

    @include mobile() {
      width: 100%;
      border-radius: 0px;
      box-shadow: none;
      position: initial;
      height: initial;
      padding: 0px;
      margin: 56px auto 32px;
    }

    div.entry-edit-modal-separator {
      width: calc(100% + 48px);
      height: 1px;
      margin-left: -24px;
      background-color: rgba($ui_grey, 0.2);
    }

    div.entry-edit-modal-section {
      width: 100%;
      padding-bottom: 16px;

      @include mobile() {
        padding: 16px 24px 0px;
        height: 56px;
      }

      div.posting-in {
        @include avenir_M();
        font-size: 14px;
        color: $deep_navy;
        float: left;
        position: relative;

        @include user-profile(24);

        div.user-avatar-img-container {
          float: left;
        }

        span {
          float: left;
          margin-left: 16px;
          margin-top: 2px;
        }

        div.board-name {
          margin-top: 2px;
          margin-left: 6px;
          cursor: pointer;
          position: relative;
          @include avenir_M();
          font-size: 14px;
          float: left;
          color: $deep_navy;
          max-width: 250px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 20px;

          &:after {
            content: "";
            background-image: cdnUrl("/img/ML/board_settings.svg");
            background-size: 8px 8px;
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0px;
            top: -2px;

            &:hover {
              opacity: 1;
            }
          }
        }

        div.sections-picker-container {
          position: absolute;
          top: 24px;
          left: 0px;
          z-index: 1000;
        }
      }

      div.entry-edit-modal-video-bt-container {
        float: right;

        button.video-record-bt {
          @include avenir_M();
          color: $light_ui_grey;
          font-size: 14px;
          height: 20px;
          position: relative;
          padding-left: 26px;

          &:not(.remove-video-bt) {
            @include preload_image(cdnUrl("/img/ML/capture_video_icon_hover.svg"));
          }

          &.remove-video-bt {
            @include preload_image(cdnUrl("/img/ML/remove_video_icon_hover.svg"));

            &:before {
              background-image: cdnUrl("/img/ML/remove_video_icon.svg");
            }

            &:hover {
              &:before {
                background-image: cdnUrl("/img/ML/remove_video_icon_hover.svg");  
              }
            }
          }

          &:hover {
            color: $ui_grey;

            &:before {
              background-image: cdnUrl("/img/ML/capture_video_icon_hover.svg");
            }
          }

          &:before {
            content: "";
            left: 0px;
            top: 3px;
            position: absolute;
            height: 12px;
            width: 20px;
            background-image: cdnUrl("/img/ML/capture_video_icon.svg");
            background-size: 20px 12px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }

    div.entry-edit-modal-body {
      margin: 0px;
      width: 100%;
      padding: 32px 16px 0px;

      @include tablet() {
        padding: 24px 24px 0px;

        div.ziggeo-player, div.ziggeo-recorder {
          margin-left: -24px;
        }
      }

      div.ziggeo-player, div.ziggeo-recorder {
        margin: 0px auto 24px;

        div.ziggeo-player-not-processed, div.ziggeo-recorder-not-processed {
          margin: 0px auto;
        }
      }

      div.entry-edit-headline {
        border: none;
        outline: none;
        cursor: text;
        @include activity-headline();
        @include avenir_H();
        font-size: 22px;
        color: $deep_navy;
        white-space: pre-wrap;
        word-wrap: break-word;
        min-height: 28px;
        line-height: 28px;

        @include tablet() {
          width: 100%;
          @include avenir_H();
          font-size: 20px;
          margin: 0px;
        }

        &:empty:before {
          content: attr(placeholder);
          display: inline-block;
          color: $light_ui_grey !important;
          font-style: none;
          height: 28px;
        }
      }

      div.rich-body-editor-wrapper {
        overflow-x: hidden;
        overflow-y: auto;

        div.rich-body-editor-container {
          position: relative;
          overflow: visible;
          height: auto;

          div.medium-editor-media-picker {
            margin-top: 0px;
            margin-left: -42px;
            top: 0px;
          }

          div.rich-body-editor {
            border: none;
            outline: none;
            margin: 8px 0px 0px;
            cursor: text;
            @include activity-body(18, 24, 24, $deep_navy);
            color: $deep_navy;
            @include avenir_R();
            font-size: 18px;
            line-height: 24px;
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;

            @media screen and (min-height: 556px) {
              min-height: 240px;
              max-height: calc(100vh - 315px);
            }

            @include mobile() {
              min-height: initial;
              max-height: initial;
              overflow-x: auto;
              overflow-y: auto;
            }

            & > *:first-child {
              margin-top: 0px;
            }

            p:not(:last-child):not(:first-child) {
              margin: 22px 0px;
            }

            &.medium-editor-placeholder:after {
              color: $light_ui_grey !important;
            }

            &:after {
              margin: 0;
            }
          }
        }
      }

      div.entry-edit-transcript {
        max-height: 330px;
        margin-top: 16px;
        width: 100%;
        background-color: rgba(#ECECEC, 0.2);
        border-top: 1px solid #ECECEC;
        padding: 24px;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: pre-wrap;
        word-wrap: break-word;

        textarea.video-transcript {
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }

      div.edit-tooltip-container {
        border: 1px dashed $carrot_gold;
        background-color: #FDF6E4;
        border-radius: 6px;
        padding: 24px 24px;
        margin: 0 0 32px;
        position: relative;

        @include tablet() {
          width: 100%;
          margin: 0 0 32px;
        }

        button.edit-tooltip-dismiss {
          position: absolute;
          top: 16px;
          right: 16px;
          width: 33px;
          height: 33px;
          background-image: cdnUrl("/img/ML/dismiss_tooltip_x.svg");
          background-size: 32px 32px;
          background-position: center;
          background-repeat: no-repeat;
        }

        div.edit-tooltips {
          width: 100%;

          div.edit-tooltip-title {
            @include avenir_H();
            font-size: 18px;
            color: $deep_navy;
            line-height: 20px;

            @include mobile() {
              max-width: 90%;
            }
          }

          div.edit-tooltip {
            @include avenir_R();
            font-size: 14px;
            color: $deep_navy;
            line-height: 18px;
            margin-top: 8px;

            @include tablet() {
              float: unset;
              margin: 24px auto 0px;
              width: 100%;
            }

            button.edit-tooltip-record-video-bt {
              display: inline;
              background-color: transparent;
              padding: 0;
              margin: 0;
              color: $carrot_green;
              @include avenir_H();
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }

      div.entry-edit-controls {
        margin-bottom: 16px;

        @include mobile() {
          display: none;
        }
      }
    }

    div.entry-edit-modal-footer {
      margin-top: 32px;
      padding: 0px 16px;
      position: relative;

      @include mobile() {
        display: none;
      }

      div.entry-edit-footer-multi-picker {
        float: left;
      }

      div.emoji-picker {
        float: left;
        margin-left: 16px;

        button.emoji-button {
          width: 20px;
          height: 20px;
          background-position: 0px 0px;
          padding: 0px;
          position: absolute;
          top: 0px;
          left: 0px;
          cursor: pointer;
        }

        @include mobile() {
          display: none;
        }

        div.picker-container {
          left: -8px;
        }
      }

      div.saving-saved {
        display: inline;
        width: 40px;
        @include avenir_M();
        color: $light_ui_grey;
        font-size: 12px;
        margin: 5px 1px 1px 20px;
      }

      div.entry-edit-legend-container {
        float: right;
        position: relative;
        width: 20px;
        height: 20px;

        button.entry-edit-legend-trigger {
          width: 20px;
          height: 20px;
          background-image: cdnUrl("/img/ML/new_post_legend_button.svg");
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-position: 0px 0px;
          cursor: pointer;
          position: absolute;
          top: 0px;
          left: 0px;
          opacity: 0.4;

          &:hover {
            opacity: 1;
          }
        }

        div.entry-edit-legend-image {
          position: absolute;
          top: -283px;
          left: -8px;
          width: 212px;
          height: 281px;
          @include image-2x("/img/ML/new_post_legend");
          background-size: 212px 281px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      div.entry-edit-footer-separator {
        width: 1px;
        height: 20px;
        background-color: $light_ui_grey;
        margin: 0px 16px;
        float: left;
      }
    }
  }
}

div.tooltip.post-btn-tooltip {
  max-width: 175px;
}