div.entry-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(250,250,257,0.95);
  z-index: #{$navbar_zindex + 100};
  transition: opacity 180ms ease-in;

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.entry-modal {
    width: 950px;
    max-height: calc(100vh - 150px);
    margin: 100px auto 50px;
    padding-left: 32px;
    position: relative;
    overflow: hidden;

    button.close-entry-modal {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 32px;
      height: 32px;
      background-color: $cr_light_blue;
      border-radius: 4px;
      background-image: cdnUrl("/img/ML/board_remove_filter.png");
      background-position: center;
      background-repeat: no-repeat;
      transition: 230ms;
      opacity: 1;

      &:hover {
        background-image: cdnUrl("/img/ML/board_remove_filter_white.png");
        background-color: $cr_text_blue;
        opacity: 1;
      }
    }

    div.entry-modal-inner {
      width: 918px;
      background-color: white;
      border-radius: 8px;
      max-height: calc(100vh - 150px);

      div.entry-left-column {
        // display:table-cell;
        float: left;
        width: 617px;
        // padding: 24px 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        div.entry-left-column-content {
          padding: 24px 16px 24px 32px;
          max-height: calc(100vh - 150px - 48px);
          overflow: scroll;

          div.entry-card-head{
            div.entry-card-head-left {
              width: 80%;
              float: left;
              @include entry-author();
            }

            div.entry-card-head-right {
              width: 20%;
              float: right;
              div.new {
                float: right;
                margin-top: 7px;
              }

              @include entry-new();

              button.entry-modal-more {
                float: right;
                margin-top: 7px;
                margin-left: 10px;
                width: 24px;
                height: 24px;
                background-image: cdnUrl("/img/ML/entry_modal_more.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 24px 24px;
                opacity: 0.6;

                &:hover {
                  opacity: 1;
                }
              }
            }
          }

          div.entry-card-content {
            float: none;
            width: 100%;

            div.entry-card-content-headline {
              margin-top: 24px;
              @include entry-headline();
            }

            div.entry-card-content-body {
              margin-top: 24px;
              @include entry-body();
            }
          }

          div.entry-card-footer {
            margin-top: 24px;
          }
        }
      }

      div.entry-right-column {
        float: right;
        width: 301px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #F2F1ED;
        max-height: calc(100vh - 150px - 48px);
        min-height: 200px;
        position: relative;

        div.entry-right-column-content {
          padding: 14px 32px 24px 16px;
          max-height: calc(100vh - 150px - 48px);
          overflow: scroll;
          position: absolute;
          bottom: 0px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}