div#oc-error-banner{
  position: fixed;
  width: 400px;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  z-index: #{$navbar_zindex + 3000};

  div.error-banner {
    background-color: $oc_red_light;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0.8rem 0.5rem;
    opacity: 0;
    transition: 230ms;

    &.showing {
      opacity: 1;
    }

    h3.error-message {
      margin: 0;
      padding: 0;
      @include avenir_M();
      font-size: 16px;
      color: $oc_gray_5;
    }
  }
}