$expanded_post_header_height: 56;

div.expanded-post {
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $carrot_modal_bg;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: #{$navbar_zindex + 100};

  @include mobile() {
    width: 100%;
    background-color: var(--mobile-background-color);
    padding: #{$mobile_navbar_height}px 16px 16px;
  }

  div.expanded-post-container div.expanded-post-header div.expanded-post-header-center {
    div.muted-activity, div.bookmark-tag, div.bookmark-tag-small, div.must-see-tag {
      display: none;
    }
  }

  &.bookmark-item {
    div.expanded-post-container div.expanded-post-header div.expanded-post-header-center {
      @include big_web() {
        div.bookmark-tag {
          display: block;
        }
      }
      @include mobile() {
        div.bookmark-tag-small {
          display: block;
        }
      }
    }
  }

  &.must-see-tag:not(.bookmark-item) {
    div.expanded-post-container div.expanded-post-header div.expanded-post-header-center {
      div.must-see-tag {
        display: block;
      }
    }
  }

  &.muted-item {
    div.expanded-post-container div.expanded-post-header div.expanded-post-header-center {
      div.muted-activity {
        display: block;
      }
    }
  }

  div.expanded-post-container {
    width: #{$expanded_post_width}px;
    margin: 78px auto 40px;
    background-color: var(--background-color);
    border-radius: 4px;
    position: relative;

    @include mobile() {
      width: 100%;
      margin: 16px auto 40px;
      background-color: var(--mobile-background-color);
    }

    div.activity-share-container {
      div.activity-share-modal-container {
        top: 36px;
        right: 64px;
        margin-top: 0;
      }
    }

    div.expanded-post-header {
      position: absolute;
      // Add 32 pixels to the width to account for the overflwoing comment menu
      width: #{$expanded_post_width}px;
      height: #{$expanded_post_header_height}px;
      padding: 8px 16px;
      z-index: 102;
      top: 0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid var(--opac-background-color-15);

      @include mobile() {
        width: 100vw;
        height: #{$mobile_navbar_height}px;
        padding: 11px 16px;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--divider-line);
        background-color: var(--mobile-background-color);
        margin-left: 0;
      }

      div.back-to-board-container {
        order: 1;
        flex: 1;
        margin-right: auto;
        height: 32px;

        @include mobile() {
          order: 3;
          margin-left: 10px;
          // Push the button to the right to align the centered icon with the content
          margin-right: -6px;
          flex: 0 0 auto;
        }

        button.back-to-board {
          height: 32px;
          width: 32px;
          border-radius: 4px;
          opacity: 1;
          background-color: var(--opac-background-color-2);
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 12px 12px;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0.5;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
          }

          @include mobile() {
            background-color: transparent;
          }

          @include big_web(){
            &:hover {
              opacity: 1;
            }
          }
        }
      }

      div.expanded-post-header-center {
        height: 32px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        order: 2;
        flex: 0 1 auto;

        @include mobile() {
          order: 1;
          margin-left: 0;
          max-width: calc(100% - 32px - 8px - 32px - 8px);
          overflow: hidden;
        }

        div.post-authorship {
          max-width: 100%;

          @include mobile() {
            max-width: 92%;
            flex: 0 1 auto;
            flex-flow: row nowrap;
          }

          div.user-hover-container {
            display: initial;
          }
        }

        time {
          @include OC_Body_Book();
          font-size: 12px;
          color: var(--light-color);
          line-height: 18px;
          flex: 0 0 auto;
          margin-left: 6px;
        }

        @include bookmark-tag();
        @include must-see-tag();

        div.bookmark-tag, div.bookmark-tag-small, div.must-see-tag {
          flex: 0 0 auto;
          margin-right: 0;
          margin-left: 6px;
        }

        @include muted-activity();

        div.muted-activity {
          flex: 0 0 auto;
          opacity: 0.5;
          margin-left: 6px;
        }
      }

      div.more-menu-container {
        flex: 1;
        order: 3;

        div.more-menu {
          margin-left: auto;
        }

        @include mobile() {
          margin-left: auto;
          flex: 0 0 auto;
          order: 2;

          button.mobile-more-bt {
            margin-left: 0;
          }
        }
      }

      button.mobile-more-bt {
        display: none;

        @include mobile() {
          float: right;
          height: 32px;
          width: 32px;
          display: inline;
          background-image: cdnUrl("/img/ML/more_menu_horizontal_ellipsis.svg");
          background-size: 18px 4px;
          background-position: center;
          padding: 0;
          background-repeat: no-repeat;
          opacity: 1;
          background-color: transparent;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/more_menu_horizontal_ellipsis@dark.svg");
          }

          &:active, &:focus {
            opacity: 0.9;
          }
        }
      }

      div.more-menu {
        height: 32px;

        @include mobile() {
          display: none;
        }

        div.activity-move {
          left: -64px;
          top: 34px;
        }

        & > button:not(.more-menu-bt), & > * > button:not(.more-menu-bt) {
          width: 32px;
          height: 32px;
          background-color: var(--opac-background-color-2);
          padding: 0;
          opacity: 0.5;
          border-radius: 4px;

          &:not(.disabled):hover, &:not(.disabled):active {
            opacity: 1;
          }

          &.has-next-bt {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            & + button:not(.more-menu-bt),
            & + div > button:not(.more-menu-bt) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }

        button.more-menu-bt {
          width: 32px;
          height: 32px;
          background-color: transparent;
          padding: 0;
          margin: 0 9px 0 0;
          opacity: 0.5;

          &:not(.disabled):hover, &:not(.disabled):active {
            opacity: 1;
            background-color: transparent;
          }

          &:first-child {
            border-left: none;
          }
        }

        ul.more-menu-list {
          top: 34px;
          left: 0px;
        }
      }
    }

    div.expanded-post-container-inner {
      padding: #{$expanded_post_header_height + 26}px 120px 32px;

      @include mobile() {
        padding: 0;
      }

      div.expanded-post-labels {
        margin-bottom: 8px;
        min-height: 16px;
      }

      div.expanded-post-headline {
        @include activity-title(26, 33);
        min-height: 0;
        margin-bottom: 16px;

        @include mobile() {
          @include activity-title(22, 28);
        }
      }

      div.expanded-post-body {
        @include activity-body(17, 22, var(--color), 16);

        @include mobile() {
          margin-top: 8px;
          @include activity-body(18, 24, var(--color), 16);
        }

        .interactive-image {
          cursor: zoom-in;

          &:hover {
            opacity: 0.7;
          }
        }

    $big-web-collapse-height: 134;
    $mobile-collapse-height: 160;
        &.collapsed {
          height: #{$big-web-collapse-height}px;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          @include mobile() {
            height: #{$mobile-collapse-height}px;
          }

          &:before {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            top: 47px;
            left: 0;
            z-index: 2;
            height: #{$big-web-collapse-height - 47}px;
            background: -moz-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, top, bottom, color-stop(0%,var(--collapse-post-start-bg)), color-stop(100%,var(--collapse-post-stop-bg))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--collapse-post-start-bg), endColorstr=var(--collapse-post-stop-bg),GradientType=0 ); /* IE6-9 */

            @include mobile() {
              top: 65px;
              height: #{$mobile-collapse-height - 65}px;
              background: -moz-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, top, bottom, color-stop(0%,var(--mobile-collapse-post-start-bg)), color-stop(100%,var(--mobile-collapse-post-stop-bg))); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* IE10+ */
              background: linear-gradient(to bottom,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--mobile-collapse-post-start-bg), endColorstr=var(--mobile-collapse-post-stop-bg),GradientType=0 ); /* IE6-9 */
            }
          }
        }
      }

      button.expand-button {
        display: block;
        width: 100%;
        height: 72px;
        opacity: 1;

        @include big_web() {
          &:hover {
            div.expand-button-inner {
              color: var(--color);
              background-color: var(--ultralight-color);
            }
          }
        }

        div.expand-button-inner {
          margin: 16px auto 24px;
          display: inline-block;
          width: auto; //136px;
          height: 32px;
          padding: 5px 8px 5px 32px;
          @include OC_Body_Book();
          color: var(--color);
          position: relative;
          border-radius: 4px;
          background-color: var(--reaction-bt-background);
          font-size: 17px;
          line-height: 22px;

          @include mobile() {
            font-size: 18px;
          }

          &:before {
            content: "";
            width: 16px;
            height: 16px;
            background-color: #000000;
            background-image: cdnUrl("/img/ML/plus_button_icon@dark.svg");
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 8px;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/plus_button_icon.svg");
              background-color: #FFFFFF;
            }
          }
        }
      }

      div.expanded-post-footer {
        margin-top: 24px;
        min-height: 26px;
        position: relative;

        @include mobile() {
          margin-top: 16px;
          min-height: 26px;
        }

        div.expanded-post-footer-mobile-group {
          min-height: 26px;
          float: left;
          height: auto;
          width: auto;
        }

        div.is-comments {
          margin-left: 32px;
          float: left;
          cursor: pointer;
        }

        div.reactions {
          float: left;

          div.reactions-picker-container {
            div.emoji-mart {
              bottom: unset;
              top: 0;
              left: calc(100% + 8px);

              @include mobile(){
                bottom: unset;
                right: unset;
                top: unset;
                left: unset;
              }
            }
          }
        }

        div.wrt-count-container {
          float: left;
          margin-left: 32px;
        }
      }

      div.expanded-post-comments {
        padding-bottom: 56px;

        @include mobile() {
          margin-top: 8px;
          width: 100%;
          padding: 0 0 25vh;
        }

        div.add-comment-box-container {
          z-index: 2;

          div.add-comment-box div.add-comment-internal {
            border: 1px solid var(--divider-line);
          }
        }

        div.stream-comments {
          z-index: 3;
        }
      }
    }
  }
}