$expanded_post_header_height: 56;

div.expanded-post {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $carrot_modal_bg;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: #{$navbar_zindex + 100};

  @include mobile() {
    padding-top: 0;
  }

  @include mobile() {
    width: 100%;
    background-color: var(--mobile-background-color);
    padding: 24px 16px 16px;

    // Add some extra padding on android at the bottom
    // to make sure the add comment field is not hidden
    // behind the keyboard, Safari resize the viewport when
    // the keyboard pops out so it's not a problem
    &.android {
      padding-bottom: 25vh;
    }
  }

  div.expanded-post-container {
    width: #{$expanded_post_width}px;
    margin: 78px auto 40px;
    // min-height: calc(100% - 164px);
    background-color: var(--background-color);
    border-radius: 4px;
    position: relative;

    div.activity-share-container {
      // position: unset;

      div.activity-share-modal-container {
        top: 36px;
        right: 64px;
        margin-top: 0;
      }
    }

    div.expanded-post-header {
      position: absolute;
      // Add 32 pixels to the width to account for the overflwoing comment menu
      width: #{$expanded_post_width}px;
      height: #{$expanded_post_header_height}px;
      padding: 12px 16px;
      z-index: 102;
      top: 0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);

      &:before {
        content: "";
        width: #{$board_container_width}px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 8px;
        background-color: var(--opac-background-color-15);
      }

      @include mobile() {
        width: 100vw;
        height: #{$mobile_navbar_height}px;
        padding: 11px 16px;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--divider-line);
        background-color: var(--mobile-background-color);
        margin-left: 0;

        &:before {
          display: none;
        }
      }

      button.back-to-board {
        float: left;
        height: 32px;
        width: 32px;
        border-radius: 4px;
        opacity: 1;
        background-color: var(--opac-background-color-2);
        background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
        }

        @include big_web(){
          &:hover {
            opacity: 1;
          }
        }
      }

      div.expanded-post-header-center {
        position: absolute;
        left: 50%;
        top: 16px;
        transform: translateX(-50%);
        height: 24px;
      }

      button.mobile-more-bt {
        display: none;

        @include mobile() {
          float: right;
          height: 32px;
          width: 32px;
          display: inline;
          background-image: cdnUrl("/img/ML/more_menu_horizontal_ellipsis.svg");
          background-size: 18px 4px;
          background-position: center;
          padding: 0;
          background-repeat: no-repeat;
          opacity: 1;
          background-color: transparent;
          border-radius: 4px;
          margin: 0 0 0 9px;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/more_menu_horizontal_ellipsis@dark.svg");
          }

          &:active, &:focus {
            opacity: 0.9;
          }
        }
      }

      div.more-menu {
        float: right;
        height: 32px;

        div.activity-move {
          left: -64px;
          top: 34px;
        }

        button:not(.more-menu-bt) {
          width: 32px;
          height: 32px;
          background-color: var(--opac-background-color-2);
          padding: 0;
          opacity: 0.5;
          border-radius: 4px;

          &:not(.disabled):hover, &:not(.disabled):active {
            opacity: 1;
          }

          &.has-next-bt {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            & + button:not(.more-menu-bt),
            & + div > button:not(.more-menu-bt) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }

        button.more-menu-bt {
          width: 32px;
          height: 32px;
          background-color: transparent;
          padding: 0;
          margin: 0 9px 0 0;
          opacity: 0.5;

          &:not(.disabled):hover, &:not(.disabled):active {
            opacity: 1;
            background-color: transparent;
          }

          &:first-child {
            border-left: none;
          }
        }

        ul.more-menu-list {
          top: 34px;
          left: 0px;
        }
      }
    }

    div.expanded-post-container-inner {
      padding: #{$expanded_post_header_height + 51}px 120px 32px;

      div.expanded-post-headline {
        @include activity-title(26px, 33px);
        min-height: 0;

        @include mobile() {
          @include activity-title(22px, 28px);
        }
      }

      div.expanded-post-author {
        min-height: 18px;

        div.expanded-post-author-inner {
          @include OC_Body_Book();
          font-size: 12px;
          color: var(--light-color);
          line-height: 18px;

          div.expanded-post-author-dot {
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--opac-background-color-2);
            margin: 0 6px 2px;
            display: inline-block;

            &.muted-dot {
              @include mobile() {
                display: none;
              }
            }
          }

          div.expanded-post-author-inner-label {
            @include OC_Body_Book();
            font-size: 12px;
            color: var(--light-color);
            line-height: 18px;
            opacity: 1;
            position: relative;
            max-width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            div.post-authorship {
              max-width: 100%;
              flex: 0 0 auto;
              // display: inline-block;
              position: relative;
              flex-flow: row wrap;

              div.user-hover-container {
                flex: 0 0 auto;
                max-width: 100%;

                a.publisher-name {
                  max-width: 100%;
                  flex: 0 0 auto;
                  min-height: 18px;
                  line-height: 18px;
                  white-space: pre-wrap;
                }
              }

              span.in {
                line-height: 18px;
                white-space: pre-wrap;
              }

              div.board-info-hover {
                max-width: 100%;
                flex: 0 0 auto;
                white-space: pre-wrap;

                a.board-name {
                  white-space: pre-wrap;
                  min-height: 18px;
                  line-height: 18px;
                }
              }
            }

            time {
              min-height: 18px;
              line-height: 18px;
              flex: 0 0 auto;
            }

            @include mobile() {
              margin-right: 0;
              margin-bottom: 8px;
              display: inline-block;
            }
          }

          @include muted-activity();

          div.muted-activity {
            flex: 0 0 auto;
            margin-top: 2px;
            opacity: 0.5;
            margin-right: 0;

            @include mobile() {
              display: none;
            }
          }

          div.must-see-tag {
            flex: 0 0 auto;

            @include mobile() {
              display: inline-block;
              margin-left: 0;
              margin-top: 3px;
              margin-bottom: 8px;
              overflow: hidden;
              max-width: 100%;
              text-overflow: ellipsis;
              white-space: normal;
              overflow-wrap: break-word;
            }
          }

          @include bookmark-tag();

          div.bookmark-tag {
            flex: 0 0 auto;

            @include mobile() {
              display: inline-block;
              margin-left: 0;
              margin-top: 0;
              margin-bottom: 8px;
              overflow: hidden;
              max-width: 100%;
              text-overflow: ellipsis;
              white-space: normal;
              overflow-wrap: break-word;
            }
          }
        }
      }

      div.expanded-post-abstract {
        @include activity-abstract(17px, 22px);
        margin: 16px 0 24px;
        @include OC_Body_Bold();
        white-space: normal;
        overflow-wrap: break-word;

        // Abstract is bold only in expanded post view
        // we need to make sure italic doesn't override
        // the font weight only here
        i, i strong, i b, b i, strong i {
          @include OC_Body_Bold_Italic();
        }

        @include mobile() {
          margin: 8px 0 16px;
        }
      }

      div.expanded-post-body {
        @include activity-body(17, 22, var(--color), 16);

        @include mobile() {
          margin-top: 8px;
          @include activity-body(18, 24, var(--color), 16);
        }

        .interactive-image {
          cursor: zoom-in;

          &:hover {
            opacity: 0.7;
          }
        }

    $big-web-collapse-height: 134;
    $mobile-collapse-height: 160;
        &.collapsed {
          height: #{$big-web-collapse-height}px;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          @include mobile() {
            height: #{$mobile-collapse-height}px;
          }

          &:before {
            content: "";
            display: block;
            width: #{$board_container_width}px;
            position: absolute;
            top: 47px;
            left: 0;
            z-index: 2;
            height: #{$big-web-collapse-height - 47}px;
            background: -moz-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, top, bottom, color-stop(0%,var(--collapse-post-start-bg)), color-stop(100%,var(--collapse-post-stop-bg))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  var(--collapse-post-start-bg) 0%, var(--collapse-post-stop-bg) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--collapse-post-start-bg), endColorstr=var(--collapse-post-stop-bg),GradientType=0 ); /* IE6-9 */

            @include mobile() {
              top: 65px;
              height: #{$mobile-collapse-height - 65}px;
              background: -moz-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, top, bottom, color-stop(0%,var(--mobile-collapse-post-start-bg)), color-stop(100%,var(--mobile-collapse-post-stop-bg))); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* IE10+ */
              background: linear-gradient(to bottom,  var(--mobile-collapse-post-start-bg) 0%, var(--mobile-collapse-post-stop-bg) 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--mobile-collapse-post-start-bg), endColorstr=var(--mobile-collapse-post-stop-bg),GradientType=0 ); /* IE6-9 */
            }
          }
        }
      }

      button.expand-button {
        display: block;
        width: 100%;
        height: 72px;
        opacity: 1;

        @include big_web() {
          &:hover {
            div.expand-button-inner {
              color: var(--color);
              background-color: var(--ultralight-color);
            }
          }
        }

        div.expand-button-inner {
          margin: 16px auto 24px;
          width: 132px;
          height: 32px;  
          padding: 7px 18px 7px 43px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: var(--color);
          position: relative;
          border-radius: 4px;
          background-color: var(--reaction-bt-background);

          &:before {
            content: "";
            width: 16px;
            height: 16px;
            background-color: #000000;
            background-image: cdnUrl("/img/ML/plus_button_icon@dark.svg");
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            left: 19px;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/plus_button_icon.svg");
              background-color: #FFFFFF;
            }
          }
        }
      }

      div.expanded-post-footer {
        margin-top: 24px;
        min-height: 26px;
        position: relative;

        @include mobile() {
          margin-top: 3px;
          min-height: 32px;
        }

        div.expanded-post-footer-mobile-group {
          min-height: 26px;
          float: left;
          height: auto;
          width: auto;

          @include mobile() {
            height: 20px;
            margin-top: 20px;
          }

          div.is-comments {
            div.is-comments-summary {
              color: var(--color);
            }
          }
        }

        div.is-comments {
          margin-right: 16px;
          float: left;
        }

        div.reactions {
          float: left;
          margin-right: 14px;

          @include mobile() {
            margin-top: 13px;
          }

          div.reactions-picker-container {
            div.emoji-mart {
              bottom: unset;
              top: 0;
              left: calc(100% + 8px);

              @include mobile(){
                bottom: unset;
                right: unset;
                top: unset;
                left: unset;
              }
            }
          }
        }

        div.wrt-count-container {
          float: left;
        }
      }

      div.expanded-post-comments {
        padding-bottom: 0;
        margin-top: 40px;

        @include mobile() {
          margin-top: 16px;
          width: 100%;
          padding: 16px 0;
        }
      }
    }
  }
}


@include dark_mode() {
  div.expanded-post div.expanded-post-header button.back-to-board {
    background-image: cdnUrl("/img/ML/expanded_post_back_arrow@dark.svg");

    @include mobile() {
      background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
    }
  }
}