div.explore-view {
  width: #{$board_container_width}px;
  overflow-x: hidden;
  overflow-y: auto;

  @include mobile() {
    width: 100%;
  }

  div.explore-view-header {
    height: 32px;
    padding-left: 24px;
    margin-bottom: 4px;
    background-image: cdnUrl("/img/ML/nav_explore.svg");
    background-size: 16px 16px;
    background-position: left 0px top 8px;
    background-repeat: no-repeat;
    @include OC_Body_Bold();
    font-size: 18px;
    line-height: 32px;
    color: var(--color);

    @include dark_mode() {
      background-image: cdnUrl("/img/ML/nav_explore@dark.svg");
    }
  }

  div.explore-view-blocks {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .explore-view-block {
      background-color: var(--overlay-background-color);
      padding: 24px;
      border: 1px solid var(--opac-background-color-2);
      margin-top: 4px;
      margin-bottom: 4px;
      border-radius: 8px;
      height: 190px;
      width: calc(50% - 4px);

      &:nth-child(2n + 1) {
        margin-right: 4px;
      }

      &:nth-child(2n) {
        margin-left: 4px;
      }
    }

    button.create-topic-bt {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      span.plus {
        width: 11px;
        height: 11px;
        background-image: cdnUrl("/img/ML/purple_plus.svg");
        background-size: 11px 11px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: 4px;
      }

      span.new-topic {
        @include OC_Body_Bold();
        font-size: 18px;
        color: $wut_purple;
        margin-left: 4px;
        margin-right: auto;
      }
    }

    a.board-link {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;

      div.explore-view-block-title {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: relative;

        span.board-name {
          flex: 0 1 auto;
          @include OC_Body_Bold();
          font-size: 18px;
          line-height: 24px;
          color: var(--color);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &.short-name {
          div.board-dropdown-container {
            div.dropdown-list-container {
              right: unset;
              left: 4px;
            }
          }
        }

        div.board-dropdown-container {
          width: 24px;
          height: 24px;
          marign-right: auto;
          flex: 0 0 auto;
          position: relative;

          button.board-dropdown-bt {
            height: 24px;
            width: 24px;
            background-image: cdnUrl("/img/ML/wut_nav_arrow.svg");
            background-size: 8px 4px;
            background-repeat: no-repeat;
            background-position: center;
            transition: transform 180ms;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/wut_nav_arrow@dark.svg");
            }

            &.open {
              transform: rotate(90deg);
            }
          }

          div.dropdown-list-container {
            top: 18px;
            left: unset;
            right: 0;
            position: absolute;
            width: auto;
            min-width: 93px;

            div.triangle {
              display: none;
            }

            div.dropdown-list-content {
              background-color: var(--tooltip-background-color);
              border: 1px solid var(--divider-line);
              border-radius: 4px;
              border: none;
              padding: 12px 8px;

              ul.dropdown-list {
                background-color: var(--tooltip-background-color);
                margin: 0;
                padding: 0;

                li.dropdown-list-item {
                  color: var(--tooltip-color);
                  line-height: 18px;
                  height: 24px;
                  padding: 4px 8px;
                  margin: 0;

                  &:not(.disabled):not(:disabled):hover {
                    span.dropdown-list-item-label {
                      opacity: 1;
                    }
                  }

                  span.dropdown-list-item-label {
                    color: var(--tooltip-color);
                    line-height: 18px;
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }

      div.explore-view-block-description {
        margin-top: 8px;
        @include OC_Body_Book();
        font-size: 16px;
        line-height: 20px;
        max-height: 40px;
        overflow: hidden;
        color: var(--color);
        flex: 0 1 auto;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }

      div.explore-view-block-latest-activity {
        margin-top: 8px;
        @include OC_Body_Book();
        font-size: 12px;
        line-height: 15px;
        color: var(--light-color);
        flex: 0 0 auto;
      }

      div.explore-view-block-footer {
        height: 32px;
        margin-top: auto;
        flex: 0 0 auto;

        button.follow-button {
          float: left;
        }

        span.posts-count {
          float: left;
          margin-left: 16px;
          line-height: 32px;
          font-size: 14px;
          @include OC_Body_Book();
          color: var(--light-color);
          padding-left: 22px;
          position: relative;

          &:before {
            content: "";
            width: 14px;
            height: 14px;
            background-image: cdnUrl("/img/ML/nav_drafts.svg");
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
            position: absolute;
            left: 0;
            top: 9px;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/nav_drafts@dark.svg");
            }
          }
        }

        span.followers-count {
          float: left;
          margin-left: 16px;
          margin-left: 16px;
          line-height: 32px;
          font-size: 14px;
          @include OC_Body_Book();
          color: var(--light-color);
          padding-left: 22px;
          position: relative;

          &:before {
            content: "";
            width: 14px;
            height: 14px;
            background-image: cdnUrl("/img/ML/invite_people_bt.svg");
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
            position: absolute;
            left: 0;
            top: 9px;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/invite_people_bt@dark.svg");
            }
          }
        }
      }
    }
  }
}