div.main.features {
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  margin-top: 50px;

  h1.features {
    @include avenir_H();
    font-size: 40px;
    letter-spacing: 0.3px;
    color: $carrot_dark_blue;
    margin-top: 47px;
    padding: 0 16px;
  }

  div.divider-line {
    margin-top: 32px;
    width: 82px;
    height: 6px;
    background-color: $carrot_orange;
    left: 50%;
    margin-left: -41px;
    position: relative;
  }

  div.illustrations {
    text-align: center;

    div.illustration {
      margin: 60px auto;
      padding: 0 16px;

      @media screen and (min-width: 1127px){
        width: 1127px;
      }

      @media screen and (max-width: 1126px){
        img {
          max-width: 100%;
          height: auto;
        }
      }

      div.description {
        @media screen and (max-width: 1126px){
          margin-top: 60px;
        }

        @media screen and (min-width: 1127px){
          max-width: 475px;
        }

        div.title {
          color: $carrot_dark_blue;
          @include avenir_H();
          font-size: 36px;
          letter-spacing: 0.1px;
        }

        div.subtitle {
          color: $carrot_dark_blue;
          @include avenir_M();
          font-size: 20px;
          line-height: 1.7;
        }
      }

      @media screen and (min-width: 1127px) {

        // 1st illustration
        &.illustration-1 {

          img {
            float: right;
            margin-right: 20px;
            max-width: 506px;
          }

          div.description {
            float: left;
            text-align: left;
            margin-left: 40px;
            margin-top: 120px;
          }
        }

        // 2nd illustration
        &.illustration-2 {

          img {
            float: left;
            margin-left: 80px;
            max-width: 521px;
          }

          div.description {
            float: right;
            text-align: left;
            margin-right: 0px;
            margin-top: 100px;
          }
        }

        // 3rd illustration
        &.illustration-3 {
          margin-top: 80px;

          img {
            float: right;
            margin-right: 40px;
            max-width: 424px;
          }

          div.description {
            float: left;
            text-align: left;
            margin-left: 70px;
            margin-top: 25px;
          }
        }

        // 4th illustration
        &.illustration-4 {

          img {
            float: left;
            margin-left: 120px;
            max-width: 346px;
          }

          div.description {
            float: right;
            text-align: left;
            margin-top: 65px;
            margin-right: 0px;
          }
        }

        // 5th illustration
        &.illustration-5 {

          img {
            float: right;
            margin-right: 100px;
            max-width: 333px;
          }

          div.description {
            float: left;
            text-align: left;
            margin-left: 60px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}