div.filters-dropdown-name {
  @include avenir_M();
  color: $oc_gray_7;
  font-size: 16px;
  margin: 0 0 16px 20px;

  button.board-remove-filter {
    width: 24px;
    height: 24px;
    background-color: $carrot_light_blue;
    border-radius: 4px;
    margin-right: 10px;
    padding-top: 1px;
    transition: 230ms;
    float: left;

    &:hover {
      background-color: $carrot_text_blue;
    }
  }

  button.filters-dropdown-button {
    float: left;
    margin-top: 1px;

    &.filters-dropdown-by-topic {
      margin-right: 0px;
    }
  }

  .choice {
    @include avenir_M();
    font-size: 14px;
    color: $oc_gray_7;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      color: $carrot_dark_gray;
    }

    &.select {
      @include avenir_H();
      color: $carrot_dark_gray;
    }
  }

  div.filters-dropdown-container{
    position: relative;
    display: inline-block;
    float: right;

    button.filters-dropdown-caret {
      height: 20px;
      display: inline-block;
      float: right;

      i.fa-caret-down {
        font-size: 12px;
        margin-top: 5px;
        transition: 230ms;
      }

      &.open {
        i.fa-caret-down {
          transform: rotate(180deg);
        }
      }
    }

    div.dropdown-list-container {
      top: 30px;
      left: calc(50% - 70px);
    }
  }
}