div.filters-dropdown-name {
  @include avenir_M();
  color: $oc_gray_7;
  font-size: 16px;
  margin: 0 0 16px 20px;
  position: relative;

  button.carrot-close-bt {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding-top: 0px;
    float: left;
  }

  button.filters-dropdown-button {
    float: left;
    margin-top: 1px;
    @include avenir_M();
    font-size: 15px;
    color: $carrot_light_gray_3;

    &.filters-dropdown-by-topic {
      margin-right: 0px;
    }

    span.filter-highlight {
      @include avenir_H();
      font-size: 15px;
      color: $carrot_light_gray_3;
    }
  }

  div.dropdown-list-container{
    top: 30px;
    width: 176px;
    left: calc(50% - 88px);

    .choice {
      @include avenir_M();
      font-size: 14px;
      color: $carrot_light_gray_3;
      cursor: pointer;

      &:hover {
        background-color: rgba($carrot_light_gray_4, 0.2);
      }

      &.select {
        @include avenir_H();
        background-color: rgba($carrot_orange, 0.1);
        color: $carrot_orange;
      }
    }

    button.filters-dropdown-caret {
      height: 20px;
      display: inline-block;
      float: right;

      i.fa-caret-down {
        font-size: 12px;
        margin-top: 5px;
        transition: 230ms;
      }

      &.open {
        i.fa-caret-down {
          transform: rotate(180deg);
        }
      }
    }
  }
}