div.foc-labels-picker {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: #{$navbar_zindex + 156};
  position: relative;

  @include mobile() {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  div.foc-labels-picker-inner {
    display: block;

    @include mobile() {
      height: 100%;
    }

    div.foc-labels {
      display: flex;
      flex-flow: column nowrap;
      border-radius: 6px;
      padding: 16px;
      height: auto;
      min-width: 160px;
      background-color: var(--overlay-background-color);
      border: 1px solid var(--divider-line);
      box-shadow: var(--box-shadow);
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;

      @include mobile() {
        padding: #{$mobile_navbar_height}px 0 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        min-height: 100%;
      }
    
      div.foc-labels-title {
        @include OC_Body_Bold();
        font-size: 14px;
        line-height: 18px;
        color: var(--color);

        @include mobile() {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: #{$mobile_navbar_height}px;
          text-align: center;
          border-bottom: 1px solid var(--divider-line);
          line-height: #{$mobile_navbar_height}px;
          font-size: 16px;
        }

        button.mobile-close-bt {
          display: none;

          @include mobile() {
            display: block;
            position: absolute;
            right: 16px;
            top: 11px;
            width: 32px;
            height: 32px;
            padding: 0;
            border-radius: 4px;
            @include svgBgColor("/img/ML/mobile_dark_x.svg", center, 12px 12px, var(--color))
          }
        }
      }
    
      button.foc-label, div.oc-label {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 16px;
        margin-top: 12px;
        padding: 0;
        cursor: default;
        max-width: 200px;

        @include mobile() {
          margin-top: 0;
          padding: 0 16px;
          width: 100%;
          height: 32px;
          max-width: unset;

          &.disabled:not(.selected) {
            opacity: 0.6;
          }
        }
    
        &.editable {
          cursor: pointer;
    
          @include big_web() {
            &:hover {
              padding: 0;
    
              button.edit-bt {
                visibility: visible;
              }
            }
          }
        }
    
        div.carrot-checkbox {
          order: 1;
          margin-right: 8px;
          flex: 0 0 auto;
        }
    
        span.oc-label-name {
          order: 3;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 16px;
          color: var(--color);
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 2px;
          text-align: left;
          flex: 0 1 auto;
        }
    
        button.edit-bt {
          width: 16px;
          height: 16px;
          margin-left: 8px;
          order: 4;
          padding: 0;
          @include svgBgColor("/img/ML/label_edit.svg", center, 12px 12px, var(--color));
          visibility: hidden;
          // @include big_web() {
          //   visibility: hidden;
          // }

          // @include mobile() {
          //   visibility: hidde;
          // }
        }
      }
    
      div.foc-labels-empty {
        @include OC_Body_Book_Italic();
        font-size: 14px;
        line-height: 18px;
        color: $ui_grey;
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
        margin-top: 12px;
      }

      button.add-label-bt {
        height: 16px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;
        padding: 0;

        @include mobile() {
          padding: 12px 16px;
          display: none;
        }
    
        span.add-label-plus {
          width: 16px;
          height: 16px;
          @include svgBgColor("/img/ML/add_label_plus.svg", center, 12px 12px, var(--color));
        }
    
        span.add-label-span {
          margin-left: 8px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 16px;
          color: var(--color);
        }
      }

      div.mobile-add-lock-description {
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 24px;
        color: var(--light-color);
        padding: 16px;
      }
    }
  }
}