div.follow-picker {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;
  overflow-x: hidden;
  overflow-y: auto;

  @include mobile() {
    height: 100vh;
    padding: 24px;
  }

  div.follow-picker-modal {
    width: #{$modal_width}px;
    height: calc(100vh - 40px - 32px);
    background-color: var(--overlay-background-color);
    margin: 40px auto 32px;
    padding: 0;
    transition: right 180ms ease-in;
    border-radius: 8px;
    position: relative;

    @include mobile() {
      position: absolute;
      top: #{$mobile_navbar_height}px;
      left: unset;
      right: 0;
      width: 85vw;
      height: auto;
      max-height: initial;
      min-height: calc(100vh - #{$mobile_navbar_height}px);
      border: none;
      box-shadow: none;
      display: block;
      text-align: left;
      background-color: var(--mobile-background-color);
      padding: 0 16px 32px;
      margin: 0;
      border-radius: 0;
    }

    button.modal-close-bt {
      position: absolute;
      left: 16px;
      top: 12px;
      background-color: var(--opac-background-color-08);
      background-image: cdnUrl("/img/ML/close_x.svg");
      background-size: 12px 12px;
      border-radius: 4px;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/close_x@dark.svg");
      }

      @include mobile() {
        position: fixed;
        right: 16px;
        top: 11px;
        width: 32px;
        height: 32px;
        padding: 0;
        background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--divider-line);
        border-radius: 4px;
        z-index: 3;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
        }
      }
    }

    div.follow-picker-header {
      width: 100%;
      height: #{$navbar_height}px;
      border-bottom: 1px solid var(--divider-line);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 12px 16px;
      text-align: center;
      box-shadow: 0px 2px 4px var(--modal-shadow);

      @include mobile() {
        height: #{$mobile_navbar_height}px;
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
      }

      button.create-board-bt {
        display: block;
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 32px;
        height: 32px;
        float: right;
        color: var(--purple-primary-color);
        background-color: var(--purple-secondary-color);
        border-radius: 4px;
        padding: 0 8px;

        &:hover {
          text-decoration: underline;
          opacity: 1;
        }

        @include mobile() {
          display: none;
        }
      }

      h3.follow-picker-title {
        @include OC_Body_Bold();
        font-size: 20px;
        line-height: 32px;
        color: var(--color);
        margin: 0;
        padding: 0;
        width: 30vw;
        position: absolute;
        left: 50%;
        top: 12px;
        transform: translateX(-50%);

        @include mobile() {
          width: 85vw;
          height: #{$mobile_navbar_height}px;
          border-bottom: 1px solid var(--divider-line);
          padding: 13px 16px;
          position: fixed;
          top: 0;
          right: 0;
          background-color: var(--mobile-background-color);
          z-index: 2;
          transform: unset;
        }
      }
    }
    
    div.follow-picker-body {
      padding: 16px 120px 66px;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: calc(100% - #{$navbar_height}px);
      min-height: 200px;

      @include mobile() {
        overflow-x: initial;
        overflow-y: initial;
        max-height: initial;
        min-height: initial;
      }

      div.follow-picker-subtitle {
        @include OC_Body_Book();
        font-size: 16px;
        color: var(--color);
        margin-top: 4px;

        @include mobile() {
          margin-top: 16px;
        }
      }

      div.follow-picker-empty-items {
        opacity: 0.7;

        div.follow-picker-empty-icon {
          margin: 32px auto 0;
          width: 40px;
          height: 40px;
          background-image: cdnUrl("/img/ML/invite_people_bt.svg");
          background-size: 40px 40px;
          background-position: center;
          background-repeat: no-repeat;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/invite_people_bt@dark.svg");
          }
        }

        div.follow-picker-empty-copy {
          margin: 8px 0 0;
          @include OC_Body_Book();
          font-size: 16px;
          color: var(--color);
          text-align: center;

          button.follow-picker-empty-invite-bt {
            display: inline;
            margin: 0;
            padding: 0;
            color: $wut_purple;
            text-decoration: underline;
          }
        }

        div.follow-picker-empty-users {

          div.invite-users-box {
            width: 640px;
            border: 1px solid var(--opac-background-color-08);
            border-radius: 6px;

            div.invite-users-box-inner {
              width: 320px;
              margin: 40px auto;
              text-align: center;

              div.invite-users-title {
                margin-bottom: 24px;
                @include OC_Body_Bold();
                font-size: 22px;
                line-height: 28px;
                color: var(--color);
              }

              div.invite-email-container {
                div.invite-email div.invite-email-item-outer div.invite-email-item {
                  input.org-settings-field {
                    width: 100%;
                    height: 40px;
                    padding: 11px 12px;
                    font-size: 14px;
                    line-height: 18px;
                  }
                }

                button.add-button {
                  margin: 8px auto 24px;
                  padding: 0;
                  @include OC_Body_Book();
                  font-size: 12px;
                  line-height: 15px;
                  color: var(--light-color);
                  text-decoration: underline;
                  float: unset;

                  div.add-button-plus {
                    display: none;
                  }
                }

                button.save-bt {
                  width: 100%;
                  height: 40px;
                  margin-top: 0;
                  float: unset;
                }
              }

              div.invite-users-footer {
                margin: 24px auto;

                span.invite-user-or {
                  @include OC_Body_Book();
                  color: var(--light-color);
                  font-size: 14px;
                  line-height: 18px;
                }

                button.invite-link-bt {
                  @include OC_Body_Book();
                  color: var(--light-color);
                  font-size: 14px;
                  line-height: 18px;
                  text-decoration: underline;
                  display: inline-block;
                }
              }
            }
          }

          div.follow-picker-empty-header {
            margin-top: 16px;
            height: 32px;
            padding: 8px 0;
            @include OC_Body_Bold();
            text-transform: uppercase;
            font-size: 12px;
            line-height: 15px;
            color: var(--light-color);
          }

          div.follow-picker-empty-self-user {
            height: 48px;
            padding: 8px 0;
            border: none;
            outline: none;
            width: 100%;
            display: block;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            @include user-profile(32) {
              margin-right: 8px;
              flex: 0 0 32px;
              align-self: center;
            }

            span.user-name {
              @include OC_Body_Book();
              font-size: 16px;
              line-height: 18px;
              color: var(--color);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-right: 6px;
              align-self: center;
              flex: 0 1 auto;
            }

            span.user-role {
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 20px;
              color: var(--light-color);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-right: 16px;
              align-self: center;
              flex: 0 2 auto;
            }

            span.followers-count {
              flex: 1 0 auto;
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 20px;
              color: var(--light-color);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              align-self: center;
              margin-left: auto;
              margin-right: 16px;
              text-align: right;
            }

            button.edit-profile-bt {
              margin-left: auto;
              align-self: center;
              background-color: var(--opac-background-color-05);
              color: var(--light-color);
              height: 32px;
              border-radius: 4px;
              width: 92px;
              padding: 8px;
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 18px;
              flex: 0 0 92px;

              @include big_web(){
                &:hover {
                  opacity: 1;
                  background-color: var(--opac-background-color-2);
                  color: var(--color);
                }
              }
            }
          }
        }
      }

      div.follow-picker-body-inner {

        input.follow-picker-search-field-input {
          display: block;
          height: 32px;
          width: 100%;
          padding: 4px 8px;
          margin: 8px 0 0;
          background-color: transparent;
          @include OC_Body_Book();
          font-size: 12px;
          line-height: 24px;
          color: var(--color);
          border: none;
          outline: none;
          vertical-align: super;
          border-radius: 4px;
          background-color: var(--opac-background-color-1);

          &:focus, &:active {
            border: none;
            outline: none;
          }

          &.all {
            @include placeholder() {
              background-position: left calc(50% - 85px) top 4px;
            }
          }

          &.users {
            @include placeholder() {
              background-position: left calc(50% - 54px) top 4px;
            }
          }

          &.boards {
            @include placeholder() {
              background-position: left calc(50% - 48px) top 4px;
            }
          }

          @include placeholder() {
            @include OC_Body_Book();
            color: var(--color);
            font-size: 14px;
            line-height: 24px;
            background-image: cdnUrl("/img/ML/wrt_search_lens.svg");
            background-size: 16px 16px;
            background-position: left calc(50% - 85px) top 4px;
            opacity: 0.5;
            background-repeat: no-repeat;
            text-align: center;
          }
        }

        div.follow-picker-footer {
          margin-top: 8px;
          padding-top: 16px;
          border-top: 1px solid var(--divider-line);

          button.follow-picker-create-bt {
            width: auto;
            height: 32px;
            @include OC_Body_Bold();
            font-size: 14px;
            line-height: 18px;
            color: white;
            background-color: $wut_purple;
            border-radius: 4px;
            padding: 7px 14px;
            float: right;

            &.disabled, &:disabled {
              opacity: 1!important;
              background-color: var(--opac-background-color-05);
              color: var(--light-color);
            }
          }
        }

        div.follow-picker-items-list {
          margin-top: 16px;
          width: calc(100% + 48px);
          margin-left: -24px;

          div.follow-picker-row-header {

            div.follow-picker-row-header-left {
              height: 32px;
              padding: 4px 24px;
              @include OC_Body_Bold();
              font-size: 16px;
              line-height: 24px;
              color: var(--color);
              float: left;

              &.unfollow {
                color: var(--light-color);
                font-size: 12px;
                text-transform: uppercase;
              }
            }

            div.follow-picker-row-header-right {
              float: right;
              position: relative;

              button.follow-filter-bt {
                height: 32px;
                padding: 0 16px 0 0;
                margin-right: 24px;
                background-image: cdnUrl("/img/ML/section_chevron.svg");
                background-repeat: no-repeat;
                background-size: 8px 4px;
                background-position: right 0px top 14px;
                @include OC_Body_Book();
                font-size: 14px;
                line-height: 32px;
                color: var(--light-color);

                @include dark_mode() {
                  background-image: cdnUrl("/img/ML/section_chevron@dark.svg");
                }
              }

              div.dropdown-list-container {
                top: 20px;
                right: 24px;
                left: unset;
                width: 152px;

                div.triangle {
                  display: none;
                }

                div.dropdown-list-content {
                  padding: 8px 0;

                  ul.dropdown-list li.dropdown-list-item {
                    padding: 4px 16px;
                    margin: 0;
                    border-radius: 0;

                    &.select {
                      background-color: $wut_feint_purple;
                      color: $wut_purple;
                    }

                    @include big_web() {
                      &:hover {
                        background-color: $wut_feint_purple;
                        color: $wut_purple;
                      }
                    }
                    span {
                      line-height: 20px;
                    }
                  }
                }

              }
            }
          }

          div.follow-picker-item-row {
            height: 40px;
            padding: 4px 24px;
            border: none;
            outline: none;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            div.follow-picker-board-item {
              display: block;
              white-space: nowrap;
              @include OC_Body_Book();
              font-size: 16px;
              line-height: 32px;
              color: var(--color);
              position: relative;
              padding-left: 40px;
              margin-right: 16px;
              flex: 0 1 auto;
              align-self: center;

              &:before {
                width: 32px;
                height: 32px;
                background-color: var(--opac-background-color-15);
                border-radius: 50%;
                background-image: cdnUrl("/img/ML/number_sign.svg");
                background-size: 10px 10px;
                background-position: center;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.5;

                @include dark_mode() {
                  background-image: cdnUrl("/img/ML/number_sign@dark.svg");
                }
              }
            }

            button.board-settings-bt {
              flex: 0 0 auto;
              margin-right: 12px;
              margin-left: -8px;
              opacity: 0.5;
              background-image: cdnUrl("/img/ML/section_settings_gear.svg");
              background-size: 13px 14px;
              background-repeat: no-repeat;
              background-position: center;
              background-color: transparent;
              width: 16px;
              height: 32px;
              padding: 0;
              position: relative;

              @include dark_mode() {
                background-image: cdnUrl("/img/ML/section_settings_gear@dark.svg");
              }

              @include big_web() {
                &:hover {
                  opacity: 1;
                }
              }

              @include mobile(){
                display: none;
              }
            }

            div.follow-picker-user-item {
              display: contents;

              @include user-profile(32) {
                margin-right: 8px;
                flex: 0 0 32px;
                align-self: center;
              }

              span.user-name {
                @include OC_Body_Book();
                font-size: 16px;
                line-height: 18px;
                color: var(--color);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 6px;
                align-self: center;
                flex: 0 1 auto;
              }

              span.self-user {
                @include OC_Body_Book();
                font-size: 14px;
                line-height: 18px;
                color: var(--light-color);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 6px;
                align-self: center;
                flex: 0 1 auto;
              }

              span.user-role {
                @include OC_Body_Book();
                font-size: 16px;
                line-height: 18px;
                color: var(--light-color);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 16px;
                align-self: center;
                flex: 0 2 auto;
              }
            }

            span.followers-count {
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 20px;
              color: var(--light-color);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              flex: 1 0 auto;
              align-self: center;
              margin-left: auto;
              margin-right: 16px;
              text-align: right;
            }

            button.follow-button {
              margin-left: auto;
              align-self: center;
              width: 82px;
            }
          }
        }
      }
    }
  }
}