button.follow-button {
  background-color: $wut_purple;
  height: 32px;
  border-radius: 4px;
  width: auto;
  padding: 8px;

  @include big_web(){
    &:hover {
      opacity: 1;
    }
  }

  span.main-title, span.hover-title {
    @include OC_Body_Book();
    font-size: 14px;
    line-height: 18px;
    color: white;
    width: 100%;
    text-align: center;
  }

  span.main-title {
    display: block;
  }

  span.hover-title {
    display: none;
  }

  @include big_web() {
    &:hover {
      span.hover-title {
        display: block;
      }

      span.main-title {
        display: none;
      }
    }
  }

  &.unfollow {
    background-color: var(--opac-background-color-1);
    color: var(--light-color);

    @include big_web(){
      &:hover {
        background-color: var(--opac-background-color-2);
        color: var(--color);
      }
    }
  }
}