button.follow-button {
  background-color: $wut_purple;
  height: 32px;
  border-radius: 4px;
  width: auto;
  padding: 8px;

  &.default-copy {
    width: 82px;
  }

  &.disabled {
    cursor: not-allowed;
  }

  @include big_web(){
    &:hover {
      opacity: 1;
    }
  }

  span.main-title, span.hover-title {
    @include OC_Body_Book();
    font-size: 14px;
    line-height: 18px;
    color: white;
    width: 100%;
    text-align: center;

    @include no-user-select();
  }

  span.main-title {
    display: block;
  }

  span.hover-title {
    display: none;
  }

  @include big_web() {
    &:not(.disabled):hover {
      span.main-title {
        display: none;
      }

      span.hover-title {
        display: block;
      }
    }
  }

  &.on {
    background-color: var(--opac-background-color-1);

    span.main-title, span.hover-title {
      color: var(--light-color);
    }

    @include big_web(){
      &:not(.disabled):hover {
        background-color: var(--opac-background-color-2);
        
        span.main-title, span.hover-title {
          color: var(--color);
        }
      }
    }
  }
}