div.footer {
  background-color: white;
  padding-top: 54px;

  div.footer-cta {
    font-family: $oc_headers_font;
    font-size: 18px;
    line-height: 1.3;
    color: $oc_gray_5;
    text-align: center;
    margin: 0 10px;

    div {
      text-align: center;

      a.io-link {
        width: 322px;
        height: 50px;
        border: solid 3px rgba(78, 90, 107, 0.2);
        background-color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: rgba(78,90,107, 0.5);
        display: inline-block;
        padding-top: 14px;
        margin-top: 24px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  div.footer-internal{
    background-color: rgba(78, 90, 107, 0.05);
    margin-top: 54px;
    min-height: 90px;
    width: 100%;

    div.footer-bottom {
      margin: 0 auto;
      padding: 30px;
      @media screen and (max-width: 683px){
        text-align: left;
      }

      @media screen and (max-width: 413px){
        margin-left: 9px;
        margin-right: 9px;
        width: auto !important;
        padding-left: 0px;
        padding-right: 0px;
      }

      a.oc-logo img {
        width: 30px;
        height: 30px;
      }

      a.footer-link {
        border: solid 1px rgba(78, 90, 107, 0.5);
        opacity: 0.5;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #4e5a6b;
        margin-left: 20px;
        padding: 5.5px;
      }

      @media screen and (max-width: 683px){
        a:first-child{
          margin-left: 0px;
        }
      }

      a.twitter, a.github {
        margin-left: 10px;
        img {
          width: 30px;
          height: 30px;
        }
      }

      div.footer-bottom-right {
        float: right;
        width: 80px;
        height: 30px;

        @media screen and (max-width: 683px){
          float: none;
          text-align: left;
          width: 100%;
          margin-top: 10px;

          a:first-child{
            margin-left: 0px;
          }
        }
      }
    }
  }
}