$lightbox_side_padding: 30;

div.fullscreen-topic {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;

  &.initial {
    opacity: 0;
  }

  @include mobile(){
    overflow-y: hidden;
    text-align: center;
  }

  -webkit-overflow-scrolling: touch;

  div.fullscreen-topic-transition{
    position: relative;
    height: auto;

    @include mobile(){
      height: 100% !important;
      overflow-y: hidden;
    }

    div.fullscreen-topic-as-of {
      height: auto;

      @include mobile(){
        height: 100% !important;
        overflow-y: hidden;
      }
    }

    div.fullscreen-topic-tr-as-of {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 100vw;

      @include mobile(){
        height: 100% !important;
        overflow-y: hidden;
      }
    }

    div.fullscreen-topic-internal {
      -webkit-overflow-scrolling: touch;
      max-width: 500px;
      margin: 230px auto 30px;
      position: relative;
      border-radius: 2px;
      background-color: #fcfcfc;
      padding-bottom: 12px;

      @media screen and (max-height: 768px){
        margin-top: 30px;
      }

      @media screen and (max-height: 1300px) and (min-height: 769px){
        margin-top: 130px;
      }

      @include big_web(){
        box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
      }

      @include mobile(){
        overflow-y: hidden;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        margin-top: 0px;
        padding-top: #{$mobile_navbar_height}px;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      div.fullscreen-topic-mobile-navigation{
        position: fixed;
        top: 0px;
        left: 0px;
        height: #{$mobile_navbar_height}px;
        width: 100%;
        text-align: center;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
        background-color: white;
        border-top: 4px solid $oc_yellow;
        z-index: 1034;

        div.fullscreen-topic-mobile-navigation-title {
          color: $oc_gray_7;
          font-weight: 400;
          font-family: $oc_headers_font;
          font-size: 25px;
          padding-top: 16px;
          overflow: hidden;
          text-overflow: ellipse;
          width: 80%;
          position: absolute;
          left: 50%;
          margin-left: -40%;
        }

        button.close-fullscreen-topic-btn {
          position: absolute;
          top: 0px;
          right: -30px;
          width: 30px;
          height: 30px;
          font-weight: 400;
          font-family: $oc_headers_font;
          font-size: 28px;
          color: $oc_gray_7;

          @include mobile(){
            left: 8px;
            top: 12px;
          }
        }
      }

      div.fullscreen-topic-top-box{
        border-radius: 2px;
        padding: 0px;
        position: relative;
        overflow-y: visible;

        @include mobile(){
          padding-bottom: 20px;
          height: calc(100vh - #{$mobile_navbar_height}px - 4px);
          overflow-y: scroll;
          z-index: 1033;
        }

        div.fullscreen-topic-top-box-overflow {
          height: auto;

          div.topic-header-image {
            text-align: center;

            img {
              width: 100%;
              border-top-left-radius: 2px;
              border-top-right-radius: 2px;
            }
          }

          div.topic-title-container{
            padding: 17px #{$lightbox_side_padding}px 0px;

            div.topic-title {
              opacity: 0.5;
              font-family: $oc_headers_font;
              font-weight: 700;
              font-size: 13px;
              line-height: 1.5;
              letter-spacing: 1px;
              color: $oc_gray_5;
              text-transform: uppercase;
              margin: 0px;
            }
          }

          div.topic-headline {
            margin-top: 18px;
            font-family: $oc_headers_font;
            font-size: 18px;
            line-height: 25px;
            color: $oc_gray_7;
            padding: 0px #{$lightbox_side_padding}px;

            .emojione {
              @include emoji-size(#{$lightbox_side_padding}px);
            }
          }

          div.topic-snippet{
            @include rich-editor-body($oc_gray_7);
            line-height: 1.8;
            font-size: 18px;
            margin-top: 12px !important;
            padding: 0px #{$lightbox_side_padding}px !important;
          }

          div.topic-growth-finances{
            margin-top: 20px;
            padding: 0px #{$lightbox_side_padding}px;
          }
        }

        div.topic-body{
          @include rich-editor-body($oc_gray_7, 14px);
          margin-top: 21px !important;
          margin-bottom: 20px !important;
          line-height: 1.8;
          font-size: 14px;
          padding: 0px #{$lightbox_side_padding}px !important;
          overflow-wrap: break-word;
        }

        div.topic-attribution-container {
          padding: 0px #{$lightbox_side_padding}px;
        }
      }
    }
  }
}