div.fullscreen-post-container {
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: $oc_gray_8;
  z-index: #{$navbar_zindex + 100};
  overflow-y: auto;
  height: 100vh;
  transition: opacity 180ms ease-in;

  @include tablet() {
    position: initial;
    width: 100%;
    height: initial;
    padding-top: 64px;
    top: unset;
    left: unset;
    background-color: white;
  }

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  &.editing {
    div.fullscreen-post-header {
      background-color: $sea_blue;

      div.header-title-container {
        color: white;
      }

      button.mobile-modal-close-bt {
        background-image: cdnUrl("/img/ML/white_close.svg");
      }
    }

    div.fullscreen-post {
      padding: 32px 40px;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(#E4E3DE, 0.5);
      margin: 112px auto 0px;

      div.fullscreen-post-right-column {
        display: none;
      }
    }
  }

  div.fullscreen-post-header {
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 56px;
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
    z-index: #{$navbar_zindex + 101};
    text-align: center;
    transition: background-color 180ms ease-in;

    @include tablet() {
      width: 100%;
    }

    button.mobile-modal-close-bt {
      background-image: cdnUrl("/img/ML/fullscreen_closing_x.svg");
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center;
      padding: 0;
      transition: background-image 180ms ease-in;
      position: absolute;
      top: 16px;
      left: 24px;
    }

    div.header-title-container {
      margin: 6px auto 0px;
      width: auto;
      opacity: 1;
      transition: color 180ms ease-in;
      @include avenir_H();
      font-size: 16px;
      color: $deep_navy;
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;

      @include mobile() {
        display: none;
      }
    }

    div.fullscreen-post-header-right {
      position: absolute;
      top: 16px;
      right: 24px;

      button.post-publish-bt {
        position: absolute;
        top: -8px;
        right: 0px;
        height: 40px;
        padding: 8px 0px 8px 52px;
        color: white;
        @include avenir_B();
        font-size: 14px;
        transition: opacity 180ms ease-in;

        &.loading {
          &:before {
            content: "";
            background-image: cdnUrl("/img/small_loading.gif");
            background-size: 20px 20px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 24px;
            top: 10px;
          }
        }
      }

      div.activity-share-container {
        div.activity-share-modal-container {
          top: 32px;
          right: 0px;
          margin-top: 0px;
        }
      }
    }
  }

  &.editing, &.no-comments {
    div.fullscreen-post {
      div.fullscreen-post-right-column {
        opacity: 0;
      }
    }
  }

  div.fullscreen-post {
    margin: 112px auto 32px;
    width: 720px;
    position: relative;
    height: auto;
    border: 1px solid #ECECEC;
    border-radius: 6px;
    background-color: white;
    padding: 32px 40px 0px;
    box-shadow: none;

    @include tablet() {
      margin: 0px auto 32px;
      width: 100%;
      min-height: initial;
      box-shadow: none;
      border: none;
      padding: 0px;
      background-color: white;
    }

    div.fullscreen-post-author-header {

      @include mobile() {
        padding: 24px 24px 0px;
      }

      &.section-editing {

        div.fullscreen-post-author-header-author {
          overflow: visible;

          div.fullscreen-post-box-content-board {
            @include avenir_M();
            font-size: 14px;
            color: $deep_navy;
            margin-top: 6px;
            position: relative;
            cursor: pointer;

            @include mobile() {
              float: none;
              margin-left: 0px;
              font-size: 15px;
            }

            span.posting-in-span {
              float: left;
            }

            div.board-name {
              @include avenir_M();
              position: relative;
              float: left;
              margin-left: 6px;

              &:after {
                float: right;
                content: "";
                background-image: cdnUrl("/img/ML/board_settings.svg");
                background-size: 8px 8px;
                background-repeat: no-repeat;
                background-position: center;
                width: 20px;
                height: 20px;
                margin-top: -2px;
                margin-left: 4px;

                &:hover {
                  opacity: 1;
                }
              }
            }

            div.sections-picker-container {
              position: absolute;
              top: 24px;
              left: 46px;
              z-index: #{$navbar_zindex + 102};

              @include mobile() {
                position: fixed;
                top: 0px;
                left: 0px;
                margin-left: 0px;
              }
            }
          }
        }
      }

      div.fullscreen-post-author-header-author {
        width: 75%;
        padding-right: 20px;
        overflow: hidden;
        line-height: 18px;
        float: left;

        @include activity-author(32);

        div.name {
          line-height: 18px;
          color: $deep_navy;
        }

        div.time-since {
          @include avenir_M();
          font-size: 12px;
          line-height: 14px;
          color: $ui_grey;
        }
      }

      div.fullscreen-post-author-header-right {
        float: right;
        width: 25%;

        @include new-tag();
      }
    }

    div.fullscreen-post-left-column {
      position: relative;
      background-color: white;

      @include tablet() {
        width: 100%;
        left: unset;
        top: unset;
      }

      div.fullscreen-post-left-column-content {
        padding: 16px 0px 0px;

        @include tablet() {
          padding: 32px 24px 0px;
        }

        div.fullscreen-post-box-content-headline {
          @include activity-headline();

          @include avenir_H();
          font-size: 22px;
          color: $deep_navy;
          line-height: 28px;
          cursor: text;
          outline: none;

          &:empty:before {
            content: attr(placeholder);
            display: inline-block;
            color: $light_ui_grey !important;
            font-style: none;
            height: 26px;
          }
        }

        div.rich-body-editor-container {
          position: relative;
          overflow: visible;

          div.medium-editor-media-picker {
            margin-top: 0px;
            margin-left: -26px;
            top: 0px;
          }

          div.rich-body-editor {
            border: none;
            outline: none;
            margin: 8px 0px 0px;
            cursor: text;
            @include activity-body(16, 22, 22, $deep_navy);
            color: $deep_navy;
            @include avenir_R();
            font-size: 16px;
            line-height: 22px;
            min-height: 160px;
            max-height: calc(100vh - 315px);
            overflow-y: auto;
            overflow-x: hidden;

            @include mobile() {
              min-height: initial;
            }

            & > *:first-child {
              margin-top: 0px;
            }

            p:not(:last-child):not(:first-child) {
              margin: 16px 0px;
            }

            &.medium-editor-placeholder:after {
              color: $light_ui_grey !important;
            }

            &:after {
              margin: 0;
            }
          }
        }

        div.fullscreen-post-box-content-body {
          border: none;
          outline: none;
          margin: 8px 0px 0px;
          @include activity-body(18, 22, 22, $deep_navy);
          color: $deep_navy;
          @include avenir_R();
          font-size: 16px;
          line-height: 22px;
          min-height: 160px;

          @include mobile() {
            min-height: initial;
          }
        }

        div.fullscreen-post-box-footer {
          margin-top: 32px;

          @include tablet() {
            margin-top: 16px;
          }

          &.wrap-reactions {
            div.reactions {
              float: left;
              margin-top: 16px;
            }
          }

          div.reactions {
            float: right;

            div.reactions-picker-container {
              div.emoji-mart {
                right: 0px;
                left: unset;
                bottom: unset;
                top: 32px;
              }
            }
          }

          div.is-comments {
            float: left;
          }

          div.fullscreen-post-box-footer-editing {
            div.fullscreen-post-box-footer-multi-picker {
              float: left;
              width: 20px;
              height: 20px;
            }

            div.emoji-picker {
              float: left;
              margin-left: 16px;

              button.emoji-button {
                width: 20px;
                height: 20px;
                background-position: 0px 0px;
                padding: 0px;
                position: absolute;
                top: 0px;
                left: 0px;
                cursor: pointer;
              }

              @include mobile() {
                display: none;
              }

              div.picker-container {
                left: -8px;
              }
            }

            div.fullscreen-post-box-footer-legend-container {
              float: left;
              margin-left: 16px;
              position: relative;

              button.fullscreen-post-box-footer-legend-trigger {
                width: 20px;
                height: 20px;
                @include image-2x("/img/ML/new_post_legend_button");
                background-repeat: no-repeat;
                background-size: 20px 20px;
                background-position: 0px 0px;
                cursor: pointer;
                position: absolute;
                top: 0px;
                left: 0px;
              }

              div.fullscreen-post-box-footer-legend-image {
                position: absolute;
                top: -283px;
                left: -8px;
                width: 212px;
                height: 281px;
                @include image-2x("/img/ML/new_post_legend");
                background-size: 212px 281px;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }

    div.fullscreen-post-right-column {
      padding: 24px 0px;

      @include tablet() {
        width: 100%;
        left: unset;
        top: unset;
        position: relative;
        padding: 0px 24px;
        height: auto;
        background-color: white;
      }

      &.no-comments {
        div.stream-comments {
          height: 100%;
        }
      }

      div.add-comment-box-container {
        div.add-comment-box {
          div.emoji-picker {
            div.picker-container {
              top: unset !important;
              right: 0px !important;
            }
          }
        }
      }

      div.stream-comments {
        margin-top: 16px;

        @include tablet() {
          background-color: white;
        }

        &:before {
          @include top-gradient($oc_gray_8);
        }

        @include tablet() {

          &:before {
            @include top-gradient(white);
          }
        }

        div.stream-comments-inner {
          padding-top: 16px;
        }
      }

      div.add-comment-box-container {

        @include tablet() {
          padding-right: 0px;
        }
      }
    }
  }
}