div.fullscreen-topic {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.initial {
    opacity: 0;
  }

  div.fullscreen-topic-transition{
    position: relative;
    height: auto;
    overflow: hidden;

    div.fullscreen-topic-as-of {
      height: auto;
    }

    div.fullscreen-topic-tr-as-of {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 100vw;
    }

    div.fullscreen-topic-internal {
      width: 500px;
      margin: 30px auto;
      position: relative;
      border-radius: 2px;
      background-color: #fcfcfc;
      box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;

      @include mobile(){
        margin-bottom: 40px;
      }

      button.close-fullscreen-topic-btn {
        position: absolute;
        top: 0px;
        right: -30px;
        width: 30px;
        height: 30px;
        font-weight: 400;
        font-family: $oc_headers_font;
        font-size: 25px;
        color: rgba(78, 90, 107, 0.4);
        z-index: 1000;

        i {
          display: block;
          margin-top: -10px;
          margin-left: -2px;
        }
      }

      div.fullscreen-topic-top-box{
        border-radius: 2px;
        padding: 0px;
        position: relative;
        overflow: scroll;

        div.topic-header-image {
          text-align: center;

          img {
            width: 100%;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
          }
        }

        div.topic-title-container{
          margin-top: 17px;
          padding: 0px 26px;

          div.topic-title {
            opacity: 0.5;
            font-family: $oc_headers_font;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $oc_gray_5;
            text-transform: uppercase;
            margin: 0px;
          }
        }

        div.topic-headline {
          margin-top: 18px;
          font-family: $oc_headers_font;
          font-size: 26px;
          line-height: 1.4;
          color: $oc_gray_7;
          padding: 0px 26px;

          .emojione {
            @include emoji-size(26px);
          }
        }

        div.topic-snippet{
          @include rich-editor-body($oc_gray_7);
          line-height: 1.8;
          font-size: 18px;
          margin-top: 12px !important;
          padding: 0px 26px !important;
        }

        div.topic-growth-finances{
          margin-top: 20px;
          padding: 0px 26px;
        }
      }

      div.topic-body{
        @include rich-editor-body($oc_gray_7);
        margin-top: 21px !important;
        margin-bottom: 20px !important;
        line-height: 1.8;
        font-size: 18px;
        padding: 0px 30px !important;
        overflow-wrap: break-word;
      }

      div.topic-attribution-container {
        padding: 0px 30px;
      }
    }
  }
}