div.fullscreen-topic {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;

  &.initial {
    opacity: 0;
  }

  div.edit-button {
    position: relative;
    cursor: pointer;
    z-index: 1040;
    float: right;
    opacity: 0.2;

    &:hover {
      opacity: 0.5;
    }
  }

  div.btd-container{
    height: 50px;
    margin: 0 auto;

    div.back-to-dashboard-row {
      z-index: 1040;

      button.back-to-dashboard {
        margin-top: 0px;
        opacity: 1;
        background-color: white;
        color: rgba(78,90,107,0.8);
        border: 1px solid rgba(78,90,107,0.8);

        &:hover {
          color: rgba(78,90,107,1);
          border: 1px solid rgba(78,90,107,1);
        }
      }
    }
  }

  div.fullscreen-topic-transition{
    position: relative;
    height: auto;
    overflow: hidden;

    div.fullscreen-topic-as-of {
      height: auto;
    }

    div.fullscreen-topic-tr-as-of {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 100vw;
    }

    div.fullscreen-topic-internal {
      max-width: 650px;
      min-width: 302px;
      margin: 30px auto;
      position: relative;
      overflow: hidden;
      min-height: calc(100vh - #{$navbar_height}px - 60px - 4px);
      padding-top: 2px;

      @include mobile(){
        margin-top: 40px;
      }

      div.fullscreen-topic-top-box{
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 2px rgba(78, 90, 107, 0.2);
        padding: 26px 30px;

        div.topic-header-image {
          text-align: center;

          img {
            max-width: 490px;
          }
        }

        div.topic-title {
          opacity: 0.5;
          font-family: $oc_headers_font;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          text-transform: uppercase;
          margin: 0px;
          padding-top: 2px;
        }

        div.topic-headline {
          margin-top: 18px;
          font-family: $oc_headers_font;
          font-size: 26px;
          line-height: 1.4;
          color: $oc_gray_5;

          svg.emojione {
            height: 26px;
            width: 26px;
          }
        }

        div.topic-snippet{
          margin-top: 12px;
          @include rich-editor-body($oc_gray_5);
          line-height: 1.8;
          font-size: 18px;
        }

        div.topic-growth-finances{
          margin-top: 10px;
        }
      }

      div.separator {
        margin-top: 20px;
        width: 30px;
        height: 2px;
        background-color: rgba(77, 89, 106, 0.2);
      }

      div.topic-body{
        @include rich-editor-body($oc_gray_5);
        margin-top: 21px !important;
        line-height: 1.8;
        font-size: 18px;
        padding: 0px 30px !important;
      }

      div.topic-attribution {
        margin-top: 10px;
        font-size: 16px;
        line-height: 1.8;
        color: $oc_gray_5;
        opacity: 0.5;
        padding: 0px 30px;
      }

      div.topic-revisions {
        margin-top: 65px;
        padding: 0px 30px;

        @include mobile(){
          margin-bottom: 60px;
        }

        button {
          border: 0px;
          outline: none;
          background-color: transparent;
          opacity: 0.5;
          font-weight: 700;
          font-family: $oc_headers_font;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
        }

        button.prev {
          float: left;
        }

        button.next {
          float: right;
        }
      }
    }
  }
}