div.fullscreen-topic {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 4px solid $oc_yellow;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 1036;
  overflow: auto;

  @include mobile(){
    background-color: rgba(255, 255, 255, 1);
  }

  div.edit {
    position: fixed;
    cursor: pointer;
    z-index: 1040;
    top: 20px;
    right: 70px;
    opacity: 0.2;

    &:hover {
      opacity: 0.5;
    }
  }

  div.close {
    position: fixed;
    cursor: pointer;
    z-index: 1040;
    top: 20px;
    right: 20px;
  }

  div.fullscreen-topic-internal {
    max-width: 575px;
    min-width: 302px;
    margin: #{$navbar_height}px auto 30px;
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - #{$navbar_height}px - 30px - 8px);

    @include mobile(){
      margin-top: 40px;
    }

    div.topic-title {
      opacity: 0.5;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1px;
      color: $oc_gray_5;
      text-transform: uppercase;
    }

    div.topic-headline {
      margin-top: 18px;
      font-family: $oc_headers_font;
      font-size: 26px;
      line-height: 1.4;
      color: $oc_gray_5;
    }

    div.topic-growth-finances{
      margin-top: 10px;
    }

    div.separator {
      margin-top: 20px;
      width: 30px;
      height: 2px;
      background-color: rgba(77, 89, 106, 0.2);
    }

    div.topic-body{
      margin-top: 21px;

      &, div.topic-body *{
        font-family: $oc_headers_font;
        font-size: 18px;
        line-height: 1.8;
        color: $oc_gray_5;

        a {
          cursor: pointer;
          pointer-events: auto;
          height: 1.4em;
        }
      }
    }

    div.topic-attribution {
      margin-top: 10px;
      font-family: $oc_headers_font;
      font-size: 18px;
      line-height: 1.8;
      color: $oc_gray_5;
    }

    div.topic-revisions {
      margin-top: 65px;

      button {
        border: 0px;
        outline: none;
        background-color: transparent;
        opacity: 0.5;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
      }

      button.prev {
        float: left;
      }

      button.next {
        float: right;
      }
    }
  }
}