div.giphy-picker {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  border: 1px solid var(--opac-background-color-05);
  padding: 16px 8px;
  background-color: var(--overlay-background-color);
  z-index: #{$navbar_zindex + 126};
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);

  div.giphy-picker-container {

    .giphy-picker-form {

      input.giphy-picker-form-input {
        border-radius: 4px;
        background-color: var(--opac-background-color-1);
        outline: none;
        border: none;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        margin-right: 16px;
        height: 32px;
        padding: 7px 8px;
      }

      button.giphy-picker-form-submit {
        border-radius: 6px;
        @include OC_Body_Bold();
        font-size: 12px;
        line-height: 24px;
        height: 32px;
        text-align: center;
        background-color: $wut_purple;
        color: white;
        padding: 0 8px;
      }
    }

    .giphy-picker-results-container {
      margin-top: 16px;
      max-height: 300px !important;

      .giphy-picker-results-item {
        margin-top: 8px;
      }
    }

    div.giphy-picker-suggestions {
      .giphy-picker-suggestions-suggestion {

      }
    }

    .giphy-picker-loader {
      @include OC_Body_Book();
      font-size: 12px;
      color: var(--color);
    }
  }
}

@include dark_mode() {
  div.giphy-picker {
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.05);
  }
}