div.growth-sparklines{

  &.editing {
    div.growth-sparkline {
      border: 1px solid rgba(78,90,107,0.4);
      padding: 12px;

      &:hover {
        border: 2px solid rgb(249,215,72);
        padding: 11px;

        div.actions {
          opacity: 1;
        }
      }
    }
  }

  div.growth-sparkline {
    margin: 0px 0px 5px 0px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px;

    div.center-box {
      width: 90%;
      float: left;
      overflow: hidden;
    }

    div.actions {
      width: 14px;
      font-size: 14px;
      float: right;
      opacity: 0;

      button{
        width: 14px;
        margin: 0px;
        padding: 0px 3px 0px 3px;
        opacity: 0.4;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

}