div.growth-metric-edit {

  padding: 20px;

  span.select2 {
    margin-bottom: 15px;    
  }

  div.growth-metric-edit-row{
    width: 100%;

    button {
      height: 30px;
      font-weight: 700;
      font-family: $oc_headers_font;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1px;
      color: #4e5a6b;
      padding: 4px 20px;
      border: 0px solid black;
      outline: none;
      margin-right: 10px;

      &.save {
        background-color: $oc_yellow;
        color: $oc_gray_5;
      }

      &.delete {
        background-color: transparent;
        color: $oc_gray_5;
      }

      &.cancel {
        background-color: transparent;
        color: $oc_gray_5;
      }
    }
  }
}