@import "../modules/_fonts";

div.headline {
  width: 500px;
  margin-top: -10px;

  label.headline-counter{
    float: right;
    font-size: 14px;
    color: lightgray;
    opacity: 0;
    margin-bottom: 0px;

    &.edit {
      opacity: 1;
    }
  }

  textarea.headline-textarea {
    text-align: left;
    color: #2D2D2D !important;
    font-size: 18px;
    font-family: $oc_main_font;
    font-weight: normal;
    color: inherit;
    padding: 10px 0;
    margin: 0px;
    width: 500px;
    min-height: 35px;
    box-sizing: border-box;
    border: 1px solid white;
    outline: none;
    resize: none;

    &.edit {
      border: 1px solid black;
      outline: none;
    }
  }
}