$illustration_min_width: 1247;

button.get-started-button {
  width: 280px;
  height: 48px;
  border-radius: 100px;
  background-color: $carrot_text_blue_3;
  color: white;
  @include avenir_H();
  font-size: 18px;
  margin: 48px 16px 0;
  padding: 0px 42px;
  position: relative;
  text-align: left;

  @include mobile(){
    width: 100%;
    max-width: 280px;
    margin: 16px auto;
    padding: 0px 32px;

    &.your-boards {
      text-align: center;

      &:after {
        background-image: none;
      }
    }
  }

  &:after {
    @include image-2x("/img/ML/get_started_arrow");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    right: 42px;

    @include mobile(){
      right: 32px
    }
  }
}

div#wrap {
  background-color: $oc_gray_8;

  div.main.home-page {
    width: 100%;
    background-image: cdnUrl("/img/ML/homepage_blue_bg.svg");
    background-size: 1750px 1400px;
    background-position: center 540px;
    background-repeat: no-repeat;

    @include tablet() {
      background-position: center 625px;
      background-size: 1900px 1520px;
    }

    &.no-get-started-button {
      background-position: center 469px;

      @include tablet() {

      }

      section.cta {
        div.balloon {

          &.big-green {
            top: 351px;
          }

          &.small-red {
            top: 523px;
          }

          &.small-purple-2 {
            top: 1538px;
          }

          &.big-green-2 {
            top: 1843px;
          }

          &.small-yellow {
            top: 2001px;
          }
        }
      }
    }

    @include mobile() {
      padding: 0 32px;
    }

    section {
      @include mobile_to_tablet(){
        padding: 0 32px;
      }
    }

    section.cta {
      padding-top: 162px;
      padding-bottom: 232px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include mobile() {
        width: 100%;
        overflow: visible;
        padding-top: 152px;
        margin-bottom: 80px;
        padding-bottom: 0px;
      }

      div.balloon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;

        @include tablet() {
          display: none;
        }

        &.big-yellow {
          @include image-2x("/img/ML/balloon_big_yellow");
          background-size: 172px 172px;
          width: 172px;
          height: 172px;
          top: 6px;
          left: -76px;
        }

        &.big-purple {
          @include image-2x("/img/ML/balloon_big_purple");
          background-size: 111px 111px;
          width: 111px;
          height: 111px;
          top: 8px;
          right: 118px;
        }

        &.big-red {
          @include image-2x("/img/ML/balloon_big_red");
          background-size: 226px 208px;
          width: 226px;
          height: 208px;
          top: -10px;
          right: -55px;
        }

        &.big-green {
          @include image-2x("/img/ML/balloon_big_green");
          background-size: 200px 172px;
          width: 200px;
          height: 172px;
          top: 422px;
          left: 50%;
          margin-left: -524px;
        }

        &.small-blue {
          @include image-2x("/img/ML/balloon_small_blue");
          background-size: 15px 17px;
          width: 15px;
          height: 17px;
          top: 164px;
          left: 6.71%;
        }

        &.small-yellow-face {
          @include image-2x("/img/ML/balloon_small_yellow_face");
          background-size: 48px 48px;
          width: 48px;
          height: 48px;
          top: 149px;
          left: 78.57%;
        }

        &.small-purple {
          @include image-2x("/img/ML/balloon_small_purple");
          background-size: 23px 21px;
          width: 23px;
          height: 21px;
          top: 189px;
          left: 86.36%;
        }

        &.small-red {
          @include image-2x("/img/ML/balloon_small_red_3");
          background-size: 47px 48px;
          width: 47px;
          height: 48px;
          top: 594px;
          left: 9.71%;
        }

        &.small-purple-2 {
          @include image-2x("/img/ML/why_balloon_small_purple");
          background-size: 33px 30px;
          width: 33px;
          height: 30px;
          top: 1609px;
          left: 11.93%;
        }

        &.big-green-2 {
          @include image-2x("/img/ML/balloon_big_green");
          background-size: 200px 172px;
          width: 200px;
          height: 172px;
          top: 1914px;
          left: 50%;
          margin-left: 319px;
        }

        &.small-yellow {
          @include image-2x("/img/ML/why_balloon_small_yellow");
          background-size: 25px 25px;
          width: 25px;
          height: 25px;
          top: 2072px;
          left: 50%;
          margin-left: 286px;
        }
      }

      h1.headline {
        font-size: 48px;
        @include avenir_H();
        color: $carrot_dark_brown_1;
        padding: 0 16px;
        max-width: 800px;
        margin: 0 auto;
        line-height: 60px;
        z-index: 2;
        position: relative;

        @include mobile() {
          padding: 0px;
        }
      }

      div.subheadline {
        color: rgba($carrot_light_gray_3, 0.8);
        font-size: 24px;
        padding: 0 16px;
        @include avenir_R();
        max-width: 592px;
        margin: 4px auto 0px;
        z-index: 2;
        position: relative;

        @include mobile(){
          margin-top: 16px;
          font-size: 24px;
          padding: 0px;
        }
      }

      div.get-started-button-container {
        margin: 0 auto;

        button.get-started-button {
          margin-top: 23px;
        }
      }

      div.small-teams {
        color: $carrot_dark_blue;
        font-size: 14px;
        @include avenir_H();
        margin-top: 16px;
        z-index: 2;
        position: relative;
      }

      div.stay-aligned-container {
        max-width: 678px;
        margin: 62px auto 72px;
        text-align: right;

        @include mobile() {
          margin: 80px auto;
        }

        div.stay-aligned-icon {
          width: 44px;
          height: 44px;
          @include image-2x("/img/ML/homepage_clarity");
          background-size: 44px;
          background-repeat: no-repeat;
          background-position: center;
          float: left;

          @include mobile(){
            float: unset;
            margin: 0px auto;
          }
        }

        div.stay-aligned-message {
          @include avenir_M();
          font-size: 34px;
          color: white;
          line-height: 42px;
          margin-top: 8px;
          display: inline-block;
          text-align: center;
        }
      }
    }

    section.third-section {
      padding: 72px 0px;
      text-align: center;

      div.third-section-title {
        @include avenir_M();
        font-size: 34px;
        color: $carrot_dark_gray;
        margin-bottom: 20px;
      }

      button.get-started-button {
        margin-top: 0px;
      }
    }
  }
}