div.home-wrap {
  background-color: $ultra_light_gold;

  div.main.home-page {
    width: 100%;

    section {
      background-color: $ultra_light_gold;
    }

    section.pricing-header {
      background-color: $another_ui_grey;
    }

    section.cta {
      padding-top: 138px;
      padding-bottom: 73px;
      padding-left: 24px !important;
      padding-right: 24px !important;
      text-align: center;
      position: relative;
      overflow: hidden;
      position: relative;

      @include tablet() {
        padding-bottom: 0px;
        padding: 131px 24px 0;
      }

      @include mobile() {
        width: 100%;
        overflow: visible;
        padding: 88px 16px 24px;
      }

      & > * {
        position: relative;
        z-index: 3;
      }

      &:before {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 32px);
        height: 50%;
        transform: translateX(-50%);
        background-color: $another_ui_grey;
        border-radius: 20px 200px 20px 20px;
        display: block;
        content: "";
        max-width: 1232px;
      }

      // &:after {
      //   background-color: $another_ui_grey;
      //   content: "";
      //   width: 100%;
      //   height: 39%;
      //   display: block;
      //   border-bottom-left-radius: 200px;
      //   position: absolute;
      //   bottom: 0;
      //   right: 0;
      //   z-index: 2;

      //   @include tablet() {
      //     border-bottom-left-radius: 0;
      //     border-top-right-radius: 200px;
      //   }

      //   @include mobile() {
      //     border-top-right-radius: 100px;
      //     min-height: 280px;
      //     min-height: 50px;
      //   }

      //   @media screen and (max-width: 440px) {
      //     height: 25%;
      //   }
      // }

      h1.headline {
        font-size: 60px;
        @include OC_Body_Bold()
        color: $deep_navy;
        line-height: 76px;
        margin: 0 auto;
        z-index: 2;
        position: relative;

        @include mobile(){
          font-size: 36px;
          line-height: 40px;
        }

        @media screen and (max-width: 380px) {
          font-size: 40px;
          line-height: 46px;
        }
      }

      div.subheadline {
        color: $deep_navy;
        font-size: 28px;
        line-height: 38px;
        @include OC_Body_Book();
        margin: 9px auto 0;
        z-index: 2;
        position: relative;
        max-width: 820px;

        @include tablet(){
          margin-top: 16px;
          font-size: 24px;
          line-height: 32px;
          padding: 0;
          color: $deep_navy;
          max-width: 596px;
        }

        @include mobile() {
          max-width: 100%;
          font-size: 20px;
          line-height: 26px;
        }

        &.second-line {
          margin-top: 0;
        }
      }

      div.get-started-button-container {
        margin: 0 auto 80px;
        width: 320px;

        @include mobile() {
          width: 100%;
          display: block;
          justify-content: initial;
          align-items: initial;
        }
      }
    }

    section.pricing-header {
      div.pricing-three-columns {
        div.pricing-column {
          background-color: $grey_num_5;

          &.free-column {
            background-color: white;
          }
        }
      }
    }

  }
}