div.home-wrap {
  background-color: $ultra_light_gold;

  div.main.home-page {
    width: 100%;

    section {
      background-color: $ultra_light_gold;
    }

    section.cta {
      padding-top: 239px;
      padding-bottom: 73px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include tablet() {
        padding-top: 131px;
        padding-bottom: 0px;
        padding: 131px 24px 0;
      }

      @include mobile() {
        width: 100%;
        overflow: visible;
        padding-bottom: 40px;
      }

      & > * {
        position: relative;
        z-index: 3;
      }

      &:after {
        background-color: $another_ui_grey;
        content: "";
        width: 100%;
        height: 39%;
        display: block;
        border-bottom-left-radius: 200px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;

        @include tablet() {
          border-bottom-left-radius: 0;
          border-top-right-radius: 200px;
        }

        @include mobile() {
          border-top-right-radius: 100px;
          min-height: 280px;
          min-height: 50px;
        }

        @media screen and (max-width: 440px) {
          height: 25%;
        }
      }

      h1.headline {
        font-size: 64px;
        @include PTSerif()
        color: $deep_navy;
        margin: 0 auto 24px;
        z-index: 2;
        position: relative;

        @include mobile(){
          font-size: 50px;
          line-height: 56px;
          margin-bottom: 16px;
        }

        @media screen and (max-width: 380px) {
          font-size: 40px;
          line-height: 46px;
        }
      }

      div.subheadline {
        color: $deep_navy;
        font-size: 26px;
        line-height: 36px;
        @include avenir_R();
        margin: 0 auto;
        z-index: 2;
        position: relative;
        max-width: 720px;

        @include tablet(){
          font-size: 24px;
          line-height: 32px;
          padding: 0;
          color: $deep_navy;
          max-width: 596px;
        }

        @include mobile() {
          max-width: 100%;
          font-size: 20px;
          line-height: 26px;
        }

        &.second-line {
          margin-top: 0;
        }
      }

      div.get-started-button-container {
        margin: 40px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile() {
          width: 100%;
          display: block;
          justify-content: initial;
          align-items: initial;
        }

        button {
          width: 320px;
          margin: 0;
          float: left;
          height: 64px;

          @include tablet() {
            max-width: calc(50% - 16px);
            margin: 0 8px;
          }

          @include mobile() {
            float: unset;
            width: 100%;
            max-width: 100%;
            margin: 0;
            height: 48px;
          }
        }

        button.get-started-button {
          @include mobile() {
            margin-top: 16px;
          }
        }
      }
    }
  }
}