div.home {
  background-color: white;
  min-height: 100vh;
  border-top: 4px solid $oc_yellow;

  div.home-internal {
    min-height: calc(100vh - #{$footer_height}px - 203px - 4px);
    background-color: #fff;
    padding: 0 30px;
  }
}