div#wrap {

  div.main.home-page {
    width: 100%;
    background-image: url("/img/ML/home_page_swoosh.svg");
    background-position: 0px -159px;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  div.cta {
    padding-top: 104px;
    padding-bottom: 50px;
    text-align: center;

    h1.headline {
      font-size: 48px;
      // font-weight: 900;
      // font-family: $oc_main_font;
      @include avenir_B();
      color: $cr_dark_blue;
      padding: 0;
      max-width: 940px;
      margin: 0 auto 20px;
    }

    div.subheadline {
      color: #4D4D4D;
      font-size: 20px;
      @include avenir_R();
      margin-top: 20px;
    }

    button.get-started-centred-bt {
      width: 320px;
      height: 48px;
      border-radius: 8px;
      background-color: $cr_text_blue;
      color: white;
      padding: 3px 6px;
      @include avenir_H();
      font-size: 18px;
      margin-top: 20px;
    }

    div.small-teams {
      color: $cr_dark_blue;
      font-size: 12px;
      @include avenir_H();
      margin-top: 10px;
    }

    img {
      margin-top: 40px;
    }
  }

  div.illustrations {
    text-align: center;

    div.illustration {
      margin: 50px auto;

      div.description {
        width: 475px;

        div.title {
          color: $cr_dark_blue;
          @include avenir_H();
          font-size: 36px;
          letter-spacing: 0.1px;
        }

        div.subtitle {
          color: $cr_dark_blue;
          @include avenir_M();
          font-size: 20px;
          line-height: 1.7;
        }
      }

      // 1st illustration
      &.illustration-1 {
        width: 1127px;

        img {
          float: left;
          width: 506px;
          margin-left: 70px;
        }

        div.description {
          float: right;
          text-align: left;
          margin-top: 70px;
        }
      }

      // 2nd illustration
      &.illustration-2 {
        width: 1127px;

        img {
          float: right;
          width: 521px;
          margin-right: 40px;
        }

        div.description {
          float: left;
          text-align: left;
          margin-top: 115px;
        }
      }

      // 3rd illustration
      &.illustration-3 {
        width: 1127px;

        img {
          float: left;
          width: 424px;
          margin-left: 30px;
        }

        div.description {
          float: right;
          text-align: left;
          margin-top: 75px;
          margin-right: 10px;
        }
      }

      // 4th illustration
      &.illustration-4 {
        width: 1127px;

        img {
          float: right;
          width: 346px;
          margin-right: 160px;
        }

        div.description {
          float: left;
          text-align: left;
          margin-top: 80px;
        }
      }

      // 5th illustration
      &.illustration-5 {
        width: 1127px;

        img {
          float: left;
          width: 333px;
          margin-left: 50px;
        }

        div.description {
          float: right;
          text-align: left;
          margin-top: 60px;
          margin-right: 20px;
        }
      }
    }
  }

  div.customers {
    width: 100%;
    margin: 50px auto 0;
    background-color: $cr_dark_blue;
    padding: 60px 0;
    text-align: center;

    div.customers-title {
      img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        margin-top: -4px;
      }

      font-size: 36px;
      @include avenir_H();
      color: white;
    }

    div.customers-cards {
      margin: 60px auto;
      width: 1246px;

      div.left-arrow {
        height: 200px;
        width: 48px;
        float: left;

        button {
          margin-top: 50px;
          background-image: url("/img/ML/home_page_left_arrow.svg");
          background-size: 48px 96px;
          width: 48px;
          height: 96px;
          opacity: 0.9;

          &:hover {
            opacity: 1;
          }

          &:disabled {
            opacity: 0.4;
          }
        }
      }

      div.customers-cards-scroll {
        width: 1110px;
        height: 200px;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0 20px;
        float: left;
        display: inline-block;

        div.customers-card {
          margin-right: 15px;
          width: 360px;
          height: 200px;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0 1px 2px 0 rgba(145, 145, 145, 0.5);
          float: left;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      div.right-arrow {
        height: 200px;
        width: 48px;
        float: right;

        button {
          margin-top: 50px;
          background-image: url("/img/ML/home_page_right_arrow.svg");
          background-size: 48px 96px;
          width: 48px;
          height: 96px;
          opacity: 0.9;

          &:hover {
            opacity: 1;
          }

          &:disabled {
            opacity: 0.4;
          }
        }
      }
    }
  }

  div.try-it {
    width: 100%;
    margin: 0 auto;
    padding: 56px 0 86px;
    background-image: linear-gradient(252deg, #f7c144, #f2558f);
    text-align: center;

    div.try-it-title {
      @include avenir_H();
      font-size: 36px;
      letter-spacing: 0.1px;
      color: white;
    }

    div.try-it-subtitle {
      color: #592121;
      @include avenir_H();
      font-size: 16px;
      line-height: 1.75;
    }

    div.try-it-combo-field {
      margin-top: 12px;

      input {
        margin: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 322px;
        height: 60px;
        @include avenir_M();
        font-size: 16px;
        color: $cr_dark_blue;
        padding: 10px 20px;
        outline: none;
        border: none;

        @include placeholder() {
          opacity: 0.8;
        }
      }

      button.try-it-get-started {
        height: 60px;
        margin: 0;
        background-color: $cr_dark_blue;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: white;
        @include avenir_H();
        font-size: 16px;
        padding: 10px 18px;
      }
    }
  }
}