$user_info_width: 200;
$user_info_vertical_spacing: 8;

div.info-hover-view {
  position: absolute;
  display: none;
  left: 0;
  z-index: 3;

  &.above {
    bottom: 100%;
    padding-bottom: #{$user_info_vertical_spacing}px;
  }

  &.below {
    top: 100%;
    padding-top: #{$user_info_vertical_spacing}px;
  }

  &.show {
    display: block;
  }
}

div.user-info-view {
  position: relative;
  width: #{$user_info_width}px;
  height: auto;
  z-index: #{$navbar_zindex - 1};
  text-align: center;
  border: 1px solid var(--divider-line);
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 16px;
  box-shadow: var(--user-info-view-shadow);
  cursor: default;

  &.otf {
    position: absolute;
    top: 100%;
    left: 0;

    &.above {
      top: unset;
      bottom: 100%;
    }
  }

  // Smaller popup version for less info
  &.inline {
    display: block;

    div.user-info-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      justify-items: flex-start;
      align-items: center;
      min-height: unset;

      @include user-profile(32) {
        margin-right: 8px;
        white-space: nowrap;
        flex: 0 0 auto;
      }

      div.user-info-right {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: center;
        align-items: flex-start;
        min-height: unset;

        div.user-info-name {
          flex: 0 1 auto;
          margin-top: 0;
        }

        div.user-info-line {
          flex: 0 1 auto;
          margin-top: 0;
        }

        div.user-info-subline {
          flex: 0 1 auto;
          margin-top: 0;
        }
      }
    }

    div.user-info-buttons {
      height: 30px;

      button.profile-bt, button.posts-bt {
        padding: 6px 0;
      }
    }
  }

  div.user-info-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    @include user-profile(120);

    div.user-info-right {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      max-width: 100%;

      div.user-info-name {
        @include OC_Body_Bold();
        font-size: 16px;
        line-height: 18px;
        min-height: 18px;
        color: var(--color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        max-width: 100%;
        margin-top: 16px;
      }

      div.user-info-line {
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        min-height: 18px;
        color: var(--color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        max-width: 100%;
        margin-top: 4px;
      }

      div.user-info-subline {
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        min-height: 18px;
        color: var(--color);
        opacity: 0.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        max-width: 100%;
        margin-top: 4px;

        &.slack-icon {
          &:before {
            display: block;
            content: "";
            float: left;
            width: 12px;
            height: 18px;
            opacity: 0.5;
            background-image: cdnUrl("/img/ML/slack_mention_icon.svg");
            background-size: 12px 12px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 5px;
          }
        }
      }

      button.profile-bt {
        margin: 4px auto 0;
        padding: 0;
        @include OC_Body_Book();
        color: var(--purple-primary-color);
        font-size: 14px;
        line-height: 18px;
        height: 18px;

        @include big_web() {
          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
  }

  div.user-info-buttons {
    height: 30px;
    margin-top: 8px;

    button.follow-button, button.profile-bt {
      float: left;
      width: calc(50% - 4px);
      padding: 6px 0;
      background-color: var(--opac-background-color-08);
      @include OC_Body_Bold();
      color: var(--opac-background-color-72);
      font-size: 14px;
      line-height: 18px;
      border-radius: 4px;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }
    }

    button.posts-bt {
      float: right;
      width: calc(50% - 4px);
      padding: 6px 0;
      background-color: var(--opac-background-color-08);
      @include OC_Body_Bold();
      color: var(--opac-background-color-72);
      font-size: 14px;
      line-height: 18px;
      border-radius: 4px;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

div.board-info-view {
  position: relative;
  width: #{$user_info_width}px;
  height: auto;
  z-index: #{$navbar_zindex - 1};
  text-align: center;
  border: 1px solid var(--divider-line);
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 16px;
  box-shadow: var(--user-info-view-shadow);
  cursor: default;

  div.board-info-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    div.board-info-right {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      max-width: 100%;

      div.board-info-name {
        @include OC_Body_Bold();
        font-size: 16px;
        line-height: 18px;
        min-height: 18px;
        color: var(--color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        max-width: 100%;
      }

      div.board-info-subline {
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        min-height: 18px;
        color: var(--color);
        opacity: 0.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        max-width: 100%;
        margin-top: 4px;
      }
    }
  }

  div.board-info-buttons {
    height: 30px;
    margin-top: 8px;

    button.follow-button {
      float: left;
      width: calc(50% - 4px);
      padding: 6px 0;
      background-color: var(--opac-background-color-08);
      @include OC_Body_Bold();
      color: var(--opac-background-color-72);
      font-size: 14px;
      line-height: 18px;
      border-radius: 4px;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }
    }

    button.posts-bt {
      float: right;
      width: calc(50% - 4px);
      padding: 6px 0;
      background-color: var(--opac-background-color-08);
      @include OC_Body_Bold();
      color: var(--opac-background-color-72);
      font-size: 14px;
      line-height: 18px;
      border-radius: 4px;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}