div.interactions-summary {
  float: left;

  div.is-reactions{
    float: left;
    margin-right: 24px;

    div.is-reactions-reaction {
      float: left;
      font-size: 16px;
    }

    div.is-reactions-summary {
      float: left;
      margin-left: 7px;
      font-size: 14px;
      color: $oc_gray_7;
      @include avenir_R();
    }
  }

  div.is-comments {
    float: left;
    text-align: right;

    div.is-comments-authors {
      float: left;

      &:not(:empty){
        margin-right: 16px;
      }

      div.is-comments-author {
        float: left;
        width: 24px;
        height: 24px;
        border: 2px solid white;
        border-radius: 12px;
        margin-left: -9px;

        img {
          max-width: 22px;
          max-height: 22px;
          margin-top: -6px;
          margin-left: -1px;
        }

        &:first-child {
          margin-left: 0px;
        }
      }
    }

    div.is-comments-summary {
      float: left;
      font-size: 14px;
      color: $oc_gray_7;
      @include avenir_R();
    }
  }
}