div.invite-email-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.invite-email-modal-inner {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.invite-email-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      div.invite-email-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        float: right;
      }
    }

    div.invite-email-body {
      width: 100%;
      margin: 24px auto 0;

      div.invite-token-container {
        margin-top: 24px;

        div.invite-token-title {
          @include OC_Body_Bold();
          font-size: 14px;
          color: var(--color);
          line-height: 18px;
        }

        div.invite-token-description {
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          line-height: 18px;
          margin-top: 8px;

          strong {
            @include OC_Body_Bold();
            font-size: 14px;
            line-height: 18px;
          }
        }

        button.generate-link-bt {
          background-color: $wut_purple;
          height: 32px;
          padding: 7px 16px;
          @include OC_Body_Bold();
          font-size: 14px;
          color: white;
          line-height: 18px;
          margin-top: 16px;
          border-radius: 4px;
        }

        button.deactivate-link-bt {
          color: $carrot_orange;
          @include OC_Body_Book();
          font-size: 14px;
          padding: 0;
          margin: 16px 0 0;
        }

        div.invite-token-field {
          border-radius: 4px;
          width: 100%;
          background-color: var(--opac-background-color-1);
          padding: 0;
          height: 32px;
          margin-top: 8px;

          input.invite-token-field-input {
            background-color: transparent;
            color: var(--color);
            border: none;
            padding: 7px 8px;
            outline: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            @include OC_Body_Book();
            font-size: 14px;
            float: left;
            height: 32px;
            width: calc(100% - 64px);
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          button.invite-token-field-bt {
            background-color: $wut_purple;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            float: right;
            height: 32px;
            width: 64px;
            @include OC_Body_Bold();
            font-size: 14px;
            color: white;
          }
        }
      }

      div.invites-list-container {
        margin-top: 24px;

        &.top-border {
          padding-top: 16px;
          padding-top: 24px;
          border-top: 1px solid var(--divider-line);
        }

        div.invites-list-title {
          @include OC_Body_Bold();
          font-size: 14px;
          color: var(--color);
          letter-spacing: .1px;
        }

        div.invites-list-description {
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          line-height: 18px;
          margin-top: 8px;

          strong {
            @include OC_Body_Bold();
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
}