div.invite-picker-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.invite-picker {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.invite-picker-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      div.invite-picker-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 0 0 16px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        float: right;
      }
    }

    div.invite-picker-body {
      width: 272px;
      margin: 24px auto 0;

      div.invite-picker-body-title {
        @include OC_Body_Bold();
        font-size: 14px;
        line-height: 18px;
        color: var(--color);
      }

      div.invite-picker-body-description {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        line-height: 18px;
        margin-top: 8px;
      }

      & > button {
        color: $carrot_green;
        text-decoration: none;
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        margin-top: 8px;
        padding: 0;
        margin: 8px 0 0;
        display: block;

        &:first-of-type {
          margin: 16px 0 0;
        }
      }

      button.invite-slack-bt {
        span.disabled {
          opacity: 0.5;
        }

        span.enabled {
          margin-left: 6px;
          color: $carrot_green;
        }
      }

      div.email-domain-container {
        border-top: 1px solid var(--divider-line);
        padding-top: 16px;
      }
    }
  }
}