div.invite-email-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.invite-email {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.invite-email-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      div.invite-email-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        float: right;
      }
    }

    div.invite-email-body {
      width: 100%;
      margin: 24px auto 0;

      div.invite-token-container {
        margin-top: 24px;

        div.invite-token-title {
          @include OC_Body_Bold();
          font-size: 14px;
          color: var(--color);
          line-height: 18px;
        }

        div.invite-token-description {
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          line-height: 18px;
          margin-top: 8px;

          strong {
            @include OC_Body_Bold();
            font-size: 14px;
            line-height: 18px;
          }
        }

        button.generate-link-bt {
          background-color: $wut_purple;
          height: 32px;
          padding: 7px 16px;
          @include OC_Body_Bold();
          font-size: 14px;
          color: white;
          line-height: 18px;
          margin-top: 16px;
          border-radius: 4px;
        }

        button.deactivate-link-bt {
          color: $carrot_orange;
          @include OC_Body_Book();
          font-size: 14px;
          padding: 0;
          margin: 16px 0 0;
        }

        div.invite-token-field {
          border-radius: 4px;
          width: 100%;
          background-color: var(--opac-background-color-1);
          padding: 0;
          height: 32px;
          margin-top: 8px;

          input.invite-token-field-input {
            background-color: transparent;
            color: var(--color);
            border: none;
            padding: 7px 8px;
            outline: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            @include OC_Body_Book();
            font-size: 14px;
            float: left;
            height: 32px;
            width: calc(100% - 64px);
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          button.invite-token-field-bt {
            background-color: $wut_purple;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            float: right;
            height: 32px;
            width: 64px;
            @include OC_Body_Bold();
            font-size: 14px;
            color: white;
          }
        }
      }

      div.invites-list {
        margin-top: 24px;

        &.top-border {
          padding-top: 16px;
          padding-top: 24px;
          border-top: 1px solid var(--divider-line);
        }

        div.invites-list-title {
          @include OC_Body_Bold();
          font-size: 14px;
          color: var(--color);
          letter-spacing: .1px;
        }

        div.invites-list-description {
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          line-height: 18px;
          margin-top: 8px;

          strong {
            @include OC_Body_Bold();
            font-size: 14px;
            line-height: 18px;
          }
        }

        div.invites-list-item {
          margin-top: 8px;
          position: relative;

          &:not(:first-child) {
            margin-top: 16px;
          }

          input.org-settings-field:focus {
            background-color: var(--opac-background-color-15);
          }

          input.org-settings-field {
            width: calc(100% - 24px);
            border-radius: 4px;
            background-color: var(--opac-background-color-1);
            border: none;
            outline: none;
            @include OC_Body_Book();
            font-size: 14px;
            color: var(--color);
            border: none;
            outline: none;
            padding: 7px 8px;

            &:focus, &:active {
              border: none;
              outline: none;
            }
          }

          button.remove-user {
            position: absolute;
            top: 16px;
            right: 0;
            width: 24px;
            height: 24px;
            margin-top: 4px;
            padding: 0;
            background-image: cdnUrl("/img/ML/remove_user.svg");
            background-size: 12px 14px;
            background-position: top 5px right 0px;
            background-repeat: no-repeat;
            display: block;
          }

          div.user-type-dropdown {
            width: calc(100% - 24px);

            div.dropdown {
              margin-top: 8px;
              height: 32px;
              text-align: left;
              border-radius: 4px;
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 18px;
              color: var(--color);
              background-color: var(--opac-background-color-1);

              button.user-type-btn {
                width: 100%;
                text-align: left;
                height: 32px;
                padding: 7px 8px;
                @include OC_Body_Book();
                font-size: 14px;
                color: var(--color);
                line-height: 18px;
              }

              ul.user-type-dropdown-menu {
                left: 0px;
                top: 40px;
                width: 100%;

                li {
                  color: var(--color);
                  text-align: left;
                  padding: 7px 12px;
                  @include OC_Body_Book();
                  font-size: 14px;
                  line-height: 18px;
                }
              }
            }
          }

          button.remove-user {
            margin-top: 8px;
            margin-left: 0;
            padding: 0;
            @include OC_Body_Book();
            font-size: 12px;
            color: var(--light-color);
          }
        }
      }

      button.add-button {
        padding: 0 0 0 24px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        line-height: 18px;
        margin-top: 16px;
        position: relative;
        display: block;

        div.add-button-plus {
          width: 16px;
          height: 16px;
          background-image: cdnUrl("/img/ML/invite_add_another_plus.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 1px;
        }
      }

      button.save-bt {
        height: 32px;
        padding: 7px 16px;
        background-color: $wut_purple;
        @include OC_Body_Bold();
        font-size: 14px;
        color: white;
        line-height: 18px;
        float: right;
        border-radius: 4px;
        display: block;
        margin-top: 16px;
        float: left;

        &:disabled {
          opacity: 1 !important;
          background-color: var(--opac-background-color-1);
          color: var(--light-color);
        }
      }
    }
  }
}

@include dark_mode() {
  div.invite-email-modal div.invite-email div.invite-email-body {
    button.add-button div.add-button-plus {
      background-image: cdnUrl("/img/ML/invite_add_another_plus@dark.svg");
    }

    div.invites-list div.invites-list-item button.remove-user {
      background-image: cdnUrl("/img/ML/remove_user@dark.svg");     
    }
  }
}