div.oc-labels {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 6px;
  padding: 16px;
  height: auto;
  min-width: 160px;
  background-color: white;
  box-shadow: var(--box-shadow);

  div.oc-labels-title {
    @include OC_Body_Bold();
    font-size: 14px;
    line-height: 18px;
    color: $deep_navy;
  }

  button.oc-label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 16px;
    margin-top: 12px;
    padding: 0;
    cursor: default;

    &.editable {
      cursor: pointer;

      @include big_web() {
        &:hover span.oc-label-edit-pen {
          display: initial;
        }
      }
    }

    div.carrot-checkbox {
      border: 1px solid #{$deep_navy};
      order: 1;
      margin-right: 8px;

      &.selected {
        border: 1px solid #{$deep_navy};
        background-color: $deep_navy;
      }

      &.disabled {
        border: 1px solid #{$deep_navy};
      }

      &.selected.disabled {
        background-color: #{$deep_navy};
      }
    }

    span.oc-label-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 4px;
      order: 2;
    }

    span.oc-label-name {
      order: 3;
      @include OC_Body_Book();
      font-size: 14px;
      line-height: 16px;
      color: $deep_navy;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 2px;
    }

    span.oc-label-edit-pen {
      width: 16px;
      height: 16px;
      margin-left: 8px;
      order: 4;
      @include svgBgColor("/img/ML/label_edit.svg", center, 12px 12px, $ui_grey);
      @include big_web() {
        display: none;
      }
    }
  }

  div.oc-labels-empty {
    @include OC_Body_Book_Italic();
    font-size: 14px;
    line-height: 18px;
    color: $ui_grey;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
  }

  button.add-label-bt {
    height: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    padding: 0;

    span.add-label-plus {
      width: 16px;
      height: 16px;
      @include svgBgColor("/img/ML/add_label_plus.svg", center, 12px 12px, $ui_grey);
    }

    span.add-label-span {
      margin-left: 8px;
      @include OC_Body_Book();
      font-size: 14px;
      line-height: 16px;
      color: $ui_grey;
    }
  }

  div.oc-labels-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;

    button.cancel-bt {
      @include OC_Body_Book();
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      color: $ui_grey;
      order: 1;
    }

    button.save-bt {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      @include OC_Body_Book();
      line-height: 14px;
      font-size: 14px;
      padding: 8px 12px;
      height: 30px;
      order: 2;
      margin-left: 8px;
    }
  }
}

div.org-labels-manager {
  background-color: #{$carrot_modal_bg};
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: #{$navbar_zindex + 156};

  div.org-labels-manager-inner {
    display: block;
    position: relative;

    button.modal-close-bt {
      position: absolute;
      top: 0;
      left: calc(100% + 16px);
    }
  }
}

div.labels-picker {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: #{$navbar_zindex + 156};

  div.labels-picker-inner {
    display: block;
  }
}

div.oc-label-edit {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 6px;
  padding: 16px;
  height: auto;
  width: 240px;
  background-color: white;
  box-shadow: var(--box-shadow);
  color: $ui_grey;

  div.oc-label-edit-title {
    @include OC_Body_Bold();
    font-size: 14px;
    line-height: 18px;
    color: $deep_navy;
  }

  div.oc-label-edit-name-header, div.oc-label-edit-color-header {
    @include OC_Body_Book();
    font-size: 16px;
    line-height: 16px;
    color: $deep_navy;
    margin-top: 12px;
  }

  & > input.field-value.oc-input {
    margin-top: 8px;
    background-color: #{rgba($deep_navy, 0.1)};
    color: $deep_navy;

    @include placeholder(){
      color: #{rgba($deep_navy,0.25)};
    }

    &:focus, &:active {
      border: 1px solid #{rgba($deep_navy, 0.1)};
    }
  }

  div.oc-label-edit-picker-wrapper {
    position: relative;
    margin-top: 8px;
    width: 100%;
    height: 32px;

    span.oc-label-picker-dot {
      position: absolute;
      top: 8px;
      left: 8px;
      height: 16px;
      width: 16px;
      z-index: 2;
      border-radius: 50%;
      box-shadow: var(--box-shadow);
    }

    input.oc-input.field-value {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 32px;
      z-index: 1;
      padding: 7px 8px 7px 32px;
      margin-top: 0;
      background-color: #{rgba($deep_navy, 0.1)};
      color: $deep_navy;

      @include placeholder(){
        color: #{rgba($deep_navy,0.25)};
      }

      &:focus, &:active {
        border: 1px solid #{rgba($deep_navy, 0.1)};
      }
    }
  }

  div.oc-label-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;

    button.delete-bt {
      @include OC_Body_Book();
      color: #{$carrot_orange};
      font-size: 14px;
      line-height: 16px;
      margin-right: auto;
      padding: 0;
    }

    button.cancel-bt {
      @include OC_Body_Book();
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      color: $deep_navy;
      order: 1;
    }

    button.save-bt {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      @include OC_Body_Book();
      line-height: 14px;
      font-size: 14px;
      padding: 8px 12px;
      height: 30px;
      order: 2;
      margin-left: 8px;
      border-radius: 8px;
    }
  }

  div.color-picker-container {
    position: relative;
    z-index: 4;

    & > div {
      position: absolute;
      top: 4px;
    }
  }
}

div.oc-labels-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 16px;

  div.oc-labels-item {
    margin-right: 4px;
    @include label();
  }
}