div.lazy-stream {
  width: #{$board_container_width}px;
  height: 100%;

  @include mobile() {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  div.lazy-stream-interstitial {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 140px);
    background-image: cdnUrl("/img/ML/interstitial.svg");
    background-size: #{$board_container_width}px 218px;
    background-repeat: repeat-y;
    background-position: 0 0;

    @include mobile() {
      min-height: casl(100vh - #{$mobile_navbar_height}px - 8px);
      background-size: 100% auto;
    }
  }
}