div.lazy-stream {
  width: #{$board_container_width}px;
  height: 100%;

  @include mobile() {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  div.lazy-stream-interstitial {
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
    background-position: 0 0;

    @include big_web() {
      margin-top: 10px;
      min-height: calc(100vh - 140px);
      background-image: cdnUrl("/img/ML/interstitial.svg");
      background-size: #{$board_container_width}px 202px;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/interstitial@dark.svg");
      }

      &.collapsed {
        background-image: cdnUrl("/img/ML/interstitial_collapsed.svg");
        background-size: #{$board_container_width}px 115px;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/interstitial_collapsed@dark.svg");
        }
      }
    }

    @include mobile() {
      margin-top: 0;
      background-image: cdnUrl("/img/ML/interstitial_mobile1.svg");
      min-height: calc(100vh - #{$mobile_navbar_height}px - 8px);
      background-size: 100% auto;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/interstitial_mobile@dark.svg");
      }
    }
  }
}

html:not(.theme-mode-dark) {
  div.preload-interstitial {
    @include big_web() {
      @include preload_image(cdnUrl("/img/ML/interstitial.svg"));
      @include preload_image(cdnUrl("/img/ML/interstitial_collapsed.svg"), "before");
    }

    @include mobile() {
      @include preload_image(cdnUrl("/img/ML/interstitial_mobile1.svg"));
    }
  }  
}

html.theme-mode-dark {
  div.preload-interstitial {
    @include big_web() {
      @include preload_image(cdnUrl("/img/ML/interstitial@dark.svg"));
      @include preload_image(cdnUrl("/img/ML/interstitial_collapsed@dark.svg"), "before");
    }

    @include mobile() {
      @include preload_image(cdnUrl("/img/ML/interstitial_mobile@dark.svg"));
    }
  }  
}
