div.lazy-stream {
  width: #{$board_container_width}px;
  height: 100%;

  @include mobile() {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  div.lazy-stream-interstitial {
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
    background-position: 0 0;

    @include big_web() {
      min-height: calc(100vh - 140px);
      background-image: cdnUrl("/img/ML/interstitial.svg");
      background-size: #{$board_container_width}px #{$foc_height + 1}px;
      border-top: 1px solid var(--divider-line);

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/interstitial@dark.svg");
      }

      &.collapsed {
        margin-top: 10px;
        background-image: cdnUrl("/img/ML/interstitial_collapsed.svg");
        background-size: #{$board_container_width}px #{($collapsed_foc_height * 2) + 3}px;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/interstitial_collapsed@dark.svg");
        }
      }
    }

    @include mobile() {
      margin-top: 0;
      background-image: cdnUrl("/img/ML/interstitial_mobile.svg");
      min-height: calc(100vh - #{$mobile_navbar_height}px - 8px);
      background-size: 100% #{$mobile_foc_height + 1}px;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/interstitial_mobile@dark.svg");
      }
    }
  }
}

html:not(.theme-mode-dark) {
  div.preload-interstitial {
    @include big_web() {
      @include preload_image(cdnUrl("/img/ML/interstitial.svg"));
      @include preload_image(cdnUrl("/img/ML/interstitial_collapsed.svg"), "before");
    }

    @include mobile() {
      @include preload_image(cdnUrl("/img/ML/interstitial_mobile.svg"));
    }
  }  
}

html.theme-mode-dark {
  div.preload-interstitial {
    @include big_web() {
      @include preload_image(cdnUrl("/img/ML/interstitial@dark.svg"));
      @include preload_image(cdnUrl("/img/ML/interstitial_collapsed@dark.svg"), "before");
    }

    @include mobile() {
      @include preload_image(cdnUrl("/img/ML/interstitial_mobile@dark.svg"));
    }
  }  
}
