body.animating div.list-companies div.page {
  position: absolute;
  width: 100vw;
  top: 0px;

  div.navbar-offset {
    top: #{$navbar_height}px;
    position: absolute;
  }
}

div.list-companies {

  div.navbar-offset {
    padding-top: 50px;

    ul.companies {
      list-style-type: none;

      li {
        float: left;
        width: 250px;
        height: 50px;
        margin: 10px 10px 10px 0;
        border: 1px solid rgba(78, 90, 107, 0.5);
        box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;

        a {
          color: $oc_gray_5;
          padding: 15px;
          display: inline-block;
          width: 100%;

          img.company-logo{
            min-width: 20px;
            max-width: 65px;
            height: 20px;
            float: left;
            margin-left: 10px;
            // margin-top: 15px;
          }

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}