body {
  div.list-boards {
    div.navbar-offset {
      min-height: calc(100vh - #{$footer_small_height}px + 1px);
    }
  }
}

div.list-boards {

  div.navbar-offset {
    padding-top: #{$navbar_height}px;
    min-height: calc(100vh - #{$navbar_height}px - #{$footer_height}px);

    ul.boards {
      list-style-type: none;
      margin-top: 20px;

      @include mobile(){
        padding: 0px 20px;
      }

      li {
        float: left;
        width: 380px;
        height: 50px;
        margin: 10px 10px 10px 0;
        border: 1px solid rgba(78, 90, 107, 0.5);
        box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;

        @include mobile() {
          width: 100%;
        }

        a {
          color: $oc_gray_5;
          padding: 15px;
          display: inline-block;
          width: 100%;

          img.board-logo{
            min-width: 20px;
            max-width: 65px;
            height: 20px;
            float: left;
            margin-left: 10px;
          }

          span.board-logo{
            font-size: 24px;
            line-height: 0.7;
          }

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}