div.oc-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  // min-height: 1000px;
  z-index: 1031;

  &.active {
    display: inline;
  }

  div.oc-loading-internal {
    background: url("/img/loading.gif") no-repeat;
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;

    @include image-2x("/img/loading@2x.gif", 64px, 64px);
  }
}