div.oc-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background-color: $oc_gray_8;
  z-index: #{$navbar_zindex + 3001};

  &.active {
    display: inline;
  }

  div.balloon {
    display: none;
  }

  div.setup-cta {
    display: none;
  }

  &.setup-screen {
    background-color: $carrot_text_blue;
    width: 100vw;
    height: 100vh;
    text-align: center;
    @include avenir_H();
    font-size: 25px;
    color: white;

    div.setup-cta {
      position: relative;
      top: 50%;
      padding-top: 55px;
      display: block;
    }

    div.balloon {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
      display: block;

      // Top left corner
      &.big-yellow {
        @include image-2x("/img/ML/balloon_big_yellow");
        background-size: 172px 172px;
        width: 172px;
        height: 172px;
        left: -57px;
        top: -37px;
      }

      &.small-face-purple {
        @include image-2x("/img/ML/balloon_small_purple_face");
        background-size: 48px 48px;
        width: 48px;
        height: 48px;
        left: 9.68%;
        top: 11.87%;

        @include mobile(){
          left: 124px;
        }
      }

      &.small-red {
        @include image-2x("/img/ML/balloon_small_red_1");
        background-size: 17px 15px;
        width: 17px;
        height: 15px;
        left: 13.43%;
        top: 8.00%;

        @include mobile(){
          left: 172px;
        }
      }

      // Top right corner
      &.big-red {
        @include image-2x("/img/ML/setup_screen_balloon_big_red");
        background-size: 241px 223px;
        width: 241px;
        height: 223px;
        left: 65.31%;
        top: 4.00%;

        @include mobile(){
          display: none;
        }
      }

      &.small-face-yellow {
        @include image-2x("/img/ML/balloon_small_yellow_face");
        background-size: 48px 48px;
        width: 48px;
        height: 48px;
        left: 77.96%;
        top: 27.37%;

        @include mobile(){
          display: none;
        }
      }

      &.small-yellow {
        @include image-2x("/img/ML/balloon_small_yellow");
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        left: 86.01%;
        top: 25.50%;

        @include mobile(){
          display: none;
        }
      }

      // Bottom left corner

      &.big-green {
        @include image-2x("/img/ML/setup_screen_balloon_big_green");
        background-size: 111px 95px;
        width: 111px;
        height: 95px;
        left: 21.72%;
        top: 67.12%;

        @include mobile(){
          top: unset;
          bottom: -35px;
          left: unset;
          right: 40px;
        }
      }

      &.small-purple {
        @include image-2x("/img/ML/balloon_small_purple");
        background-size: 23px 21px;
        width: 23px;
        height: 21px;
        left: 27.65%;
        top: 63.5%;

        @include mobile(){
          top: unset;
          bottom: 69px;
          left: unset;
          right: 40px;
        }
      }

      // Bottom right corner
      &.big-purple {
        @include image-2x("/img/ML/setup_screen_balloon_big_purple");
        background-size: 203px 205px;
        width: 203px;
        height: 205px;
        right: 0px;
        bottom: 0px;

        @include mobile(){
          display: none;
        }
      }
    }
  }

  div.oc-loading-inner {
    position: relative;
    width: 52px;
    height: 96px;
    top: 50%;
    left: 50%;
    margin-left: -26px;
    margin-top: -48px;

    div.oc-loading-body {
      background-image: cdnUrl("/img/ML/carrot_loading_body.svg");
      background-position: 52px 74px;
      width: 52px;
      height: 74px;
      position: absolute;
      top: 22px;
      left: 0px;
    }

    div.oc-loading-heart {
      background-image: cdnUrl("/img/ML/carrot_loading_heart.svg");
      background-position: 23px 23px;
      width: 23px;
      height: 23px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  &.active div.oc-loading-inner {
    -webkit-animation: -webkit-loading-frames 3.2s linear 1.0s;
    -webkit-animation-iteration-count: infinite;
    animation: loading-frames 3.2s linear 1.0s;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes -webkit-loading-frames {
  10% {
    -webkit-transform:scale(1);
  }
  15%{
    -webkit-transform:scale(1.2);
  }
  20%{
    -webkit-transform:scale(1.2) rotate(30deg);
  }
  25%{
    -webkit-transform:scale(1.2) rotate(0deg);

  }
  30%{
    -webkit-transform:scale(1.2) rotate(30deg);

  }
  35%{
    -webkit-transform:scale(1.2) rotate(0deg);
  }
  40%{
    -webkit-transform:scale(1) rotate(0deg);
  }
}

@keyframes loading-frames {
  10% {
    transform:scale(1);
  }
  15%{
    transform:scale(1.2);
  }
  20%{
    transform:scale(1.2) rotate(30deg);
  }
  25%{
    transform:scale(1.2) rotate(0deg);

  }
  30%{
    transform:scale(1.2) rotate(30deg);

  }
  35%{
    transform:scale(1.2) rotate(0deg);
  }
  40%{
    transform:scale(1) rotate(0deg);
  }
}