div.oc-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background-color: $oc_gray_8;
  z-index: #{$navbar_zindex + 1};

  &.active {
    display: inline;
  }

  div.oc-loading-inner {
    position: relative;
    width: 52px;
    height: 96px;
    top: 50%;
    left: 50%;
    margin-left: -26px;
    margin-top: -48px;

    div.oc-loading-body {
      background-image: url("/img/ML/carrot_loading_body.svg");
      background-position: 52px 74px;
      width: 52px;
      height: 74px;
      position: absolute;
      top: 22px;
      left: 0px;
    }

    div.oc-loading-heart {
      background-image: url("/img/ML/carrot_loading_heart.svg");
      background-position: 23px 23px;
      width: 23px;
      height: 23px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  &.active div.oc-loading-inner div.oc-loading-heart {
    -webkit-animation: heart-frames 2s linear;
    -webkit-animation-iteration-count: infinite;
  }

  &.active div.oc-loading-inner div.oc-loading-body {
    -webkit-animation: body-frames 2s linear;
    -webkit-animation-iteration-count: infinite;
  }
}

@-webkit-keyframes heart-frames {
  0%{
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    transform:scale(0);
    opacity:0;
  }
  15%{
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    transform:scale(1.3);
    opacity:0.4;
  }
  26%{
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.7;
  }
  43%{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    transform:scale(1);
    opacity:1;
  }
  57%{
    opacity: 1;
  }
  71.5%{
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateY(90deg);
    transform:rotateY(90deg);
  }
  85%{
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    transform:rotateY(0deg);
    opacity: 1;
}
  100%{
    opacity: 1;
  }
}

@-webkit-keyframes body-frames {
  0%{
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    transform:scale(0);
    opacity:0;}
  15%{
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    transform:scale(1.3);
    opacity:0.4;
  }
  26%{
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.7;}
  43%{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    transform:scale(1);
    opacity:1;
  }
  57%{
    opacity: 1;
  }
  71.5%{
    opacity: 1;
  }
  85%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}