div.login-overlay-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: #{$navbar_zindex + 50};
  padding: 0px;
  opacity: 1;
  transition: 230ms;
  background-color: $carrot_modal_bg;

  @include mobile{
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto;
    position: relative;
    background-color: white;
  }

  button.carrot-modal-close {
    position: absolute;
    left: 50%;
    margin-left: -282px;
    top: 90px;
    
    @include mobile(){
      top: 20px;
      left: 30px;
      z-index: 99;
    }
  }

  div.login-overlay {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 0px;
    margin-left: -250px;
    margin-top: 5%;
    background-color: #FCFCFC;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 0px 0px 0px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;

    @include mobile{
      position: relative;
      margin-top: 0px;
      margin-left: 0px;
      width: 100%;
      height: auto;
      min-height: 100%;
      left: 0px;
      top: 0px;
      overflow: auto;
      box-shadow: none;
    }

    a.red {
      &:hover {
        color: $oc_red;
      }
    }

    div.login-overlay-cta {
      padding: 1.5rem 2rem;
      border-bottom: solid 1px rgba(78, 90, 107, 0.1);

      div.sign-in-cta {
        @include avenir_H();
        font-size: 24px;
        line-height: 1.2;
        color: $oc_gray_7;
        letter-spacing: 1;
        text-transform: none;
      }
    }

    hr.divider {
      height: 1px;
    }

    &.login-with-slack {
      div.login-with-email {
        margin-top: 13px;
        margin-bottom: 77px;

        a {
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $carrot_text_blue;
          @include avenir_H();
        }
      }
    }

    &.login-with-email, &.signup-with-email, &.password-reset, &.collect-name-pswd, &.collect-pswd {

      div.sign-in-label-container {
        margin-top: 20px;

        label.sign-in-label {
          margin: 0px;
          padding: 0px;
          @include avenir_H();
          font-size: 14px;
          color: $oc_gray_7;
        }
      }

      div.sign-in-field-container {
        margin-top: 7px;

        input {
          width: 100%;
          height: 40px;
          border-radius: 4px;
          background-color: white;
          border: 1px solid rgba($carrot_light_gray_1, 0.5);
          outline: none;
          padding: 10px 16px;
          position: relative;
          @include avenir_R();
          font-size: 16px;
          color: $carrot_dark_gray;

          @include placeholder() {
            @include avenir_R();
            font-size: 16px;
            color: $carrot_light_gray;
          }

          &:invalid {
            border: 1px solid rgba($carrot_orange, 0.4);
          }

          &.half{
            width: 49%;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      div.forgot-password {
        margin-top: 4px;
        a {
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $carrot_text_blue;
          @include avenir_H();
          text-decoration: underline;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.password-reset {
      div.password-reset-cta {
        font-size: 20px;
        line-height: 1.2;
        color: $carrot_text_blue;
        @include avenir_H();
        font-weight: 400;
      }

      div.password-reset-label-container {
        margin-top: 20px;

        label.password-reset-label {
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_7;
          @include avenir_R();
          margin: 0px;
          padding: 0px;
        }
      }
    }

    div.login-overlay-content {
      div.slack-disclaimer {
        font-size: 14px;
        color: $oc_gray_7;
        @include avenir_M();
        letter-spacing: 0.4px;
        text-align: center;
        padding: 20px 20px 0;
      }
    }

    button.login-button {
      margin-top: 37px;
    }

    div.login-overlay-footer {
      background-color: $carrot_light_gray_2;
      position: relative;
      width: 100%;
      bottom: 0px;
      padding: 16px 32px;
      margin-top: 16px;

      @include mobile(){
        position: relative;
        background-color: white;
      }

      a {
        color: $carrot_light_gray;
        @include avenir_H();
        font-size: 14px;

        span.blue-link {
          color: $carrot_text_blue;
        }

        &:hover span.underline, span.underline:hover {
          text-decoration: underline;
        }
      }
    }
  }
}