div.login-button-container {
  width: auto;
  display: block;
  height: 32px;
  text-align: left;

  span.or {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    display: inline-block;
  }

  a.login-bt {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 32px;
    @include OC_Body_Book();
    font-size: 14px;
    color: $wut_purple;
    text-decoration: none;
  }

  a.signup-bt {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 32px;
    @include OC_Body_Book();
    font-size: 14px;
    color: $wut_purple;
    text-decoration: none;
  }
}