div.login-wall-container {
  background-color: $grey_num_2;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.16);
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  min-height: 100vh;

  -webkit-app-region: drag;
  -webkit-user-select: none;

  header.login-wall-header {
    position: fixed;
    top: 0;
    left: 0;
    height: #{$navbar_height}px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    border-bottom: 0.5px solid var(--opac-background-color-24);
    padding: 18px 24px;
    background-color: $grey_num_2;
    display: inline-block;
    text-align: center;
    z-index: 2;

    button.top-back-button {
      display: block;
      width: auto;
      height: 20px;
      background-position: top 6px left 0;
      background-repeat: no-repeat;
      background-image: cdnUrl("/img/ML/black_back_arrow.svg");
      background-size: 14px 10px;
      padding-left: 22px;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 20px;
      color: var(--color);
      position: absolute;
      left: 24px;
      top: 18px;
    }

    button.right-bt {
      float: right;
      padding: 0;
    }

    div.title {
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      color: $deep_navy;

      @include mobile() {
        margin-top: 0px;
        padding-top: 61px;
        font-size: 30px;
        margin: 0 auto;
      }
    }

    button.top-continue {
      padding: 0;
      position: absolute;
      right: 24px;
      top: 18px;
      height: 20px;
      width: auto;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 20px;
      color: $wut_purple;

      &.disabled, &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }

    button.continue {
      margin-top: 32px;
      width: 100%;
      height: 40px;
      background-color: $wut_purple;
      color: white;
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      padding: 10px 24px;
      border-radius: 6px;
      outline: none;
      border: none;
      max-width: 320px;

      @include mobile() {
        max-width: initial;
      }

      &.disabled, &:disabled {
        background-color: $light_ui_grey;
        opacity: 1 !important;
        cursor: not-allowed;
      }
    }

    @include mobile() {
      z-index: 1031;
      left: 0;
      margin-left: 0;
      position: absolute;

      button.top-back-button {
        top: 16px;
        left: 16px;
      }

      button.top-continue {
        display: block;
        float: right;
        @include OC_Body_Bold();
        font-size: 15px;
        height: 32px;
        width: 66px;
        padding: 0px;
        position: absolute;
        top: 12px;
        right: 24px;
        color: $wut_purple;
        text-align: right;

        &.disabled, &:disabled {
          color: $light_ui_grey;
          opacity: 0;
        }
      }
    }
  }

  div.login-wall-wrapper {

    @include mobile(){
      display: block;
      width: 100%;
    }

    div.login-wall-internal {
      width: 400px;
      margin: 104px auto 32px;
      text-align: center;
      border: 1px solid #DCDDE1;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      background-color: white;
      padding: 40px;

      div.login-wall-content {
        width: 320px;
        margin: 0 auto;
        text-align: center;

        @include mobile() {
          width: 100%;
          padding: 0 16px;
          margin: 0 auto;
        }

        div.login-description {
          @include OC_Body_Bold();
          font-size: 16px;
          color: $deep_navy;
          margin-top: 16px;
        }

        div.login-overlay-cta {
          text-align: center;

          div.login-title {
            @include OC_Body_Bold();
            font-size: 22px;
            color: $deep_navy;
            line-height: 28px;
            text-align: center;
          }
        }

        button.signup-with-slack {
          float: left;
        }

        button.signup-with-google {
          float: right;
        }

        button.signup-with-slack, button.signup-with-google {
          margin-top: 16px;
          width: calc(50% - 8px);
          height: 40px;
          background-color: rgba($deep_navy, 0.1);
          color: $deep_navy;
          border-radius: 6px;
          text-align: center;
          position: relative;
          opacity: 1;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          @include big_web() {
            &:hover {
              opacity: 0.9;
            }
          }

          div.slack-text, div.google-text {
            @include OC_Body_Book();
            font-size: 14px;
            color: $deep_navy;
            line-height: 20px;
          }

          div.slack-icon {
            width: 20px;
            height: 20px;
            background-image: cdnUrl("/img/ML/slack_normal.svg");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            margin-right: 8px;
          }

          div.google-icon {
            width: 20px;
            height: 20px;
            background-image: cdnUrl("/img/ML/google_signin.svg");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            margin-right: 8px;
          }

          @include mobile() {
            width: 100%;
          }
        }

        div.or-login {
          width: 100%;
          height: 20px;
          margin-top: 24px;
          position: relative;

          div.or-login-copy {
            text-align: center;
            @include OC_Body_Book();
            font-size: 16px;
            line-height: 20px;
            color: rgba($deep_navy, 0.5);
            margin: 0 auto;
          }
        }

        div.fields-container {
          width: 320px;
          margin: 16px auto 0px;
          text-align: left;

          @include mobile() {
            width: 100%;
          }

          div.field-label {
            @include OC_Body_Book();
            font-size: 12px;
            line-height: 15px;
            color: $deep_navy;
            margin-top: 16px;
            text-align: left;
          }

          input.field-content {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            background-color: rgba($deep_navy, 0.08);
            border: 1px solid transparent;
            outline: none;
            padding: 11px 12px;
            position: relative;
            @include OC_Body_Book();
            font-size: 14px;
            color: $deep_navy;
            line-height: 18px;
            margin-top: 8px;

            @include placeholder() {
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 18px;
              color: rgba($deep_navy, 0.5);
            }

            &.error {
              border: 1px solid rgba($carrot_orange, 0.5);
            }

            &.valid {
              border: 1px solid rgba($wut_purple, 0.5);
            }

            -webkit-app-region: no-drag;
          }

          div.forgot-password {
            margin-top: 8px;
            float: right;
            height: 15px;

            a {
              @include OC_Body_Book();
              padding: 0;
              margin: 0;
              font-size: 12px;
              line-height: 15px;
              color: rgba($deep_navy, 0.5);
              text-decoration: none;
              vertical-align: super;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        button.continue-btn {
          margin-top: 39px;
          outline: none;
          border: none;
          width: 100%;
          height: 40px;
          background-color: $wut_purple;
          color: white;
          @include OC_Body_Bold();
          font-size: 16px;
          line-height: 20px;
          padding: 10px 24px;
          border-radius: 6px;

          &.disabled, &:disabled {
            background-color: $light_ui_grey;
            color: white;
            opacity: 1 !important;
          }
        }
      }
    }

    div.footer-link {
      margin-top: 40px;
      @include OC_Body_Book();
      font-size: 14px;
      color: $ui_grey;
      line-height: 18px;
      text-align: center;

      a {
        @include OC_Body_Book();
        font-size: 14px;
        color: blue;
        text-decoration: underline;
        line-height: 18px;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}