button.login-button {
  width: 160px;
  height: 30px;
  background-color: white;
  border: solid 1px rgba(78, 90, 107, 0.5);
  opacity: 0.5;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $oc_gray_5;
  text-transform: uppercase;
  outline: none;
}