div.login-button{
  button.signup-signin, span.signup-signin {
    opacity: 0.4;
    color: $oc_gray_5;
    font-family: $oc_headers_font;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 0px;
    margin-top: 15px;

    &:hover {
      opacity: 0.6;
    }
  }
}

div.get-started-button {
  button.mlb-get-started {
    width: 109px;
    height: 32px;
    border-radius: 6px;
    background-color: $cr_text_blue;
    font-family: $oc_main_font;
    font-size: 13px;
    font-weight: 900;
    color: white;
  }
}