div.login-overlay-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 0px;
  opacity: 1;
  transition: 230ms;
  background-color: rgba(77, 89, 106, 0.3);

  @include mobile{
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto;
    position: relative;
    background-color: white;
  }

  button.close {
    position: absolute;
    left: 50%;
    margin-left: 250px;
    top: 65px;
    width: 30px;
    height: 30px;
    outline: none;
    font-size: 25px;
    color: white;
    opacity: 1;
    font-family: $oc_headers_font;
    font-weight: 400;

    @include mobile(){
      top: 20px;
      left: 30px;
      z-index: 100;
      color: $oc_gray_5;
    }

    &:active, &:hover {
      outline: none;
    }
  }

  div.login-overlay {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 0px;
    margin-left: -250px;
    margin-top: 5%;
    background-color: #FCFCFC;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
    border-radius: 2px;
    padding: 0px 0px 0px;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;

    @include mobile{
      position: relative;
      margin-top: 0px;
      margin-left: 0px;
      width: 100%;
      height: auto;
      min-height: 100%;
      left: 0px;
      top: 0px;
      overflow: auto;
      box-shadow: none;
    }

    a.red {
      &:hover {
        color: $oc_red;
      }
    }

    div.login-overlay-cta {
      padding: 1.5rem 2rem;
      border-bottom: solid 1px rgba(78, 90, 107, 0.1);

      div.sign-in-cta {
        font-weight: 500;
        font-family: $oc_main_font;
        font-size: 24px;
        line-height: 1.2;
        color: $oc_gray_5;
        letter-spacing: 1;
        text-transform: none;
      }
    }

    hr.divider {
      height: 1px;
    }

    &.login-with-slack {
      div.login-with-email {
        margin-top: 13px;
        margin-bottom: 77px;

        a {
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          opacity: 0.5;
        }
      }
    }

    &.login-with-email, &.signup-with-email, &.password-reset, &.collect-name-pswd {

      div.sign-in-label-container {
        margin-top: 20px;

        label.sign-in-label {
          font-size: 12px;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          font-family: $oc_headers_font;
          margin: 0px;
          padding: 0px;
        }
      }

      div.sign-in-field-container {
        margin-top: 7px;

        input {
          width: 100%;
          height: 34px;
          margin: 0px;
          padding: .5rem;
          background-color: white;
          border: 1px solid rgba(78, 90, 107, 0.1);
          border-radius: 2px;
          font-size: 14px;
          line-height: 1.2;
          color: #4E5A6B;
          font-family: $oc_main_font;
          font-weight: 400;

          &:invalid {
            border: 1px solid rgba(215,42,70,0.3);
          }

          &.half{
            width: 49%;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      div.forgot-password {
        margin-top: 4px;
        a {
          opacity: 0.5;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          font-weight: 700;
          color: $oc_gray_5;
          font-family: $oc_headers_font;
          text-decoration: underline;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.password-reset {
      div.password-reset-cta {
        font-size: 20px;
        line-height: 1.2;
        color: $oc_gray_5;
        font-family: $oc_headers_font;
        font-weight: 400;
      }

      div.password-reset-label-container {
        margin-top: 20px;

        label.password-reset-label {
          font-size: 12px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          font-family: $oc_headers_font;
          margin: 0px;
          padding: 0px;
        }
      }

      div.password-reset-field-container {
        margin-top: 7px;

        input {
          width: 100%;
          height: 40px;
          margin: 0px;
          padding: 0px;
        }
      }
    }

    button.login-button {
      margin-top: 50px;
    }

    div.login-overlay-footer {
      background-color: rgba(78, 90, 107, 0.1);
      position: relative;
      width: 100%;
      bottom: 0px;

      @include mobile(){
        position: relative;
        background-color: white;
      }

      a {
        color: $oc_gray_5;
        font-family: $oc_headers_font;
        font-weight: 700;
        opacity: 0.5;
        font-size: 12px;

        &:hover span.underline, span.underline:hover {
          text-decoration: underline;
        }
      }
    }
  }
}