div.login-overlay-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: #{$navbar_zindex + 50};
  padding: 0px;
  opacity: 1;
  transition: 230ms;
  background-color: $carrot_modal_bg;

  @include mobile{
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto;
    position: relative;
    background-color: white;
  }

  button.carrot-modal-close {
    position: absolute;
    left: 50%;
    margin-left: -282px;
    top: 90px;

    @include mobile(){
      top: 20px;
      left: 30px;
      z-index: 99;
    }
  }

  div.login-overlay {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 0px;
    margin-left: -250px;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 40px 80px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;

    @include mobile{
      position: relative;
      margin-top: 0px;
      margin-left: 0px;
      width: 100%;
      height: auto;
      min-height: 100%;
      left: 0px;
      top: 0px;
      overflow: auto;
      box-shadow: none;
      padding: 40px 16px;
    }

    a.red {
      &:hover {
        color: $oc_red;
      }
    }

    div.login-overlay-cta {
      text-align: center;

      div.sign-in-cta {
        @include avenir_H();
        font-size: 32px;
        color: $carrot_dark_brown_1;
        text-transform: none;
      }
    }

    button.signin-with-slack {
      width: 340px;
      height: 48px;
      margin-top: 52px;
      background-color: rgba($carrot_text_blue, 0.1);
      border-radius: 100px;
      text-align: center;

      div.signin-with-slack-content {
        @include avenir_H();
        font-size: 18px;
        color: $carrot_text_blue;
        width: 180px;
        margin: 4px auto 0px;

        div.slack-blue-icon {
          width: 70px;
          height: 21px;
          @include image-2x("/img/ML/slack_blue_icon");
          background-repeat: no-repeat;
          background-size: 70px 21px;
          float: right;
        }
      }

      @include mobile() {
        width: 100%;
      }
    }

    div.or-with-email {
      width: 100%;
      height: 19px;
      margin-top: 36px;
      position: relative;

      div.or-with-email-line {
        position: absolute;
        height: 1px;
        background-color: $carrot_dark_bg_gray;
        width: 340px;
        top: 9px;
        left: 0px;
        display: block;

        @include mobile() {
          display: none;
        }
      }

      div.or-with-email-copy {
        position: absolute;
        top: 0px;
        left: 71px;
        text-align: center;
        @include avenir_H();
        font-size: 16px;
        color: rgba($oc_gray_7, 0.7);
        margin: 0 auto;
        width: 196px;
        background-color: white;

        @include mobile() {
          left: unset;
          position: relative;
        }
      }
    }

    &.login-with-email, &.signup-with-email, &.password-reset, &.collect-name-pswd, &.collect-pswd {

      div.sign-in-label-container {
        margin-top: 36px;

        label.sign-in-label {
          margin: 0px;
          padding: 0px;
          @include avenir_H();
          font-size: 15px;
          color: #8C9096;
        }
      }

      div.sign-in-field-container {

        input {
          width: 100%;
          height: 40px;
          border-radius: 4px;
          background-color: white;
          border: 1px solid rgba($carrot_light_gray_1, 0.5);
          outline: none;
          padding: 10px 16px;
          position: relative;
          @include avenir_BOOK();
          font-size: 16px;
          color: $oc_gray_7;
          line-height: 24px;
          letter-spacing: 0.2px;
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
          margin-top: 4px;

          @include placeholder() {
            @include avenir_R();
            font-size: 16px;
            color: $carrot_light_gray;
          }

          &.error, &:invalid {
            border: 1px solid rgba($carrot_orange, 0.5);
          }

          &.half{
            width: 49%;
          }
        }

        div.forgot-password {
          margin-top: 4px;
          float: right;

          a {
            @include avenir_R();
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $oc_gray_7;
            @include avenir_H();
            text-decoration: underline;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      button {
        width: 100%;
        text-align: center;
        margin-top: 32px;
      }

      button.continue {
        margin-top: 35px;
        outline: none;
        border: none;
        width: 100%;
        height: 48px;
        background-color: #4D67FC;
        color: white;
        @include avenir_H();
        font-size: 16px;
        border-radius: 100px;

        &.disabled {
          opacity: 0.8;
        }
      }

      div.footer-link {
        margin-top: 20px;
        @include avenir_R();
        font-size: 14px;
        color: $oc_gray_7;
        text-align: center;

        a {
          display: block;
          @include avenir_H();
          font-size: 16px;
          color: $oc_gray_7;
          text-decoration: underline;
        }
      }
    }

    &.password-reset {
      div.password-reset-cta {
        font-size: 20px;
        line-height: 1.2;
        color: $carrot_text_blue;
        @include avenir_H();
        font-weight: 400;
      }

      div.password-reset-label-container {
        margin-top: 20px;

        label.password-reset-label {
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_7;
          @include avenir_R();
          margin: 0px;
          padding: 0px;
        }
      }
    }

    div.login-overlay-content {
      div.slack-disclaimer {
        font-size: 14px;
        color: $oc_gray_7;
        @include avenir_M();
        letter-spacing: 0.4px;
        text-align: center;
        padding: 20px 20px 0;
      }
    }

    button.login-button {
      margin-top: 37px;
    }

    div.login-overlay-footer {
      background-color: $carrot_light_gray_2;
      position: relative;
      width: 100%;
      bottom: 0px;
      padding: 16px 32px;
      margin-top: 16px;

      @include mobile(){
        position: relative;
        background-color: white;
      }

      a {
        color: $carrot_light_gray;
        @include avenir_H();
        font-size: 14px;

        span.blue-link {
          color: $carrot_text_blue;
        }

        &:hover span.underline, span.underline:hover {
          text-decoration: underline;
        }
      }
    }
  }
}