div.login-required {
  background-color: #fff;

  div.welcome {
    margin-top: 80px;

    p.login-rquired-cta {
      font-size: 26px;
      line-height: 1.4;
      color: $oc_gray_5;
    }

    div.logo-container {
      margin-top: 55px;

      img.logo-gold {
        width: 130px;
        height: 180px;
      }

      div.logo-cta {
        font-size: 18px;
        line-height: 1.8;
        text-align: center;
        color: $oc_gray_5;
        max-width: 400px;
        margin: 32px auto;
      }
    }

    button.logout {
      opacity: 0.4;
      color: $oc_gray_5;
      @include avenir_H();
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 12px;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}