div.login-wall-container {

  div.login-wall-wrapper {
    min-height: 100vh;
    width: 720px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.16);

    -webkit-app-region: drag;
    -webkit-user-select: none;

    div.bottom-gradient {
      width: 944px;
      height: 27vh;
      max-height: 220px;
      margin-left: -112px;
      margin-top: -50px;
      background: linear-gradient(-180deg, rgba(251, 250, 249, 0) 0%, rgb(251, 250, 249) 100%);
      display: block;
      position: fixed;
      bottom: 0;
      pointer-events: none;

      @include mobile() {
        display: none;
      }

      div.login-box {
        background-image: cdnUrl("/img/ML/wut_onboard_box.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 229px 234px;
        width: 229px;
        height: 234px;
        position: absolute;
        right: 6px;
        bottom: 0;
      }
    }

    @include mobile(){
      display: block;
      width: 100%;
    }

    div.login-wall-internal {
      text-align: center;
      padding-bottom: 27vh;
      position: relative;

      @include mobile() {
        width: 100%;
        box-shadow: unset;
        margin: 0;
        flex: unset;
        width: 100%;
        position: unset;
        padding-bottom: 32px;
        min-height: unset;
      }

      a.login-wall-back-arrow {
        display: block;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba($deep_navy, 0.1);
        background-image: cdnUrl("/img/ML/expanded_post_back_arrow.svg");
        background-size: 14px 10px;
        border-radius: 4px;
        position: absolute;
        top: 24px;
        left: 24px;

        @include mobile() {
          top: 16px;
          left: 16px;
        }
      }

      div.login-wall-content {
        width: 320px;
        margin: 0 auto;
        text-align: center;

        @include mobile() {
          width: 100%;
          padding: 0 16px;
          margin: 0 auto;
        }

        div.login-description {
          @include OC_Body_Bold();
          font-size: 16px;
          color: $deep_navy;
          margin-top: 16px;
        }

        div.login-overlay-cta {
          text-align: center;

          div.login-title {
            padding-top: 64px;
            @include OC_Body_Bold();
            font-size: 32px;
            color: $deep_navy;
            line-height: 41px;
            text-transform: none;

            @include mobile() {
              font-size: 30px;
              padding-top: 61px;
            }
          }

          button.top-back-button {
            display: none;

            @include mobile(){
              display: block;
              width: 32px;
              height: 32px;
              background-position: center;
              background-repeat: no-repeat;
              background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
              background-size: 12px 12px;
              background-color: $ultra_light_grey;
              border-radius: 4px;
              position: absolute;
              top: 16px;
              left: 16px;
            }
          }
        }

        button.signup-with-slack {
          margin-top: 40px;
        }

        button.signup-with-google {
          margin-top: 8px;

          @include mobile() {
            margin-top: 8px;
          }
        }

        button.signup-with-slack, button.signup-with-google {
          width: 320px;
          height: 40px;
          background-color: rgba($deep_navy, 0.1);
          color: $deep_navy;
          border-radius: 6px;
          text-align: center;
          @include OC_Body_Bold();
          font-size: 14px;
          line-height: 18px;
          position: relative;
          opacity: 1;

          @include big_web() {
            &:hover {
              opacity: 0.9;
            }
          }

          div.slack-icon {
            position: absolute;
            top: 10px;
            left: 16px;
            width: 20px;
            height: 20px;
            background-image: cdnUrl("/img/ML/slack_normal.svg");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            float: left;
            margin-right: 16px;
          }

          div.google-icon {
            position: absolute;
            top: 10px;
            left: 16px;
            width: 20px;
            height: 20px;
            background-image: cdnUrl("/img/ML/google_signin.svg");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            float: left;
            margin-right: 16px;
          }

          @include mobile() {
            width: 100%;
          }
        }

        div.or-login {
          width: 100%;
          height: 18px;
          margin-top: 24px;
          position: relative;

          div.or-login-copy {
            text-align: center;
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 18px;
            color: rgba($deep_navy, 0.5);
            margin: 0 auto;
          }
        }

        div.fields-container {
          width: 320px;
          margin: 16px auto 0px;
          text-align: left;

          @include mobile() {
            width: 100%;
          }

          div.field-label {
            @include OC_Body_Book();
            font-size: 14px;
            line-height: 20px;
            color: $deep_navy;
            margin-top: 16px;
            margin-bottom: 0;
          }

          input.field-content {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            background-color: rgba($deep_navy, 0.1);
            border: 1px solid transparent;
            border: none;
            outline: none;
            padding: 11px 16px;
            position: relative;
            @include OC_Body_Book();
            font-size: 14px;
            color: $deep_navy;
            line-height: 18px;
            margin-top: 8px;

            @include placeholder() {
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 18px;
              color: rgba($deep_navy, 0.5);
            }

            &.error {
              border: 1px solid rgba($carrot_orange, 0.5);
            }

            &.half {
              width: 49%;
            }

            -webkit-app-region: no-drag;
          }

          div.forgot-password {
            margin-top: 16px;
            float: right;
            height: 15px;

            a {
              @include OC_Body_Book();
              padding: 0;
              margin: 0;
              font-size: 12px;
              line-height: 15px;
              color: rgba($deep_navy, 0.5);
              text-decoration: none;
              vertical-align: super;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        button.continue-btn {
          margin-top: 39px;
          outline: none;
          border: none;
          width: 100%;
          height: 40px;
          background-color: $carrot_orange;
          color: white;
          @include OC_Body_Bold();
          font-size: 16px;
          line-height: 20px;
          padding: 10px 24px;
          border-radius: 6px;

          &.disabled, &:disabled {
            background-color: $light_ui_grey;
            color: white;
            opacity: 1 !important;
          }
        }

        div.footer-link {
          margin-top: 24px;
          padding-top: 24px;
          border-top: 1px solid $divider_line_grey;
          @include OC_Body_Book();
          font-size: 16px;
          color: $deep_navy;
          line-height: 20px;
          text-align: center;

          a {
            @include OC_Body_Book();
            font-size: 16px;
            color: $wut_purple;
            line-height: 20px;
            margin-left: 4px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
