div.made-with-carrot-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 106};
  transition: opacity 180ms ease-in;
  overflow: auto;

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.modal-wrapper {
    width: #{600 + 20 + 8}px;
    height: 470px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -314px;

    button.settings-modal-close {
      position: fixed;
      left: 50%;
      margin-left: 332px;
    }

    div.made-with-carrot-modal {
      width: 600px;
      margin: 0px 0px 0px 28px;
      position: relative;
      background-color: $oc_gray_8;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
      padding: 40px 24px;
      text-align: center;
      background-image: cdnUrl("/img/ML/made_with_carrot_modal_top_bg.svg");
      background-repeat: no-repeat;
      // background-size: 727px 293px;
      background-position: center -20px;
      text-align: center;
      border-radius: 4px;
      height: 100%;

      div.carrot-logo {
        position: relative;
        background-image: cdnUrl("/img/ML/carrot_logo.svg");
        width: 45px;
        height: 82px;
        background-repeat: no-repeat;
        background-size: 45px 82px;
        background-position: center;
        margin: 0px auto;
      }

      div.made-wih-carrot-title {
        @include OC_Body_Bold();
        font-size: 28px;
        color: $carrot_dark_blue;
        margin: 32px auto;
        width: 340px;
      }

      div.made-wih-carrot-subtitle {
        @include OC_Body_Medium();
        font-size: 20px;
        color: #4D4D4D;
        margin: 32px auto;
        width: 410px;
      }

      button.learn-more {
        width: 140px;
        height: 47px;
        margin: 0px auto;
        background-color: $carrot_text_blue;
        color: white;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}