div.topic-row.manage-topics{

  div.manage-topics-internal {
    margin: 10px;
    border: 1px solid rgb(237, 237, 237);
    background-color: white;
    height: 50px;
    vertical-align: middle;
    text-align: center;

    div.manage-topics-cta{
      padding: 0;
      margin: 12px 0;
      font-size: 19px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}