div.manage-topics{
  padding: 0px;
  margin: 0px;
  width: 100%;

  div.manage-topics-internal {
    background-color: transparent;
    color: #777;
    height: 60px;
    padding-top: 20px;
    vertical-align: middle;
    text-align: center;
    text-decoration: underline;

    &:hover {
      @include mobile(){
        background-color: #cfcfcf;
      }
      @include big_web(){
        background-color: #ececec;
      }
    }

    div.manage-topics-cta{
      padding: 0;
      margin: 0;
      font-size: 14px;
      cursor: pointer;
    }
  }
}