div.manage-topics{
  padding: 0px;
  margin: 0px;
  width: 100%;

  div.manage-topics-internal {
    background-color: transparent;
    color: #8c8c8c;
    height: 30px;
    vertical-align: middle;
    text-align: left;

    &:hover {
      background-color: rgb(207, 207, 207);
      text-decoration: underline;
    }

    div.manage-topics-cta{
      padding: 5px 0 0 0;
      margin: 0;
      font-size: 14px;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}