div.topic-row.manage-topic{
  div.manage-topic-internal {
    margin: 10px;
    border: 1px dotted black;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    text-align: center;

    div.manage-topic-cta{
      padding: 0;
      margin: 12px 0;
      font-size: 19px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}