div.media-video-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: -275px;
  z-index: #{$navbar_zindex + 126};
  width: 272px;
  height: 153px;
  background-color: var(--overlay-background-color);
  border: 1px solid var(--opac-background-color-05);
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
  padding: 16px;

  div.media-video-modal-title {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
  }

  input {
    width: 100%;
    height: 32px;
    margin-top: 8px;
    background-color: var(--opac-background-color-1);
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    border-radius: 4px;
    padding: 7px 8px;
    float: left;
    outline: none;
    border: none;

    @include placeholder(){
      color: var(--light-color);
    }
  }

  button.embed-video-bt {
    width: 100%;
    height: 32px;
    background-color: $wut_purple;
    border-radius: 4px;
    color: white;
    @include OC_Body_Bold();
    font-size: 14px;
    margin-top: 8px;

    &.disabled {
      cursor: not-allowed;
      opacity: 1;
    }
  }

  div.media-video-description {
    margin-top: 8px;
    text-align: center;
    @include OC_Body_Book();
    font-size: 12px;
    color: var(--light-color);
    line-height: 15px;
  }
}

@include dark_mode() {
  div.media-video-modal-container {
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.05);
  }
}