$media_picker_size: 44;
$medias: ("entry" "photo" "video" "chart" "attachment" "divider");

div.media-picker {
  background-color: transparent;

  button.media {
    width: #{$media_picker_size}px;
    height: #{$media_picker_size}px;
    background-position: 50%;
    background-size: 14px;
    background-repeat: no-repeat;
    border-radius: #{$media_picker_size / 2}px;
    padding: 0;
    float: left;
    opacity: 1;
  }

  button.add-media-bt {
    background-image: cdnUrl("/img/ML/add_media_plus_gray.svg");
    background-size: 14px 14px;
    background-color: $oc_gray_2;
    background-position: 50%;
    transition: transform $add_media_animation, margin-right $add_media_animation;
    float: left;
    margin-right: 0px;
    border-radius: #{$media_picker_size / 2}px;
    width: #{$media_picker_size}px;
    height: #{$media_picker_size}px;
    opacity: 1;

    &.disabled {
      opacity: 0.2;
    }

    &:hover, &.expanded {
      background-image: cdnUrl("/img/ML/add_media_plus_white.svg");
      background-color: $carrot_green_2;
    }

    &.expanded {
      transform: rotate(45deg);
      margin-right: 10px;
    }
  }

  div.media-picker-container {
    width: 0px;
    height: #{$media_picker_size}px;
    transition: width $add_media_animation;
    float: left;
    position: relative;
    overflow: hidden;

    button.media {
      background-color: $oc_gray_2;
      margin-left: 0px;
      transform: rotate(0deg);
      transition: transform $add_media_animation, margin-left $add_media_animation, opacity $add_media_animation;
      float: left;
      top: 0px;
      left: 0px;
      position: absolute;
      opacity: 0;

      &:hover, &.active {
        background-color: $carrot_green_2;
      }

      &:not(.media-0) {
        top: -15px;
      }
    }

    @each $media in $medias {
      button.media-#{$media} {
        background-image: cdnUrl("/img/ML/media_#{$media}.png");
        background-size: 14px;

        &:hover {
          background-image: cdnUrl("/img/ML/media_#{$media}_white.png");
        }
      }
    }

    &.expanded {
      @for $i from 1 through 15 {
        &.media-#{$i} {
          width: #{160 + ($i * ($media_picker_size + 8))}px;
        }
      }

      button.media {
        opacity: 1;

        @for $i from 0 through 14 {
          &.media-#{$i} {
            margin-left: #{$i * ($media_picker_size + 8)}px;
          }
        }
      }
    }
  }
}