div.media-video-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 106};
  transition: opacity 180ms ease-in;

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.modal-wrapper {
    width: #{552 + 20 + 8}px;
    height: 241px;
    margin: 100px auto 50px;
    position: relative;

    button.settings-modal-close {
      right: -56px;
    }

    div.media-video-modal {
      width: 552px;
      margin: 0px 0px 0px 28px;
      position: relative;
      overflow: hidden;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.05);
      padding: 24px;

      div.media-video-modal-header{
        height: 44px;

        div.title {
          @include avenir_M();
          font-size: 16px;
          color: $carrot_light_gray;
          float: left;
          margin-top: 5px;
        }
      }

      div.media-video-modal-divider {
        width: calc(100% + 48px);
        margin-left: -24px;
        height: 1px;
        background-color: $carrot_light_gray_1;
        opacity: 0.3;
      }

      div.media-video-modal-content {
        div.content-title {
          margin-top: 24px;
          font-size: 12px;
          @include avenir_H();
          color: $oc_gray_7;
        }

        input {
          margin-top: 8px;
          width: 100%;
          border-radius: 4px;
          background-color: #ffffff;
          border: solid 1px rgba(177, 184, 192, 0.5);
          height: 40px;
          padding: 10px 17px;
          @include avenir_R();
          font-size: 16px;
          color: $oc_gray_7;
          outline: none;

          @include placeholder(){
            color: $carrot_light_gray;
          }
        }
      }

      div.media-video-modal-buttons {
        height: 40px;
        margin-top: 16px;

        button {
          margin-left: 15px;
          float: right;
          height: 40px;
          width: 96px;
        }
      }
    }
  }
}