div.media-picker {
  background-color: white;

  button.media {
    width: 32px;
    height: 32px;
    background-position: 50%;
    background-size: 12px;
    background-repeat: no-repeat;
    border-radius: 32px;
    border: 1px solid rgba($oc_gray_7, 0.2);
    padding: 0;
    float: left;

    &:hover, &.active {
      border: 1px solid rgba($carrot_text_blue, 0.3);
    }
  }

  button.add-media-bt {
    background-image: cdnUrl("/img/ML/add_media_plus_gray.svg");
    background-position: 50%;
    transition: transform $add_media_animation, margin-right $add_media_animation;
    float: left;
    margin-right: 0px;
    border: none;
    background-size: 32px;
    border-radius: inherit;

    &.disabled {
      opacity: 0.2;
    }

    &:hover {
      background-image: cdnUrl("/img/ML/add_media_plus_blue.svg");
      border: none;
    }

    &.expanded {
      transform: rotate(45deg);
      margin-right: 10px;
    }
  }

  div.media-picker-container {
    width: 0px;
    height: 32px;
    transition: width $add_media_animation;
    float: left;
    position: relative;
    overflow: hidden;

    button.media {
      margin-left: 0px;
      transform: rotate(0deg);
      transition: transform $add_media_animation, margin-left $add_media_animation, opacity $add_media_animation;
      float: left;
      top: 0px;
      left: 0px;
      position: absolute;
      opacity: 0;
    }

    button.media-photo {
      background-image: cdnUrl("/img/ML/media_photo.png");
      background-size: 16px 16px;

      &:hover {
        background-image: cdnUrl("/img/ML/media_photo_blue.png");
      }
    }

    button.media-video {
      background-image: cdnUrl("/img/ML/media_video.png");
      background-size: 16px 12px;
      top: -15px;

      &:hover {
        background-image: cdnUrl("/img/ML/media_video_blue.png");
      }
    }

    button.media-chart {
      margin-right: 0px;
      background-image: cdnUrl("/img/ML/media_chart.png");
      background-size: 20px 12px;
      top: -15px;

      &:hover {
        background-image: cdnUrl("/img/ML/media_chart_blue.png");
      }
    }

    button.media-attachment {
      background-image: cdnUrl("/img/ML/media_attachment.png");
      background-size: 16px 12px;
      top: -15px;

      &:hover {
        background-image: cdnUrl("/img/ML/media_attachment_blue.png");
      }
    }

    button.media-divider-line {
      background-image: cdnUrl("/img/ML/media_divider_line.png");
      background-size: 16px 12px;
      top: -15px;

      &:hover {
        background-image: cdnUrl("/img/ML/media_divider_line_blue.png");
      }
    }

    &.expanded {
      @for $i from 1 through 15 {
        &.media-#{$i} {
          width: #{160 + ($i * 40)}px;
        }
      }

      button.media {
        opacity: 1;

        @for $i from 0 through 14 {
          &.media-#{$i} {
            margin-left: #{$i * 40}px;
          }
        }
      }
    }
  }
}