ul.dropdown-menu {
  top: 45px;
  padding: 10px 0px 10px 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;

  li.oc-menu-item {
    opacity: 0.6;

    &:hover {
      background-color: transparent;
      opacity: 0.8;
      a {
        background-color: transparent;
      }
    }

    a {
      display: block;
      font-weight: 700;
      font-family: $oc_headers_font;
      font-size: 12px;
      letter-spacing: 1px;
      color: $oc_gray_5;
      background-color: transparent;
    }
  }
}