div.page{
  position: relative; /* Set the position property so z-index will apply */
  z-index: 20; /* Make sure this is higher than #menu */
  top: 0px !important;
 
  background: #fff;
  min-height: calc(100vh - #{$navbar_height}px);
}

body.animating div.page {
  transition: transform $oc_animation_duration ease-in-out;
  -webkit-transition: -webkit-transform $oc_animation_duration ease-in-out;
  min-height: calc(100vh + #{$navbar_height}px);
}

body.animating.left div.page {
  transform: translate3d( -200px, 0, 0 );
  -webkit-transform: translate3d( -200px, 0, 0 );
}

body.animating.right div.page {
  transform: translate3d( 200px, 0, 0 );
  -webkit-transform: translate3d( 200px, 0, 0 );
}

body.menu-visible div.page {
  right: 200px;
  top: 0px;
}

body.animating.small-footer div.footer {
  bottom: #{$footer_small_height - 10}px;
}

body.animating div.footer {
  position: absolute;
  bottom: #{$footer_height - 4}px;
  left: 0px;
  width: 100%;
}

body.menu-visible:not(.animating) div.page nav{
  left: -200px;
  top: default;
}

body.animating div#app {
  min-height: 100vh;
}