div.menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};

  &.dropdown-menu {
    letter-spacing: 0em;
  }

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.menu-container {
    width: 320px;
    background-color: white;
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    padding: 16px;

    div.menu-header {
      width: 100%;

      @include mobile() {
        height: 56px;
        width: calc(100% + 32px);
        margin-left: -16px;
        background-color: white;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        padding: 16px;
      }

      button.mobile-close-bt {
        display: none;

        @include mobile() {
          display: block;
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/mobile_back_arrow.svg");
          background-size: 16px 12px;
          background-position: center;
          background-repeat: no-repeat;
          margin: 2px 16px 0 -5px;
          float: left;
        }
      }

      @include user-profile(32);

      @include mobile() {
        @include user-profile(24);
      }

      div.user-avatar-img-container {
        float: left;
        margin-right: 16px;

        @include mobile() {
          margin-right: 8px;
        }
      }

      div.user-name {
        @include OC_Body_Bold();
        font-size: 15px;
        color: $deep_navy;
        line-height: 18px;

        @include mobile(){
          display: none;
        }
      }

      div.mobile-user-name {
        display: none;

        @include mobile() {
          display: block;
          float: left;
          @include OC_Body_Bold();
          font-size: 16px;
          color: $deep_navy;
          line-height: 24px;
          height: 24px;
        }
      }

      div.user-type {
        color: $light_ui_grey;
        @include OC_Body_Medium();
        font-size: 13px;

        @include mobile() {
          float: right;
          font-size: 14px;
        }
      }
    }

    @include mobile() {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100vh;
      border: none;
      box-shadow: none;
      transition: 230ms;
      display: block;
      text-align: right;
      background-color: white;
      display: none;
      opacity: 0;
      padding: 0 16px;

      &.expanded-user-menu {
        display: block;
        opacity: 1;
      }
    }

    div.oc-menu-separator {
      width: 100%;
      height: 1px;
      background-color: rgba($deep_tan, 0.6);
      margin-top: 20px;

      @include mobile() {
        display: none;
      }
    }

    a {
      display: block;
      background-color: transparent;
      padding: 0px;
      @include OC_Body_Medium();
      font-size: 14px;
      color: $deep_navy;
      text-align: left;

      @include mobile() {
        font-size: 21px;
      }

      &:hover {
        color: $carrot_green;
      }
    }

    div.org-item {
      padding: 24px 0px 3px 0px;

      @include mobile() {
        display: none;
      }

      div.org-avatar {
        @include org-avatar(32);
        margin-right: 16px;
        float: left;

        div.org-avatar-container {
          span.org-name {
            display: none !important;
          }
        }
      }

      div.org-name {
        @include OC_Body_Bold();
        font-size: 15px;
        color: $deep_navy;
        width: calc(100% - 48px);
        line-height: 18px;
        height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      div.org-url {
        @include OC_Body_Medium();
        font-size: 13px;
        width: calc(100% - 48px);
        height: 15px;
        color: $light_ui_grey;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 15px;
        white-space: nowrap;
      }
    }

    a:hover {
      div.oc-menu-item {
        &.personal-profile {
          &:before {
            background-image: cdnUrl("/img/ML/menu_personal_profile_hover.svg");
          }
        }

        &.notifications-settings {
          &:before {
            background-image: cdnUrl("/img/ML/menu_user_notifications_hover.svg");
          }
        }

        &.reminders {
          &:before {
            background-image: cdnUrl("/img/ML/menu_reminders_hover.svg");
          }
        }

        &.manage-team {
          &:before {
            background-image: cdnUrl("/img/ML/menu_manage_team_hover.svg");
          }
        }

        &.digest-settings {
          &:before {
            background-image: cdnUrl("/img/ML/menu_digest_settings_hover.svg");
          }
        }

        &.whats-new {
          &:before {
            background-image: cdnUrl("/img/ML/menu_whats_new_hover.svg");
          }
        }
        
        &.show-qsg {
          &:before {
            background-image: cdnUrl("/img/ML/menu_quickstart_guide_hover.svg");
          }
        }

        &.support {
          &:before {
            background-image: cdnUrl("/img/ML/menu_support_hover.svg");
          }
        }

        &.logout {
          &:before {
            background-image: cdnUrl("/img/ML/menu_logout_hover.svg");
          }
        }
      }
    }

    a.qsg-profile-photo-2, a.qsg-company-logo-2, a.qsg-invite-team-2, a.qsg-create-reminder-2 {
      position: relative;
    }

    @include mobile() {
      // Remove the last bottom line on mobile
      & > *:last-child div.oc-menu-item:after{
        display: none;
      }
    }

    div.oc-menu-item {
      opacity: 0.9;
      padding: 14px 0px 0px 48px;
      position: relative;
      @include OC_Body_Medium();

      @include mobile() {
        padding: 24px 0 24px 30px;
        font-size: 14px;
      }

      &.divider-item {
        box-shadow: inset 0 -1px 0 0 $carrot_dark_bg_gray;
      }

      &:before {
        content: "";
        position: absolute;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        top: 15px;
        left: 8px;

        @include mobile() {
          left: 0;
          top: 25px;
        }
      }

      &:after {
        @include mobile() {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 30px;
          width: calc(100% - 16px);
          height: 1px;
          background-color: $ultra_light_grey;
        }
      }

      &.personal-profile {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_personal_profile_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_personal_profile.svg");
        }
      }

      &.notifications-settings {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_user_notifications_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_user_notifications.svg");
        }
      }

      &.reminders {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_reminders_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_reminders.svg");
        }
      }

      &.manage-team {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_manage_team_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_manage_team.svg");
        }
      }

      &.digest-settings {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_digest_settings_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_digest_settings.svg");
        }
      }

      &.show-qsg {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_quickstart_guide_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_quickstart_guide.svg");
        }
      }

      &.whats-new {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_whats_new_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_whats_new.svg");
        }
        #HW_badge_cont {
          display: inline;
        }
        #HW_badge {
          top: -1px;
        }
      }

      &.support {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_support_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_support.svg");
        }
      }

      &.logout {
        @include big_web(){
          @include preload_image(cdnUrl("/img/ML/menu_logout_hover.svg"));
        }

        &:before {
          background-image: cdnUrl("/img/ML/menu_logout.svg");
        }
      }
    }
  }
}