div.mobile-boards-list {
  padding-top: #{$navbar_height}px;
  background-color: $oc_gray_8;

  div.mobile-boards-list-inner {
    min-height: calc(100vh - #{$mobile_navbar_height}px - #{$footer_small_height}px - 41px);

    div.mobile-boards-list-box {
      margin-top: 22px;
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      // justify-content: space-around; // try also flex-start to justify to left
      //                                // and set margin and padding by our self.

      div.mobile-boards-list-item {
        margin-bottom: 8px;
        margin-left: 8px;
        display: flex;
        width: 100%;

        div.board {
          position: relative;
          transition: opacity 0.5s;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          text-align: center;
          margin-left: 0px;
          margin-right: 0px;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
          border: 1px solid rgba(0, 0, 0, 0.09);
          border-radius: 3px;
          background-color: white;
          font-family: $oc_main_font;
          font-size: 16px;
          width: 100%;
          color: $oc_gray_5;

          div.board-internal {
            // height: 100%;
            display: flex;
            flex-direction: column;
            width: 100%;

            div.board-title {
              padding: 12px 10px;
              width: 100%;
              text-transform: none;
              opacity: 1;
              color: $oc_gray_7;
              float: none;
              font-weight: 700;
              font-size: 15px;
              padding-left: 0px;
              padding-right: 0px;
              margin-left: 0px;
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}