div.more-menu {
  float: right;
  width: auto;
  height: 26px;
  transform: opacity 180ms ease-in;
  opacity: 1;
  position: relative;

  div.activity-move {
    position: absolute;
    top: 26px;
    left: unset;
    right: -9px;

    @include mobile() {
      top: 32px;
      height: 32px;
      bottom: unset;
    }
  }

  button.more-menu-bt {
    height: 26px;
    width: 24px;
    display: inline;
    background-image: cdnUrl("/img/ML/more_menu_horizontal_ellipsis.svg");
    background-size: 18px 4px;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    opacity: 0.5;

    @include mobile() {
      width: 32px;
      height: 32px;
      background-color: $ultra_light_grey;
      border-radius: 4px;
      opacity: 1;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  button.more-menu-share-bt {
    height: 26px;
    width: 24px;
    display: inline;
    background-image: cdnUrl("/img/ML/more_menu_share_arrow.svg");
    background-size: 16px 14px;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    margin-left: 10px;
    display: inline-block;
    opacity: 0.5;

    @include mobile() {
      width: 32px;
    }

    &:hover, &:active, &:focus {
      opacity: 1;
    }
  }

  button.more-menu-complete-follow-up-bt {
    height: 26px;
    width: 24px;
    display: inline;
    background-image: cdnUrl("/img/ML/follow_up_complete.svg");
    background-size: 14px 14px;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    margin-left: 8px;
    display: inline-block;

    @include mobile() {
      width: 32px;
      height: 32px;
      background-color: $ultra_light_grey;
      border-radius: 4px;
      background-image: cdnUrl("/img/ML/mobile_complete_follow_up.svg");
      background-size: 14px 10px;
      opacity: 1;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  button.more-menu-create-follow-up-bt {
    height: 26px;
    width: 24px;
    display: inline;
    background-image: cdnUrl("/img/ML/follow_up_add.svg");
    background-size: 16px 16px;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    margin-left: 8px;
    display: inline-block;

    @include mobile() {
      width: 32px;
      height: 32px;
      background-color: $ultra_light_grey;
      border-radius: 4px;
      background-image: cdnUrl("/img/ML/mobile_create_follow_up.svg");
      background-size: 13px 16px;
      opacity: 1;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  ul.more-menu-list {
    position: absolute;
    top: 26px;
    left: calc(100% - 108px);
    width: 74px;
    outline: none;
    z-index: 110;
    background-color: white;
    border: 1px solid $mid_light_grey;
    box-shadow: none;
    border-radius: 4px;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;

    &.has-create-follow-up {
      left: unset;
      right: 0;
      width: 144px;

      @include mobile() {
        left: unset;
        right: 0;
        width: 128px;
      }
    }

    &.has-complete-follow-up {
      left: unset;
      right: 0;
      width: 162px;

      @include mobile() {
        left: unset;
        right: 0;
        width: 162px;
      }
    }

    @include mobile() {
      top: 40px;
      bottom: unset;
    }

    li {
      @include OC_Body_Book();
      font-size: 14px;
      color: $deep_navy;
      line-height: 18px;
      cursor: pointer;
      padding: 8px 16px;
      background-color: white;
      position: relative;

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        border-bottom: 0px;
      }

      @include big_web() {
        &:hover {
          background-color: $feint_emerald;
          color: $carrot_green;
        }
      }

      &.disabled {
        opacity: 0.4;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}