div.more-menu {
  float: right;
  width: auto;
  height: 26px;
  transform: opacity 180ms ease-in;
  opacity: 1;
  position: relative;

  div.activity-move {
    position: absolute;
    top: 26px;
    left: unset;
    right: -9px;

    @include mobile() {
      top: 32px;
      height: 32px;
      bottom: unset;
    }
  }

  button.more-menu-bt {
    height: 32px;
    width: 32px;
    display: inline;
    background-image: cdnUrl("/img/ML/more_menu_horizontal_ellipsis.svg");
    background-size: 18px 4px;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    opacity: 0.5;

    @include mobile() {
      background-color: $ultra_light_grey;
      border-radius: 4px;
      opacity: 1;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  &.has-more-menu-bt {
    button.more-menu-share-bt {
      margin-left: 9px;
    }
  }

  button.more-menu-share-bt {
    height: 32px;
    width: 32px;
    display: inline;
    background-image: cdnUrl("/img/ML/more_menu_new_share.svg");
    background-size: 14px 14px;
    background-position: center;
    background-color: rgba($deep_navy, 0.1);
    border-radius: 4px;
    padding: 0;
    background-repeat: no-repeat;
    margin-left: 16px;
    display: inline-block;
    opacity: 1;

    @include big_web() {
      &:hover {
        background-color: rgba($deep_navy, 0.2);
      }
    }

    @include mobile() {
      border-radius: 4px;
      border-right: none;
    }

    &:hover, &:active, &:focus {
      opacity: 1;
    }
  }

  button:not(.has-next-bt) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  button.has-next-bt {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgba($deep_navy, 0.15);
  }

  button.more-menu-remove-bookmark-bt {
    height: 32px;
    width: 32px;
    background-image: cdnUrl("/img/ML/mobile_remove_bookmark.svg");
    background-size: 10px 14px;
    background-position: center;
    background-color: rgba($deep_navy, 0.1);
    padding: 0;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-block;

    @include big_web() {
      &:hover {
        background-color: rgba($deep_navy, 0.2);
      }
    }

    @include mobile() {
      border-radius: 4px;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  div.more-menu-add-bookmark-bt-container {
    height: 32px;
    width: 32px;
    display: inline-block;

    button.more-menu-add-bookmark-bt {
      height: 32px;
      width: 32px;
      background-image: cdnUrl("/img/ML/mobile_add_bookmark.svg");
      background-size: 10px 14px;
      background-position: center;
      background-color: rgba($deep_navy, 0.1);
      padding: 0;
      background-repeat: no-repeat;
      opacity: 1;

      @include big_web() {
        &:hover {
          background-color: rgba($deep_navy, 0.2);
        }
      }

      @include mobile() {
        width: 32px;
        height: 32px;
        border-radius: 4px;
      }

      &:hover, &:active, &:focus {
        opacity: 1;

        @include mobile() {
          opacity: 0.9;
        }
      }

      &.has-inbox-dismiss {
        border-radius: 0;
      }
    }

    div.tooltip {
      width: 96px;
    }
  }

  button.more-menu-inbox-dismiss-bt {
    height: 32px;
    width: 32px;
    background-image: cdnUrl("/img/ML/more_inbox_done.svg");
    background-size: 14px 10px;
    background-position: center;
    background-color: rgba($deep_navy, 0.1);
    padding: 0;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-block;

    @include big_web() {
      &:hover {
        background-color: rgba($deep_navy, 0.2);
      }
    }

    @include mobile() {
      border-radius: 4px;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  button.more-menu-inbox-follow-bt {
    height: 32px;
    width: 32px;
    background-image: cdnUrl("/img/ML/more_inbox_follow.svg");
    background-size: 16px 12px;
    background-position: center;
    background-color: rgba($deep_navy, 0.1);
    padding: 0;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-block;

    @include big_web() {
      &:hover {
        background-color: rgba($deep_navy, 0.2);
      }
    }

    @include mobile() {
      border-radius: 4px;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  button.more-menu-inbox-unfollow-bt {
    height: 32px;
    width: 32px;
    background-image: cdnUrl("/img/ML/more_inbox_unfollow.svg");
    background-size: 16px 14.5px;
    background-position: center;
    background-color: rgba($deep_navy, 0.1);;
    padding: 0;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-block;

    @include big_web() {
      &:hover {
        background-color: rgba($deep_navy, 0.2);
      }
    }

    @include mobile() {
      border-radius: 4px;
    }

    &:hover, &:active, &:focus {
      opacity: 1;

      @include mobile() {
        opacity: 0.9;
      }
    }
  }

  ul.more-menu-list {
    position: absolute;
    top: 26px;
    left: calc(100% - 108px);
    width: 94px;
    outline: none;
    z-index: 110;
    background-color: white;
    border: 1px solid $mid_light_grey;
    box-shadow: none;
    border-radius: 4px;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;

    &.has-add-bookmark {
      left: unset;
      right: 0;
      width: 144px;

      @include mobile() {
        left: unset;
        right: 0;
        width: 128px;
      }
    }

    &.has-remove-bookmark {
      left: unset;
      right: 0;
      width: 162px;

      @include mobile() {
        left: unset;
        right: 0;
        width: 162px;
      }
    }

    @include mobile() {
      top: 40px;
      bottom: unset;
    }

    li {
      @include OC_Body_Book();
      font-size: 14px;
      color: $deep_navy;
      line-height: 18px;
      cursor: pointer;
      padding: 8px 16px;
      background-color: white;
      position: relative;

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        border-bottom: 0px;
      }

      @include big_web() {
        &:hover {
          background-color: $feint_emerald;
          color: $carrot_green;
        }
      }

      &.disabled {
        opacity: 0.4;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &.mobile-tray-menu.menu-expanded {
    @include mobile() {
      display: block;
      position: fixed;
      float: unset;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba($deep_navy, 0.2);
      opacity: 1;
      z-index: #{$navbar_zindex + 10};

      & > * {
        display: none;
      }
      // Add some extra padding at the bottom of safari mobile to avoid
      // the browser bottom navbar cover the menu
      &.safari-mobile ul.more-menu-list {
        // bottom: #{$mobile_navbar_height}px;
        padding: 32px 16px #{32 + 104}px 16px;
      }

      ul.more-menu-list {
        display: block;
        float: unset;
        bottom: 0;
        top: unset;
        left: 0;
        right: 0;
        width: 100%;
        background-color: white;
        opacity: 1;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 32px 16px;

        li {
          padding: 12px 16px;
          background-color: rgba($deep_navy, 0.1);
          height: 48px;
          margin: 0;
          @include OC_Body_Book();
          font-size: 17px;
          line-height: 24px;
          color: $deep_navy;
          position: relative;
          margin-top: 1px;

          &.top-rounded {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }

          &.bottom-rounded {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          &.bottom-margin {
            margin-bottom: 24px;
          }

          &.edit {
            padding-left: 56px;

            &:before {
              content: "";
              width: 16px;
              height: 16px;
              background-image: cdnUrl("/img/ML/mobile_more_edit.svg");
              background-size: 16px 16px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 16px;
              left: 16px;
            }
          }

          &.delete {
            padding-left: 56px;

            &:before {
              content: "";
              width: 14px;
              height: 16px;
              background-image: cdnUrl("/img/ML/mobile_more_delete.svg");
              background-size: 14px 16px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 16px;
              left: 17px;
            }
          }

          &.share {
            padding-left: 56px;

            &:before {
              content: "";
              width: 16px;
              height: 16px;
              background-image: cdnUrl("/img/ML/mobile_more_share.svg");
              background-size: 16px 16px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 16px;
              left: 16px;
            }
          }

          &.follow {
            padding-left: 56px;

            &:before {
              content: "";
              width: 20px;
              height: 15px;
              background-image: cdnUrl("/img/ML/mobile_more_follow.svg");
              background-size: 20px 15px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 17px;
              left: 14px;
            }
          }

          &.unfollow {
            padding-left: 56px;

            &:before {
              content: "";
              width: 20px;
              height: 18px;
              background-image: cdnUrl("/img/ML/mobile_more_unfollow.svg");
              background-size: 20px 18px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 15px;
              left: 14px;
            }
          }

          &.add-bookmark {
            padding-left: 56px;

            &:before {
              content: "";
              width: 14px;
              height: 18px;
              background-image: cdnUrl("/img/ML/mobile_add_bookmark.svg");
              background-size: 14px 18px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 15px;
              left: 17px;
            }
          }

          &.remove-bookmark {
            padding-left: 56px;

            &:before {
              content: "";
              width: 14px;
              height: 18px;
              background-image: cdnUrl("/img/ML/mobile_remove-bookmark.svg");
              background-size: 14px 18px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 15px;
              left: 17px;
            }
          }

          &.dismiss {
            padding-left: 56px;

            &:before {
              content: "";
              width: 16px;
              height: 12px;
              background-image: cdnUrl("/img/ML/mobile_more_dismiss.svg");
              background-size: 16px 12px;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 18px;
              left: 16px;
            }
          }
        }
      }
    }
  }
}