div.more-menu {
  float: right;
  width: auto;
  height: 32px;
  transform: opacity 180ms ease-in;
  opacity: 1;
  position: relative;

  @include mobile() {
    width: 30px;
  }

  div.activity-move {
    position: absolute;
    top: 40px;
    left: unset;
    right: -9px;
  }

  button.more-menu-bt {
    width: 32px;
    height: 32px;
    display: inline;
    background-image: cdnUrl("/img/ML/more_menu_icon.svg");
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

    &:hover, &:active, &:focus {
      background-image: cdnUrl("/img/ML/more_menu_icon_active.svg");
    }
  }

  button.more-menu-share-bt {
    width: 32px;
    height: 32px;
    display: inline;
    background-image: cdnUrl("/img/ML/share_menu_icon.svg");
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 7px;
    display: inline-block;
    opacity: 1;

    &:hover, &:active, &:focus {
      background-image: cdnUrl("/img/ML/share_menu_icon_active.svg");
    }
  }

  ul.more-menu-list {
    position: absolute;
    top: 40px;
    left: calc(100% - 120px);
    width: 128px;
    outline: none;
    z-index: 110;
    background-color: $deep_navy;
    box-shadow: none;
    border-radius: 4px;
    margin: 0;
    padding: 0px 16px;
    list-style-type: none;

    li {
      height: 48px;
      @include avenir_H();
      font-size: 14px;
      color: white;
      cursor: pointer;
      padding: 16px 0px 16px 32px;
      position: relative;
      border-bottom: 1px solid rgba(white, 0.1);

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        border-bottom: 0px;
      }

      &.edit {
        &:before {
          background-image: cdnUrl("/img/ML/more_menu_edit.svg");
        }
      }

      &.delete {
        &:before {
          background-image: cdnUrl("/img/ML/more_menu_delete.svg");
        }
      }

      &.share {
        &:before {
          background-image: cdnUrl("/img/ML/more_menu_share.svg");
        }
      }

      &.must-see {
        &:before {
          background-image: cdnUrl("/img/ML/more_menu_mustsee.svg");
          background-position: 3px 0px;
        }
      }

      &.must-see-on {
        &:before {
          background-image: cdnUrl("/img/ML/must_see_bolt_blue.svg");
          background-position: 3px 0px;
        }
      }

      &.move {
        &:before {
          background-image: cdnUrl("/img/ML/move_activity.svg");
          background-size: 14px 14px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 16px;
        left: 0px;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
        background-color: transpant;
      }

      &.disabled {
        opacity: 0.4;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}