div.multi-picker-container {
  position: relative;
  width: auto;
  float: left;
  height: 20px;
    
  button.multi-picker-choice {
    @include avenir_M();
    font-size: 14px;
    color: $deep_navy;
    position: relative;
    margin-left: 12px;
    float: left;
    width: 22px;
    height: 21px;
    opacity: 0.4;

    &:hover, &.active {
      opacity: 1;
    }

    div.multi-picker-choice-icon {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 22px;
      height: 21px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.choice-images {
      margin-left: 0px;

      div.multi-picker-choice-icon {
        background-image: cdnUrl("/img/ML/multi_picker_image_icon.svg");
        background-size: 13px 16px;
        top: -1px;
      }
    }

    &.choice-media {
      div.multi-picker-choice-icon {
        background-image: cdnUrl("/img/ML/multi_picker_video_icon.svg");
        background-size: 18px 12px;
        top: -1px;
      }
    }

    &.choice-attachment {
      div.multi-picker-choice-icon {
        background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
        background-size: 16px 14px;
        left: -1px;
      }
    }
  }
}