nav.oc-navbar {
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  border-top: 4px solid $oc_yellow;
  margin: 0px;
  height: #{$navbar_height}px;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);

  div.su-snapshot-preview{
    position: absolute;
    top: 0; left: 0; right: 0;
    width: 100%;
    background-color: #989EA6;

    div.su-snapshot-preview-internal{
      padding: 13.5px 30px;
      text-align: center;

      div.su-snapshot-buttons{
        margin: 0 auto;

        button.btn-solid {min-height: 38px}

        button i.fa.fa-slack, button img.small-loading {
          font-size: 19px;
          color: rgba(78, 90, 107, 0.7);
          width: 19px;
          height: 19px;
        }
      }

      div.preview-title {
        width: 150px;
        font-weight: 700;
        font-family: $oc_headers_font;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #ffffff;
        margin: 0 auto;
      }

      button.close-preview {
        float: right;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        display: block;
        color: white;
        margin-top: -30px;
      }
    }
  }

  div.oc-navbar-header {
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 15px;

    @media screen and (max-width: 413px){
      margin-left: 9px;
      margin-right: 9px;
      width: auto !important;
    }

    @media screen and (max-width: 683px){
      padding: 0px;
    }

    ul.navbar-right {
      float: right;
      margin-right: 0px;
    }
  }
}