@mixin default-item(){
  background-color: transparent;
  height: 32px;

  @include mobile() {
    height: 40px;
    margin: 2px 0;
    padding: 7px 16px;
  }

  span.count {
    @include OC_Body_Book();
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--color);
    min-width: 16px;
    height: 16px;
    display: inline-block;
    background-color: var(--navigation-sidebar-count-bg);
    border-radius: 4px;
    margin-left: auto;
    padding: 0 4px;
  }

  span.unread-dot {
    width: 8px;
    height: 8px;
    background-color: var(--navigation-sidebar-badge-color);
    border-radius: 50%;
    margin-right: 4px;
    margin-left: auto;
  }

  &.drafts div.nav-link-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.nav-link-label {
      text-decoration: none;
    }
  }

  div.nav-link-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
      color: var(--color);
    }
  }
}

@mixin item-selected() {
  -webkit-tap-highlight-color: var(--navigation-sidebar-hover-bg);
  background-color: var(--navigation-sidebar-hover-bg);
  outline: none;
  border-radius: 4px;

  div.nav-link-label {
    @include OC_Body_Book();
    font-size: 14px;
    text-decoration: none;
    color: white;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    span.count {
      background-color: white;
      color: $deep_navy;
    }

    span.unread-dot {
      background-color: var(--navigation-sidebar-badge-color);
    }

    @include mobile() {
      color: white;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }

  span.count {
    background-color: white;
    color: $deep_navy;
  }

  span.unread-dot {
    background-color: var(--navigation-sidebar-badge-color);
  }

  div.nav-link-label {
    font-size: 14px;
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.nav-link-label {
      text-decoration: none;
    }
  }

  div.nav-link-label {
    @include OC_Body_Book();
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

@mixin item-hover(){
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: var(--navigation-sidebar-hover-bg);
  background-color: var(--navigation-sidebar-hover-bg);
  border-radius: 4px;

  @include mobile() {
    border-radius: 0;
  }

  div.nav-link-label {
    color: var(--color);
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

div.left-navigation-sidebar {
  position: absolute;
  position: fixed;
  overflow-y: auto;
  overflow-x: visible;
  overflow: visible;
  width: #{$left_navigation_sidebar_width}px;
  top: #{$navbar_height}px;
  padding: 24px 0 0;

  @media (max-height: 654px), (max-width: 975px) {
    position: absolute !important;
    top: 0;
    overflow-y: visible;
    display: block;

    div.left-navigation-sidebar-content {
      display: block;
    }
  }

  @include mobile() {
    position: fixed!important;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: #{$navbar_zindex + 7};
    background-color: $carrot_modal_bg;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: initial;
    padding: 0;

    &.mobile-show-side-panel {
      display: block;
    }
  }

  @include no-user-select();

  div.left-navigation-sidebar-content {
    width: #{$left_navigation_sidebar_width}px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: calc(100vh - #{$navbar_height}px - 24px - 40px);
    display: flex;
    flex-flow: column nowrap;

    @include mobile() {
      position: relative;
      padding: 0 16px 40px;
      width: 100%;
      height: auto;
      background-color: var(--background-color);
      min-height: 100%;
      padding-top: #{$mobile_navbar_height + 16}px;
      -webkit-overflow-scrolling: touch;
      display: block;
    }

    div.left-navigation-sidebar-mobile-header {
      display: none;

      @include mobile() {
        height: #{$mobile_navbar_height}px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        padding: 11px 16px;
        border-bottom: 1px solid var(--divider-line);
        z-index: #{$navbar_zindex};
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        button.mobile-search-bt {
          display: block;
          width: 32px;
          height: 32px;
          padding: 0;
          background-image: cdnUrl("/img/ML/dark_search_lens.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          flex: 0 0 auto;
          margin-left: auto;
          order: 2;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/wrt_search_lens@dark.svg");
          }
        }

        button.mobile-close-bt {
          display: block;
          width: 32px;
          height: 32px;
          padding: 0;
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          flex: 0 0 auto;
          margin-left: 8px;
          order: 3;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
          }
        }

        div.orgs-dropdown  {
          // width: calc(100% - 40px);
          flex: 0 0 auto;
          order: 1;
          position: relative;
          top: unset;
          left: unset;

          div.orgs-dropdown-container {
            z-index: 2;
          }
        }
      }
    }
  }


  div.left-navigation-sidebar-top {
    flex: 0 0 auto;

    &.top-border {
      margin-top: 16px;
      border-top: 1px solid var(--opac-background-color-08);
      padding-top: 16px;

      @include mobile() {
        border-top: 0px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: calc(100% + 32px);
          height: 1px;
          position: absolute;
          top: 0px;
          left: -16px;
          background-color: var(--opac-background-color-08);
        }
      }
    }

    a.nav-link {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent;
      border: none;
      outline: none;
      flex: 0 0 auto;
      padding: 0 16px;

      @include mobile() {
        padding-left: 0px;
      }

      &.hover-item{
        @include default-item();

        * {
          cursor: pointer;
        }

        @include big_web() {
          &:not(.item-selected):hover, &:not(.item-selected):active, &:not(.item-selected):focus {
            @include item-hover();
          }
        }

        &.item-selected {
          @include item-hover();
        }
      }

      div.nav-link-label {
        padding: 0;
        text-align: left;
        margin-left: 12px;
        flex: 0 1 auto;
        text-decoration: none;
        margin-right: 8px;

        @include mobile() {
          padding: 0px;
          line-height: 18px;
        }
      }

      div.contributions-label {
        margin-left: 7px;
        max-width: 92px;

        @include mobile() {
          max-width: initial;
        }
      }

      div.nav-link-icon {
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        text-align: center;

        @include mobile() {
          opacity: 1;
        }
      }

      &.home {
        div.nav-link-icon {
          background-image: cdnUrl("/img/ML/nav_home.svg");
          background-size: 14px 14px;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/nav_home@dark.svg");
          }
        }
      }

      &.topics {
        div.nav-link-icon {
          background-image: cdnUrl("/img/ML/nav_all.svg");
          background-size: 12px 14px;

          @include mobile() {
            margin-left: 0px;
            background-position: center;
          }

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/nav_all@dark.svg");
          }
        }
      }

      &.replies-view {
        div.nav-link-icon {
          background-size: 14px 14px;
          background-image: cdnUrl("/img/ML/nav_actvity.svg");

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/nav_actvity@dark.svg");
          }
        }
      }

      &.profile {
        div.nav-link-icon {
          background-size: 12px 14px;
          background-image: cdnUrl("/img/ML/nav_profile.svg");

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/nav_profile@dark.svg");
          }
        }
      }

      &.my-posts {
        div.nav-link-icon {
          background-size: 14px 14px;
          background-image: cdnUrl("/img/ML/nav_my_posts.svg");

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/nav_my_posts@dark.svg");
          }
        }
      }

      &.bookmarks {
        div.nav-link-icon {
          background-image: cdnUrl("/img/ML/nav_bookmarks.svg");
          background-size: 12px 14px;

          @include mobile() {
            background-position: center;
          }

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/nav_bookmarks@dark.svg");
          }
        }
      }

      &.drafts {
        @include mobile() {
          margin-bottom: 0px;
        }

        div.nav-link-icon {
          background-image: cdnUrl("/img/ML/nav_drafts.svg");
          background-size: 14px 14px;
          background-position: center;

          @include mobile() {
            background-position: center;
          }

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/nav_drafts@dark.svg");
          }
        }

        &.hover-item {
          @include mobile() {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  button.create-bt {
    border-radius: 4px;
    width: 100%;
    height: 34px;
    padding: 0;
    position: relative;
    background-color: var(--navigation-sidebar-create-bt-background);
    color: var(--navigation-sidebar-create-bt-color);
    transition: background-color 180ms ease-in;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin-top: 16px;
    border: none;

    @include mobile() {
      display: none;
    }

    span.plus-icon {
      width: 11px;
      height: 11px;
      background-size: 11px 11px;
      background-repeat: no-repeat;
      background-position: center;
      @include svgBgColor("/img/ML/add_to_board_plus_white.svg");
      margin-left: auto;
      margin-right: 10px;
      flex: 0 0 auto;
    }

    span.copy-text {
      @include OC_Body_Bold();
      font-size: 14px;
      line-height: 18px;
      color: var(--navigation-sidebar-create-bt-color);
      flex: 0 0 auto;
      margin-right: auto;
      margin-left: auto;
    }
  }

  div.invite-people-box {
    position: relative;
    width: 100%;
    padding: 22px 22px 136px 22px;
    @include image-2x("/img/ML/invite_box");
    background-position: bottom 0px left 50%;
    background-repeat: no-repeat;
    background-size: 117px 120px;
    background-color: var(--navigation-sidebar-invite-background);
    border: var(--navigation-sidebar-invite-border);
    box-shadow: var(--navigation-sidebar-invite-shadow);
    border-radius: 8px;
    flex: 0 0 auto;
    margin-top: 24px;

    @include mobile() {
      display: none;
    }

    @include dark_mode() {
      @include image-2x("/img/ML/invite_box@dark");
    }

    button.invite-people-close {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 4px;
      left: 4px;
      background-image: cdnUrl("/img/ML/close_x.svg");
      background-size: 8px 8px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/close_x@dark.svg");
      }
    }

    label.explore-label {
      text-align: center;
      @include OC_Body_Bold();
      font-size: 18px;
      line-height: 20px;
      color: var(--color);
      margin-bottom: 16px;
    }

    button.invite-people-bt {
      width: 100%;
      height: 34px;
      padding: 8px;
      text-align: center;
      border-radius: 4px;
      background-color: $carrot_green;
      color: white;
      @include OC_Body_Bold();
      font-size: 14px;
      line-height: 18px;
    }
  }
}

div.org-dashboard.top-banner {
  div.page div.org-dashboard-container div.org-dashboard-inner div.dashboard-layout div.dashboard-layout-container {
    div.left-navigation-sidebar {
      top: #{$navbar_height + $top_banner_height}px;
      min-height: calc(100vh - #{$navbar_height}px - 24px - #{$top_banner_height}px);

      @media (max-height: 654px), (max-width: 975px) {
        top: #{$top_banner_height}px;
      }

      @include mobile() {
        top: #{$top_banner_height}px;
        min-height: calc(100vh - #{$mobile_navbar_height}px - 24px - #{$top_banner_height}px);
      }

      div.left-navigation-sidebar-content div.left-navigation-sidebar-mobile-header {
        top: #{$top_banner_height}px;
      }
    }
  }
}