@mixin default-item(){
  background-color: transparent;

  @include mobile() {
    height: 56px;
    padding: 16px 32px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 65px;
      height: 1px;
      width: calc(100% - 65px);
      background-color: #ECECEC;
    }

    &:first-child:before {
      width: 100%;
      left: 0px;
    }
  }

  .internal {
    @include avenir_R();
    font-size: 14px;
    line-height: 25px;
    color: $ui_grey;
    text-decoration: none;

    &.new {
      @include avenir_H();
      color: $deep_navy;
    }
  }

  div.drafts-label {
    @include avenir_R();
    font-size: 14px;
    line-height: 25px;
    color: $ui_grey;
    text-decoration: none;

    span.count {
      @include avenir_M();
      font-size: 14px;
      color: #C5C6C8;
    }

    &.new {
      color: $deep_navy;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.all-posts-label, div.must-see-label, div.drafts-label {
      text-decoration: none;
    }
  }

  div.all-posts-label {
    @include avenir_R();
    font-size: 14px;
    line-height: 25px;
    color: $ui_grey;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include avenir_H();
      color: $deep_navy;
    }
  }

  div.must-see-label {
    @include avenir_R();
    font-size: 14px;
    line-height: 25px;
    color: $ui_grey;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include avenir_H();
      color: $deep_navy;
    }
  }
}

@mixin item-selected() {
  background-color: #D4F6E4;
  border-radius: 6px;

  @include mobile() {
    border-radius: 0px;
  }

  .internal, div.all-posts-label, div.drafts-label, div.must-see-label {
    color: $carrot_green;
    @include avenir_H();
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;

    @include mobile() {
      @include avenir_H();
      font-size: 14px;
    }

    span.count {
      color: $carrot_green;

      @include mobile() {
        @include avenir_H();
        font-size: 14px;
      }
    }
  }

  div.all-posts-label, div.drafts-label, div.must-see-label {
    font-size: 14px;
    text-decoration: none;
  }

  &:active, &:focus {
    text-decoration: none;

    div.all-posts-label, div.must-see-label, div.drafts-label {
      text-decoration: none;
    }
  }

  div.all-posts-label, div.must-see-label {
    @include avenir_H();
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }
  }
}

@mixin item-hover(){
  background-color: #EFF0ED;
  border-radius: 6px;

  @include mobile() {
    background-color: transparent;
    border-radius: 0px;
  }

  .internal {
    color: $ui_grey;
    @include avenir_R();
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;

    @include mobile() {
      @include avenir_M();
    }

    &.new {
      @include avenir_H();
      color: $deep_navy;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.all-posts-label, div.must-see-label, div.drafts-label {
      text-decoration: none;
    }
  }

  div.all-posts-label, div.drafts-label, div.must-see-label {
    color: $ui_grey;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include avenir_H();
      color: $deep_navy;
    }
  }
}

div.left-navigation-sidebar {
  position: absolute;
  position: fixed;
  max-height: calc(100vh - 96px);
  overflow-y: auto;
  overflow-x: visible;
  padding-bottom: 20px;
  width: #{$left_navigation_sidebar_width}px;
  top: 96px;
  height: calc(100vh - 80px);
  @include no-user-select();

  @include mobile() {
    position: absolute;
    margin-top: 56px;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    display: none;
    z-index: 10000;
    background-color: transparent;
    max-height: unset;
    height: unset;
    overflow-y: unset;
    overflow-x: unset;

    &.show-mobile-boards-menu {
      display: block;
    }
  }

  div.mobile-board-name-container {
    position: relative;
    display: none;

    @include mobile() {
      display: block;
      height: 48px;
      padding: 15px;
      background-color: white;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      // border-top: 1px solid $light_tan;
      @include avenir_H();
      font-size: 15px;
      color: $deep_navy;

      &:before {
        display: block;
        content: "";
        width: 14px;
        height: 8px;
        background-image: cdnUrl("/img/ML/section_chevron.svg");
        background-size: 14px 8px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 21px;
        left: 28px;
        transform: rotate(180deg);
      }
      
      div.board-name {
        max-width: 350px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @include mobile() {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

  div.left-navigation-sidebar-content {
    padding-bottom: 32px;
    width: #{$left_navigation_sidebar_width}px;

    @include mobile() {
      position: relative;
      padding-bottom: 0px;
      background-color: white;
      width: 100%;
    }
  }

  a.all-posts {
    margin-bottom: 0px;
  }

  a.must-see {
    margin-bottom: 16px;

    &.showing-drafts {
      margin-bottom: 0px;
    }
  }

  a.all-posts, a.drafts, a.must-see {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 16px;

    @include mobile() {
      padding-left: 0px;
    }

    &.hover-item{
      @include default-item();

      * {
        cursor: pointer;
      }

      @include big_web() {
        &:not(.item-selected):hover, &:not(.item-selected):active {
          @include item-hover();
        }
      }

      &.item-selected {
        @include item-selected();
      }
    }

    div.all-posts-label, div.drafts-label, div.must-see-label {
      padding: 2px 0px 0px 16px;
      width: 148px;
      text-align: left;
      margin-left: 16px;
      text-decoration: none;

      @include mobile() {
        margin-left: 34px;
        width: auto;
        padding: 0px;
      }
    }

    div.all-posts-icon {
      background-image: cdnUrl("/img/ML/digest_icon_grey.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center 6px;
      width: 16px;
      height: 28px;
      float: left;

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 4px;
        opacity: 1;
      }
      
      @include preload_image(cdnUrl("/img/ML/digest_icon_green.svg"));

      &.selected {
        opacity: 1;
        background-image: cdnUrl("/img/ML/digest_icon_green.svg");
      }
    }

    div.must-see-icon {
      background-image: cdnUrl("/img/ML/must_see_bolt_grey.svg");
      background-size: 13px 16px;
      background-position: center 6px;
      background-repeat: no-repeat;
      width: 16px;
      height: 28px;
      float: left;

      @include preload_image(cdnUrl("/img/ML/must_see_bolt_green.svg"));

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 4px;
        opacity: 1;
      }

      &.selected {
        opacity: 1;
        background-image: cdnUrl("/img/ML/must_see_bolt_green.svg");
      }
    }
  }

  a.drafts {
    margin-bottom: 16px;

    @include mobile() {
      margin-bottom: 0px;
    }

    &.hover-item {
      @include mobile() {
        &:after {
          display: none;
        }
      }
    }
  }

  div.left-navigation-sidebar-top{
    height: 20px;

    @include mobile() {
      border-top: 1px solid #ECECEC;
      height: 56px;
    }

    .left-navigation-sidebar-top-title {
      padding: 0px 0px 0px 48px;
      margin: 0;
      margin-bottom: 8px;

      @include mobile() {
        background-color: $oc_gray_8;
        height: 56px;
        width: 100%;
        padding: 16px 32px;
        margin-bottom: 0px;
      }

      span {
        @include avenir_B();
        font-size: 13px;
        color: $light_ui_grey;
        float: left;
        cursor: default;

        @include mobile() {
          margin-left: 34px;
          margin-top: 7px;
        }
      }

      div.boards-icon {
        background-size: 12px 10px;
        background-repeat: no-repeat;
        width: 12px;
        height: 10px;
        float: left;
        margin-right: 3px;
        margin-top: 6px;
        background-image: cdnUrl("/img/ML/boards_icon.svg");
      }
    }

    button.left-navigation-sidebar-top-title-button {
      width: 20px;
      height: 20px;
      margin-left: 8px;
      margin-top: -5px;
      float: left;
      padding: 0;
      cursor: pointer;
      transition: 230ms;
      background-color: #F0EFEA;
      background-image: cdnUrl("/img/ML/plus_button_icon.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 8px 8px;
      border-radius: 10px;
      @include avenir_H();

      @include preload_image(cdnUrl("/img/ML/plus_button_icon_white.svg"));

      &:hover, &.active {
        background-image: cdnUrl("/img/ML/plus_button_icon_white.svg");
        background-color: $carrot_green_2;
      }

      @include mobile() {
        display: none;
        float: right;

        &:hover {
          background-color: #F0EFEA;
          background-image: cdnUrl("/img/ML/plus_button_icon.svg");
        }
      }
    }
  }

  div.left-navigation-sidebar-items{

    a.left-navigation-sidebar-item {
      display: block;
      cursor: default;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding-left: 16px;
      margin: 0;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      @include mobile() {
        padding-left: 0px;
      }

      &.drafts-board {
        margin-top: 24px;
      }

      &:last-child {
        margin-bottom: 10px;

        @include mobile() {
          margin-bottom: 0px;
        }
      }

      &.hover-item {
        @include default-item();
        * {
          cursor: pointer;
        }

        @include big_web() {
          &:not(.item-selected):hover, &:not(.item-selected):active {
            @include item-hover();
          }
        }

        &.item-selected {
          @include item-selected();
        }
      }

      div.public {
        float: left;
        width: 16px;
        height: 28px;
        background-image: cdnUrl("/img/ML/board_public.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;

        @include preload_image(cdnUrl("/img/ML/board_public_green.svg"));

        @include mobile() {
          opacity: 1;
        }

        &.selected {
          opacity: 1;
          background-image: cdnUrl("/img/ML/board_public_green.svg");
        }
      }

      div.private {
        float: left;
        width: 16px;
        height: 28px;
        background-image: cdnUrl("/img/ML/board_private.svg");
        background-size: 9px 11px;
        background-position: center;
        background-repeat: no-repeat;

        @include preload_image(cdnUrl("/img/ML/board_private_green.svg"));

        @include mobile() {
          opacity: 1;
        }

        &.selected {
          opacity: 1;
          background-image: cdnUrl("/img/ML/board_private_green.svg");
        }
      }

      div.board-name {
        margin-left: 32px;

        div.internal {
          padding: 3px 0px 0px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 133px;
          float: left;
          cursor: pointer;

          @include mobile() {
            width: auto;
            margin-left: 0px;
          }

          .emojione {
            @include emoji-size(12);
          }
        }
      }
    }
  }

  div.left-navigation-sidebar-footer {
    margin-left: 16px;
    position: relative;
    padding-bottom: 23px;

    @include mobile() {
      // Temp remove bottom links on mobile
      display: none;

      opacity: 0.5;
      margin-left: 16px;

      button {
        width: 100%;
        text-align: left;
      }
    }

    &.navigation-sidebar-overflow {
      position: absolute;
      bottom: 23px;
      padding-bottom: 0px;
    }

    div.invite-people-tooltip-container {
      border: 2px dashed $carrot_gold;
      background-color: #FDF6E4;
      border-radius: 6px;
      padding: 32px 16px;
      margin: 0px 0px 16px 7px;
      position: relative;
      width: 192px;

      @include tablet() {
        display: none;
      }

      button.invite-people-tooltip-dismiss {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 30px;
        height: 30px;
        background-image: cdnUrl("/img/ML/dismiss_tooltip_x.svg");
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;

        @include tablet() {
          top: 16px;
          left: 16px;
        }
      }

      div.invite-people-tooltip-icon {
        background-image: cdnUrl("/img/ML/happy_face_green.svg");
        background-size: 48px 48px;
        background-position: center;
        background-repeat: no-repeat;
        width: 48px;
        height: 48px;
        margin: 0px auto;
      }

      div.invite-people-tooltip-title {
        @include avenir_H();
        font-size: 14px;
        color: $deep_navy;
        width: 100%;
        margin: 24px auto 0px;
        text-align: center;
        max-width: 146px;
      }

      div.invite-people-tooltip-description {
        @include avenir_R();
        font-size: 14px;
        color: $deep_navy;
        width: 100%;
        margin: 8px auto 0px;
        text-align: center;
      }

      div.invite-people-tooltip-arrow {
        background-image: cdnUrl("/img/ML/invite_people_tooltip_arrow.svg");
        background-size: 20px 38px;
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 38px;
        margin: 8px auto 0px;
      }
    }

    button.about-carrot-btn {
      @include avenir_M();
      margin-top: 4px;
      width: 100%;
      text-align: left;

      &:hover {
        text-decoration: underline;
      }

      div.about-carrot-icon {
        background-image: cdnUrl("/img/ML/carrot_grey.svg");
        background-size: auto 16px;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
        opacity: 0.6;

        @include mobile() {
          color: white;
          opacity: 1;
        }
      }

      span {
        font-size: 14px;
        line-height: 25px;
        color: $ui_grey;
        margin-left: 5px;

        @include mobile() {
          color: white;
        }
      }
    }

    button.invite-people-btn {
      @include avenir_M();
      width: 100%;
      text-align: left;
      padding: 2px 0px;
      height: 28px;

      &:hover {
        text-decoration: underline;
      }

      div.invite-people-icon {
        background-image: cdnUrl("/img/ML/invite_people.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center 5px;
        width: 16px;
        height: 28px;
        float: left;
        opacity: 0.6;

        @include mobile() {
          opacity: 1;
        }
      }

      span {
        font-size: 14px;
        line-height: 28px;
        color: $ui_grey;
        display: block;
        float: left;
        margin-left: 16px;

        @include mobile() {
          color: white;
        }
      }
    }
  }
}