nav.oc-navbar {
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  border-top: 4px solid $oc_yellow;
  margin: 0px;
  height: #{$navbar_height}px;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);

  div.su-snapshot-preview{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #989EA6;

    div.su-snapshot-preview-internal{
      margin: 13.5px auto;
      padding: 0 30px;
      text-align: center;

      div.su-snapshot-buttons{
        width: 400px;
        margin: 0 auto;
        height: 30px;

        button.ready-slack-button {
          float: left;
          outline: none;
          border: 0px solid transparent;
          width: 180px;
          background-color: $oc_yellow;
          padding: 0px;
          margin:0px;
          text-align: left;
          width: 180px;
          height: 30px;

          &:active, &:focus {
            outline: none;
            border: none;
          }

          label {
            padding-top: 7px;
            padding-left: 10px;
            font-weight: 700;
            font-family: $oc_headers_font;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $oc_gray_5;
            cursor: pointer;
            opacity: 0.7;
          }

          i.fa.fa-slack, img.small-loading {
            font-size: 20px;
            float: left;
            margin: 6px 0 0 17px;
            color: rgba(78, 90, 107, 0.7);
            width: 20px;
            height: 20px;
          }

          img.slack-icon {
            width: 20px;
            height: 20px;
            float: left;
            margin: 6px 0 0 17px;
          }
        }

        button.ready-mail-button {
          float: right;
          outline: none;
          border: 0px solid transparent;
          width: 180px;
          background-color: $oc_yellow;
          padding: 0px;
          margin:0px;
          text-align: left;
          width: 180px;
          height: 30px;

          &:active, &:focus {
            outline: none;
            border: none;
          }

          label{
            padding-top: 7px;
            padding-left: 20px;
            font-weight: 700;
            font-family: $oc_headers_font;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $oc_gray_5;
            cursor: pointer;
            opacity: 0.7;
          }

          div.svg-icon, img.small-loading {
            float: left;
            width: 20px;
            height: 20px;
            margin: 6px 0 0 33px;
          }
        }
      }

      div.preview-title {
        width: 150px;
        font-weight: 700;
        font-family: $oc_headers_font;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #ffffff;
        margin: 0 auto;
      }

      button.close-preview {
        float: right;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        display: block;
        color: white;
        margin-top: -30px;
      }
    }
  }

  div.oc-navbar-header {
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 30px;

    @media screen and (max-width: 413px){
      margin-left: 9px;
      margin-right: 9px;
      width: auto !important;
    }

    @media screen and (max-width: 683px){
      padding: 0px;
    }

    ul.navbar-right {
      float: right;
      margin-right: 0px;
    }
  }
}