@mixin default-item(){
  background-color: transparent;
  height: 32px;
  padding-top: 5px;

  @include mobile() {
    height: 40px;
    margin: 2px 0;
    padding: 7px 16px;

    &.all-posts {
      margin-top: 16px;
    }
  }

  .internal {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    text-decoration: none;

    &.new {
      @include OC_Body_Bold();
    }

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  span.count {
    float: right;
    @include OC_Body_Book();
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--color);
    min-width: 16px;
    height: 16px;
    display: inline-block;
    background-color: var(--navigation-sidebar-count-bg);
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 16px;
    padding: 0 4px;

    @include mobile() {
      float: left;
      margin-top: 5px;
      margin-left: 8px;
    }
  }

  div.drafts-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.inbox-label, div.all-posts-label, div.bookmarks-label, div.drafts-label, div.contributions-label, div.following-label {
      text-decoration: none;
    }
  }

  div.inbox-label, div.all-posts-label, div.bookmarks-label, div.contributions-label, div.following-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
      color: var(--color);
    }
  }
}

@mixin item-selected() {
  background-color: $carrot_green;
  outline: none;
  border-radius: 4px;

  @include mobile() {
    border-radius: 0;
  }

  .internal, div.inbox-label, div.all-posts-label, div.bookmarks-label, div.drafts-label, div.contributions-label, div.following-label {
    // color: $carrot_green;
    @include OC_Body_Book();
    font-size: 14px;
    text-decoration: none;
    color: white;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    span.count {
      background-color: white;
      color: $deep_navy;
    }

    @include mobile() {
      color: white;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }

  span.count {
    background-color: white;
    color: $deep_navy;
  }

  div.inbox-label, div.all-posts-label, div.bookmarks-label, div.drafts-label, div.contributions-label, div.following-label {
    font-size: 14px;
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.inbox-label, div.all-posts-label, div.bookmarks-label, div.drafts-label, div.contributions-label, div.following-label {
      text-decoration: none;
    }
  }

  div.inbox-label, div.all-posts-label, div.bookmarks-label, div.contributions-label, div.following-label {
    @include OC_Body_Book();
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

@mixin item-hover(){
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: var(--navigation-sidebar-hover-bg);
  background-color: var(--navigation-sidebar-hover-bg);
  border-radius: 4px;

  @include mobile() {
    background-color: transparent;
    border-radius: 0;
  }

  .internal {
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }

  div.inbox-label, div.all-posts-label, div.bookmarks-label, div.contributions-label, div.following-label {
    color: var(--color);
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

div.left-navigation-sidebar {
  position: absolute;
  position: fixed;
  overflow-y: auto;
  overflow-x: visible;
  overflow: visible;
  width: #{$left_navigation_sidebar_width}px;
  top: #{$navbar_height}px;
  // height: calc(100vh - #{$navbar_height + 1}px);
  @include no-user-select();
  padding: 24px 0 0;

  @include big_web() {
    &.collapsed-sections {
      overflow-y: hidden;

      div.left-navigation-sidebar-content {
        overflow-y: hidden;
      }
    }
  }

  @include big_web() {
    &.absolute-position {
      position: absolute;
      top: 0;
      overflow-y: visible;
      overflow: visible;
    }
  }

  @media screen and (max-width: 975px) {
    position: absolute;
    top: 0;
  }

  @include mobile() {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: #{$navbar_zindex + 7};
    background-color: $carrot_modal_bg;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: initial;
    padding: 0;

    &.mobile-show-side-panel {
      display: block;
    }
  }

  div.left-navigation-sidebar-content {
    width: #{$left_navigation_sidebar_width}px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;

    @include mobile() {
      position: relative;
      padding-bottom: 40px;
      width: 85%;
      height: auto;
      background-color: var(--background-color);
      min-height: 100%;
      padding-top: #{$mobile_navbar_height + 16}px;
      -webkit-overflow-scrolling: touch;
    }

    div.left-navigation-sidebar-mobile-header {
      display: none;

      @include mobile() {
        display: block;
        height: #{$mobile_navbar_height}px;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(85% - 1px);
        background-color: var(--background-color);
        padding: 11px 16px;
        border-bottom: 1px solid var(--divider-line);
        z-index: #{$navbar_zindex};

        button.mobile-close-bt {
          display: block;
          position: absolute;
          right: 16px;
          top: 11px;
          width: 32px;
          height: 32px;
          padding: 0;
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          background-color: var(--ultralight-color);
          border-radius: 4px;
        }

        div.orgs-dropdown  {
          width: calc(100% - 40px);

          div.orgs-dropdown-container {
            z-index: 2;
          }
        }
      }
    }
  }

  a.inbox, a.all-posts, a.bookmarks, a.drafts, a.contributions, a.following {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 16px;

    &.top-margin {
      margin-top: 16px;
    }

    @include mobile() {
      padding-left: 0px;
    }

    &.hover-item{
      @include default-item();

      * {
        cursor: pointer;
      }

      @include big_web() {
        &:not(.item-selected):hover, &:not(.item-selected):active, &:not(.item-selected):focus {
          @include item-hover();
        }
      }

      &.item-selected {
        @include item-selected();
      }
    }

    &.item-selected {

      div.inbox-icon {
        background-image: cdnUrl("/img/ML/inbox_icon_white.svg");
      }

      div.all-posts-icon {
        background-image: cdnUrl("/img/ML/digest_icon_white.svg");
      }

      div.bookmarks-icon {
        background-image: cdnUrl("/img/ML/bookmarks_icon_white.svg");
      }

      div.drafts-icon {
        background-image: cdnUrl("/img/ML/drafts_icon_white.svg");
      }

      div.following-icon {
        background-image: cdnUrl("/img/ML/digest_icon_white.svg");
      }
    }

    div.inbox-label, div.all-posts-label, div.bookmarks-label, div.drafts-label, div.contributions-label, div.following-label {
      padding: 2px 0px 0px 0;
      float: left;
      text-align: left;
      margin-left: 12px;
      text-decoration: none;

      @include mobile() {
        padding: 0px;
        line-height: 18px;
      }
    }

    div.contributions-label {
      margin-left: 7px;
      max-width: 92px;

      @include mobile() {
        max-width: initial;
      }
    }

    div.inbox-icon {
      background-image: cdnUrl("/img/ML/inbox_icon_grey.svg");
      background-size: 14px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        opacity: 1;
        height: 24px;
      }
    }

    div.all-posts-icon {
      background-image: cdnUrl("/img/ML/digest_icon_grey.svg");
      background-size: 14px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        opacity: 1;
        height: 24px;
      }
    }

    div.bookmarks-icon {
      background-image: cdnUrl("/img/ML/bookmarks_icon_grey.svg");
      background-size: 12px 16px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 5px;
        opacity: 1;
      }
    }

    div.drafts-icon {
      background-image: cdnUrl("/img/ML/drafts_icon_grey.svg");
      background-size: 12px 16px;
      background-repeat: no-repeat;
      background-position: center 3px;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        background-position: center;
        opacity: 1;
        height: 24px;
      }
    }

    div.following-icon {
      background-image: cdnUrl("/img/ML/digest_icon_grey.svg");
      background-size: 14px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;
      transform: rotate(90deg);

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 5px;
        opacity: 1;
        height: 24px;
      }
    }
  }

  a.drafts {

    @include mobile() {
      margin-bottom: 0px;
    }

    &.hover-item {
      @include mobile() {
        &:after {
          display: none;
        }
      }
    }
  }

  div.left-navigation-sidebar-top{
    margin-top: 16px;

    .left-navigation-sidebar-top-title {
      padding: 0 16px;
      margin: 0;
      height: 32px;
      width: 100%;
      border-radius: 4px;

      @include mobile() {
        padding: 4px 16px;
        height: 40px;
        position: relative;
        z-index: 1;
        border-radius: 0;
      }

      @include big_web() {
        &:hover {
          background-color: var(--navigation-sidebar-hover-bg);
        }
      }

      button.left-navigation-sidebar-sections-arrow {
        position: relative;
        height: 32px;
        padding: 0 0 0 28px;

        &.collapsed:before {
          transform: rotate(-90deg);
        }

        &.collapsed.new span.sections {
          @include OC_Body_Bold();
        }

        &:before {
          content: "";
          position: absolute;
          top: 12px;
          left: 3px;
          background-image: cdnUrl("/img/ML/navigation_sidebar_sections_arrow.svg");
          background-size: 12px 6px;
          background-repeat: no-repeat;
          background-position: center;
          width: 12px;
          height: 6px;
          transition: 180ms transform;
        }

        span.sections {
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 32px;
          color: var(--color);
          float: left;
        }

        @include mobile() {
          cursor: default;

          span.sections {
            color: var(--light-color);
            font-size: 16px;
          }
        }
      }
    }

    button.left-navigation-sidebar-top-title-button {
      width: 20px;
      height: 20px;
      margin-right: -2px;
      float: right;
      padding: 0;
      cursor: pointer;
      transition: 230ms;
      background-image: cdnUrl("/img/ML/plus_button_icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
      @include OC_Body_Bold();
      margin-top: 7px;

      @include mobile() {
        display: none;

        &.people-plus-bt {
          display: block;
        }
      }
    }
  }

  div.left-navigation-sidebar-items {
    @include mobile() {
      position: relative;
      z-index: 1;
    }

    a.left-navigation-sidebar-item {
      display: block;
      cursor: pointer;
      padding-left: 16px;
      margin: 0;
      text-decoration: none;
      width: 100%;
      position: relative;
      z-index: 1;

      &:hover {
        text-decoration: none;
      }

      @include mobile() {
        padding-left: 0px;
      }

      &.drafts-board {
        margin-top: 24px;
      }

      &.hover-item {
        @include default-item();
        * {
          cursor: pointer;
        }

        @include big_web() {
          &:not(.item-selected):hover, &:not(.item-selected):active, &:not(.item-selected):focus {
            @include item-hover();
          }
        }

        &.item-selected {
          @include item-selected();

          div.public {
            background-image: cdnUrl("/img/ML/board_public_white.svg");
            opacity: 1;
          }

          div.private {
            background-image: cdnUrl("/img/ML/board_private_white.svg");
            opacity: 1;
          }
        }
      }

      div.public {
        margin-left: 1px;
        width: 16px;
        height: 21px;
        background-image: cdnUrl("/img/ML/board_public.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;

        @include mobile() {
          margin-left: 0;
          margin-top: 2px;
          opacity: 1;
        }
      }

      div.private {
        margin-left: 1px;
        width: 16px;
        height: 21px;
        background-image: cdnUrl("/img/ML/board_private.svg");
        background-size: 10px 12px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;

        @include mobile() {
          margin-left: 0;
          margin-top: 2px;
          opacity: 1;
        }
      }

      &.contributions {
        div.board-name {
          @include user-profile(16) {
            margin: 3px 0 0 2px;
          }

          div.internal {
            padding: 1px 0px 0px 11px;
          }
        }
      }

      div.board-name {
        width: calc(100% - 8px);
        float: left;

        div.internal {
          padding: 1px 0px 0px 28px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;
          max-width: 100%;

          @include mobile() {
            width: auto;
            margin-left: 0px;
          }

          .emojione {
            @include emoji-size(12);
          }
        }
      }

      &.contributions {
        @include user_profile(22);

        div.user-avatar-img-container {
          float: left;
        }
      }
    }
  }

  div.left-navigation-sidebar-footer {
    position: relative;
    width: 100%;
    overflow: visible;
    padding: 16px 0;

    @include mobile() {
      display: none;
    }

    button.invite-people-bt {
      width: 100%;
      height: 32px;
      text-align: left;
      padding-left: 40px;
      border-radius: 4px;
      background-image: cdnUrl("/img/ML/invite_people_bt.svg");
      background-size: 14px 14px;
      background-position: left 17px top 9px;
      background-repeat: no-repeat;
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
      line-height: 18px;

      @include big_web(){
        &:hover {
          background-color: var(--navigation-sidebar-hover-bg);
        }
      }
    }
  }
}

@include dark_mode() {
  div.left-navigation-sidebar {
    div.left-navigation-sidebar-content div.left-navigation-sidebar-mobile-header {
      @include mobile() {
        button.mobile-close-bt {
          background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
        }
      }
    }

    a.inbox, a.all-posts, a.bookmarks, a.drafts, a.following {
      div.inbox-icon {
        background-image: cdnUrl("/img/ML/inbox_icon_white.svg");
      }

      div.all-posts-icon {
        background-image: cdnUrl("/img/ML/digest_icon_white.svg");
      }

      div.bookmarks-icon {
        background-image: cdnUrl("/img/ML/bookmarks_icon_white.svg");
      }

      div.drafts-icon {
        background-image: cdnUrl("/img/ML/drafts_icon_white.svg");
      }

      div.following-icon {
        background-image: cdnUrl("/img/ML/digest_icon_white.svg");
      }
    }

    div.left-navigation-sidebar-top {
      .left-navigation-sidebar-top-title button.left-navigation-sidebar-sections-arrow:before {
        background-image: cdnUrl("/img/ML/navigation_sidebar_sections_arrow@dark.svg");
      }

      button.left-navigation-sidebar-top-title-button {
        background-image: cdnUrl("/img/ML/plus_button_icon@dark.svg");
      }
    }

    div.left-navigation-sidebar-items a.left-navigation-sidebar-item {
      div.public {
        background-image: cdnUrl("/img/ML/board_public_white.svg");
      }

      div.private {
        background-image: cdnUrl("/img/ML/board_private_white.svg");
      }
    }

    div.left-navigation-sidebar-footer {
      button.invite-people-bt {
        background-image: cdnUrl("/img/ML/invite_people_bt@dark.svg");
      }
    }
  }
}