nav.oc-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  transition: height 230ms;
  border-bottom: 1px solid #ECECEC;

  &.not-fixed {
    @include mobile() {
      box-shadow: none;
      position: absolute;
    }
  }

  &.showing-orgs-dropdown {
    overflow: visible;
  }

  @include mobile(){
    &.show-login-overlay {
      height: 100vh !important;
    }
  }

  @include big_web(){
    height: #{$navbar_height}px;
  }

  @include mobile(){
    transition: 230ms;
    overflow: hidden;
    height: 100vh;

    &.showing-orgs-dropdown {
      overflow: visible;
    }

    &:not(.mobile-menu-open) {
      height: #{$navbar_height}px;
    }
  }

  z-index: $navbar_zindex;
  background-color: white;
  margin: 0px;

  div.oc-navbar-header {
    padding-top: 10px;
  }

  div.oc-navbar-header {
    position: relative;
    margin: 0 auto;
    padding: 12px 24px;
    height: #{$navbar_height}px;
    width: 100%;

    @include mobile() {
      width: 100vw;
    }

    div.oc-navbar-header-container{
      height: 32px;

      div.mobile-underline {
        display: none;

        @include mobile() {
          display: block;
          position: absolute;
          top: 55px;
          left: 0px;
          width: 18%;
          height: 1px;
          background-color: $carrot_orange;
        }
      }

      div.navbar-center {
        text-align: center;
        width: 320px;
        height: 32px;
        position: absolute;
        left: 50%;
        top: 12px;
        margin-left: -160px;
        @include avenir_H();
        font-size: 26px;

        @include mobile() {
          width: 80px;
          height: 32px;
          margin-left: -40px;
        }

        button.orgs-dropdown div.org-avatar {
          height: 32px;
          @include org-avatar(32);
        }
      }

      div.navbar-left {
        float: left;
        height: 32px;

        @include mobile() {
          width: 40%;
        }

        button.mobile-navigation-sidebar-ham-bt {
          display: none;

          &.active {
            @include mobile() {
              background-image: cdnUrl("/img/ML/navbar_all_posts_active.svg");
            }
          }

          @include mobile() {
            width: 24px;
            height: 24px;
            background-image: cdnUrl("/img/ML/navbar_all_posts.svg");
            background-repeat: no-repeat;
            background-size: 19px 19px;
            background-position: center;
            float: left;
            display: block;
            margin-top: 4px;

            &.close-bt {
              background-image: cdnUrl("/img/ML/black_close.svg");
              background-size: 15px 15px;
              background-position: center;
            }
          }
        }
      }

      div.navbar-right {
        float: right;
        margin-right: 0px;

        div.user-notifications {
          float: left;
          margin-right: 16px;
          margin-top: 4px;
        }

        div.user-menu {
          width: 48px;
          height: 32px;
          float: right;

          @inlcude mobile() {
            float: unset;
          }
        }

        button.mobile-menu {
          font-size: 24px;
          padding: 0px 16px 0px 0px;
          margin-top: 2px;
          position: relative;

          &:after {
            content: "";
            width: 9px;
            height: 6px;
            background-image: cdnUrl("/img/ML/user_menu_chevron.svg");
            background-size: 9px 6px;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 12px;
            right: 0px;
          }

          @include user-profile(32);
        }
      }
    }
  }
}