body.fixed-navbar {
  nav.oc-navbar{
    position: fixed;
    top: -71px;
    left: 0;
  }
}

nav.oc-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;

  @include mobile(){
    &.show-login-overlay {
      height: 100vh !important;
    }
  }

  @include big_web(){
    height: #{$navbar_height}px;
  }
  @include mobile(){
    transition: 230ms;
    overflow: hidden;
    height: #{$mobile_navbar_height}px;

    &.mobile-menu-open {
      height: #{$mobile_navbar_height + $mobile_menu_item_height}px;

      &.jwt {
        height: #{$mobile_navbar_height + ($mobile_menu_item_height * 2)}px;

        &.has-prior-updates {
          height: #{$mobile_navbar_height + ($mobile_menu_item_height * 3)}px;
        }

        &.can-edit-company {
          height: #{$mobile_navbar_height + ($mobile_menu_item_height * 3)}px;

          &.has-prior-updates {
            height: #{$mobile_navbar_height + ($mobile_menu_item_height * 4)}px;
          }
        }
      }

      &.has-prior-updates {
        height: #{$mobile_navbar_height + ($mobile_menu_item_height * 2)}px;
      }
    }
  }
  z-index: 1030;
  background-color: white;
  border-top: 4px solid $oc_yellow;
  margin: 0px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  &.small-navbar:not(.mobile-menu-open) {
    height: #{$mobile_navbar_height}px;
  }

  div.su-snapshot-preview{
    position: absolute;
    top: 0; left: 0; right: 0;
    width: 100%;
    background-color: #989EA6;

    div.su-snapshot-preview-internal{
      padding: 13.5px 30px;
      text-align: center;

      div.su-snapshot-buttons{
        margin: 0 auto;

        button.btn-solid {min-height: 38px}

        button i.fa.fa-slack, button img.small-loading {
          font-size: 19px;
          color: rgba(78, 90, 107, 0.7);
          width: 19px;
          height: 19px;
        }
      }

      div.preview-title {
        width: 150px;
        font-weight: 700;
        font-family: $oc_headers_font;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #ffffff;
        margin: 0 auto;
      }

      button.close-preview {
        float: right;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        display: block;
        color: white;
        margin-top: -30px;
      }
    }
  }

  div.oc-navbar-header {
    position: relative;
    margin: 0 auto;
    padding: 0 28px;
    margin-top: 20px;

    div.oc-navbar-header-container{
      height: 45px;
    }

    div.oc-navbar-separator {
      border-bottom: 1px solid rgba(78,90,107,0.1);
      padding-top: 10px;
    }

    @media screen and (max-width: 413px){
      margin-left: 9px;
      margin-right: 9px;
      width: auto !important;
    }

    @media screen and (max-width: 683px){
      padding: 0px;
      margin-top: 10px;
    }

    ul.navbar-right {
      float: right;
      margin-right: 0px;

      div.user-avatar {
        float: right;
      }

      div.sharing-button-container{
        float: right;

        button.sharing-button {
          margin-top: 7px;
          margin-right: 10px;
          transition: 230ms;

          &.btn-link {
            font-size: 14px;
            color: $oc_blue_dark;
            font-family: $oc_headers_font;
            margin-top: 11px;
            outline: none;
            font-weight: 400;
            text-transform: none;
            font-style: none;
            text-decoration: none;
            opacity: 1;

            &:hover {
              color: black;
            }

            [disabled=disabled]{
              opacity: 1;
            }
          }
        }
      }

      button.mobile-menu {
        font-size: 24px;
        padding: 3px 20px 3px 20px;
        margin-top: 0px;
        border-radius: 4px;

        &:active {
          background-color: rgba(78,90,107,0.3);
        }

        div.vertical-ellipses {
          background: $oc_gray_5;
          width: 8px;
          height: 24px;
          -webkit-mask: url("/img/vert-ellipsis.svg") center / contain no-repeat;
        }
      }
    }
  }

  div.oc-navbar-bottom {
    position: relative;
    margin: 7px auto;
    padding: 0 28px;

    div.sharing-button-container{

      button {
        width: 128px;
        margin-left: 10px;
        height: 33px;
        font-size: 0.75rem;
        font-weight: 700;
        font-family: $oc_headers_font;
      }

      button.share-button {
        font-size: 16px;
        padding-top: 3px;
      }
    }

    a {
      font-size: 14px;
      color: rgba(78,90,107,0.6);
      margin-right: 20px;
      font-family: $oc_headers_font;
      margin-top: 2px;
      outline: none;

      &:hover {
        color: $oc_gray_5;
      }

      &:hover, &:active, &:focus {
        outline: none;
        text-decoration: none;
      }

      &.active {
        color: $oc_gray_5;
      }
    }

    div.right {
      a {
        margin-right: 0px;
        margin-left: 20px;
      }
    }
  }
}