nav.oc-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  transition: height 230ms;
  box-shadow: 0px 2px 6px 0px rgba($deep_tan, 0.5);

  &.not-fixed {
    @include mobile() {
      box-shadow: none;
      position: absolute;
    }
  }

  &.showing-orgs-dropdown {
    overflow: visible;
  }

  @include mobile(){
    &.show-login-overlay {
      height: 100vh !important;
    }
  }

  @include big_web(){
    height: #{$navbar_height}px;
  }

  @include mobile(){
    transition: 230ms;
    overflow: hidden;
    height: 100vh;

    &.showing-orgs-dropdown {
      overflow: visible;
    }

    &:not(.mobile-menu-open) {
      height: #{$navbar_height}px;
    }
  }

  z-index: $navbar_zindex;
  background-color: white;
  margin: 0px;

  div.oc-navbar-header {
    padding-top: 10px;
  }

  div.oc-navbar-header {
    position: relative;
    margin: 0 auto;
    padding: 12px 24px;
    height: #{$navbar_height}px;
    width: 100%;

    @include mobile() {
      width: 100vw;
    }

    div.oc-navbar-header-container{
      height: 40px;

      div.navbar-center {
        text-align: center;
        width: 320px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 12px;
        margin-left: -160px;
        @include avenir_H();
        font-size: 26px;

        @include mobile() {
          width: 50%;
          height: 32px;
          margin-left: -25%;
          margin-top: 4px;
        }

        button.orgs-dropdown div.org-avatar {
          height: 40px;

          @include big_web() {
            @include org-avatar(40);
          }

          @include mobile() {
            height: 32px;
            @include org-avatar(32);
          }
        }
      }

      div.navbar-left {
        float: left;
        margin-top: 8px;
        height: 24px;

        @include mobile() {
          width: 40%;
        }

        button.mobile-navigation-sidebar-ham-bt {
          display: none;

          @include mobile() {
            width: 24px;
            height: 24px;
            background-image: cdnUrl("/img/ML/mobile_navigation_sidebar_ham.svg");
            background-repeat: no-repeat;
            background-size: 18px 14px;
            background-position: 3px 5px;
            display: inline;
          }
        }
      }

      div.navbar-right {
        float: right;
        margin-right: 0px;

        div.user-menu {
          margin-top: 4px;
          width: 32px;
          height: 32px;
        }

        button.mobile-menu {
          font-size: 24px;
          padding: 0px;
          margin-top: 2px;

          @include user-profile(32);
        }
      }
    }
  }
}