@mixin default-item(){
  background-color: transparent;
  height: 34px;
  padding-top: 6px;

  @include mobile() {
    height: 72px;
    padding: 24px 16px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 46px;
      height: 1px;
      width: calc(100% - 65px);
      background-color: $ultra_light_grey;
    }

    &:first-child:before {
      width: 100%;
      left: 0px;
    }
  }

  .internal {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;

    &.new {
      @include OC_Body_Bold();
    }
  }

  span.count {
    float: right;
    @include OC_Body_Book();
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $light_navy;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: rgba($light_navy, 0.1);
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 16px;
  }

  div.drafts-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;

    &.new {
      color: $deep_navy;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.all-posts-label, div.follow-ups-label, div.must-see-label, div.drafts-label {
      text-decoration: none;
    }
  }

  div.all-posts-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
      color: $deep_navy;
    }
  }

  div.follow-ups-label {
    @include OC_Body_Bold();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }

  div.must-see-label {
    @include OC_Body_Bold();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

@mixin item-selected() {
  background-color: $grey_num_2;
  outline: none;

  @include mobile() {
    background-color: transparent;
  }

  .internal, div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
    // color: $carrot_green;
    @include OC_Body_Bold();
    font-size: 14px;
    text-decoration: none;

    span.count {
      color: $carrot_green;
    }
  }

  div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
    font-size: 14px;
    text-decoration: none;
  }

  &:active, &:focus {
    text-decoration: none;

    div.all-posts-label, div.follow-ups-label, div.must-see-label, div.drafts-label {
      text-decoration: none;
    }
  }

  div.all-posts-label, div.follow-ups-label, div.must-see-label {
    @include OC_Body_Bold();
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }
  }
}

@mixin item-hover(){
  background-color: $grey_num_2;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: $grey_num_2;

  @include mobile() {
    background-color: transparent;
  }

  .internal {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;

    &.new {
      @include OC_Body_Bold();
    }
  }

  div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
    color: $deep_navy;
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

div.left-navigation-sidebar {
  position: absolute;
  position: fixed;
  max-height: calc(100vh - #{$navbar_height + 1}px);
  overflow-y: auto;
  overflow-x: visible;
  width: #{$left_navigation_sidebar_width}px;
  top: #{$navbar_height}px;
  left: 0;
  height: calc(100vh - #{$navbar_height + 1}px);
  @include no-user-select();
  background-color: $ultra_light_grey;
  float: left;
  transition: left 180ms ease-in;

  &.hide-left-navbar {
    left: -216px;
  }

  @include mobile() {
    position: absolute;
    margin-top: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    display: none;
    z-index: 10000;
    background-color: transparent;
    max-height: unset;
    height: unset;
    overflow-y: unset;
    overflow-x: unset;
    padding-bottom: 0;

    &.show-mobile-boards-menu {
      display: block;
    }
  }

  div.left-navigation-sidebar-content {
    width: #{$left_navigation_sidebar_width}px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &.can-compose {
      height: calc(100% - 72px);
    }

    @include mobile() {
      position: relative;
      padding-bottom: 0px;
      width: 100%;
      height: auto;
    }
  }

  a.all-posts, a.follow-ups, a.drafts, a.must-see {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 16px;

    @include mobile() {
      padding-left: 0px;
    }

    &.hover-item{
      @include default-item();

      * {
        cursor: pointer;
      }

      @include big_web() {
        &:not(.item-selected):hover, &:not(.item-selected):active, &:not(.item-selected):focus {
          @include item-hover();
        }
      }

      &.item-selected {
        @include item-selected();
      }
    }

    div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
      padding: 2px 0px 0px 0;
      float: left;
      text-align: left;
      margin-left: 12px;
      text-decoration: none;

      @include mobile() {
        margin-left: 32px;
        width: auto;
        padding: 0px;
      }
    }

    div.must-see-label {
      padding: 2px 0px 0px 14px;
    }

    div.all-posts-icon {
      background-image: cdnUrl("/img/ML/digest_icon_grey.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 4px;
        opacity: 1;
      }
    }

    div.follow-ups-icon {
      background-image: cdnUrl("/img/ML/follow_ups_icon_grey.svg");
      background-size: 12px 16px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 4px;
        opacity: 1;
      }
    }

    div.must-see-icon {
      background-image: cdnUrl("/img/ML/must_see_bolt_grey.svg");
      background-size: 14px 18px;
      background-position: center 4px;
      background-repeat: no-repeat;
      width: 18px;
      height: 23px;
      float: left;
    }

    div.drafts-icon {
      background-image: cdnUrl("/img/ML/drafts_icon_grey.svg");
      background-size: 12px 16px;
      background-repeat: no-repeat;
      background-position: center 3px;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 4px;
        opacity: 1;
      }
    }
  }

  a.drafts {

    @include mobile() {
      margin-bottom: 0px;
    }

    &.hover-item {
      @include mobile() {
        &:after {
          display: none;
        }
      }
    }
  }

  div.left-navigation-sidebar-top{
    margin-top: 8px;

    .left-navigation-sidebar-top-title {
      padding: 8px 16px;
      margin: 0;
      height: 34px;
      width: 100%;

      span {
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        color: rgba($deep_navy, 0.5);
        float: left;
        cursor: default;
      }

      div.boards-icon {
        background-size: 12px 10px;
        background-repeat: no-repeat;
        width: 12px;
        height: 10px;
        float: left;
        margin-right: 3px;
        margin-top: 6px;
        background-image: cdnUrl("/img/ML/boards_icon.svg");
      }
    }

    button.left-navigation-sidebar-top-title-button {
      width: 20px;
      height: 20px;
      margin-right: -2px;
      float: right;
      padding: 0;
      cursor: pointer;
      transition: 230ms;
      background-image: cdnUrl("/img/ML/plus_button_icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
      @include OC_Body_Bold();

      @include mobile() {
        display: none;
      }
    }
  }

  div.left-navigation-sidebar-items{

    a.left-navigation-sidebar-item {
      display: block;
      cursor: pointer;
      padding-left: 16px;
      margin: 0;
      text-decoration: none;
      width: 100%;

      &:hover {
        text-decoration: none;
      }

      @include mobile() {
        padding-left: 0px;
      }

      &.drafts-board {
        margin-top: 24px;
      }

      &:last-child {
        margin-bottom: 10px;

        @include mobile() {
          margin-bottom: 0px;
        }
      }

      &.hover-item {
        @include default-item();
        * {
          cursor: pointer;
        }

        @include big_web() {
          &:not(.item-selected):hover, &:not(.item-selected):active, &:not(.item-selected):focus {
            @include item-hover();
          }
        }

        &.item-selected {
          @include item-selected();
        }
      }

      div.public {
        float: right;
        margin-right: 12px;
        width: 16px;
        height: 21px;
        background-image: cdnUrl("/img/ML/board_public.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;
      }

      div.private {
        float: right;
        margin-right: 12px;
        width: 16px;
        height: 21px;
        background-image: cdnUrl("/img/ML/board_private.svg");
        background-size: 10px 12px;
        background-position: center;
        background-repeat: no-repeat;
      }

      div.board-name {
        width: 168px;
        float: left;

        div.internal {
          padding: 1px 0px 0px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;
          max-width: 100%;

          @include mobile() {
            width: auto;
            margin-left: 0px;
          }

          .emojione {
            @include emoji-size(12);
          }
        }
      }
    }
  }

  div.left-navigation-sidebar-footer {
    position: relative;
    width: 100%;

    @include mobile() {
      button {
        width: 100%;
        text-align: left;
      }
    }

    button.compose-green-bt {
      border-radius: 6px;
      background-color: $carrot_green;
      margin: 16px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 32px);
      height: 40px;
      opacity: 1;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }

      @include mobile() {
        display: none;
      }

      span.compose-green-icon {
        width: 12px;
        height: 22px;
        background-image: cdnUrl("/img/ML/white_pen.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;
      }

      span.compose-green-label {
        @include OC_Body_Bold();
        font-size: 16px;
        line-height: 22px;
        color: white;
        margin-left: 8px;
        margin-top: 1px;
      }
    }
  }
}