nav.oc-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  transition: height 230ms;
  border-bottom: 1px solid $ultra_light_grey;

  &.showing-orgs-dropdown {
    overflow: visible;
  }

  @include big_web(){
    height: #{$navbar_height}px;
  }

  @include mobile(){
    transition: 230ms;
    overflow: hidden;
    height: #{$navbar_height}px;
    padding-bottom: 1px;
    border-bottom: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

    &.show-login-overlay {
      height: 100vh !important;
    }

    &.showing-orgs-dropdown {
      overflow: visible;
    }

    &.mobile-menu-open {
      height: 100vh;
    }
  }

  z-index: $navbar_zindex;
  background-color: white;
  margin: 0px;

  div.oc-navbar-header {
    padding-top: 10px;
  }

  div.oc-navbar-header {
    position: relative;
    margin: 0 auto;
    padding: 12px 24px;
    height: #{$navbar_height}px;
    width: 100%;

    @include mobile() {
      width: 100vw;
      padding: 12px 16px;
    }

    div.oc-navbar-header-container{
      height: 32px;

      div.navbar-center {
        text-align: center;
        width: 320px;
        height: 32px;
        position: absolute;
        left: 50%;
        top: 12px;
        margin-left: -160px;
        @include avenir_H();
        font-size: 26px;
        transition: margin-left 320ms ease-in, width 320ms ease-in;

        &.search-active {
          width: 430px;
          margin-left: -215px;
        }

        @include mobile() {
          width: 80px;
          height: 32px;
          margin-left: -40px;
          transition: margin-left 0ms ease-in, width 0ms ease-in;

          &.search-active {
            width: 80px;
            margin-left: -40px;
          }
        }

        button.orgs-dropdown div.org-avatar {
          height: 32px;
          @include org-avatar(32);
        }
      }

      div.navbar-left {
        float: left;
        height: 32px;

        @include mobile() {
          width: 40%;
        }

        button.mobile-navigation-sidebar-ham-bt {
          display: none;

          @include mobile() {
            position: relative;
            padding: 0 0 0 35px;
            display: block;
            height: 32px;
            opacity: 1;
            width: 60vw;

            &:after {
              content: "";
              width: 19px;
              height: 12px;
              background-image: cdnUrl("/img/ML/mobile_navbar_ham.svg");
              background-repeat: no-repeat;
              background-size: 19px 12px;
              background-position: center;
              position: absolute;
              opacity: 0.5;
              left: 0;
              top: 9px;
            }

            span.private-icon {
              margin-right: 6px;
              width: 10px;
              height: 32px;
              background-image: cdnUrl("/img/ML/mobile_navbar_private_board.svg");
              background-repeat: no-repeat;
              background-size: 10px 13px;
              background-position: center 8px;
              display: block;
              float: left;
            }

            span.public-icon {
              margin-right: 6px;
              width: 12px;
              height: 32px;
              background-image: cdnUrl("/img/ML/mobile_navbar_public_board.svg");
              background-repeat: no-repeat;
              background-size: 12px 12px;
              background-position: center;
              display: block;
              float: left;
            }

            span.must-see-icon {
              margin-right: 6px;
              width: 12px;
              height: 32px;
              background-image: cdnUrl("/img/ML/mobile_navbar_must_see.svg");
              background-repeat: no-repeat;
              background-size: 12px 16px;
              background-position: center;
              display: block;
              float: left;
            }

            span.board-name {
              @include avenir_H();
              font-size: 16px;
              color: $deep_navy;
              height: 32px;
              line-height: 32px;
              display: block;
              float: left;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: calc(60vw - 35px);

              &.has-icon {
                max-width: calc(60vw - 53px);
              }
            }
          }
        }

        button.search-bt {
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/spyglass.svg");
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: 0px center;
          position: absolute;
          margin: 0;
          padding: 0;
          left: calc(30vw - 12px);
          top: 16px;

          @include preload_image(cdnUlr("/img/ML/spyglass_active.svg"));

          &.active {
            background-image: cdnUrl("/img/ML/spyglass_active.svg");
          }
        }
      }

      div.navbar-right {
        float: right;
        margin-right: 0px;

        div.user-notifications {
          float: left;
          margin-right: 16px;
          margin-top: 4px;
        }

        div.user-menu {
          width: 48px;
          height: 32px;
          float: right;

          @inlcude mobile() {
            float: unset;
          }
        }

        div.mobile-right-nav {
          display: none;
        }

        @include mobile() {
          div.mobile-right-nav {
            display: block;
            float: right;
            height: 32px;

            button:not(:last-child) {
              margin: 0 16px 0 0;
            }

            button:last-child {
              margin: 0;
            }

            button.search-bt {
              width: 24px;
              height: 24px;
              background-image: cdnUrl("/img/ML/spyglass.svg");
              background-size: 18px 18px;
              background-repeat: no-repeat;
              background-position: 0px center;
              padding: 0;
              margin-top: 4px;
              display: block;
              float: left;

              @include preload_image(cdnUlr("/img/ML/spyglass_active.svg"));

              &.active {
                background-image: cdnUrl("/img/ML/spyglass_active.svg");
              }
            }

            button.mobile-notification-bell {
              width: 24px;
              height: 24px;
              background-image: cdnUrl("/img/ML/notification_bell.svg");
              background-size: 16px 20px;
              background-position: 0 center;
              background-repeat: no-repeat;
              padding: 0;
              margin-top: 4px;
              display: block;
              float: left;

              @include preload_image(cdnUlr("/img/ML/notification_bell_active.svg"));

              &.active {
                background-image: cdnUrl("/img/ML/notification_bell_active.svg");
              }
            }

            button.mobile-compose-bt {
              width: 32px;
              height: 32px;
              background-image: cdnUrl("/img/ML/mobile_plus_button.svg");
              background-size: 32px 32px;
              background-position: 0 center;
              background-repeat: no-repeat;
              padding: 0;
              display: block;
              float: left;
            }
          }
        }
      }
    }
  }
}