@mixin default-item(){
  background-color: transparent;
  height: 32px;
  padding-top: 5px;

  @include mobile() {
    height: 40px;
    margin: 2px 0;
    padding: 7px 16px;
  }

  .internal {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;

    &.new {
      @include OC_Body_Bold();
    }

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  span.count {
    float: right;
    @include OC_Body_Book();
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $deep_navy;
    min-width: 16px;
    height: 16px;
    display: inline-block;
    background-color: rgba($light_navy, 0.1);
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 16px;
    padding: 0 4px;

    @include mobile() {
      float: left;
      margin-top: 5px;
      margin-left: 8px;
    }
  }

  div.drafts-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.inbox-label, div.all-posts-label, div.follow-ups-label, div.must-see-label, div.drafts-label {
      text-decoration: none;
    }
  }

  div.inbox-label, div.all-posts-label, div.follow-ups-label, div.must-see-label {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
      color: $deep_navy;
    }
  }
}

@mixin item-selected() {
  background-color: $carrot_green;
  outline: none;
  border-radius: 4px;

  @include mobile() {
    border-radius: 0;
  }

  .internal, div.inbox-label, div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
    // color: $carrot_green;
    @include OC_Body_Book();
    font-size: 14px;
    text-decoration: none;
    color: white;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    span.count {
      background-color: white;
      color: $deep_navy;
    }

    @include mobile() {
      color: white;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }

  span.count {
    background-color: white;
    color: $deep_navy;
  }

  div.inbox-label, div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
    font-size: 14px;
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:active, &:focus {
    text-decoration: none;

    div.inbox-label, div.all-posts-label, div.follow-ups-label, div.must-see-label, div.drafts-label {
      text-decoration: none;
    }
  }

  div.inbox-label, div.all-posts-label, div.follow-ups-label, div.must-see-label {
    @include OC_Body_Book();
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

@mixin item-hover(){
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba($deep_navy, 0.05);
  background-color: rgba($deep_navy, 0.05);
  border-radius: 4px;

  @include mobile() {
    background-color: transparent;
    border-radius: 0;
  }

  .internal {
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    text-decoration: none;

    @include mobile() {
      font-size: 16px;
      line-height: 24px;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }

  div.inbox-label, div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
    color: $deep_navy;
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }

    &.new {
      @include OC_Body_Bold();
    }
  }
}

div.left-navigation-sidebar {
  position: absolute;
  position: fixed;
  overflow-y: auto;
  overflow-x: visible;
  overflow: visible;
  width: #{$left_navigation_sidebar_width}px;
  top: #{$navbar_height}px;
  // height: calc(100vh - #{$navbar_height + 1}px);
  @include no-user-select();
  padding: 24px 0 0;

  @include big_web() {
    &.collapsed-sections {
      overflow-y: visible;
      overflow: visible;
    }
  }

  @include big_web() {
    &.absolute-position {
      position: absolute;
      top: 0;
      overflow-y: visible;
      overflow: visible;
    }
  }

  @media screen and (max-width: 975px) {
    position: absolute;
    top: 0;
  }

  @include mobile() {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: #{$navbar_zindex + 7};
    background-color: $carrot_modal_bg;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: initial;
    padding: 0;

    &.mobile-show-side-panel {
      display: block;
    }
  }

  div.left-navigation-sidebar-content {
    width: #{$left_navigation_sidebar_width}px;
    overflow-x: hidden;
    overflow-y: auto;

    @include mobile() {
      position: relative;
      padding-bottom: 40px;
      width: 85%;
      height: auto;
      background-color: white;
      min-height: 100%;
      padding-top: #{$mobile_navbar_height + 16}px;
      -webkit-overflow-scrolling: touch;
    }

    div.left-navigation-sidebar-mobile-header {
      display: none;

      @include mobile() {
        display: block;
        height: #{$mobile_navbar_height}px;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(85% - 1px);
        background-color: white;
        padding: 11px 16px;
        border-bottom: 1px solid $divider_line_grey;
        z-index: #{$navbar_zindex};

        button.mobile-close-bt {
          display: block;
          position: absolute;
          right: 16px;
          top: 11px;
          width: 32px;
          height: 32px;
          padding: 0;
          background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          background-color: $ultra_light_grey;
          border-radius: 4px;
          
        }

        div.orgs-dropdown  {
          width: calc(100% - 40px);

          div.orgs-dropdown-container {
            z-index: 2;
          }
        }
      }
    }
  }

  a.all-posts {
    margin-top: 16px;
  }

  a.inbox, a.all-posts, a.follow-ups, a.drafts, a.must-see {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 16px;

    @include mobile() {
      padding-left: 0px;
    }

    &.hover-item{
      @include default-item();

      * {
        cursor: pointer;
      }

      @include big_web() {
        &:not(.item-selected):hover, &:not(.item-selected):active, &:not(.item-selected):focus {
          @include item-hover();
        }
      }

      &.item-selected {
        @include item-selected();
      }
    }

    &.item-selected {

      div.inbox-icon {
        background-image: cdnUrl("/img/ML/inbox_icon_white.svg");
      }

      div.all-posts-icon {
        background-image: cdnUrl("/img/ML/digest_icon_white.svg");
      }

      div.must-see-icon {
        background-image: cdnUrl("/img/ML/follow_ups_white.svg");
      }

      div.follow-ups-icon {
        background-image: cdnUrl("/img/ML/follow_ups_white.svg");
      }

      div.drafts-icon {
        background-image: cdnUrl("/img/ML/drafts_icon_white.svg");
      }
    }

    div.inbox-label, div.all-posts-label, div.follow-ups-label, div.drafts-label, div.must-see-label {
      padding: 2px 0px 0px 0;
      float: left;
      text-align: left;
      margin-left: 12px;
      text-decoration: none;

      @include mobile() {
        padding: 0px;
        line-height: 18px;
      }
    }

    div.must-see-label {
      padding: 2px 0px 0px 14px;

      @include mobile() {
        padding: 0;
      }
    }

    div.inbox-icon {
      background-image: cdnUrl("/img/ML/inbox_icon_grey.svg");
      background-size: 14px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        opacity: 1;
        height: 24px;
      }
    }

    div.all-posts-icon {
      background-image: cdnUrl("/img/ML/digest_icon_grey.svg");
      background-size: 14px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        opacity: 1;
        height: 24px;
      }
    }

    div.follow-ups-icon {
      background-image: cdnUrl("/img/ML/follow_ups_icon_grey.svg");
      background-size: 12px 16px;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        margin-left: 0px;
        margin-top: 0px;
        background-position: center 4px;
        opacity: 1;
      }
    }

    div.must-see-icon {
      background-image: cdnUrl("/img/ML/follow_ups_grey.svg");
      background-size: 14px 18px;
      background-position: center 4px;
      background-repeat: no-repeat;
      width: 18px;
      height: 23px;
      float: left;

      @include mobile() {
        opacity: 1;
        height: 24px;
      }
    }

    div.drafts-icon {
      background-image: cdnUrl("/img/ML/drafts_icon_grey.svg");
      background-size: 12px 16px;
      background-repeat: no-repeat;
      background-position: center 3px;
      width: 16px;
      height: 23px;
      float: left;

      @include mobile() {
        background-position: center;
        opacity: 1;
        height: 24px;
      }
    }
  }

  a.drafts {

    @include mobile() {
      margin-bottom: 0px;
    }

    &.hover-item {
      @include mobile() {
        &:after {
          display: none;
        }
      }
    }
  }

  div.left-navigation-sidebar-top{

    .left-navigation-sidebar-top-title {
      padding: 0 16px;
      margin: 0;
      height: 32px;
      width: 100%;
      border-radius: 4px;

      @include mobile() {
        padding: 4px 16px;
        height: 40px;
        position: relative;
        z-index: 1;
        border-radius: 0;
      }

      @include big_web() {
        &:hover {
          background-color: rgba($deep_navy, 0.05);
        }
      }

      button.left-navigation-sidebar-sections-arrow {
        position: relative;
        height: 32px;
        padding: 0 0 0 28px;

        &.collapsed:before {
          transform: rotate(-180deg);
        }

        &:before {
          content: "";
          position: absolute;
          top: 12px;
          left: 3px;
          background-image: cdnUrl("/img/ML/navigation_sidebar_sections_arrow.svg");
          background-size: 12px 6px;
          background-repeat: no-repeat;
          background-position: center;
          width: 12px;
          height: 6px;
          transition: 180ms transform;
        }

        span.sections {
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 32px;
          color: $deep_navy;
          float: left;
        }

        @include mobile() {
          padding: 0;
          margin: 0;
          cursor: default;

          span.sections {
            color: rgba($deep_navy, 0.5);
            font-size: 16px;
          }

          &:before {
            display: none;
          }
        }
      }
    }

    button.left-navigation-sidebar-top-title-button {
      width: 20px;
      height: 20px;
      margin-right: -2px;
      float: right;
      padding: 0;
      cursor: pointer;
      transition: 230ms;
      background-image: cdnUrl("/img/ML/plus_button_icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
      @include OC_Body_Bold();
      margin-top: 7px;

      @include mobile() {
        display: none;
      }
    }
  }

  div.left-navigation-sidebar-items {
    @include mobile() {
      position: relative;
      z-index: 1;
    }

    a.left-navigation-sidebar-item {
      display: block;
      cursor: pointer;
      padding-left: 16px;
      margin: 0;
      text-decoration: none;
      width: 100%;
      position: relative;
      z-index: 1;

      &:hover {
        text-decoration: none;
      }

      @include mobile() {
        padding-left: 0px;
      }

      &.drafts-board {
        margin-top: 24px;
      }

      &:last-child {
        margin-bottom: 10px;

        @include mobile() {
          margin-bottom: 0px;
        }
      }

      &.hover-item {
        @include default-item();
        * {
          cursor: pointer;
        }

        @include big_web() {
          &:not(.item-selected):hover, &:not(.item-selected):active, &:not(.item-selected):focus {
            @include item-hover();
          }
        }

        &.item-selected {
          @include item-selected();

          div.public {
            background-image: cdnUrl("/img/ML/board_public_white.svg");
            opacity: 1;
          }

          div.private {
            background-image: cdnUrl("/img/ML/board_private_white.svg");
            opacity: 1;
          }
        }
      }

      div.public {
        margin-left: 1px;
        width: 16px;
        height: 21px;
        background-image: cdnUrl("/img/ML/board_public.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;

        @include mobile() {
          margin-left: 0;
          margin-top: 2px;
          opacity: 1;
        }
      }

      div.private {
        margin-left: 1px;
        width: 16px;
        height: 21px;
        background-image: cdnUrl("/img/ML/board_private.svg");
        background-size: 10px 12px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;

        @include mobile() {
          margin-left: 0;
          margin-top: 2px;
          opacity: 1;
        }
      }

      div.board-name {
        width: 168px;
        float: left;

        div.internal {
          padding: 1px 0px 0px 28px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;
          max-width: 100%;

          @include mobile() {
            width: auto;
            margin-left: 0px;
          }

          .emojione {
            @include emoji-size(12);
          }
        }
      }
    }
  }

  div.left-navigation-sidebar-footer {
    position: relative;
    width: 100%;
    overflow: visible;
    padding: 16px;

    @include mobile() {
      button {
        width: 100%;
        text-align: left;
      }
    }

    div.trial-expired-alert-container {
      display: none;
    }

    &.show-trial-expired-alert {
      &, button.compose-green-bt {
        cursor: not-allowed;
      }

      div.trial-expired-alert-container {
        cursor: default;
      }

      @include big_web() {
        &:hover {
          div.trial-expired-alert-container {
            display: block;
          }
        }
      }
    }

    button.compose-green-bt {
      border-radius: 6px;
      background-color: $carrot_green;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      opacity: 1;
      position: relative;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }

      @include mobile() {
        display: none;
      }

      span.compose-green-icon {
        width: 12px;
        height: 22px;
        background-image: cdnUrl("/img/ML/white_pen.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;
      }

      span.compose-green-label {
        @include OC_Body_Bold();
        font-size: 16px;
        line-height: 22px;
        color: white;
        margin-left: 8px;
        margin-top: 1px;
      }
    }
  }
}