@mixin default-item(){
  background-color: transparent;

  @include mobile() {
    height: 70px;
    padding: 24px;

    &:not(:last-child) {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: calc(100% - 48px);
        left: 24px;
        bottom: 0px;
        height: 1px;
        background-color: $light_tan;
      }
    }
  }

  .internal {
    @include avenir_M();
    font-size: 16px;
    line-height: 1.71;
    color: $ui_grey;
    text-decoration: none;

    &.new {
      @include avenir_M();
      color: $deep_navy;
    }
  }

  div.drafts-label {
    @include avenir_M();
    font-size: 16px;
    line-height: 1.71;
    color: $ui_grey;
    text-decoration: none;

    span.count {
      @include avenir_M();
      font-size: 16px;
      color: #C5C6C8;
    }

    &.new {
      color: $deep_navy;
    }
  }

  div.all-posts-label {
    @include avenir_H();
    font-size: 16px;
    line-height: 1.71;
    color: $deep_navy;
    text-decoration: none;

    span.count {
      @include avenir_M();
      font-size: 16px;
      color: #C5C6C8;
    }
  }
}

@mixin item-selected() {
  background-color: $feint_emerald;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  @include mobile() {
    border-radius: 0px;
  }

  .internal, div.all-posts-label, div.drafts-label {
    color: $carrot_green;
    @include avenir_M();
    font-size: 16px;
    line-height: 1.71;
    text-decoration: none;

    span.count {
      color: $carrot_green;
    }
  }
}

@mixin item-hover(){
  background-color: rgba($carrot_light_gray_4, 0.2);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  @include mobile() {
    background-color: transparent;
    border-radius: 0px;
  }

  .internal {
    color: $deep_navy;
    @include avenir_M();
    font-size: 16px;
    line-height: 1.71;
    text-decoration: none;
  }

  div.public, div.private, div.all-posts-icon {
    opacity: 1;
  }

  div.all-posts-label, div.drafts-label {
    color: $deep_navy;
    font-size: 16px;
    line-height: 1.71;
    text-decoration: none;
  }
}

div.left-navigation-sidebar {
  position: absolute;
  position: fixed;
  max-height: calc(100vh - 122px);
  overflow-y: auto;
  overflow-x: visible;
  padding-bottom: 20px;
  width: #{$left_navigation_sidebar_width}px;
  top: 118px;
  left: 0px;
  height: calc(100vh - 118px);
  @include no-user-select();

  @include mobile() {
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    min-height: 100vh;
    display: none;
    z-index: 10000;
    background-color: white;
    max-height: unset;
    height: unset;
    overflow-y: unset;
    overflow-x: unset;

    &.show-mobile-boards-menu {
      display: block;
    }
  }

  div.left-navigation-sidebar-mobile-header {
    display: none;

    @include mobile() {
      display: block;
      height: 64px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    button.close-mobile-menu {
      width: 32px;
      height: 32px;
      background-image: cdnUrl("/img/ML/black_close.svg");
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;
      float: left;
      margin: 16px;
    }

    div.mobile-header-title {
      @include avenir_H();
      font-size: 18px;
      color: $deep_navy;
      width: 250px;
      position: relative;
      left: 50%;
      margin-top: 21px;
      margin-left: -125px;
      text-align: center;
      position: absolute;
    }
  }

  div.left-navigation-sidebar-content {
    padding-bottom: 32px;

    @include mobile() {
      position: relative;
      padding-bottom: 0px;
    }
  }

  a.all-posts {
    margin-bottom: 40px;

    @include mobile() {
      margin-bottom: 0px;
    }

    &.showing-drafts {
      margin-bottom: 0px;
    }
  }

  a.all-posts, a.drafts {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 32px;

    @include mobile() {
      padding-left: 0px;
    }

    &.hover-item{
      @include default-item();

      * {
        cursor: pointer;
      }

      @include big_web() {
        &:not(.item-selected):hover {
          @include item-hover();
        }
      }

      &.item-selected {
        @include item-selected();
      }
    }

    div.all-posts-label, div.drafts-label {
      padding: 7px 5px 2px 5px;
      width: 148px;
      text-align: left;
      margin-left: 16px;

      @include mobile() {
        margin-left: 34px;
        width: auto;
        padding: 0px;
      }
    }

    div.all-posts-icon {
      background-image: cdnUrl("/img/ML/digest_icon_grey.svg");
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
      float: left;
      margin-left: -4px;
      margin-top: 8px;

      @include mobile() {
        margin-left: 0px;
        margin-top: 3px;
        opacity: 1;
      }

      &.selected {
        opacity: 1;
        background-image: cdnUrl("/img/ML/digest_icon_green.svg");
      }
    }
  }

  a.drafts {
    margin-bottom: 40px;

    @include mobile() {
      margin-bottom: 0px;
    }

    &.hover-item {
      @include mobile() {
        &:after {
          display: none;
        }
      }
    }
  }

  div.left-navigation-sidebar-top{

    .left-navigation-sidebar-top-title {
      padding: 0px 0 0px 32px;
      margin: 0;
      margin-bottom: 16px;

      @include mobile() {
        background-color: $oc_gray_8;
        height: 40px;
        width: 100%;
        padding: 13px 24px;
        margin-bottom: 0px;
      }

      span {
        @include avenir_B();
        font-size: 13px;
        color: $light_ui_grey;
        float: left;
        cursor: default;
        margin-left: 21px;

        @include mobile() {
          margin-left: 0px;
        }
      }

      div.boards-icon {
        background-size: 12px 10px;
        background-repeat: no-repeat;
        width: 12px;
        height: 10px;
        float: left;
        margin-right: 3px;
        margin-top: 6px;
        background-image: cdnUrl("/img/ML/boards_icon.svg");
      }
    }

    button.left-navigation-sidebar-top-title-button {
      width: 20px;
      height: 20px;
      margin-left: 8px;
      margin-top: -5px;
      float: left;
      padding: 0;
      cursor: pointer;
      transition: 230ms;
      background-color: #F0EFEA;
      background-image: cdnUrl("/img/ML/plus_button_icon.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 8px 8px;
      border-radius: 10px;
      @include avenir_H();

      &:hover, &.active {
        background-image: cdnUrl("/img/ML/plus_button_icon_white.svg");
        background-color: $carrot_green_2;
      }

      @include mobile() {
        background-color: #F0EFEA;
        float: right;

        &:hover {
          background-color: #F0EFEA;
          background-image: cdnUrl("/img/ML/plus_button_icon.svg");
        }
      }
    }
  }

  div.left-navigation-sidebar-items{

    a.left-navigation-sidebar-item {
      display: block;
      cursor: default;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding-left: 24px;
      margin: 0;

      @include mobile() {
        padding-left: 0px;
      }

      &.drafts-board {
        margin-top: 24px;
      }

      &:last-child {
        margin-bottom: 10px;

        @include mobile() {
          margin-bottom: 0px;
        }
      }

      &.hover-item {
        @include default-item();
        * {
          cursor: pointer;
        }

        @include big_web() {
          &:not(.item-selected):hover {
            @include item-hover();
          }
        }

        &.item-selected {
          @include item-selected();
        }
      }

      div.public {
        float: left;
        margin-left: 8px;
        margin-top: 10px;
        width: 12px;
        height: 12px;
        background-image: cdnUrl("/img/ML/board_public.svg");
        background-size: 12px 12px;
        opacity: 0.5;

        @include mobile() {
          margin-left: 4px;
          margin-top: 6px;
          opacity: 1;
        }

        &.selected {
          opacity: 1;
          background-image: cdnUrl("/img/ML/board_public_green.svg");
        }
      }

      div.private{
        float: left;
        margin-left: 9px;
        margin-top: 9px;
        width: 9px;
        height: 11px;
        background-image: cdnUrl("/img/ML/board_private.svg");
        background-size: 9px 11px;
        opacity: 0.5;

        @include mobile() {
          margin-left: 4px;
          margin-top: 6px;
          opacity: 1;
        }

        &.selected {
          opacity: 1;
          background-image: cdnUrl("/img/ML/board_private_green.svg");
        }
      }

      div.board-name {
        margin-left: 24px;

        @include mobile() {

          &.team-board {
            margin-left: 32px;
          }

          &.private-board {
            margin-left: 24px;
          }

          &.public-board {
            margin-left: 24px;
          }
        }

        div.internal {
          padding: 4px 5px 1px 4px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 133px;
          float: left;
          cursor: pointer;

          @include mobile() {
            width: auto;
            padding: 0px 0px 0px 2px;
            margin-left: 0px;

            &.has-icon {
              margin-left: 8px;
            }
          }

          .emojione {
            @include emoji-size(12);
          }
        }
      }
    }
  }

  div.left-navigation-sidebar-footer {
    margin-left: 20px;
    position: relative;
    bottom: 16px;

    @include mobile() {
      // Temp remove bottom links on mobile
      display: none;

      opacity: 0.5;
      margin-left: 16px;

      button {
        width: 100%;
        text-align: left;
      }
    }

    button.about-carrot-btn {
      @include avenir_M();
      margin-top: 4px;

      &:hover {
        text-decoration: underline;
      }

      div.about-carrot-icon {
        background-image: cdnUrl("/img/ML/carrot_grey.svg");
        background-size: auto 16px;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
        opacity: 0.6;

        @include mobile() {
          color: white;
          opacity: 1;
        }
      }

      span {
        font-size: 14px;
        line-height: 1.71;
        color: $ui_grey;
        margin-left: 5px;

        @include mobile() {
          color: white;
        }
      }
    }

    button.invite-people-btn {
      @include avenir_M();

      &:hover {
        text-decoration: underline;
      }

      div.invite-people-icon {
        background-image: cdnUrl("/img/ML/invite_people.svg");
        background-size: 16px auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        float: left;
        margin-top: 1px;
        opacity: 0.6;

        @include mobile() {
          opacity: 1;
        }
      }

      span {
        font-size: 14px;
        line-height: 1.71;
        color: $ui_grey;
        margin-left: 5px;

        @include mobile() {
          color: white;
        }
      }
    }
  }
}