@include big_web(){
  body.trend-bar-collapsed {
    nav.oc-navbar {
      height: #{$navbar_height + $carrot_trend_collapsed_height}px;
    }
  }

  body.trend-bar-expanded {
    nav.oc-navbar {
      height: #{$navbar_height + $carrot_trend_expanded_height}px;
    }
  }

  body.trend-bar-trending {
    nav.oc-navbar {
      height: #{$navbar_height + $carrot_trend_trending_height}px;
    }
  }
}

nav.oc-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  transition: height 230ms;

  @include mobile(){
    &.show-login-overlay {
      height: 100vh !important;
    }
  }

  @include big_web(){
    height: #{$navbar_height + $carrot_trend_collapsed_height}px;
  }

  @include mobile(){
    transition: 230ms;
    overflow: hidden;
  }
  z-index: $navbar_zindex;
  background-color: white;
  margin: 0px;

  &:not(.mobile-menu-open) {
    height: #{$mobile_navbar_height}px;
  }

  div.oc-navbar-header {
    padding-top: 10px;
  }

  div.oc-navbar-header {
    position: relative;
    margin: 0 auto;
    padding: 20px 28px 0;
    height: #{$navbar_height}px;
    width: 100%;

    div.oc-navbar-separator {
      border-bottom: 1px solid rgba(78,90,107,0.1);
      padding-top: 10px;
    }

    @media screen and (max-width: 413px){
      margin-left: 9px;
      margin-right: 9px;
      width: auto !important;
    }

    @media screen and (max-width: 683px){
      padding: 0px;
      margin-top: 10px;
    }

    div.oc-navbar-header-container{
      height: 45px;

      div.navbar-center {
        text-align: center;
        width: 320px;
        height: 56px;
        position: absolute;
        left: 50%;
        top: 8px;
        margin-left: -160px;
        @include avenir_H();
        font-size: 26px;

        img.org-avatar-img {
          max-width: 105px;
          max-height: 35px;
        }
      }
    }

    ul.navbar-right {
      float: right;
      margin-right: 30px;

      div.alerts {
        float: right;
      }

      div.user-avatar {
        float: right;
      }

      div.notification-bell {
        margin-right: 0.5rem;
        margin-top: 5px;
      }

      button.invite-others {
        margin-top: 14px;
        font-size: 16px;
      }

      div.sharing-button-container{
        float: right;

        button.sharing-button {
          margin-top: 14px;
          font-size: 16px;
        }

        button.share-selected-topics-button, button.sharing-cancel {
          margin-top: 16px;
          margin-right: 10px;

          &.btn-link {
            font-size: 14px;
            color: $oc_blue_dark;
            @include avenir_M();
            outline: none;
            text-transform: none;
            text-decoration: none;
            opacity: 1;
            padding: .2rem 0px .3rem .5rem;

            &:hover {
              color: black;
            }

            &[disabled] {
              opacity: 1;
            }
          }
        }
      }

      button.mobile-menu {
        font-size: 24px;
        padding: 3px 20px 3px 20px;
        margin-top: 0px;
        border-radius: 4px;

        &:active {
          background-color: rgba(78,90,107,0.3);
        }

        div.vertical-ellipses {
          background: $oc_gray_5;
          width: 8px;
          height: 24px;
          -webkit-mask: cdnUrl("/img/vert-ellipsis.svg") center / contain no-repeat;
        }
      }
    }
  }

  div.oc-navbar-bottom {
    position: relative;
    margin: 7px auto;
    padding: 0 28px;

    div.sharing-button-container{

      button {
        width: 128px;
        margin-left: 10px;
        height: 33px;
        font-size: 0.75rem;
        @include avenir_H();
      }

      button.share-button {
        font-size: 16px;
        padding-top: 3px;
      }
    }

    a {
      font-size: 14px;
      color: rgba(78,90,107,0.6);
      margin-right: 20px;
      @include avenir_M();
      margin-top: 2px;
      outline: none;

      &:hover {
        color: $oc_gray_5;
      }

      &:hover, &:active, &:focus {
        outline: none;
        text-decoration: none;
      }

      &.active {
        color: $oc_gray_5;
      }
    }

    div.right {
      a {
        margin-right: 0px;
        margin-left: 20px;
      }
    }
  }
}