@import "../modules/_deploy";

div.new-section-popover {
  position: absolute;
  width: 390px;
  height: 460px;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -145px;
  background-color: white;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  overflow: auto;
  padding: 20px 0px 10px 10px;

  div.new-section-popover-img{
    background: url("/img/add_new_section_icon.png?#{$deploy_key}");
    background-size: 80px 82px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    margin-left: 150px;
  }

  &> h4{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 29px;
  }

  div.new-section-category{
    margin-top: 10px;
  }

  div.bottom-gradient {
    right:0;
    bottom:0;
    left:0;
    position:absolute;
    z-index:2;
    height:40px; /* adjust it to your needs */
    background: url(data:image/svg+xml;base64,alotofcodehere);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  }

  div.top-gradient {
    border-top: 1px solid rgba(0,0,0,0.15);
    right:0;
    top:148px;
    left:0;
    position:absolute;
    z-index:2;
    height:40px; /* adjust it to your needs */
    background: url(data:image/svg+xml;base64,alotofcodehere);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -ms-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: linear-gradient(to top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  }

  div.new-section-container {
    background-color: white;
    text-align: left;
    overflow: auto;
    height: 290px;

    div.new-section-category h3 {
      font-size: 16px;
      color: #2D2D2D;
      text-transform: uppercase;
      font-variant: small-caps;
      font-weight: bold;
      margin: 0px 10px 20px 10px;
    }
  }
}

div.new-section-category-section {
  height: 65px;

  div.section-icon-container {
    width: 40px;
    height: 40px;
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    margin: 0px 15px 15px 15px;
    float: left;
  }
}

div.section-icon-container {

  div.section-icon-inner {
    width: 24px;
    height: 24px;
    margin: 8px;
  }

  div.section-icon-inner svg path,
  div.section-icon-inner svg polygon {
    fill: black;
  }

  div.section-icon-inner.darkblue svg path,
  div.section-icon-inner.darkblue svg polygon {
    fill: #004E64;
  }

  div.section-icon-inner.green svg path,
  div.section-icon-inner.green svg polygon {
    fill: #26C484;
  }

  div.section-icon-inner.darkblue svg path,
  div.section-icon-inner.darkblue svg polygon {
    fill: #004E64;
  }

  div.section-icon-inner.lightblue svg path,
  div.section-icon-inner.lightblue svg polygon {
    fill: #029DB7;
  }

  div.section-icon-inner.icon-placeholder {
    padding-top: 0 !important;
  }

  div.section-icon-inner.progress-update-inner {
    padding-top: 4px;
  }

  div.section-icon-inner.progress-press-inner {
    padding-top: 3px;
  }

  div.section-icon-inner.progress-business-development-inner {
    padding-top: 4px;
  }

}

div.new-section-category-section {

  div.section-details {
    float: left;
    width: 275px;

    h4, p {
      color: black;
    }

    h4 {
      margin: 3px 0 0 0;
      font-size: 16px;
      color: #2D2D2D;
    }

    p {
      font-size: 14px;
    }


  }


}

div.new-section-popover-close{
  position: absolute;
  top: 6px;
  left: 8px;
  width: 24px;
  height: 24px;
  background-image: url("/img/close_popover.png?#{$deploy_key}");
  background-size: 24px 24px;
  background-position: 0 0;
}

div#new-section-popover-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1031;
}