div.notifications {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 10000;

  @include mobile() {
    width: 100%;
    left: 0px;
    bottom: 0px;
  }

  div.notification {
    width: 289px;
    background-color: $deep_navy;
    border-radius: 3px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    transition: opacity 180ms ease-in;
    // z-index: 10000;
    padding: 16px;
    position: relative;

    @include mobile() {
      width: 100%;
      border-radius: 0px;
    }

    &.server-error {
      background-color: #FDAB1D;

      div.notification-title {
        color: $deep_navy;
      }

      div.notification-description {
        color: $deep_navy;
      }

      button.notification-dismiss-bt {
        background-image: cdnUrl("/img/ML/close_notification_black.svg"); 
      }
    }

    &.app-update {
      background-color: $sea_blue;

      div.notification-title {
        color: white;
      }

      div.notification-description {
        color: white;
      }
    }

    &.slack-bot {
      div.notification-title {
        font-size: 16px;
        line-height: 18px;
      }
      div.notification-description {
        opacity: 0.6;
      }
    }

    &.opac {
      div.notification-title, div.notification-description, button.notification-dismiss-bt {
        opacity: 0.5;
      }
    }

    &.dismiss-button {
      div.notfication-title {
        width: calc(100% - 20px);
        float: left;
      }
    }

    &.mention-notification {
      div.notification-title {
        float: left;
        margin-left: 8px;
        max-width: 80%;
      }

      div.notification-description {
        float: right;
        width: calc(100% - 32px);
        text-align: left;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    &.inline-bt {
      div.notification-title {
        max-width: 80%;
        float: left;
      }
    }

    div.mention-author {
      @include user-profile(24);

      div.user-avatar-img-container {
        float: left;
      }
    }

    span.slack-icon {
      width: 16px;
      height: 16px;
      background-size: 16px;
      background-position: 0px 0px;
      background-image: cdnUrl("/img/ML/slack_white_icon.svg");
      float: left;
      margin-right: 8px;
    }

    div.notification-title {
      @include avenir_H();
      font-size: 14px;
      color: white;

      @include mobile() {
        margin-top: 2px;
      }
    }

    button.notification-dismiss-bt {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 12px;
      height: 12px;
      background-size: 12px 12px;
      background-image: cdnUrl("/img/ML/close_notification_white.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    div.notification-description {
      @include avenir_R();
      font-size: 14px;
      color: white;
      margin-top: 4px;

      &.oc-mentions span.oc-mention[data-found="true"] {
        background-color: transparent !important;
      }
    }

    button.notification-button {
      color: $carrot_green;
      background-color: transparent;
      float: right;
      text-align: right;
      padding: 0px;
      margin: 0px;
      @include avenir_B();
      font-size: 12px;
      line-height: 24px;

      &.solid-green {
        float: unset;
        width: 100%;
        height: 40px;
        margin-top: 16px;
        color: white;
        background-color: $carrot_green;
        padding: 9px 0px;
        text-align: center;
        @include avenir_H();
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.22px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile() {
          padding: 9px 24px;
        }

        span.slack-icon {
          top: 3px;
          position: relative;
        }
      }

      &.default-link {
        float: unset;
        margin-top: 8px;
        height: 16px;
        @include avenir_H();
        font-size: 14px;
        line-height: 16px;
        color: white;
        background-color: transparent;
        opacity: 0.6;
      }
    }
  }
}