div.oc-switch {
  width: 100%;
  padding-top: 69px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  position: relative;

  button {
    width: 50%;
    height: 69px;
    font-size: 18px;
    font-family: $oc_headers_font;
    text-transform: capitalize;
    font-weight: 400;
    color: $oc_gray_5;

    &.dashboard {
      float: left;
    }

    &.updates {
      float: right;
    }

    &.active {
      font-weight: 800;
      text-decoration: underline;
      text-decoration-color: $oc_yellow;
    }
  }
}