div.oc-switch {
  width: 100%;
  padding-top: 59px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: white;


  div.oc-switch-btn {
    width: 50%;
    height: 59px;
    color: $oc_gray_5;
    padding-top: 30px;
    text-align: center;
    background-color: white;

    &.dashboard {
      float: left;
    }

    &.updates {
      float: right;
    }

    button {
      font-size: 18px;
      font-family: $oc_headers_font;
      text-transform: capitalize;
      padding: 0;
      margin: 0;
      border-bottom: 4px solid transparent;
      padding-left: 10px;
      padding-right: 10px;

      &.active {
        border-bottom: 4px solid $oc_yellow;
      }
    }
  }
}