.oc-mentions {
  span.oc-mention[data-found="true"] {
    color: $wut_purple !important;
    position: relative;
    padding: 1px;
    border-radius: 2px;

    &[data-user-id].expand-profile {
      cursor: pointer;
    }
  }
}

div.oc-mention-panel {
  border-radius: 6px;
  background-color: $deep_navy;
  width: 226px;
  color: white;
  max-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  border: none;

  div.oc-mention-options {
    div.oc-mention-option {
      height: 56px;
      width: 100%;
      padding: 16px;
      cursor: pointer;
      background-color: transparent;

      &.active {
        background-color: rgba(#32C97B, 0.5);
      }

      &.has-avatar {
        div.oc-mention-option-avatar {
          width: 24px;
          margin-right: 8px;
        }

        div.oc-mention-option-title {
          width: calc(100% - 32px);
        }

        div.oc-mention-option-subline {
          width: calc(100% - 32px);
        }
      }

      div.oc-mention-option-avatar {
        width: 0px;
        height: 24px;
        border-radius: 50%;
        background-size: 24px 24px;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
      }

      div.oc-mention-option-title {
        // width: calc(100% - 38px);
        max-width: 100%;
        margin-top: -4px;
        height: 16px;
        line-height: 16px;
        @include OC_Body_Bold();
        color: white;
        font-size: 14px;
        float: left;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      div.oc-mention-option-subline {
        max-width: 100%;
        height: 18px;
        line-height: 18px;
        @include OC_Body_Book();
        color: white;
        font-size: 12px;
        opacity: 0.8;
        float: left;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;

        &.slack-icon {
          &:before {
            display: block;
            content: "";
            float: left;
            width: 14px;
            height: 14px;
            opacity: 0.5;
            background-image: cdnUrl("/img/ML/slack_mention_icon.svg");
            background-size: 14px 14px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 6px;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

div.oc-mention-popup {
  position: fixed;
  top: 0;
  left: -280px;
  width: auto;
  max-width: 280px;
  max-height: 74px;
  overflow: hidden;
  z-index: 1000;
  padding: 8px 0;
  background-color: transparent;

  div.oc-mention-popup-inner {
    background-color: $deep_navy;
    border-radius: 6px;
    padding: 16px;
    max-height: 58px;

    div.oc-mention-popup-avatar {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-size: 24px auto;
      background-position: center;
      background-repeat: no-repeat;
      float: left;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 2px;
    }

    div.oc-mention-popup-name {
      @include OC_Body_Bold();
      font-size: 14px !important;
      color: white !important;
      line-height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: -2px;
      margin-bottom: 2px;
      width: calc(100% - 32px);
    }

    div.oc-mention-popup-subline {
      @include OC_Body_Book();
      font-size: 12px !important;
      color: rgba(white, 0.8) !important;
      text-align: left;
      line-height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 32px);

      &.slack-icon {
        &:before {
          display: block;
          content: "";
          float: left;
          width: 12px;
          height: 12px;
          opacity: 0.5;
          background-image: cdnUrl("/img/ML/slack_mention_icon.svg");
          background-size: 12px 12px;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 4px;
          margin-top: 0px;
        }
      }
    }
  }
}