div.onboard-overlay-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 103};
  transition: opacity 180ms ease-in;
  overflow-y: hidden;

  div.onboard-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;

    @include mobile(){
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      margin-left: 0px;
      margin-top: 0px;
    }

    // Mobile NUX
    div.onboard-overlay-step {
      width: 100%;
      height: 100%;
      padding: 70px 40px;
      position: relative;

      @include mobile() {
        padding: 40px 32px;
      }

      div.onboard-overlay-step-title {
        @include avenir_H();
        font-size: 32px;
        margin: 0px auto;

        @include mobile() {
          max-width: 300px;
          font-size: 23px;
        }
      }

      div.step-illustration-container {
        width: 860px;
        height: 536px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -430px;
        background-size: 860px 762px;
        background-position: 0px 0px;
        background-repeat: no-repeat;

        @include mobile() {
          width: 280px;
          height: 270px;
          overflow: hidden;
          position: relative;
          margin: 16px auto;
          max-height: 360px;
          top: unset;
          left: unset;

          &:after {
            // Gradient
            content: "";
            height: 54px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 10;
            pointer-events: none;
          }
        }
      }

      div.step-illustration-container-center {

        div.onboard-overlay-step-description {
          @include avenir_M();
          color: $deep_navy;
          line-height: 26px;
          font-size: 18px;
          text-align: center;
          margin: 0px auto;

          @include mobile() {
            max-width: 300px;
          }
        }
      }

      button.continue-btn {
        min-width: 160px;
        height: 40px;
        border-radius: 100px;
        background-color: $carrot_text_blue;
        color: white;
        @include avenir_H();
        font-size: 18px;
        text-align: center;
        padding: 8px 28px;
        margin-top: 24px;

        @include mobile() {
          position: absolute;
          bottom: 88px;
          left: 50%;
        }
      }

      &.step-1 {
        background-color: $feint_emerald;

        div.onboard-overlay-step-title {
          color: $carrot_green;
        }

        div.step-illustration-container-center {
          position: relative;
        }

        button.continue-btn {
          background-color: $carrot_green;
          width: 160px;
        }

        div.step-illustration-container {
          @include image-2x("/img/ML/onboard_desktop_screenshot_1");
        }
      }

      &.step-2 {
        background-color: $coral;

        div.onboard-overlay-step-title {
          color: $carrot_orange;
        }

        div.step-illustration-container-center {
          position: relative;

          div.onboard-overlay-step-description {
            @include mobile() {
              bottom: 0px;
              position: absolute;
            }
          }
        }

        button.continue-btn {
          width: 220px;
          background-color: $carrot_orange;

          @include mobile() {
            margin-left: -110px;
          }
        }

        div.step-illustration-container {
          @include image-2x("/img/ML/onboard_desktop_screenshot_2");

          @include mobile() {
            width: 227px;
            height: 200px;
            @include image-2x("/img/ML/mobile_onboard_overlay");
            background-size: 227px 200px;
          }
        }
      }
    }
  }
}