div.onboard-wrapper-container {

  div.onboard-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;

    @include mobile(){
      display: block;
    }

    div.onboard-wrapper-left {
      background-color: $carrot_dark_bg_gray;
      padding: 21px;
      flex: 1;
      position: absolute;
      position: fixed;
      top: 0px;
      bottom: 0px;
      left: 0px;
      width: 50%;

      @include mobile(){
        display: none;
      }

      div.onboard-wrapper-logo {
        width: 82px;
        height: 20px;
        background-image: cdnUrl("/img/ML/carrot_logo_with_copy_gray.svg");
        background-size: 82px 20px;
        background-repeat: no-repeat;
      }

      div.onboard-wrapper-box {
        position: absolute;
        left: 50%;
        top: 220px;
        margin-left: -147px;
        margin-top: 0px;
        width: 294px;
        height: 301px;
        @include image-2x("/img/ML/carrot_box");
        background-size: 294px 301px;
        background-repeat: no-repeat;
      }
    }

    div.onboard-wrapper-right {
      text-align: center;
      flex: 1;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      width: 50%;

      @include mobile(){
        flex: unset;
        width: 100%;
        position: unset;
      }

      button.mobile-blue-back {
        display: none;

        @include mobile() {
          display: block;
          width: 19px;
          height: 15px;
          position: absolute;
          top: 25px;
          left: 24px;
          background-image: cdnUrl("/img/ML/black_back_arrow.svg");
          background-size: 19px 15px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

div.onboard-email-container {
  width: 339px;
  @include avenir_M;
  color: $carrot_gray;
  font-size: 32px;
  margin: 0 auto;
  position: relative;
  top: 50%;

  &.small {
    font-size: 24px;
  }

  &.dot-animation {
    text-align: left;
    width: 260px;
  }

  &.error {
    color: $carrot_orange;
  }

  &.email-wall {
    width: 385px;
    color: $deep_navy;
    @incldude avenir_H();

    div.email-wall-icon {
      background-image: cdnUrl("/img/ML/email_wall.svg");
      background-size: 48px 36px;
      background-position: center;
      width: 48px;
      height: 36px;
      margin: 0 auto 32px;
    }

    div.email-wall-subtitle {
      @include avenir_R();
      font-size: 18px;
      margin-top: 16px;
    }

    div.email-wall-sent-link {
      color: $deep_navy;
      @include avenir_R();
      font-size: 18px;
      margin-top: 56px;

      div.email-address {
        @include avenir_H();
        font-size: 18px;
        color: $deep_navy;
      }
    }
  }

  button.continue {
    margin-top: 16px;
    width: 170px;
    height: 42px;
    background-color: $sea_blue;
    color: white;
    @include avenir_H();
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: none;

    &.disabled {
      background-color: $light_ui_grey;
    }
  }
}

div.onboard-lander {
  text-align: center;

  div.main-cta {

    @include mobile() {
      margin-top: 0px;
      height: 64px;
      text-align: center;
      width: 100%;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    }

    div.title {
      @include avenir_H();
      font-size: 32px;
      color: $deep_navy;
      letter-spacing: auto;
      line-height: 44px;
      margin-top: 80px;

      @include mobile() {
        margin-top: 0px;
        padding-top: 21px;
        @include avenir_H();
        font-size: 18px;
        color: $deep_navy;
        height: 45px;
        line-height: 25px;
        width: 200px;
        margin: 0 auto;
      }
    }

    button.top-back-button {
      display: none;

      @include tablet(){
        display: block;
        float: left;
        height: 40px;
        width: 40px;
        background-color: white;
        background-image: cdnUrl("/img/ML/gray_back_x.svg");
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0px;
        position: absolute;
        top: 12px;
        left: 24px;
      } 
    }

    button.top-continue {
      display: none;

      @include tablet(){
        display: block;
        float: right;
        @include avenir_H();
        font-size: 15px;
        height: 32px;
        width: 66px;
        padding: 0px;
        position: absolute;
        top: 18px;
        right: 24px;
        color: $carrot_green;
        text-align: right;

        &.disabled {
          color: $light_ui_grey;
        }
      }
    }

    button.continue {
      margin-top: 20px;
      width: 170px;
      height: 42px;
      background-color: $sea_blue;
      color: white;
      @include avenir_H();
      font-size: 16px;
      border-radius: 4px;
      outline: none;
      border: none;

      &.disabled {
        background-color: $light_ui_grey;
      }
    }
  }

  div.subtitle {
    @include avenir_R();
    font-size: 16px;
    color: $oc_gray_7;
    margin-top: 16px;
    padding: 0px 24px;

    &.error {
      color: $carrot_orange;
    }

    span.email-address {
      @include avenir_H();
      color: $oc_gray_7;
    }
  }

  div.onboard-form {
    width: 340px;
    margin: 0 auto 32px;
    text-align: left;

    div.subtitle {
      @include avenir_R();
      font-size: 18px;
      color: $deep_navy;
      letter-spacing: auto;
      margin-top: 24px;
      text-align: center;

      @include mobile() {
        margin-top: 0px;
        padding-top: 16px;
        @include avenir_R();
        margin: 0 auto;
      }
    }

    @include mobile() {
      width: 100%;
      padding: 0 32px;
    }

    button.signup-with-slack {
      margin-top: 52px;
    }

    button.signup-with-google {
      margin-top: 16px;
    }

    button.signup-with-slack, button.signup-with-google {
      width: 340px;
      height: 40px;
      border: 1px solid $light_ui_grey;;
      color: $light_ui_grey;
      border-radius: 4px;
      text-align: center;

      div.signup-with-slack-content, div.signup-with-google-content {
        @include avenir_H();
        font-size: 14px;
        color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div.slack-icon {
          width: 21px;
          height: 21px;
          background-image: cdnUrl("/img/ML/slack_normal.svg");
          background-repeat: no-repeat;
          background-size: 21px 21px;
          float: left;
          margin-right: 16px;
        }

        div.google-icon {
          width: 21px;
          height: 21px;
          background-image: cdnUrl("/img/ML/google_signin.svg");
          background-repeat: no-repeat;
          float: left;
          margin-right: 16px;
        }
      }

      @include mobile() {
        width: 100%;
      }
    }

    div.or-with-email{
      width: 100%;
      height: 19px;
      margin-top: 36px;
      position: relative;

      div.or-with-email-line {
        position: absolute;
        height: 1px;
        background-color: $carrot_dark_bg_gray;
        width: 340px;
        top: 9px;
        left: 0px;
        display: block;

        @include mobile() {
          display: none;
        }
      }

      div.or-with-email-copy {
        position: absolute;
        top: 0px;
        left: 71px;
        text-align: center;
        @include avenir_H();
        font-size: 16px;
        color: rgba($oc_gray_7, 0.7);
        margin: 0 auto;
        width: 196px;
        background-color: white;

        @include mobile() {
          left: unset;
          position: relative;
        }
      }
    }

    div.logo-upload-container {
      margin-top: 60px;
      width: 340px;
      min-height: 40px;
      cursor: pointer;

      @include mobile() {
        width: 100%;
        margin: 32px auto;
        text-align: center;
      }

      &:hover {
        div.add-picture-link {
          text-decoration: underline;
        }
      }

      &.org-logo {
        width: 340px;

        @include mobile() {
          max-width: 100%;
          text-align: center;
        }

        div.org-avatar.missing-logo {
          position: relative;
          width: 80px;
          height: 80px;
          background-color: transparent;
          background-image: cdnUrl("/img/ML/onboard_plus_icon.svg");
          background-position: center;
          background-size: 80px 80px;
        }

        div.org-avatar {
          @include org-avatar(80);
          margin-right: 10px;

          @include mobile() {
            float: unset;
            margin: 0px auto 16px;
          }

          div.org-avatar-container {
            img.org-avatar-img {
              max-width: 340px;
            }
          }
        }

        div.add-picture-link {
          margin-left: 0px;
          margin-top: 10px;

          @include mobile() {
            margin-top: 0px;
            text-align: center;
            width: 100%;
          }
        }

        div.add-picture-link-subtitle {
          margin-left: 0px;
          margin-top: 10px;

          @include mobile() {
            text-align: center;
            width: 100%;
          }
        }
      }

      div.user-avatar-img-container {
        float: left;

        @include mobile() {
          float: unset;
          margin: 0px auto;
        }
      }

      @include user-profile(82);

      div.add-picture-link {
        @include avenir_H();
        font-size: 14px;
        color: $carrot_green_2;
        float: left;
        margin-left: 24px;
        margin-top: 16px;
        width: 220px;

        @include mobile() {
          text-align: center;
          width: 100%;
          margin-left: 0px;
        }
      }

      div.add-picture-link-subtitle {
        @include avenir_R();
        font-size: 14px;
        color: rgba($oc_gray_7, 0.5);
        float: left;
        margin-left: 24px;
        margin-top: 12px;
        width: 220px;

        @include mobile() {
          text-align: center;
          width: 100%;
          margin-left: 0px;
        }
      }
    }

    div.field-label {
      @include avenir_H();
      font-size: 15px;
      color: $deep_navy;
      margin-top: 35px;

      &.info {
        @include avenir_R();
        font-size: 14px;
        margin-top: 12px;
      }

      span.error {
        margin-left: 16px;
        color: $carrot_orange;
      }
    }

    div.field-description {
      @include avenir_R();
      font-size: 14px;
      margin-top: 16px;
      color: rgba($oc_gray_7, 0.5);
      text-align: center;

      a {
        text-decoration: underline;
        color: rgba($oc_gray_7, 0.5);
      }
    }

    div.footer-link {
      margin-top: 20px;
      @include avenir_R();
      font-size: 14px;
      color: $oc_gray_7;
      text-align: center;

      a {
        display: block;
        @include avenir_H();
        font-size: 16px;
        color: $oc_gray_7;
        text-decoration: underline;
      }
    }

    input.field {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background-color: white;
      border: 1px solid rgba($carrot_light_gray_1, 0.5);
      outline: none;
      padding: 10px 16px;
      position: relative;
      @include avenir_BOOK();
      font-size: 16px;
      color: $oc_gray_7;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin-top: 4px;

      @include placeholder() {
        @include avenir_R();
        font-size: 16px;
        color: $carrot_light_gray;
      }

      &.error {
        border: 1px solid rgba($carrot_orange, 0.5);
      }
    }

    div.description {
      @include avenir_R();
      color: rgba($oc_gray_7, 0.5);
      font-size: 14px;
      margin-top: 24px;

      a {
        text-decoration: underline;
        color: rgba($oc_gray_7, 0.5);
      }
    }

    div.org-email-domains-row {
      div.field-label {
        margin-top: 21px;

        &:before {
          font-size: 16px;
        }

        div.tooltip {
          width: 160px;
        }

        label {
           @include avenir_H();
           font-size: 15px;
           color: $deep_navy;
           margin-top: 4px;

           span.info {
             @include avenir_R();
             font-size: 14px;
             color: rgba($oc_gray_7, 0.5);
           }
        }

        label.error {
          margin-left: 0px !important;
        }
      }

      div.org-email-domain-field {
         width: 100%;
         height: 40px;
         border: 1px solid rgba($carrot_light_gray_1, 0.5);
         border-radius: 4px;

         input {
           float: left;
           width: 95%;
           height: 100%;
           border: none;
           padding: 10px 16px;
           outline: none;

           @include placeholder(){
             @include avenir_R();
             margin-top: 10px;
             color: $ui_grey;
             font-size: 16px;
           }
         }

         &.error {
           border: 1px solid rgba($carrot_orange, 0.5);
         }

         button.add-email-domain-bt {
           height: 20px;
           padding: 10px 10px;
           color: $carrot_green;
           @include avenir_H();
           font-size: 14px;
           border-top-right-radius: 6px;
           border-bottom-right-radius: 6px;
           float: right;
         }
      }
    }

    button.continue {
      margin-top: 24px;
      outline: none;
      border: none;
      width: 100%;
      height: 48px;
      background-color: $sea_blue;
      color: white;
      @include avenir_H();
      font-size: 16px;
      border-radius: 100px;

      &.disabled {
        background-color: $light_ui_grey;
      }

      @include mobile() {
        margin-bottom: 32px;
      }
    }
  }


  &.lander-team {
    div.onboard-form {
      button.continue {
        margin-top: 18px;

        @include mobile() {
          margin-top: 32px;
        }
      }
    }
  }

  &.lander-invite {
    div.onboard-form {
      div.field-label {
        button.add-another-invite-row {
          color: $carrot_green;
          float: right;
          @include avenir_M();
          font-size: 13px;
        }
      }

      div.error {
        @include avenir_H();
        font-size: 15px;
        margin-top: 16px;
        color: $carrot_orange;
      }

      div.invite-rows {
        width: 340px;
        margin: 24px auto;

        @include mobile(){
          width: 100%;
        }

        div.invite-row {
          border: 1px solid rgba($carrot_light_gray_1, 0.5);
          border-radius: 4px;
          background-color: white;
          margin-top: 16px;
          width: 100%;
          height: 40px;
          padding: 8px 16px;

          &.error {
            border: 1px solid $carrot_orange;
          }

          input {
            @include avenir_BOOK();
            font-size: 16px;
            color: $ui_grey;
            outline: none;
            border: none;
            background-color: white;
            margin: 0px;
            padding: 0px;
            width: 100%;

            @include placeholder() {
              color: #99A0A7;
            }
          }
        }
      }

      button.continue {
        @include mobile() {
          margin-bottom: 0px;
        }
      }

      div.skip-container {
        width: 100%;

        button.skip-for-now {
          color: $sea_blue;
          margin: 16px auto 0;
          width: 140px;
          height: 25px;
          text-align: center;
          display: block;
        }
      }
    }
  }
}