div.onboard-wrapper-container {
  background-color: white;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.16);
  min-height: 100vh;
  width: 720px;
  margin: 0 auto;

  @include mobile() {
    background-color: white;
    width: 100%;
  }

  div.oc-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  div.bottom-gradient {
    width: 944px;
    height: 27vh;
    max-height: 220px;
    margin-left: -112px;
    margin-top: -50px;
    background: linear-gradient(-180deg, rgba(251, 250, 249, 0) 0%, rgb(251, 250, 249) 100%);
    display: block;
    position: fixed;
    bottom: 0;
    pointer-events: none;

    @include mobile() {
      display: none;
    }

    div.onboard-box {
      background-image: cdnUrl("/img/ML/wut_onboard_box.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 229px 234px;
      width: 229px;
      height: 234px;
      position: absolute;
      right: 6px;
      bottom: 0;
    }
  }

  div.onboard-wrapper {
    text-align: center;
    padding-bottom: 16vh;
    position: relative;

    @include mobile() {
      width: 100%;
      box-shadow: unset;
      margin: 0;
      min-height: unset;
      padding-bottom: 32px;
    }
  }
}

div.onboard-email-container {
  padding-top: 64px;
  width: 339px;
  @include OC_Body_Book();
  color: $carrot_gray;
  font-size: 32px;
  margin: 0 auto;
  position: relative;

  &.small {
    font-size: 24px;
  }

  &.dot-animation {
    text-align: left;
    width: 260px;
  }

  &.error {
    color: $carrot_orange;
  }

  &.email-wall {
    width: 385px;
    color: $deep_navy;
    @incldude OC_Body_Bold();

    div.email-wall-icon {
      background-image: cdnUrl("/img/ML/wut_email_wall.svg");
      background-size: 48px 36px;
      background-position: center;
      width: 48px;
      height: 36px;
      margin: 0 auto 32px;
    }

    div.email-wall-subtitle {
      @include OC_Body_Book();
      font-size: 18px;
      margin-top: 16px;
    }

    div.email-wall-sent-link {
      color: $deep_navy;
      @include OC_Body_Book();
      font-size: 18px;
      margin-top: 56px;

      div.email-address {
        @include OC_Body_Bold();
        font-size: 18px;
        color: $deep_navy;
      }
    }
  }

  button.continue {
    width: 100%;
    height: 40px;
    background-color: $sea_blue;
    color: white;
    @include OC_Body_Bold();
    font-size: 16px;
    line-height: 20px;
    padding: 10px 24px;
    border-radius: 6px;
    outline: none;
    border: none;

    &.disabled, &:disabled {
      background-color: $light_ui_grey;
      opacity: 1 !important;
      cursor: not-allowed;
    }
  }
}

div.onboard-lander {
  text-align: center;

  @include mobile() {
    padding: 0 16px;
  }

  div.main-cta {

    div.onboard-lander-header {
      position: fixed;
      top: 0;
      left: 50%;
      margin-left: -360px;

      button.top-back-button {
        display: block;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba($deep_navy, 0.1);
        background-image: cdnUrl("/img/ML/expanded_post_back_arrow.svg");
        background-size: 14px 10px;
        border-radius: 4px;
        position: absolute;
        top: 24px;
        left: 24px;
      }

      button.top-continue {
        display: none;
      }

      @include mobile() {
        z-index: 1031;
        left: 0;
        margin-left: 0;
        position: absolute;

        button.top-back-button {
          top: 16px;
          left: 16px;
        }

        button.top-continue {
          display: block;
          float: right;
          @include OC_Body_Bold();
          font-size: 15px;
          height: 32px;
          width: 66px;
          padding: 0px;
          position: absolute;
          top: 12px;
          right: 24px;
          color: $wut_purple;
          text-align: right;

          &.disabled, &:disabled {
            color: $light_ui_grey;
            opacity: 0;
          }
        }
      }
    }

    div.title {
      @include OC_Body_Bold();
      font-size: 32px;
      line-height: 41px;
      padding-top: 64px;
      color: $deep_navy;

      @include mobile() {
        margin-top: 0px;
        padding-top: 61px;
        font-size: 30px;
        margin: 0 auto;
      }
    }

    div.steps {
      width: 100px;
      height: 15px;
      margin: 12px auto 0;
      text-align: center;
      @include OC_Body_Bold();
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.42px;
      color: $light_ui_grey;
      text-transform: uppercase;
    }

    div.steps-separator {
      width: 77%;
      height: 1px;
      margin: 32px auto 0;
      background-color: $ultra_light_grey;

      @include mobile() {
        display: none;
      }
    }

    button.continue {
      margin-top: 24px;
      width: 100%;
      height: 40px;
      background-color: $sea_blue;
      color: white;
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      padding: 10px 24px;
      border-radius: 6px;
      outline: none;
      border: none;
      max-width: 320px;

      @include mobile() {
        max-width: initial;
      }

      &.disabled, &:disabled {
        background-color: $light_ui_grey;
        opacity: 1 !important;
        cursor: not-allowed;
      }
    }
  }

  div.subtitle {
    @include OC_Body_Book();
    font-size: 16px;
    margin-top: 16px;
    color: $deep_navy;
    padding: 0px 24px;

    &.error {
      color: $carrot_orange;
    }

    span.email-address {
      @include OC_Body_Bold();
      color: $deep_navy;
    }
  }

  div.onboard-form {
    width: 320px;
    margin: 0 auto 32px;
    text-align: left;

    div.subtitle {
      @include OC_Body_Book();
      font-size: 18px;
      color: $deep_navy;
      margin-top: 24px;
      text-align: center;

      @include mobile() {
        margin-top: 0px;
        padding-top: 16px;
        @include OC_Body_Book();
        margin: 0 auto;
      }
    }

    @include mobile() {
      width: 100%;
      padding: 0;
    }

    button.signup-with-slack {
      margin-top: 40px;
    }

    button.signup-with-google {
      margin-top: 8px;
    }

    button.signup-with-slack, button.signup-with-google {
      width: 320px;
      height: 40px;
      background-color: rgba($deep_navy, 0.1);
      color: $deep_navy;
      border-radius: 6px;
      text-align: center;
      @include OC_Body_Bold();
      font-size: 14px;
      color: $deep_navy;
      line-height: 18px;
      position: relative;
      opacity: 1;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }

      div.slack-icon {
        position: absolute;
        top: 10px;
        left: 16px;
        width: 20px;
        height: 20px;
        background-image: cdnUrl("/img/ML/slack_normal.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        float: left;
        margin-right: 16px;
      }

      div.google-icon {
        position: absolute;
        top: 10px;
        left: 16px;
        width: 20px;
        height: 20px;
        background-image: cdnUrl("/img/ML/google_signin.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        float: left;
        margin-right: 16px;
      }

      @include mobile() {
        width: 100%;
      }
    }

    div.or-with-email{
      width: 100%;
      height: 18px;
      margin-top: 24px;
      position: relative;

      div.or-with-email-copy {
        text-align: center;
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        color: rgba($deep_navy, 0.5);
        margin: 0 auto;
      }
    }

    div.logo-upload-container {
      margin-top: 60px;
      width: 320px;
      min-height: 40px;
      cursor: pointer;

      @include mobile() {
        width: 100%;
        margin: 32px auto;
        text-align: center;
      }

      &:hover {
        div.add-picture-link {
          text-decoration: underline;
        }
      }

      &.org-logo {
        width: 320px;

        @include mobile() {
          max-width: 100%;
        }

        div.org-avatar.missing-logo {
          position: relative;
          width: 72px;
          height: 72px;
          background-color: #F8FCFA;
          border: 1px dashed $wut_purple;
          border-radius: 8px;
          background-image: cdnUrl("/img/ML/company_avatar_purple_plus.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
        }

        div.org-avatar {
          @include org-avatar(72);
          margin-right: 24px;

          @include mobile() {
            float: unset;
            margin: 0px auto 16px;
          }

          div.org-avatar-container {
            img.org-avatar-img {
              max-width: 320px;
            }
          }
        }

        div.add-picture-link {
          margin-left: 0px;
          margin-top: 2px;

          @include mobile() {
            width: calc(100% - 96px);
            text-align: left;
          }
        }

        div.add-picture-link-subtitle {
          margin-left: 0px;
          margin-top: 10px;

          @include mobile() {
            width: calc(100% - 96px);
            text-align: left;
          }
        }
      }

      div.user-avatar-img-container {
        float: left;

        @include mobile() {
          float: unset;
          margin: 0px auto;
        }
      }

      @include user-profile(72);

      div.user-avatar-img-container {
        float: left;
      }

      div.empty-user-avatar-placeholder {
        float: left;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: #F8FCFA;
        border: 1px dashed $wut_purple;
        background-image: cdnUrl("/img/ML/company_avatar_purple_plus.svg");
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
      }

      div.add-picture-link {
        @include OC_Body_Bold();
        font-size: 16px;
        color: $wut_purple;
        float: left;
        margin-left: 24px;
        margin-top: 12px;
        width: 220px;

        @include mobile() {
          width: calc(100% - 96px);
          text-align: left;
        }
      }

      div.add-picture-link-subtitle {
        @include OC_Body_Book();
        font-size: 14px;
        color: $deep_navy;
        float: left;
        margin-left: 24px;
        margin-top: 8px;
        width: 220px;

        @include mobile() {
          width: calc(100% - 96px);
          text-align: left;
        }
      }
    }

    div.error {
      margin-top: 4px;
      color: $carrot_orange;
      @include OC_Body_Book();
      font-size: 14px;
      line-height: 18px;
    }

    div.field-label {
      @include OC_Body_Book();
      font-size: 14px;
      line-height: 20px;
      color: $deep_navy;
      margin-top: 16px;

      &.info {
        @include OC_Body_Book();
        font-size: 14px;
        color: rgba($deep_navy, 0.5);
        margin-top: 8px;
      }

      span.info {
        @include OC_Body_Book();
        font-size: 12px;
        color: rgba($oc_gray_7, 0.5);
      }

      span.error {
        margin-left: 16px;
        color: $carrot_orange;
      }

      &.left-half-field-label, &.right-half-field-label {
        width: calc(50% - 4px);

        @include mobile() {
          width: 100%;
        }
      }

      &.left-half-field-label {
        float: left;

        @include mobile() {
          float: unset;
        }
      }

      &.right-half-field-label {
        float: right;

        @include mobile() {
          &.field-label.name-fields {
            float: unset;
            margin-top: 16px;
          }
        }
      }
    }

    div.field-description {
      @include OC_Body_Book();
      font-size: 12px;
      line-height: 15px;
      color: rgba($deep_navy, 0.5);
      margin: 16px auto 0;
      width: 249px;
      text-align: center;

      a {
        text-decoration: underline;
        color: rgba($deep_navy, 0.5);
      }
    }

    div.footer-link {
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid $divider_line_grey;
      @include OC_Body_Book();
      font-size: 16px;
      color: $deep_navy;
      line-height: 20px;
      text-align: center;

      a {
        @include OC_Body_Book();
        font-size: 16px;
        color: $wut_purple;
        line-height: 20px;
        margin-left: 4px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    input.field {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background-color: rgba($deep_navy, 0.1);
      border: 1px solid transparent;
      outline: none;
      padding: 11px 16px;
      position: relative;
      @include OC_Body_Book();
      font-size: 14px;
      color: $deep_navy;
      line-height: 18px;
      margin-top: 8px;

      @include placeholder() {
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        color: rgba($deep_navy, 0.5);
      }

      &.error {
        border: 1px solid rgba($carrot_orange, 0.5);
      }

      &.valid {
        border: 1px solid rgba($wut_purple, 0.5);
      }

      &.right-half-field, &.left-half-field {
        width: calc(50% - 4px);

        @include mobile() {
          width: 100%;
        }
      }

      &.left-half-field {
        float: left;

        @include mobile() {
          float: unset;
        }
      }

      &.right-half-field {
        float: right;

        @include mobile() {
          float: unset;
        }
      }
    }

    textarea.field {
      width: 100%;
      border-radius: 4px;
      background-color: rgba($deep_navy, 0.1);
      border: none;
      border-radius: 4px;
      outline: none;
      padding: 11px 16px;
      position: relative;
      @include OC_Body_Book();
      resize: auto;
      font-size: 14px;
      line-height: 18px;
      color: $deep_navy;
      height: auto;
      margin-top: 8px;
      min-height: 40px;
      min-width: 100%;
      max-width: 100%;
      max-height: 130px;
      resize: none;

      &.has-value {
        color: $deep_navy;
      }

      @include placeholder() {
        color: rgba($deep_navy, 0.5);
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
      }
    }

    div.description {
      @include OC_Body_Book();
      color: $deep_navy;
      font-size: 14px;
      margin-top: 24px;

      a {
        text-decoration: underline;
        color: $deep_navy;
      }
    }

    button.continue {
      outline: none;
      border: none;
      width: 100%;
      height: 40px;
      max-width: 320px;
      background-color: $carrot_orange;
      color: white;
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      border-radius: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 24px;
      margin-top: 24px;

      @include mobile() {
        max-width: initial;
      }

      &.start-using-carrot {
        background-color: $carrot_orange_2;
        color: white;

        &.disabled {
          background-color: rgba($carrot_orange_2, 0.2);
        }
      }

      &.disabled, &:disabled {
        background-color: $light_ui_grey;
        opacity: 1 !important;
        cursor: not-allowed;
      }
    }

    div.logout-cancel {
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid $divider_line_grey;
      text-align: center;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 20px;
      color: $deep_navy;

      button.logout-cancel {
        @include OC_Body_Book();
        font-size: 16px;
        line-height: 20px;
        color: $wut_purple;
        padding: 0;
        display: block;
        margin: 0 auto;
      }
    }
  }

  @include mobile() {
    div.main-cta {
      div.mobile-header {
        height: 104px;
        border-bottom: none;
        position: absolute;

        div.onboard-lander-header {
          width: 36px;
          height: 64px;
          background-size: 36px 64px;
          position: relative;
          top: unset;
          left: unset;
          margin: 40px auto 0;
        }
      }

      div.title {
        @include OC_Body_Bold();
        font-size: 30px;
        line-height: 41px;
        color: $deep_navy;
      }
    }
  }

  &.lander {
    @include mobile() {
      padding: 0 0 24px;
    }
  }

  &.lander-profile {
    div.mobile-header {
      button.top-continue {
        color: $sea_blue;
      }
    }
    div.onboard-form {
      margin-top: 32px;

      div.field-label.name-fields {
        margin-top: 0;
      }
    }
  }

  &.invitee-team-lander {
    div.main-cta {

      div.title-container {

        div.team-logo-container {
          width: 100%;
          display: block;
          margin: 0 0 24px;
          padding-top: 64px;

          @include org-avatar(72);

          div.org-avatar {
            float: none;

            div.org-avatar-container:before {
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        div.title {
          padding-top: 0;
        }
      }

      div.invite-token-container {
        position: absolute;
        left: 50%;
        top: calc(50% - 32px);
        transform: translate(-50%, -50%);

        div.title {
          font-size: 32px;
        }

        div.subtitle {
          width: 379px;
          margin: 16px auto 0;
          font-size: 18px;

          &.checking-invitation {
            width: 264px;
            text-align: left;
          }
        }
      }
    }
  }

  &.invitee-lander {
    div.invite-container {
      position: absolute;
      left: 50%;
      top: calc(50% - 32px);
      transform: translate(-50%, -50%);

      div.title {
        width: 400px;
        font-size: 32px;
      }

      div.subtitle {
        width: 379px;
        margin: 16px auto 0;
        font-size: 18px;

        &.checking-invitation {
          width: 264px;
          text-align: left;
        }
      }
    }
  }

  &.invitee-lander-password, &.invitee-lander-profile {
    div.onboard-form {
      div.field-label:first-child {
        margin-top: 40px;
      }
    }
  }

  &.lander-invite {
    div.onboard-form {
      div.field-label {
        button.add-another-invite-row {
          color: $wut_purple;
          float: right;
          @include OC_Body_Book();
          font-size: 13px;

          @media screen and (max-width: 380px){
            float: unset;
            width: 100%;
            text-align: right;
          }
        }
      }

      div.error {
        @include OC_Body_Bold();
        font-size: 15px;
        margin-top: 16px;
        color: $carrot_orange;
      }

      div.invite-rows {
        width: 320px;
        margin: 0px auto;

        @include mobile(){
          width: 100%;
        }

        div.invite-row {
          border: 1px solid rgba($carrot_light_gray_1, 0.5);
          border-radius: 4px;
          background-color: white;
          margin-top: 8px;
          width: 100%;
          height: 40px;
          padding: 8px 16px;

          &.error {
            border: 1px solid $carrot_orange;
          }

          input {
            @include OC_Body_Book();
            font-size: 14px;
            color: $deep_navy;
            outline: none;
            border: none;
            background-color: white;
            margin: 0px;
            padding: 0px;
            width: 100%;

            @include placeholder() {
              color: $light_ui_grey;
            }
          }
        }
      }

      button.continue {
        padding: 7px;

        @include mobile() {
          margin-bottom: 0px;
        }
      }

      button.skip-for-now {
        @include OC_Body_Book();
        font-size: 16px;
        background-color: #E0E7FE;
        padding: 0;
        margin: 16px auto 0px;
        width: 100%;
        max-width: 320px;
        height: 48px;
        color: $sea_blue;
        display: block;
        border-radius: 6px;
      }
    }
  }
}