div.onboard-wrapper-container {
  background-color: $grey_num_2;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.16);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;

  @include mobile() {
    background-color: $grey_num_2;
    width: 100%;
  }

  div.oc-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  div.onboard-wrapper {
    text-align: center;
    padding-bottom: 16vh;
    position: relative;

    @include mobile() {
      width: 100%;
      box-shadow: unset;
      margin: 0;
      min-height: unset;
      padding-bottom: 32px;
    }
  }
}

div.onboard-email-container {
  padding-top: 64px;
  width: 339px;
  @include OC_Body_Book();
  color: $carrot_gray;
  font-size: 32px;
  margin: 0 auto;
  position: relative;

  &.small {
    font-size: 24px;
  }

  &.dot-animation {
    text-align: left;
    width: 260px;
  }

  &.error {
    color: $carrot_orange;
  }

  &.email-wall {
    width: 385px;
    color: $deep_navy;
    @incldude OC_Body_Bold();

    div.email-wall-icon {
      background-image: cdnUrl("/img/ML/wut_email_wall.svg");
      background-size: 48px 36px;
      background-position: center;
      width: 48px;
      height: 36px;
      margin: 0 auto 32px;
    }

    div.email-wall-subtitle {
      @include OC_Body_Book();
      font-size: 18px;
      margin-top: 16px;
    }

    div.email-wall-sent-link {
      color: $deep_navy;
      @include OC_Body_Book();
      font-size: 18px;
      margin-top: 56px;

      div.email-address {
        @include OC_Body_Bold();
        font-size: 18px;
        color: $deep_navy;
      }
    }
  }

  button.continue {
    width: 100%;
    height: 40px;
    background-color: $wut_purple;
    color: white;
    @include OC_Body_Bold();
    font-size: 16px;
    line-height: 20px;
    padding: 10px 24px;
    border-radius: 6px;
    outline: none;
    border: none;

    &.disabled, &:disabled {
      background-color: $light_ui_grey;
      opacity: 1 !important;
      cursor: not-allowed;
    }
  }
}

div.onboard-lander {
  text-align: center;
  display: inline-block;
  width: 100%;

  @include mobile() {
    padding: 0 16px;
  }

  header.main-cta {
    position: fixed;
    top: 0;
    left: 0;
    height: #{$navbar_height}px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    border-bottom: 0.5px solid var(--opac-background-color-24);
    padding: 18px 24px;
    background-color: $grey_num_2;
    display: inline-block;
    text-align: center;
    z-index: 2;

    button.top-back-button {
      display: block;
      width: auto;
      height: 20px;
      background-position: 0 center;
      background-repeat: no-repeat;
      background-image: cdnUrl("/img/ML/black_back_arrow.svg");
      background-size: 14px 10px;
      padding-left: 22px;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 20px;
      color: var(--color);
      position: absolute;
      left: 24px;
      top: 18px;
    }

    div.title {
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      color: $deep_navy;

      @include mobile() {
        margin-top: 0px;
        padding-top: 61px;
        font-size: 30px;
        margin: 0 auto;
      }
    }

    button.top-continue {
      padding: 0;
      position: absolute;
      right: 24px;
      top: 18px;
      height: 20px;
      width: auto;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 20px;
      color: $wut_purple;

      &.disabled, &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }

    button.continue {
      margin-top: 32px;
      width: 100%;
      height: 40px;
      background-color: $wut_purple;
      color: white;
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      padding: 10px 24px;
      border-radius: 6px;
      outline: none;
      border: none;
      max-width: 320px;

      @include mobile() {
        max-width: initial;
      }

      &.disabled, &:disabled {
        background-color: $light_ui_grey;
        opacity: 1 !important;
        cursor: not-allowed;
      }
    }

    @include mobile() {
      z-index: 1031;
      left: 0;
      margin-left: 0;
      position: absolute;

      button.top-back-button {
        top: 16px;
        left: 16px;
      }

      button.top-continue {
        display: block;
        float: right;
        @include OC_Body_Bold();
        font-size: 15px;
        height: 32px;
        width: 66px;
        padding: 0px;
        position: absolute;
        top: 12px;
        right: 24px;
        color: $wut_purple;
        text-align: right;

        &.disabled, &:disabled {
          color: $light_ui_grey;
          opacity: 0;
        }
      }
    }
  }

  div.subtitle {
    @include OC_Body_Book();
    font-size: 16px;
    margin-top: 16px;
    color: $deep_navy;
    padding: 0px 24px;

    &.error {
      color: $carrot_orange;
    }

    span.email-address {
      @include OC_Body_Bold();
      color: $deep_navy;
    }
  }

  div.onboard-form {
    width: 400px;
    margin: 104px auto 32px;
    text-align: center;
    border: 1px solid #DCDDE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    background-color: white;
    padding: 40px;

    div.form-title {
      @include OC_Body_Bold();
      font-size: 22px;
      color: $deep_navy;
      line-height: 28px;
      text-align: center;
    }

    button.user-profile-avatar {
      margin: 24px auto 0;
      cursor: pointer;
      width: 80px;
      height: 80px;

      @include user-profile(80) {
        img.user-avatar-img {
          cursor: pointer;
        }
      }
    }

    div.subtitle {
      @include OC_Body_Book();
      font-size: 18px;
      color: $deep_navy;
      margin-top: 24px;
      text-align: center;

      @include mobile() {
        margin-top: 0px;
        padding-top: 16px;
        @include OC_Body_Book();
        margin: 0 auto;
      }
    }

    @include mobile() {
      width: 100%;
      padding: 0;
    }

    button.signup-with-slack {
      float: left;
    }

    button.signup-with-google {
      float: right;
    }

    button.signup-with-slack, button.signup-with-google {
      margin-top: 16px;
      width: calc(50% - 8px);
      height: 40px;
      background-color: rgba($deep_navy, 0.1);
      color: $deep_navy;
      border-radius: 6px;
      text-align: center;
      position: relative;
      opacity: 1;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }

      div.slack-text, div.google-text {
        @include OC_Body_Book();
        font-size: 14px;
        color: $deep_navy;
        line-height: 20px;
      }

      div.slack-icon {
        width: 20px;
        height: 20px;
        background-image: cdnUrl("/img/ML/slack_normal.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        margin-right: 8px;
      }

      div.google-icon {
        width: 20px;
        height: 20px;
        background-image: cdnUrl("/img/ML/google_signin.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        margin-right: 8px;
      }

      @include mobile() {
        width: 100%;
      }
    }

    div.or-with-email{
      width: 100%;
      height: 20px;
      margin-top: 24px;
      position: relative;

      div.or-with-email-copy {
        text-align: center;
        @include OC_Body_Book();
        font-size: 16px;
        line-height: 20px;
        color: rgba($deep_navy, 0.5);
        margin: 0 auto;
      }
    }

    div.logo-upload-container {
      margin-top: 60px;
      width: 320px;
      min-height: 40px;
      cursor: pointer;

      @include mobile() {
        width: 100%;
        margin: 32px auto;
        text-align: center;
      }

      &:hover {
        div.add-picture-link {
          text-decoration: underline;
        }
      }

      &.org-logo {
        width: 320px;

        @include mobile() {
          max-width: 100%;
        }

        div.org-avatar.missing-logo {
          position: relative;
          width: 72px;
          height: 72px;
          background-color: #F8FCFA;
          border: 1px dashed $wut_purple;
          border-radius: 8px;
          background-image: cdnUrl("/img/ML/company_avatar_purple_plus.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
        }

        div.org-avatar {
          @include org-avatar(72);
          margin-right: 24px;

          @include mobile() {
            float: unset;
            margin: 0px auto 16px;
          }

          div.org-avatar-container {
            img.org-avatar-img {
              max-width: 320px;
            }
          }
        }

        div.add-picture-link {
          margin-left: 0px;
          margin-top: 2px;

          @include mobile() {
            width: calc(100% - 96px);
            text-align: left;
          }
        }

        div.add-picture-link-subtitle {
          margin-left: 0px;
          margin-top: 10px;

          @include mobile() {
            width: calc(100% - 96px);
            text-align: left;
          }
        }
      }

      div.user-avatar-img-container {
        float: left;

        @include mobile() {
          float: unset;
          margin: 0px auto;
        }
      }

      @include user-profile(72);

      div.user-avatar-img-container {
        float: left;
      }

      div.empty-user-avatar-placeholder {
        float: left;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: #F8FCFA;
        border: 1px dashed $wut_purple;
        background-image: cdnUrl("/img/ML/company_avatar_purple_plus.svg");
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
      }

      div.add-picture-link {
        @include OC_Body_Bold();
        font-size: 16px;
        color: $wut_purple;
        float: left;
        margin-left: 24px;
        margin-top: 12px;
        width: 220px;

        @include mobile() {
          width: calc(100% - 96px);
          text-align: left;
        }
      }

      div.add-picture-link-subtitle {
        @include OC_Body_Book();
        font-size: 14px;
        color: $deep_navy;
        float: left;
        margin-left: 24px;
        margin-top: 8px;
        width: 220px;

        @include mobile() {
          width: calc(100% - 96px);
          text-align: left;
        }
      }
    }

    div.error {
      margin-top: 4px;
      color: $carrot_orange;
      @include OC_Body_Book();
      font-size: 14px;
      line-height: 18px;
    }

    div.field-label {
      @include OC_Body_Book();
      font-size: 12px;
      line-height: 15px;
      color: $deep_navy;
      margin-top: 16px;
      text-align: left;

      &.info {
        @include OC_Body_Book();
        font-size: 14px;
        color: rgba($deep_navy, 0.5);
        margin-top: 8px;
      }

      span.info {
        @include OC_Body_Book();
        font-size: 12px;
        color: rgba($oc_gray_7, 0.5);
      }

      span.error {
        margin-left: 16px;
        color: $carrot_orange;
      }
    }

    div.field-description {
      @include OC_Body_Book();
      font-size: 12px;
      line-height: 15px;
      color: rgba($deep_navy, 0.5);
      margin: 16px auto 0;
      width: 230px;
      text-align: center;

      a {
        text-decoration: underline;
        color: rgba($deep_navy, 0.5);
      }
    }

    input.field {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background-color: rgba($deep_navy, 0.08);
      border: 1px solid transparent;
      outline: none;
      padding: 11px 12px;
      position: relative;
      @include OC_Body_Book();
      font-size: 14px;
      color: $deep_navy;
      line-height: 18px;
      margin-top: 8px;

      @include placeholder() {
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        color: rgba($deep_navy, 0.5);
      }

      &.error {
        border: 1px solid rgba($carrot_orange, 0.5);
      }

      &.valid {
        border: 1px solid rgba($wut_purple, 0.5);
      }
    }

    textarea.field {
      width: 100%;
      border-radius: 4px;
      background-color: rgba($deep_navy, 0.1);
      border: none;
      border-radius: 4px;
      outline: none;
      padding: 11px 16px;
      position: relative;
      @include OC_Body_Book();
      resize: auto;
      font-size: 14px;
      line-height: 18px;
      color: $deep_navy;
      height: auto;
      margin-top: 8px;
      min-height: 40px;
      min-width: 100%;
      max-width: 100%;
      max-height: 130px;
      resize: none;

      &.has-value {
        color: $deep_navy;
      }

      @include placeholder() {
        color: rgba($deep_navy, 0.5);
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
      }
    }

    div.description {
      @include OC_Body_Book();
      color: $deep_navy;
      font-size: 14px;
      margin-top: 24px;

      a {
        text-decoration: underline;
        color: $deep_navy;
      }
    }

    button.continue {
      outline: none;
      border: none;
      width: 100%;
      height: 40px;
      max-width: 320px;
      background-color: $wut_purple;
      color: white;
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      border-radius: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 24px;
      margin-top: 32px;

      @include mobile() {
        max-width: initial;
      }

      &.start-using-carrot {
        background-color: $wut_purple;
        color: white;

        &.disabled {
          background-color: $wut_feint_purple;
        }
      }

      &.disabled, &:disabled {
        background-color: rgba($deep_navy, 0.16);
        color: $ui_grey;
        opacity: 1 !important;
        cursor: not-allowed;
      }
    }
  }

  div.logout-cancel {
    margin-top: 40px;
    text-align: center;
    @include OC_Body_Book();
    font-size: 14px;
    line-height: 18px;
    color: $deep_navy;

    button.logout-cancel {
      @include OC_Body_Book();
      font-size: 14px;
      line-height: 18px;
      color: blue;
      text-decoration: underline;
      padding: 0;
      display: block;
      margin: 0 auto;
    }
  }

  div.footer-link {
    margin-top: 40px;
    @include OC_Body_Book();
    font-size: 14px;
    color: $ui_grey;
    line-height: 18px;
    text-align: center;

    a {
      @include OC_Body_Book();
      font-size: 14px;
      color: blue;
      text-decoration: underline;
      line-height: 18px;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include mobile() {
    header.main-cta {
      div.mobile-header {
        height: 104px;
        border-bottom: none;
        position: absolute;

        div.onboard-lander-header {
          width: 36px;
          height: 64px;
          background-size: 36px 64px;
          position: relative;
          top: unset;
          left: unset;
          margin: 40px auto 0;
        }
      }

      div.title {
        @include OC_Body_Bold();
        font-size: 30px;
        line-height: 41px;
        color: $deep_navy;
      }
    }
  }

  &.lander {
    @include mobile() {
      padding: 0 0 24px;
    }
  }

  &.lander-profile {
    div.onboard-form {
      div.field-label:first-child {
        margin-top: 0;
      }
    }
  }

  &.invitee-team-lander {
    header.main-cta {

      div.title-container {

        div.team-logo-container {
          width: 100%;
          display: block;
          margin: 0 0 24px;
          padding-top: 64px;

          @include org-avatar(72);

          div.org-avatar {
            float: none;

            div.org-avatar-container:before {
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        div.title {
          padding-top: 0;
        }
      }

      div.invite-token-container {
        position: absolute;
        left: 50%;
        top: calc(50% - 32px);
        transform: translate(-50%, -50%);

        div.title {
          font-size: 32px;
        }

        div.subtitle {
          width: 379px;
          margin: 16px auto 0;
          font-size: 18px;

          &.checking-invitation {
            width: 264px;
            text-align: left;
          }
        }
      }
    }
  }

  &.invitee-lander {
    div.invite-container {
      position: absolute;
      left: 50%;
      top: calc(50% - 32px);
      transform: translate(-50%, -50%);

      div.title {
        width: 400px;
        font-size: 32px;
      }

      div.subtitle {
        width: 379px;
        margin: 16px auto 0;
        font-size: 18px;

        &.checking-invitation {
          width: 264px;
          text-align: left;
        }
      }
    }
  }

  &.invitee-lander-password, &.invitee-lander-profile {
    div.onboard-form {
      div.field-label:first-child {
        margin-top: 40px;
      }
    }
  }

  &.lander-invite {
    div.onboard-form {
      div.field-label {
        button.add-another-invite-row {
          color: $wut_purple;
          float: right;
          @include OC_Body_Book();
          font-size: 13px;

          @media screen and (max-width: 380px){
            float: unset;
            width: 100%;
            text-align: right;
          }
        }
      }

      div.error {
        @include OC_Body_Bold();
        font-size: 15px;
        margin-top: 16px;
        color: $carrot_orange;
      }

      div.invite-rows {
        width: 320px;
        margin: 0px auto;

        @include mobile(){
          width: 100%;
        }

        div.invite-row {
          border: 1px solid rgba($carrot_light_gray_1, 0.5);
          border-radius: 4px;
          background-color: $grey_num_2;
          margin-top: 8px;
          width: 100%;
          height: 40px;
          padding: 8px 16px;

          &.error {
            border: 1px solid $carrot_orange;
          }

          input {
            @include OC_Body_Book();
            font-size: 14px;
            color: $deep_navy;
            outline: none;
            border: none;
            background-color: $grey_num_2;
            margin: 0px;
            padding: 0px;
            width: 100%;

            @include placeholder() {
              color: $light_ui_grey;
            }
          }
        }
      }

      button.continue {
        padding: 7px;

        @include mobile() {
          margin-bottom: 0px;
        }
      }

      button.skip-for-now {
        @include OC_Body_Book();
        font-size: 16px;
        background-color: #E0E7FE;
        padding: 0;
        margin: 16px auto 0px;
        width: 100%;
        max-width: 320px;
        height: 48px;
        color: $sea_blue;
        display: block;
        border-radius: 6px;
      }
    }
  }
}