div.onboard-overlay-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 103};
  transition: opacity 180ms ease-in;
  overflow: auto;

  @include mobile() {
    position: relative;
  }

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.onboard-overlay {
    width: 600px;
    height: 540px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;
    position: relative;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 34px 0 rgba(#7B7B7B, 0.5);
    text-align: center;

    @include mobile(){
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      margin-left: 0px;
      margin-top: 0px;
      border-radius: 0px;
    }

    div.onboard-overlay-step {
      height: 540px;
      background-size: 600px 540px;
      background-repeat: no-repeat;
      padding: 50px 32px;
      position: relative;

      @include mobile(){
        width: 100%;
        height: 100%;
        padding: 64px 24px;
      }

      div.onboard-balloon {
        display: none;

        @include tablet() {
          display: block;
          position: absolute;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 1;
        }

        &.red-balloon {
          width: 135px;
          height: 116px;
          top: -55px;
          left: -60px;
          background-size: 135px 116px;
          @include image-2x("/img/ML/onboard_mobile_red_balloon");
        }

        &.green-balloon {
          width: 217px;
          height: 216px;
          top: -157px;
          right: -118px;
          transform: rotate(130deg);
          background-size: 217px 216px;
          @include image-2x("/img/ML/onboard_mobile_green_balloon");
        }

        &.yellow-balloon {
          width: 15px;
          height: 15px;
          left: 260px;
          top: 39px;
          background-size: 15px 15px;
          @include image-2x("/img/ML/onboard_mobile_yellow_balloon");
        }

        &.green-balloon-1 {
          width: 180px;
          height: 180px;
          top: 92px;
          left: -144px;
          background-size: 180px 180px;
          @include image-2x("/img/ML/onboard_mobile_green_balloon_1");
        }

        &.red-balloon-1 {
          width: 135px;
          height: 116px;
          top: -63px;
          right: -80px;
          background-size: 135px 116px;
          @include image-2x("/img/ML/onboard_mobile_red_balloon");
        }

        &.yellow-balloon-1 {
          width: 15px;
          height: 15px;
          left: 180px;
          top: 39px;
          background-size: 15px 15px;
          @include image-2x("/img/ML/onboard_mobile_yellow_balloon");
        }

        &.purple-balloon {
          width: 23px;
          height: 21px;
          left: 282px;
          top: 139px;
          background-size: 23px 21px;
          @include image-2x("/img/ML/onboard_mobile_purple_balloon");
        }
      }

      div.onboard-overlay-step-title {
        @include avenir_H();
        font-size: 32px;
        color: $carrot_dark_gray;
        margin-top: 32px;
      }

      div.step-illustration-container-center {
        width: 260px;
        height: 293px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -130px;
        margin-top: -146px;

        div.step-illustration-container {
          margin: 0px auto;
          background-position: center;
          background-repeat: no-repeat;

          @include mobile() {
            margin: 8px auto 0px;
          }
        }

        div.onboard-overlay-step-description {
          @include avenir_M();
          font-size: 18px;
          color: $oc_gray_7;
          line-height: 26px;
          text-align: center;

          @include mobile(){
            width: 100%;
          }
        }
      }

      button.continue-btn {
        width: 240px;
        height: 40px;
        border-radius: 100px;
        background-color: $carrot_text_blue;
        color: white;
        @include avenir_H();
        font-size: 16px;
        position: relative;
        text-align: center;
        padding: 8px 28px;

        @include mobile(){
          width: 300px;
          position: absolute;
          bottom: 64px;
          left: 50%;
          margin-left: -150px;
        }

        &:after {
          @include image-2x("/img/ML/get_started_arrow");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          top: 10px;
          right: 24px;
        }
      }

      &.step-1 {
        background-image: cdnUrl("/img/ML/onboard_overlay_step_1.png");

        @include mobile() {
          background-image: none;
        }

        div.step-illustration-container-center {

          div.step-illustration-container {
            width: 246px;
            height: 216px;
            background-size: 246px 216px;
            background-repeat: no-repeat;
            @include image-2x("/img/ML/onboard_overlay_il_1");
          }

          div.onboard-overlay-step-description {
            margin-top: 20px;
          }
        }

        button.continue-btn {
          margin-top: 32px;
        }
      }

      &.step-last {
        background-image: cdnUrl("/img/ML/onboard_overlay_step_last.png");

        @include mobile() {
          background-image: none;
        }

        div.onboard-overlay-step-title {
          margin-top: 0px;
        }

        div.step-illustration-container-center {
          width: 311px;
          margin-left: -155px;
          height: 329px;
          margin-top: -164px;
        
          div.step-illustration-container {
            width: 260px;
            margin-left: 25px;
            height: 231px;
            background-size: 260px 231px;
            background-repeat: no-repeat;
            @include image-2x("/img/ML/onboard_overlay_il_last");
          }

          div.onboard-overlay-step-description {
            margin-top: 20px;
          }
        }

        button.continue-btn {
          margin-top: 41px;
          text-align: center;

          @include mobile() {
            margin-top: 8px;
          }

          &:after {
            background-image: none;
          }
        }
      }
    }
  }
}