div.onboard-overlay-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: #{$navbar_zindex + 103};
  transition: opacity 180ms ease-in;
  overflow-y: hidden;

  div.onboard-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background-color: rgba($deep_navy, 0.8);

    @include mobile(){
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      margin-left: 0px;
      margin-top: 0px;
    }

    div.onboard-overlay-step {
      width: 480px;
      height: 440px;
      padding: 60px 80px;
      position: absolute;
      margin: -220px -240px;
      top: 50%;
      left: 50%;
      background-color: $coral;
      border-radius: 6px;

      @include mobile() {
        padding: 40px 32px;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        margin: 0;
      }

      div.onboard-overlay-carrot-icon {
        width: 44px;
        height: 80px;
        margin: 0 auto;
        background-image: cdnUrl("/img/ML/carrot.svg");
        background-size: 44px 80px;
        background-position: center;
        background-repeat: no-repeat;
      }

      div.onboard-overlay-step-title {
        @include avenir_H();
        font-size: 32px;
        margin: 0px auto;
        color: $carrot_orange;
        margin-top: 32px;

        @include mobile() {
          max-width: 300px;
          font-size: 23px;
        }
      }

      div.step-illustration-container {
        @include mobile() {
          width: 227px;
          height: 200px;
          overflow: hidden;
          position: relative;
          margin: 16px auto;
          max-height: 360px;
          bottom: 0px;
          top: unset;
          left: unset;
          @include image-2x("/img/ML/mobile_onboard_overlay");
          background-size: 227px 200px;
          background-position: center;
          background-repeat: no-repeat;

          &:after {
            // Gradient
            content: "";
            height: 54px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 10;
            pointer-events: none;
          }
        }
      }

      div.step-illustration-container-center {
        position: relative;
        margin-top: 16px;

        div.onboard-overlay-step-description {
          @include avenir_M();
          color: $deep_navy;
          line-height: 26px;
          font-size: 18px;
          text-align: center;
          margin: 0px auto;

          @include mobile() {
            bottom: 0px;
            position: absolute;
            max-width: 300px;
          }
        }
      }

      button.continue-btn {
        min-width: 160px;
        width: 220px;
        height: 40px;
        border-radius: 100px;
        background-color: $carrot_orange;
        color: white;
        @include avenir_H();
        font-size: 18px;
        text-align: center;
        padding: 8px 28px;
        margin-top: 48px;

        @include mobile() {
          position: absolute;
          bottom: 88px;
          left: 50%;
          margin-left: -110px;
        }
      }
    }
  }
}