div.onboard-overlay-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 103};
  transition: opacity 180ms ease-in;
  overflow: auto;

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.onboard-overlay {
    width: 600px;
    height: 540px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;
    position: relative;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 34px 0 rgba(#7B7B7B, 0.5);
    text-align: center;

    @include mobile(){
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      margin-left: 0px;
      margin-top: 0px;
      border-radius: 0px;
    }

    div.onboard-overlay-step {
      height: 540px;
      background-size: 600px 540px;
      background-repeat: no-repeat;
      padding: 50px 32px;

      @include mobile(){
        width: 100%;
        height: 100%;
      }

      div.onboard-overlay-step-title {
        @include avenir_H();
        font-size: 25px;
        color: $carrot_gray;
      }

      div.step-illustration-container {
        margin: 32px auto 0px;
        background-position: center;
        background-repeat: no-repeat;
      }

      div.onboard-overlay-step-description {
        @include avenir_M();
        font-size: 18px;
        color: $oc_gray_7;
        line-height: 26px;
        width: 450px;
        margin: 0 auto;

        @include mobile(){
          width: 100%;
        }
      }

      button.continue-btn {
        width: 240px;
        height: 40px;
        border-radius: 100px;
        background-color: $carrot_text_blue;
        color: white;
        @include avenir_H();
        font-size: 16px;
        position: relative;
        text-align: center;
        padding: 8px 28px;

        @include mobile(){
          width: 100%;
        }

        &:after {
          @include image-2x("/img/ML/get_started_arrow");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          top: 10px;
          right: 24px;
        }
      }

      &.step-1 {
        background-image: cdnUrl("/img/ML/onboard_overlay_step_1.png");

        @include mobile() {
          background-image: none;
        }

        div.step-illustration-container {
          margin-top: 38px;
          width: 402px;
          height: 164px;
          background-size: 402px 164px;
          background-repeat: no-repeat;
          @include image-2x("/img/ML/onboard_overlay_il_1");

          @include mobile(){
            width: 100%;
            background-size: 100%;
          }
        }

        div.onboard-overlay-step-description {
          margin-top: 48px;
        }

        button.continue-btn {
          margin-top: 32px;
        }
      }

      &.step-last {
        background-image: cdnUrl("/img/ML/onboard_overlay_step_last.png");

        @include mobile() {
          background-image: none;
        }

        div.onboard-overlay-step-title {
          margin-top: 0px;
        }
        
        div.step-illustration-container {
          margin-top: 17px;
          width: 260px;
          height: 231px;
          background-size: 260px 231px;
          background-repeat: no-repeat;
          @include image-2x("/img/ML/onboard_overlay_il_last");

          @include mobile(){
            width: 100%;
            background-size: 100%;
          }
        }

        div.onboard-overlay-step-description {
          margin-top: 21px;
        }

        button.continue-btn {
          margin-top: 41px;
          text-align: center;

          &:after {
            background-image: none;
          }
        }
      }
    }
  }
}