div.org-dashboard {
  background-color: $oc_gray_8;

  @include mobile() {
    background-color: $grey_num_2;
  }

  div.login-required {
    min-height: calc(100vh - #{$footer_small_height}px - 44px);
  }

  & > div.activity-share-modal-container {
    z-index: 1132;
  }

  &.activity-not-found div.page {
    display: none;
  }

  @include mobile() {
    &.activity-not-found div.page, &.activity-removed div.page {
      display: none;
    }
  }

  &.expanded-activity div.page {
    @include mobile() {
      padding-top: 0;
      nav.oc-navbar {
        display: none;
      }
    }
  }

  div.menu {
    display: none;
  }

  &.show-menu {
    div.menu {
      display: block;
    }
  }

  div.page{
    position: relative; /* Set the position property so z-index will apply */
    z-index: 20; /* Make sure this is higher than #menu */
    top: 0px !important;
    background: #fff;
    min-height: calc(100vh - #{$footer_height}px);

    @include mobile(){
      padding-top: #{$mobile_navbar_height}px;
      min-height: calc(100vh - #{$mobile_navbar_height}px);
    }

    div.org-dashboard-container {
      background-color: $oc_gray_8;

      @include big_web() {
        min-width: #{$left_navigation_sidebar_width + $left_navigation_sidebar_minimum_right_margin + $board_container_width}px;
      }

      @include mobile() {
        margin: 0px;
        min-width: initial;
        background-color: $grey_num_2;
      }

      div.empty-dashboard {
        min-height: calc(100vh - #{$navbar_height}px - #{$footer_small_height}px + 30px);
        padding: 80px 20px;
        margin-top: -20px;

        @include mobile() {
          margin: -20px 24px 0px;
          min-height: calc(100vh - #{$mobile_navbar_height}px - #{$footer_small_height}px + 30px);
        }

        h3.empty-dashboard-title {
          @include OC_Body_Bold();
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  }
}

html {
  @include mobile(){
    background-color: $grey_num_2;
  }
}

div.org-dashboard {
  div.page {
    div.empty-dashboard {
      min-height: calc(100vh - #{$footer_small_height}px + 24px);

      @include mobile(){
        min-height: calc(100vh - #{$mobile_navbar_height}px - #{$footer_small_height}px + 24px);
      }
    }
  }
}

body {
  div.org-dashboard {
    div.page {
      min-height: 100vh;

      @include mobile(){
        background-color: $grey_num_2;
      }
    }
  }
}

div.add-more-tooltip {
  margin-left: -15px;
}

div.org-dashboard div.org-dashboard-inner {
  padding-bottom: 20px;
  background-color: $oc_gray_8;

  @include big_web(){
    min-height: 100vh;
    padding-top: #{$navbar_height + $carrot_trend_collapsed_height}px;
  }
  @include mobile(){
    background-color: $grey_num_2;
    min-height: calc(100vh - #{$mobile_navbar_height}px);
  }
}