div.org-avatar {
  float: left;

  a {
    padding: 0;

    &:hover {
      text-decoration: none;
    }
  }

  @include big_web(){
    @include org-avatar(40);
  }

  @include mobile(){
    @include org-avatar(32);
  }
  
}