div.orgs-dropdown {
  height: 56px;

  button#orgsDropdown {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    height: 56px;
    padding: 0;
    margin: 0;

    &:hover {
      &.dropdown-toggle:after {
        opacity: 1;
      }
    }

    &.dropdown-toggle:after {
      position: absolute;
      top: 15px;
      right: -15px;
      font-family: FontAwesome;
      content: "\f078";
      color: $oc_gray_5;
      font-size: 14px;
      opacity: 0;
    }
  }

  ul.dropdown-menu {
    width: 200px;
    margin-left: 50px;
    float: initial;
    padding: 10px 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(177, 184, 192, 0.5);

    li {
      height: 24px;
      width: 100%;
      margin: 10px 0;

      &.active, &:hover {
        background-color: transparent;
      }

      a{
        display: initial;
        height: initial;
        line-height: initial;
        padding: 0;
        color: initial;

        &:hover {
          background-color: initial;
        }
      }

      span.org-name {
        @include avenir_M();
        font-size: 14px;
        color: $oc_gray_5;
        float: left;
        margin-top: 4px;
        margin-left: 16px;

        &.no-logo {
          margin-left: 40px;
        }
      }

      div.org-avatar {
        float: left;
        width: 24px;
        height: 24px;

        a {
          margin: 0;
          padding: 0;
          cursor: pointer;

          div.org-avatar-container {
            height: 24px;
            width: 24px;
            margin: 0;
            padding: 0;

            div.org-avatar-border {
              height: 24px;
              width: 24px;
              padding: 0px;
              margin-top: -10px !important;

              img {
                max-width: 24px;
                max-height: 24px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}