div.org-dashboard {
  background-color: var(--background-color);

  @include mobile() {
    background-color: var(--mobile-background-color);
  }

  & > div.activity-share-modal-container {
    z-index: 1132;
  }

  &.login-wall div.page {
    display: none;
  }

  @include mobile() {
    &.login-wall div.page, &.activity-removed div.page {
      display: none;
    }
  }

  &.top-banner div.page {
    padding-top: #{$top_banner_height}px;
    min-height: calc(100% - #{$top_banner_height}px);

    @include mobile() {
      padding-top: calc(#{$mobile_navbar_height}px + #{$top_banner_height}px);
      min-height: calc(100vh - #{$mobile_navbar_height}px - #{$top_banner_height}px);
    }

    div.org-dashboard-container {
      div.empty-dashboard {
        min-height: calc(100vh - #{$top_banner_height}px - #{$navbar_height}px + 30px);

        @include mobile() {
          min-height: calc(100vh - #{$top_banner_height}px - #{$mobile_navbar_height}px + 30px);
        }
      }

      div.org-dashboard-inner {
        @include big_web(){
          min-height: calc(100vh - #{$top_banner_height}px);
          padding-top: #{$navbar_height}px;
        }

        @include mobile() {
          min-height: calc(100vh - #{$mobile_navbar_height}px - #{$top_banner_height}px);
        }
      }
    }

    nav.oc-navbar {
      top: #{$top_banner_height}px;

      @include mobile() {
        top: #{$top_banner_height}px;
      }
    }
  }

  &.expanded-activity {

    div.page {
      padding-top: 0;
    }

    @include mobile() {
      div.page {
        padding-top: #{$mobile_navbar_height}px;
      }

      nav.oc-navbar {
        display: none;
      }
    }

    &.top-banner {
      div.page {
        padding-top: #{$top_banner_height}px;

        @include mobile() {
          padding-top: calc(#{$mobile_navbar_height}px + #{$top_banner_height}px);
        }
      }
    }
  }

  div.menu {
    display: none;
  }

  &.show-menu {
    div.menu {
      display: block;
    }
  }

  div.page{
    position: relative; /* Set the position property so z-index will apply */
    z-index: 20; /* Make sure this is higher than #menu */
    top: 0px !important;
    background: #fff;
    min-height: 100%;

    @include mobile(){
      background-color: var(--mobile-background-color);
      padding-top: #{$mobile_navbar_height}px;
      min-height: calc(100vh - #{$mobile_navbar_height}px);
    }

    div.org-dashboard-container {
      background-color: var(--background-color);

      @include big_web() {
        min-width: calc(#{$left_navigation_sidebar_width}px + #{$left_navigation_sidebar_minimum_right_margin}px + #{$board_container_width}px);
      }

      @include mobile() {
        margin: 0px;
        min-width: initial;
        background-color: var(--mobile-background-color);
      }

      div.empty-dashboard {
        min-height: calc(100vh - #{$navbar_height}px + 30px);
        padding: 80px 20px;
        margin-top: -20px;

        @include mobile() {
          margin: -20px 24px 0px;
          min-height: calc(100vh - #{$mobile_navbar_height}px + 30px);
        }

        h3.empty-dashboard-title {
          @include OC_Body_Bold();
          font-size: 16px;
          line-height: 1.5;
        }
      }

      div.org-dashboard-inner {
        padding-bottom: 20px;
        background-color: var(--background-color);

        @include big_web(){
          min-height: 100vh;
          padding-top: #{$navbar_height}px;
        }

        @include mobile() {
          padding-bottom: 0;
          background-color: var(--mobile-background-color);
          min-height: calc(100vh - #{$mobile_navbar_height}px);
        }
      }
    }
  }
}