div.orgs-dropdown {
  height: 32px;
  position: relative;

  button.orgs-dropdown-btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    height: 32px;
    padding: 0;
    margin: 0;
    @include org-avatar(32);

    &.dropdown-toggle{

      div.org-avatar {
        margin-left: 4px;
      }

      &:after {
        float: right;
        content: "";
        background-image: cdnUrl("/img/ML/board_settings.svg");
        background-size: 8px 8px;
        background-repeat: no-repeat;
        background-position: center;
        width: 8px;
        height: 32px;
        margin-left: 8px;
        opacity: 1;

        @include mobile() {
          opacity: 0;
          margin-left: 0px;
        }
      }

      &.show-dropdown-caret:after {
        opacity: 1;
      }
    }
  }

  div.orgs-dropdown-container {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -76px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(177, 184, 192, 0.5);
    border-radius: 5px;
    padding: 10px 16px;
    background-color: white;
    width: 152px;

    div.triangle {
      position: absolute;
      top: -8px;
      left: calc(50% - 7.5px);
      background-color: white;
      border-top: 1px solid rgba(177, 184, 192, 0.5);
      border-left: 1px solid rgba(177, 184, 192, 0.5);
      transform: rotate(45deg);
      width: 15px;
      height: 15px;
    }

    ul.orgs-dropdown-menu {
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li {
        height: 24px;
        width: 120px;
        margin: 0;
        padding: 0px;
        cursor: pointer;
        display: inline-block;

        &.active {
          background-color: transparent;
        }

        &:hover {
          background-color: transparent;

          span.org-name {
            text-decoration: underline;
          }
        }

        div.org-avatar {
          width: 120px;
          height: 24px;
          overflow: hidden;
          @include org-avatar(24);

          div.org-avatar-container {
            width: 120px;

            &.force-label {
              span.org-name {
                @include OC_Body_Bold();
                font-size: 14px;
                color: $deep_navy;
                margin-left: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 90px;
                display: inline;
                white-space: pre;
                float: left;
                max-width: 88px;
                width: auto !important;
                margin-top: 6px;

                &.no-logo {
                  margin-left: 32px !important;
                  margin-top: 6px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}