div.orgs-dropdown {
  height: 56px;

  &:hover {
    button.orgs-dropdown-btn.dropdown-toggle:after{
      opacity: 1;
    } 
  }

  button.orgs-dropdown-btn.dropdown-toggle[aria-expanded=true]:after {
    opacity: 1;
  }

  button.orgs-dropdown-btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    height: 40px;
    padding: 0;
    margin: 0;

    &.dropdown-toggle:after {
      float: left;
      content: "";
      background-image: cdnUrl("/img/ML/board_settings.svg");
      background-size: 8px 8px;
      background-repeat: no-repeat;
      background-position: center;
      width: 8px;
      height: 40px;
      margin-left: 8px;
      opacity: 0;
    }
  }

  ul.dropdown-menu {
    width: 152px;
    float: initial;
    padding: 10px 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(177, 184, 192, 0.5);
    overflow: visible;
    position: absolute;
    top: 56px;
    left: calc(50% - 76px);

    &:before {
      display: block;
      content: "";
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: white;
      border-top: 1px solid rgba(177, 184, 192, 0.5);
      border-left: 1px solid rgba(177, 184, 192, 0.5);
      position: absolute;
      left: 70px;
      top: -11px;
    }

    li {
      height: 24px;
      width: 120px;
      // margin: 5px 0;
      margin: 0;
      padding: 0px;
      cursor: pointer;
      display: inline-block;

      &.active {
        background-color: transparent;
      }

      &:hover {
        background-color: transparent;

        span.org-name {
          text-decoration: underline;
        }
      }

      div.org-avatar {
        width: 120px;

        div.org-avatar-container {
          width: 120px;

          img.org-avatar-img {
            float: left;
            max-width: 120px !important; // At most 3 times the height
          }

          span.org-name {
            @include avenir_M();
            font-size: 14px;
            color: $oc_gray_5;
            // margin-top: -26px;
            margin-left: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90px;
            display: inline;
            white-space: pre;
            float: left;
            max-width: 88px;
            width: auto !important;

            &.no-logo {
              margin-left: 32px !important;
            }
          }
        }
      }
    }
  }
}