@import "vars/main";
@import "./_atomic";

// FIXME: for billing stuff go back at this file from this commit 43a0566e2b78c3ca97c9d5b86b5cc2519bf76005

div.org-settings {
  background-color: $carrot_modal_bg;
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;

  @include mobile() {
    top: 65px;
    background-color: white;
    height: calc(100vh - 65px);
  }

  div.org-settings-inner {
    width: #{$settings_content_width}px;
    margin: 72px auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    overflow-x: visible;
    overflow-y: auto;
    overflow: visible;
    position: relative;
    border-radius: 4px;
    padding: 32px 24px;

    @include mobile() {
      width: 100%;
      box-shadow: none;
      border: none;
      border-radius: 0px;
      margin-top: 0px;
    }

    button.settings-modal-close {
      right: -56px;
      top: 0px;

      @include mobile() {
        display: none;
      }
    }

    div.org-settings-header {
      position: relative;
      height: $settings_header_height;
      margin-bottom: 32px;

      div.org-settings-header-avatar {
        float: left;
        width: 48px;
        height: 48px;

        &.main-panel {
          cursor: pointer;
        }

        &.missing-logo {
          border: 1px solid #D8DBDF;
          border-radius: 4px;
          &:hover {
            background-color: $carrot_green;

            @include preload_image(cdnUrl("/img/ML/upload_avatar_placeholder.svg"));
            @include preload_image(cdnUrl("/img/ML/upload_avatar_placeholder_hover.svg"));

            div.org-avatar-img-empty {
              background-image: cdnUrl("/img/ML/upload_avatar_placeholder_hover.svg");
            }
          }

          div.org-avatar-img-empty {
            width: 22px;
            height: 19px;
            margin: 14px auto;
            background-image: cdnUrl("/img/ML/upload_avatar_placeholder.svg");
            background-size: 22px 19px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        @include org-avatar(48);

        div.org-avatar-container img.org-avatar-img {
          padding: 4px;
        }

        &:hover {
          div.org-avatar-container img.org-avatar-img {
            border: 1px solid $carrot_green;
          }
        }

        div.org-avatar.missing-logo {
          div.org-avatar-container.no-avatar.force-label {
            &:before {
              left: 10px;
              top: 2px;
            }
          }
        }

        div.org-avatar * {
          border-radius: 4px;
        }
      }

      div.org-name {
        margin-left: 64px;
        @include avenir_H();
        font-size: 22px;
        color: $deep_navy;
        line-height: 32px;
      }

      div.org-url {
        margin-left: 64px;
        @include avenir_R();
        font-size: 18px;
        color: $light_ui_grey;
      }
    }

    div.org-settings-footer {
      margin-top: 64px;
      margin-bottom: 0px;
      height: 40px;
      width: 100%;
      padding: 0px;

      button {
        float: right;
        margin-left: 24px;
        height: 40px;

        &.cancel-btn {
          background-color: transparent;
          @include avenir_M();
          font-size: 16px;
          color: $ui_grey;
        }

        &.save-btn {
          width: 100px;
          border-radius: 100px;
          background-color: $carrot_green;
          color: white;
          @include avenir_H();
          font-size: 16px;
        }
      }
    }

    div.org-settings-panel {
      padding-top: 40px;

      .org-settings-panel-half-row {
        width: calc(50% - 16px);;
        float: left;

        &:first-child {
          margin-right: 16px;
        }

        &:last-child {
          margin-left: 16px;
        }
      }

      div.org-settings-panel-row {
        width: 100%;
        margin-bottom: 32px;

        .org-settings-field {
          width: 100%;
          min-height: 40px;
          border-radius: 4px;
          background-color: white;
          border: 1px solid rgba($carrot_light_gray_1, 0.5);
          outline: none;
          padding: 10px 16px;
          position: relative;
          @include avenir_R();
          font-size: 16px;
          color: $carrot_dark_gray;
          resize: none;

          &.error {
            border: 1px solid rgba($carrot_orange, 0.5);

            &:after {
              font-family: "Material Design Icons";
              position: absolute;
              bottom: 8px;
              right: 4px;
              content: "\f5D6";
              font-size: 20px;
              color: $carrot_orange;
            }
          }

          @include placeholder() {
            @include avenir_R();
            font-size: 16px;
            color: $light_ui_grey;
          }

          input, textarea {
            border: none;
            outline: none;
            min-height: 20px;
            padding: 0;
            margin: 0;
            width: 100%;
          }
        }

        table.org-settings-table {
          width: 100%;
          margin: 0;
          padding: 0;

          tbody, thead {

            &:last-child {
              td {
                border-bottom: none;
              }
            }

            tr {

              th {
                @include avenir_H();
                font-size: 14px;
                color: $oc_gray_7;

                span.error {
                  @include avenir_H();
                  font-size: 14px;
                  margin-left: 16px;
                  color: $carrot_orange;
                }

              }

              td {
                padding: 16px 0;
                border-bottom: 1px solid rgba($carrot_light_gray_1, 0.2);
                @include avenir_R();
                font-size: 16px;
                color: $carrot_dark_gray;
              }
            }
          }
        }

        .org-settings-list {
          width: 100%;

          .org-settings-list-item {
            height: 48px;
            padding: 14px 0;
            border-bottom: 1px solid rgba($carrot_light_gray, 0.3);

            &:last-child {
              border-bottom: none;
            }

            .org-settings-list-item-name {
              float: left;
              @include avenir_R();
              font-size: 16px;
              color: $carrot_dark_gray;
            }

            .org-settings-list-item-btn {
              @include mlb-link($carrot_text_blue);
              @include avenir_H();
              font-size: 14px;
              float: right;
            }

            .org-settings-list-item-remove-btn {
              @include mlb-link($carrot_orange);
              @include avenir_H();
              font-size: 14px;
              float: right;
            }
          }
        }

        .org-settings-label {
          width: 100%;
          @include avenir_M();
          font-size: 15px;
          color: $deep_navy;
          margin-bottom: 8px;

          label {
            @include avenir_M();
            font-size: 15px;
            color: $deep_navy;
            margin-bottom: 0px;
          }

          .error {
            margin-left: 16px;
            color: $carrot_orange;
          }

          .success-message {
            margin-left: 16px;
            color: $carrot_green;
          }
        }
      }
    }
  }
}

div.org-settings-tabs {
  min-height: 24px;
  position: relative;

  div.org-settings-bottom-line {
    width: 100%;
    height: 1px;
    background-color: rgba($deep_tan, 0.3);
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  div.org-settings-tab {
    height: 33px;
    float: left;
    width: auto;
    margin: 1px 24px 0px 0px;
    border-bottom: 1px solid transparent;

    a.org-settings-tab-link {
      display: block;
      width: auto;
      height: 24px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      @include avenir_B();
      font-size: 13px;
      color: $ui_grey;
      text-decoration: none;
      text-transform: uppercase;
      outline: none;

      @include mobile() {
        font-size: 14px;
      }

      &:active, &:hover, &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      border-bottom: 1px solid $carrot_orange;
    }

    &.active {
      border-bottom: 1px solid $carrot_orange;

      a.org-settings-tab-link {
        padding: 0;
        color: $carrot_orange;

        @include mobile() {
          font-size: 14px;
        }
      }
    }
  }
}