div.org-settings div.org-settings-inner {
  div.org-settings-panel.org-settings-invite-panel {
    div.org-settings-panel-row.invite-from {
      margin-bottom: 16px;
      height: 24px;

      div.invite-from-label {
        float: left;
        @include avenir_M();
        font-size: 15px;
        color: $ui_grey;
        line-height: 24px;
        height: 24px;
      }

      div.org-settings-panel-choice {
        float: left;
        margin-left: 8px;
        cursor: pointer;
        @include avenir_H();
        font-size: 15px;
        color: $ui_grey;
        height: 24px;
        line-height: 24px;

        &.disabled {
          opacity: 0.3;
        }

        &:not(.disabled).active {
          color: $carrot_orange;
        }
      }

      div.org-settings-panel-slack-fallback {
        height: 24px;
        float: left;
        margin-left: 16px;
        padding-left: 16px;
        border-left: 1px solid $ultra_light_grey;
        margin-top: 0;

        span.slack-copy {
          @include avenir_R();
          font-size: 13px;
          color: $deep_navy;
          line-height: 24px;
          margin-top: 0;
          display: block;
          float: left;
        }

        button.add-slack-team {
          @include avenir_R();
          font-size: 13px;
          color: $deep_navy;
          line-height: 24px;
          color: $carrot_green;
          margin-top: 0;
          display: block;
          float: left;
          padding: 0 0 0 8px;
        }
      }
    }

    div.org-setings-invite-personal-note {
      background-color: #FDFCFB;
      width: calc(100% + 48px);
      margin-left: -24px;
      padding: 16px 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba($deep_tan, 0.3);
    }

    div.org-settings-invite-table-container {
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: #FDFCFB;
      width: calc(100% + 48px);
      margin-left: -24px;
      padding: 16px 24px;
      border-top: 1px solid rgba($deep_tan, 0.3);

      button.add-button {
        color: $carrot_green;
        @include avenir_M();
        font-size: 13px;
        padding: 0px;
      }

      div.user-input {
        width: 100%;
        height: 40px;
      }

      table.org-settings-invite-table {

        tbody, thead {

          tr th {
            @include avenir_M();
            font-size: 15px;
            color: $deep_navy;
          }

          td {
            border-bottom: none;
            padding-top: 8px;
            padding-bottom: 0px;
          }

          th.role {
            i.mdi:before {
              font-size: 14px;
            }

            div.tooltip {
              width: 160px;
            }
          }

          td.user-field {
            width: 365px;
            padding-right: 12px;

            input.email-field {
              height: 40px;
            }

            div.user-avatar-img-container {
              margin-right: 16px;
              float: left;
            }

            @include user-profile(32);

            div.slack-users-dropdown div.slack-users-dropdown-list div.user {
              @include user-profile(24);
              @include avenir_M();
              font-size: 15px;
              color: $deep_navy;

              @include placeholder() {
                color: $light_ui_grey;
              }
            }
          }

          td.user-type-field {
            width: 150px;

            div.user-type-dropdown {
              div.dropdown {
                height: 40px;
                text-align: left;
                border: 1px solid rgba($carrot_light_gray_1, 0.5);
                border-radius: 4px;
                @include avenir_M();
                font-size: 15px;
                color: $deep_navy;
                background-color: white;

                button.user-type-btn {
                  width: 100%;
                  text-align: left;
                  height: 40px;
                  padding-top: 3px;

                  &:after {
                    top: 4px;
                  }
                }

                ul.user-type-dropdown-menu {
                  left: 0px;
                  top: 40px;
                  width: 100%;

                  li {
                    color: $deep_navy;
                    text-align: left;
                    padding: 7px 12px;
                  }
                }
              }
            }
          }

          td.user-remove {
            width: 53px;

            button.remove-user {
              padding-top: 8px;
              color: $light_ui_grey;
            }
          }
        }
      }

      input.org-settings-field.email-field[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
      }

      div.error div.slack-users-dropdown {
        opacity: 1 !important;
      }

      input.error, div.error div.slack-users-dropdown input {
        color: $carrot_orange !important;
        border: 1px solid rgba($carrot_orange, 0.5) !important;
        opacity: 1 !important;
      }

      div.error div.slack-users-dropdown i.fa {
        color: $carrot_orange !important;
      }

      div.table-cardinal {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: 1px solid rgba($carrot_light_gray, 0.5);
        @include avenir_H();
        font-size: 14px;
        color: $carrot_light_gray;
        text-align: center;
        padding-top: 6px;
      }
    }

    button.save-btn {
      width: 164px !important;
      @include avenir_H();

      &.no-disable, &.no-disable[disabled] {
        opacity: 1 !important;
      }
    }

    div.org-settings-footer {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}