div.org-settings-panel {
  div.org-settings-panel-row.invite-from {

    div.invite-from-label {
      float: left;
      @include avenir_H();
      font-size: 16px;
      color: $carrot_dark_gray;
      width: 100px;
    }

    div.org-settings-panel-choice {
      width: 68px;
      float: left;
      margin-left: 16px;

      label {
        @include avenir_M();
        font-size: 16px;
        color: $carrot_dark_gray;
        margin-left: 8px;
      }
    }
  }

  div.org-settings-invite-table {
    margin-top: 24px;

    button.add-button {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      color: $carrot_green_1;
      background-color: #D4F6E4;
      @include avenir_H();
      font-size: 14px;
      padding: 0px;

      &:hover {
        background-color: #3FBD7C;
        color: white;
      }
    }

    div.user-input {
      width: 100%;
      height: 40px;
    }

    th.role {
      i.mdi:before {
        font-size: 14px;
      }

      div.tooltip {
        width: 160px;
      }
    }

    td.user-field {
      width: 365px;
      padding-right: 12px !important;

      div.user-avatar-img-container {
        margin-right: 16px;
        float: left;
      }

      @include user-profile(32);
    }

    td.user-type-field {
      width: 180px;
    }

    td.user-remove {
      width: 53px;

      button.remove-user {
        padding-top: 8px;
        color: $carrot_light_gray;
      }
    }

    input.org-settings-field.email-field[disabled] {
      opacity: 0.6;
      cursor: not-allowed;
    }

    div.error div.slack-users-dropdown {
      opacity: 1 !important;
    }

    input.error, div.error div.slack-users-dropdown input {
      color: $carrot_orange !important;
      border: 1px solid rgba($carrot_orange, 0.5) !important;
      opacity: 1 !important;
    }

    div.error div.slack-users-dropdown i.fa {
      color: $carrot_orange !important;
    }

    div.table-cardinal {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: 1px solid rgba($carrot_light_gray, 0.5);
      @include avenir_H();
      font-size: 14px;
      color: $carrot_light_gray;
      text-align: center;
      padding-top: 6px;
    }

    div.user-type-dropdown {
      div.dropdown {
        height: 40px;
        text-align: center;
        padding-top: 7px;
        border: 1px solid rgba($carrot_light_gray_1, 0.5);
        border-radius: 4px;
      }
    }
  }

  button.save-btn {
    width: 164px !important;
    @include avenir_H();

    &.no-disable, &.no-disable[disabled] {
      opacity: 1 !important;
    }
  }
}