div.org-settings-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.org-settings-modal-container {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.org-settings-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      div.org-settings-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        margin-right: 8px;
        float: right;
      }
      
      button.save-bt {
        height: 32px;
        padding: 7px 12px;
        @include OC_Body_Bold();
        font-size: 14px;
        background-color: var(--primary-color);
        border-radius: 4px;
        color: var(--secondary-color);
        line-height: 18px;
        float: right;
      }
    }

    div.org-settings-body {
      margin-top: 24px;

      div.org-settings-header-avatar {
        height: 32px;
        cursor: pointer;

        div.org-avatar.missing-logo {
          position: relative;
          width: 32px;
          height: 32px;
          background-color: #F8FCFA;
          border: 1px dashed var(--primary-color);
          border-radius: 8px;
          @include svgBgColor("/img/ML/company_avatar_purple_plus.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;

          div.org-avatar-container {
            display: none;
          }
        }

        @include org-avatar(32);

        div.org-avatar-container img.org-avatar-img {
          padding: 4px;
        }

        &:hover {
          div.org-avatar-container img.org-avatar-img {
            border: 1px solid var(--primary-color);
          }
        }

        div.org-avatar.missing-logo {
          div.org-avatar-container.no-avatar.force-label {
            &:before {
              left: 10px;
              top: 2px;
            }
          }
        }

        div.org-avatar * {
          border-radius: 4px;
        }

        span.edit-company-logo {
          float: left;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: var(--primary-color);
          margin-left: 16px;
          margin-top: 7px;
        }
      }
    }

    div.org-settings-fields {
      margin-top: 16px;
      border-top: 1px solid var(--divider-line);
      position: relative;

      &.premium-lock {
        @include premium_lock() {
          &, & * {
            @include premium_cursor();
          }
        }

        button, select, input {
          pointer-events: none !important;
        }
      }

      div.org-settings-description {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        line-height: 18px;
        margin-top: 8px;
      }

      div.color-picker-container {
        position: relative;
        z-index: 4;

        & > div {
          position: absolute;
          top: 8px;
        }
      }

      div.theme-previews {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 8px;
        z-index: 2;

        &.on-dark-theme {
           div.dark-preview {
             order: 1;
           }

           div.light-preview {
             order: 2;
           }
        }

        &.on-light-theme {
          div.light-preview {
            order: 1;
          }

          div.dark-preview {
            order: 2;
          }
        }

        div.theme-preview {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-items: center;
          height: 80px;
          width: 100%;
          margin-top: 8px;
          position: relative;
          border-radius: 4px;

          div.theme-background {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            border-radius: 4px;
          }

          &.light-preview {
            background-color: transparent;

            div.theme-background {
              background-color: #{$grey_num_2};
              border: 1px solid rgba($deep_navy, 0.15);
            }
          }

          &.dark-preview {
            background-color: #1B202A;

            div.theme-background {
              background-color: #{rgba(white, 0.1)};
              border: 1px solid rgba(white, 0.16);
            }
          }
            
          div.sample-link {
            flex: 0 0 auto;
            margin-left: auto;
            margin-right: 8px;
            z-index: 2;
            @include OC_Body_Book();
            font-size: 14px;
          }

          button.mlb-reset.sample-button {
            flex: 0 0 auto;
            margin-right: auto;
            margin-left: 8px;
            height: 32px;
            padding: 9px 8px;
            font-size: 14px;
            line-height: 14px;
            border-radius: 4px;
            @include OC_Body_Bold();
            opacity: 1;
            z-index: 2;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      div.colors-preset {
        height: 20px;
        text-decoration: none;
        margin-top: 8px;

        span.color-preset-label {
          float: left;
          line-height: 20px;
        }

        div.colors-list {
          float: left;
          margin-left: 4px;

          button.color-preset-bt {
            width: 16px;
            height: 16px;
            border: none;
            padding: 0;
            margin: 2px 4px 0;
            float: left;
            background-color: var(--overlay-background-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-items: center;

            span.dot {
              flex: 0 0 auto;
              margin: auto;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }

            &.active, &:hover {
              width: 20px;
              height: 20px;
              padding: 2px;
              border: 2px solid var(--color);
              margin: 0 2px;
              margin-top: 0;

              span.dot {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }

      div.org-settings-field-container {
        margin-top: 8px;
        height: 32px;
        padding: 0 8px;
        background-color: var(--opac-background-color-1);
        border-radius: 4px;
        border: 1px solid var(--opac-background-color-1);
        border: none;
        outline: none;
        width: 100%;

        &.error {
          border: 1px solid $carrot_orange;
        }

        input.org-settings-field {
          padding: 7px 0;
          height: 32px;
          float: left;
          width: calc(100% - 32px);
          margin-top: 0;
        }
      }

      input.org-settings-field {
        margin-top: 8px;
        height: 32px;
        background-color: var(--opac-background-color-1);
        border-radius: 4px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        line-height: 18px;
        padding: 7px 8px;
        width: 100%;
        border: none;
        outline: none;
        border: 1px solid transparent;

        &:focus, &:active, &.active {
          outline: none;
        }

        @include placeholder(){
          color: var(--light-color)
        }

        &.error {
          border: 1px solid $carrot_orange;
        }
      }

      div.error {
        margin-top: 4px;
        @include OC_Body_Book();
        font-size: 14px;
        color: $carrot_orange;
        line-height: 18px;
      }

      div.org-settings-desc {
        margin-top: 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
      }
    }

    div.org-settings-advanced {
      margin-top: 24px;
      border-top: 1px solid var(--divider-line);
      padding-top: 16px;

      button.advanced-settings-bt {
        height: 18px;
        @include OC_Body_Book();
        font-size: 14px;
        padding: 0;
        color: var(--primary-color);
      }

      div.org-settings-advanced-title {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
      }

      div.org-settings-advanced-row {
        margin-top: 8px;

        &.premium-lock {
          @include premium_lock();

          div.carrot-checkbox, div.checkbox-label {
            @include premium_cursor();
          }
        }

        div.carrot-checkbox {
          float: left;
        }

        div.checkbox-label {
          float: left;
          margin-left: 8px;
          width: calc(100% - 24px);
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: var(--color);
          cursor: pointer;

          i.mdi-information-outline {
            margin-left: 6px;

            &:before {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}