/* org settings */

body.small-footer {
  div.main-org-settings {
    div.org-settings-container {
      /* 138px is the total height above and below the settings */
      min-height: calc(100vh - #{$navbar_height}px - #{$back_to_dashboard_row_height}px - #{$footer_small_height}px + 1px);
    }
  }
}

div.main-org-settings {
  div.org-settings-container {
    div.settings-container {
      width: 580px;

      div.settings-form-input-label {
        font-family: $oc_main_font;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
        margin-bottom: 0.6rem;
      }

      div.settings-form-input.visibility {
        margin-bottom: 2rem;

        div.visibility-value {
          cursor: pointer;
          h3 {
            font-size: 14px;
            font-weight: 400;
            font-family: $oc_main_font;
            color: rgba(78,90,107,1);
            margin-bottom: 5px;
            margin-top: 0px;

            i.fa {
              color: $oc_green;
            }
          }
          p {
            font-size: 14px;
            font-weight: 400;
            font-family: $oc_main_font;
            color: rgba(78,90,107,1);
          }

          &:hover {
            h3{
              text-decoration: underline;
            }
          }
        }
      }

      div.dashboard-slug {
        font-size: 14px;
        font-weight: 400;
        font-family: $oc_main_font;
        color: rgba(78,90,107,1);
        margin-bottom: 2rem;
      }

      div.settings-form-label {
        font-size: 26px;
        line-height: 1.4;
        color: $oc_gray_5;
        height: 54px;

          div.small-loading-container {
            float: left;
            margin-left: 20px;
          }
      }
      
      div.subscription-settings-label {
        margin-top: 45px;
      }

      img.loading-spinner {
        margin-left: 25px;
        margin-bottom: 10px;
        width: 50px;
        opacity: 0;

        &.loading {
          opacity: 1;
        }
      }

      div.settings-form{
        background-color: rgba(78, 90, 107, 0.05);

        div.org-logo-container{
          width: 50px;
          height: 50px;
          border: solid 1px rgba(78, 90, 107, 0.2);
          padding: 5px;
          margin-bottom: .5rem;

          img.org-logo {
            max-width: 40px;
            max-height: 40px;
          }
        }
      }
    }
  }
}