div.org-settings-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.org-settings-modal-container {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.org-settings-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      div.org-settings-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        margin-right: 8px;
        float: right;
      }
      
      button.save-bt {
        height: 32px;
        padding: 7px 12px;
        @include OC_Body_Bold();
        font-size: 14px;
        background-color: $carrot_green;
        border-radius: 4px;
        color: white;
        line-height: 18px;
        float: right;
      }
    }

    div.org-settings-body {
      margin-top: 24px;

      div.org-settings-header-avatar {
        height: 32px;
        cursor: pointer;

        div.org-avatar.missing-logo {
          position: relative;
          width: 32px;
          height: 32px;
          background-color: #F8FCFA;
          border: 1px dashed $carrot_green;
          border-radius: 8px;
          background-image: cdnUrl("/img/ML/company_avatar_green_plus.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;

          div.org-avatar-container {
            display: none;
          }
        }

        @include org-avatar(32);

        div.org-avatar-container img.org-avatar-img {
          padding: 4px;
        }

        &:hover {
          div.org-avatar-container img.org-avatar-img {
            border: 1px solid $carrot_green;
          }
        }

        div.org-avatar.missing-logo {
          div.org-avatar-container.no-avatar.force-label {
            &:before {
              left: 10px;
              top: 2px;
            }
          }
        }

        div.org-avatar * {
          border-radius: 4px;
        }

        span.edit-company-logo {
          float: left;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: $carrot_green;
          margin-left: 16px;
          margin-top: 7px;
        }
      }
    }

    div.org-settings-fields {
      margin-top: 16px;
      border-top: 1px solid var(--divider-line);

      div.org-settings-field-container {
        margin-top: 8px;
        height: 32px;
        padding: 0 8px;
        background-color: var(--opac-background-color-1);
        border-radius: 4px;
        border: 1px solid var(--opac-background-color-1);
        border: none;
        outline: none;
        width: 100%;

        &.error {
          border: 1px solid $carrot_orange;
        }

        input.org-settings-field {
          padding: 7px 0;
          height: 32px;
          float: left;
          width: calc(100% - 32px);
          margin-top: 0;
        }
      }

      input.org-settings-field {
        margin-top: 8px;
        height: 32px;
        background-color: var(--opac-background-color-1);
        border-radius: 4px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        line-height: 18px;
        padding: 7px 8px;
        width: 100%;
        border: none;
        outline: none;
        border: 1px solid transparent;

        &:focus, &:active, &.active {
          outline: none;
        }

        @include placeholder(){
          color: var(--light-color)
        }

        &.error {
          border: 1px solid $carrot_orange;
        }
      }

      div.error {
        margin-top: 4px;
        @include OC_Body_Book();
        font-size: 14px;
        color: $carrot_orange;
        line-height: 18px;
      }

      div.org-settings-desc {
        margin-top: 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
      }
    }

    div.org-settings-advanced {
      margin-top: 24px;
      border-top: 1px solid var(--divider-line);
      padding-top: 16px;

      button.advanced-settings-bt {
        height: 18px;
        @include OC_Body_Book();
        font-size: 14px;
        padding: 0;
        color: $carrot_green;
      }

      div.org-settings-advanced-title {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
      }

      div.org-settings-advanced-row {
        margin-top: 8px;

        div.carrot-checkbox {
          float: left;
        }

        div.checkbox-label {
          float: left;
          margin-left: 8px;
          width: calc(100% - 24px);
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: var(--color);
          cursor: pointer;

          i.mdi-information-outline {
            margin-left: 6px;

            &:before {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}