@import "vars/main";
@import "./_atomic";

// FIXME: for billing stuff go back at this file from this commit 43a0566e2b78c3ca97c9d5b86b5cc2519bf76005

div.org-settings {
  background-color: $carrot_modal_bg;
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;

  button.carrot-modal-close {
    // Fallback for mobile that doesn't support fix positioning
    position: absolute;
    position: fixed;
    left: 50%;
    margin-left: #{($settings_content_width / 2 * -1) - 28}px;
    top: 4px;
  }

  div.org-settings-inner {
    width: #{$settings_content_width}px;
    margin: 0 auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    height: 100vh;
    overflow-x: visible;
    overflow-y: auto;
    position: relative;
    border-radius: 4px;

    @include mobile() {
      width: 100%;
    }

    & > div {
      padding: 0 32px;
    }

    div.org-settings-header {
      position: relative;
      font-size: 32px;
      font-weight: 500;
      color: $carrot_gray;
      background-color: $carrot_dark_bg_gray;
      height: $settings_header_height;
      padding: 40px 32px;
    }

    div.org-settings-footer {
      margin-top: 64px;
      margin-bottom: 32px;
      height: 42px;
      width: 100%;
      padding: 0px;

      button {
        float: right;
        margin-left: 24px;
        height: 42px;

        &.save-btn {
          width: 124px;
        }
      }
    }

    div.org-settings-panel {
      padding-top: 40px;

      .org-settings-panel-half-row {
        width: calc(50% - 16px);;
        float: left;

        &:first-child {
          margin-right: 16px;
        }

        &:last-child {
          margin-left: 16px;
        }
      }

      div.org-settings-panel-row {
        width: 100%;
        margin-bottom: 32px;

        .org-settings-field {
          width: 100%;
          min-height: 40px;
          border-radius: 4px;
          background-color: white;
          border: 1px solid rgba($carrot_light_gray_1, 0.5);
          outline: none;
          padding: 10px 16px;
          position: relative;
          @include avenir_R();
          font-size: 16px;
          color: $carrot_dark_gray;
          resize: none;

          &.error {
            border: 1px solid rgba($carrot_orange, 0.5);

            &:after {
              font-family: "Material Design Icons";
              position: absolute;
              bottom: 8px;
              right: 4px;
              content: "\f5D6";
              font-size: 20px;
              color: $carrot_orange;
            }
          }

          @include placeholder() {
            @include avenir_R();
            font-size: 16px;
            color: $light_ui_grey;
          }

          input, textarea {
            border: none;
            outline: none;
            min-height: 20px;
            padding: 0;
            margin: 0;
            width: 100%;
          }
        }

        table.org-settings-table {
          width: 100%;
          margin: 0;
          padding: 0;

          tbody, thead {

            &:last-child {
              td {
                border-bottom: none;
              }
            }

            tr {

              th {
                @include avenir_H();
                font-size: 14px;
                color: $oc_gray_7;

                span.error {
                  @include avenir_H();
                  font-size: 14px;
                  margin-left: 16px;
                  color: $carrot_orange;
                }

              }

              td {
                padding: 16px 0;
                border-bottom: 1px solid rgba($carrot_light_gray_1, 0.2);
                @include avenir_R();
                font-size: 16px;
                color: $carrot_dark_gray;
              }
            }
          }
        }

        .org-settings-list {
          width: 100%;

          .org-settings-list-item {
            height: 48px;
            padding: 14px 0;
            border-bottom: 1px solid rgba($carrot_light_gray, 0.3);

            &:last-child {
              border-bottom: none;
            }

            .org-settings-list-item-name {
              float: left;
              @include avenir_R();
              font-size: 16px;
              color: $carrot_dark_gray;
            }

            .org-settings-list-item-btn {
              @include mlb-link($carrot_text_blue);
              @include avenir_H();
              font-size: 14px;
              float: right;
            }

            .org-settings-list-item-remove-btn {
              @include mlb-link($carrot_orange);
              @include avenir_H();
              font-size: 14px;
              float: right;
            }
          }
        }

        .org-settings-label {
          width: 100%;
          @include avenir_H();
          font-size: 14px;
          color: $oc_gray_7;

          label {
            @include avenir_H();
            font-size: 14px;
            color: $oc_gray_7;
          }

          .error {
            margin-left: 16px;
            color: $carrot_orange;
          }

          .success-message {
            margin-left: 16px;
            color: $carrot_green;
          }
        }
      }
    }
  }
}

div.org-settings-tabs {
  min-height: 24px;
  background-color: $carrot_dark_bg_gray;
  padding: 0 32px;

  div.org-settings-tab {
    height: 28px;
    float: left;
    width: auto;
    margin: 0px 24px 0px 0px;
    border-bottom: 4px solid transparent;

    a.org-settings-tab-link {
      display: block;
      width: auto;
      height: 24px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      @include avenir_M();
      font-size: 16px;
      color: $carrot_light_gray;
      text-decoration: none;
      outline: none;

      @include mobile() {
        font-size: 14px;
      }

      &:active, &:hover, &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      border-bottom: 4px solid $carrot_light_gray;
    }

    &.active {
      border-bottom: 4px solid $carrot_text_blue;

      a.org-settings-tab-link {
        padding: 0;
        @include avenir_H();
        font-size: 16px;
        color: $carrot_text_blue;

        @include mobile() {
          font-size: 14px;
        }
      }
    }
  }
}