div.paginated-stream {
  width: #{$board_container_width}px;
  padding-bottom: 24px;

  @include mobile() {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    min-height: calc(100vh - 54px - 72px);
  }

  div.paginated-stream-cards {

    div.loading-updates {
      text-align: center;
      height: 60px;
      padding: 24px 0 16px;
      font-size: 14px;
      @include OC_Body_Book();
      color: var(--light-color);

      @include mobile() {
        height: 44px;
        padding: 16px 0 8px;
      }
    }

    div.closing-item {
      text-align: center;
      height: #{$carrot_close_height}px;
      padding: #{($carrot_close_height - 24) / 2}px 0;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 24px;
      color: var(--light-color);
    }

    div.paginated-stream-cards-inner {
      position: relative;
      overflow: visible !important;
      padding-bottom: 24px;

      .ReactVirtualized__Grid.ReactVirtualized__List,
      .ReactVirtualized__Grid.ReactVirtualized__List .ReactVirtualized__Grid__innerScrollContainer {
        overflow: visible !important;

        div.virtualized-list-separator {
          background-color: var(--background-color);
          @include OC_Body_Bold();
          padding: 16px 0;
          font-size: 14px;
          line-height: 18px;
          color: var(--light-color);
        }
      }

      div.activities-overlay {
        position: fixed;
        top: 50px;
        left: 50%;
        z-index: 1;
        height: calc(100vh - 50px);
        width: #{$board_container_width}px;
        margin-left: -244px;
        background-color: var(--background-color);
        text-align: center;

        @include mobile() {
          width: 100%;
          background-color: var(--mobile-background-color);
        }

        div.oc-loading {
          margin: 100px auto;
          height: 170px;

          div.oc-loading-inner {
            top: 110px;
          }
        }

        div.top-loading-message {
          top: 300px;
          position: absolute;
          width: 100%;
          color: var(--light-color);
          font-size: 16px;
          @include OC_Body_Bold();
          text-align: center;

          @include mobile() {
            width: 100%;
          }
        }
      }
    }

    div.load-next {
      text-align: center;
      margin-top: 24px;

      button.load-next {
        font-size: 16px;
        @include OC_Body_Bold();
      }
    }
  }
}