div.paginated-stream {
  width: #{$board_container_width}px;
  padding-bottom: 24px;

  @include mobile() {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 0;
    min-height: calc(100vh - #{$mobile_navbar_height}px - #{$mobile_navbar_height}px);
  }

  div.paginated-stream-cards {

    div.loading-updates {
      text-align: center;
      height: 60px;
      padding: 24px 0 16px;
      font-size: 14px;
      @include OC_Body_Book();
      color: var(--light-color);

      @include mobile() {
        height: 44px;
        padding: 16px 0 8px;
      }
    }

    div.closing-item {
      text-align: center;
      height: #{$carrot_close_height}px;
      padding: #{($carrot_close_height - 24) / 2}px 0;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 24px;
      color: var(--light-color);
    }

    div.paginated-stream-cards-inner {
      position: relative;
      overflow: visible !important;
      padding-bottom: 24px;

      @include mobile() {
        padding-bottom: 0;
      }

      .ReactVirtualized__Grid,
      .ReactVirtualized__Grid .ReactVirtualized__Grid__innerScrollContainer {
        overflow: visible !important;

        div.virtualized-list-separator {
          background-color: var(--background-color);
          @include OC_Body_Bold();
          padding: 16px 0 0;
          font-size: 14px;
          line-height: 18px;
          color: var(--light-color);

          &.after-pins {
            padding: 32px 0 0;
          }
        }
      }

      div.activities-overlay {
        position: fixed;
        top: 50px;
        left: 50%;
        z-index: 1;
        height: calc(100vh - 50px);
        width: #{$board_container_width}px;
        margin-left: -244px;
        background-color: var(--background-color);
        text-align: center;

        @include mobile() {
          width: 100%;
          background-color: var(--mobile-background-color);
        }

        div.oc-loading {
          margin: 100px auto;
          height: 170px;

          div.oc-loading-inner {
            top: 110px;
          }
        }

        div.top-loading-message {
          top: 300px;
          position: absolute;
          width: 100%;
          color: var(--light-color);
          font-size: 16px;
          @include OC_Body_Bold();
          text-align: center;

          @include mobile() {
            width: 100%;
          }
        }
      }

      div.virtualized-list-container {
        position: relative;
        background-size: contain;
        // background-repeat-x: no-repeat;
        background-repeat: repeat-y;
        background-position: left 0px top 16px;
        background-origin: top 16px left 0;
        width: 100%;
        // background-image: cdnUrl("/img/ML/interstitial.svg");
        background-image: cdnUrl("/img/ML/oc_loading_dashboard.svg");

        @include dark_mode() {
          // background-image: cdnUrl("/img/ML/interstitial@dark.svg");
          background-image: cdnUrl("/img/ML/oc_loading_dashboard@dark.svg");
        }

        @include mobile() {
          background-position: left 0px top 0px;
          background-origin: top 0 left 0;
          // background-image: cdnUrl("/img/ML/interstitial_mobile.svg");
          background-image: cdnUrl("/img/ML/oc_loading_dashboard_mobile.svg");

          @include dark_mode() {
            // background-image: cdnUrl("/img/ML/interstitial_mobile@dark.svg");
            background-image: cdnUrl("/img/ML/oc_loading_dashboard_mobile@dark.svg");
          }
        }

        &.collapsed {
          background-position: left 0px top 0px;
          background-origin: top 0 left 0;
          background-image: cdnUrl("/img/ML/oc_loading_dashboard_collapsed.svg");

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/oc_loading_dashboard_collapsed@dark.svg");
          }

          @include mobile() {
            background-position: left 0px top 0px;
            background-origin: top 0 left 0;
            background-image: cdnUrl("/img/ML/oc_loading_dashboard_mobile_collpased.svg");

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/oc_loading_dashboard_mobile_collapsed@dark.svg");
            }
          }
        }

        div.virtualized-list-item {
          background-color: var(--background-color);

          @include mobile() {
            background-color: var(--mobile-background-color);
          }
        }

        div.refresh-button-container {
          position: fixed;
          bottom: 24px;
          width: #{$board_container_width}px;
          height: 40px;

          @include mobile() {
            width: 100vw;
          }
        }
      }
    }

    div.load-next {
      text-align: center;
      margin-top: 24px;

      button.load-next {
        font-size: 16px;
        @include OC_Body_Bold();
      }
    }
  }
}