div.password-reset {
  background-color: #fff;
  position: relative;

  div.password-reset-center {
    margin-top: 100px;

    h1.password-reset-cta {
      @include avenir_M();
      font-size: 20px;
      line-height: 1.2;
      color: $oc_gray_5;
      margin-top: 100px;
    }

    button.password-reset-get-started {
      margin-top: 65px;
      min-height: 50px;
      width: 395px;
    }
  }

  div.password-reset-p {
    width: 400px;
    text-align: center;
    margin-left: -200px;
    left: 50%;
    position: relative;
    margin-top: 32px;
    margin-bottom: 50px;

    p{
      font-size: 18px;
      line-height: 1.8;
      color: $oc_gray_5;
    }
  }
}