/*
 * Placeholder dashboard ideas
 */
 .placeholders {
  margin-bottom: 30px;
  text-align: center;

  h4 {
    margin-bottom: 0;
  }
}

.placeholders 
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}