div.oc-popover-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(78, 90, 107, 0.5);
  z-index: #{$navbar_zindex + 1};

  button.close-button {
    right: -30px;
    top: 0px;
    position: absolute;
    color: white;
    display: block;
    border: none;
    background-color: transparent;
    z-index: #{$navbar_zindex + 3};
    outline: none;

    &:active {
      outline: none;
    }
  }

  div.oc-popover {
    position: absolute;
    width: 390px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -195px;
    background-color: white;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    padding: 20px;
    display: block;
    z-index: #{$navbar_zindex + 2};

    h3.title {
      margin-top: 0px;
    }

    div.buttons-container {
      margin-top: 30px;
    }
  }
}