div.post-to-button {
  height: 32px;
  padding: 0;
  position: relative;
  border-radius: 4px;

  &.disabled {
    
    div.post-to-bt-container button.post-to-bt {
      cursor: not-allowed;
      color: var(--light-color);
      background-color: var(--opac-background-color-08);
    }
  }

  div.post-to-bt-container {
    position: relative;

    @include big_web() {
      &:hover {
        div.post-bt-tooltip {
          display: block;
          opacity: 1;
        }
      }
    }

    button.post-to-bt {
      padding: 7px 16px;
      background-color: $wut_purple;
      height: 32px;
      @include OC_Body_Bold();
      font-size: 14px;
      line-height: 18px;
      color: white;
      overflow: hidden;
      cursor: pointer;
      border-radius: 4px;
      opacity: 1;
    }

    &.force-show-tooltip div.post-bt-tooltip {
      display: block;
    }

    &.tt-title div.post-bt-tooltip {
      width: 192px;
    }

    &.tt-abstract div.post-bt-tooltip {
      width: 144px;
    }

    div.post-bt-tooltip {
      white-space:pre-wrap;
      max-width: unset;
      position: absolute;
      top: -12px;
      left: 50%;
      z-index: #{$navbar_zindex + 157};
      transform: translate(calc(-50%) , -100%);
      overflow: visible;
      transition: opacity .15s linear;
      display: block;
      pointer-events: none;
      line-break: auto;
      text-align: left;
      text-align: start;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      white-space: normal;
      word-break: normal;
      word-spacing: normal;
      word-wrap: normal;
      font-size: 12px;
      opacity: 0;
      filter: alpha(opacity=0);

      div.tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: var(--tooltip-background-color);
      }

      div.tooltip-inner {
        @include OC_Body_Book();
        font-size: 12px;
        color: var(--tooltip-color);
        line-height: 18px;
        padding: 5px 8px;
        border-radius: 4px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
        border: 1px solid var(--divider-line);
        background-color: var(--tooltip-background-color);
        border-radius: 4px;
        text-align: left;
        max-width: unset;
      }

      @include mobile() {
        left: unset;
        right: -8px;
        top: 36px;
      }
    }
  }

  div.sections-picker-container {
    position: absolute;
    top: 32px;
    left: 0;
    z-index: #{$navbar_zindex + 156};
    max-height: 370px;
    width: 100%;

    div.sections-picker {
      overflow: auto;
      position: relative;
      top: unset;
      left: unset;
      width: 100%;

      @include mobile() {
        width: calc(100% - 16px - 32px);
      }
    }
  }
}