div.post-to-button {
  height: 32px;
  padding: 0;
  position: relative;
  border-radius: 4px;

  &.disabled {
    
    div.post-to-bt-container button.post-to-bt {
      cursor: not-allowed;
      color: var(--light-color);
      background-color: var(--opac-background-color-08);
    }
  }

  div.post-to-bt-container {
    position: relative;

    @include big_web() {
      &:hover {
        div.post-bt-tooltip {
          display: block;
        }
      }
    }

    button.post-to-bt {
      padding: 7px 16px;
      background-color: $wut_purple;
      height: 32px;
      @include OC_Body_Bold();
      font-size: 14px;
      line-height: 18px;
      color: white;
      overflow: hidden;
      cursor: pointer;
      border-radius: 4px;
      opacity: 1;
    }

    &.force-show-tooltip div.post-bt-tooltip {
      display: block;
    }

    // @include big_web() {
    //   &:hover {
    //     div.post-bt-tooltip {
    //       display: block;
    //     }
    //   }
    // }

    &.tt-title div.post-bt-tooltip {
      width: 192px;
    }

    &.tt-abstract div.post-bt-tooltip {
      width: 144px;
    }

    div.post-bt-tooltip {
      background-color: var(--tooltip-background-color);
      white-space:pre-wrap;
      max-width: none;
      text-align: left;
      opacity: 1;
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--tooltip-color);
      line-height: 18px;
      padding: 11px 16px;
      border-radius: 4px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
      border: 1px solid var(--divider-line);
      position: absolute;
      top: 34px;
      left: 0;
      z-index: #{$navbar_zindex + 157};
      display: none;

      @include mobile() {
        left: unset;
        right: -8px;
        top: 36px;
      }
    }
  }

  div.sections-picker-container {
    position: absolute;
    top: 32px;
    left: 0;
    z-index: #{$navbar_zindex + 156};
    max-height: 370px;
    width: 100%;

    div.sections-picker {
      overflow: auto;
      position: relative;
      top: unset;
      left: unset;
      width: 100%;

      @include mobile() {
        width: calc(100% - 16px - 32px);
      }
    }
  }
}