div.press-kit-wrap {
  background-color: $ultra_light_gold;

  div.main.press-kit {
    text-align: center;
    width: 100%;

    section.cta {
      padding-top: 138px;
      padding-bottom: 0;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include tablet() {
        padding-top: 131px;
      }

      @include mobile() {
        width: 100%;
        overflow: visible;
        padding: 88px 0 0;
      }

      h1.headline {
        font-size: 60px;
        line-height: 76px;
        @include OC_Title()
        color: $deep_navy;
        margin: 0 auto;
        position: relative;
        padding: 0 16px;
        z-index: 3;

        @include mobile(){
          font-size: 36px;
          line-height: 40px;
          padding: 0;
        }
      }

      div.press-kit-intro-container {
        margin-top: 40px;
        padding: 80px 0;
        position: relative;

        @include mobile() {
          margin-top: 36px;
          padding: 40px 0;
        }

        &:before {
          background-color: $another_ui_grey;
          content: "";
          width: 100%;
          max-width: 1200px;
          height: 100%;
          display: block;
          border-radius: 20px 20px 200px 20px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;

          @include mobile() {
            border-radius: 0;
            width: 100%;
            top: 0;
            left: 0;
            transform: translateX(0);
          }
        }

        div.press-kit-intro {
          margin: 0 auto;
          max-width: 795px;
          text-align: left;
          z-index: 3;
          position: relative;

          @include tablet() {
            max-width: 512px;
          }

          @include mobile() {
            padding: 0 16px;
          }

          div.press-kit-intro-title {
            @include OC_Title();
            font-size: 40px;
            line-height: 51px;
            color: $deep_navy;

            @include mobile() {
              font-size: 22px;
              line-height: 28px;
            }
          }

          div.press-kit-intro-description {

            @include mobile() {
              margin-top: 8px;
            }

            p {
              @include OC_Body_Book();
              font-size: 24px;
              line-height: 32px;
              color: $deep_navy;
              margin: 24px 0 0;
              padding: 0;

              @include mobile() {
                font-size: 20px;
                line-height: 26px;
              }

              &.core-feature {
                @include OC_Body_Bold();
                font-size: 22px;
                line-height: 40px;
                color: $deep_navy;

                @include mobile() {
                  font-size: 22px;
                  line-height: 28px;
                }
              }
            }

            ul.core-feature-list {
              margin-top: 8px;

              li {
                @include OC_Body_Book();
                font-size: 20px;
                line-height: 32px;
                color: $deep_navy;

                @include mobile() {
                  font-size: 20px;
                  line-height: 26px;
                }
              }
            }
          }

          div.press-kit-intro-footer {
            margin-top: 40px;
            padding-top: 40px;
            display: grid;
            grid-template-columns: 1fr 488px;
            grid-template-rows: 1fr;
            border-top: 1px solid $more_ultra_light_grey;

            @include tablet(){
              grid-template-columns: 1fr;
              grid-template-rows: 22% 78%;
              margin-top: 40px;
              padding-top: 32px;
            }

            div.press-kit-intro-footer-left {
              grid-column-start: 1;
              grid-row-start: 1;
              @include OC_Title();
              font-size: 22px;
              line-height: 30px;
              color: $deep_navy;

              @include mobile() {
                font-size: 20px;
                line-height: 25px;
              }
            }

            div.press-kit-intro-footer-right {
              grid-column-start: 2;
              grid-row-start: 1;
              text-align: left;
              @include OC_Body_Book();
              font-size: 20px;
              line-height: 26px;
              color: $deep_navy;

              a {
                display: block;
                @include OC_Body_Book();
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0px;
                color: $carrot_green;
                margin-top: 8px;

                @include mobile() {
                  font-size: 20px;
                  line-height: 28px;
                }
              }


              @include tablet() {
                grid-column-start: 1;
                grid-row-start: 2;
                margin-top: 8px;
              }

              @include mobile() {
                font-size: 20px;
                line-height: 26px;
              }
            }
          }
        }
      }

      div.media-res-container {
        margin-top: 80px;
        padding: 120px 0;
        position: relative;

        &:before {
          background-color: $another_ui_grey;
          content: "";
          width: 90vw;
          height: 100%;
          display: block;
          border-bottom-left-radius: 200px;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;

          @include tablet() {
            border-bottom-left-radius: 100px;
            width: 100%;
          }
        }

        div.media-res {
          margin: 0 auto;
          max-width: 795px;
          text-align: left;
          z-index: 3;
          position: relative;

          @include tablet() {
            max-width: 512px;
          }

          @include mobile() {
            padding: 0 16px;
          }

          div.media-res-title {
            @include OC_Title();
            font-size: 80px;

            @include mobile() {
              font-size: 36px;
            }
          }

          div.media-res-content {
            margin-top: 60px;

            @include tablet() {
              margin-top: 40px;
            }

            button.media-res-content-video {
              width: 100%;
              position: relative;
              opacity: 1;

              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }

              &:hover {
                button.play-button {
                  opacity: 1;
                }
              }

              div.play-button {
                background-image: cdnUrl("/img/ML/press_kit_play.svg");
                background-size: 80px 80px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: transparent;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80px;
                height: 80px;
                margin-top: -40px;
                margin-left: -40px;
                opacity: 0.8;
              }
            }

            a.media-res-content-video-download {
              text-align: center;
              margin: 32px auto 40px;
              @include OC_Body_Bold();
              font-size: 14px;
              text-transform: uppercase;
              letter-spacing: 0.5;
              color: #32C97B;
              display: block;

              @include mobile() {
                text-align: left;
              }
            }

            div.media-res-footer {
              display: grid;
              grid-template-columns: 324px 1fr;
              grid-template-rows: 1fr;
              border-top: 1px solid $more_ultra_light_grey;
              padding: 40px 0;

              @include tablet() {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 8px 1fr;
                padding: 32px 0;
              }

              div.media-res-footer-left {
                grid-column-start: 1;
                grid-row-start: 1;
                @include OC_Title();
                font-size: 20px;
                text-align: left;
              }

              div.media-res-footer-right {
                grid-column-start: 2;
                grid-row-start: 1;
                @include OC_Body_Book();
                font-size: 20px;

                @include tablet() {
                  grid-column-start: 1;
                  grid-row-start: 3;
                }

                div.media-res-download {
                  margin-top: 24px;

                  a {
                    color: #32C97B;
                    text-align: left;
                    @include OC_Body_Bold();
                    font-size: 14px;
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
      }

      div.odds-ends {
        max-width: 795px;
        margin: 0 auto;
        text-align: left;
        position: relative;

        @include tablet() {
          padding: 0 16px;
          max-width: 595px;
        }

        div.odds-ends-title {
          @include OC_Title();
          font-size: 40px;
          line-height: 51px;
          color: $deep_navy;

          @include mobile() {
            font-size: 20px;
            line-height: 25px;
          }
        }

        div.odds-ends-description {
          margin-top: 40px;
          @include OC_Body_Book();
          font-size: 24px;
          line-height: 32px;
          color: $deep_navy;

          @include mobile() {
            margin-top: 8px;
            font-size: 20px;
            line-height: 26px;
          }
        }

        div.odds-ends-content {
          display: grid;
          grid-template-columns: 167px 1fr 488px;
          grid-template-rows: 1fr;
          border-top: 1px solid $more_ultra_light_grey;
          margin-top: 40px;
          padding: 40px 0 0;

          @include tablet() {
            grid-template-columns: 1fr;
            grid-template-rows: 14% 86%;
          }

          @include mobile() {
            margin-top: 24px;
            padding: 24px 0 0;
          }

          div.odds-ends-content-left {
            grid-column-start: 1;
            grid-row-start: 1;
            @include OC_Title();
            font-size: 22px;
            line-height: 30px;
            color: $deep_navy;
            text-align: left;

            @include mobile() {
              font-size: 20px;
              line-height: 25px;
            }
          }

          div.odds-ends-content-right {
            grid-column-start: 3;
            grid-row-start: 1;
            @include OC_Body_Book();
            font-size: 20px;
            line-height: 26px;
            color: $deep_navy;
            text-align: left;

            ul {
              padding-inline-start: 30px;
            }

            a {
              color: $carrot_green;
            }

            @include tablet() {
              margin-top: 8px;
              grid-column-start: 1;
              grid-row-start: 2;
            }
          }
        }
      }
    }
  }
}