/***** Pricing ******/

@mixin pricing-tablet(){
  @media screen and (max-width: 1072px) {
    @content; 
  }
}

div.pricing-wrap {
  background-color: $oc_gray_8;

  div.main.pricing {
    width: 100%;

    section {
      @include tablet(){
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    }

    section {
      background-color: $ultra_light_gold;
    }

    section.pricing-header {
      padding: 239px 0 0;
      text-align: center;
      position: relative;

      @include tablet() {
        overflow: visible;
        padding: 131px 0 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      h1.pricing-headline {
        font-size: 60px;
        line-height: 78px;
        @include PTSerif()
        color: $deep_navy;
        min-width: 300px;
        margin: 0 auto;

        @include mobile() {
          margin: 0 auto;
          font-size: 36px;
          line-height: initial;
          max-width: initial;
          padding: 0 24px;
        }
      }

      div.pricing-subheadline {
        color: $deep_navy;
        font-size: 30px;
        line-height: 38px;
        @include avenir_R();
        margin: 24px auto 0px;
        z-index: 2;
        position: relative;
        max-width: 630px;

        @include mobile(){
          margin-top: 16px;
          font-size: 20px;
          line-height: 26px;
          padding: 0px;
          color: $deep_navy;
          max-width: initial;
        }
      }

      div.pricing-three-columns{
        margin: 80px auto 0;
        width: 1258px;
        padding: 0 24px;

        @include pricing-tablet() {
          width: 100%;
        }

        @include mobile() {
          padding: 0;
        }

        div.pricing-column {
          width: 382px;
          min-height: 812px;
          background-color: $another_ui_grey;
          float: left;
          margin-left: 32px;
          padding: 40px 32px 16px;
          text-align: center;

          &:nth-child(odd) {
            margin-top: 43px;
          }

          @include pricing-tablet() {
            min-height: initial;
            float: unset;
            padding: 40px 32px;
            margin: 32px auto 0;
          }

          @include mobile() {
            width: 100%;
          }

          h2.tear-title {
            @include PTSerif()
            font-size: 40px;
            color: $deep_navy;
          }

          h3.tear-price {
            @include PTSerif()
            font-size: 60px;
            line-height: 78px;
            color: $deep_navy;
            margin-top: 35px;

            span {
              display: none;
            }
          }

          div.tear-subtitle {
            @include avenir_R();
            font-size: 20px;
            color: $deep_navy;
            line-height: 26px;
            margin: 32px auto 0;

            span.bold {
              @include avenir_H();
            }

            span.billed-monthly {
              display: none;
            }
          }

          a.tear-start-bt {
            display: block;
            margin: 32px auto 24px;
            width: 200px;
            height: 40px;
            background-color: $carrot_orange;
            border-radius: 8px;
            color: white;
            @include avenir_H();
            font-size: 16px;
            padding: 10px 24px;
          }

          div.tear-feature-separator {
            height: 1px;
            width: 100%;
            background-color: $more_ultra_light_grey;
            margin-top: 16px;
          }

          div.tear-feature {
            max-width: 200px;
            @include avenir_R();
            font-size: 20px;
            color: $deep_navy;
            text-align: center;
            margin: 16px auto 0;
            cursor: pointer;

            &[data-toggle="tooltip"] {
              span{
                border-bottom: 1px dotted $deep_navy;
              }
            }

            @include big_web() {
              &[data-toggle="tooltip"] {
                &:hover {
                  color: $deep_navy;
                }
              }
            }

            @include pricing-tablet() {
              max-width: initial;
            }

            span.heavy {
              @include avenir_H();
            }
          }

          &.free-column {
            border-bottom-left-radius: 100px;
            margin-left: 0;

            @include pricing-tablet() {
              margin: 32px auto 0;
            }

            div.tear-subtitle {
              max-width: 192px;
            }
          }

          &.team-column {
            min-height: 856px;
            background-color: white;
            border: 1px solid $deep_tan;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);

            h3.tear-price {
              margin-top: 39px;
            }

            div.pricing-toggle-line {
              margin: 16px auto;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 22px;

              span.pricing-toggle-annual {
                @include avenir_H();
                font-size: 14px;
                color: $deep_navy;
                line-height: 22px;
              }

              div.pricing-toggle {
                float: left;
                margin: 0 16px;
                height: 22px;
                width: 40px;
                background-color: $deep_navy;
                border-radius: 100px;
                position: relative;
                cursor: pointer;

                span.pricing-toggle-dot {
                  position: absolute;
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                  background-color: white;
                  top: 3px;
                  left: 0;
                  margin-left: 3px;
                  transition: margin-left 180ms; 
                }
              }

              span.pricing-toggle-monthly {
                @include avenir_H();
                font-size: 14px;
                color: $ui_grey;
                width: 90px;
                text-align: left;
              }
            }

            &.monthly {
              div.tear-subtitle {
                span.billed-monthly {
                  display: block;
                }

                span.billed-annually {
                  display: none;
                }
              }

              div.pricing-toggle-line {

                span.pricing-toggle-annual {
                  color: $ui_grey;
                }

                div.pricing-toggle {
                  span.pricing-toggle-dot {
                    margin-left: 21px;
                  }
                }

                span.pricing-toggle-monthly {
                  color: $deep_navy;
                }
              }
            }

            &.monthly {
              h3.tear-price {
                span.annual {
                  display: none;
                }

                span.monthly {
                  display: block;
                }
              }
            }

            &.annual {
              h3.tear-price {
                span.annual {
                  display: block;
                }

                span.monthly {
                  display: none;
                }
              }
            }

            div.tear-subtitle {
              max-width: 151px;
            }
          }

          &.enterprise-column {
            border-bottom-right-radius: 40px;

            div.tear-price {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: rgba(#314150, 0.1);
              background-image: cdnUrl("/img/ML/carrot_logo_grey.svg");
              background-size: 23px 40px;
              background-position: center;
              background-repeat: no-repeat;
              margin: 36px auto 0;
            }

            a.tear-start-bt {
              background-color: $feint_emerald;
              color: $carrot_green;
              margin: 32px auto 24px;
            }

            div.tear-subtitle {
              max-width: 241px;
              margin-top: 29px;

              @include pricing-tablet() {
                max-width: initial;
              }
            }
          }
        }
      }
    }

    section.pricing-faq {
      width: 795px;
      margin: 120px auto;
      text-align: left;

      @include tablet() {
        width: 100%;
        margin: 80px auto;
      }

      h2.faq-header {
        @include PTSerif()
        font-size: 60px;
        color: $deep_navy;
        margin-bottom: 80px;

        @include mobile() {
          font-size: 36px;
          margin-bottom: 40px;
        }
      }

      div.faq-row {
        border-top: 1px solid $more_ultra_light_grey;
        margin-top: 40px;

        div.faq-row-question {
          @include PTSerif()
          font-size: 20px;
          color: $deep_navy;
          line-height: 28px;
          margin-top: 40px;
        }

        div.faq-row-answer {
          @include avenir_R();
          font-size: 20px;
          color: $deep_navy;
          margin-top: 8px;

          span.heavy {
            @include avenir_H();
          }

          a.chat-with-us {
            float: left;
            color: $carrot_green;
            @include avenir_B();
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.5;

            &:hover {
              text-decoration: underline;
            }
          }

          a {
            color: $carrot_green;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}