div.prior-updates-container {
  text-align: left;

  div.message-container {
    h3.message {
      font-family: $oc_headers_font;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
    }
  }

  div.update {
    padding: 7px 0px 7px 10px;
    transition: 230ms;
    border-left: 3px solid transparent;
    cursor: pointer;
    border-radius: 3px;

    &.active, &:hover {
      background-color: rgba(78,90,107,0.1);
    }

    &.active {
      div.update-title {
        a {
          color: $oc_gray_7;
        }
      }

      div.update-details {
        color: $oc_gray_7;
      }
    }

    &:hover:not(.active) {

      div.update-title {
        a {
          color: $oc_gray_5;
        }
      }

      div.update-details {
        color: $oc_gray_5;
      }
    }

    div.update-title {
      margin-bottom: 0;
      font-size: 14px;
      font-family: $oc_headers_font;
      font-weight: 400;
      a {
        color: rgba(78,90,107,0.8);
      }
    }

    div.update-details {
      font-size: 13px;
      color: rgba(78,90,107,0.8);

      div.medium {
        display: inline;
      }
    }
  }
}
