/***** Pricing ******/

@mixin pricing-tablet(){
  @media screen and (max-width: 1072px) {
    @content; 
  }
}

div.pricing-wrap {
  background-color: $oc_gray_8;

  div.main.pricing {
    width: 100%;

    section {
      @include tablet(){
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    }

    section {
      background-color: $ultra_light_gold;
    }

    section.pricing-header {
      padding: 239px 0 0;
      text-align: center;
      position: relative;

      @include tablet() {
        overflow: visible;
        padding: 131px 0 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      h1.pricing-headline {
        font-size: 80px;
        @include PTSerif()
        color: $deep_navy;
        min-width: 300px;
        margin: 0 auto;

        @include mobile() {
          margin: 0 auto;
          font-size: 36px;
          max-width: initial;
          padding: 0 24px;
        }
      }

      div.pricing-subheadline {
        color: $deep_navy;
        font-size: 30px;
        line-height: 38px;
        @include avenir_R();
        margin: 24px auto 0px;
        z-index: 2;
        position: relative;
        max-width: 800px;

        @include mobile(){
          margin-top: 16px;
          font-size: 20px;
          line-height: 26px;
          padding: 0px;
          color: $deep_navy;
          max-width: initial;
        }
      }

      div.pricing-three-columns{
        margin: 80px auto 0;
        width: 1072px;
        padding: 0 24px;

        @include pricing-tablet() {
          width: 100%;
        }

        @include mobile() {
          padding: 0;
        }

        div.pricing-column {
          width: 320px;
          min-height: 943px;
          background-color: $another_ui_grey;
          float: left;
          margin-left: 32px;
          padding: 40px 32px;
          text-align: center;

          @include pricing-tablet() {
            min-height: initial;
            float: unset;
            padding: 40px 32px;
            margin: 32px auto 0;
          }

          @include mobile() {
            width: 100%;
          }

          h2.tear-title {
            @include PTSerif()
            font-size: 40px;
            color: $deep_navy;
          }

          h3.tear-price {
            @include PTSerif()
            font-size: 60px;
            color: $deep_navy;
            line-height: 90px;
            margin-top: 16px;
          }

          h5.tear-period {
            @include avenir_B();
            font-size: 14px;
            color: $ui_grey;
            text-transform: uppercase;
          }

          div.tear-subtitle {
            @include avenir_R();
            font-size: 20px;
            color: $deep_navy;
            line-height: 26px;
            margin: 32px auto 0;
          }

          a.tear-start-bt {
            display: block;
            margin: 32px auto 24px;
            width: 200px;
            height: 40px;
            background-color: $carrot_orange;
            border-radius: 8px;
            color: white;
            text-transform: uppercase;
            @include avenir_B();
            font-size: 14px;
            padding: 10px 24px;
          }

          div.tear-feature-separator {
            height: 1px;
            width: 100%;
            background-color: #E7E6E5;
            margin-top: 16px;
          }

          div.tear-feature {
            max-width: 220px;
            @include avenir_R();
            font-size: 20px;
            color: $deep_navy;
            text-align: center;
            margin: 16px auto 0;
            cursor: pointer;

            &[data-toggle="tooltip"] {
              span{
                border-bottom: 1px dotted $deep_navy;
              }
            }

            @include big_web() {
              &[data-toggle="tooltip"] {
                &:hover {
                  color: $deep_navy;
                }
              }
            }

            @include pricing-tablet() {
              max-width: initial;
            }

            span.heavy {
              @include avenir_H();
            }
          }

          &.free-column {
            border-bottom-left-radius: 40px;
            margin-left: 0;

            @include pricing-tablet() {
              margin: 32px auto 0;
            }

            div.tear-subtitle {
              max-width: 182px;
            }
          }

          &.team-column {
            div.tear-subtitle {
              max-width: 251px;
            }
          }

          &.enterprise-column {
            border-bottom-right-radius: 40px;

            div.tear-price {
              width: 101px;
              height: 101px;
              border-radius: 50%;
              background-color: white;
              background-image: cdnUrl("/img/ML/carrot_logo_grey.svg");
              background-size: 30px 52px;
              background-position: center;
              background-repeat: no-repeat;
              margin: 28px auto 0;
            }

            a.tear-start-bt {
              background-color: transparent;
              border: 2px solid $coral;
              color: $carrot_orange;
            }

            div.tear-subtitle {
              max-width: 241px;

              @include pricing-tablet() {
                max-width: initial;
              }
            }
          }
        }
      }
    }

    section.pricing-faq {
      width: 795px;
      margin: 120px auto;
      text-align: left;

      @include tablet() {
        width: 100%;
        margin: 80px auto;
      }

      h2.faq-header {
        @include PTSerif()
        font-size: 80px;
        color: $deep_navy;
        margin-bottom: 80px;

        @include mobile() {
          font-size: 36px;
          margin-bottom: 40px;
        }
      }

      div.faq-row {
        border-top: 1px solid #E7E6E5;
        margin-top: 40px;

        div.faq-row-question {
          @include PTSerif()
          font-size: 20px;
          color: $deep_navy;
          line-height: 28px;
          margin-top: 40px;
        }

        div.faq-row-answer {
          @include avenir_R();
          font-size: 20px;
          color: $deep_navy;
          margin-top: 8px;

          span.heavy {
            @include avenir_H();
          }

          a.chat-with-us {
            float: left;
            color: $carrot_green;
            @include avenir_B();
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.5;

            &:hover {
              text-decoration: underline;
            }
          }

          a {
            color: $carrot_green;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}