/***** Pricing ******/

@mixin pricing-tablet(){
  @media screen and (max-width: 1072px) {
    @content; 
  }
}

div.pricing-wrap {
  background-color: $oc_gray_8;

  div.main.pricing {
    width: 100%;

    section {
      @include tablet(){
        padding-left: 24px !important;
        padding-right: 24px !important;
      }

      @include mobile(){
        padding-left: 16px !important;
        padding-right: 16px !important;
      }
    }

    section {
      background-color: $ultra_light_gold;
    }

    section.pricing-header {
      padding: 200px 0 0;
      text-align: center;
      position: relative;
      width: 100%;

      @include tablet() {
        overflow: visible;
        padding: 131px 0 0;
        padding-left: 0;
        padding-right: 0;
      }

      @include mobile() {
        padding: 88px 16px 40px;
      }

      h1.pricing-headline {
        font-size: 60px;
        line-height: 78px;
        @include OC_Title()
        color: $deep_navy;
        margin: 0 auto;
        max-width: 840px;

        @include mobile() {
          margin: 0 auto 40px;
          font-size: 36px;
          line-height: initial;
          max-width: initial;
          padding: 0 24px;
        }
      }
    }

    section.pricing-apps {
      padding: 80px 0;
      background-color: $another_ui_grey;

      @include mobile() {
        padding: 40px 0 0;
      }

      div.pricing-apps-block {
        width: 100%;
        max-width: 1114px;
        max-height: 249px;
        margin: 0 auto;

        @include mobile() {
          max-height: initial;
        }

        & > div {
          margin-left: 92px;
          float: left;

          &:first-child {
            margin-left: 0;
          }

          @include mobile() {
            margin-left: 0;
            float: unset; 
          }
        }

        div.pricing-apps-separator {
          width: 1px;
          height: 100%;
          background-color: rgba($deep_navy, 0.1);
          height: 249px;
        }

        div.pricing-apps-app-block {
          width: calc((100% - 2px - (92px * 4)) / 3);

          @include mobile() {
            width: 100%;
          }

          div.pricing-apps-app-header {
            @include OC_Body_Bold();
            font-size: 30px;
            line-height: 38px;
            color: $deep_navy;
            text-align: center;

            @include mobile() {
              font-size: 20px;
              line-height: 25px;
            }
          }

          img.pricing-apps-app-screenshot {
            max-height: 140px;
            max-width: 248px;
            margin: 24px auto 0;
            display: block;
          }

          div.pricing-apps-app-links {
            margin-top: 24px;
            text-align: center;
            color: $carrot_green;
            @include OC_Body_Bold();
            font-size: 18px;
            line-height: 23px;

            @include mobile() {
              margin-top: 10px;
              @include OC_Body_Bold();
              font-size: 20px;
              line-height: 26px;
            }

            a {
              color: $carrot_green;
              @include OC_Body_Bold();
              font-size: 18px;
              line-height: 23px;

              @include mobile() {
                @include OC_Body_Bold();
                font-size: 20px;
                line-height: 26px;
              }

              &:hover {
                text-decoration: underline;
              }

              &.mac-icon {
                padding-left: 22px;
                position: relative;

                &:before {
                  content: "";
                  display: block;
                  width: 14px;
                  height: 16px;
                  background-image: cdnUrl("/img/ML/pricing_apps_mac_icon.svg");
                  background-size: 14px 16px;
                  background-position: center;
                  background-repeat: no-repeat;
                  position: absolute;
                  left: 0;
                  top: 3.5px;
                }
              }

              &.win-icon {
                padding-left: 24px;
                margin-left: 24px;
                position: relative;

                &:before {
                  content: "";
                  display: block;
                  width: 16px;
                  height: 16px;
                  background-image: cdnUrl("/img/ML/pricing_apps_win_icon.svg");
                  background-size: 16px 16px;
                  background-position: center;
                  background-repeat: no-repeat;
                  position: absolute;
                  left: 0;
                  top: 3.5px;
                }
              }
            }
          }

          img.pricing-apps-mobile-screenshot {
            width: 226px;
            height: 196px;
            margin: 24px auto 0;
            display: block;
          }
        }
      }
    }

    section.pricing-faq {
      margin: 0 auto;
      max-width: 1200px;
      position: relative;

      &:after {
        content: "";
        background-color: $another_ui_grey;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 200px 20px;
        z-index: 1;

        @include mobile() {
          border-radius: 0px 0px 0px 0px;
        }
      }

      & > div {
        position: relative;
        z-index: 2;
      }

      div.pricing-faq-block {
        max-width: 784px;
        margin: 0 auto;
        padding: 90px 0;
        text-align: left;

        h1.pricing-faq-header {
          @include OC_Body_Bold();
          font-size: 60px;
          line-height: 62px;
          color: $deep_navy;
          margin: 0 0 40px;
          padding: 0;

          @include mobile() {
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            margin: 0;
          }
        }

        div.pricing-faq-question-block {
          margin: 40px 0;
          border-top: 1px solid $more_ultra_light_grey;
          padding: 40px 0 0;

          @include mobile() {
            margin-top: 24px;
            padding-top: 24px;
          }

          &:first-of-type {
            margin-top: 0;
            border-top: none;

            @include mobile() {
              margin-top: 24px;
              border-top: 1px solid $more_ultra_light_grey;
            }
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          div.pricing-faq-question {
            @include OC_Body_Bold();
            font-size: 20px;
            line-height: 28px;
            color: #294154;
          }

          div.pricing-faq-answer {
            @include OC_Body_Book();
            font-size: 20px;
            line-height: 28px;
            color: $deep_navy;
            margin-top: 8px;

            a {
              @include OC_Body_Book();
              font-size: 20px;
              line-height: 28px;
              color: $carrot_green;
            }
          }
        }
      }
    }

    section.pricing-footer {
      padding: 80px 0;
      background-color: $another_ui_grey;
    }
  }
}