/***** Pricing ******/

div#wrap {
  background-color: $oc_gray_8;

  div.main.pricing {
    width: 100%;

    @include mobile() {
      padding: 0 32px;
    }

    section {
      @include mobile_to_tablet(){
        padding: 0 32px;
      }
    }

    section.pricing-header {
      padding-top: 72px;
      text-align: center;
      position: relative;
      overflow: hidden;
      min-height: 100vh;

      div.balloon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;

        @include mobile() {
          display: none;
        }

        &.big-red {
          @include image-2x("/img/ML/pricing_balloon_big_red");
          background-size: 111px 103px;
          width: 111px;
          height: 103px;
          top: 0px;
          left: 50%;
          margin-left: -600px;
        }

        &.big-green {
          @include image-2x("/img/ML/slack_balloon_big_green");
          background-size: 172px 172px;
          width: 172px;
          height: 172px;
          top: 6px;
          right: -50px;
        }

        &.small-blue {
          @include image-2x("/img/ML/pricing_balloon_small_blue");
          background-size: 25px 25px;
          width: 25px;
          height: 25px;
          top: 105px;
          right: 159px;
        }

        &.big-purple {
          @include image-2x("/img/ML/pricing_balloon_big_purple");
          background-size: 256px 222px;
          width: 256px;
          height: 222px;
          top: 225px;
          // transform: rotate(160deg);
          left: 50%;
          margin-left: -558px;
        }
      }

      h1.pricing-headline {
        font-size: 48px;
        @include avenir_H();
        color: $deep_navy;
        margin-top: 88px;
      }

      div.pricing-block {
        width: 940px;
        padding: 32px 8px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.12);
        margin: 80px auto 32px;
        position: relative;
        z-index: 2;

        div.pricing-block-column {
          text-align: center;
          float: left;
          width: 33.33%;
          @include avenir_H();
          color: $deep_navy;
          padding: 0px 40px;

          &:not(:first-child):not(:last-child) {
            border-left: 1px solid $light_tan;
            border-right: 1px solid $light_tan;
          }

          &.free-column {
            div.price-column-price {
              width: 80px;
            }

            button.price-button {
              margin-top: 100px;
            }
          }

          &.standard-column {
            div.price-column-price {
              width: 80px;
            }
          }

          &.plus-column {
            div.price-column-price {
              width: 116px;
            }
          }

          div.price-column-title {
            font-size: 26px;
          }

          div.price-column-price {
            font-size: 56px;
            position: relative;
            margin: 8px auto;
            width: 48px;

            &:before {
              content: "$";
              color: $ui_grey;
              font-size: 16px;
              position: absolute;
              top: 16px;
              left: 0px;
              width: 24px;
              height: 24px;
            }
          }

          div.price-column-description {
            margin-top: 8px;
            @include avenir_M();
            font-size: 16px;

            &.second-line {
              margin-top: 16px;
            }

            &.more-info {
              @include avenir_H();
              position: relative;
              margin-top: 24px;

              &:after {
                content: "";
                position: absolute;
                top: 1px;
                right: 0px;
                background-image: cdnUrl("/img/ML/pricing_more_info.svg");
                background-size: 16px 16px;
                background-position: center;
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
              }
            }
          }

          button.price-button {
            margin: 24px auto 0px;
          }
        }
      }

      div.enterprise-block {
        background-color: $light_gold;
        border-radius: 8px;
        width: 940px;
        margin: 40px auto 0px;
        padding: 24px;
        text-align: center;

        span.enterprise-block-title {
          @include avenir_H();
          color: $deep_navy;
          font-size: 16px;
        }

        span.enterprise-block-copy {
          @include avenir_R();
          color: $ui_grey;
          font-size: 16px;
          margin: 0px 8px;
        }

        a.enterprise-block-link {
          @include avenir_M();
          font-size: 16px;
          color: $sea_blue;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    button.price-button {
      margin: px auto 0px;
      background-color: $sea_blue;
      color: white;
      font-size: 16px;
      width: 175px;
      height: 40px;
      border-radius: 100px;
    }

    section.second-section {
      h1.compare-plans {
        margin: 32px auto;
        text-align: center;
        @include avenir_M();
        font-size: 34px;
        color: $deep_navy;
      }

      div.pricing-table {
        margin: 32px auto;
        padding: 0px;
        width: 940px;

        div.check {
          margin: 0px auto;
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/pricing_table_check.svg");
          background-position: center;
          background-size: 24px 24px;
          background-repeat: no-repeat;
        }

        div.more-info {
          @include avenir_R();
          font-size: 16px;
          color: $deep_navy;
          position: relative;

          span.more-info-icon {
            display: inline-block;
            background-image: cdnUrl("/img/ML/pricing_more_info.svg");
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            margin-left: 8px;
            margin-top: 2px;
          }

          &:hover {
            div.more-info-bubble {
              display: block;
            }
          }

          div.more-info-bubble {
            display: none;
            width: 260px;
            padding: 24px;
            background-color: white;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba($deep_tan, 0.7);
            position: absolute;
            top: 20px;
            right: -100%;

            div.more-info-title {
              @include avenir_H();
              font-size: 14px;
              color: $deep_navy;
            }

            div.more-info-desc {
              margin-top: 16px;
              @include avenir_BOOK();
              font-size: 14px;
              color: $deep_navy;
            }
          }
        }

        table {
          margin: 0px;
          padding: 0px;
          border: none;
          width: 100%;
          text-align: center;
          border-top: 2px solid $deep_tan;
          border-bottom: 2px solid $deep_tan;

          thead {
            padding: 0px;
            margin: 0px;

            tr {
              padding: 0px;
              margin: 0px;
              height: 75px;
              border-bottom: 2px solid $deep_tan;

              th {
                padding: 0px;
                margin: 0px;
                width: 25%;
                text-align: center;

                &:not(:first-child):not(:last-child) {
                  border-left: 1px solid $deep_tan;
                  border-right: 1px solid $deep_tan;
                }
              }
            }
          }

          tbody {
            padding: 0px;
            margin: 0px;

            tr {
              padding: 0px;
              margin: 0px;
              height: 75px;

              &:nth-child(odd) {
                background-color: transparent;
              }

              &:nth-child(even) {
                background-color: rgba($deep_tan, 0.2);
              }

              td {
                padding: 0px;
                margin: 0px;
                width: 25%;
                @include avenir_H();
                font-size: 16px;
                color: $deep_navy;
                text-align: center;

                & > div {
                  padding: 0px 32px;
                }

                &:first-child {
                  @include avenir_R();
                  text-align: left;
                }

                &:not(:first-child):not(:last-child) {
                  border-left: 1px solid $deep_tan;
                  border-right: 1px solid $deep_tan;
                }
              }
            }
          }
        }
      }
    }
  }
}