/***** Pricing ******/

div.pricing-wrap {
  background-color: $oc_gray_8;

  div.main.pricing {
    width: 100%;

    section {
      @include tablet(){
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    }

    section {

      &:nth-child(odd) {
        background-color: #FFFDF9;
      }

      &:nth-child(even) {
        background-color: #FAF8F4;
      }
    }

    section.pricing-header {
      padding: 184px 0 120px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include mobile() {
        overflow: visible;
        padding: 148px 0 80px;
      }

      div.balloon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;

        @include mobile() {
          display: none;
        }

        &.big-red {
          @include image-2x("/img/ML/pricing_balloon_big_red");
          background-size: 111px 103px;
          width: 111px;
          height: 103px;
          top: 0px;
          left: 50%;
          margin-left: -600px;
        }

        &.big-green {
          @include image-2x("/img/ML/slack_balloon_big_green");
          background-size: 172px 172px;
          width: 172px;
          height: 172px;
          top: 6px;
          right: -50px;
        }

        &.small-blue {
          @include image-2x("/img/ML/pricing_balloon_small_blue");
          background-size: 25px 25px;
          width: 25px;
          height: 25px;
          top: 105px;
          right: 159px;
        }

        &.big-purple {
          @include image-2x("/img/ML/pricing_balloon_big_purple");
          background-size: 256px 222px;
          width: 256px;
          height: 222px;
          top: 225px;
          // transform: rotate(160deg);
          left: 50%;
          margin-left: -558px;
        }

        &.small-blue-1 {
          @include image-2x("/img/ML/balloon_small_blue_1");
          background-size: 50px 44px;
          width: 50px;
          height: 44px;
          top: 1540px;
          left: 50%;
          margin-left: -356px;
          z-index: 2;
        }
      }

      h1.pricing-headline {
        font-size: 48px;
        @include avenir_H();
        color: $deep_navy;
        min-width: 300px;
        margin: 0 auto;

        @include mobile() {
          margin: 0 auto;
        }
      }

      table.pricing-table {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 1080px;
        margin: 80px auto 0;

        @include mobile() {
          width: 100%;
          margin: 40px auto 0;
        }

        th {
          padding: 40px;

          @include mobile(){
            padding: 32px;
          }
        }

        th, td {
          padding: 24px;
          border-right: 1px solid #EFEEEB;

          @include mobile(){
            padding: 16px;
          }

          &:last-child {
            border-right: none;
          }
        }

        tr {
          border-bottom: 1px solid #EFEEEB;

          &:last-child {
            border-right: none;
          }
        }

        thead tr th {
          text-align: center;

          div.tire-title {
            @include avenir_H();
            font-size: 22px;
            color: $deep_navy;
          }

          div.tire-price {
            margin: 24px auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @include avenir_H();
            font-size: 30px;
            color: $deep_navy;

            @include mobile() {
              margin: 16px auto;
              display: block;
              justify-content: unset;
              align-items: unset;
            }

            span.dollar {
              color: $ui_grey;
              @include avenir_R();
              font-size: 14px;
              text-align: left;
              line-height: 15px;
              margin-right: 8px;
              position: relative;
              top: -10px;
            }

            span.per-month {
              color: $ui_grey;
              @include avenir_R();
              font-size: 14px;
              max-width: 48px;
              text-align: left;
              line-height: 15px;
              margin-left: 8px;
              margin-top: -5px;

              @include mobile() {
                max-width: unset;
                text-align: center;
                display: block;
              }
            }

            div.mobile-per-month {

            }
          }

          button.price-button {
            background-color: $carrot_orange;
            border-radius: 100px;
            @include avenir_H();
            font-size: 16px;
            color: white;
            margin: 24px auto 0;
            width: 152px;
            height: 40px;

            @include mobile() {
              margin: 16px auto;
              width: 200px;
            }
          }
        }

        tbody {
          tr {

            &:nth-child(even) {
              background-color: rgba(#E4E3DE, 0.2);
            }

            td {
              &.pricing-description {
                @include avenir_R();
                font-size: 16px;
                color: $deep_navy;
                text-align: left;

                span.strong {
                  @include avenir_H();
                }

                span.info {
                  // display: inline-block;
                  // Hide for now
                  display: none;
                  width: 16px;
                  height: 16px;
                  margin-left: 8px;
                  background-image: cdnUrl("/img/ML/pricing_more_info.svg");
                  background-size: 16px 16px;
                  background-repeat: no-repeat;
                  background-position: center;
                }
              }

              &.pricing-value {
                @include avenir_H();
                font-size: 16px;
                color: $deep_navy;
                text-align: center;

                div.price-checkmark {
                  width: 24px;
                  height: 24px;
                  background-size: 24px 24px;
                  background-image: cdnUrl("/img/ML/green_checkmark.svg");
                  background-repeat: no-repeat;
                  background-position: center;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }

      div.pricing-faq {
        width: 940px;
        margin: 120px auto 0;

        @include mobile() {
          width: 100%;
          margin-top: 80px;
        }

        h2.faq-header {
          @include avenir_M();
          font-size: 34px;
          color: $deep_navy;
          text-align: center;
          margin-bottom: 24px;

          @include mobile() {
            @include avenir_H();
            font-size: 24px;
            text-align: left;
          }
        }

        div.faq-row {
          margin-top: 16px;
          border-radius: 8px;
          background-color: $oc_gray_8;
          border: 1px solid #EAE9E4;
          padding: 24px;
          cursor: pointer;

          &.expanded {
            div.faq-question:before {
              position: absolute;
              top: 10px;
              left: 0px;
              width: 10px;
              height: 2px;
              background-image: cdnUrl("/img/ML/pricing_faq_expanded.svg");
              background-size: 10px 2px;
            }

            div.faq-response {
              display: block;
            }
          }

          div.faq-question {
            position: relative;
            padding-left: 32px;
            @include avenir_H();
            font-size: 16px;
            color: $deep_navy;
            text-align: left;
            @include no-user-select();

            &:before {
              content: "";
              position: absolute;
              top: 6px;
              left: 0px;
              width: 10px;
              height: 10px;
              background-image: cdnUrl("/img/ML/pricing_faq_collapsed.svg");
              background-size: 10px 10px;
              background-position: center;
              background-repeat: no-repeat;
            }
          }

          div.faq-response {
            display: none;
            position: relative;
            padding-left: 32px;
            @include avenir_BOOK();
            font-size: 18px;
            color: $deep_navy;
            margin-top: 16px;
            text-align: left;
          }
        }

        div.contact-us-row {
          @include avenir_M();
          font-size: 16px;
          color: $deep_navy;
          max-width: 1080px;
          text-align: center;
          margin: 32px auto 0;

          a.contact {
            color: $carrot_green;
          }
        }
      }
    }

    section.second-section {
      h1.compare-plans {
        margin: 64px auto 32px;
        text-align: center;
        @include avenir_M();
        font-size: 34px;
        color: $deep_navy;
      }

      div.pricing-table {
        margin: 32px auto 120px;
        padding: 0px;
        width: 940px;

        @include mobile() {
          width: calc(100% + 64px);
          margin-left: -32px;
          overflow-x: auto;
        }

        div.check {
          margin: 0px auto;
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/pricing_table_check.svg");
          background-position: center;
          background-size: 24px 24px;
          background-repeat: no-repeat;
        }

        div.more-info {
          @include avenir_R();
          font-size: 16px;
          color: $deep_navy;
          position: relative;

          span.more-info-icon {
            display: inline-block;
            background-image: cdnUrl("/img/ML/pricing_more_info.svg");
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            margin-left: 8px;
            margin-top: 2px;
            //////////////
            // Remove this to show the info icons
            display: none;
            //////////////
          }

          ////////////////
          // Uncomment to show the info bubbles
          // &:hover {
          //   div.more-info-bubble {
          //     display: block;
          //   }
          // }
          ////////////////

          div.more-info-bubble {
            display: none;
            width: 260px;
            padding: 24px;
            background-color: white;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba($deep_tan, 0.7);
            border-radius: 4px;
            position: absolute;
            top: 20px;
            right: -100%;

            div.more-info-title {
              @include avenir_H();
              font-size: 14px;
              color: $deep_navy;
            }

            div.more-info-desc {
              margin-top: 16px;
              @include avenir_BOOK();
              font-size: 14px;
              color: $deep_navy;
            }
          }
        }

        table {
          margin: 0px;
          padding: 0px;
          border: none;
          width: 100%;
          text-align: center;
          border-top: 2px solid $deep_tan;
          border-bottom: 2px solid $deep_tan;
          
          @include mobile() {
            margin: 0px 32px;
            width: 820px;
          }

          thead {
            padding: 0px;
            margin: 0px;

            tr {
              padding: 0px;
              margin: 0px;
              height: 75px;
              border-bottom: 1px solid $deep_tan;

              th {
                padding: 0px;
                margin: 0px;
                width: 25%;
                text-align: center;

                &:not(:first-child):not(:last-child) {
                  border-left: 1px solid $deep_tan;
                  border-right: 1px solid $deep_tan;
                }
              }
            }
          }

          tbody {
            padding: 0px;
            margin: 0px;

            tr {
              padding: 0px;
              margin: 0px;
              height: 75px;

              &:nth-child(odd) {
                background-color: transparent;
              }

              &:nth-child(even) {
                background-color: rgba($deep_tan, 0.2);
              }

              td {
                padding: 0px;
                margin: 0px;
                width: 25%;
                @include avenir_H();
                font-size: 16px;
                color: $deep_navy;
                text-align: center;

                & > div {
                  padding: 0px 24px;
                }

                &:first-child {
                  @include avenir_R();
                  text-align: left;
                }

                &:not(:first-child):not(:last-child) {
                  border-left: 1px solid $deep_tan;
                  border-right: 1px solid $deep_tan;
                }
              }
            }
          }
        }
      }
    }
  }
}