div.prior-updates-container {
  text-align: left;
  background-color: white;

  div.message-container {
    text-align: center;
  }

  div.update-title {
    margin-bottom: 0;
  }

  div.update-details {
    font-size: 13px;
    margin-bottom: 20px;

    div.medium {
      display: inline;
    }
  }
}
