div.push-notifications-permission-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: #{$navbar_zindex + 180};
  background-color: $grey_num_4;

  .modal-header {
    display: flex;
    width: 100%;
    height: 7%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    background-color: white;

    .modal-close-bt {
      width: 32px;
      height: 32px;
      padding: 0;
      background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-color: $ultra_light_grey;
      border-radius: 4px;
      border: none;
      position: absolute;
      left: 16px;
      top: 11px;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
      }
    }

    .modal-title {
      flex: 99;
      text-align: center;
    }
  }

  .modal-body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carrot-icon {
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 26px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
      background-image: cdnUrl("/img/ML/carrot_logo.svg");
      background-size: 80% 80%;
      background-position: center;
      background-repeat: no-repeat;

      .notification-bubble {
        position: absolute;
        top: -12px;
        right: -12px;
        color: #fff;
        background-color: #ff4c34;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .modal-body-text {
      text-align: center;
      font-size: 20px;
      @include OC_Body_Book();
      margin-top: 24px;
      max-width: 259px;
    }

    .enable-notifications-bt {
      color: #fff;
      @include OC_Body_Bold();
      background-color: rgba($wut_purple, 0.8);
      border-radius: 6px;
      height: 48px;
      width: 100%;
      max-width: 280px;
      margin: 16px 0;
      font-size: 18px;
    }

    .no-thanks-btn {
      @include OC_Body_Book();
      color: rgba($wut_purple, 0.8);
      height: 48px;
      width: 100%;
      max-width: 280px;
      font-size: 18px;
    }
  }
}
