div.qsg-digest-sample {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: #{$navbar_zindex + 1999};
  background-color: rgba($deep_navy, 0.7);

  div.qsg-digest-sample-modal {
    margin: 0 auto;
    top: 50%;
    width: 720px;
    height: auto;
    transform: translateY(-50%);
    padding: 40px;
    position: relative;
    background-color: #FDF6E4;
    border-radius: 8px;

    button.settings-modal-close {
      position: absolute;
      top: 0;
      right: -56px;
    }

    div.qsg-digest-sample-left {
      float: left;
      width: calc(50% - 16px);
      height: 398px;
      
      div.qsg-digest-sample-title {
        @include OC_Title();
        font-size: 36px;
        color: $deep_navy;
        line-height: 40px;
        margin-top: 83px;
      }

      div.qsg-digest-sample-desc {
        @include OC_Body_Book();
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
      }

      button.qsg-digest-sample-bt {
        height: 40px;
        width: 120px;
        padding: 0 23px;
        background-color: $carrot_green;
        border-radius: 6px;
        @include OC_Body_Bold();
        font-size: 16px;
        color: white;
        margin-top: 16px;
      }

    }

    div.qsg-digest-sample-right {
      float: right;
      width: calc(50% - 16px);
      height: 398px;

      div.qsg-digest-sample-carion-items {
        position: relative;
        width: 272px;
        height: 398px;

        &.second-image {
          div.qsg-digest-sample-carion-item {
            &.first-item {
              opacity: 0;
            }

            &.second-item {
              opacity: 1;
            }
          }
        }

        div.qsg-digest-sample-carion-item {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 272px;
          transition: opacity 180ms;
          display: block;

          &.first-item {
            opacity: 1;
          }

          &.second-item {
            opacity: 0;
          }

          div.qsg-digest-sample-header {
            height: 40px;
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color: #E3E3E3;
            text-align: center;
            padding: 9px 24px;

            span.slack-logo {
              width: 64px;
              height: 16px;
              background-image: cdnUrl("/img/ML/qsg_sample_digest_slack_logo.svg");
              background-size: 64px 16px;
              background-position: center;
              display: block;
              margin: 3px auto 0;
            }

            span.email-logo {
              width: 68px;
              height: 22px;
              background-image: cdnUrl("/img/ML/qsg_sample_digest_email_logo.svg");
              background-size: 68px 22px;
              background-position: center;
              margin: 0 auto;
              display: block;
            }
          }

          img.qsg-digest-sample-image {
            width: 272px;
            height: 360px;
            object-fit: contain;
          }
        }

        button.qsg-digest-sample-carion-bt {
          position: absolute;
          top: calc(50% - 20px);
          right: -20px;
          width: 40px;
          height: 40px;
          background-color: $carrot_green;
          border-radius: 50%;
          background-image: cdnUrl("/img/ML/qsg_sample_digest_white_arrow.svg");
          background-position: center;
          background-size: 18px 9px;
          background-repeat: no-repeat;
          transform: rotate(360deg);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          transition: transform 180ms;
          margin: 0;
          padding: 0;

          &.next-bt {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}