div.qsg-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: #{$qsg_width};
  background-color: $deep_navy;
  z-index: #{$navbar_zindex + 2000};
  padding: 0;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: #{$qsg_width};
  //   height: 430px;
  //   @include image-2x("/img/ML/qsg_top");
  //   background-position: center top;
  //   background-repeat: no-repeat;
  //   background-size: #{$qsg_width} 720px;
  // }

  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: #{$qsg_width};
  //   height: 230px;
  //   @include image-2x("/img/ML/qsg_bottom");
  //   background-position: center bottom;
  //   background-repeat: no-repeat;
  //   background-size: #{$qsg_width} 720px;
  // }

  @include tablet() {
    display: none;
  }

  div.qsg-header {
    width: 100%;
    height: 55px;
    padding: 17px 16px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    span.qsg-lifevest {
      width: 16px;
      height: 16px;
      background-image: cdnUrl("/img/ML/qsg_lifevest.svg");
      background-size: 16px 16px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 19px;
      left: 16px;
    }

    div.qsg-title {
      text-align: center;
      width: 100%;
      @include PTSerif();
      font-size: 16px;
      line-height: 20px;
      height: 20px;
      color: white;
    }

    button.qsg-top-dismiss {
      position: absolute;
      top: 18px;
      right: 11px;
      width: 20px;
      height: 20px;
      background-image: cdnUrl("/img/ML/qsg_dimiss_x.svg");
      background-size: 10px 10px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  div.qsg-top {
    padding: 17px 16px;

    div.qsg-top-title {
      @include avenir_H();
      font-size: 14px;
      line-height: 18px;
      color: white;
    }

    div.qsg-progress-bar {
      margin: 16px 0 24px;
      border-radius: 4px;
      width: 100%;
      height: 8px;
      background-color: rgba(255, 255, 255, 0.1);
      position: relative;
      overflow: hidden;

      div.qsg-progress-bar-inner {
        border-radius: 4px;
        position: absolute;
        left: 0;
        top: 0;
        height: 8px;
        background-color: $carrot_green;
        min-width: 1%;
        transition: width 230ms ease-out;
      }
    }

    div.qsg-buttons-list-title {
      margin-top: 16px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.4);
      @include avenir_B();
      line-height: 14px;
      font-size: 10px;
    }

    div.qsg-buttons-list {

      div.qsg-list-item {
        cursor: default;
      }

      .qsg-list-item {
        margin-top: 6px;
        position: relative;
        height: 19px;
        width: 100%;
        color: rgba(255, 255, 255, 0.9);
        @include avenir_R();
        font-size: 14px;
        line-height: 19px;
        padding: 0 0 0 24px;
        text-align: left;
        opacity: 1;

        &:before {
          content: "";
          width: 16px;
          height: 16px;
          border-radius: 2px;
          border: 1.5px solid #FFFFFF;
          position: absolute;
          top: 1px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.3);
          opacity: 0.6;
        }

        &.done {
          color: rgba(255, 255, 255, 0.5);
          text-decoration: line-through;

          &:before {
            border: none;
            background-color: $carrot_green;
            background-image: cdnUrl("/img/ML/qsg_checkmark.svg");
            background-size: 14px 11px;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 1;
          }
        }

        &:not(.done):hover {
          opacity: 1;
          color: white;
          &:before {
            opacity: 1;
          }
        }

        &.verify-email-item {
          button.resend-email-bt {
            padding: 0;
            margin: 0;
            color: $carrot_green;
          }
        }
      }
    }
  }

  div.qsg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 257px;
    padding: 17px 16px;

    div.qsg-using-slack-section {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 16px 0;
      position: relative;

      div.qsg-using-slack-title {
        @include avenir_H();
        font-size: 12px;
        color: white;
      }

      button.qsg-using-slack-dismiss {
        position: absolute;
        right: -7px;
        top: 9px;
        width: 24px;
        height: 24px;
        background-image: cdnUrl("/img/ML/qsg_dismiss_slack.svg");
        background-size: 10px 10px;
        background-repeat: no-repeat;
        background-position: center;
      }

      div.qsg-using-slack-desc {
        @include avenir_R();
        font-size: 12px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
      }

      button.qsg-using-slack-bt {
        margin-top: 8px;
        color: $carrot_green;
        padding: 0 0 0 14px;
        @include avenir_H();
        font-size: 12px;
        line-height: 16px;
        position: relative;

        span.qsg-slack-icon {
          position: absolute;
          left: 0;
          top: 0;
          width: 10px;
          height: 10px;
          display: block;
          background-image: cdnUrl("/img/ML/qsg_slack_green_icon.svg");
          background-size: 10px 10px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    div.qsg-start-fresh-section {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 16px 0;
      position: relative;

      div.qsg-start-fresh-title {
        @include avenir_H();
        font-size: 12px;
        color: white;
      }

      button.qsg-start-fresh-bt {
        margin-top: 8px;
        color: $carrot_green;
        padding: 0;
        @include avenir_H();
        font-size: 12px;
        line-height: 16px;
        position: relative;
      }
    }

    button.qsg-dismiss {
      height: 40px;
      width: 100%;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.1);
      @include avenir_H();
      font-size: 12px;
      line-height: 18px;
      color: white;
      text-align: center;
      opacity: 1;
      margin: 0;
      padding: 0;
    }
  }
}