div.qsg-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: #{$qst_width};
  background-color: $deep_navy;
  z-index: #{$navbar_zindex + 2000};

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: #{$qst_width};
    height: 430px;
    @include image-2x("/img/ML/qsg_top");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: #{$qst_width} 720px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: #{$qst_width};
    height: 230px;
    @include image-2x("/img/ML/qsg_bottom");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: #{$qst_width} 720px;
  }

  @include mobile() {
    display: none;
  }

  button.add-profile-bt {
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1.5px solid #FFFFFF;
      position: absolute;
      top: 1px;
      left: 16px;
      background-color: rgba(255, 255, 255, 0.3);
      opacity: 0.6;
    }

    position: absolute;
    left: 0;
    top: 201px;
    height: 19px;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    @include avenir_R();
    font-size: 14px;
    line-height: 19px;
    padding: 0 0 0 40px;
    text-align: left;
    opacity: 1;

    &:hover {
      opacity: 1;
      color: white;
      &:before {
        // border: 1.5px solid white;
        opacity: 1;
      }
    }
  }
}