div.reactions {
  height: 26px;
  float: left;

  @include mobile() {
    float: unset;
    height: 32px;
  }

  div.reactions-list {

    button.reaction-btn {
      float: left;
      outline: none;
      position: relative;
      height: 26px;
      cursor: default;
      padding: 2px 0;
      @include OC_Body_Book();
      box-shadow: none;
      font-size: 12px;
      color: var(--color);
      border-radius: 4px;
      margin-left: 16px;
      opacity: 0.9;

      @include mobile() {
        height: 32px;
        font-size: 12px;
      }

      &:first-child {
        margin-left: 0px;
      }

      &.only-thumb {
        $height: 26px;
        height: $height;
        opacity: 0.5;
        padding: 0;

        span.reaction {
          line-height: $height;
          height: $height;
          width: 22px;
          float: left;
          display: block;
          margin-right: 0;

          @include retina_screen() {
            margin-right: 0;
          }

          span.thumb-up-icon {
            float: left;
            width: 14px;
            height: $height;
            background-image: cdnUrl("/img/ML/reaction_thumb.svg");
            background-position: center;
            background-size: 14px 14px;
            background-repeat: no-repeat;
            opacity: 1;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/reaction_thumb@dark.svg");
            }
          }
        }

        div.count {
          margin-top: 0;
          color: var(--color);
          line-height: $height;
          font-size: 14px;
          height: $height;
          float: left;
          display: block;
        }

        &.reacted, &:hover {
          opacity: 1;
        }

        &.reacted span.reaction, &.can-react:hover span.reaction {
          opacity: 1;

          // span.thumb-up-icon {
          //   background-image: cdnUrl("/img/ML/reaction_thumb_reacted.svg");

          //   @include dark_mode() {
          //     background-image: cdnUrl("/img/ML/reaction_thumb_reacted.svg");
          //   }
          // }
        }
      }

      span.reaction {
        position: relative;
        float: left;
        font-size: 16px;
        text-align: center;
        vertical-align: bottom;
        margin-right: 4px;

        &.safari {
          @include retina_screen() {
            font-size: 12px;
          }
        }

        @include mobile() {
          font-size: 17px;
          margin-left: 3px;
        }
      }

      div.count {
        float: right;
        margin-top: 1px;
        height: 18px;
        line-height: 18px;
        text-align: right;
        color: var(--light-color);
        font-size: 14px;
        vertical-align: bottom;
        min-width: 5px;

        @include mobile() {
          margin-top: 3px;
          height: 16px;
        }
      }

      &.can-react {
        cursor: pointer;

        @include big_web() {
          &:hover {
            opacity: 1;

            span.reaction.grayscale {
              opacity: 1;
            }

            div.count {
              color: var(--color);
            }
          }

          &.reacted:hover {

            div.count {
              @include OC_Body_Bold();
              color: $wut_purple;
            }
          }
        }
      }

      &.reacted {
        div.count {
          color: $wut_purple;
        }
      }

      &.reaction-picker {
        box-shadow: none;

        @include big_web() {
          &:hover {
            span.reaction {
              opacity: 1;
            }
          }
        }

        span.reaction {
          opacity: 0.5;
          display: inline-block;
          width: 24px;
          height: 16px;
          background-image: cdnUrl("/img/ML/reaction_picker_icon.svg");
          background-size: 24px 16px;
          margin-top: -2px;
          background-position: center;
          background-repeat: no-repeat;

          @include mobile() {
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }

  div.reactions-picker-container {
    position: relative;
    z-index: 1234;

    @include mobile() {
      padding-top: 29px;
      background-color: var(--mobile-background-color);
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;

      button.dismiss-mobile-picker {
        position: absolute;
        top: 8px;
        right: 8px;
        color: var(--color);
        @include OC_Body_Bold();
      }
    }

    div.emoji-mart {
      position: absolute;
      bottom: -31px;

      @include mobile() {
        position: relative;
        width: 100% !important;
        height: calc(100vh - 29px);
        bottom: unset;
        box-shadow: none;
        border-radius: none;
        border: none;

        div.emoji-mart-scroll {
          height: calc(100vh - 29px - 46px - 29px);
        }

        div.emoji-mart-bar:last-child {
          display: none;
        }
      }
    }
  }
}

@include dark_mode() {
  div.reactions div.reactions-list button.reaction-btn.reaction-picker span.reaction {
    opacity: 1;
    background-image: cdnUrl("/img/ML/reaction_picker_icon@dark.svg");
  }
}