div.reactions {
  height: 26px;
  float: left;

  @include mobile() {
    float: unset;
    height: 32px;
  }

  div.reactions-list {

    button.reaction-btn {
      float: left;
      outline: none;
      position: relative;
      height: 26px;
      cursor: default;
      padding: 4px 3px;
      @include OC_Body_Bold();
      box-shadow: none;
      font-size: 11px;
      color: var(--color);
      min-width: 40px;
      border-radius: 4px;
      margin-left: 4px;
      background-color: var(--reaction-bt-background);

      @include mobile() {
        height: 32px;
        font-size: 12px;
      }

      &:first-child {
        margin-left: 0px;
      }

      span.reaction {
        position: relative;
        float: left;
        font-size: 15px;
        margin-left: 2px;

        @include mobile() {
          font-size: 17px;
          margin-left: 3px;
        }
      }

      div.count {
        float: right;
        margin-top: 2px;
        min-width: 14px;
        height: 15px;
        text-align: center;
        margin-left: -1px;
        color: var(--light-color);

        @include mobile() {
          margin-top: 3px;
          height: 16px;
        }
      }

      &.can-react {
        cursor: pointer;

        @include big_web() {
          &:hover {
            background-color: var(--ultralight-color);

            div.count {
              color: var(--color);
            }
          }

          &.reacted:hover {
            background-color: rgba($wut_purple, 0.35);
            div.count {
              color: $wut_purple;
            }
          }
        }
      }

      &.reacted {
        background-color: rgba($wut_purple, 0.2);

        div.count {
          color: $wut_purple;
        }
      }

      &.reaction-picker {
        box-shadow: none;

        @include big_web() {
          &:hover {
            span.reaction {
              opacity: 1;
            }
          }
        }

        span.reaction {
          margin: 0 0 0 4px;
          opacity: 0.5;
          display: inline-block;
          width: 24px;
          height: 16px;
          background-image: cdnUrl("/img/ML/reaction_picker_icon.svg");
          background-size: 24px 16px;
          background-position: center;
          background-repeat: no-repeat;

          @include mobile() {
            // width: 25px;
            // height: 17px;
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }

  div.reactions-picker-container {
    position: relative;
    z-index: 1234;

    @include mobile() {
      padding-top: 29px;
      background-color: var(--mobile-background-color);
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;

      button.dismiss-mobile-picker {
        position: absolute;
        top: 8px;
        right: 8px;
        color: var(--color);
        @include OC_Body_Bold();
        font-size: 16px;
      }
    }

    div.emoji-mart {
      position: absolute;
      bottom: -31px;

      @include mobile() {
        position: relative;
        width: 100% !important;
        height: calc(100vh - 29px);
        bottom: unset;
        box-shadow: none;
        border-radius: none;
        border: none;

        div.emoji-mart-scroll {
          height: calc(100vh - 29px - 46px - 29px);
        }

        div.emoji-mart-bar:last-child {
          display: none;
        }
      }
    }
  }
}

@include dark_mode() {
  div.reactions div.reactions-list button.reaction-btn.reaction-picker span.reaction {
    opacity: 1;
    background-image: cdnUrl("/img/ML/reaction_picker_icon@dark.svg");  
  }
}