div.reactions {
  height: 26px;
  float: left;

  @include mobile() {
    float: unset;
  }

  div.reactions-list {

    button.reaction-btn {
      float: left;
      outline: none;
      position: relative;
      height: 26px;
      cursor: default;
      padding: 4px 2px;
      @include avenir_H();
      border: 1px solid #ECECEC;
      box-shadow: none;
      font-size: 11px;
      color: $ui_grey;
      min-width: 38px;
      border-radius: 4px;
      margin-left: 4px;

      &:first-child {
        margin-left: 0px;
      }

      span.reaction {
        position: relative;
        float: left;
        font-size: 14px;
      }

      div.count {
        float: right;
        margin-top: 2px;
        min-width: 14px;
        height: 15px;
        text-align: center;
      }

      &.can-react {
        cursor: pointer;

        @include big_web() {
          &.reacted:hover {
            box-shadow: 0px 2px 4px 0px rgba($feint_emerald, 0.07);
          }

          &:hover {
            box-shadow: 0px 2px 4px 0px rgba(black, 0.07);
          }
        }
      }

      &.reacted {
        background-color: $feint_emerald;
        border: 1px solid $carrot_green;

        div.count {
          color: $carrot_green;
        }
      }

      &.reaction-picker {
        box-shadow: none;
        opacity: 0.6;

        &:hover {
          box-shadow: 0px 2px 4px 0px rgba(black, 0.07);
          opacity: 1;
          background-color: transparent;
          border: 1px solid #ECECEC;

          div.count {
            color: $ui_grey;
          }
        }

        span.reaction {
          width: 16px;
          height: 16px;
          @include image-2x("/img/ML/new_post_emoji_button");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  div.reactions-picker-container {
    position: relative;
    display: none;
    z-index: 1234;

    @include mobile() {
      padding-top: 29px;
      background-color: white;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;

      button.dismiss-mobile-picker {
        position: absolute;
        top: 8px;
        right: 8px;
        color: black;
      }
    }

    &.visible {
      display: block;
    }

    div.emoji-mart {
      position: absolute;
      bottom: -31px;

      @include mobile() {
        position: relative;
        width: 100% !important;
        height: calc(100vh - 29px);
        bottom: unset;

        div.emoji-mart-scroll {
          height: calc(100vh - 29px - 46px - 29px);
        }

        div.emoji-mart-bar:last-child {
          display: none;
        }
      }
    }
  }
}