div.recurring-updates-modal-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.recurring-updates-modal {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.recurring-updates-modal-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      div.recurring-updates-modal-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.new-recurring-update-bt {
        height: 32px;
        padding: 7px 14px;
        background-color: $wut_purple;
        @include OC_Body_Bold();
        font-size: 14px;
        color: white;
        float: right;
        line-height: 18px;
        border-radius: 4px; 
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        float: right;
        margin-right: 8px;
      }
    }

    div.recurring-updates-empty-list {
      margin: 24px auto 0;

      div.recurring-updates-empty-list-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
      }

      div.recurring-updates-empty-list-desc {
        margin-top: 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
      }
    }

    div.recurring-updates-list {
      margin: 8px auto 0;

      div.recurring-updates-list-item {
        padding: 16px 0;
        @include OC_Body_Book();
        font-size: 14px;

        &:not(:first-child) {
          border-top: 1px solid var(--divider-line);
        }

        &.editable-reminder {
          cursor: pointer;

          @include big_web() {
            &:hover {
              div.reminder-data {
                opacity: 0.8;
              }
            }
          }
        }

        div.reminder-assignee {
          width: 24px;
          height: 36px;
          float: left;
          @include user_profile(24);

          div.user-avatar-img-container {
            margin-top: 6px;
          }
        }

        div.reminder-data {
          float: left;
          margin-left: 16px;
          width: calc(100% - 24px - 16px);

          div.reminder-title {
            color: var(--color);
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          div.reminder-description {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--light-color);
          }
        }
      }
    }
  }
}