div.refresh-button-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .18ms opacity .5s ease-in-out;

  &.visible {
    pointer-events: initial;
    opacity: 1;
  }

  div.refresh-button-inner {
    margin: 0 auto;
    padding: 8px 32px;
    background-color: var(--tooltip-background-color);
    border-radius: 90px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    width: auto;
    display: inline-block;
    text-align: left;
    flex: 0 0 auto;

    span.comments-number {
      display: inline-block;
      margin-right: 10px;
      @include OC_Body_Book();
      color: var(--tooltip-color);
      font-size: 14px;
      line-height: 24px;

    }

    button.refresh-button {
      display: inline-block;
      background-color: $wut_purple;
      padding: 3px 12px 3px 30px;
      height: 24px;
      border-radius: 4px;
      background-image: cdnUrl("/img/ML/refresh_button.svg");
      background-size: 14px 12px;
      background-position: left 12px top 6px;
      background-repeat: no-repeat;
      @include OC_Body_Book();
      color: white;
      font-size: 14px;
      line-height: 18px;
    }
  }
}