div.rich-editor[contenteditable=true]:empty:before,
div.fake-rich-editor[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgba(0, 0, 0, 0.4);
}

div.rich-editor-container {
  position: relative;
  margin-top: 30px;
  font-family: "proxima-nova", sans-serif;

  div.rich-editor {
    color: #191919;
    border: 1px solid transparent;
    min-height: 50px !important;
    font-weight: normal;
    font-size: 19px;
    width: 500px;

    &:focus,
    &.editing {
      outline: none;
      overflow: hidden;
      cursor: text;
      border: 1px solid black;
    }

    img {
      max-width: 500px;
    }

    ul img {
      max-width: 460px;
    }

    ul ul img {
      max-width: 420px;
    }

    p {
       font-weight: normal;
       font-size: 19px;
    }

    h1, h3 {
      font-weight: 600;
      font-size: 24px; 
    }

    &.no-data {
      color: rgba(0, 0, 0, 0.4);
    }

    *::selection {
      background: #C1E7F4;
    }

    *::-moz-selection {
      background: #C1E7F4;
    }

    a {
      font-weight: bold;
      text-decoration: underline;
      color: black;
    }

    &.collapsed {
      overflow: hidden;
      max-height: 450px;
      position: relative;

      &:after {
        bottom: 0;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          to top,
          rgba(255,255,255, 1) 0%,
          rgba(255,255,255, 0) 40%
        );
      }
    }
  }

  div.fake-rich-editor {
    font-weight: normal;
    font-size: 19px;
    width: 500px;

    img {
      max-width: 500px;
    }

    ul img {
      max-width: 460px;
    }

    ul ul img {
      max-width: 420px;
    }

    p {
       font-weight: normal;
       font-size: 19px;
    }

    h1, h3 {
      font-weight: 600;
      font-size: 24px; 
    }

    &.collapsed {
      overflow: hidden;
      max-height: 450px;
      position: relative;

      &:after {
        bottom: 0;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          to top,
          rgba(255,255,255, 1) 0%,
          rgba(255,255,255, 0) 40%
        );
      }
    }
  }

  button.collapse-button,
  button.expand-button {
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    margin-left: 0px;
    padding-left: 0px;
    outline: none;

    &:focus {
      outline: none;  
    }
  }

  button.expand-button {
   color: #2F9B34;
  }

  button.collapse-button {
    color: red;
  }
}