div.search-box {
  width: 320px;
  height: 32px;
  background-color: var(--search-background-color);
  border-radius: 4px;
  color: var(--light-color);
  position: relative;
  transition: width 320ms ease-in, background-color 320ms ease-in;

  &:not(.active) {
    cursor: pointer;

    input.search {
      cursor: pointer;
    }
  }

  @include mobile() {
    width: 100%;
    height: #{$mobile_search_header_height}px;
    background-color: var(--mobile-foc-background-color);
    border: none;
    border-bottom: 1px solid var(--divider-line);
    padding: 16px;
    box-shadow: none;
    transition: width 0ms ease-in, background-color 0ms ease-in;
    border-radius: 0;
  }

  div.search-history {
    display: none;
  }

  &.active {
    background-color: var(--search-background-color);
    border: 1px solid var(--divider-line);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
    width: 430px;

    @include mobile() {
      background-color: var(--mobile-background-color);
      width: 100%;
      box-shadow: none;
      height: calc(100vh - #{$mobile_navbar_height}px);
      border: none;
    }

    div.spyglass-icon {
      left: 12px;
    }

    input.search {
      width: 390px;
      left: 0;
      padding: 0 0 0 36px;

      @include mobile() {
        width: 100%;
        left: unset;
        padding: 10px 14px 10px 32px;
      }

      &:before {
        opacity: 0.4;
      }

      &::placeholder {
        color: var(--light-color);
      }
    }

    div.search-history {
      display: block;
    }
  }

  div.spyglass-icon {
    background-image: cdnUrl("/img/ML/spyglass.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0px center;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 126px;
    top: 7px;
    opacity: 0.5;

    @include mobile() {
      display: none;
      opacity: 1;
    }

    @include dark_mode() {
      background-image: cdnUrl("/img/ML/spyglass@dark.svg");
    }

    &.loading {
      background-image: cdnUrl("/img/small_loading.gif");

      @include dark_mode() {
        background-image: cdnUrl("/img/small_loading.gif");
      }
    }
  }

  input.search {
    -webkit-appearance: none;
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: 126px;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 0 0 0 24px;
    @include OC_Body_Book();
    font-size: 14px;
    line-height: 24px;
    color: var(--color);
    width: 68px;
    height: 24px;

    &:placeholder, &::placeholder {
      color: var(--light-color);
    }

    @include mobile() {
      position: relative;
      left: unset;
      top: unset;
      width: 100%;
      height: 32px;
      padding: 10px 14px 10px 32px;
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
      border-radius: 4px;
      background-color: var(--opac-background-color-1);
      background-image: cdnUrl("/img/ML/spyglass.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: 8px center;

      @include placeholder() {
        color: var(--light-color);
      }

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/spyglass@dark.svg");
      }

      &.loading {
        background-image: cdnUrl("/img/small_loading.gif");

        @include dark_mode() {
          background-image: cdnUrl("/img/small_loading.gif");
        }
      }
    }
  }

  &:not(.active) {
    button.search-close {
      display: none;
    }
  }

  button.search-close {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: cdnUrl("/img/ML/black_close.svg");
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    position: absolute;
    top: 3px;
    right: 8px;
    z-index: 2;

    @include mobile() {
      top: 19px;
      right: 20px;
    }

    &:hover {
      opacity: 0.5;
    }

    @include dark_mode() {
      background-image: cdnUrl("/img/ML/black_close@dark.svg");
    }
  }
}

div.search-history {
  position: absolute;
  top: 40px;
  width: 430px;
  text-align: left;
  background-color: var(--overlay-background-color);
  border: 1px solid var(--divider-line);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  max-height: calc(100vh - 180px - 47px);
  overflow-y: auto;
  padding: 8px 0;

  @include mobile() {
    text-align: initial;
    top: unset;
    position: initial;
    border: none;
    box-shadow: unset;
    border-radius: 0;
    max-height: initial;
    overflow-y: initial;
  }

  div.search-history-row {
    padding: 8px 16px 8px 36px;
    height: 42px;
    width: 100%;
    background-image: cdnUrl("/img/ML/search_history_icon.svg");
    background-size: 14px 14px;
    background-position: left 13px top 11px;
    background-repeat: no-repeat;
    @include OC_Body_Book();
    font-size: 16px;
    color: var(--color);
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    @include mobile() {
      padding: 8px 0 8px 32px;
      background-position: left 10px top 11px;
    }

    @include dark_mode() {
      background-image: cdnUrl("/img/ML/search_history_icon@dark.svg");
    }
  }
}

div.search-results.inactive {
  display: none;
}

div.search-results {
  border: 1px solid var(--divider-line);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin: 48px 0px 0px 0px;
  width: 430px;
  text-align: left;
  background-color: var(--overlay-background-color);
  max-height: calc(100vh - 108px);

  @include mobile() {
    position: relative;
    box-shadow: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
  }

  div.header {
    padding: 16px 16px 6px 16px;
    color: var(--color);

    @include mobile() {
      padding: 16px 0 6px;
    }

    span {
      @include OC_Body_Bold();
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      float: left;
      color: var(--light-color);
    }

    span.count {
      margin-left: 5px;
    }
  }

  div.search-results-container {
    overflow-y: auto;
    max-height: calc(100vh - 180px - 47px);

    @include mobile() {
      max-height: calc(100vh - 50px - 33px);
    }

    div.search-result {
      width: 100%;
      font-size: 14px;
      cursor: pointer;

      * {
        cursor: pointer;
      }

      div.search-result-box {
        @include OC_Body_Bold();
        padding: 5px 16px 5px 16px;

        @include mobile() {
          padding: 5px 0;
        }

        @include activity-author();

        div.user-avatar-img-container {
          margin-right: 16px;
        }

        div.name {
          font-size: 11px;
        }

        div.title {
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--color);
          @include OC_Body_Bold();
          font-size: 14px;
          max-width: 100%;
          white-space: nowrap;
        }

        div.time-since {
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--light-color);
          @include OC_Body_Book();
          font-size: 12px;
        }

        &:hover {
          div.title {
            color: $wut_purple;
          }
        }
      }
    }

    div.search-result:last-child {
      padding: 0px 0px 10px 0px;
    }
  }

  div.show-more {
    color: $wut_purple;
    font-size: 14px;
    padding: 5px 16px 10px 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;

    button {
      font-size: 14px;
      line-height: 1;
      margin-top: 4px;
      padding-left: 22px;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        background-image: cdnUrl("/img/ML/wut_keep_reading_chevron.svg");
        background-size: 14px 8px;
        background-position: center;
        background-repeat: no-repeat;
        width: 14px;
        height: 8px;
        top: 4px;
        left: 0px;
      }
    }
  }

  div.empty-result {
    width: 100%;
    padding: 0px 16px 16px;
    font-size: 16px;

    @include mobile() {
      padding: 6px 24px;
      width: auto;
    }

    img {
      margin: auto;
      display: block;
    }

    div.message {
      margin: auto;
      width: 100%;
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--color);
    }
  }
}