
div.search-box {
  width: 200px;

  img.spyglass {
    display: inline;
    margin: 0px 0px 5px 0px;
  }

  &.active {
    margin: 0px 0px 5px 30px;
  }

  div.search {
    display: inline-block;
    margin: 5px 5px 0px 10px;
    outline: none;
    caret-color: $carrot_text_blue_3;

    &:empty:before {
      content: attr(placeholder);
      color: rgba($carrot_light_gray_3, 0.4);
      cursor: text;
    }
  }

  button.search-close {
    width: 15px;
    height: 15px;
    background-color: white;
    background-image: cdnUrl("/img/ML/black_close.svg");
    background-size: 15px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.7;
    border: none;
    margin: 0px 10px 0px 0px;
    padding: 10px 0px 0px 0px;

    &:hover {
        opacity: 1;
    }

    &.inactive {
      background-image: none;
      border: none;
      outline: none;
      width: 0px;
      height: 0px;
      padding: 0px;
      margin: 0px;
    }
  }
}

div.search-results.inactive {
  display: none;
}

div.triangle {
  position: absolute;
  top: 84px;
  left: 121px;
  background-color: white;
  border-top: 1px solid rgba(177,184,192,0.50);
  border-left: 1px solid rgba(177,184,192,0.50);
  transform: rotate(45deg);
  width: 12px;
  height: 12px;

  &.inactive {
    display: none;
  }
}

div.search-results {

  border-radius: 5px;
  border: 1px solid rgba($carrot_light_gray_1, 0.5);
  margin: 41px 0px 0px 23px;
  width: 450px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.05);

  div.header {
    background-color: white;
    font-size: 12px;
    padding: 15px 0px 0px 15px;

    span.count {
      margin-left: 5px;
    }
  }

  div.search-result {
    width: 100%;
    background-color: white;
    font-size: 14px;

    div.author {
      @include avenir_H();

      padding: 10px 20px 5px 20px;

      @include activity-author();

      div.name {
        font-size: 11px;
      }

      div.title {
        overflow: hidden;
      }

      &:hover {
        background-color: rgba($carrot_light_blue, 0.3);

        div.title {
          color: $carrot_text_blue_3;
        }

        div.time-since {
          color: rgba($carrot_text_blue_3, 0.3);
        }
      }
    }
  }

  div.empty-result {
    width: 100%;
    background-color: white;
    padding: 15px;
    font-size: 16px;

    img {
      margin: auto;
      display: block;
    }

    div.message {
      margin: auto;
      width: 100%;
      color: rgba($carrot_light_gray_3, 0.4);
    }
  }
}