div.search-box {
  width: 400px;

  @include mobile() {
    display: inline;
    width: auto;
    min-height: 40px;
    margin-left: 24px;

    &.active {
      margin-left: 0px;
      position: absolute;
      min-width: 160px;
      width: 100vw;
      height: 100vh;
      top: 0px;
      left: 0px;
      background-color: white;
      z-index: 1081;
      padding: 14px 24px;
    }
  }

  input.search {
    margin: 5px 0px 0px 0px;
    outline: none;
    border: none;
    caret-color: $carrot_text_blue_3;
    background-image: cdnUrl("/img/ML/spyglass.svg");
    background-repeat: no-repeat;
    padding: 2px 0px 0px 31px;
    @include avenir_M();
    color: $carrot_dark_brown_1;

    &::placeholder {
      color: $carrot_light_gray_10;
    }
    &:focus::placeholder {
      color: $carrot_dark_brown_1;
    }
    @include mobile() {
      margin: 5px 0px 0px 26px;
      padding: 2px 0px 0px 31px;
      &.inactive {
        padding: 6px 0px 0px 31px;
        width: 20px;
        height: 20px;
      }
    }
  }

  button.search-close {
    width: 15px;
    height: 15px;
    background-color: white;
    background-image: cdnUrl("/img/ML/black_close.svg");
    background-size: 15px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.7;
    border: none;
    margin: 0px 24px 0px 0px;
    padding: 12px 0px 0px 0px;

    @include mobile() {
      margin: 0px;
    }

    &:hover {
      opacity: 1;
    }

    &.inactive {
      display: none;
    }
  }
}

div.search-results.inactive {
  display: none;
}

div.triangle {
  position: absolute;
  top: 67px;
  left: 96px;
  background-color: white;
  border-top: 1px solid rgba(177,184,192,0.50);
  border-left: 1px solid rgba(177,184,192,0.50);
  transform: rotate(45deg);
  width: 12px;
  height: 12px;

  &.inactive {
    display: none;
  }
  @include mobile() {
    display: none;
  }
}

div.search-results {
  border: 1px solid rgba(177,184,192,0.50);
  border-radius: 5px;

  margin: 31px 0px 0px 45px;
  width: 450px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.07);

  @include mobile() {
    position: absolute;
    top: 63px;
    left: 0px;
    height: 100vh;
    widght: 100vh;
    background-color: white;
    z-index: 1081;
    margin: -1px;
    padding: 0px;
    border-radius: 0;
  }

  div.header {
    background-color: white;
    padding: 20px 0px 10px 15px;
    height: 47px;

    span {
      @include avenir_H();
      font-size: 12px;
    }

    span.count {
      margin-left: 5px;
    }
  }

  div.search-results-container {
    overflow-y: auto;
    max-height: calc(100vh - 180px - 47px);

    @include mobile() {
      max-height: calc(100vh - 80px - 47px);
    }

    div.search-result {
      width: 100%;
      background-color: white;
      font-size: 14px;

      div.author {
        @include avenir_H();

        padding: 10px 20px 10px 20px;

        @include activity-author();

        div.name {
          font-size: 11px;
        }

        div.title {
          overflow: hidden;
        }

        &:hover {
          background-color: rgba($carrot_light_blue, 0.3);

          div.title {
            color: $carrot_text_blue_3;
          }

          div.time-since {
            color: rgba($carrot_text_blue_3, 0.3);
          }
        }
      }
    }

    div.search-result:last-child {
      padding: 0px 0px 10px 0px;
    }
  }

  div.show-more {
    background: white;
    color: $carrot_green_2;
    font-size: 14px;
    padding: 5px 0px 10px 30px;
    cursor: pointer;

    button {
      float: left;
      font-size: 14px;
      line-height: 1;
      width: 15px;
      height: 15px;
      margin-top: 4px;
      border: 0px solid transparent;
      background-color: transparent;
      background-repeat: no-repeat;
      background-image: cdnUrl('/img/ML/show_more_arrow.svg');
    }
  }

  div.empty-result {
    width: 100%;
    background-color: white;
    padding: 20px;
    font-size: 16px;

    img {
      margin: auto;
      display: block;
    }

    div.message {
      margin: auto;
      width: 100%;
      color: rgba($carrot_light_gray_3, 0.4);
    }
  }
}