div.section-editor-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.section-editor {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    padding: 56px 24px 32px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.section-editor-header {
      width: 320px;
      height: 56px;
      margin-left: -24px;
      background-color: var(--panel-header-background);
      padding: 12px 16px;
      position: fixed;
      z-index: 1000;
      top: 0;
      right: 0;

      div.section-editor-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        margin-right: 8px;
        float: right;
      }
      
      button.save-bt {
        height: 32px;
        padding: 7px 12px;
        @include OC_Body_Bold();
        font-size: 14px;
        background-color: $carrot_green;
        border-radius: 4px;
        color: white;
        line-height: 18px;
        float: right;

        &.disabled {
          opacity: 0.4;
          cursor: not-allowed;
        }
      }
    }

    div.section-editor-add {
      @include mobile() {
        margin-top: 64px;
      }

      div.section-editor-error-label {
        margin-top: 8px;
        @include OC_Body_Book();
        font-size: 12px;
        color: $carrot_orange_2;
      }

      div.section-editor-add-label {
        margin-top: 16px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        line-height: 18px;
        min-height: 18px;

        &.top-separator {
          border-top: 1px solid var(--divider-line);
          padding-top: 16px;
        }

        div.carrot-switch {
          float: right;
        }

        span.section-name {
          float: left;
        }

        span.role-header {
          float: right;
          @include OC_Body_Book();
          font-size: 13px;
          color: var(--light-color);
        }

        span.main-label {
          float: left;
        }
      }

      input.section-editor-add-name {
        border-radius: 4px;
        background-color: var(--opac-background-color-1);
        height: 32px;
        width: 100%;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        padding: 5px 8px;
        position: relative;
        cursor: text;
        outline: none;
        margin-top: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        outline: none;
        border: none;
        border: 1px solid var(--opac-background-color-1);

        &.preflight-error {
          border: 1px solid $carrot_orange;
        }

        &.preflight-ok {
          border: 1px solid $carrot_green;
        }

        @include placeholder() {
          color: var(--light-color);
        }
      }

      div.section-editor-private-users-search {
        width: 100%;
        position: relative;
        cursor: text;
        outline: none;
        margin-top: 8px;

        input {
          border-radius: 4px;
          background-color: var(--opac-background-color-1);
          height: 32px;
          width: 100%;
          margin: 0px;
          padding: 7px 8px;
          border: none;
          outline: none;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          background-image: cdnUrl("/img/ML/select_arrows.svg");
          background-size: 8px 10px;
          background-position: top 11px right 8px;
          background-repeat: no-repeat;

          @include placeholder() {
            color: var(--light-color);
          }
        }

        div.section-editor-private-users-results {
          position: absolute;
          top: 32px;
          left: 0px;
          border-radius: 4px;
          border: 1px solid var(--divider-line); //rgba($carrot_light_gray_1, .5);
          background-color: var(--overlay-background-color);
          width: 100%;
          padding: 0 8px;
          z-index: 10;
          max-height: 200px;
          overflow-y: auto;

          div.section-editor-private-users-result {
            height: 32px;
            cursor: pointer;
            padding: 4px 8px;

            @include user-profile(24) {
              float: left;
            }

            &.no-more-invites {
              height: auto;

              div.name {
                margin-left: 0px;
                color: var(--light-color);

                a {
                  color: $carrot_green;
                }
              }
            }

            div.name {
              float: left;
              width: calc(100% - 40px);
              @include OC_Body_Book();
              font-size: 14px;
              line-height: 24px;
              color: var(--color);
              margin-left: 16px;
            }
          }
        }
      }

      div.section-editor-add-slack-channel {
        margin-top: 8px;

        &.disabled {
          opacity: 0.5;
          div.slack-channels-dropdown {
            pointer-events: none;
          }
        }
      }

      div.section-editor-enable-slack-bot {
        margin-top: 8px;
        @include OC_Body_Book();
        font-size: 13px;
        color: var(--color);
        min-height: 24px;
        line-height: 24px;

        button.enable-slack-bot-bt {
          color: $carrot_green;
          display: inline;
          padding: 0;

          @include big_web() {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      div.section-editor-access-public-description {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        margin-top: 8px;
      }

      div.section-editor-add-access {
        border-radius: 4px;
        background-color: var(--opac-background-color-1);
        height: 32px;
        width: 100%;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        padding: 7px 8px;
        position: relative;
        cursor: pointer;
        margin-top: 8px;
        background-image: cdnUrl("/img/ML/select_arrows.svg");
        background-size: 8px 10px;
        background-position: top 11px right 8px;
        background-repeat: no-repeat;
      }

      div.section-editor-add-access-list {
        border-radius: 4px;
        border: 1px solid var(--divider-line); //rgba($carrot_light_gray_1, .5);
        position: absolute;
        width: 272px;
        background-color: var(--background-color);
        z-index: 1001;

        div.access-list-row {
          height: 32px;
          padding: 7px 8px;
          border-bottom: 1px solid var(--divider-line);
          opacity: 0.6;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      div.access-item {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        padding-left: 24px;
        position: relative;
        height: 18px;
        float: left;

        &.private-access:before {
          background-size: 10px 12px;
          background-image: cdnUrl("/img/ML/section_access_private.svg");
        }

        &.team-access:before {
          background-image: cdnUrl("/img/ML/section_access_team.svg");
        }

        &.public-access:before {
          background-image: cdnUrl("/img/ML/section_access_public.svg");
        }

        &:before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 1px;
          left: 0px;
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      div.section-editor-add-private-users {
        margin: 16px 0px 0px;
        position: relative;

        div.section-editor-add-private-users-dropdown-container {
          position: absolute;
          right: 140px;
          z-index: 3;

          div.dropdown-list-container {
            top: -4px;
            left: unset;

            div.triangle {
              display: none;
            }
          }
        }

        div.section-editor-add-private-users-list {
          width: 100%;
          padding: 0px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          max-height: 210px;
          overflow-y: auto;

          div.section-editor-add-private-user {
            height: 32px;
            width: 100%;
            padding: 4px 0px;

            @include user-profile(24);

            div.user-avatar-img-container {
              float: left;
            }

            div.name {
              float: left;
              max-width: 50%;
              margin-left: 8px;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-top: 4px;
              white-space: nowrap;
            }

            div.user-type {
              float: right;
              max-width: calc(50% - 32px - 6px);
              margin-top: 4px;
              position: relative;
              cursor: pointer;
              @include OC_Body_Book();
              font-size: 13px;
              color: var(--color);
              padding-right: 12px;
              opacity: 0.6;

              &.active {
                opacity: 1;
              }

              &.remove-link {
                text-decoration: underline;
                color: $carrot_orange;
                padding-right: 0px;

                &:after {
                  display: none;
                }
              }

              &:after {
                content: "";
                position: absolute;
                top: 6px;
                right: 0px;
                background-image: cdnUrl("/img/ML/board_settings.svg");
                background-size: 8px 8px;
                background-repeat: no-repeat;
                width: 8px;
                height: 8px;
              }

              &.no-dropdown {
                cursor: default;
                padding-right: 0px;

                &:after {
                  display: none;
                }
              }

              div.dropdown-list-container {
                top: 24px;
                left: -68px;

                div.triangle {
                  left: unset;
                  right: 30px;
                }
              }
            }
          }
        }
      }

      div.section-editor-add-personal-note {
        border-radius: 4px;
        background-color: var(--opac-background-color-1);
        min-height: 80px;
        width: 100%;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        padding: 7px 8px;
        position: relative;
        cursor: text;
        outline: none;
        margin-top: 8px;

        &:empty:before {
          content: attr(placeholder);
          color: var(--light-color);
          display: block;
        }
      }

      div.section-editor-add-footer {
        margin-top: 16px;
        height: 24px;
        border-top: 1px solid var(--divider-line);
        padding-top: 16px;

        button.delete-bt {
          height: 18px;
          float: left;
          width: 120px;
          color: $carrot_orange_2;
          @include OC_Body_Book();
          font-size: 14px;
          margin-left: 0px;
          padding-left: 0px;
          text-align: left;

          &:not(.disabled):hover {
            opacity: 0.8;
          }

          &.disabled {
            opacity: 0.4;
            cursor: not-allowed;
          }
        }

        button.cancel-bt {
          float: right;
          height: 32px;
          margin-right: 16px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--light-color);
        }

        button.mlb-reset.create-bt {
          width: 64px;
          height: 32px;
          text-align: center;
          float: right;
          color: white;
          background-color: $carrot_green;
          border-radius: 6px;
          @include OC_Body_Bold();
          font-size: 14px;

          &.disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@include dark_mode() {
  div.section-editor-container div.section-editor {
    div.section-editor-add-access {
      background-image: cdnUrl("/img/ML/select_arrows@dark.svg");
    }
  
    div.section-editor-add {
      div.access-item {
        &.private-access:before {
          background-image: cdnUrl("/img/ML/section_access_private@dark.svg");
        }

        &.team-access:before {
          background-image: cdnUrl("/img/ML/section_access_team@dark.svg");
        }

        &.public-access:before {
          background-image: cdnUrl("/img/ML/section_access_public@dark.svg");
        }
      }

      div.section-editor-add-private-users div.section-editor-add-private-users-list
      div.section-editor-add-private-user div.user-type:after {
        background-image: cdnUrl("/img/ML/board_settings.svg");
      }
    }
  }
}