div.secure-activity-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
  min-height: 100vh;

  @include mobile() {
    background-color: var(--mobile-background-color);
  }

  div.activity-header {
    height: 56px;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 12px 16px;
    border-bottom: 1px solid var(--divider-line);
    background-color: inherit;
    text-align: center;
    z-index: 10;

    @include tablet() {
      position: absolute;
      height: 72px;
      padding: 16px;
      background-color: var(--mobile-background-color);
    }

    div.org-avatar {
      @include org-avatar(32);
      float: left;

      @include tablet(){
        float: unset;
        margin: 0 auto;
        @include org-avatar(40);
      }

      div.org-avatar-container{
        span.org-name {
          @include OC_Body_Bold();
          font-size: 18px;
          max-width: calc(50vw - 56px - 32px);
        }
      }
    }

    div.activity-header-right {
      position: absolute;
      top: 12px;
      right: 24px;

      @include tablet() {
        top: 20px;
      }

      button.login-as-bt {
        float: right;
        @include OC_Body_Book();
        font-size: 14px;
        color: $wut_purple;
        padding: 0;

        @include user-profile(32) {
          margin-left: 16px;
          float: right;
        }

        @include tablet() {
          @include user-profile(40){
            margin-left: 16px;
            float: right;
          }
        }

        span.login-as {
          margin-top: 4px;
          display: inline-block;

          @include tablet() {
            display: none;
          }
        }
      }

      span.or {
        float: right;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        height: 32px;
        display: block;
        line-height: 32px;
        padding: 0 8px;
      }

      button.login-bt {
        float: right;
        padding: 0;
        height: 32px;
        @include OC_Body_Book();
        font-size: 14px;
        color: $wut_purple;
      }

      button.learn-more-bt {
        float: right;
        height: 32px;
        text-align: left;
        @include OC_Body_Book();
        font-size: 14px;
        color: $wut_purple;
        padding: 0;
        margin: 0;
      }
    }
  }

  div.activity-content-outer {
    margin: 96px auto 0;
    width: 640px;

    @include tablet() {
      width: 100%;
      margin: 57px auto 0;
      padding: 24px 16px;
    }

    div.activity-content {
      position: relative;
      min-height: calc(100vh - 201px);

      @include tablet() {
        min-height: calc(100vh - 210px);
      }

      div.ziggeo-player {
        margin-top: 16px;
        video {
          max-height: 480px;
        }
        @include tablet(){
          margin-left: -24px;
        }
      }

      div.activity-title {
        @include activity-title(26px, 33px);
        color: var(--color);

        @include mobile() {
          @include activity-title(36px, 40px);
        }

        .emojione {
          @include emoji-size(30);
        }
      }

      div.activity-content-author {
        overflow: hidden;
        line-height: 18px;
        margin-top: 16px;

        @include activity-author(24);

        div.name {
          @include OC_Body_Book();
          font-size: 12px;
          color: var(--light-color);
          line-height: 24px;
        }
      }

      div.activity-abstract {
        margin: 16px 0 32px;
        cursor: text;
        @include activity-abstract(16px, 20px);
        @include OC_Body_Bold();

        @include mobile() {
          @include activity-abstract(18px, 24px);
        }
      }

      div.activity-body {
        border: none;
        outline: none;
        margin: 16px 0 0;
        cursor: text;
        @include activity-body(17, 22, var(--color), 16);
        @include mobile() {
          @include activity-body(18, 24, var(--color), 16);
        }
        color: var(--color);
        @include OC_Body_Book();
        font-size: 17px;
        line-height: 22px;
        @include mobile() {
          font-size: 18px;
          line-height: 24px;
        }

        & > *:first-child {
          margin-top: 0px;
        }

        p:not(:last-child) {
          margin: 24px 0px;
        }

        div.carrot-no-preview, a.carrot-no-preview {
          display: none;
        }

        &:after {
          margin: 0;
        }
      }

      div.activity-content-footer {
        height: 26px;
        margin-top: 16px;

        div.is-comments {
          margin-right: 16px;

          @include tablet() {
            margin-right: 16px;
          }
        }

        div.reactions {
          @include tablet() {
            float: left;
          }
        }
      }

      div.comments-separator {
        margin: 24px 0;
        width: 100%;
        height: 1px;
        background-color: var(--divider-line);
      }

      div.stream-comments {
        width: 100%;
        float: unset;
      }
    }
  }

  div.secure-activity-footer {
    text-align: center;
    margin-top: 32px;
    border-top: 1px solid var(--divider-line);

    a.sent-via-carrot {
      height: 72px;
      padding-top: 24px;
      padding-bottom: 30px;
      display: block;

      @include big_web() {
        &:hover div.sent-via-carrot-copy {
          opacity: 1;
        }
      }

      div.sent-via-carrot-copy {
        height: 18px;
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        color: var(--color);
        padding-left: 18px;
        position: relative;
        opacity: 0.5;
        width: 110px;
        margin: 0 auto;

        &:before {
          content: "";
          height: 18px;
          width: 10px;
          background-image: cdnUrl("/img/ML/carrot_grey.svg");
          background-size: 10px 18px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    button.secure-activity-footer-bt {
      height: 72px;
      @include OC_Body_Book();
      font-size: 14px;
      color: $wut_purple;
      padding: 0;
    }
  }
}

@include dark_mode() {
  div.secure-activity-container div.secure-activity-footer a.sent-via-carrot div.sent-via-carrot-copy:before {
    background-image: cdnUrl("/img/ML/carrot_logo_white.svg");
  }
}