div.secure-activity-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $oc_gray_8;
  min-height: 100vh;

  div.secure-activity-login-header {
    position: fixed;
    height: 48px;
    width: 100%;
    background-color: $deep_navy;
    text-align: center;
    z-index: 10;
    padding: 12px 32px;

    button.remove-header-bt {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 12px;
      left: 18px;
      background-image: cdnUrl("/img/ML/secure_activity_remove_header.svg");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;
    }

    div.secure-activity-login-header-center {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      div.carrot-logo-copy {
        width: 62px;
        height: 24px;
        background-image: cdnUrl("/img/ML/carrot_logo_with_copy.svg");
        background-size: 62px 24px;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
      }

      div.separator {
        width: 1px;
        height: 24px;
        background-color: rgba($light_tan, 0.2);
        margin: 0px 16px;
        float: left;
      }

      div.signup-login-copy {
        @include avenir_H();
        font-size: 14px;
        color: $ui_grey;
        float: left;

        a {
          color: $carrot_green;
          text-decoration: none;
        }
      }
    }
  }

  div.activity-header {
    height: 56px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    padding: 16px 32px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10;

    &.showing-login-header {
      top: 48px;
    }

    @include mobile() {
      position: absolute;
    }

    div.activity-header-title {
      @include avenir_H();
      font-size: 16px;
      color: $deep_navy;
      text-align: center;
    }
  }

  div.activity-content-outer {
    margin: 96px auto 96px;
    width: 800px;
    border-radius: 6px;
    background-color: white;

    &.showing-login-header {
      margin-top: 144px;
    }

    @include mobile() {
      width: 100%;
      margin: 0px auto;
    }

    div.activity-content-header {
      height: 65px;
      background-color: $light_tan;
      padding: 16px 24px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      @include tablet() {
        display: block;
        background-color: $light_tan;
        padding: 16px 24px;

        @include activity-author(32);
      }

      div.activity-content-header-author {
        width: 55%;
        padding-right: 20px;
        overflow: hidden;
        line-height: 18px;
        float: left;

        @include activity-author(32);
      }

      div.activity-content-header-right {
        float: right;
        width: 45%;
      }
    }

    div.activity-content {
      width: 800px;
      position: relative;
      background-color: white;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
      padding: 36px 70px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      @include tablet() {
        width: 100%;
        left: unset;
        top: unset;
      }

      @include mobile() {
        padding: 32px;
      }

      div.ziggeo-player {
        margin-top: 16px;
        video {
          max-height: 480px;
        }
        @include tablet(){
          margin-left: -24px;
        }
      }

      div.activity-title {
        @include activity-title();
        @include avenir_H();
        font-size: 28px;
        color: $deep_navy;

        .emojione {
          @include emoji-size(30);
        }
      }

      div.activity-body {
        border: none;
        outline: none;
        margin: 22px 0px 0px;
        cursor: text;
        min-height: 85px;
        @include activity-body(20, 30, 30);
        color: $deep_navy;
        @include avenir_BOOK();
        font-size: 20px;
        line-height: 30px;

        & > *:first-child {
          margin-top: 0px;
        }

        p:not(:last-child) {
          margin: 30px 0px;
        }

        div.carrot-no-preview, a.carrot-no-preview {
          display: none;
        }

        &.medium-editor-placeholder:after {
          color: $deep_navy !important;
        }

        &:after {
          margin: 0;
        }
      }

      div.activity-video-transcript {
        max-height: 330px;
        margin-top: 16px;
        width: 100%;
        background-color: rgba(#ECECEC, 0.2);
        border-top: 1px solid #ECECEC;
        padding: 24px;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: pre-wrap;
        word-wrap: break-word;

        div.activity-video-transcript-header {
          @include avenir_M();
          font-size: 12px;
          color: $light_ui_grey;
        }

        div.activity-video-transcript-content {
          margin-top: 24px;
          @include avenir_BOOK();
          font-size: 16px;
          color: $deep_navy;
        }
      }
    }
  }

  a.activity-content-footer {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 56px;
    padding: 13px 32px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;

    @include mobile() {
      position: relative;
    }

    &:hover {
      div.activity-content-footer-inner {
        div.carrot-logo {
          background-image: cdnUrl("/img/ML/secure_activity_carrot_logo_hover.svg");
        }

        div.you-did-it {
          color: $carrot_dark_brown_1;
        }
      }
    }

    div.activity-content-footer-inner {
      display: inline-block;

      div.carrot-logo {
        width: 17px;
        height: 30px;
        background-image: cdnUrl("/img/ML/secure_activity_carrot_logo.svg");
        background-size: 17px 30px;
        background-repeat: no-repeat;
      }

      div.you-did-it {
        @include avenir_H();
        font-size: 12px;
        color: $carrot_light_gray_4;
        margin-top: -20px;
        margin-left: 38px;
      }
    }
  }
}