div.secure-activity-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $grey_num_2;
  min-height: 100vh;

  @include mobile() {
    background-color: white;
  }

  div.activity-header {
    height: 56px;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 12px 16px;
    border-bottom: 1px solid $ultra_light_grey;
    background-color: inherit;
    text-align: center;
    z-index: 10;

    @include tablet() {
      position: absolute;
      height: 72px;
      padding: 16px;
      background-color: white;
      border-bottom: 1px solid $divider_line_grey;
    }

    div.org-avatar {
      @include org-avatar(32);
      float: left;

      @include tablet(){
        float: unset;
        margin: 0 auto;
        @include org-avatar(40);
      }

      div.org-avatar-container{
        span.org-name {
          @include OC_Body_Bold();
          font-size: 18px;
          max-width: calc(50vw - 56px - 32px);
        }
      }
    }

    div.activity-header-right {
      position: absolute;
      top: 12px;
      right: 24px;

      @include tablet() {
        top: 20px;
      }

      button.login-as-bt {
        float: right;
        @include OC_Body_Book();
        font-size: 14px;
        color: $carrot_green;
        @include user-profile(32);
        padding: 0;

        @include tablet() {
          @include user-profile(40);
        }

        span.login-as {
          margin-top: 4px;
          display: inline-block;

          @include tablet() {
            display: none;
          }
        }

        div.user-avatar-img-container {
          margin-left: 16px;
          float: right;
        }
      }

      span.or {
        float: right;
        @include OC_Body_Book();
        font-size: 14px;
        color: $deep_navy;
        height: 32px;
        display: block;
        line-height: 32px;
        padding: 0 8px;
      }

      button.login-bt {
        float: right;
        padding: 0;
        height: 32px;
        @include OC_Body_Book();
        font-size: 14px;
        color: $carrot_green;
      }

      button.learn-more-bt {
        float: right;
        height: 32px;
        text-align: left;
        @include OC_Body_Book();
        font-size: 14px;
        color: $carrot_green;
        padding: 0;
        margin: 0;
      }
    }
  }

  div.activity-content-outer {
    margin: 96px auto 0;
    width: 640px;

    @include tablet() {
      width: 100%;
      margin: 57px auto 0;
      padding: 24px 16px;
    }

    div.activity-content {
      position: relative;
      min-height: calc(100vh - 201px);

      @include tablet() {
        min-height: calc(100vh - 210px);
      }

      div.ziggeo-player {
        margin-top: 16px;
        video {
          max-height: 480px;
        }
        @include tablet(){
          margin-left: -24px;
        }
      }

      div.activity-title {
        @include activity-title(26px, 33px);
        color: $deep_navy;

        @include mobile() {
          @include activity-title(36px, 40px);
        }

        .emojione {
          @include emoji-size(30);
        }
      }

      div.activity-content-author {
        overflow: hidden;
        line-height: 18px;
        margin-top: 16px;

        @include activity-author(24);

        div.name {
          @include OC_Body_Book();
          font-size: 12px;
          color: rgba($light_navy, 0.5);
          line-height: 24px;
        }
      }

      div.activity-abstract {
        margin: 16px 0 32px;
        cursor: text;
        @include activity-abstract(16px, 20px);
        @include OC_Body_Bold();

        @include mobile() {
          @include activity-abstract(18px, 24px);
        }
      }

      div.activity-body {
        border: none;
        outline: none;
        margin: 16px 0 0;
        cursor: text;
        @include activity-body(17, 22, $deep_navy);
        @include mobile() {
          @include activity-body(18, 24, $deep_navy);
        }
        color: $deep_navy;
        @include OC_Body_Book();
        font-size: 17px;
        line-height: 22px;
        @include mobile() {
          font-size: 18px;
          line-height: 24px;
        }

        & > *:first-child {
          margin-top: 0px;
        }

        p:not(:last-child) {
          margin: 24px 0px;
        }

        div.carrot-no-preview, a.carrot-no-preview {
          display: none;
        }

        &.medium-editor-placeholder:after, &.medium-editor-placeholder-relative:after {
          color: $deep_navy !important;
        }

        &:after {
          margin: 0;
        }
      }

      div.activity-content-footer {
        height: 26px;
        margin-top: 16px;

        div.is-comments {
          margin-right: 16px;

          @include tablet() {
            margin-right: 16px;
          }
        }

        div.reactions {
          @include tablet() {
            float: left;
          }
        }
      }

      div.comments-separator {
        margin: 24px 0;
        width: 100%;
        height: 1px;
        background-color: $ultra_light_grey;
      }

      div.stream-comments {
        width: 100%;
        float: unset;
      }
    }

    div.secure-activity-footer {
      text-align: center;
      margin-top: 32px;
      padding-top: 24px;
      border-top: 1px solid $ultra_light_grey;
      padding-bottom: 30px;

      a.sent-via-carrot {
        margin: 0 auto;
        height: 18px;
        display: block;
        @include OC_Body_Book();
        font-size: 14px;
        color: rgba($light_navy, 0.5);
      }

      button.secure-activity-footer-bt {
        height: 18px;
        @include OC_Body_Book();
        font-size: 14px;
        color: $carrot_green;
        padding: 0;
      }
    }
  }
}