div.sections-picker-container {

  div.sections-picker {
    background-color: white;
    border-radius: 6px;
    border: 1px solid $deep_tan;
    box-shadow: 0px 2px 4px 0px rgba($deep_tan, 0.8);
    padding: 32px 24px 12px;
    width: 360px;
    cursor: default;

    &.sections-list {
      overflow-y: auto;
    }

    div.sections-picker-header {
      height: 46px;
      border-bottom: 1px solid $deep_tan;
      padding-bottom: 24px;

      div.sections-picker-header-left {
        float: left;
        @include avenir_M();
        font-size: 16px;
        color: $deep_navy;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      div.sections-picker-header-right {
        float: right;
        width: 50%;

        button.add-new-section-bt {
          height: 34px;
          width: 140px;
          margin-top: -6px;
          position: relative;
          padding: 0px 0px 0px 16px;
          @include avenir_M();
          font-size: 15px;
          color: $carrot_green;
          text-align: right;
          float: right;

          &:before {
            content: "";
            background-image: cdnUrl("/img/ML/add_section_plus.svg");
            background-size: 8px 8px;
            background-position: center;
            background-repeat: no-repeat;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 12px;
            left: 0px;
          }
        }
      }
    }

    div.sections-picker-content {
      div.sections-picker-group {
        div.sections-picker-group-header {
          height: 40px;
          width: calc(100% + 48px);
          margin-left: -24px;
          @include avenir_H();
          font-size: 12px;
          color: $ui_grey;
          padding: 12px 24px;
          background-color: $oc_gray_8;
        }

        div.sections-picker-section {
          height: 60px;
          border-bottom: 1px solid rgba($deep_tan, 0.3);
          padding: 20px 0px;
          cursor: pointer;

          &:hover {
            div.sections-picker-circle {
              background-image: cdnUrl("/img/ML/board_circle_active.svg");
            }
          }

          &.active {
            div.sections-picker-circle {
              background-image: cdnUrl("/img/ML/board_circle_active.svg");
            }

            div.sections-picker-section-name {
              color: $deep_navy;
            }

            div.sections-picker-section-posts {
              color: $deep_navy;
            }
          }

          div.sections-picker-circle {
            float: left;
            width: 16px;
            height: 16px;
            background-image: cdnUrl("/img/ML/board_circle_empty.svg");
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
          }

          div.sections-picker-section-name {
            @include avenir_M();
            font-size: 14px;
            color: $ui_grey;
            float: left;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 16px;
          }

          div.sections-picker-section-posts {
            @include avenir_M();
            font-size: 14px;
            color: $ui_grey;
            float: right;
            width: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
          }
        }
      }
    }
  }
}