div.sections-picker {
  background-color: var(--overlay-background-color);
  border-radius: 4px;
  border: 1px solid var(--divider-line);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  width: 160px;
  max-height: 100vh;
  cursor: default;

  div.sections-picker-content {
    padding: 8px 0;
    overflow-y: auto;

    div.sections-picker-section {
      padding: 8px 16px;
      cursor: pointer;
      height: 34px;
      @include OC_Body_Book();
      font-size: 14px;
      padding: 8px 16px;
      cursor: pointer;

      &.bottom-border {
        border-bottom: 1px solid var(--divider-line);
      }

      &.bottom-border + div.sections-picker-section {
        &.active, &:hover {
          border-top: 1px solid $carrot_green;
        }
      }

      &.active, &:hover {
        background-color: $feint_emerald;
        color: $carrot_green;

        &.bottom-border {
          border-bottom: 1px solid $carrot_green;
        }

        @include mobile() {
          -webkit-tap-highlight-color: $feint_emerald;
        }

        div.sections-picker-section-name {
          color: $carrot_green;
        }

        div.public-icon {
          background-image: cdnUrl("/img/ML/board_public_green.svg");
        }

        div.private-icon {
          background-image: cdnUrl("/img/ML/board_private_green.svg");
        }
      }

      &.has-access-icon {
        div.sections-picker-section-name {
          max-width: calc(100% - 12px - 8px);
        }
      }

      div.sections-picker-section-name {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        height: 18px;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        float: left;
      }

      div.private-icon {
        float: right;
        width: 12px;
        height: 18px;
        background-image: cdnUrl("/img/ML/board_private.svg");
        background-size: 10px 12px;
        background-position: center;
        background-repeat: no-repeat;

         @include dark_mode() {
          background-image: cdnUrl("/img/ML/board_private_white.svg");
        }
      }

      div.public-icon {
        float: right;
        width: 12px;
        height: 18px;
        background-image: cdnUrl("/img/ML/board_public.svg");
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;

         @include dark_mode() {
          background-image: cdnUrl("/img/ML/board_public_white.svg");
        }
      }
    }
  }
}