div.section-stream {
  width: #{$board_container_width}px;

  @include mobile() {
    width: 100%;
    margin-left: 0px;
  }

  div.section-stream-cards {
    float: left;

    @include mobile() {
      width: 100%;
      float: unset;
    }

    div.section-stream-cards-inner {
      position: relative;
    }

    div.back-to-board-container {
      text-align: center;

      button.back-to-board {
        padding: 0;
        margin: 16px auto 0;
        padding-left: 24px;
        position: relative;
        @include OC_Body_Bold();
        font-size: 14px;
        color: $carrot_green;

        &:before {
          content: "";
          width: 16px;
          height: 10px;
          background-image: cdnUrl("/img/ML/back_green_arrow.svg");
          background-size: 16px 10px;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          top: 2px;
          left: 0px;
          display: block;
        }
      }
    }
  }
}