div.main-animation-container {
  position: relative;

  @include mobile() {
    width: 100%;
    margin: 40px 0px 0px;
    height: 237px;
  }

  img.main-animation {
    max-width: 1280px;
    width: calc(100% - 48px);
    margin: 85px auto 0px;
    padding: 0;
    z-index: 10;
    position: relative;

    @include mobile() {
      width: 400px;
      height: 237px;
      position: absolute;
      right: 0px;
      margin: 0px;
    }
  }
}

div.cards-container {
  max-width: 940px;
  margin: 0px auto;
  position: relative;
  z-index: 2;

  div.cards-row {
    margin-top: 20px;

    div.card {
      &:not(:first-child) {
        margin-left: 20px;
      }

      text-align: left;
      float: left;
      width: 300px;
      height: 332px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
      padding: 40px;

      @include tablet() {
        float: none;
        margin: 20px auto 0px;
        width: 100%;
        height: auto;

        &:not(:first-child) {
          margin: 20px auto 0px;
        }
      }

      div.card-icon {
        background-repeat: no-repeat;
        background-position: center;
      }

      div.card-title {
        @include avenir_M();
        font-size: 20px;
        color: $carrot_dark_gray;
        width: 70%;

        @include tablet() {
          width: 100%;
        }
      }

      div.card-content {
        @include avenir_R();
        font-size: 18px;
        color: rgba($carrot_dark_gray, 0.8);
        margin-top: 11px;

        a {
          color: $carrot_text_blue_3;
          text-decoration: none;
        }
      }

      &.card-1 {
        div.card-icon {
          width: 44px;
          height: 41px;
          background-size: 44px 41px;
          @include image-2x("/img/ML/homepage_card_icon_1");
          margin-bottom: 35px;
        }
      }

      &.card-2 {
        div.card-icon {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
          @include image-2x("/img/ML/homepage_card_icon_2");
          margin-bottom: 36px;
        }
      }

      &.card-3 {
        div.card-icon {
          width: 44px;
          height: 44px;
          background-size: 44px 44px;
          @include image-2x("/img/ML/homepage_card_icon_3");
          margin-bottom: 31px;
        }

        div.card-title {
          width: 90%;

          @include tablet() {
            width: 100%;
          }
        }
      }

      &.card-4 {
        div.card-icon {
          width: 32px;
          height: 40px;
          background-size: 32px 40px;
          @include image-2x("/img/ML/homepage_card_icon_4");
          margin-bottom: 36px;
        }

        div.card-title {
          width: 60%;

          @include tablet() {
            width: 100%;
          }
        }
      }

      &.card-5 {
        div.card-icon {
          width: 42px;
          height: 41px;
          background-size: 42px 41px;
          @include image-2x("/img/ML/homepage_card_icon_5");
          margin-bottom: 35px;
        }
      }

      &.card-6 {
        div.card-icon {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
          @include image-2x("/img/ML/homepage_card_icon_6");
          margin-bottom: 36px;
        }

        div.card-title {
          width: 43%;
        }
      }
    }
  }
}

section.testimonials-section {
  background-color: #FFFDF9;
  text-align: center;
  padding: 72px 0px !important;
  position: relative;

  @include mobile() {
    width: 100%;
    padding: 72px 32px !important;
    padding-top: 72px !important;
    padding-bottom: 72px !important;
    text-align: left;
  }

  @include tablet() {
    width: 100vw;
    padding: 72px 32px;
  }

  div.testimonials-section-title {
    @include avenir_H();
    color: $deep_navy;
    font-size: 38px;
    line-height: 44px;

    @include mobile(){
      font-size: 24px;
      line-height: 30px;
    }
  }

  div.testimonials-section-subtitle {
    @include avenir_R();
    font-size: 20px;
    line-height: 26px;
    color: $ui_grey;
    margin-top: 11px;

    @include mobile(){
      font-size: 16px;
      line-height: 22px;
    }
  }

  div.testimonials-cards-container {
    width: 1080px;
    margin: 50px auto 0px;

    @include tablet() {
      width: 100%;
      margin: 16px auto 0px;
    }

    img.card {
      float: left;
      width: 340px;
      border-radius: 8px;

      @include tablet() {
        float: unset;
        margin: 20px 0px 0px;
        width: 100%;
      }

      &:not(:first-child) {
        margin-left: 30px;

        @include tablet() {
          margin: 20px 0px 0px;
        }
      }
    }
  }
}

section.keep-aligned {
  padding: 72px 0px;
  text-align: center;
  background-color: #F8F7F3;

  @include mobile() {
    width: 100%;
    padding: 72px 32px;
    padding-top: 72px !important;
    padding-bottom: 72px !important;
    text-align: left;
  }

  @include mobile_to_tablet(){
    padding: 0 32px;
  }

  div.keep-aligned-title {
    @include avenir_M();
    font-size: 34px;
    line-height: 38px;
    color: $deep_navy;
    margin-bottom: 20px;

    @include mobile() {
      @include avenir_H();
      font-size: 24px;
      line-height: 30px;
    }
  }

  button.get-started-button {
    margin-top: 0px;
  }

  div.no-credit-card {
    @include avenir_R();
    color: $ui_grey;
    font-size: 14px;
    margin-top: 24px;
    text-align: center;

    @include mobile() {
      font-size: 12px;
    }
  }
}

div.core-values-list {
  width: calc(100% - 48px);
  text-align: center;
  margin: 0px auto;

  @include mobile() {
    width: 100%;
  }

  div.core-value {
    padding-left: 48px;
    position: relative;
    margin: 0px 16px;
    text-align: left;
    @include avenir_M();
    font-size: 18px;
    color: $deep_navy;
    display: inline-block;
    padding-top: 6px;
    margin-top: 16px;

    @include mobile() {
      margin: 16px 0px 0px;
      width: 100%;
      font-size: 16px;
      padding-left: 32px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      background-image: cdnUrl("/img/ML/purple_checkmark.svg");
      background-position: center;
      background-size: 32px;
      width: 32px;
      height: 32px;

      @include mobile() {
        background-size: 24px;
        width: 24px;
        height: 24px;
        top: 2px;
      }
    }
  }
}

div.carouselle {
  position: relative;
  width: 1080px;
  height: 600px;

  @include mobile() {
    width: calc(100% + 48px);
    padding: 0px;
    height: 530px;
    overflow-y: visible;
    overflow-x: auto;
    margin-top: 40px;
    margin-left: -24px;
  }

  div.carouselle-screenshots {

    @include mobile() {
      width: 960px;
      height: 530px;
      padding: 0px 24px;
      overflow: visible;
    }

    div.carouselle-screenshot {
      transition: opacity 280ms;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 1080px;
      height: 600px;
      background-size: 1080px 600px;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
      opacity: 1;
      border-radius: 6px;

      @include mobile() {
        position: relative;
        height: 510px;
        width: 288px;
        background-size: 288px 510px;
        float: left;
        margin-left: 24px;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        overflow: visible;

        &:first-child {
          margin-left: 0px;
        }
      }

      &.disappear {
        opacity: 0;

        @include mobile() {
          opacity: 1;
        }
      }
    }
  }

  button.carouselle-left {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: -32px;
    background-image: cdnUrl("/img/ML/carouselle_left_arrow.svg");
    background-size: 64px 64px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    border-radius: 32px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2);

    @include mobile() {
      display: none;
    }
  }
  button.carouselle-right {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    right: -32px;
    background-image: cdnUrl("/img/ML/carouselle_right_arrow.svg");
    background-size: 64px 64px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    border-radius: 32px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2);

    @include mobile() {
      display: none;
    }
  }
}

button.get-started-button {
  width: 255px;
  height: 48px;
  border-radius: 100px;
  background-color: $carrot_orange;
  color: white;
  @include avenir_H();
  font-size: 20px;
  margin: 48px 16px 0;
  position: relative;
  text-align: center;
  padding: 12px;

  @include mobile(){
    width: 100%;
    margin: 16px auto;
    padding: 0px;
  }
}

section.home-keep-aligned {
  background-color: #F8F7F3;
  padding: 120px 24px;
  text-align: center;

  @include mobile() {
    padding: 40px 24px !important;
  }

  h2.home-keep-aligned-title {
    @include avenir_H();
    font-size: 38px;
    line-height: 42px;
    color: $deep_navy;
    text-align: center;

    @include mobile() {
      text-align: left;
      font-size: 24px;
      line-height: 30px;
    }
  }

  div.home-keep-aligned-carouselle {
    margin: 40px auto 0px;

    @include mobile() {
      margin-top: 40px;
      margin-left: -24px;
    }

    div.carouselle-screenshots {

      div.carouselle-screenshot {

        &.screenshot-1 {
          @include image-2x("/img/ML/keep_aligned_carouselle_screenshot_1");

          @include mobile() {
            @include image-2x("/img/ML/keep_aligned_carouselle_screenshot_1_mobile");
          }
        }

        &.screenshot-2 {
          @include image-2x("/img/ML/keep_aligned_carouselle_screenshot_2");

          @include mobile() {
            @include image-2x("/img/ML/keep_aligned_carouselle_screenshot_2_mobile");
          }
        }

        &.screenshot-3 {
          @include image-2x("/img/ML/keep_aligned_carouselle_screenshot_3");

          @include mobile() {
            @include image-2x("/img/ML/keep_aligned_carouselle_screenshot_3_mobile");
          }
        }
      }
    }
  }

  div.green-values {
    margin: 40px auto 0px;
    text-align: center;
    max-width: 1080px;

    @include mobile() {
      width: 100%;
    }
    
    div.green-value {
      width: 330px;
      text-align: left;
      float: left;
      margin-left: 44px;

      @include mobile() {
        width: 100%;
        margin-left: 0px;
        float: unset;
        margin-top: 24px;
      }

      &:first-child {
        margin-left: 0px;
      }

      &.lamp {
        div.green-value-icon {
          background-image: cdnUrl("/img/ML/green_values_lamp.svg");
        }
      }

      &.people {
        div.green-value-icon {
          background-image: cdnUrl("/img/ML/green_values_people.svg");
        }
      }

      &.slack {
        div.green-value-icon {
          background-image: cdnUrl("/img/ML/green_values_slack.svg");
          
        }
      }

      div.green-value-icon {
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
        background-repeat: no-repeat;
        background-position: center;

        @include mobile() {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
        }
      }

      div.green-value-title {
        @include avenir_B();
        font-size: 15px;
        color: $deep_navy;
        line-height: 20px;
        margin-top: 16px;
      }

      div.green-value-description {
        @include avenir_R();
        font-size: 18px;
        line-height: 24px;
        color: $ui_grey;
        margin-top: 8px;
        max-width: 327px;
      }
    } 
  }
}

section.team-transparency {
  background-color: transparent;
  padding: 120px 24px;
  text-align: center;

  @include mobile() {
    padding: 40px 24px !important;
  }

  h2.team-transparency-title {
    @include avenir_H();
    font-size: 38px;
    line-height: 42px;
    color: $deep_navy;
    text-align: center;

    @include mobile() {
      text-align: left;
    }
  }

  div.team-transparency-carouselle {
    margin: 40px auto 0px;

    @include mobile() {
      margin-top: 40px;
      margin-left: -24px;
    }

    div.carouselle-screenshot {

      &.screenshot-1 {
        @include image-2x("/img/ML/team_transparency_carouselle_screenshot_1");

        @include mobile() {
          @include image-2x("/img/ML/team_transparency_carouselle_screenshot_1_mobile");
        }
      }

      &.screenshot-2 {
        @include image-2x("/img/ML/team_transparency_carouselle_screenshot_2");

        @include mobile() {
          @include image-2x("/img/ML/team_transparency_carouselle_screenshot_2_mobile");
        }
      }

      &.screenshot-3 {
        @include image-2x("/img/ML/team_transparency_carouselle_screenshot_3");

        @include mobile() {
          @include image-2x("/img/ML/team_transparency_carouselle_screenshot_3_mobile");
        }
      }
    }
  }

  div.blue-values {
    margin: 40px auto 0px;
    text-align: center;
    max-width: 1080px;

    @include mobile() {
      width: 100%;
    }
    
    div.blue-value {
      width: 330px;
      text-align: left;
      float: left;
      margin-left: 44px;

      @include mobile() {
        width: 100%;
        margin-left: 0px;
        float: unset;
        margin-top: 24px;
      }

      &:first-child {
        margin-left: 0px;
      }

      &.mega {
        div.blue-value-icon {
          background-image: cdnUrl("/img/ML/blue_values_mega.svg");
        }
      }

      &.paperclip {
        div.blue-value-icon {
          background-image: cdnUrl("/img/ML/blue_values_paperclip.svg");
        }
      }

      &.thumbup {
        div.blue-value-icon {
          background-image: cdnUrl("/img/ML/blue_values_thumbup.svg");
        }
      }

      div.blue-value-icon {
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
        background-repeat: no-repeat;
        background-position: center;

        @include mobile() {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
        }
      }

      div.blue-value-title {
        @include avenir_B();
        font-size: 15px;
        color: $deep_navy;
        line-height: 20px;
        margin-top: 16px;
      }

      div.blue-value-description {
        @include avenir_R();
        font-size: 18px;
        color: $ui_grey;
        line-height: 24px;
        margin-top: 8px;
        max-width: 327px;
      }
    } 
  }
}

section.slack-comparison {
  padding: 104px 32px 104px;
  margin: 0px auto;
  text-align: center;
  background-color: #F8F7F3;

  @include mobile() {
    text-align: left;
    padding: 40px 32px !important;
  }

  div.slack-comparison-headline {
    color: #BA61FC;
    @include avenir_B();
    font-size: 16px;
    letter-spacing: 1px;
  }

  div.slack-comparison-headline-1 {
    color: $deep_navy;
    @include avenir_R();
    font-size: 38px;
    line-height: 64px;

    @include mobile(){
      font-size: 24px;
      line-height: 30px;
      margin-top: 16px;
    }
  }

  div.slack-comparison-headline-2 {
    color: $deep_navy;
    @include avenir_H();
    font-size: 38px;
    line-height: 64px;

    @include mobile(){
      font-size: 24px;
      line-height: 30px;
      margin-top: 16px;
    }
  }

  img.slack-comparison-screenshot {
    max-width: 1080px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.07);
    margin: 24px auto;

    @include mobile() {
      width: 100%;
    }
  }
}