div.main-animation-container {
  position: relative;

  @include tablet() {
    width: 100%;
    margin: 80px 0px 0px;
  }

  img.main-animation {
    max-width: 1208px;
    width: calc(100% - 48px);
    margin: 120px auto 0px;
    padding: 0;
    z-index: 10;
    position: relative;

    @include tablet() {
      margin: 0 auto;
    }

    @include mobile() {
      width: 100%;
      height: auto;
      margin: 0px auto;
    }
  }
}

div.cards-container {
  max-width: 940px;
  margin: 0px auto;
  position: relative;
  z-index: 2;

  div.cards-row {
    margin-top: 20px;

    div.card {
      &:not(:first-child) {
        margin-left: 20px;
      }

      text-align: left;
      float: left;
      width: 300px;
      height: 332px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
      padding: 40px;

      @include tablet() {
        float: none;
        margin: 20px auto 0px;
        width: 100%;
        height: auto;

        &:not(:first-child) {
          margin: 20px auto 0px;
        }
      }

      div.card-icon {
        background-repeat: no-repeat;
        background-position: center;
      }

      div.card-title {
        @include avenir_M();
        font-size: 20px;
        color: $carrot_dark_gray;
        width: 70%;

        @include tablet() {
          width: 100%;
        }
      }

      div.card-content {
        @include avenir_R();
        font-size: 18px;
        color: rgba($carrot_dark_gray, 0.8);
        margin-top: 11px;

        a {
          color: $carrot_text_blue_3;
          text-decoration: none;
        }
      }

      &.card-1 {
        div.card-icon {
          width: 44px;
          height: 41px;
          background-size: 44px 41px;
          @include image-2x("/img/ML/homepage_card_icon_1");
          margin-bottom: 35px;
        }
      }

      &.card-2 {
        div.card-icon {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
          @include image-2x("/img/ML/homepage_card_icon_2");
          margin-bottom: 36px;
        }
      }

      &.card-3 {
        div.card-icon {
          width: 44px;
          height: 44px;
          background-size: 44px 44px;
          @include image-2x("/img/ML/homepage_card_icon_3");
          margin-bottom: 31px;
        }

        div.card-title {
          width: 90%;

          @include tablet() {
            width: 100%;
          }
        }
      }

      &.card-4 {
        div.card-icon {
          width: 32px;
          height: 40px;
          background-size: 32px 40px;
          @include image-2x("/img/ML/homepage_card_icon_4");
          margin-bottom: 36px;
        }

        div.card-title {
          width: 60%;

          @include tablet() {
            width: 100%;
          }
        }
      }

      &.card-5 {
        div.card-icon {
          width: 42px;
          height: 41px;
          background-size: 42px 41px;
          @include image-2x("/img/ML/homepage_card_icon_5");
          margin-bottom: 35px;
        }
      }

      &.card-6 {
        div.card-icon {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
          @include image-2x("/img/ML/homepage_card_icon_6");
          margin-bottom: 36px;
        }

        div.card-title {
          width: 43%;
        }
      }
    }
  }
}

section.testimonials-section {
  text-align: center;
  padding: 160px 0px !important;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F7F3;
    border-bottom-right-radius: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @include tablet() {
      border-bottom-right-radius: 100px;
    }
  }

  @include tablet() {
    width: 100%;
    padding: 80px 24px !important;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    text-align: center;
  }

  @include tablet() {
    width: 100%;
    padding: 80px 24px;
  }

  div.testimonials-section-title {
    @include PTSerif()
    color: $deep_navy;
    font-size: 40px;
    line-height: 38px;
    position: relative;

    @include tablet(){
      font-size: 26px;
      line-height: auto;
    }
  }

  div.testimonials-section-subtitle {
    @include avenir_R();
    font-size: 24px;
    line-height: 32px;
    color: $ui_grey;
    margin-top: 16px;
    position: relative;

    @include tablet(){
      font-size: 20px;
      line-height: 26px;
    }
  }

  div.testimonials-cards-container {
    width: 1194px;
    margin: 55px auto 0px;
    position: relative;

    @media screen and (max-width: 1193px) {
      width: 100%;
      margin: 42px auto 0px;
    }

    div.testimonial-card {
      float: left;
      width: 362px;
      padding-left: 32px;
      margin-left: 48px;
      text-align: left;
      position: relative;

      &:before {
        content: "";
        width: 8px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100px;
        background-color: rgba(#54C58C, 0.2);
      }

      &:first-child {
        div.testimonial-header {
          div.testimonial-logo {
            width: 112px;
            height: 24px;
            @include image-2x("/img/ML/testimonial_1_logo");
            background-size: 112px 24px;
          }
        }

        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_1_image");
          }
        }
      }

      &:nth-child(2) {
        div.testimonial-header {
          div.testimonial-logo {
            width: 11px;
            height: 32px;
            @include image-2x("/img/ML/testimonial_2_logo");
            background-size: 11px 32px;
          }
        }

        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_2_image");
          }
        }
      }

      &:nth-child(3) {
        float: right;

        div.testimonial-header {
          div.testimonial-logo {
            width: 234px;
            height: 24px;
            @include image-2x("/img/ML/testimonial_3_logo");
            background-size: 234px 24px;
          }
        }

        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_3_image");
          } 
        }
      }

      div.testimonial-header {
        a, a:active, a:focus {
          text-decoration: none;
        }

        div.testimonial-logo {
          float: left;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      div.testimonial-quote {
        @include avenir_M();
        font-size: 16px;
        color: $deep_navy;
        line-height: 20px;

        @include tablet() {
          min-height: 80px;
        }

        &:not(:first-child){
          padding-top: 16px;
        }
      }

      div.testimonial-footer {
        margin-top: 16px;

        div.testimonial-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-position: center;
          background-size: 40px 40px;
          background-repeat: no-repeat;
          margin-right: 16px;
          float: left;
        }

        div.testimonial-name {
          @include PTSerif()
          font-size: 16px;
          color: $deep_navy;
          line-height: 20px;
        }

        div.testimonial-role {
          @include avenir_R();
          font-size: 14px;
          color: rgba($ui_grey, 0.6);
          line-height: 19px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 4px;
        }
      }

      @media screen and (max-width: 1193px) {
        float: unset;
        margin: 40px auto 0;
        width: 100%;
        max-width: 440px;
        float: unset;

        &:nth-child(3) {
          float: unset;
        }
      }

      &:not(:first-child) {
        margin-left: 30px;

        @media screen and (max-width: 1193px) {
          margin: 40px auto 0;
        }
      }
    }
  }
}

section.keep-aligned {
  padding: 120px 0px;
  text-align: center;

  @include tablet() {
    width: 100%;
    padding: 72px 24px;
    padding-top: 72px !important;
    padding-bottom: 72px !important;
    text-align: left;
  }

  @include mobile_to_tablet(){
    padding: 0 24px;
  }

  div.keep-aligned-title {
    @include PTSerif()
    font-size: 32px;
    color: $deep_navy;
    margin-bottom: 40px;
    text-align: center;

    @include tablet() {
      font-size: 36px;
      margin-bottom: 24px;
    }
  }

  button.get-started-button {
    margin-top: 0px;
  }

  div.no-credit-card {
    @include avenir_R();
    color: $ui_grey;
    font-size: 16px;
    margin-top: 24px;
    text-align: center;

    @include tablet() {
      font-size: 12px;
    }
  }
}

div.core-values-list {
  width: calc(100% - 48px);
  text-align: center;
  margin: 40px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet() {
    width: 251px;
    height: auto;
    display: block;
    justify-content: unset;
    align-items: unset;
  }

  div.core-value-container {
    float: left;
    margin-left: 20px;

    div.core-value-header {
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet(){
        margin-top: 24px;
      }

      div.core-value-icon {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 12px;
      }

      div.core-value {
        @include avenir_B();
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;

        @include tablet(){
          font-size: 16px;
          line-height: 18px;
        }
      }
    }

    div.core-value-white-box {
      background-color: white;
      width: 246px;
      padding: 20px;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
      text-align: left;
      margin-top: 16px;

      @include tablet() {
        display: none;
      }

      div.core-value-box-header {
        @include avenir_M();
        font-size: 12px;
        color: $ui_grey;

        span.dot {
          font-size: 8px;
          color: $light_ui_grey;
        }
      }

      div.core-value-box-title {
        @include avenir_H();
        color: $deep_navy;
        font-size: 16px;
        line-height: 18px;
        margin-top: 16px;
      }
    }

    &.key-announcement {
      div.core-value-icon {
        background-image: cdnUrl("/img/ML/key_announcements_icon.svg");
      }

      div.core-value {
        color: #AF66F9;
      }
    }

    &.team-updates {
      div.core-value-icon {
        background-image: cdnUrl("/img/ML/team_updates_icon.svg");
      }

      div.core-value {
        color: #5789FA;
      }
    }

    &.strategic-plans {
      div.core-value-icon {
        background-image: cdnUrl("/img/ML/strategic_plans_icon.svg");
      }

      div.core-value {
        color: #32C97B;
      }
    }

    &.stories {
      div.core-value-icon {
        background-image: cdnUrl("/img/ML/stories_icon.svg");
      }

      div.core-value {
        color: #FB5E48;
      }
    }
  }
}

button.get-started-button {
  width: 320px;
  height: 64px;
  border-radius: 8px;
  background-color: $carrot_orange;
  color: white;
  @include avenir_B();
  font-size: 16px;
  margin: 48px auto 0;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 12px 0;

  @include mobile(){
    width: 100%;
    margin: 16px auto;
    padding: 2px 0 0;
    font-size: 16px;
  }
}

section.home-keep-aligned {
  padding: 0;
  text-align: center;

  @include tablet() {
    padding: 40px 24px 80px !important;
  }

  h2.keep-aligned-title {
    @include avenir_H();
    font-size: 38px;
    line-height: 42px;
    color: $deep_navy;
    text-align: center;
    margin: 0px;

    @include tablet() {
      text-align: left;
      font-size: 24px;
      line-height: 30px;
    }
  }

  div.keep-aligned-section {
    margin: 0px auto;

    div.keep-aligned-section-row {
      margin: 320px auto;
      position: relative;

      @include tablet() {
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
      }

      &.third-row {
        div.keep-aligned-section-row-right {
          padding: 24px 94px;

          @include tablet() {
            padding: 24px 0;
          }
        }  
      }

      &:nth-child(even) {
        div.keep-aligned-section-row-inner div.keep-aligned-section-copy {
          left: 50%;

          @include tablet() {
            left: unset;
          }
        }
      }

      div.keep-aligned-section-row-inner {
        max-width: 1340px;
        margin: 0 auto;
        position: relative;

        @include tablet() {
          max-width: 595px;
        }

        @include mobile() {
          max-width: initial;
        }
      }

      &:first-child {
        margin-top: 160px;

        @include tablet() {
          margin: 0 auto;
        }
      }

      @include tablet() {
        width: 100%;
        height: auto;
        margin: 80px auto;
      }

      &.second-row {
        &:before {
          content: "";
          display: block;
          background-color: #F8F7F3;
          border-top-right-radius: 200px;
          width: calc(50vw + 293px);
          height: calc(100% + 320px);
          position: absolute;
          left: 0px;
          top: -160px;

          @include tablet() {
            width: calc(100% + 48px);
            left: -24px;
            top: 0;
            height: 100%;
            border-top-right-radius: 100px;
          }
        }
      }

      &.fourth-row {
        &:before {
          content: "";
          display: block;
          background-color: #F8F7F3;
          border-bottom-left-radius: 200px;
          width: calc(50vw + 397px);
          height: calc(100% + 320px);
          position: absolute;
          right: 0px;
          top: -160px;

          @include tablet() {
            width: calc(100% + 48px);
            left: -24px;
            top: 0;
            height: 100%;
            border-bottom-left-radius: 100px;
          }
        }
      }

      img.keep-aligned-section-screenshot {
        width: 100%;
        height: auto;

        @include tablet() {
          margin: 0 auto;
          max-width: 100%;
          margin-top: 32px;
        }
      }

      div.keep-aligned-section-row-right {
        float: right;
        width: 50%;
        position: relative;
        padding: 24px 54px 24px 24px;
        text-align: left;

        @include tablet() {
          float: unset;
          width: 100%;
          padding: 0;
        }
      }

      div.keep-aligned-section-row-left {
        float: left;
        width: 50%;
        position: relative;
        padding: 24px 24px 24px 54px;
        text-align: left;

        @include tablet() {
          float: unset;
          width: 100%;
          padding: 0;
        }
      }

      div.keep-aligned-section-copy {
        text-align: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include tablet() {
          width: 100%;
          top: unset;
          position: relative;
          transform: translateY(0%);
        }

        div.keep-aligned-section-copy-title {
          @include PTSerif()
          font-size: 80px;
          color: $deep_navy;
          line-height: 78px;

          @include mobile() {
            font-size: 36px;
            line-height: 40px;
          }
        }

        div.keep-aligned-section-copy-subtitle {
          @include avenir_R();
          font-size: 24px;
          color: $ui_grey;
          line-height: 32px;
          margin-top: 40px;

          @include mobile() {
            font-size: 20px;
            line-height: 26px;
          }
        }

        img.keep-aligned-section-copy-values-list {
          margin-top: 32px;
          width: 193px;
          height: 208px;
        }

        a.keep-aligned-section-copy-button {
          display: block;
          width: 200px;
          height: 48px;
          box-shadow: 0 2px 6px 0 rgba(0,0,0,0.07);
          @include image-2x("/img/ML/homepage_add_to_slack_bt");
          background-size: 140px 24px;
          background-repeat: no-repeat;
          background-position: center;
          margin-top: 24px;
          border-radius: 6px;
          background-color: white;
          border: 1px solid #C8CACD;

          @include mobile() {
            width: 100%;
          }
        }
      }
    }
  }
}

section.slack-comparison {
  padding: 120px 32px;
  margin: 0px auto;
  text-align: center;

  @include mobile() {
    text-align: left;
    padding: 80px 32px !important;
  }

  div.slack-comparison-headline {
    color: #BA61FC;
    @include avenir_B();
    font-size: 16px;
    letter-spacing: 1px;
  }

  div.slack-comparison-headline-1 {
    color: $deep_navy;
    @include avenir_R();
    font-size: 38px;
    line-height: 54px;
    margin-top: 8px;

    @include mobile(){
      font-size: 24px;
      line-height: 30px;
      margin-top: 24px;
    }
  }

  div.slack-comparison-headline-2 {
    color: $deep_navy;
    @include avenir_H();
    font-size: 38px;
    line-height: 54px;

    @include mobile(){
      font-size: 20px;
      line-height: 30px;
      margin-top: 24px;
    }
  }

  img.slack-comparison-screenshot {
    max-width: 1080px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.07);
    margin: 40px auto 0px;

    @include mobile() {
      width: 100%;
    }
  }
}

body.show-animation-lightbox {
  div.main div.animation-lightbox-container {
    display: block;
  }
}

div.animation-lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $carrot_modal_bg;
  text-align: center;
  z-index: 1000;
  display: none;

  div.animation-lightbox {
    width: 100vw;
    height: 100vh;
    max-width: 1080px;
    max-height: 608px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }

  button.settings-modal-close {
    position: fixed;
    top: 24px;
    right: -54px;
    left: unset;
    bottom: unset;
    z-index: 1001;

    @media screen and (max-width: 1080px) {
      right: 24px;
    }
  }
}

button.show-animation-bt {
  background-color: $feint_emerald;
  border-radius: 8px;
  width: 320px;
  height: 64px;
  background-image: cdnUrl("/img/ML/watch_carrot_in_60_seconds.svg");
  background-size: 214px 19px;
  background-position: center;
  background-repeat: no-repeat;
}