$carousel_timing: 7s;

div.main-animation-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  @include tablet() {
    width: 100%;
    margin: 80px 0px 0px;
  }

  .main-animation {
    width: 83%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
    position: relative;

    @include tablet() {
      margin: 0 auto;
    }

    @include mobile() {
      width: 100%;
      height: auto;
      margin: 0px auto;
    }
  }
}

div.homepage-testimonials-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  z-index: 3;
  position: relative;

  @include tablet() {
    padding: 0 0 80px;
  }

  @include mobile() {
    padding: 0 0 24px;
  }

  div.homepage-testimonials-copy {
    text-align: center;
    @include OC_Body_Book();
    font-size: 24px;
    color: $deep_navy;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 24px;
  }

  div.homepage-testimonials-logos {
    max-width: 1014px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: #{$min_big_web_width + 1}px) and (max-width: 1150px) {
      max-width: 640px;
    }

    @media screen and (min-width: 477px) and (max-width: #{$min_big_web_width}px) {
      max-width: 430px;
    }

    div.homepage-testimonials-logo {
      height: 66px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;

      &.logo-ifttt {
        @include image-2x("/img/ML/logo_ifttt");
        background-size: 78px 21px;
        width: calc(78px + 24px);
      }

      &.logo-hopper {
        @include image-2x("/img/ML/logo_hopper");
        background-size: 74px 66px;
        width: calc(74px + 24px);
      }

      &.logo-primary {
        @include image-2x("/img/ML/logo_primary");
        background-size: 120px 31px;
        width: calc(120px + 24px);
      }

      &.logo-hinge {
        @include image-2x("/img/ML/logo_hinge");
        background-size: 78px 30px;
        width: calc(78px + 24px);
      }

      &.logo-resy {
        @include image-2x("/img/ML/logo_resy");
        background-size: 78px 34px;
        width: calc(78px + 24px);
      }

      &.logo-flyt {
        @include image-2x("/img/ML/logo_flyt");
        background-size: 80px 37px;
        width: calc(80px + 24px);
      }

      &.logo-weblify {
        @include image-2x("/img/ML/logo_weblify");
        background-size: 98px 20px;
        width: calc(98px + 24px);
      }

      &.logo-novo {
        @include image-2x("/img/ML/logo_novo");
        background-size: 78px 39px;
        width: calc(78px + 24px);
      }

      &.logo-gamercraft {
        @include image-2x("/img/ML/logo_gamercraft");
        background-size: 112px 15px;
        width: calc(112px + 24px);
      }
    }
  }
}

section.keep-aligned {
  padding: 120px 0px;
  text-align: center;
  position: relative;

  @include tablet() {
    width: 100%;
    padding: 72px 24px;
    padding-top: 72px !important;
    padding-bottom: 72px !important;
    text-align: left;
  }

  @include mobile_to_tablet(){
    padding: 0 24px;
  }

  div.keep-aligned-title {
    @include OC_Title()
    font-size: 50px;
    color: $deep_navy;
    text-align: center;
    z-index: 3;
    position: relative;
    margin: 0 auto;
    max-width: calc(100% - 48px);

    @include tablet() {
      max-width: initial;
      font-size: 40px;
    }

    @include mobile() {
      font-size: 36px;
    }
  }

  div.keep-aligned-values-line {
    width: 100%;
    margin: 24px auto 0;
    text-align: center;

    img.keep-aligned-value {
      padding: 0 12px;
      display: inline-block;
    }
  }

  button.get-started-button {
    margin-top: 40px;
    z-index: 3;
  }
}

button.get-started-button {
  width: 320px;
  height: 56px;
  border-radius: 6px;
  background-color: $carrot_orange;
  color: white;
  @include OC_Body_Bold();
  font-size: 20px;
  line-height: 25px;
  margin: 32px auto 0;
  position: relative;
  text-align: center;
  padding: 0;

  @include mobile(){
    width: 100%;
    margin: 24px auto 16px;
    height: 48px;
    font-size: 18px;
    line-height: 23px;
    padding: 12px 0;
  }
}

span.get-started-subtitle {
  margin: 16px auto 0;
  @include OC_Body_Book();
  font-size: 16px;
  line-height: 20px;
  color: rgba($deep_navy, 0.5);
  text-align: center;
  display: inline-block;
}

section.home-keep-aligned {
  padding: 0;
  text-align: center;

  @include tablet() {
    padding: 0 24px 0 !important;
  }

  h2.keep-aligned-title {
    @include OC_Body_Bold();
    font-size: 38px;
    line-height: 42px;
    color: $deep_navy;
    text-align: center;
    margin: 0px;

    @include tablet() {
      text-align: left;
      font-size: 24px;
      line-height: 30px;
    }
  }

  div.keep-aligned-section {
    margin: 0px auto;

    div.keep-aligned-section-row {
      margin: 0 auto;
      padding: 96px 0;
      position: relative;

      @include tablet() {
        margin: 0 auto;
        padding-top: 56px;
        padding-bottom: 56px;
        width: 100%;
        height: auto;
      }

      &:nth-child(even) {
        div.keep-aligned-section-row-inner div.keep-aligned-section-copy {
          left: 50%;

          @include tablet() {
            left: unset;
          }
        }
      }

      div.keep-aligned-section-row-inner {
        max-width: 1340px;
        margin: 0 auto;
        position: relative;

        @include tablet() {
          max-width: 595px;
        }

        @include mobile() {
          max-width: initial;
        }
      }

      &:first-child {
        padding-top: 96px;

        @include tablet() {
          margin: 0 auto;
          padding-top: 56px;
        }
      }

      &.first-row {
        div.keep-aligned-section-row-inner {
          @include tablet(){
            max-width: 100%;
          }
        }

        div.keep-aligned-section-row-left {
          padding: 24px 84px 24px 64px;

          @media screen and (max-width: 1200px) {
            padding: 24px 44px 24px 44px;
          }

          @include tablet() {
            padding: 24px 0;
          }

          div.keep-aligned-section-copy-title {
            max-width: 450px;

            @include mobile() {
              max-width: 270px;
            }
          }
        }

        div.keep-aligned-section-row-right {
          padding: 24px 74px 24px 8px;

          @include tablet(){
            padding: 16px 0 24px;
            width: calc(100% + 24px);
          }

          @include mobile(){
            padding: 24px 0;
            width: 100%;

            img.keep-aligned-section-screenshot {
              margin-top: 0;
            }
          }
        }
      }

      &.second-row {
        @include mobile() {
          padding-top: 0;
        }

        div.keep-aligned-section-row-right {
          padding: 24px 70px 24px 114px;

          @include tablet(){
            padding: 24px 0;
          }
        }

        div.keep-aligned-section-row-inner {
          @include tablet() {
            position: unset;
          }
        }

        div.keep-aligned-section-row-left {
          padding: 24px 26px 24px 54px;

          @include tablet() {
            padding: 24px 0;
            // Fixes for the scrolling digest images
            width: 100%;
            height: 1040px;
            position: unset;
            max-width: initial;
          }

          @include mobile() {
            height: calc(72vw * 1.33 + 40px + 48px + 16px);
          }

          img.keep-aligned-section-screenshot {
            max-width: 590px;

            @include tablet() {
              margin: 0 auto;
            }

            @include mobile() {
              max-width: 100%;
            }
          }

          @include mobile(){
            padding: 24px 0;
          }
        }
      }

      &.third-row {
        &:before {
          content: "";
          display: block;
          background-color: $another_ui_grey;
          border-bottom-right-radius: 200px;
          width: calc(50vw + 293px);
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

          @include tablet() {
            position: absolute;
            width: calc(100% + 48px);
            right: -24px;
            left: unset;
            top: 0;
            height: 100%;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 100px;
          }
        }

        div.keep-aligned-section-row-left {
          padding: 24px 0px 24px 54px;
          width: 486px;

          @include tablet() {
            width: 100%;
            padding: 24px 0;
          }
        }

        div.keep-aligned-section-row-right {
          padding: 24px 70px 24px 2px;

          img.keep-aligned-section-screenshot {
            max-width: 598px;

            @include tablet() {
              display: block;
            }
          }

          @include tablet(){
            padding: 24px 0;
          }
        }
      }

      div.keep-aligned-section-carion-container {
        width: 100%;
        height: auto;
        position: relative;

        @include tablet() {
          overflow-x: auto;
          max-width: 100%;
          overflow-y: hidden;
          margin: 16px 0 0 -24px;
          // width: calc(100% + 48px);
          height: 1006px;
          position: absolute;
          left: 0;
          width: calc(100vw - 16px);
          padding-right: 16px;
          max-width: initial;
        }

        @include mobile(){
          height: calc(72vw * 1.33 + 40px);
        }

        div.keep-aligned-section-carion-inner {

          @include tablet() {
            width: calc(144vw + 24px + 86px + 86px);
            height: calc(72vw * 1.33 + 48px + 211px);
            max-width: unset;
            position: relative;
          }

          @include mobile() {
            width: calc(144vw + 65px);
            height: calc(72vw * 1.33 + 40px);
          }

          div.keep-aligned-section-carion-block {
            div.slack-email-switch-bottom-panel {
              display: none;
            }

            @include tablet() {
              position: absolute;
              top: 0;
              width: 72vw;
              height: calc(72vw * 1.33 + 48px + 211px);
              background-color: $another_ui_grey;
              border-radius: 8px;

              &:first-child {
                left: 86px;
              }

              &:nth-child(2) {
                left: unset;
                right: 86px;
              }

              img.keep-aligned-section-screenshot {
                display: block;
                width: 72vw;
                max-width: initial;
                height: calc(72vw * 1.33);
              }

              div.slack-email-switch-bottom-panel {
                width: 100%;
                height: 203px;
                padding: 24px 26px;
                text-align: center;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;

                &.slack-panel {
                  div.slack-email-switch-bottom-panel-img {
                    @include image-2x("/img/ML/testimonial_partner_hero");
                  }
                }

                &.email-panel {
                  div.slack-email-switch-bottom-panel-img {
                    @include image-2x("/img/ML/testimonial_skylight_digital");
                  }
                }

                div.slack-email-switch-bottom-panel-copy {
                  @include OC_Body_Book();
                  font-size: 16px;
                  color: $deep_navy;
                  line-height: 20px;
                  max-width: 438px;
                  margin: 0 auto;
                }

                div.slack-email-switch-bottom-panel-img {
                  width: 32px;
                  height: 32px;
                  background-size: 32px 32px;
                  background-position: center;
                  background-repeat: no-repeat;
                  margin: 16px auto 0;
                }

                div.slack-email-switch-bottom-panel-name {
                  margin-top: 8px;
                  @include OC_Title();
                  font-size: 14px;
                  color: $deep_navy;
                }

                div.slack-email-switch-bottom-panel-role {
                  @include OC_Body_Book();
                  font-size: 14px;
                  color: $deep_navy; 
                }
              }
            }

            @include mobile() {
              height: calc(72vw * 1.33 + 40px);

              &:first-child {
                left: 24px;
              }

              &:nth-child(2) {
                left: unset;
                right: 24px;
              }

              div.slack-email-switch-bottom-panel {
                display: none;
              }
            }
          }

          div.keep-aligned-section-header {
            display: none;

            @include tablet() {
              width: 72vw;
              height: 48px;
              float: unset;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;

              @include mobile() {
                height: 40px;
              }

              span.slack-logo {
                width: 70px;
                height: 18px;
                background-image: cdnUrl("/img/ML/slack_email_switch_slack_logo_active.svg");
                background-size: 70px 18px;
                background-position: center;
                background-repeat: no-repeat;
              }

              span.email-logo {
                width: 68px;
                height: 22px;
                background-image: cdnUrl("/img/ML/slack_email_switch_email_logo_active.svg");
                background-size: 68px 22px;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }

          img.keep-aligned-section-screenshot {
            width: 100%;
            height: auto;
            z-index: 3;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
            position: relative;
            top: 0;
            display: block;
            border-radius: 8px;

            @include big_web() {
              margin-top: 0px;
            }

            @include tablet() {
              position: absolute;
              top: 0;
              left: 0;
              width: 72vw;
              max-width: initial;
              height: calc(72vw * 1.33);
              padding: 0;
              margin-top: 40px;
            }

            &.carion-1 {
              opacity: 1;
              transition: opacity 250ms;

              @include tablet() {
                transition: none;
              }
            }

            &.carion-1-alt {
              opacity: 0;
              transition: opacity 250ms;
              height: 0;

              @include tablet() {
                transition: none;
                opacity: 1;
                height: auto;
              }
            }
          }
        }

        button.keep-aligned-section-next-bt {
          width: 72px;
          height: 72px;
          background-image: cdnUrl("/img/ML/homepage_right_arrow.svg");
          background-size: 32px 16px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: $carrot_green;
          border-radius: 50%;
          position: absolute;
          right: -32px;
          top: calc(50% - 36px);
          z-index: 5;
          padding: 0;
          transform: rotate(0deg);
          transition: transform 180ms;

          &.active {
            transform: rotate(-180deg);
          }

          @include tablet() {
            display: none;
          }
        }
        
      }

      img.keep-aligned-section-screenshot {
        width: 100%;
        height: auto;

        @include tablet() {
          margin: 0 auto;
          max-width: 100%;
          margin-top: 32px;
        }

        @include mobile() {
          margin-top: 24px;
        }
      }

      div.keep-aligned-section-row-right {
        float: right;
        width: 50%;
        position: relative;
        padding: 24px 54px 24px 24px;
        text-align: left;

        @include tablet() {
          float: unset;
          width: 100%;
          padding: 24px 0;
        }

        @include mobile(){
          padding: 24px 0;
        }
      }

      div.keep-aligned-section-row-left {
        float: left;
        width: 50%;
        position: relative;
        padding: 24px 24px 24px 54px;
        text-align: left;

        @include tablet() {
          float: unset;
          width: 100%;
          max-width: 595px;
          padding: 24px 0;
          margin: 0 auto;
        }

        @include mobile(){
          padding: 24px 0;
        }
      }

      div.keep-aligned-section-copy {
        text-align: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include tablet() {
          width: 100%;
          top: unset;
          position: relative;
          transform: translateY(0%);
        }

        div.slack-email-container {
          margin-top: 40px;

          div.slack-email-title {
            @include OC_Body_Bold();
            font-size: 14px;
            color: $ui_grey;
            float: left;

            @include big_web() {
              margin-left: 24px;
              margin-top: 15px;
            }

            @include tablet() {
              margin-bottom: 12px;
            }
          }

          div.slack-email-switch-container {
            width: 100%;
            max-width: 100%;

            &.show-slack {
              button.slack-bt {
                background-color: $another_ui_grey;

                div.slack-logo {
                  background-image: cdnUrl("/img/ML/slack_email_switch_slack_logo_active.svg");
                }
              }

              div.slack-email-switch-bottom-panel {
                &.slack-panel {
                  display: block;
                }

                &.email-panel {
                  display: none;
                }
              }
            }

            &.show-email {
              button.email-bt {
                background-color: $another_ui_grey;

                div.email-logo {
                  background-image: cdnUrl("/img/ML/slack_email_switch_email_logo_active.svg");
                }
              }

              div.slack-email-switch-bottom-panel {
                &.slack-panel {
                  display: none;
                }

                &.email-panel {
                  display: block;
                }
              }
            }

            button.slack-email-switch-bt {
              height: 48px;
              width: 131px;
              float: left;
              background-color: #EDECE9;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 8px;

              &.slack-bt {
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
              }

              &.email-bt {
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
              }

              div.slack-logo {
                width: 70px;
                height: 18px;
                background-image: cdnUrl("/img/ML/slack_email_switch_slack_logo.svg");
                background-size: 70px 18px;
                background-position: center;
                background-repeat: no-repeat;

                @include preload_image(cdnUrl("/img/ML/slack_email_switch_slack_logo_active.svg"));
              }

              div.email-logo {
                width: 68px;
                height: 22px;
                background-image: cdnUrl("/img/ML/slack_email_switch_email_logo.svg");
                background-size: 68px 22px;
                background-position: center;
                background-repeat: no-repeat;

                @include preload_image(cdnUrl("/img/ML/slack_email_switch_email_logo_active.svg"));
              }
            }

            div.slack-email-switch-bottom-panel {
              width: 100%;
              height: 203px;
              background-color: $another_ui_grey;
              padding: 24px 26px;
              text-align: center;
              border-bottom-left-radius: 40px;
              float: left;

              &.slack-panel {
                div.slack-email-switch-bottom-panel-img {
                  @include image-2x("/img/ML/testimonial_partner_hero");
                }
              }

              &.email-panel {
                div.slack-email-switch-bottom-panel-img {
                  @include image-2x("/img/ML/testimonial_skylight_digital");
                }
              }

              div.slack-email-switch-bottom-panel-copy {
                @include OC_Body_Book();
                font-size: 16px;
                color: $deep_navy;
                line-height: 20px;
                max-width: 438px;
                margin: 0 auto;
              }

              div.slack-email-switch-bottom-panel-img {
                width: 32px;
                height: 32px;
                background-size: 32px 32px;
                background-position: center;
                background-repeat: no-repeat;
                margin: 16px auto 0;
              }

              div.slack-email-switch-bottom-panel-name {
                margin-top: 8px;
                @include OC_Title();
                font-size: 14px;
                color: $deep_navy;
              }

              div.slack-email-switch-bottom-panel-role {
                @include OC_Body_Book();
                font-size: 14px;
                color: $deep_navy; 
              }
            }
          }
        }

        div.keep-aligned-section-copy-title {
          @include OC_Title();
          font-size: 60px;
          color: $deep_navy;
          line-height: 66px;

          @include mobile() {
            font-size: 36px;
            line-height: 40px;
          }
        }

        div.keep-aligned-section-copy-subtitle {
          @include OC_Body_Book();
          font-size: 24px;
          color: $deep_navy;
          line-height: 32px;
          margin-top: 40px;

          @include mobile() {
            font-size: 20px;
            line-height: 26px;
          }
        }

        div.keep-aligned-section-footer {
          margin-top: 24px;
          border-top: 1px solid $more_ultra_light_grey;
          padding-top: 24px;

          button.create-team-bt {
            padding: 0;
            @include OC_Body_Bold();
            font-size: 14px;
            height: 19px;
            line-height: 19px;
            color: $carrot_green;
            text-transform: uppercase;

            &:after {
              content: "";
              background-image: cdnUrl("/img/ML/create_team_green_arrow.svg");
              background-size: 16px 8px;
              background-position: center 4px;
              background-repeat: no-repeat;
              width: 16px;
              height: 19px;
              margin-left: 8px;
              float: right;
            }
          }

          @include mobile() {
            display: none;
          }
        }

        img.keep-aligned-section-copy-values-list {
          margin-top: 32px;
          width: 220px;
          height: 208px;
        }

        img.keep-aligned-section-copy-interactions-list {
          margin-top: 32px;
          width: 140px;
          height: 152px; 
        }

        a.keep-aligned-section-copy-button {
          display: block;
          width: 200px;
          height: 48px;
          box-shadow: 0 2px 6px 0 rgba(0,0,0,0.07);
          @include image-2x("/img/ML/homepage_add_to_slack_bt");
          background-size: 140px 24px;
          background-repeat: no-repeat;
          background-position: center;
          margin-top: 24px;
          border-radius: 6px;
          background-color: white;
          border: 1px solid #C8CACD;

          @include mobile() {
            width: 100%;
          }
        }
      }
    }
  }
}

body.show-animation-lightbox {
  div.animation-lightbox-container {
    display: block;
  }
}

div.animation-lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $carrot_modal_bg;
  text-align: center;
  z-index: #{$navbar_zindex + 2001};
  display: none;

  div.animation-lightbox {
    width: 100%;
    height: 100vh;
    max-width: 1080px;
    max-height: 608px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }

  button.settings-modal-close {
    position: fixed;
    top: 24px;
    right: -54px;
    left: unset;
    bottom: unset;
    z-index: 1001;

    @media screen and (max-width: 1080px) {
      right: 24px;
    }
  }
}

section.carrot-in-action {
  text-align: center;
  padding: 120px 0px !important;
  position: relative;

  @include tablet() {
    width: 100%;
    padding: 56px 24px !important;
    padding-top: 56px !important;
    padding-bottom: 56px !important;
    text-align: center;
  }

  div.carrot-in-action-title {
    @include OC_Title();
    font-size: 40px;
    line-height: 52px;
    color: $deep_navy;

    @include tablet(){
      font-size: 40px;
      line-height: initial;
    }

    @include mobile() {
      font-size: 36px;
    }
  }
}

button.show-animation-bt {
  background-color: $feint_emerald;
  border-radius: 8px;
  width: 320px;
  height: 64px;
  @include OC_Body_Bold();
  font-size: 20px;
  line-height: 27px;
  color: $carrot_green;
  margin: 48px auto 0;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 12px 0;

  div.green-play {
    width: 24px;
    height: 18px;
    background-image: cdnUrl("/img/ML/green_play.svg");
    background-size: 24px 18px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-top: -4px;
  }

  @include mobile() {
    width: 100%;
    margin: 16px auto;
    padding: 2px 0 0;
    font-size: 18px;
    line-height: 25px;
  }
}

div.dashed-string {
  margin: 40px auto;
  width: 80px;
  height: 200px;
  background-size: 80px 200px;
  background-repeat: no-repeat;
  background-position: center;

  @for $i from 1 through 6 {
    &.dashed-string-#{$i} {
      background-image: cdnUrl("/img/ML/dashed_string_#{$i}.svg");
    }
  }
}

div.testimonials-block {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  @include mobile() {
    padding: 0 16px;
  }

  &.ifttt {
    div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_ifttt");
    }
  }

  &.blend-labs {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_blend_labs");
    }

    div.testimonial-copy {
      max-width: 670px;
    }
  }

  &.novo {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_novo");
    }
  }

  &.hello-tickets {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_hello_tickets");
    }
  }

  &.bank-novo {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_bank_novo");
    }
  }

  div.testimonial-copy {
    @include OC_Body_Book();
    font-size: 22px;
    line-height: 28px;
    color: $deep_navy;
    margin: 0 auto;

    @include mobile() {
      font-size: 24px;
      line-height: 30px;
    }
  }

  div.testimonial-copy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;

    @include mobile() {
      display: block;
      justify-content: unset;
      align-items: unset;
      text-align: center;
    }

    div.testimonial-author-pic {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 3px;

      @include mobile() {
        margin: 0 auto;
      }
    }

    div.testimonial-copy-footer-right {
      @include OC_Body_Book();
      font-size: 18px;
      color: $deep_navy;
      line-height: 23px;
      text-align: left;
      margin-left: 16px;

      a {
        display: block;
        color: $carrot_green;
        line-height: 23px;
      }

      @include mobile() {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 8px;

        a {
          text-align: center;
        }
      }
    }
  }
}

div.testimonials-screenshot-block {
  width: 100%;
  max-width: 1061px;
  margin: 0 auto;

  div.testimonials-screenshot-header {
    @include OC_Body_Bold();
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: $deep_navy;

    @include mobile() {
      @include OC_Body_Bold();
      font-size: 36px;
      line-height: 40px;
      color: $deep_navy;
    }
  }

  div.testimonials-screenshot-subheader {
    margin-top: 24px;
    @include OC_Body_Book();
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $deep_navy;

    @include mobile() {
      margin-top: 16px;
      @include OC_Body_Book();
      font-size: 20px;
      line-height: 26px;
      color: $deep_navy;
    }
  }

  img.testimonials-screenshot {
    max-width: 996px;
    margin: 40px auto 0;
    width: 100%;

    @include mobile() {
      nargin: 24px auto 0;
    }
  }
}

section.testimonials {
  text-align: center;
  position: relative;
  padding-left: 24px !important;
  padding-right: 24px !important;

  @include tablet() {
    width: 100%;
    padding: 56px 24px !important;
    padding-top: 56px !important;
    padding-bottom: 56px !important;
    text-align: center;
  }

  @include mobile() {
    padding: 0 16px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  div.testimonials-floated-block {
    width: 100%;
    max-width: 1218px;
    margin: 0 auto;

    div.testimonials-floated-block-inner {
      width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      margin-top: 40px;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &.left-block {
        div.testimonials-floated-copy {
          margin-left: 24px;
          // float: left;
          left: 50%;
        }

        img.testimonials-floated-screenshot {
          float: left;
        }
      }

      &.right-block {
        div.testimonials-floated-copy {
          margin-right: 24px;
          // float: right;
          right: 50%;
        }

        img.testimonials-floated-screenshot {
          float: right;
        }
      }

      div.testimonials-floated-copy {
        max-width: 479px;
        width: calc(50% + 12px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        div.testimonials-floated-header {
          @include OC_Body_Bold();
          font-size: 26px;
          line-height: 33px;
          color: $deep_navy;
          text-align: left;
        }

        div.testimonials-floated-subheader {
          margin-top: 8px;
          @include OC_Body_Book();
          font-size: 20px;
          line-height: 26px;
          color: $deep_navy;
          text-align: left;
        }
      }

      img.testimonials-floated-screenshot {
        width: calc(50% - 12px);
      }
    }
  }

  div.testimonials-commgaps-block {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    div.testimonals-commgaps-header {
      @include OC_Body_Bold();
      font-size: 60px;
      line-height: 60px;
      color: $deep_navy;
    }

    div.testimonals-commgaps-subheader {
      margin-top: 24px;
      @include OC_Body_Book();
      font-size: 24px;
      line-height: 32px;
      color: $deep_navy;
    }

    div.testimonials.commgaps-block-inner {
      width: 100%;
      margin-top: 40px;

      div.testimonials-commgaps-column {
        width: calc(50% - 12px);
        text-align: center;

        &.left-column {
          float: left;
        }

        &.right-column {
          float: right;
        }

        img.testimonials-commgaps-column-screenshot {
          width: 100%;
        }

        div.testimonials-commgaps-column-header {
          @include OC_Body_Bold();
          font-size: 26px;
          line-height: 33px;
          color: $deep_navy;
          max-width: 404px;
          margin: 24px auto 0;
        }

        div.testimonials-commgaps-column-subheader {
          @include OC_Body_Book();
          font-size: 20px;
          line-height: 26px;
          color: $deep_navy;
          max-width: 404px;
          margin: 8px auto 0;
        }
      }
    }
  }
}

section.pricing-footer {
  padding: 80px 0;
  text-align: center;
  position: relative;
  width: 100%;

  @include tablet() {
    overflow: visible;
    padding: 131px 0 0;
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile() {
    padding: 40px 16px;
  }

  h1.pricing-headline {
    font-size: 60px;
    line-height: 78px;
    @include OC_Title()
    color: $deep_navy;
    min-width: 300px;
    margin: 0 auto;

    @include mobile() {
      margin: 0 auto;
      font-size: 36px;
      line-height: initial;
      max-width: initial;
      padding: 0 24px;
    }
  }

  div.pricing-subheadline {
    color: $deep_navy;
    font-size: 22px;
    line-height: 28px;
    @include OC_Body_Book();
    margin: 24px auto 0px;
    position: relative;
    max-width: 630px;

    @include mobile(){
      margin-top: 16px;
      font-size: 20px;
      line-height: 26px;
      padding: 0px;
      color: $deep_navy;
      max-width: initial;
    }

    a.chat-with-us {
      color: $carrot_green;
    }
  }
}

div.pricing-table {
  background-color: $deep_navy;
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 960px;
  margin: 40px auto 0;
  padding: 40px;
  position: relative;

  @include mobile() {
    margin-top: 24px;
    padding: 40px 24px;
  }

  div.pricing-table-left {
    width: 255px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 60px;

    @include mobile() {
      position: initial;
      width: 100%;
      left: unset;
      top: unset;
      transform: unset;
      padding-right: 0;
    }

    div.pricing-table-left-price {
      @include OC_Body_Book();
      font-size: 80px;
      line-height: 90px;
      color: white;
      text-align: center;
    }

    div.pricing-table-left-subprice {
      margin-top: 8px;
      @include OC_Body_Book();
      font-size: 22px;
      line-height: 28px;
      color: rgba(white, 0.5);
      text-align: center;
    }
  }

  div.pricing-table-right {
    float: right;
    width: 71%;
    border-left: 1px solid rgba(white, 0.2);
    padding-left: 60px;

    @include mobile() {
      float: unset;
      width: 100%;
      border-left: none;
      padding-left: 0;
      border-top: 1px solid rgba(white, 0.2);
      margin-top: 40px;
      padding-top: 24px;
    }

    div.pricing-table-right-copy {
      @include OC_Body_Book();
      font-size: 22px;
      line-height: 28px;
      color: white;
      text-align: left;

      @include mobile() {
        text-align: center;
        font-size: 20px;
        line-height: 25px;
      }
    }

    a.pricing-table-right-link {
      margin-top: 24px;
      display: block;
      height: 56px;
      color: white;
      background-color: #fb5e48;
      border-radius: 6px;
      text-align: center;
      @include OC_Body_Bold();
      font-size: 18px;
      line-height: 23px;
      padding: 16px 26px;
      float: left;

      @include mobile() {
        float: unset;
        width: 100%;
      }
    }
  }
}

div.pricing-header-footer {
  margin: 40px auto 0;
  max-width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile() {
    display: block;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    margin-top: 24px;
  }

  div.pricing-header-footer-logo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $grey_num_5;
    background-image: cdnUrl("/img/ML/carrot_logo_grey.svg");
    background-size: 16px 29px;
    background-position: center;
    background-repeat: no-repeat;

    @include mobile() {
      margin: 0 auto;
    }
  }

  div.pricing-header-footer-subheadline {
    margin-left: 16px;
    @include OC_Body_Book();
    font-size: 18px;
    line-height: 23px;
    color: $deep_navy;
    text-align: left;

    @include mobile() {
      text-align: center;
      width: 100%;
      margin-left: 0;
      margin-top: 16px;
    }

    a {
      color: $carrot_green;
      &:hover {
        color: $carrot_green;
        text-decoration: underline;
      }
    }
  }
}

section.testimonials-section-old {
  text-align: center;
  position: relative;

  div.testimonials-cards-container {
    $testimonials_num: 4;
    $testimonials_breakpoint: ((278 + 16) * $testimonials_num);
    margin: 55px auto 0px;
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    @include tablet() {
      width: calc(100% + 48px);
      margin-left: -24px;
    }

    div.testimonials-cards-inner {
      width: #{($testimonials_breakpoint + 1)}px;
      margin: 0 auto;

      @media screen and (max-width: #{$testimonials_breakpoint + 48}px){
        width: #{$testimonials_breakpoint + 48}px;
        padding: 0 24px;
      }
    }

    div.testimonals-cards-column {
      width: 278px;
      margin: 0 8px;
      float: left;

      div.testimonial-card {
        &:not(:first-child) {
          margin-top: 16px;
        }
      }
    }

    div.testimonial-card {
      float: left;
      width: 278px;
      padding: 24px;
      text-align: left;
      position: relative;
      border-radius: 8px;
      background-color: $another_ui_grey;

      &.peak-support {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_peak_support");
          }
        }
      }

      &.wayne-state-univerity {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_wayne_state_university");
          }
        }
      }

      &.oval-money {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_oval_money");
          }
        }
      }

      &.hellotickets {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_hellotickets");
          }
        }
      }

      &.m-io {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_m_io");
          }
        }
      }

      &.partner-hero {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_partner_hero");
          }
        }
      }

      &.novo {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_novo");
          } 
        }
      }

      &.skylight-digital {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_skylight_digital");
          }
        }
      }

      div.testimonial-quote {
        @include OC_Body_Book();
        font-size: 18px;
        color: $deep_navy;
        line-height: 22px;
        text-align: center;
      }

      div.testimonial-footer {
        margin-top: 16px;

        div.testimonial-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-position: center;
          background-size: 40px 40px;
          background-repeat: no-repeat;
          margin: 0 auto;
        }

        div.testimonial-name {
          @include OC_Title()
          font-size: 14px;
          color: $deep_navy;
          line-height: 18px;
          margin-top: 8px;
          text-align: center;
        }

        div.testimonial-role {
          @include OC_Body_Book();
          font-size: 14px;
          color: rgba($deep_navy, 0.6);
          line-height: 18px;
          text-align: center;

          a {
            color: rgba($deep_navy, 0.6);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
