/***** Signup form CTA *****/


@media (max-width: 767px) { /* mobile */
  div.cta {
    height: 350px;
  }
}

@media (min-width: 768px) { /* not mobile */
  div.cta {
    height: 300px;
  }
}

div.cta {
  background-color: #1e81c4; /* blue */
}

div.container.cta, div.container.sub-tag {
  display: table;
  vertical-align: middle;
  text-align: center;
}

div.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

h1.tagline {
  font-family: Domine;
  font-size: 36px;
  line-height: 1.4;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 25px;
}

#email {
  width: 220px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  height: 50px;
  border: none;
  background-color: #ffffff;
  padding: 1rem;
}

@media (max-width: 767px) { /* mobile */
  #email {
    border-radius: 2px 2px 0 0;
  }
}

@media (min-width: 768px) { /* not mobile */
  #email {
    float: right;
    border-radius: 2px 0 0 2px;
  }

  div.left-cta {
    padding-right: 0 !important;
  }
}

#email:focus {
  outline: 0 !important;
}

button.submit {
  width: 220px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-width: 0;
  background-color: #f9d748;
  padding: 15px 18px 15px 18px !important;
}

@media (max-width: 767px) { /* mobile */
  button.submit {
    color: #4E5A6B;
    border-radius: 0 0 2px 2px;
  }
}

@media (min-width: 768px) { /* not mobile */
  button.submit {
    color: #7A838F;
    border-radius: 0 2px 2px 0;
  }

  button.submit:hover {
    color: #4E5A6B;
  }

  div.right-cta {
    padding-left: 0 !important;
  }
}

button.submit:hover {
  opacity: 1;
}

/****** Info Section ******/

@media (min-width: 768px) { /* not mobile */
  div.container.info {
    max-width: 700px;
  }
}

div.container.sub-tag {
  height: 185px;
}

div.sub-tag {
  text-align: center;
}

h2.sub-tagline {
  font-family: Domine;
  font-size: 24px;
  line-height: 1.1;
  color: #4e5a6b;
}

@media (max-width: 767px) { /* mobile */
  
  div.container.info div.left, div.container.info div.right {
    padding: 10px 20px 10px 20px;
  }
}

@media (min-width: 768px) { /* not mobile */
  
  div.container.info div.left {
    padding: 40px 20px 40px 60px;
  }

  div.container.info div.right {
    padding: 20px 60px 20px 20px;
  }
}

div.no-bottom {
  padding-bottom: 0px !important;
}

div.left-to-right p, div.right-to-left p {
  font-family: Domine;
  font-size: 18px;
  line-height: 1.4;
  color: #4e5a6b;
}

img.info-image {
  display:block;
  margin:auto;
}

div.left-to-right {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgba(78, 90, 107, 0.05));
}

div.right-to-left {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(78, 90, 107, 0.05));
}

h3.info-headline {
  font-family: Domine;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  color: #4e5a6b;
}

@media (min-width: 768px) { /* not mobile */
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 767px) { /* mobile */
  /* quick and dirty to reorder columns */
  .web-only {
    display: none !important;
  }
}

@media (min-width: 768px) { /* not mobile */

  /* 1st info section */
  div.first h3.info-headline {
    margin-top: 50px;
  }

  div.first div.right {
    padding-bottom: 0px;
  }

  img#company-dashboard {
    margin-top: 20px;
  }

  /* 2nd info section */
  div.second h3.info-headline {
    margin-top: 50px;
  }

  /* 3rd info section */
  img#transparency {
    margin-top: 30px;
  }

  img#transparency {
    margin-top: 30px;
  }

}

/* @4x retina images */

img#company-dashboard {
  height: 238px;
  width: 300px;
}

img.investor-update {
  height: 178px;
  width: 119px;
}