.navbar-bottom {
  background-color: $ultra_light_gold !important;
  margin-bottom: 0px !important;
  border-radius: 0px;
  border: none;
  padding: 0 0 60px;
  overflow: hidden;

  @include tablet(){
    padding: 80px 0;
  }

  @include mobile() {
    padding: 0;
  }

  div.mobile-footer {
    div.small-logos {
      margin: 40px 0;

      a {
        margin-right: 20px;
      }
    }
  }

  div.container-fluid {
    position: relative;
    max-width: 1160px;
    width: calc(100% - 48px);
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 40px !important;

    @include mobile(){
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 40px;
    }

    div.left-column {
      float: left;
      width: 231px;
      z-index: 2;

      @include tablet() {
        width: 100%;
        float: none;
        padding-top: 40px;
      }

      @include mobile() {
        float: unset;
        width: 100%;
        text-align: center;
      }

      img.logo {
        width: 82px;
        height: 20px;
        @include mobile(){
          margin: 0 auto;
        }
      }

      div.footer-communication-copy {
        margin-top: 15px;
        @include OC_Body_Book();
        font-size: 16px;
        color: $deep_navy;

        // @include mobile() {
        //   width: 100%;
        // }
      }

      div.footer-small-links {
        margin-top: 15px;
        color: $carrot_dark_gray;
        @include OC_Body_Book();
        font-size: 16px;

        a {
          margin: 0px 5px;
          @include OC_Body_Book();
          color: $carrot_green;
          font-size: 16px;
          text-decoration: none;
          opacity: 1;

          &:first-child {
            margin-left: 0px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      div.copyright {
        font-size: 14px;
        @include OC_Body_Book();
        color: $ui_grey;
        margin-top: 40px;
        max-width: 180px;

        @include mobile(){
          text-align: center;
          max-width: unset;
          width: 100%;
          margin-top: 0;
        }
      }

      div.tos-and-pp {
        font-size: 14px;
        @include OC_Body_Book();
        color: $ui_grey;
        max-width: 180px;

        @include mobile() {
          width: 100%;
          max-width: initial;
          text-align: center;
          margin-top: 16px;
        }

        a {
          color: $ui_grey;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    div.right-column {
      float: right;
      z-index: 2;

      @include tablet() {
        width: 100%;
        float: none;
        margin-right: 0;
        padding-bottom: 40px;
      }

      @include mobile() {
        float: unset;
      }

      div.column {
        float: left;
        margin-right: 40px;
        width: 180px;

        &:nth-child(3) {
          width: 300px;
        }

        @media screen and (max-width: 1200px) {
          margin-right: 32px;
        }

        @media screen and (max-width: 1050px) {
          margin-right: 16px;
        }

        @media screen and (max-width: 950px) {
          margin-right: 0px;
        }

        &:last-child {
          margin-right: 0px;
        }

        @include mobile() {
          margin-right: 0px;
          margin-bottom: 40px;
          width: 100%;
          text-align: center;

          &:nth-child(3) {
            width: 100%;
          }
        }

        div.column-title {
          @include OC_Body_Book();
          color: $light_ui_grey;
          font-size: 18px;
          margin-bottom: 16px;

          @include mobile(){
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding: 2px 0px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }

        div.column-item {

          @include mobile(){
            margin-top: 16px;
          }

          a {
            @include OC_Body_Book();
            color: $deep_navy;
            font-size: 18px;
            line-height: 32px;

            &:hover {
              text-decoration: underline;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}