.navbar-bottom {
  background-color: $ultra_light_gold !important;
  margin-bottom: 0px !important;
  border-radius: 0px;
  border: none;
  padding: 60px 0;
  overflow: hidden;

  &.light-background {
    background-color: $ultra_light_gold !important;
  }

  @include mobile(){
    padding: 80px 0;
  }

  div.mobile-footer {
    div.small-logos {
      margin: 40px 0;

      a {
        margin-right: 20px;
      }
    }
  }

  div.container-fluid {
    position: relative;
    max-width: 1209px;
    width: 100%;
    padding-left: 24px !important;
    padding-right: 24px !important;

    @include mobile(){
      padding-left: 32px;
      padding-right: 32px;
    }

    div.left-column {
      float: left;
      width: 231px;
      z-index: 2;

      // @include mobile(){
      //   width: 100%;
      //   margin-top: 12px;
      //   padding-top: 32px;
      //   border-top: 1px solid #E7E6E5;
      // }

      @include tablet() {
        width: 100%;
        float: none;
        padding-top: 40px;
        border-top: 1px solid #E7E6E5;
      }

      img.logo {
        width: 82px;
        height: 20px;
        @include mobile(){
          margin: 0 auto;
        }
      }

      div.footer-communication-copy {
        margin-top: 15px;
        @include avenir_M();
        font-size: 16px;
        color: $deep_navy;

        // @include mobile() {
        //   width: 100%;
        // }
      }

      div.footer-small-links {
        margin-top: 15px;
        color: $carrot_dark_gray;
        @include avenir_R();
        font-size: 16px;

        a {
          margin: 0px 5px;
          @include avenir_R();
          color: $carrot_green;
          font-size: 16px;
          text-decoration: none;
          opacity: 1;

          &:first-child {
            margin-left: 0px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      div.copyright {
        font-size: 14px;
        @include avenir_M();
        color: $light_ui_grey;
        margin-top: 40px;
        max-width: 180px;

        @include mobile(){
          text-align: left;
        }
      }
    }

    div.right-column {
      float: right;
      z-index: 2;

      @include tablet() {
        width: 100%;
        float: none;
        margin-right: 0;
        padding-bottom: 40px;
        padding-top: 40px;
        border-top: 1px solid #E7E6E5;
      }

      div.column {
        float: left;
        margin-right: 40px;
        width: 180px;

        &:nth-child(3) {
          width: 300px;
        }

        @include mobile() {
          width: 48%;

          &:nth-child(2), &:nth-child(3) {
            float: left;
          }
        }

        @media screen and (max-width: 1200px) {
          margin-right: 32px;
        }

        @media screen and (max-width: 1050px) {
          margin-right: 16px;
        }

        @media screen and (max-width: 950px) {
          margin-right: 0px;
        }

        @include mobile(){
          margin-right: 0px;
          margin-bottom: 20px;
        }

        &:last-child {
          margin-right: 0px;
        }

        div.column-title {
          @include avenir_M();
          color: $light_ui_grey;
          font-size: 16px;
          margin-bottom: 20px;

          @include mobile(){
            border-bottom: 1px solid rgba(255,255,255,0.5);
            padding: 2px 0px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }

        div.column-item {
          margin-top: 10px;

          @include mobile(){
            margin-top: 16px;
          }

          a {
            @include avenir_M();
            color: $deep_navy;
            font-size: 16px;

            &:hover {
              color: $carrot_green;
              text-decoration: none;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}