@include tablet(){
  body.mobile-menu-expanded {
    overflow: hidden;
    height: 100vh;
  }
}

div.site-mobile-menu {
  display:none;
  position: absolute;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 64px);
  top: 64px;
  left: 0px;
  background-color: $ultra_light_gold;
  z-index: 1081;
  padding: 0px 16px;

  @include tablet() {
    display: block;
  }

  div.site-mobile-menu-container {
    margin: 64px 0 0;
    min-height: calc(100vh - 396px);

    @media screen and (max-height: 610px) {
      margin: 40px 0 0;
    }

    div.site-mobile-menu-item {
      width: 100%;
      text-align: center;
      padding: 12px 0px;

      a {
        @include OC_Body_Book();
        font-size: 28px;
        color: $deep_navy;
        
        &:focus, &:active {
          text-decoration: none;
        }

        &.active {
          color: rgba($deep_navy, 0.5);
          text-decoration: none;
        }
      }
    }
  }

  div.site-mobile-menu-footer {
    width: 100%;
    margin: 0;
    padding: 16px 0;

    button {
      text-transform: uppercase;
    }

    button.login-btn {
      background-color: white;
      border-radius: 8px;
      @include OC_Body_Bold();
      font-size: 16px;
      color: $carrot_orange;
      background-color: $coral;
      margin: 16px auto 0px;
    }

    button, button.get-started-button {
      display: block;
      height: 48px;
      width: 100%;
      margin: 16px auto 0px;
      max-width: 320px;
    }
  }
}