/* Header */

nav.navbar-static-top {
  background-color: white !important;
  margin-bottom: 0px !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 0px;
}

@media (min-width: 768px) { /* not mobile */
  nav.navbar-static-top {
    height: 72px;
  }

  div.navbar-header {
    margin-left: 30px !important;

    a.navbar-brand{
      outline: none;
      height: 72px;

      img {
        margin-top: 10px;
        width: 82px;
        height: 20px;
      }
    }
  }
}

a.navbar-brand img {
  width: 150px;
  color: rgba(78, 90, 107, 0.5);
}

button.navbar-toggle {
  border: 0;
}

.navbar-collapse {
  background-color: white;
}

ul.navbar-nav li {
  opacity: 0.8;
  font-family: $oc_main_font;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #6d645f;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

ul.navbar-top li {
  margin-top: 10px;
}

@media (min-width: 768px)  { /* not mobile */
  .navbar-nav>li>a {
    padding-top: 18px;
  }
  .navbar-nav>li button.mlb-get-started{
    margin-top: 12px; 
  }
}