@include mobile(){
  body.mobile-menu-expanded {
    overflow: hidden;
    height: 100vh;
  }
}

div.site-mobile-menu {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 73px);
  top: 73px;
  left: 0px;
  background-color: #FFFDF9;
  z-index: 1081;
  padding: 0px 16px;

  div.site-mobile-menu-container {
    margin: 64px 0px;

    div.site-mobile-menu-item {
      width: 100%;
      text-align: center;
      padding: 16px 0px;

      a {
        @include avenir_M();
        font-size: 24px;
        color: $carrot_dark_gray;

        &.active {
          text-decoration: underline;
        }
      }
    }
  }

  div.site-mobile-menu-footer {
    position: absolute;
    width: 100%;
    bottom: 80px;
    left: 0px;
    padding: 16px;

    button.login-btn {
      background-color: white;
      border-radius: 100px;
      border: 2px solid $carrot_light_blue_2;
      @include avenir_H();
      font-size: 16px;
      color: $carrot_text_blue_3;
    }

    button, button.get-started-button {
      max-width: none;
      height: 48px;
      width: 100%;
      margin: 16px 0px 0px;
    }
  }
}