/* Header */

span.go-to-digest {
  position: relative;
  display: block;
  text-align: right;

  @include tablet() {

    &:before {
      display: none;
    }
  }
}

nav.site-navbar {
  height: 83px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  background-color: $ultra_light_gold;
  transition: background-color 180ms, height 180ms;

  @include tablet() {
    height: 72px;
  }

  &.sticky {
    // border-bottom: 1px solid rgba($carrot_dark_brown_1, 0.1);
    height: 60px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.16);
    background-color: white;

    div.site-navbar-container {
      padding: 16px;

      &.is-slack-header {
        a.navbar-brand-left {
          @include mobile() {
            top: 16px;
          }
        }
      }

      div.site-navbar-right {
        top: 10px;
      }

      div.mobile-ham-menu {
        top: 14px;
      }
    }
  }

  div.site-navbar-container {
    height: 60px;
    padding: 39px 16px 16px;
    position: relative;
    max-width: 1209px;
    margin: 0 auto;
    transition: padding 180ms;

    @include tablet() {
      width: 100%;
      padding: 22px 24px;
      height: 72px;
    }

    div.mobile-ham-menu {
      display: none;

      @include tablet() {
        display: block;
        position: absolute;
        width: 32px;
        height: 28px;
        background-image: cdnUrl("/img/ML/mobile_ham_menu.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: 0 center;
        top: 21px;
        left: 16px;
      }
    }

    a {
      @include OC_Body_Bold();
      color: rgba(#70674B, 0.8);
      font-size: 16px;
      margin: 0px 8px;
      display: inline-block;
      height: 30px;
      margin-top: 12px;

      &:hover {
        text-decoration: underline;
      }
    }

    div.site-navbar-left {
      // position: absolute;
      // top: 15px;
      // left: 16px;
      // height: 40px;
      float: left;
    }

    &.is-slack-header {
      a.navbar-brand-left {
        @include mobile() {
          position: absolute;
          top: 24px;
          left: 50%;
        }
      }

      div.navbar-brand-center {
        display: none;
      }

      div.site-navbar-right {
        margin-top: 0;
      } 
    }

    div.site-navbar-right {
      position: absolute;
      height: 40px;
      right: 16px;
      top: 33px;
      transform: top 180ms;

      @include mobile() {
        top: 21px;
        height: 28px;

        a.go-to-digest-bt {
          display: none;
        }
      }

      a.login, a.signup {
        height: 40px;
        color: $carrot_green;
        @include OC_Body_Book();
        font-size: 18px;
        line-height: 40px;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 0;

        @include mobile() {
          height: 30px;
        }

        &:hover {
          text-decoration: none;
          opacity: 1;
        }

        &.continue-with-slack {
          position: relative;

          @include mobile() {
            width: 24px;
            background-color: transparent;
            padding: 0;
            margin: 0;

            &:before {
              content: "";
              position: absolute;
              top: 2px;
              left: 0;
              width: 24px;
              height: 24px;
              background-image: cdnUrl("/img/ML/slack_purple_logo.svg");
              background-position: center;
              background-size: 24px 24px;
              background-repeat: no-repeat;
            }
          }
        }
      }

      a.signup {
        background-color: $carrot_orange;
        color: white;
        heigth: 40px;
        @include OC_Body_Bold();
        color: white;
        font-size: 18px;
        line-height: 24px;
        padding: 8px 16px;
        border-radius: 4px;
        margin-left: 16px;

        &.your-digest {
          margin-left: 0;
          color: white;
        }
      }

      a.mobile-your-digest {
        margin-top: 6px;

        img.user-avatar {
          max-width: 32px;
          max-height: 32px;
          float: left;
          border-radius: 50%;
        }
      }
    }

    a.navbar-brand-left {
      float: left;
      margin: 0;
      width: 118px;
      height: 28px;
      background-image: cdnUrl("/img/ML/carrot_wordmark.svg");
      background-size: 118px 28px;
      background-repeat: no-repeat;
      padding: 0;

      @include tablet() {
        display: block;
        position: absolute;
        float: unset;
        left: 50%;
        margin: 0 0 0 -65px;
        width: 131px;
        height: 32px;
        background-size: 131px 32px;
      }

      @include mobile() {
        width: 99px;
        height: 24px;
        background-size: 99px 24px;
        margin: 2px 0 0 -50px;
      }

      @media screen and (max-width: 320px) {
        width: 20px;
        margin-left: -10px;
      }
    }

    div.navbar-brand-center {
      width: 327px;
      height: 28px;
      margin: 0 auto;
      text-align: center;

      @include tablet() {
        display: none;
      }

      a {
        @include OC_Body_Book();
        padding: 0px 20px;
        display: inline-block;
        font-size: 18px;
        line-height: 28px;
        color: $deep_navy;
        margin: 0;
        height: 28px;
        z-index: 2;

        &.active {
          color: rgba($deep_navy, 0.5);
        }
      }

      div.apps-container {
        position: relative;
        display: inline-block;

        button.apps-bt {
          @include OC_Body_Book();
          display: inline-block;
          font-size: 18px;
          line-height: 28px;
          color: $deep_navy;
          margin: 0;
          padding: 0px 20px;
          height: 28px;
          position: relative;
          z-index: 2;

          &.active {
            color: $deep_navy;
          }
        }

        &.dropdown-menu-visible {
          div.apps-dropdown-menu {
            opacity: 1;
            margin-top: 55px;
            top: 0;
          }

          button.apps-bt {
            color: $carrot_green;
          }
        }

        div.apps-dropdown-menu {
          opacity: 0;
          transition: opacity 180ms, margin-top 180ms;
          background-color: white;
          border-radius: 6px;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.18);
          width: 200px;
          padding: 24px 40px;
          text-align: center;
          position: absolute;
          top: -500px;
          margin-top: 35px;
          left: 50%;
          transform: translateX(-50%);

          & > div.app-items-group:first-child {
            margin-top: 0;
          }

          div.app-items-group {
            margin-top: 24px;
            @include OC_Body_Book();
            font-size: 16px;
            line-height: 20px;
            color: rgba($deep_navy, 0.5);
          }

          a.app-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;

            &:hover {
              text-decoration: none;

              span:not(.beta-app-label) {
                text-decoration: none;
                color: $carrot_green;
              }
            }

            span:not(.beta-app-label) {
              @include OC_Body_Book();
              font-size: 18px;
              line-height: 23px;
              color: $deep_navy;
            }
          }
        }
      }
    }
  }
}

section {
  a.carrot-logo {
    width: 160px;
    height: 39px;
    background-image: cdnUrl("/img/ML/carrot_wordmark.svg");
    background-size: 160px 39px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    position: absolute !important;
    left: 16px;
    top: 120px;

    @media screen and (min-width: 1200px) {
      left: 50%;
      margin-left: -587px;
    }

    @include tablet() {
      display: none;
    }
  }
}

@include tablet() {
  body.mobile-menu-expanded {
    nav.site-navbar {
      div.site-navbar-container {
        div.mobile-ham-menu {
          background-image: cdnUrl("/img/ML/mobile_x_menu.svg");
          background-size: 14px 14px;
        }

        // a.navbar-brand-left {
        //   left: 50%;
        //   margin-left: -62px;
        // }

        div.site-navbar-right {
          opacity: 0;
        }
      }
    }
  }
}

@include big_web()  { /* not mobile */
  .navbar-nav>li>a {
    padding-top: 18px;
  }
  .navbar-nav>li button.mlb-get-started{
    margin-top: 12px;
  }
}