/* Header */

span.go-to-digest {
  width: 194px;
  height: 40px;
  border-radius: 8px;
  background-color: $carrot_green;
  color: white;
  @include avenir_B();
  font-size: 14px;
  position: relative;
  display: block;
  text-align: right;
  padding: 11px 26px 11px 26px;

  @include tablet() {
    padding: 11px 16px 11px 16px;
    text-align: center;
    width: 164px;

    &:before {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 22px;
    top: 11px;
    width: 18px;
    height: 16px;
    background-image: cdnUrl("/img/ML/digest_white.svg");
    background-size: 18px 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

nav.site-navbar {
  height: 64px;
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transform: background-color 180ms, border-bottom 180ms;

  @include tablet() {
    height: 72px;
  }

  &.sticky {
    background-color: white;
    border-bottom: 1px solid rgba($ui_grey, 0.2);
    height: 56px;

    div.site-navbar-container {
      padding: 12px 16px;
      height: 56px;

      @include tablet() {
        padding: 14px 24px;
        width: 100%;
      }

      div.mobile-ham-menu {
        display: none;

        @include tablet() {
          display: block;
          position: absolute;
          height: 24px;
          top: 16px;
        }
      }

      a.navbar-brand-left {
        display: block;
        margin: 4px 0px 0px;
        width: 99px;
        height: 24px;
        background-size: 99px 24px;
        display: block;

        @include tablet() {
          margin: 2px 0px 0px -50px;
        }
      }

      div.navbar-brand-center {
        margin: 2px auto 0px;
      }

      &.is-slack-header {
        div.navbar-brand-center {
          display: none;
        }

        div.site-navbar-right {
          margin-top: -4px;
        }

      }

      div.site-navbar-right {
        height: 40px;
        margin-top: -34px;

        @include tablet() {
          margin-top: -6px;
        }

        @include mobile() {
          margin-top: 0;
          height: 30px;

          a.your-digest {
            margin-top: 0;
            height: 30px;
          }
        }

        a.login {
          height: 40px;
          padding: 10px 24px;

          @include mobile() {
            height: 30px;
            padding: 5px 12px;
          }
        }

        a.start {
          border-radius: 8px;
          background-color: $carrot_orange;
          color: white;
          height: 40px;
          padding: 10px 24px;

          @include mobile() {
            height: 30px;
            padding: 2px 12px;
          }

          span.slack-orange-icon {
            @include image-2x("/img/ML/slack_white_icon");
          }

          span.start-copy {
            position: relative;
            top: 0px;
          }

          &:not(.your-digest).slack-get-started {
            height: 40px;
            padding: 4px 24px;
            background-color: $carrot_orange;
            color: white;

            @include mobile() {
              height: 30px;
              padding: 2px 12px;
            }
          }
        }
      }
    }
  }

  div.site-navbar-container {
    height: 64px;
    padding: 24px 16px 0px;
    position: relative;
    max-width: 1209px;
    margin: 0 auto;

    @include tablet() {
      width: 100vw;
      padding: 22px 24px;
      height: 72px;
    }

    div.mobile-ham-menu {
      display: none;

      @include tablet() {
        display: block;
        position: absolute;
        width: 32px;
        height: 28px;
        background-image: cdnUrl("/img/ML/mobile_ham_menu.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
        top: 22px;
        left: 24px;
      }
    }

    a {
      @include avenir_H();
      color: rgba(#70674B, 0.8);
      font-size: 16px;
      margin: 0px 8px;
      display: inline-block;
      height: 30px;
      margin-top: 12px;

      &:hover {
        text-decoration: underline;
      }
    }

    div.site-navbar-left {
      // position: absolute;
      // top: 15px;
      // left: 16px;
      // height: 40px;
      float: left;
    }

    &.is-slack-header {
      a.navbar-brand-left {
        @include tablet() {
          float: left;
          position: relative;
          left: unset;
          margin: 2px 0px 0px;
        }
      }

      div.navbar-brand-center {
        display: none;
      }

      div.site-navbar-right {
        margin-top: 0;
      } 
    }

    div.site-navbar-right {
      float: right;
      margin-top: -34px;
      height: 40px;

      @include tablet() {
        margin-top: -6px;
      }

      @include mobile() {
        height: 30px;
        margin-top: 0;
      }

      a {
        margin: 0px 0px 0px 8px;
        text-transform: uppercase;
      }

      a.login {
        min-width: 96px;
        height: 40px;
        color: $ui_grey;
        @include avenir_B();
        font-size: 14px;
        padding: 10px 24px;
        text-align: center;
        margin-top: 0;
        border-radius: 8px;
        opacity: 0.8;
        float: left;

        @include mobile() {
          height: 30px;
        }

        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }

      a.mobile-your-digest {
        margin-top: 6px;

        img.user-avatar {
          max-width: 32px;
          max-height: 32px;
          float: left;
          border-radius: 50%;
        }
      }

      a.start {
        min-width: 84px;
        height: 40px;
        border-radius: 8px;
        @include avenir_B();
        font-size: 14px;
        color: $carrot_orange;
        background-color: $coral;
        padding: 10px 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        opacity: 0.8;

        &:active, &:focus {
          text-decoration: none;
        }

        @include mobile() {
          height: 30px;
          width: auto;
          text-align: center;
          padding: 4px 12px;
          font-size: 13px;
          letter-spacing: 0.46px;
          min-width: 64px;

          span.slack-copy {
            top: 2px;
            position: relative;
          }

          span.copy {
            top: 2px;
            position: relative; 
          }
        }

        span.slack-orange-icon {
          width: 16px;
          height: 16px;
          @include image-2x("/img/ML/slack_orange_icon");
          background-repeat: no-repeat;
          background-size: 16px 16px;
          margin-right: 6px;
          position: relative;
          margin-top: -4px;

          @include tablet() {
            display: none;
          }
        }

        &:not(.your-digest).slack-get-started {
          height: 40px;
          background-color: $coral;
          @include avenir_H();
          font-size: 16px;
          color: $carrot_orange;
          text-align: left;
          border: 2px solid $carrot_orange_light;
          padding: 9px 24px;

          &.slack {
            padding: 5px 24px 0;
          }

          @media screen and (max-width: 320px) {
            display: none;
          }
        }

        &.your-digest {
          height: unset;
          border: none;
          border-radius: 8px;
          background-color: $carrot_green;
          padding: 0px;
          margin-top: 0;
          opacity: 1;
        }

        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
    }

    a.navbar-brand-left {
      float: left;
      margin: 6px 0px 0px;
      width: 115px;
      height: 28px;
      background-image: cdnUrl("/img/ML/carrot_wordmark.svg");
      background-size: 115px 28px;
      background-repeat: no-repeat;
      padding: 0;
      display: none;

      @include tablet() {
        display: block;
        position: absolute;
        float: unset;
        left: 50%;
        margin: 2px 0px 0px -50px;
        width: 99px;
        height: 24px;
        background-size: 99px 24px;
      }

      @media screen and (max-width: 320px) {
        width: 20px;
        margin-left: -10px;
      }
    }

    div.navbar-brand-center {
      width: 327px;
      height: 28px;
      margin: 6px auto 0px;
      text-align: center;

      @include tablet() {
        display: none;
      }

      a {
        @include avenir_R();
        padding: 0px 12px;
        display: inline-block;
        font-size: 18px;
        line-height: 28px;
        color: $ui_grey;
        margin: 0px;
        height: 28px;

        &.active {
          @include avenir_H();
          color: $deep_navy;
        }
      }
    }
  }
}

section {
  a.carrot-logo {
    width: 160px;
    height: 39px;
    background-image: cdnUrl("/img/ML/carrot_wordmark.svg");
    background-size: 160px 39px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    position: absolute !important;
    left: 16px;
    top: 120px;

    @media screen and (min-width: 1200px) {
      left: 50%;
      margin-left: -587px;
    }

    @include tablet() {
      display: none;
    }
  }
}

@include tablet() {
  body.mobile-menu-expanded {
    nav.site-navbar {
      div.site-navbar-container {
        div.mobile-ham-menu {
          background-image: cdnUrl("/img/ML/mobile_x_menu.svg");
          background-size: 14px 14px;
        }

        // a.navbar-brand-left {
        //   left: 50%;
        //   margin-left: -62px;
        // }

        div.site-navbar-right {
          opacity: 0;
        }
      }
    }
  }
}

@include big_web()  { /* not mobile */
  .navbar-nav>li>a {
    padding-top: 18px;
  }
  .navbar-nav>li button.mlb-get-started{
    margin-top: 12px;
  }
}