/* Header */

@include mobile() {
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active{
    background-color: transparent;
  }

  div.collapse.navbar-collapse{
    border: none;
    box-shadow: none;border: none;
    position: relative;
    height: calc(100vh - 72px);
  }

  .navbar-toggle .icon-bar {
    transition: 320ms;
  }

  div.navbar-header {
    height: 72px;
    transition: background-color 230ms;
  }

  .navbar-toggle .icon-bar {
    background-color: #333333;
  }

  body.mobile-menu-expanded {
    nav.navbar-static-top {
      box-shadow: none;
      width: 100vw;

      .navbar-toggle .icon-bar {

        &:nth-child(2){
          transform: rotate(-45deg);
          top: 8px;
          position: relative;
        }

        &:nth-child(3){
          transform: rotate(45deg);
          top: 2px;
          position: relative;
        }

        &:nth-child(4){
          transform: rotate(-45deg);
          top: -4px;
          position: relative;
        }
      }

      div.navbar-header {
        border: none;
        box-shadow: none;
      }
    }
  }

  div.collapse.navbar-collapse {
    height: calc(100vh - 60px);
    border: none;
    box-shadow: none;

    ul {
      border: none;
      box-shadow: none;
    }
  }
}

nav.navbar-static-top {
  background-color: white !important;
  margin-bottom: 0px !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 0px;
}

nav.navbar-static-top {
  height: 72px;
}

@include big_web() { /* not mobile */

  div.navbar-header {
    margin-left: 30px !important;

    a.navbar-brand{
      outline: none;
      height: 72px;

      img {
        margin-top: 10px;
        width: 82px;
        height: 20px;
      }
    }
  }
}

div.navbar-header {
  background-color: white;

  a.navbar-brand {
    width: 150px;
    height: 36px;
    background-image: cdnUrl("/img/ML/carrot_wordmark.svg");
    background-size: 150px 36px;
    background-repeat: no-repeat;
    margin-top: 18px;
    margin-left: 15px;
  }
}

button.navbar-toggle {
  border: 0;
}

@include mobile(){
  button.navbar-toggle {
    margin-top: 20px;
  }
}

.navbar-collapse {
  background-color: white;
}

ul.navbar-nav li a {
  opacity: 0.8;
  @include avenir_M();
  font-size: 14px;
  text-align: center;
  color: #6E655F !important;
  background-color: transparent !important;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

ul.navbar-top {
  margin-right: 30px;

  @include mobile() {
    margin: 7px auto;
    width: 290px;
  }

  li {
    padding-top: 10px;

    &.get-started-item {
      margin-left: 20px;
    }

    @include big_web(){
      &.active {
        padding-top: 6px;
        border-top: 4px solid $carrot_orange;
      }
    }

    @include mobile(){
      color: #333333 !important;
      margin-top: 20px;

      &.get-started-item {
        position: initial;
      }

      a {
        @include avenir_M();
        font-size: 20px;
        color: #333333 !important;
        opacity: 0.6;
      }

      &.active {
        background-image: cdnUrl("/img/ML/site_header_active_menu_item.svg");
        background-position: 100px 0px;
        background-size: 91px 56px;
        background-repeat: no-repeat;
        a {
          opacity: 1;
        }
      }
    }
  }
}

@include big_web()  { /* not mobile */
  .navbar-nav>li>a {
    padding-top: 18px;
  }
  .navbar-nav>li button.mlb-get-started{
    margin-top: 12px; 
  }
}