div.slack-channels-dropdown {
  width: 100%;
  position: relative;

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  input.board-edit-slack-channel {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    background-color: $ultra_light_grey;
    @include OC_Body_Book();
    font-size: 14px;
    color: $deep_navy;
    padding: 7px 8px;
    background-image: cdnUrl("/img/ML/select_arrows.svg");
    background-size: 8px 10px;
    background-position: top 11px right 4px;
    background-repeat: no-repeat;
    outline: none;
    border: none;

    &[disabled], &.disabled, &:disabled {
      cursor: not-allowed;
      color: $ui_grey;
    }

    @include placeholder() {
      color: $light_ui_grey;
    }
  }

  div.slack-channels-dropdown-list {
    position: absolute;
    z-index: #{$navbar_zindex + 103};
    width: 100%;
    max-height: 184px;
    border: 1px solid rgba($carrot_light_gray_1, 0.5);
    background-color: white;
    top: 32px;
    left: 0;
    overflow-y: auto;
    border-radius: 4px;

    div.slack-team{

      &.show-slack-name {
        div.channel {
          padding: 0.4rem 1rem;
        }
      }

      div.slack-team-name {
        @include OC_Body_Book();
        font-size: 14px;
        color: $carrot_light_gray;
        padding: 0.4rem 0.8rem;
      }

      div.channel {
        width: 100%;
        padding: 8px 16px;
        color: $carrot_dark_gray;
        @include OC_Body_Book();
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background-color: rgba($carrot_light_gray_4, 0.2);
        }

        span.ch-prefix {
          @include OC_Body_Book()
          font-size: 16px;
          color: $carrot_light_gray_1;
          margin-right: 4px;
        }
      }
    }
  }
}