div.slack-lander-wrap {
  background-color: $ultra_light_gold;

  div.main.slack-lander {
    text-align: center;
    width: 100%;

    section.cta {
      padding-top: 239px;
      padding-bottom: 120px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include tablet() {
        padding-top: 131px;
        padding-bottom: 80px;
      }

      @include mobile() {
        width: 100%;
        overflow: visible;
        padding: 131px 24px 80px;
      }

      * {
        position: relative;
        z-index: 3;
      }

      &:after {
        background-color: $another_ui_grey;
        content: "";
        width: 100%;
        height: 39%;
        min-height: 500px;
        display: block;
        border-bottom-left-radius: 200px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;

        @include tablet() {
          border-bottom-left-radius: 0;
          border-top-right-radius: 200px;
        }

        @include mobile() {
          border-top-right-radius: 100px;
        }

        @media screen and (max-width: 440px) {
          height: 25%;
        }
      }

      h1.headline {
        font-size: 80px;
        @include OC_Title()
        color: $deep_navy;
        margin: 0 auto;
        z-index: 2;
        position: relative;
        padding: 0 24px;

        @include mobile(){
          font-size: 50px;
          line-height: 56px;
          padding: 0;
        }

        @media screen and (max-width: 380px) {
          font-size: 40px;
          line-height: 46px;
        }
      }

      div.subheadline {
        color: $ui_grey;
        font-size: 30px;
        line-height: 38px;
        @include OC_Body_Medium();
        margin: 24px auto 0px;
        z-index: 2;
        position: relative;
        max-width: 800px;
        padding: 0 24px;

        @include mobile(){
          margin-top: 16px;
          font-size: 18px;
          line-height: 23px;
          padding: 0px;
          color: $deep_navy;
          max-width: initial;
          padding: 0;
        }
      }
    }

    a.continue-with-slack-bt {
      display: block;
      width: 320px;
      height: 64px;
      background-image: cdnUrl("/img/ML/continue_with_slack.svg");
      background-size: 209px 17px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $carrot_orange;
      margin: 32px auto 0;
      border-radius: 8px;

      @include mobile() {
        margin: 40px auto 0;        
      }
    }

    section.keep-aligned {
      text-align: center;
      margin: 0px auto;
      background-color: $another_ui_grey;
      padding: 120px 0;

      @include mobile() {
        padding: 80px 24px;
      }

      div.keep-aligned-title {
        @include OC_Body_Bold();
        font-size: 28px;
        color: $deep_navy;
      }
    }
  }
}