div#wrap {
  div.main.slack {
    text-align: center;
    width: 100%;
    background-image: cdnUrl("/img/ML/slack_yellow_bg.svg");
    background-size: 1937px 1550px;
    background-position: center 520px;
    background-repeat: no-repeat;

    @include mobile() {
      padding: 0 32px;
    }

    section {
      @include mobile_to_tablet(){
        padding: 0 32px;
      }
    }

    section.carrot-plus-slack {
      padding-top: 72px;
      padding-bottom: 0px;
      text-align: center;
      position: relative;
      overflow: hidden;

      button.signin-with-slack {
        width: 280px;
        height: 48px;
        margin-top: 32px;
        background-color: #FA6654;
        border-radius: 100px;
        padding: 12px 50px;
        @include avenir_H();
        font-size: 18px;
        color: white;
        text-align: left;

        div.slack-white-icon {
          width: 70px;
          height: 21px;
          @include image-2x("/img/ML/slack_white_icon");
          background-repeat: no-repeat;
          background-size: 70px 21px;
          float: right;
        }
      }

      div.signin-with-slack-description {
        @include avenir_M();
        font-size: 14px;
        line-height: 20px;
        color: rgba(#8D8162, 0.6);
        margin: 20px auto 0px;
        width: 500px;

        a {
          color: rgba(#8D8162, 0.6);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }

        &.second-line {
          margin-top: 0px;
        }

        @include mobile(){
          width: 100%;
        }
      }

      @include mobile(){
        overflow: visible;
      }

      &.no-get-started-button {
        div.balloon {
          &.big-blue {
            top: 391px;
          }

          &.big-purple-1 {
            top: 957px;
          }

          &.small-purple {
            top: 374px;
          }

          &.small-green-face {
            top: 886px;
          }
        }
      }

      div.balloon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;

        @include mobile() {
          display: none;
        }

        
      }

      div.carrot-plus-slack {
        width: 217px;
        height: 81px;
        @include image-2x("/img/ML/carrot_plus_slack");
        background-size: 217px 81px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 80px auto 0px;
      }

      h1.slack {
        @include avenir_H();
        font-size: 48px;
        line-height: 60px;
        color: $carrot_dark_gray;
        margin: 34px auto 0px;
        padding: 0px 16px;
      }

      div.slack-subline-container {
        margin-top: 6px;

        div.slack-subline {
          @include avenir_R();
          font-size: 24px;
          line-height: 30px;
          color: rgba($carrot_light_gray_3, 0.8);
          max-width: 744px;
          margin: 0px auto;
          width: 580px;
          text-align: center;

          @include tablet(){
            width: 100%;
            margin: 16px auto 0;
            padding: 0 16px;
          }
        }
      }

      div.horizontal-carousell {
        width: 100vw;
        height: 482px;
        margin-top: 64px;
        margin-left: -32px;
        z-index: 10;
        overflow-x: auto;

        @include big_web(){
          display: none;
        }

        div.horizontal-carousell-inner {
          width: calc(893px + 24px);
          height: 482px;

          img {
            width: 271px;
            height: 482px;
            float: left;
            display: inline;
            border-radius: 8px;
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.12);
          }

          img.horizontal-carousell-1 {
            margin-left: 32px;
          }

          img.horizontal-carousell-2 {
            margin-left: 20px;
          }

          img.horizontal-carousell-3 {
            margin-left: 20px;
            margin-right: 32px;
          }
        }
      }

      video.slack-main-animation {
        width: 940px;
        margin: 85px auto 0px;
        padding: 0;
        z-index: 10;
        position: relative;
        border-radius: 8px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.12);

        @include tablet() {
          width: 100%;
        }

        @include mobile() {
          display: none;
        }

        img.homepage-main-screenshot {
          width: 940px;
          margin-left: -16px;
          padding: 0;

          @include mobile() {
            width: 100%;
            height: auto;
            margin: 0px;
          }
        }
      }

      div.designed-for-container {
        margin: 72px auto 80px;

        @include tablet() {
          margin: 80px auto;
        }

        div.designed-for {
          @include avenir_M();
          font-size: 34px;
          line-height: 42px;
          color: $carrot_dark_gray;
        }

        div.designed-for-content {
          @include avenir_R();
          font-size: 24px;
          line-height: 30px;
          color: rgba($carrot_dark_gray, 0.8);
          max-width: 660px;
          margin: 22px auto 0px;
        }
      }

      div.cards-container {
        max-width: 940px;
        margin: 0px auto;
        position: relative;
        z-index: 2;

        div.cards-row {
          margin-top: 20px;

          div.card {
            &:not(:first-child) {
              margin-left: 20px;
            }

            text-align: left;
            float: left;
            width: 300px;
            height: 332px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
            padding: 40px;

            @include tablet() {
              float: none;
              margin: 20px auto 0px;

              &:not(:first-child) {
                margin: 20px auto 0px;
              }
            }

            div.card-icon {
              background-repeat: no-repeat;
              background-position: center;
            }

            div.card-title {
              @include avenir_M();
              font-size: 20px;
              color: $carrot_dark_gray;
              width: 70%;
            }

            div.card-content {
              @include avenir_R();
              font-size: 18px;
              color: rgba($carrot_dark_gray, 0.8);
              margin-top: 11px;

              a {
                color: $carrot_text_blue_3;
                text-decoration: none;
              }
            }

            &.card-1 {
              div.card-icon {
                width: 44px;
                height: 41px;
                background-size: 44px 41px;
                @include image-2x("/img/ML/homepage_card_icon_1");
                margin-bottom: 35px;
              }
            }

            &.card-2 {
              div.card-icon {
                width: 40px;
                height: 40px;
                background-size: 40px 40px;
                @include image-2x("/img/ML/homepage_card_icon_2");
                margin-bottom: 36px;
              }
            }

            &.card-3 {
              div.card-icon {
                width: 44px;
                height: 44px;
                background-size: 44px 44px;
                @include image-2x("/img/ML/homepage_card_icon_3");
                margin-bottom: 31px;
              }

              div.card-title {
                width: 90%;
              }
            }

            &.card-4 {
              div.card-icon {
                width: 32px;
                height: 40px;
                background-size: 32px 40px;
                @include image-2x("/img/ML/homepage_card_icon_4");
                margin-bottom: 36px;
              }

              div.card-title {
                width: 50%;
              }
            }

            &.card-5 {
              div.card-icon {
                width: 42px;
                height: 41px;
                background-size: 42px 41px;
                @include image-2x("/img/ML/homepage_card_icon_5");
                margin-bottom: 35px;
              }
            }

            &.card-6 {
              div.card-icon {
                width: 40px;
                height: 40px;
                background-size: 40px 40px;
                @include image-2x("/img/ML/homepage_card_icon_6");
                margin-bottom: 36px;
              }

              div.card-title {
                width: 43%;
              }
            }
          }
        }
      }
    }
  }
}