div.slack-bot-modal {
  background-color: $carrot_modal_bg;
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;

  @include mobile() {
    top: 65px;
    background-color: white;
    height: calc(100vh - 65px);
  }

  div.slack-bot-modal-inner {
    width: 510px;
    margin: 72px auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    overflow-x: visible;
    overflow-y: auto;
    overflow: visible;
    position: relative;
    border-radius: 4px;
    padding: 40px 60px;

    @include mobile() {
      width: 100%;
      box-shadow: none;
      border: none;
      border-radius: 0px;
      margin-top: 0px;
    }

    button.settings-modal-close {
      right: -56px;
      top: 0px;

      @include mobile() {
        display: none;
      }
    }

    div.carrot-plus-slack {
      width: 145px;
      height: 60px;
      @include image-2x("/img/ML/carrot_plus_slack");
      background-size: 145px 60px;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0px auto;
    }

    h1.slack-bot-modal-title {
      margin: 32px auto;
      padding: 0px;
      @include avenir_H();
      font-size: 24px;
      color: $deep_navy;
      width: 100%;
      text-align: center;
    }

    div.slack-bot-modal-item {
      padding-left: 56px;
      @include avenir_R();
      font-size: 16px;
      line-height: 24px;
      color: $deep_navy;
      position: relative;
      text-align: left;
      width: 100%;
      height: 40px;
      margin-top: 20px;
      padding-top: 8px;

      &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
      }

      &.first-item:before {
        background-image: cdnUrl("/img/ML/slack_bot_modal_mega.svg");
      }

      &.second-item:before {
        background-image: cdnUrl("/img/ML/slack_bot_modal_loop.svg");
      }

      &.third-item:before {
        background-image: cdnUrl("/img/ML/slack_bot_modal_team.svg");
      }
    }

    div.slack-bot-modal-buttons {
      margin-top: 24px;

      button.slack-bot-modal-dismiss {
        @include avenir_M();
        font-size: 16px;
        color: $ui_grey;
        width: 50%;
        float: left;
        height: 48px;
      }

      button.slack-bot-modal-add {
        @include avenir_H();
        font-size: 15px;
        width: 50%;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background-color: $carrot_green;
        border-radius: 100px;
        height: 48px;
        padding: 15px 16px;

        span.slack-icon {
          width: 16px;
          height: 16px;
          background-size: 16px;
          background-position: 0px 0px;
          background-image: cdnUrl("/img/ML/slack_white_icon.svg");
          float: left;
          margin-right: 8px;
        }
      }
    }
  }
}