div.slack-wrap {
  background-color: $ultra_light_gold;

  div.main.slack {
    width: 100%;

    section {
      background-color: $ultra_light_gold;
    }

    section.carrot-plus-slack {
      padding-top: 138px;
      padding-bottom: 80px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include mobile() {
        padding: 88px 16px 40px;
      }

      & > * {
        position: relative;
        z-index: 3;
      }

      &:before {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 50%;
        transform: translateX(-50%);
        background-color: $another_ui_grey;
        border-radius: 20px 200px 20px 20px;
        display: block;
        content: "";
        max-width: 1200px;
      }

      h1.slack-headline {
        @include OC_Title()
        font-size: 64px;
        line-height: 90px;
        color: $deep_navy;
        margin: 0 auto;
        max-width: 784px;

        @include tablet() {
          font-size: 80px;
          line-height: 80px;
        }

        @include mobile() {
          font-size: 36px;
          line-height: 40px;
        }
      }

      div.slack-subline {
        @include OC_Body_Book();
        font-size: 26px;
        line-height: 36px;
        color: $deep_navy;
        max-width: 840px;
        margin: 24px auto 0px;
        text-align: center;

        &:first-of-type {
          margin-top: 8px;
        }

        @include tablet(){
          width: 100%;
          margin-top: 16px;
          font-size: 24px;
          line-height: 32px;
          max-width: 660px;
        }
      }
    }

    div.slack-button-container {
      margin: 32px auto 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile() {
        width: 100%;
        display: block;
        justify-content: initial;
        align-items: initial;
      }

      a, button {
        width: 320px;
        margin: 0 12px;
        float: left;
        height: 56px;

        @include tablet() {
          max-width: calc(50% - 16px);
          margin: 0 8px;
        }

        @include mobile() {
          float: unset;
          width: 100%;
          max-width: 100%;
          margin: 0;
          height: 48px;
        }
      }

      a.add-to-slack-button {
        display: block;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.07);
        @include image-2x("/img/ML/slack_add_to_slack");
        background-size: 150px 25px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 6px;
        background-color: white;
        border: 1px solid #C8CACD;

        @include mobile() {
          margin-top: 16px;
          @include image-2x("/img/ML/homepage_add_to_slack_bt");
          background-size: 138px 24px;
        }
      }
    }
  }
}