// button.signin-with-slack {
//   width: 255px;
//   height: 48px;
//   border-radius: 100px;
//   background-color: $carrot_orange;
//   color: white;
//   @include avenir_H();
//   font-size: 20px;
//   margin: 48px auto 0;
//   position: relative;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   @include tablet(){
//     width: 100%;
//     // max-width: 280px;
//     margin: 24px auto 16px;
//     font-size: 18px;
//   }

//   span.slack-copy {
//     position: relative;
//     top: 0px;
//   }

//   span.slack-white-icon {
//     width: 24px;
//     height: 24px;
//     @include image-2x("/img/ML/slack_white_icon");
//     background-repeat: no-repeat;
//     background-size: 24px 24px;
//     margin-right: 8px;
//     position: relative;
//   }
// }

div.slack-wrap {
  background-color: #FFFDF9;

  div.main.slack {
    width: 100%;

    section {
      background-color: #FFFDF9;
    }

    section.carrot-plus-slack {
      padding-top: 239px;
      padding-bottom: 120px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include tablet() {
        padding-top: 131px;
        padding-bottom: 80px;
      }

      &:after {
        background-color: #F8F7F3;
        content: "";
        width: 100%;
        height: 41%;
        display: block;
        border-bottom-left-radius: 200px;
        position: absolute;
        bottom: 0;
        right: 0;

        @include tablet() {
          border-bottom-left-radius: 100px; 
        }

        @media screen and (max-width: 440px) {
          height: 25%;
        }
      }

      @include tablet() {
        overflow: visible;
        padding: 131px 24px 80px;
      }

      h1.slack-headline {
        font-family: "PT Serif";
        font-weight: 700;
        font-size: 80px;
        line-height: 90px;
        color: $deep_navy;

        @include tablet() {
          font-size: 80px;
          line-height: 80px;
        }

        @include mobile() {
          font-size: 36px;
          line-height: 40px;
        }
      }

      div.slack-subline {
        @include avenir_R();
        font-size: 30px;
        line-height: 38px;
        color: $ui_grey;
        max-width: 720px;
        margin: 40px auto 0px;
        text-align: center;

        @include tablet(){
          width: 100%;
          margin: 32px auto 0;
          font-size: 24px;
          line-height: 32px;
        }

        @include mobile(){
          width: 100%;
          margin: 16px auto 0;
          font-size: 24px;
          line-height: 32px;
        }
      }

      div.no-credit-card {
        margin-top: 16px;
        @include avenir_R();
        color: $ui_grey;
        font-size: 16px;
        margin-top: 24px;
        text-align: center;

        @include tablet() {
          font-size: 12px;
        }
      }
    }

    div.slack-button-container {
      margin: 40px auto 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile() {
        width: 100%;
        display: block;
        justify-content: initial;
        align-items: initial;
      }

      a, button {
        width: 320px;
        margin: 0 12px;
        float: left;
        height: 64px;

        @include tablet() {
          max-width: calc(50% - 16px);
          margin: 0 8px;
        }

        @include mobile() {
          float: unset;
          width: 100%;
          max-width: 100%;
          margin: 0;
          height: 48px;
        }
      }

      a.add-to-slack-button {
        display: block;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.07);
        @include image-2x("/img/ML/slack_add_to_slack");
        background-size: 155px 25px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 6px;
        background-color: white;
        border: 1px solid #C8CACD;

        @include mobile() {
          margin-top: 16px;
          @include image-2x("/img/ML/homepage_add_to_slack_bt");
          background-size: 140px 24px;
        }
      }
    }
  }
}