div.slack-users-dropdown {
  width: 100%;
  position: relative;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;

    i.fa {
      cursor: not-allowed;
    }
  }

  input.slack-users-dropdown {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    background-color: var(--opac-background-color-1);
    @include OC_Body_Book();
    font-size: 14px;
    color: var(--color);
    padding: 7px 8px;
    outline: none;
    border: none;

    &[disabled]{
      cursor: not-allowed;
    }

    @include placeholder() {
      @include OC_Body_Book();
      font-size: 14px;
      color: var(--light-color);
    }
  }

  div.arrows {
    width: 8px;
    height: 10px;
    background-image: cdnUrl("/img/ML/select_arrows.svg");
    background-size: 8px 10px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    right: 8px;
  }

  div.slack-users-dropdown-list {
    position: absolute;
    z-index: #{$navbar_zindex + 103};
    width: 100%;
    max-height: 184px;
    background-color: var(--overlay-background-color);
    margin-left: -260px;
    top: 39px;
    left: 260px;
    overflow-y: auto;
    border-radius: 4px;
    padding: 4px 0;
    border: 1px solid var(--divider-line);

    div.user {
      width: 100%;
      padding: 4px 8px;
      cursor: pointer;
      height: 32px;
      text-overflow: ellipsis;
      overflow: hidden;

      @include user-profile(24);

      div.user-avatar-img-container {
        float: left;
      }

      div.user-name {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 24px;
        margin-left: 4px;
        float: left;
        max-width: calc(100% - 40px);

        span.slack-org {
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--light-color);
          white-space: nowrap;
          display: inline-block;
          margin-left: 16px;
        }
      }

      &:hover {
        background-color: $wut_feint_purple;
      }
    }
  }
}

@include dark_mode() {
  div.slack-users-dropdown div.arrows {
    background-image: cdnUrl("/img/ML/select_arrows@dark.svg");   
  }
}