div.slack-lander-wrap {
  background-color: $ultra_light_gold;

  div.main.slack-lander {
    text-align: center;
    width: 100%;

    section.cta {
      padding-top: 138px;
      padding-bottom: 80px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include mobile() {
        width: 100%;
        overflow: visible;
        padding: 88px 16px 40px;
      }

      * {
        position: relative;
        z-index: 3;
      }

      &:before {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 32px);
        height: 32%;
        transform: translateX(-50%);
        background-color: rgba($deep_navy, 0.1);
        border-radius: 20px 200px 20px 20px;
        display: block;
        content: "";
        max-width: 1232px;
      }

      h1.headline {
        font-size: 60px;
        @include OC_Title();
        line-height: 76px;
        color: $deep_navy;
        margin: 0 auto;
        z-index: 2;
        position: relative;

        @include mobile(){
        }
      }

      div.subheadline {
        font-size: 28px;
        line-height: 36px;
        @include OC_Body_Book();
        margin: 8px auto 0;
        z-index: 2;
        position: relative;
        max-width: 700px;
        color: $deep_navy;

        @include mobile(){
        }
      }
    }

    a.continue-with-slack-bt {
      display: block;
      width: 320px;
      height: 56px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
      border: 1px solid #C8CACD;
      @include image-2x("/img/ML/continue_with_slack");
      background-size: 219px 25px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6px;
      background-color: white;
      margin: 24px auto 0;
    }

    section.keep-aligned {
      text-align: center;
      margin: 0px auto;
      background-color: $another_ui_grey;
      padding: 120px 0;

      @include mobile() {
        padding: 80px 24px;
      }

      div.keep-aligned-title {
        @include OC_Body_Bold();
        font-size: 28px;
        color: $deep_navy;
      }
    }
  }
}