button.signin-with-slack {
  width: 280px;
  height: 48px;
  margin-top: 32px;
  background-color: $carrot_orange_2;
  border-radius: 100px;
  padding: 12px 50px;
  @include avenir_H();
  font-size: 18px;
  color: white;
  text-align: left;

  div.slack-white-icon {
    width: 70px;
    height: 21px;
    @include image-2x("/img/ML/slack_white_icon");
    background-repeat: no-repeat;
    background-size: 70px 21px;
    float: right;
  }
}

div.signin-with-slack-description {
  @include avenir_BOOK();
  font-size: 12px;
  line-height: 19px;
  color: rgba($carrot_dark_gray, 0.6);
  margin: 20px auto 0px;
  width: 500px;

  a {
    color: rgba($carrot_text_blue_3, 0.8);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.second-line {
    margin-top: 0px;
  }

  @include mobile(){
    width: 100%;
  }
}

div#wrap {
  div.main.slack {
    text-align: center;
    width: 100%;
    background-image: cdnUrl("/img/ML/slack_yellow_bg.svg");
    background-size: 1937px 1550px;
    background-position: center 520px;
    background-repeat: no-repeat;

    @include tablet() {
      background-position: center 877px;
      background-size: 2020px 1616px;
    }

    &.no-get-started-button {
      background-position: center 389px;

      @include tablet() {
        background-position: center 746px;
      }

      section.carrot-plus-slack {
        div.balloon {
          &.big-blue {
            top: 429px;
          }

          &.small-purple-2 {
            top: 416px;
          }

          &.small-green {
            top: 1649px;
          }

          &.big-purple {
            top: 2059px;
          }

          &.small-red {
            top: 2236px;;
          }
        }
      }
    }

    @include mobile() {
      padding: 0 32px;
    }

    section {
      @include mobile_to_tablet(){
        padding: 0 32px;
      }
    }

    section.carrot-plus-slack {
      padding-top: 72px;
      padding-bottom: 232px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include tablet(){
        overflow: visible;
        padding: 80px 0px;
      }

      div.balloon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;

        @include mobile() {
          display: none;
        }

        &.big-green {
          @include image-2x("/img/ML/slack_balloon_big_green");
          background-size: 172px 172px;
          width: 172px;
          height: 172px;
          top: 6px;
          left: -76px;
        }

        &.big-red {
          @include image-2x("/img/ML/slack_balloon_big_red");
          background-size: 226px 209px;
          width: 226px;
          height: 209px;
          top: -10px;
          right: -55px;
        }

        &.small-purple {
          @include image-2x("/img/ML/slack_balloon_small_purple");
          background-size: 75px 76px;
          width: 75px;
          height: 76px;
          top: 122px;
          left: 40px;
        }

        &.small-yellow {
          @include image-2x("/img/ML/slack_balloon_small_yellow");
          background-size: 17px 15px;
          width: 17px;
          height: 15px;
          top: 115px;
          left: 155px;
        }

        &.small-yellow-face {
          @include image-2x("/img/ML/slack_balloon_small_yellow_face");
          background-size: 48px 48px;
          width: 48px;
          height: 48px;
          top: 212px;
          right: 211px;
        }

        &.small-purple-1 {
          @include image-2x("/img/ML/slack_balloon_small_purple_1");
          background-size: 23px 21px;
          width: 23px;
          height: 21px;
          top: 260px;
          right: 152px;
        }


        &.big-blue {
          @include image-2x("/img/ML/slack_balloon_big_blue");
          background-size: 200px 172px;
          width: 200px;
          height: 172px;
          top: 550px;
          left: 50%;
          margin-left: -554px;
        }

        &.small-purple-2 {
          @include image-2x("/img/ML/slack_balloon_small_purple_1");
          background-size: 23px 21px;
          width: 23px;
          height: 21px;
          top: 537px;
          left: 50%;
          margin-left: -330px; 
        }

        &.small-green {
          @include image-2x("/img/ML/slack_balloon_small_green");
          background-size: 33px 30px;
          width: 33px;
          height: 30px;
          top: 1770px;
          right: 187px;
        }

        &.big-purple {
          @include image-2x("/img/ML/slack_balloon_big_purple");
          background-size: 201px 172px;
          width: 201px;
          height: 172px;
          top: 2180px;
          left: 50%;
          margin-left: 319px;
        }

        &.small-red {
          @include image-2x("/img/ML/slack_balloon_small_red");
          background-size: 25px 25px;
          width: 25px;
          height: 25px;
          top: 2357px;
          left: 50%;
          margin-left: 286px;
        }
      }

      div.carrot-plus-slack {
        width: 217px;
        height: 81px;
        @include image-2x("/img/ML/carrot_plus_slack");
        background-size: 217px 81px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 80px auto 0px;
      }

      h1.slack {
        @include avenir_H();
        font-size: 48px;
        line-height: 60px;
        color: $carrot_dark_gray;
        margin: 34px auto 0px;
        padding: 0px 16px;
      }

      div.slack-subline {
        margin-top: 6px;
        @include avenir_R();
        font-size: 24px;
        line-height: 30px;
        color: rgba($carrot_light_gray_3, 0.8);
        max-width: 744px;
        margin: 0px auto;
        width: 540px;
        text-align: center;

        @include tablet(){
          width: 100%;
          margin: 16px auto 0;
          padding: 0 16px;
        }
      }

      div.designed-for-container {
        margin: 72px auto 80px;

        @include tablet() {
          margin: 80px auto;
        }

        div.designed-for {
          @include avenir_M();
          font-size: 34px;
          line-height: 42px;
          color: $carrot_dark_gray;
        }

        div.designed-for-content {
          @include avenir_R();
          font-size: 24px;
          line-height: 30px;
          color: rgba($carrot_dark_gray, 0.8);
          max-width: 660px;
          margin: 22px auto 0px;
        }
      }
    }

    section.third-section {
      text-align: center;
      max-width: 800px;
      margin: 72px auto;

      div.third-section-title {
        @include avenir_M();
        font-size: 34px;
        color: $carrot_dark_gray;
      }
    }
  }
}