div.slack-channels-dropdown {
  width: 100%;
  position: relative;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;

    i.fa {
      cursor: not-allowed;
      color: $ui_grey;
    }
  }

  input.board-edit-slack-channel {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba($carrot_light_gray_1, 0.5);
    @include OC_Body_Medium();
    font-size: 14px;
    padding: 12px;
    outline: none;
    color: $deep_navy;

    &[disabled]{
      cursor: not-allowed;
      color: $ui_grey;
    }

    @include placeholder() {
      @include OC_Body_Medium();
      font-size: 14px;
      color: $light_ui_grey;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    top: 18px;
    right: 16px;
    background-image: cdnUrl("/img/ML/section_access_chevron.svg");
    background-size: 8px 5px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  div.slack-channels-dropdown-list {
    position: absolute;
    z-index: #{$navbar_zindex + 103};
    width: 100%;
    max-height: 184px;
    border: 1px solid rgba($carrot_light_gray_1, 0.5);
    background-color: white;
    margin-left: -260px;
    top: 39px;
    left: 260px;
    overflow-y: auto;
    border-radius: 4px;

    div.slack-team{

      &.show-slack-name {
        div.channel {
          padding: 0.4rem 1rem;
        }
      }

      div.slack-team-name {
        @include OC_Body_Medium();
        font-size: 14px;
        color: $carrot_light_gray;
        padding: 0.4rem 0.8rem;
      }

      div.channel {
        width: 100%;
        padding: 8px 16px;
        color: $carrot_dark_gray;
        @include OC_Body_Medium();
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background-color: rgba($carrot_light_gray_4, 0.2);
        }

        span.ch-prefix {
          @include OC_Body_Medium()
          font-size: 16px;
          color: $carrot_light_gray_1;
          margin-right: 4px;
        }
      }
    }
  }
}