
div.slack-lander-wrap {
  background-color: #FFFDF9;

  div.main.slack-lander {
    text-align: center;
    width: 100%;

    section.cta {
      padding-top: 239px;
      padding-bottom: 120px;
      text-align: center;
      position: relative;
      overflow: hidden;

      @include mobile() {
        width: 100%;
        overflow: visible;
        padding: 131px 24px 80px;
      }

      * {
        position: relative;
        z-index: 3;
      }

      &:after {
        background-color: #F8F7F3;
        content: "";
        width: 100%;
        height: 41%;
        display: block;
        border-bottom-left-radius: 200px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;

        @include mobile() {
          border-bottom-left-radius: 100px; 
        }

        @media screen and (max-width: 440px) {
          height: 25%;
        }
      }

      h1.headline {
        font-size: 80px;
        font-family: "PT Serif", serif;
        font-weight: 700;
        color: $deep_navy;
        margin: 0 auto;
        z-index: 2;
        position: relative;
        padding: 0 24px;

        @include mobile(){
          font-size: 50px;
          line-height: 56px;
          padding: 0;
        }

        @media screen and (max-width: 380px) {
          font-size: 40px;
          line-height: 46px;
        }
      }

      div.subheadline {
        color: $ui_grey;
        font-size: 30px;
        line-height: 38px;
        @include avenir_R();
        margin: 24px auto 0px;
        z-index: 2;
        position: relative;
        max-width: 800px;
        padding: 0 24px;

        @include mobile(){
          margin-top: 16px;
          font-size: 18px;
          line-height: 23px;
          padding: 0px;
          color: $deep_navy;
          max-width: initial;
          padding: 0;
        }
      }
    }

    a.continue-with-slack-bt {
      display: block;
      width: 320px;
      height: 64px;
      background-image: cdnUrl("/img/ML/continue_with_slack.svg");
      background-size: 241px 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $carrot_orange;
      margin: 32px auto 0;
      border-radius: 8px;

      @include mobile() {
        margin: 40px auto 0;        
      }
    }

    section.keep-aligned {
      text-align: center;
      margin: 0px auto;
      background-color: #F8F7F3;
      padding: 120px 0;

      @include mobile() {
        padding: 80px 24px;
      }

      div.keep-aligned-title {
        @include avenir_H();
        font-size: 28px;
        color: $deep_navy;
      }

      div.no-credit-card {
        @include avenir_R();
        color: $ui_grey;
        font-size: 14px;
        margin-top: 24px;
        text-align: center;

        @include mobile() {
          font-size: 12px;
          margin-top: 0px;
        }
      }
    }
  }
}