div.sparklines{
  margin-top: 10px;

  &.finances-sparklines {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 6px 12px;

    div.finances-sparklines-inner {
      width: 90%;

      div.sparkline {

        &#finances-sparkline-cash {
          div.chart-bottom-label-container.chart-sparklines {
            max-width: none;
          }
        }

        div.center-box {
          width: 100%;
          overflow: hidden;
        }
      }
    }

    div.actions {
      margin: 10px 5px 0 0;
    }
  }

  &.editing {
    &.finances-sparklines{
      border: 1px solid rgba(78,90,107,0.4);
      padding: 6px 12px;

      &:hover {
        border: 2px solid rgb(249,215,72);
        padding: 5px 11px;

        div.actions {
          display: block;
        }
      }
    }

    div.growth-sparkline.sparkline {
      border: 1px solid rgba(78,90,107,0.4);
      padding: 8px 12px;

      &:hover {
        border: 2px solid rgb(249,215,72);
        padding: 7px 11px;

        div.actions {
          display: block;
        }
      }
    }
  }

  div.sparkline {
    margin: 0;
    padding: 8px 12px;

    &.growth-sparkline {
      border: 1px solid transparent;
      border-radius: 8px;
      margin-bottom: 0.3rem;

      div.center-box {
        float: left;
        overflow: hidden;
      }

      div.actions {
        margin: -5px 0 0 0;
      }
    }
  }

  div.actions {
    width: 20px;
    height: 30px;
    font-size: 14px;
    float: right;
    display: none;
    padding: 0;

    button{
      width: 20px;
      height: 14px;
      margin: 0px;
      padding: 0px 3px 0px 3px;
      opacity: 0.4;

      &:hover {
        opacity: 0.8;
      }
    }
  }

}