div.stakeholder-update {
  background-color: white;

  div.intro-title,
  div.topic-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 17px;
  }

  div.topic-headline {
    font-weight: 600;
    margin-bottom: 7px;
  }

  div.topic-headline {
    font-size: 16px;
  }

}

@include mobile() {

  div.stakeholder-update {

    div.intro-title,
    div.topic-title,
    div.topic-headline,
    div.topic-body {
      padding-left: 22px;
      padding-right: 22px;
    }

    div.update-topic {

      div.topic-title {
        margin-top: 14px;
      }
    }

    div.dashboard-link {
      padding-bottom: 20px; 
      text-align: center;
    }
  }
}

@include big_web() {

  div.stakeholder-update {

    div.company-header {
      padding-bottom: 46px;
    }

    div.stakeholder-update-drawer {
      position: relative;

      div.drawer-toggler {
        margin-top: -5px;
      }
    }
  
    div.update-internal {

      div.sections {
        background-color: white;
        position: relative;

        div.share-su {
          width: 910px;
          margin: 0 auto;
          padding-bottom: 20px;
          z-index: 100;

          button.share {
            margin: 0;
            padding: 0;
            outline: none;
            font-size: 12px;
            width: 90px;
            height: 25px;
            border: 1px solid $oc_gray_3;
            box-shadow: 1px 1px 1px 0 $topic_overlay_border_color;
            background-color: $oc_blue;
            color: white;

            &[disabled] {
              background-color: $oc_blue;
              opacity: 0.6;
            }
          }
        }

        div.floating-buttons{
          float: right;
          width: 160px;
          position: fixed;
          top: 10px;
          right: 150px;

          button {
            background-color: transparent;
            border: 0px;
            margin: 0;
            padding: 0;
            outline: none;
            font-size: 12px;
          }

          button.cancel {
            width: 30px;
            height: 25px;
            margin-top: 20px;
            margin-right: 20px;
            float: right;
          }

          button.save {
            width: 90px;
            height: 25px;
            border: 1px solid $oc_gray_3;
            box-shadow: 1px 1px 1px 0 $topic_overlay_border_color;
            margin-top: 20px;
            margin-right: 15px;
            background-color: $oc_green;
            color: white;
            float: right;
          }
        }

        div.update-sections {
          padding: 10px 0px;

          div.update-sections-internal{
            background-color: white;
            padding: 10px;
            max-width: 930px;
            margin: 8px auto;

            div.update-sections-internal-width {
              max-width: 570px;
              position: relative;

              div.overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background-color: rgba(255, 255, 255, 0.7);
              }
            }
          }
        }
      }

      div.intro-title,
      div.topic-title,
      div.topic-headline,
      div.topic-body {
        padding-right: 45px;
      }

      div.update-topic {

        max-width: 650px;

        div.topic-title {
          margin-top: 26px;
        }
      }
    }

    div.section-container {

      div.pillbox-container.growth,
      div.pillbox-container.finances {

        @include big_web(){
          margin-left: 0px;
          width: 100%;
        }

        @include mobile(){
          margin-left: -23px;
          width: calc(100% + 46px);
        }
      }
    }
  }
}