div.container {
  width: 100%;
  padding: 30px 0px 60px;
  margin-top: 1px;
  position: relative;
  overflow: hidden;

  &.privacy-policy-page, &.terms-of-service-page {
    background: linear-gradient(to top, #FBFAF7 80%, #FBE3DD 85%, #FFEFBD 91%, #FFFBED 105%);
  }

  div.balloon {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

    @include mobile() {
      display: none;
    }

    &.big-purple {
      @include image-2x("/img/ML/balloon_big_purple");
      background-size: 111px 111px;
      width: 111px;
      height: 111px;
      top: -64px;
      right: 118px;
    }

    &.big-red {
      @include image-2x("/img/ML/balloon_big_red");
      background-size: 226px 208px;
      width: 226px;
      height: 208px;
      top: -82px;
      right: -55px;
    }

    &.big-green {
      @include image-2x("/img/ML/balloon_big_green");
      background-size: 200px 172px;
      width: 200px;
      height: 172px;
      top: 358px;
      left: 50%;
      margin-left: -534px;
    }
  }

  div.legal-link {
    width: 800px;
    margin: 20px auto 40px;
    @include avenir_R();
    font-size: 18px;
    color: $carrot_dark_brown;

    @include mobile(){
      width: 100%;
      padding: 0 32px;
    }

    a {
      color: $carrot_orange;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div.readable-content-container {
    margin: 0px auto;
    @include avenir_R();
    font-size: 15px;
    color: $carrot_dark_brown;

    h1 {
      @include avenir_H();
      font-size: 32px;
      color: $carrot_dark_brown_1;
      text-align: center;
      margin-bottom: 32px;
    }

    @include big_web(){
      width: 800px;
    }

    @include mobile(){
      width: 100%;
      padding: 0 32px;
    }
  }
}