div.container {
  width: 100%;
  padding: 0 24px 60px;
  position: relative;
  overflow: hidden;
  background-color: $ultra_light_gold;

  div.readable-content-container {
    margin: 240px auto 0;
    @include avenir_R();
    font-size: 22px;
    line-height: 32px;
    color: $deep_navy;
    max-width: 1002px;
    width: 100%;

    @include tablet(){
      max-width: 720px;
      font-size: 22px;
      line-height: 30px;
      margin: 144px auto 0;
    }

    @include mobile(){
      margin: 131px auto 0;
      font-size: 16px;
      line-height: 24px;
    }

    h1 {
      @include PTSerif();
      font-size: 80px;
      line-height: 90px;
      text-align: center;
      margin: 0;

      @include tablet() {
        font-size: 80px;
        line-height: 60px;
      }

      @include mobile() {
        font-size: 36px;
        line-height: 40px;
      }
    }

    div.legal-link {
      max-width: 800px;
      width: 100%;
      margin: 20px auto 40px;
      @include avenir_R();
      font-size: 30px;
      line-height: 38px;
      margin: 40px auto 80px;
      text-align: center;

      @include tablet() {
        font-size: 24px;
        line-height: 38px;
      }

      @include mobile(){
        font-size: 20px;
        line-height: 26px;
        margin: 24px auto 40px;
      }
    }

    a {
      color: $carrot_green;

      &:hover {
        text-decoration: underline;
      }
    }

    p, h2, h3, ul {
      margin: 0 auto 32px;

      @include tablet() {
        margin: 0 auto 30px;
        max-width: 595px;
      }

      @include mobile() {
        margin: 0 auto 24px;
      }
    }
  }
}