@include big_web (){

  div.stakeholder-update {
    background-color: white;

    div.company-header-internal {
      padding: 0 0;
      width: 930px;
      margin: 0 auto;
    }
  }
  
  div.update-internal {
    width: 930px;
    margin: 0 auto;

    padding-right: 15px;

    div.sections {
      padding: 0 0;
    }

    div.intro-title, div.topic-title {
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 17px;
      text-transform: uppercase;
    }

    div.update-topic {

      div.topic-title {
        margin-top: 26px;
      }

      div.topic-headline {
        margin-bottom: 7px;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
}