$carousel_timing: 7s;

div.main-animation-container {
  position: relative;
  max-width: 1200px;
  margin: 80px auto 0;

  @include tablet() {
    width: 100%;
    margin: 80px 0px 0px;
  }

  .main-animation {
    width: 83%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
    position: relative;

    @include tablet() {
      margin: 0 auto;
    }

    @include mobile() {
      width: 100%;
      height: auto;
      margin: 0px auto;
    }
  }
}

div.homepage-testimonials-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  z-index: 3;
  position: relative;

  @include tablet() {
    padding: 0 0 80px;
  }

  @include mobile() {
    padding: 0 0 24px;
  }

  div.homepage-testimonials-copy {
    text-align: center;
    @include OC_Body_Book();
    font-size: 24px;
    color: $deep_navy;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 24px;
  }

  div.homepage-testimonials-logos {
    max-width: 914px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: #{$min_big_web_width + 1}px) and (max-width: 1150px) {
      max-width: 640px;
    }

    @media screen and (min-width: 477px) and (max-width: #{$min_big_web_width}px) {
      max-width: 430px;
    }

    div.homepage-testimonials-logo {
      height: 66px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;

      &.logo-ifttt {
        @include image-2x("/img/ML/logo_ifttt");
        background-size: 78px 21px;
        width: calc(78px + 24px);
      }

      &.logo-hopper {
        @include image-2x("/img/ML/logo_hopper");
        background-size: 74px 66px;
        width: calc(74px + 24px);
      }

      &.logo-primary {
        @include image-2x("/img/ML/logo_primary");
        background-size: 120px 31px;
        width: calc(120px + 24px);
      }

      &.logo-hinge {
        @include image-2x("/img/ML/logo_hinge");
        background-size: 78px 30px;
        width: calc(78px + 24px);
      }

      &.logo-resy {
        @include image-2x("/img/ML/logo_resy");
        background-size: 78px 34px;
        width: calc(78px + 24px);
      }

      &.logo-weblify {
        @include image-2x("/img/ML/logo_weblify");
        background-size: 98px 20px;
        width: calc(98px + 24px);
      }

      &.logo-novo {
        @include image-2x("/img/ML/logo_novo");
        background-size: 78px 39px;
        width: calc(78px + 24px);
      }

      &.logo-gamercraft {
        @include image-2x("/img/ML/logo_gamercraft");
        background-size: 112px 15px;
        width: calc(112px + 24px);
      }
    }
  }
}

button.get-started-button {
  width: 320px;
  height: 56px;
  border-radius: 6px;
  background-color: $carrot_orange;
  color: white;
  @include OC_Body_Bold();
  font-size: 20px;
  line-height: 25px;
  margin: 32px auto 0;
  position: relative;
  text-align: center;
  padding: 0;

  @include mobile(){
    width: 100%;
    margin: 24px auto 16px;
    height: 48px;
    font-size: 18px;
    line-height: 23px;
    padding: 12px 0;
  }
}

span.get-started-subtitle {
  margin: 16px auto 0;
  @include OC_Body_Book();
  font-size: 16px;
  line-height: 20px;
  color: rgba($deep_navy, 0.5);
  text-align: center;
  display: inline-block;
}

div.dashed-string {
  margin: 40px auto;
  width: 80px;
  height: 200px;
  background-size: 80px 200px;
  background-repeat: no-repeat;
  background-position: center;

  @for $i from 1 through 6 {
    &.dashed-string-#{$i} {
      background-image: cdnUrl("/img/ML/dashed_string_#{$i}.svg");
    }
  }
}

div.testimonials-block {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  @include mobile() {
    padding: 0 16px;
  }

  &.ifttt {
    div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_ifttt");
    }
  }

  &.blend-labs {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_blend_labs");
    }

    div.testimonial-copy {
      max-width: 670px;
    }
  }

  &.novo {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_novo");
    }
  }

  &.hello-tickets {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_hello_tickets");
    }
  }

  &.bank-novo {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_bank_novo");
    }
  }

  div.testimonial-copy {
    @include OC_Body_Book();
    font-size: 22px;
    line-height: 28px;
    color: $deep_navy;
    margin: 0 auto;

    @include mobile() {
      font-size: 24px;
      line-height: 30px;
    }
  }

  div.testimonial-copy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;

    @include mobile() {
      display: block;
      justify-content: unset;
      align-items: unset;
      text-align: center;
    }

    div.testimonial-author-pic {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 3px;

      @include mobile() {
        margin: 0 auto;
      }
    }

    div.testimonial-copy-footer-right {
      @include OC_Body_Book();
      font-size: 18px;
      color: $deep_navy;
      line-height: 23px;
      text-align: left;
      margin-left: 16px;

      a {
        display: block;
        color: $carrot_green;
        line-height: 23px;
      }

      @include mobile() {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 8px;

        a {
          text-align: center;
        }
      }
    }
  }
}

div.testimonials-screenshot-block {
  width: 100%;
  max-width: 1061px;
  margin: 0 auto;

  div.testimonials-screenshot-header {
    @include OC_Body_Bold();
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: $deep_navy;

    @include mobile() {
      @include OC_Body_Bold();
      font-size: 36px;
      line-height: 40px;
      color: $deep_navy;
    }
  }

  div.testimonials-screenshot-subheader {
    margin-top: 24px;
    @include OC_Body_Book();
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $deep_navy;

    @include mobile() {
      margin-top: 16px;
      @include OC_Body_Book();
      font-size: 20px;
      line-height: 26px;
      color: $deep_navy;
    }
  }

  img.testimonials-screenshot {
    max-width: 996px;
    margin: 40px auto 0;
    width: 100%;

    @include mobile() {
      nargin: 24px auto 0;
    }
  }
}

section.testimonials {
  text-align: center;
  position: relative;
  padding-left: 24px !important;
  padding-right: 24px !important;

  @include tablet() {
    width: 100%;
    padding: 56px 24px !important;
    padding-top: 56px !important;
    padding-bottom: 56px !important;
    text-align: center;
  }

  @include mobile() {
    padding: 0 16px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  div.testimonials-floated-block {
    width: 100%;
    max-width: 1218px;
    margin: 0 auto;

    div.testimonials-floated-block-inner {
      width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      margin-top: 40px;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &.left-block {
        div.testimonials-floated-copy {
          margin-left: 24px;
          // float: left;
          left: 50%;
        }

        img.testimonials-floated-screenshot {
          float: left;
        }
      }

      &.right-block {
        div.testimonials-floated-copy {
          margin-right: 24px;
          // float: right;
          right: 50%;
        }

        img.testimonials-floated-screenshot {
          float: right;
        }
      }

      div.testimonials-floated-copy {
        max-width: 479px;
        width: calc(50% + 12px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        div.testimonials-floated-header {
          @include OC_Body_Bold();
          font-size: 26px;
          line-height: 33px;
          color: $deep_navy;
          text-align: left;
        }

        div.testimonials-floated-subheader {
          margin-top: 8px;
          @include OC_Body_Book();
          font-size: 20px;
          line-height: 26px;
          color: $deep_navy;
          text-align: left;
        }
      }

      img.testimonials-floated-screenshot {
        width: calc(50% - 12px);
      }
    }
  }

  div.testimonials-commgaps-block {
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;

    div.testimonals-commgaps-header {
      @include OC_Body_Bold();
      font-size: 60px;
      line-height: 60px;
      color: $deep_navy;
    }

    div.testimonals-commgaps-subheader {
      margin-top: 24px;
      @include OC_Body_Book();
      font-size: 24px;
      line-height: 32px;
      color: $deep_navy;
    }

    div.testimonials.commgaps-block-inner {
      width: 100%;
      margin-top: 40px;

      div.testimonials-commgaps-column {
        width: calc(50% - 3px);
        text-align: center;

        &.left-column {
          float: left;
        }

        &.right-column {
          float: right;
        }

        img.testimonials-commgaps-column-screenshot {
          width: 100%;
        }

        div.testimonials-commgaps-column-header {
          @include OC_Body_Bold();
          font-size: 26px;
          line-height: 33px;
          color: $deep_navy;
          max-width: 404px;
          margin: 16px auto 0;
        }

        div.testimonials-commgaps-column-subheader {
          @include OC_Body_Book();
          font-size: 20px;
          line-height: 26px;
          color: $deep_navy;
          max-width: 404px;
          margin: 8px auto 0;
        }
      }
    }
  }
}

section.pricing-footer {
  padding: 80px 0;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: $another_ui_grey;

  @include tablet() {
    overflow: visible;
    padding: 131px 0 0;
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile() {
    padding: 40px 16px;
  }

  h1.pricing-headline {
    font-size: 60px;
    line-height: 78px;
    @include OC_Title()
    color: $deep_navy;
    max-width: 840px;
    margin: 0 auto;

    @include mobile() {
      margin: 0 auto;
      font-size: 36px;
      line-height: initial;
      max-width: initial;
      padding: 0 24px;
    }
  }

  div.pricing-subheadline {
    color: $deep_navy;
    font-size: 22px;
    line-height: 28px;
    @include OC_Body_Book();
    margin: 24px auto 0px;
    position: relative;
    max-width: 630px;

    @include mobile(){
      margin-top: 16px;
      font-size: 20px;
      line-height: 26px;
      padding: 0px;
      color: $deep_navy;
      max-width: initial;
    }

    a.chat-with-us {
      color: $carrot_green;
    }
  }
}

div.pricing-table {
  background-color: $deep_navy;
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 960px;
  margin: 40px auto 0;
  padding: 40px;
  position: relative;

  @include mobile() {
    margin-top: 24px;
    padding: 40px 24px;
  }

  div.pricing-table-left {
    width: 255px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 60px;

    @include mobile() {
      position: initial;
      width: 100%;
      left: unset;
      top: unset;
      transform: unset;
      padding-right: 0;
    }

    div.pricing-table-left-price {
      @include OC_Body_Book();
      font-size: 80px;
      line-height: 90px;
      color: white;
      text-align: center;
    }

    div.pricing-table-left-subprice {
      margin-top: 8px;
      @include OC_Body_Book();
      font-size: 22px;
      line-height: 28px;
      color: rgba(white, 0.5);
      text-align: center;
    }
  }

  div.pricing-table-right {
    float: right;
    width: 71%;
    border-left: 1px solid rgba(white, 0.2);
    padding-left: 60px;

    @include mobile() {
      float: unset;
      width: 100%;
      border-left: none;
      padding-left: 0;
      border-top: 1px solid rgba(white, 0.2);
      margin-top: 40px;
      padding-top: 24px;
    }

    div.pricing-table-right-copy {
      @include OC_Body_Book();
      font-size: 22px;
      line-height: 28px;
      color: white;
      text-align: left;

      @include mobile() {
        text-align: center;
        font-size: 20px;
        line-height: 25px;
      }
    }

    a.pricing-table-right-link {
      margin-top: 24px;
      display: block;
      height: 56px;
      color: white;
      background-color: #fb5e48;
      border-radius: 6px;
      text-align: center;
      @include OC_Body_Bold();
      font-size: 18px;
      line-height: 23px;
      padding: 16px 26px;
      float: left;

      @include mobile() {
        float: unset;
        width: 100%;
      }
    }
  }
}

div.pricing-header-footer {
  margin: 40px auto 0;
  max-width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile() {
    display: block;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    margin-top: 24px;
  }

  div.pricing-header-footer-logo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $grey_num_5;
    background-image: cdnUrl("/img/ML/carrot_logo_grey.svg");
    background-size: 16px 29px;
    background-position: center;
    background-repeat: no-repeat;

    @include mobile() {
      margin: 0 auto;
    }
  }

  div.pricing-header-footer-subheadline {
    margin-left: 16px;
    @include OC_Body_Book();
    font-size: 18px;
    line-height: 23px;
    color: $deep_navy;
    text-align: left;

    @include mobile() {
      text-align: center;
      width: 100%;
      margin: 16px auto 0;
      max-width: 260px;
    }

    a {
      color: $carrot_green;
      &:hover {
        color: $carrot_green;
        text-decoration: underline;
      }
    }
  }
}

section.testimonials-section-old {
  text-align: center;
  position: relative;

  div.testimonials-cards-container {
    $testimonials_num: 4;
    $testimonials_breakpoint: ((278 + 16) * $testimonials_num);
    margin: 55px auto 0px;
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    @include tablet() {
      width: calc(100% + 48px);
      margin-left: -24px;
    }

    div.testimonials-cards-inner {
      width: #{($testimonials_breakpoint + 1)}px;
      margin: 0 auto;

      @media screen and (max-width: #{$testimonials_breakpoint + 48}px){
        width: #{$testimonials_breakpoint + 48}px;
        padding: 0 24px;
      }
    }

    div.testimonals-cards-column {
      width: 278px;
      margin: 0 8px;
      float: left;

      div.testimonial-card {
        &:not(:first-child) {
          margin-top: 16px;
        }
      }
    }

    div.testimonial-card {
      float: left;
      width: 278px;
      padding: 24px;
      text-align: left;
      position: relative;
      border-radius: 8px;
      background-color: $another_ui_grey;

      &.peak-support {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_peak_support");
          }
        }
      }

      &.wayne-state-univerity {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_wayne_state_university");
          }
        }
      }

      &.oval-money {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_oval_money");
          }
        }
      }

      &.hellotickets {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_hellotickets");
          }
        }
      }

      &.m-io {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_m_io");
          }
        }
      }

      &.partner-hero {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_partner_hero");
          }
        }
      }

      &.novo {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_novo");
          } 
        }
      }

      &.skylight-digital {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_skylight_digital");
          }
        }
      }

      div.testimonial-quote {
        @include OC_Body_Book();
        font-size: 18px;
        color: $deep_navy;
        line-height: 22px;
        text-align: center;
      }

      div.testimonial-footer {
        margin-top: 16px;

        div.testimonial-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-position: center;
          background-size: 40px 40px;
          background-repeat: no-repeat;
          margin: 0 auto;
        }

        div.testimonial-name {
          @include OC_Title()
          font-size: 14px;
          color: $deep_navy;
          line-height: 18px;
          margin-top: 8px;
          text-align: center;
        }

        div.testimonial-role {
          @include OC_Body_Book();
          font-size: 14px;
          color: rgba($deep_navy, 0.6);
          line-height: 18px;
          text-align: center;

          a {
            color: rgba($deep_navy, 0.6);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


span.beta-app-label {
  margin-left: 8px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: $grey_num_5;
  height: 18px;
  @include OC_Body_Bold();
  line-height: 14px;
  font-size: 11px;
  color: rgba($light_navy, 0.5);
  vertical-align: middle;
}