$carousel_timing: 7s;

div.main-animation-container {
  position: relative;
  max-width: 1200px;
  margin: 80px auto 0;

  @include tablet() {
    width: 100%;
    margin: 80px 0px 0px;
  }

  .main-animation {
    width: 83%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
    position: relative;

    @include tablet() {
      margin: 0 auto;
    }

    @include mobile() {
      width: 100%;
      height: auto;
      margin: 0px auto;
    }
  }
}

div.homepage-testimonials-container {
  margin: 40px auto 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  position: relative;

  @include tablet() {
    padding: 0 0 80px;
  }

  @include mobile() {
    padding: 0 0 24px;
  }

  div.homepage-testimonials-copy {
    text-align: center;
    @include OC_Body_Book();
    font-size: 24px;
    color: $deep_navy;
    line-height: 32px;
    margin-bottom: 24px;

    @include mobile() {
      font-size: 16px;
      line-height: 23px;
    }
  }

  div.homepage-testimonials-logos {
    max-width: 914px;
    max-height: 66px;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;

    @include mobile() {
      max-height: 39px;
    }

    div.homepage-testimonials-logo {
      height: 66px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;

      @include mobile() {
        height: 39px;
      }

      &.logo-ifttt {
        @include image-2x("/img/ML/logo_ifttt");
        background-size: 78px 21px;
        width: calc(78px + 24px);

        @include mobile() {
          background-size: 46px 12px;
          width: calc(46px + 18px);
        }
      }

      &.logo-hopper {
        @include image-2x("/img/ML/logo_hopper");
        background-size: 55px 49px;
        width: calc(55px + 24px);

        @include mobile() {
          background-size: 46px 39px;
          width: calc(46px + 18px);
        }
      }

      &.logo-primary {
        @include image-2x("/img/ML/logo_primary");
        background-size: 120px 31px;
        width: calc(120px + 24px);

        @include mobile() {
          display: none;
        }
      }

      &.logo-hinge {
        @include image-2x("/img/ML/logo_hinge");
        background-size: 58px 22px;
        width: calc(58px + 24px);

        @include mobile() {
          background-size: 46px 17px;
          width: calc(46px + 18px);
        }
      }

      &.logo-resy {
        @include image-2x("/img/ML/logo_resy");
        background-size: 58px 26px;
        width: calc(58px + 24px);

        @include mobile() {
          background-size: 46px 20px;
          width: calc(46px + 18px);
        }
      }

      &.logo-flyt {
        @include image-2x("/img/ML/logo_flyt");
        background-size: 60px 28px;
        width: calc(60px + 24px);

        @include mobile() {
          background-size: 50px 23px;
          width: calc(50px + 18px);
        }
      }

      &.logo-weblify {
        @include image-2x("/img/ML/logo_weblify");
        background-size: 98px 20px;
        width: calc(98px + 24px);

        @include mobile() {
          display: none;
        }
      }

      &.logo-novo {
        @include image-2x("/img/ML/logo_novo");
        background-size: 58px 29px;
        width: calc(58px + 24px);

        @include mobile() {
          display: none;
        }
      }

      &.logo-gamercraft {
        @include image-2x("/img/ML/logo_gamercraft");
        background-size: 112px 15px;
        width: calc(112px + 24px);

        @include mobile() {
          display: none;
        }
      }
    }
  }
}

a.get-started-button {
  width: 220px;
  height: 56px;
  border-radius: 6px;
  background-color: $carrot_orange;
  color: white;
  @include OC_Body_Bold();
  font-size: 20px;
  line-height: 25px;
  padding: 15px 20px;
  margin: 32px auto 0;
  position: relative;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;

  @include mobile(){
    max-width: 100%;
    margin: 24px auto 16px;
    height: 48px;
    font-size: 18px;
    line-height: 23px;
    padding: 12px 24px;
  }
}

span.get-started-subtitle {
  margin: 16px auto 0;
  @include OC_Body_Book();
  font-size: 16px;
  line-height: 20px;
  color: rgba($deep_navy, 0.5);
  text-align: center;
  display: block;

  a {
    @include OC_Body_Book();
    font-size: 16px;
    line-height: 20px;
    color: rgba($deep_navy, 0.5);
    text-decoration: none;

    @include big_web() {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.dashed-string {
  margin: 40px auto;
  width: 80px;
  height: 200px;
  background-size: 80px 200px;
  background-repeat: no-repeat;
  background-position: center;

  @for $i from 1 through 6 {
    &.dashed-string-#{$i} {
      background-image: cdnUrl("/img/ML/dashed_string_#{$i}.svg");
    }
  }
}

div.testimonials-block {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  @include mobile() {
    padding: 0 16px;
  }

  // &.ifttt {
  //   max-width: 640px;
  //   div.testimonial-author-pic {
  //     @include image-2x("/img/ML/testimonial_author_ifttt");
  //   }
  // }

  &.hopper {
    max-width: 700px;
    div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_hopper");
    }
  }

  &.blend-labs {
    max-width: 710px;
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_blend_labs");
    }
  }

  &.novo {
    max-width: 880px;
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_novo");
    }
  }

  &.hello-tickets {
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_hello_tickets");
    }
  }

  &.bank-novo {
    max-width: 850px;
    div.testimonial-copy-footer div.testimonial-author-pic {
      @include image-2x("/img/ML/testimonial_author_bank_novo");
    }
  }

  div.testimonial-copy {
    @include OC_Body_Book();
    font-size: 22px;
    line-height: 28px;
    color: $deep_navy;
    margin: 0 auto;

    @include mobile() {
      font-size: 24px;
      line-height: 30px;
    }
  }

  div.testimonial-copy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24px;

    @include mobile() {
      display: block;
      justify-content: unset;
      align-items: unset;
      text-align: center;
    }

    div.testimonial-author-pic {
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 3px;

      @include mobile() {
        margin: 0 auto;
      }
    }

    div.testimonial-copy-footer-right {
      @include OC_Body_Book();
      font-size: 18px;
      color: $deep_navy;
      line-height: 23px;
      text-align: left;
      margin-left: 16px;

      a {
        display: block;
        color: $carrot_green;
        line-height: 23px;
      }

      @include mobile() {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 8px;

        a {
          text-align: center;
        }
      }
    }
  }
}

div.testimonials-screenshot-block {
  width: 100%;
  max-width: 1061px;
  margin: 0 auto;

  div.testimonials-screenshot-header {
    @include OC_Body_Bold();
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: $deep_navy;

    @include mobile() {
      @include OC_Body_Bold();
      font-size: 36px;
      line-height: 40px;
      color: $deep_navy;
    }
  }

  div.testimonials-screenshot-subheader {
    margin-top: 24px;
    @include OC_Body_Book();
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $deep_navy;

    @include mobile() {
      margin-top: 16px;
      @include OC_Body_Book();
      font-size: 20px;
      line-height: 26px;
      color: $deep_navy;
    }
  }

  img.testimonials-screenshot {
    max-width: 996px;
    margin: 40px auto 0;
    width: 100%;

    @include mobile() {
      nargin: 24px auto 0;
    }
  }
}

section.testimonials {
  text-align: center;
  position: relative;
  padding-left: 24px !important;
  padding-right: 24px !important;

  @include tablet() {
    width: 100%;
    padding: 56px 24px !important;
    padding-top: 56px !important;
    padding-bottom: 56px !important;
    text-align: center;
  }

  @include mobile() {
    padding: 0 16px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  div.testimonials-floated-block {
    width: 100%;
    max-width: 1218px;
    margin: 0 auto;

    div.testimonials-floated-block-inner {
      width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      margin-top: 40px;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &.left-block {
        div.testimonials-floated-copy {
          margin-left: 24px;
          // float: left;
          left: 50%;
        }

        img.testimonials-floated-screenshot {
          float: left;
        }
      }

      &.right-block {
        div.testimonials-floated-copy {
          margin-right: 24px;
          // float: right;
          right: 50%;
        }

        img.testimonials-floated-screenshot {
          float: right;
        }
      }

      div.testimonials-floated-copy {
        max-width: 479px;
        width: calc(50% + 12px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        div.testimonials-floated-header {
          @include OC_Body_Bold();
          font-size: 26px;
          line-height: 33px;
          color: $deep_navy;
          text-align: left;
        }

        div.testimonials-floated-subheader {
          margin-top: 8px;
          @include OC_Body_Book();
          font-size: 20px;
          line-height: 26px;
          color: $deep_navy;
          text-align: left;
        }
      }

      img.testimonials-floated-screenshot {
        width: calc(50% - 12px);
      }
    }
  }

  div.testimonials-commgaps-block {
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;

    div.testimonals-commgaps-header {
      @include OC_Body_Bold();
      font-size: 60px;
      line-height: 60px;
      color: $deep_navy;
    }

    div.testimonals-commgaps-subheader {
      margin-top: 24px;
      @include OC_Body_Book();
      font-size: 24px;
      line-height: 32px;
      color: $deep_navy;
    }

    div.testimonials.commgaps-block-inner {
      width: 100%;
      margin-top: 40px;

      div.testimonials-commgaps-column {
        width: calc(50% - 3px);
        text-align: center;

        &.left-column {
          float: left;
        }

        &.right-column {
          float: right;
        }

        img.testimonials-commgaps-column-screenshot {
          width: 100%;
        }

        div.testimonials-commgaps-column-header {
          @include OC_Body_Bold();
          font-size: 26px;
          line-height: 33px;
          color: $deep_navy;
          max-width: 404px;
          margin: 16px auto 0;
        }

        div.testimonials-commgaps-column-subheader {
          @include OC_Body_Book();
          font-size: 20px;
          line-height: 26px;
          color: $deep_navy;
          max-width: 404px;
          margin: 8px auto 0;
        }
      }
    }
  }
}

section.pricing-footer {
  padding: 80px 0;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: rgba($deep_navy, 0.08);

  @include tablet() {
    overflow: visible;
    padding: 131px 0 0;
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile() {
    padding: 40px 16px;
  }

  h1.pricing-headline {
    font-size: 50px;
    line-height: auto;
    @include OC_Title();
    color: $deep_navy;
    max-width: 730px;
    margin: 0 auto;

    @include mobile() {
      // margin: 0 auto;
      font-size: 26px;
      line-height: initial;
      max-width: initial;
      padding: 0 24px;
    }
  }
}

div.pricing-subheadline {
  color: $deep_navy;
  font-size: 22px;
  line-height: 28px;
  @include OC_Body_Book();
  margin: 24px auto 0px;
  position: relative;
  max-width: 630px;

  @include mobile(){
    margin-top: 16px;
    font-size: 20px;
    line-height: 26px;
    padding: 0px;
    color: $deep_navy;
    max-width: initial;
  }

  a.chat-with-us {
    color: $carrot_green;
  }
}

div.pricing-table {
  margin: 32px auto 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  @include mobile() {
    flex-flow: row wrap;
  }

  div.pricing-table-column {
    display: flex;
    flex-flow: column nowrap;
    width: 368px;

    &:nth-child(odd) {
      margin: 0 12px 0 0;
    }
    &:nth-child(even) {
      margin: 0 0 0 12px;
    }

    @include mobile() {
      width: 100%;

      &:nth-child(odd) {
        margin: 0 0 16px 0;
      }
      &:nth-child(even) {
        margin: 0 0 16px 0;
      }
    }

    div.pricing-table-column-inner {
      background-color: white;
      border-radius: 8px;
      padding: 0 0 8px 0;

      div.pricing-column-header {
        padding: 21px 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: rgba($deep_navy, 0.04);
        @include OC_Body_Bold();
        font-size: 20px;
        line-height: 24px;
      }

      div.pricing-column-value {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 16px;

        div.price-value {
          font-size: 40px;
          color: $deep_navy;
          line-height: 51px;
          margin-right: 16px;
        }

        div.price-desc {
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: $ui_grey;
          text-align: left;
        }
      }

      a.pricing-column-right-link {
        display: inline-block;
        margin: 16px auto 24px;
        padding: 9px 36px;
        background-color: $carrot_orange;
        border-radius: 4px;
        color: white;
        @include OC_Body_Book();
        font-size: 16px;
      }

      div.tooltip {
        max-width: 50vw;

        div.tooltip-inner {
          @include OC_Body_Book();

          strong {
            @include OC_Body_Bold();
          }
        }
      }

      div.pricing-column-row {
        padding: 16px 0;
        margin: 0 24px;
        @include OC_Body_Book();
        font-size: 16px;
        color: $deep_navy;
        border-top: 1px solid rgba($deep_navy, 0.08);
        text-align: left;
        cursor: pointer;

        &.coming-feature {
          color: rgba($deep_navy, 0.5);
        }

        i.mdi.mdi-information-outline {
          color: $deep_navy;
          margin-left: 4px;
          vertical-align: super;

          &:before {
            font-size: 15px;
          }
        }
      }
    }
  }

  div.pricing-column-footer-note {
    margin-top: 16px;
    text-align: center;
    margin-bottom: auto;
    @include OC_Body_Book();
    font-size: 14px;

    @include mobile() {
      margin-top: 24px;
    }
  }
}

div.pricing-header-footer {
  margin: 40px auto 0;
  max-width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile() {
    display: block;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    margin-top: 24px;
  }

  div.pricing-header-footer-logo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $grey_num_5;
    background-image: cdnUrl("/img/ML/carrot_logo_grey.svg");
    background-size: 16px 29px;
    background-position: center;
    background-repeat: no-repeat;

    @include mobile() {
      margin: 0 auto;
    }
  }

  div.pricing-header-footer-subheadline {
    margin-left: 16px;
    @include OC_Body_Book();
    font-size: 18px;
    line-height: 23px;
    color: $deep_navy;
    text-align: left;

    @include mobile() {
      text-align: center;
      width: 100%;
      margin: 16px auto 0;
      max-width: 260px;
    }

    a {
      color: $carrot_green;
      &:hover {
        color: $carrot_green;
        text-decoration: underline;
      }
    }
  }
}

div.testimonials-commgaps-block {
  width: 100%;
  max-width: 1212px;
  margin: 0 auto;

  div.testimonals-commgaps-header {
    @include OC_Body_Bold();
    font-size: 60px;
    line-height: 60px;
    color: $deep_navy;
  }

  div.testimonals-commgaps-subheader {
    margin-top: 24px;
    @include OC_Body_Book();
    font-size: 24px;
    line-height: 32px;
    color: $deep_navy;
  }

  div.testimonials.commgaps-block-inner {
    width: 100%;
    margin-top: 40px;

    div.testimonials-commgaps-column {
      width: calc(50% - 3px);
      text-align: center;

      &.left-column {
        float: left;
      }

      &.right-column {
        float: right;
      }

      img.testimonials-commgaps-column-screenshot {
        width: 100%;
      }

      div.testimonials-commgaps-column-header {
        @include OC_Body_Bold();
        font-size: 26px;
        line-height: 33px;
        color: $deep_navy;
        max-width: 404px;
        margin: 16px auto 0;
      }

      div.testimonials-commgaps-column-subheader {
        @include OC_Body_Book();
        font-size: 20px;
        line-height: 26px;
        color: $deep_navy;
        max-width: 404px;
        margin: 8px auto 0;
      }
    }
  }
}

section.testimonials-section-old {
  text-align: center;
  position: relative;

  div.testimonials-cards-container {
    $testimonials_num: 4;
    $testimonials_breakpoint: ((278 + 16) * $testimonials_num);
    margin: 55px auto 0px;
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    @include tablet() {
      width: calc(100% + 48px);
      margin-left: -24px;
    }

    div.testimonials-cards-inner {
      width: #{($testimonials_breakpoint + 1)}px;
      margin: 0 auto;

      @media screen and (max-width: #{$testimonials_breakpoint + 48}px){
        width: #{$testimonials_breakpoint + 48}px;
        padding: 0 24px;
      }
    }

    div.testimonals-cards-column {
      width: 278px;
      margin: 0 8px;
      float: left;

      div.testimonial-card {
        &:not(:first-child) {
          margin-top: 16px;
        }
      }
    }

    div.testimonial-card {
      float: left;
      width: 278px;
      padding: 24px;
      text-align: left;
      position: relative;
      border-radius: 8px;
      background-color: $another_ui_grey;

      &.peak-support {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_peak_support");
          }
        }
      }

      &.wayne-state-univerity {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_wayne_state_university");
          }
        }
      }

      &.oval-money {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_oval_money");
          }
        }
      }

      &.hellotickets {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_hellotickets");
          }
        }
      }

      &.m-io {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_m_io");
          }
        }
      }

      &.partner-hero {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_partner_hero");
          }
        }
      }

      &.novo {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_novo");
          }
        }
      }

      &.skylight-digital {
        div.testimonial-footer {
          div.testimonial-image {
            @include image-2x("/img/ML/testimonial_skylight_digital");
          }
        }
      }

      div.testimonial-quote {
        @include OC_Body_Book();
        font-size: 18px;
        color: $deep_navy;
        line-height: 22px;
        text-align: center;
      }

      div.testimonial-footer {
        margin-top: 16px;

        div.testimonial-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-position: center;
          background-size: 40px 40px;
          background-repeat: no-repeat;
          margin: 0 auto;
        }

        div.testimonial-name {
          @include OC_Title()
          font-size: 14px;
          color: $deep_navy;
          line-height: 18px;
          margin-top: 8px;
          text-align: center;
        }

        div.testimonial-role {
          @include OC_Body_Book();
          font-size: 14px;
          color: rgba($deep_navy, 0.6);
          line-height: 18px;
          text-align: center;

          a {
            color: rgba($deep_navy, 0.6);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


span.beta-app-label {
  margin-left: 8px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: $grey_num_5;
  height: 18px;
  @include OC_Body_Bold();
  line-height: 14px;
  font-size: 11px;
  color: rgba($light_navy, 0.5);
  vertical-align: middle;
}

div.close-communication-gaps-container {
  padding: 0;
  margin: 0 auto;
  max-width: 1080px;

  h3.close-communication-gaps {
    @include OC_Body_Bold();
    font-size: 50px;
    line-height: 63px;
    color: $deep_navy;
    margin: 0 auto;

    @include mobile() {
      font-size: 26px;
      line-height: auto;
    }
  }

  p {
    @include OC_Body_Book();
    font-size: 24px;
    line-height: 32px;
    color: $deep_navy;
    margin: 16px auto 0;

    @include mobile() {
      font-size: 18px;
      line-height: auto;
    }
  }

  div.close-communigation-gaps-video {
    width: 100%;
    padding: 26% 0;
    box-sizing: border-box;
    position: relative;
    background-color: rgba($deep_navy, 0.72);
    border: 1px solid rgba($deep_navy, 0.72);
    margin: 40px auto 0;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;

    &.video-playing {
      div.animation-lightbox-container {
        display: block;
      }
    }

    p.not-needed {
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;

      @include no-user-select();
    }

    &:before {
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      color: white;
      font-family: FontAwesome;
      content: "\f144";
      text-align: center;
      vertical-align: middle;
      font-size: 47px;
    }

    div.animation-lightbox-container {
      text-align: center;
      display: none;
      position: absolute;
      top: 0;
      left: 0;

      div.animation-lightbox {
        width: 100vw;
        height: 100vh;
        max-width: 1080px;
        max-height: 608px;
        margin: 0 auto;
        position: relative;
      }
    }
  }
}