div.story-publish-modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $carrot_modal_bg;
  z-index: 100;
  transition: opacity 180ms ease-in;
  overflow: auto;

  &.will-appear {
    opacity: 0;
  }

  &.appear {
    opacity: 1;
  }

  div.story-publish-modal {
    width: 520px;
    margin: 100px auto 50px;
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 32px 24px;

    div.title {
      @include avenir_H();
      font-size: 24px;
      color: $carrot_light-gray_1;

      span {
        @include activity-title();
        color: $carrot_dark_gray_1;
      }
    }

    div.access {
      margin-top: 24px;
      @include avenir_R();
      color: $carrot_gray;
      font-size: 15px;

      span.storyboard-name {
        @include avenir_H();
      }
    }

    div.story-publish-share {

      div.mediums-box {
        margin-top: 24px;
        border: 1px solid rgba($carrot_light_gray_1, 0.3);
        width: calc(100% + 48px);
        margin-left: -24px;
        background-color: rgba($carrot_light_gray_2, 0.3);

        div.medium {
          @include avenir_M();
          color: $carrot_dark_gray;
          font-size: 16px;
          padding: 16px 24px;

          & > div.medium-row {
            height: 26px;
            min-height: 26px !important;
          }

          div.carrot-checkbox {
            float: right;
          }

          &:last-child {
            border-top: 1px solid rgba($carrot_light_gray_1, 0.3);
          }

          div.email-medium, div.slack-medium {

            div.medium-row {
              margin: 0px;
              min-height: 40px;

              &:first-child {
                margin-top: 14px;
              }

              &.subject {
                margin-top: 8px;
              }

              div.fields.error {
                position: relative;

                & > input, & > textarea, & > div.email-field, & > div.slack-channels-dropdown input {
                  border: 1px solid $carrot_orange !important;
                }

                & > div.slack-channels-dropdown i.fa{
                  display: none;
                }

                &:after {
                  font-family: "Material Design Icons";
                  position: absolute;
                  bottom: 8px;
                  right: 4px;
                  content: "\f5D6";
                  font-size: 20px;
                  color: $carrot_orange;
                }
              }

              &.note {
                span.labels {
                  line-height: 1.8;
                  margin-top: 4px;
                  display: block;
                  float: left;
                  padding-top: 8px;
                  white-space: pre-wrap;
                  width: 100px;
                  text-align: left;
                }

                div.fields {
                  margin-top: 8px;
                  textarea {
                    width: 340px;
                    min-height: 77px;
                    border-radius: 4px;
                    background-color: white;
                    border: 1px solid rgba($carrot_light_gray_1, 0.5);
                    @include avenir_M();
                    font-size: 14px;
                    color: $oc_gray_7;
                    padding: 0.4rem 0.8rem;
                    outline: none;
                  }
                }
              }

              span.labels {
                @include avenir_BOOK();
                font-size: 16px;
                color: $carrot_gray;
                padding-top: 8px;
                display: block;
                float: left;
              }

              div.fields {
                float: right;

                div.email-field {
                  width: 340px;
                  min-height: 40px;
                  border-radius: 4px;
                  background-color: white;
                  border: 1px solid rgba($carrot_light_gray_1, 0.5);
                  @include avenir_M();
                  font-size: 14px;
                  color: $oc_gray_7;
                  padding: 0.4rem 0.8rem;
                  outline: none;

                  div.email-item {
                    margin-right: .4rem;
                    margin-bottom: .4rem;
                    display: inline-block;
                    border-radius: 3px;

                    span.email-item {
                      padding: .25rem .4rem;
                      display: inline-block;
                    }
                  }

                  input {
                    border: none;
                    padding: 0px;
                    margin: 0px;
                    outline: none;
                    background-color: transparent;
                    @include avenir_M();
                    font-size: 14px;
                    color: $oc_gray_7;
                    height: 26px;
                  }
                }

                input {
                  width: 340px;
                  height: 40px;
                  border-radius: 4px;
                  background-color: white;
                  border: 1px solid rgba($carrot_light_gray_1, 0.5);
                  @include avenir_M();
                  font-size: 14px;
                  color: $oc_gray_7;
                  padding: 0.4rem 0.8rem;
                  outline: none;
                }
              }
            }
          }
        }
      }

      div.publish-footer{
        div.buttons {
          float: right;
          height: 48px;
          margin-top: 24px;

          button {
            margin-left: 16px;
            height: 48px;
            padding: .2em 1.8em;
          }
        }
      }
    }

    div.story-publish-modal-published {
      text-align: center;

      div.published-headline {
        @include avenir_H();
        font-size: 16px;
        color: $carrot_dark_gray_1;
        margin-top: 8px;
      }

      div.published-url-container {
        border: 1px solid rgba($carrot_light_gray_1, 0.6);
        padding: 7px 4px 7px 8px;
        border-radius: 4px;
        margin: 16px auto 0;
        width: 368px;
        height: 40px;

        input {
          border: none;
          outline: none;
          padding: 0.3rem;
          margin: 0;
          width: 288px;
          @include avenir_R();
          color: $carrot_dark_gray;
          font-size: 14px;
          float: left;
        }

        button.copy-btn {
          width: 56px;
          height: 26px;
          text-align: center;
          padding: 0;
          margin: 0;
          @include avenir_H();
          font-size: 12px;
          float: right;
        }
      }

      div.published-subheadline {
        @include avenir_M();
        font-size: 16px;
        color: $carrot_dark_gray_1;
        margin-top: 16px;
      }

      button.done-btn {
        margin-top: 24px;
      }
    }
  }
}