div.story-edit-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $oc_gray_8;
  min-height: 100vh;

  div.story-edit-header {
    height: 72px;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 24px 32px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;

    div.story-edit-header-left{
      float: left;

      div.story-edit-header-back {
        @include avenir_H();
        font-size: 16px;
        color: $carrot_dark_gray_1;
        cursor: pointer;

        span.back-arrow {
          color: $carrot_light_gray_1;
          font-size: 20px;
          margin-right: 8px;
        }
      }
    }

    div.story-edit-header-center {
      position: absolute;
      left: 50%;
      top: 24px;
      margin-left: -200px;
      text-align: center;
      width: 400px;

      div.story-edit-header-center-title {
        @include avenir_H();
        font-size: 16px;
        color: $carrot_dark_gray;
        margin-left: 68px;

        .emojione {
          @include emoji-size(14);
        }

        span.saving-message {
          margin-left: 8px;
          color: $carrot_light_gray_3;
          font-size: 16px;
          @include avenir_BOOK();
          width: 60px;
          display: inline-block;
        }
      }
    }

    div.story-edit-header-right {
      float: right;
      margin-top: -6px;

      button.delete-link {
        margin-right: 24px;
        @include avenir_M();
        font-size: 15px;
        color: #999999;
      }

      div.share-draft-container {
        position: absolute;
        width: 400px;
        height: 186px;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
        border: solid 0.5px rgba(177, 184, 192, 0.24);
        z-index: 2;
        top: 60px;
        right: 40px;
        border-radius: 4px;
        padding: 24px;

        div.share-draft-triangle {
          position: absolute;
          top: -11px;
          left: 50%;
          margin-left: -10px;
          width: 20px;
          height: 20px;
          transform: rotate(45deg);
          background-color: white;
          border-top: solid 0.5px rgba(177, 184, 192, 0.24);
          border-left: solid 0.5px rgba(177, 184, 192, 0.24);
        }

        div.share-draft-title {
          @include avenir_H();
          font-size: 15px;
          color: $carrot_dark_gray;
        }

        div.share-draft-description {
          @include avenir_R();
          font-size: 15px;
          color: $carrot_gray;
          margin-top: 8px;
        }

        div.share-draft-link-box {
          margin-top: 24px;
          border-radius: 4px;
          border: solid 0.5px rgba(177, 184, 192, 0.5);
          padding: 8px 16px;
          position: relative;
          width: 351px;
          height: 40px;

          input {
            @include avenir_R();
            font-size: 14px;
            color: $carrot_dark_gray;
            padding: 0;
            width: 264px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            outline: none;
            border: none;
          }

          button.share-draft-copy-btn {
            position: absolute;
            right: 8px;
            top: 7px;
            width: 56px;
            height: 26px;
            font-size: 12px;
            padding: 0;
            text-align: center;
          }
        }
      }

      button.share-button {
        margin-right: 22px;
        @include avenir_M();
        font-size: 15px;
        padding: .2em 1.5em;
        background-color: rgba($carrot_text_blue, 0.25);
        color: $carrot_text_blue;
        transition: background-color 230ms, color 230ms;

        &:hover {
          background-color: $carrot_text_blue;
          color: white;
          &:before {
            background-image: cdnUrl("/img/ML/story_share_icon_white.svg");
          }
        }

        &:before {
          width: 22px;
          height: 14px;
          display: inline-block;
          content: "";
          background-image: cdnUrl("/img/ML/story_share_icon.svg");
          background-size: 14px 14px;
          background-position: 0px;
          background-repeat: no-repeat;
          font-size: 14px;
        }
      }

      button.post-button {
        padding: .2em 2.5em;
      }
    }
  }

  div.story-edit-footer {
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    border-top: 1px solid rgba($carrot_light_gray_1, 0.3);

    div.story-edit-footer-inner {
      margin: 22px auto;
      width: 780px;
    }
  }

  div.story-edit-content {
    min-height: calc(100vh - 104px - 66px);
    padding: 40px 0px 32px;
    border-radius: 8px;
    width: 780px;
    margin: 104px auto 66px;
    position: relative;

    div.story-edit-content-authorship {
      height: 41px;
      margin-bottom: 32px;

      div.story-edit-content-authorship-left {
        float: left;
        width: 50%;
        @include activity-author();
      }

      div.story-edit-content-authorship-right {
        float: right;
        width: 50%;

        div.story-edit-add-banner {
          float: right;
          margin-right: 16px;
          margin-top: 2px;
          @include avenir_H();
          font-size: 15px;
          color: #999999;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        div.story-edit-tags {
          float: right;
          // margin-top: 21px;
          position: relative;
          @include activity-tag();
          div.dropdown-list-container {
            left: 50%;
            margin-left: -85px;
            width: 170px;
            top: 32px;
          }
        }
      }
    }

    div.story-edit-banner {
      // margin-left: -80px;
      // width: 100vw;
      max-height: 520px;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      button.remove-banner {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
    }

    div.story-edit-title {
      margin-top: 32px;
      @include activity-title();
      @include avenir_M();
      font-size: 32px;
      outline: none;
      cursor: text;

      .emojione {
        @include emoji-size(30);
      }

      &:empty:before {
        content: attr(placeholder);
        display: block;
        font-style: none;
      }
    }

    div.media-picker {
      left: -62px !important;
    }

    div.rich-body-editor-container {
      position: relative;
      overflow: visible;

      div.medium-editor-media-picker {
        margin-top: 0px;
        margin-left: -36px;
        top: 0px;
      }

      div.rich-body-editor {
        margin-top: 8px;
        @include activity-body();
        @include avenir_M();
        font-size: 20px;
        color: $oc_gray_7;
        outline: none;
        cursor: text;
        min-height: calc(100vh - 400px);

        .emojione {
          @include emoji-size(18);
        }

        h2 {
          font-size: 26px;
        }

        * {
          color: $oc_gray_7;
        }

        @include activity-attachment();

        &.medium-editor-placeholder:after {
          color: $oc_gray_7 !important;
        }

        &:after {
          margin: 0;
        }
      }
    }
  }
}