div.story-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $oc_gray_8;
  min-height: 100vh;

  div.story-header {
    height: 72px;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 24px 32px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

    div.story-header-left{
      float: left;

      div.story-header-back {
        @include avenir_H();
        font-size: 16px;
        color: $carrot_dark_gray_1;
        cursor: pointer;

        span.back-arrow {
          color: $carrot_light_gray_1;
          font-size: 20px;
          margin-right: 8px;
        }
      }
    }

    div.story-header-right {
      float: right;

      div.comments-summary-container {
        margin-left: 22px;
        margin-top: 2px;
        cursor: pointer;
        float: left;
      }

      button.share-button {
        margin-left: 22px;
        margin-top: -1;
        &:before {
          width: 22px;
          height: 14px;
          display: inline-block;
          content: "";
          background-image: cdnUrl("/img/ML/story_share_icon.svg");
          background-size: 14px 14px;
          background-position: 0px;
          background-repeat: no-repeat;
          font-size: 14px;
        }
      }
    }
  }

  div.story-content-outer {
    margin: 104px auto 32px;
    width: 840px;
    transition: margin-left 230ms;

    div.story-content {
      min-height: 136px;
      padding: 68px 80px 32px;
      background-color: white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      border-radius: 8px;

      div.story-content-authorship {
        height: 41px;
        margin-bottom: 32px;

        div.story-content-authorship-left {
          float: left;
          width: 50%;
          @include activity-author();
        }

        div.story-content-authorship-right {
          float: right;
          width: 50%;

          div.story-tags {
            float: right;
            // margin-top: 21px;
            position: relative;
            @include activity-tag();
            div.dropdown-list-container {
              left: -60px;
              top: 30px;
              width: 170px;
            }
          }
        }
      }

      div.story-banner {
        margin-left: -80px;
        margin-top: 50px;
        margin-bottom: 20px;
        width: 840px;
        max-height: 520px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        // border-radius: 8px;
        // border-top-left-radius: 8px;
        // border-top-right-radius: 8px;
      }

      div.story-title {
        margin-top: 59px;
        @include activity-title();
        @include avenir_M();
        font-size: 32px;

        .emojione {
          @include emoji-size(30);
        }
      }

      div.story-body {
        margin-top: 8px;
        @include activity-body();
        @include avenir_M();
        font-size: 20px;
        color: $oc_gray_7;
        * {
          color: $oc_gray_7;
        }
        outline: none;
        cursor: text;

        h2 {
          font-size: 26px;
        }

        @include activity-attachment();

        a.media-attachment {
          display: inline-block;

          label.media-attachment-title {
            margin-top: -4px;
          }
        }
      }

      div.story-content-footer {
        margin-top: 46px;
        text-align: center;

        div.you-did-it {
          @include avenir_BOOK();
          font-size: 16px;
          color: $carrot_light_gray_1;
          float: left;
          margin-top: 13px;
          margin-left: 250px;
        }

        div.caught-up {
          float: left;
          margin-top: 5px;
          width: 26px;
          height: 33px;
          background-image: cdnUrl("/img/ML/caught_up.svg");
          background-size: 26px 33px;
          background-repeat: no-repeat;
          margin-left: 15px;
        }
      }
    }

    div.related-container {
      margin-top: 46px;

      div.related-title {
        @include avenir_H();
        font-size: 20px;
        color: #768594;
        text-align: center;
        margin-bottom: 16px;
      }

      div.related-stories {
        &:not(.single-related){
          display: flex;
        }

        div.related-story {
          padding: 24px;
          width: 408px;
          border-radius: 4px;
          background-color: white;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
          cursor: pointer;
          flex: 1;

          &.centered {
            margin: 0px auto;
            flex: unset;
          }

          &:not(.centered) {
            float: left;

            &:last-child {
              margin-left: 24px;
            }
          }

          div.related-story-header {
            @include activity-author();
          }

          div.related-story-title {
            @include activity-title();
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 16px;
            width: 360px;
          }

          div.related-story-footer {
            div.is-reactions {
              margin-top: 16px;
            }

            div.is-coments {
              margin-top: 16px;
            }
          }
        }
      }
    }
  }

  div.story-comments-container {
    position: fixed;
    top: 72px;
    height: calc(100vh - 72px);
    width: 360px;
    right: -392px;
    transition: right 230ms;
    padding: 16px;
    background-color: $carrot_light_gray_2;

    &.comments-expanded {
      right: 0px;
    }

    button.carrot-close-bt {
      position: absolute;
      top: 0px;
      left: -32px;
    }

    div.story-comments-container-inner {
      height: 100%;
      div.comments {
        background-color: $carrot_light_gray_2;

        div.comments-internal {
          div.add-comment-box {
            width: 100%;
          }
        }
      }
    }
  }
}