div.story-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: $oc_gray_8;
  min-height: 100vh;

  div.story-header {
    height: 72px;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 24px 32px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);

    div.story-header-left{
      float: left;

      a.board-name {
        @include avenir_H();
        font-size: 16px;
        color: $carrot_light_gray_1;
        float: left;
      }

      span.arrow {
        margin-left: 10px;
        @include avenir_H();
        font-size: 20px;
        color: $carrot_light_gray_1;
        margin-top: -3px;
        float: left;
      }

      span.story-title {
        margin-left: 10px;
        @include avenir_H();
        font-size: 16px;
        color: black;
        float: left;
      }
    }

    div.story-header-right {
      float: right;

      div.comments-summary-container {
        margin-left: 22px;
        margin-top: 2px;
        cursor: pointer;
        float: left;
      }

      button.share-button {
        margin-left: 22px;
        margin-top: -1;
        &:before {
          width: 22px;
          height: 14px;
          display: inline-block;
          content: "";
          background-image: cdnUrl("/img/ML/story_share_icon.svg");
          background-size: 14px 14px;
          background-position: 0px;
          background-repeat: no-repeat;
          font-size: 14px;
        }
      }
    }
  }

  div.story-content {
    width: 840px;
    min-height: 136px;
    padding: 68px 80px 32px;
    margin: 104px auto 32px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    transition: margin-left 230ms;

    div.story-banner {
      margin-left: -80px;
      margin-top: -68px;
      margin-bottom: 20px;
      width: 840px;
      max-height: 200px;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    div.story-author {
      @include activity-author();
    }

    div.story-tags {
      margin-top: 21px;
      @include activity-tag();
    }

    div.story-title {
      margin-top: 20px;
      @include activity-title();
      @include avenir_M();
      font-size: 32px;
    }

    div.story-body {
      margin-top: 8px;
      @include activity-body();
      @include avenir_M();
      font-size: 20px;
    }

    div.story-content-footer {
      margin-top: 46px;
      text-align: center;

      div.you-did-it {
        @include avenir_BOOK();
        font-size: 16px;
        color: $carrot_light_gray_1;
        float: left;
        margin-top: 13px;
        margin-left: 250px;
      }

      div.caught-up {
        float: left;
        margin-top: 5px;
        width: 26px;
        height: 33px;
        background-image: cdnUrl("/img/ML/caught_up.svg");
        background-size: 26px 33px;
        background-repeat: no-repeat;
        margin-left: 15px;
      }
    }
  }

  div.story-comments-container {
    position: fixed;
    top: 72px;
    height: calc(100vh - 72px);
    width: 360px;
    right: -392px;
    transition: right 230ms;

    &.comments-expanded {
      right: 0px;
    }

    button.close-comments {
      position: absolute;
      top: 0px;
      left: -32px;
      width: 32px;
      height: 32px;
      background-color: $carrot_light_blue;
      border-radius: 4px;
      transition: 230ms;
      opacity: 1;

      &:hover {
        background-color: $carrot_text_blue;
        opacity: 1;
      }
    }

    div.comments {
      background-color: #F2F1ED;
    }
  }
}