div.stream-comments {
  width: 100%;
  height: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 16px;
    height: 24px;
    z-index: 10;
    pointer-events: none;
    @include top-gradient();
  }

  &.bottom-gradient:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 16px;
    height: 24px;
    z-index: 10;
    pointer-events: none;
    $gradient_base_color: #FDFCFB;
    background: -moz-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%, rgba($gradient_base_color,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, bottom, top, color-stop(0%,rgba($gradient_base_color,0)), color-stop(100%,rgba($gradient_base_color,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba($gradient_base_color, 1) 0%,rgba($gradient_base_color,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#{$gradient_base_color}',GradientType=0 ); /* IE6-9 */
  }

  div.stream-comments-inner {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 12px;
    padding-top: 16px;

    @include tablet() {
      padding-right: 0px;
      height: auto;
    }

    div.stream-comments-title {
      @include avenir_H();
      font-size: 14px;
      color: $carrot_dark_gray;
      margin-bottom: 16px;
    }

    div.stream-comments-empty {
      display: none;
    }

    div.stream-comment {
      border: 1px solid rgba($deep_tan, 0.7);
      border-radius: 6px;
      padding: 16px;
      background-color: white;
      margin-bottom: 8px;

      div.stream-comment-header {
        height: 32px;

        div.stream-comment-author-avatar {
          float: left;
          width: 32px;
          height: 32px;
          background-position: 50%;
          background-size: 32px 32px;
          border-radius: 50%;
          background-repeat: no-repeat;
        }

        div.stream-comment-author-right {
          float: left;
          margin-left: 16px;

          div.stream-comment-author-name {
            @include avenir_H();
            font-size: 12px;
            color: $deep_navy;
          }

          div.stream-comment-author-timestamp {
            @include avenir_M();
            font-size: 12px;
            color: $ui_grey;
            opacity: 0.5;
          }
        }

        div.stream-comment-more-menu-container {
          float: right;
          position: relative;

          button.comment-more-menu {
            width: 24px;
            height: 26px;
            padding: 2px 2px 16px 2px;
            display: block;
            background-image: cdnUrl("/img/ML/horizontal_ellipsis.svg");
            background-position: 50% 4px;
            background-size: 20px 4px;
            background-repeat: no-repeat;
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }

            &:hover, &.active {
              background-image: cdnUrl("/img/ML/horizontal_ellipsis_ui_grey.svg");
            }
          }

          div.stream-comment-more-menu {
            position: absolute;
            top: -8px;
            left: calc(100% - 164px);
            background-color: white;
            width: 136px;
            background-color: white;
            border: 1px solid $deep_tan;
            box-shadow: 0 2px 4px 1px rgba(0,0,0,0.10);
            outline: none;
            z-index: 110;
            border-radius: 5px;
            margin: 0;
            padding: 24px;

            div.stream-comment-more-menu-item {
              height: 18px;
              @include avenir_H();
              font-size: 14px;
              color: $deep_navy;
              cursor: pointer;
              padding-left: 32px;
              position: relative;
              margin-top: 16px;

              &:before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-size: 18px 18px;
                background-position: center;
              }

              &:first-child {
                margin-top: 0px;
              }

              &.edit {
                &:before {
                  background-image: cdnUrl("/img/ML/more_menu_edit.svg");
                }
              }

              &.delete {
                &:before {
                  background-image: cdnUrl("/img/ML/more_menu_delete.svg");
                }
              }
            }
          }
        }
      }

      div.stream-comment-content {
        text-align: left;
        margin-top: 8px;

        div.stream-comment-body {
          @include avenir_BOOK();
          font-size: 14px;
          color: $deep_navy;
          white-space: pre-wrap;
          word-wrap: break-word;

          &.medium-editor-element {
            // editing comment
            border-radius: 4px;
            border: 1px solid $ui_grey;
            outline: none;
            padding: 4px;
          }

          * {
            white-space: pre-wrap;
            word-wrap: break-word;
          }

          margin-bottom: 0px;

          &>*:last-child {
            margin-bottom: 0px;
          }

          &.emoji-comment {
            font-size: 50px;
            height: 50px;

            // & > * {
            //   line-height: 20px;
            //   margin-top: 20px;
            // }
          }
        }
      }

      div.stream-comment-footer {
        height: 25px;

        div.stream-comment-reaction {
          padding-top: 8px;
          height: 25px;
          @include avenir_M();
          font-size: 12px;
          color: $ui_grey;
          float: left;

          &.can-react {
            cursor: pointer;
          }

          &.reacted {
            color: $carrot_green;

            div.stream-comment-reaction-icon {
              background-image: cdnUrl("/img/ML/comment_agree_on.svg");
            }
          }

          &.reacted.can-react:hover {
            color: $deep_navy;

            div.stream-comment-reaction-icon {
              background-image: cdnUrl("/img/ML/comment_agree_on_hover.svg");
            }
          }

          &.can-react:hover {
            color: $carrot_green;

            div.stream-comment-reaction-icon {
              background-image: cdnUrl("/img/ML/comment_agree_off_hover.svg");
            }
          }

          div.stream-comment-reaction-icon {
            float: left;
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            background-image: cdnUrl("/img/ML/comment_agree_off.svg");
            background-size: 14px 14px;
            background-position: center;
          }

          div.stream-comment-reaction-count {
            float: left;
            margin-left: 6px;
            margin-top: 2px;
          }
        }
      }

      div.save-cancel-edit-buttons {
        float: right;
        padding-top: 8px;

        button {
          float: right;
        }
      }
    }
  }
}