div.stream-attachments {
  margin-top: 24px;

  @include mobile() {
    width: 100%;
  }

  div.stream-attachments-content {
    width: 100%;
    height: auto;
    min-height: 34px;

    a.stream-attachments-item {

      div.attachment-info {
        margin-top: 8px;
        height: 20px;

        div.attachment-icon {
          width: 18px;
          height: 20px;
          background-image: cdnUrl("/img/ML/attachment_icon.svg");
          background-size: 18px 20px;
          background-repeat: no-repeat;
          background-position: center;
          float: left;
        }

        span.attachment-name {
          @include avenir_M();
          font-size: 14px;
          color: $deep_navy;
          white-space: nowrap;
          display: inline-block;
          margin-left: 8px;
        }

        span.attachment-description {
          @include avenir_M();
          font-size: 12px;
          color: $ui_grey;
          white-space: nowrap;
          display: inline-block;
          margin-left: 6px;
        }

        button.remove-attachment-bt {
          width: 20px;
          height: 20px;
          background-image: cdnUrl("/img/ML/clear_attachments_x.svg");
          background-size: 6px 6px;
          background-position: 50% 5px;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 8px;
        }
      }
    }
  }
}