// --foc-background-color: rgba($deep_navy, 0.05);
// --mobile-foc-background-color: rgba($deep_navy, 0.05);
// --foc-hover-color: rgba($deep_navy, 0.10);
// --foc-new-color: white;
// --foc-divider-line-color: rgba($deep_navy, 0.15);

div.virtualized-list-separator:not(.expanded-list) {
  &+div.virtualized-list-row.collapsed-item div.stream-collapsed-item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

div.virtualized-list-row.collapsed-item {
  background-color: var(--background-color);

  @include big_web() {
    z-index: 1;

    &.open-item div.stream-collapsed-item {
      border-top: 1px solid var(--foc-divider-line-color);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-top: 16px;
    }

    &.close-item div.stream-collapsed-item {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:not(.close-item) div.stream-collapsed-item {
      border-bottom: 0;
    }

    &:hover {
      z-index: 2;

      div.stream-collapsed-item {
        background-color: var(--foc-hover-color);
        z-index: 2;
        box-shadow: 0 2px 6px 0 var(--foc-box-shadow);
        border: 1px solid var(--foc-hover-border-color);

        div.more-menu {
          display: initial;

          button {
            display: initial;
          }
        }

        div.more-menu {
          background-color: var(--foc-hover-color);

          &:before {
            background: linear-gradient(to left, var(--foc-menu-gradient-from), var(--foc-menu-gradient-to) 100%);
          }
        }

        div.activity-share-container {
          display: block;
        }

        &.expandable {
          div.more-menu {
            display: initial;

            button {
              display: initial;
            }
          }
        }

        &.unread-item {
          background-color: var(--foc-new-color);
          z-index: 2;
          box-shadow: 0 2px 6px 0 var(--foc-box-shadow);
          border: 1px solid var(--foc-new-border-color);
        }
      }
    }
  }

  @include mobile() {
    background-color: var(--mobile-background-color);
  }
}

div.stream-collapsed-item {
  width: #{$board_container_width}px;
  height: #{$collapsed_foc_height}px;
  margin: 0;
  border: 1px solid var(--foc-divider-line-color);
  background-color: var(--foc-background-color);
  overflow: visible;
  height: #{$collapsed_foc_height}px;
  padding: 12px;
  display: block;
  position: relative;

  @include mobile() {
    height: #{$mobile_collapsed_foc_height}px;
    width: 100%;
    padding: 16px;
  }

  &.expandable {
    cursor: pointer;
  }

  &.unread-item {
    background-color: var(--foc-new-color);
    z-index: 1;
    position: relative;

    &.showing-share {
      z-index: 3;
    }

    div.more-menu {
      background-color: var(--foc-new-color);

      &:before {
        background: linear-gradient(to left, var(--foc-new-menu-gradient-from), var(--foc-new-menu-gradient-to) 100%);
      }
    }
  }

  div.stream-collapsed-item-inner {
    width: 100%;
    height: 32px;
    // position: relative;
    // overflow: visible;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-content: flex-start;
    // flex-wrap: nowrap;
    padding: 4px;
    // align-items: center;

    @include mobile() {
      padding: 0;
      height: 50px;
    }

    &>* {
      text-align: left;
    }

    &.bookmark-item div.stream-collapsed-item-fill {

      div.bookmark-tag-small {
        display: block;
      }
    }

    &.muted-item div.stream-collapsed-item-fill {
      div.muted-activity {
        display: block;
      }
    }

    &.new-item {
      div.stream-collapsed-item-fill {
        div.new-item-tag {
          display: block;
        }
      }
    }

    div.stream-collapsed-item-fill {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;

      div.stream-collapsed-item-avatar {
        flex: 0 0 auto;
        @include face-pile(24);
      }

      div.stream-item-context {
        height: 24px;
        color: var(--color);
        flex: 0 0 auto;
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 24px;
        margin-left: 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
      }

      div.stream-item-arrow {
        width: 12px;
        height: 8px;
        background-image: cdnUrl("/img/ML/collapsed_foc_arrow.svg");
        background-size: 12px 8px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 8px;
        flex: 0 0 12px;

        @include dark_mode() {
          background-image: cdnUrl("/img/ML/collapsed_foc_arrow@dark.svg");
        }
      }

      div.stream-item-headline {
        height: 24px;
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-wrap: break-word;
        @include OC_Body_Bold();
        font-size: 14px;
        line-height: 24px;
        color: var(--color);
        margin-left: 8px;
      }

      @include bookmark-tag();

      @include muted-activity();

      @include new-item-tag();

      div.bookmark-tag-small,
      div.muted-activity,
      div.new-item-tag {
        display: none;
      }

      div.new-item-tag {
        flex: 0 0 auto;
        margin-left: 8px;
      }

      div.muted-activity {
        flex: 0 0 auto;
        margin-left: 8px;
      }

      div.bookmark-tag-small {
        margin-left: 8px;
        flex: 0 0 auto;
      }

      div.collapsed-time {
        height: 24px;
        @include OC_Body_Book();
        font-size: 12px;
        line-height: 24px;
        color: var(--light-color);
        margin-left: auto;
        flex: 0 0 auto;
        padding-left: 8px;
      }

      div.stream-item-break {
        display: none;
      }

      @include mobile() {
        margin-left: 0;
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        div.stream-collapsed-item-avatar {
          order: 1;
        }

        div.stream-item-context {
          order: 2;
          flex: 0 1 auto;
          max-width: 70%;
        }

        div.new-item-tag {
          order: 3;
        }

        div.bookmark-tag-small {
          order: 4;
        }

        div.muted-activity {
          order: 5;
        }

        div.collapsed-time {
          order: 6;
        }

        div.stream-item-break {
          order: 7;
          flex: 0 0 100%;
          height: 0;
          display: block;
        }

        div.stream-item-arrow {
          order: 8;
          margin-left: 0;
        }

        div.stream-item-headline {
          max-width: calc(100% - 20px);
          height: 18px;
          line-height: 18px;
          order: 9;
          color: var(--light-color);
        }
      }
    }

    @include mobile() {

      &.new-item.bookmark-item,
      &.new-item.muted-item,
      &.bookmark-item.muted-item {
        div.stream-collapsed-item-fill div.stream-item-context {
          max-width: 40%;
        }
      }
    }
  }

  div.more-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 32px;
    z-index: 100;
    background-color: var(--foc-hover-color);
    display: none;
    padding-left: 8px;

    &:before {
      width: 24px;
      height: 32px;
      content: "";
      position: absolute;
      top: 0;
      left: -24px;
      background: linear-gradient(to left, var(--foc-menu-gradient-from), var(--foc-menu-gradient-to) 100%);
    }

    ul.more-menu-list {
      z-index: 102;
    }
  }

  div.activity-share-container {
    display: none;
    position: absolute;
    right: 0;
    bottom: 8px;

    div.activity-share-modal-container {
      margin-top: 0;
      right: 0;
    }
  }
}