// --foc-background-color: rgba($deep_navy, 0.05);
// --mobile-foc-background-color: rgba($deep_navy, 0.05);
// --foc-hover-color: rgba($deep_navy, 0.10);
// --foc-new-color: white;
// --foc-divider-line-color: rgba($deep_navy, 0.15);
$foc_hover_extra_padding: 4;

div.virtualized-list-row:not(.collapsed-item) {
  background-color: var(--background-color);

  @include big_web() {
    &.open-item div.stream-item {
      border-top: 1px solid var(--foc-divider-line-color);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &.close-item div.stream-item {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  @include big_web() {
    z-index: 1;

    &:hover {
      z-index: 2;
      width: calc(100% + #{$foc_hover_extra_padding * 2}px) !important;
      height: #{$foc_height + ($foc_hover_extra_padding * 2)}px !important;
      margin: -#{$foc_hover_extra_padding}px 0 0 -#{$foc_hover_extra_padding}px;

      div.stream-item {
        background-color: var(--foc-hover-color);
        z-index: 2;
        box-shadow: 0 2px 6px 0 var(--foc-box-shadow);
        border-radius: 4px;
        padding: #{24 + $foc_hover_extra_padding}px #{32 + $foc_hover_extra_padding}px;
        width: #{$board_container_width + ($foc_hover_extra_padding * 2)}px;
        height: #{$foc_height + ($foc_hover_extra_padding * 2)}px;
        border-top: 1px solid var(--foc-hover-border-color);
        border-right: 1px solid var(--foc-hover-border-color);
        border-bottom: 1px solid var(--foc-hover-border-color);
        border-left: 1px solid var(--foc-hover-border-color);

        div.stream-item-header {
          div.more-menu {
            display: block;

            button {
              display: initial;
            }
          }
        }

        div.activity-share-container {
          display: block;
        }

        div.stream-item-body-ext div.stream-item-footer {
          div.reactions div.reactions-picker-container {
            display: block;
          }
        }

        &.expandable {
          div.stream-item-header {
            div.more-menu {
              display: block;

              button {
                display: initial;
              }
            }
          }
        }

        &.unread-item {
          background-color: var(--foc-new-color);
          z-index: 2;
          box-shadow: 0 2px 6px 0 var(--foc-box-shadow);
          border-radius: 4px;
          border-top: 1px solid var(--foc-new-border-color);
          border-right: 1px solid var(--foc-new-border-color);
          border-bottom: 1px solid var(--foc-new-border-color);
          border-left: 1px solid var(--foc-new-border-color);
          padding: #{24 + $foc_hover_extra_padding)}px #{32 + $foc_hover_extra_padding}px;
          width: #{$board_container_width + ($foc_hover_extra_padding * 2)}px;
          height: #{$foc_height + ($foc_hover_extra_padding * 2)}px;

          div.stream-item-header {
            div.more-menu {
              display: block;

              button {
                display: initial;
              }
            }
          }
        }
      }
    }
  }

  @include mobile() {
    background-color: var(--mobile-background-color);
  }
}

div.stream-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: #{$board_container_width}px;
  height: #{$foc_height}px;
  margin: 0;
  border-top: none;
  border-right: 1px solid var(--foc-divider-line-color);
  border-bottom: 1px solid var(--foc-divider-line-color);
  border-left: 1px solid var(--foc-divider-line-color);
  padding: 24px 32px;
  background-color: var(--foc-background-color);
  overflow: visible;
  border-radius: 0;

  @include mobile() {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--foc-divider-line-color);
    border-left: none;
    background-color: var(--mobile-foc-background-color);
    padding: 16px 16px;
    height: #{$mobile_foc_height}px;
  }

  &.draft {
    cursor: pointer;
  }

  &.expandable {
    cursor: pointer;
  }

  &.unread-item {
    background-color: var(--foc-new-color);
    z-index: 1;
    position: relative;

    &.showing-share {
      z-index: 3;
    }
  }

  &:not(.bookmark-item).must-see-item div.must-see-tag {
      display: inline-block;
  }

  &.bookmark-item, &.bookmark-item.must-see-item {
    div.must-see-tag {
      display: none;
    }

    div.bookmark-tag, div.bookmark-tag-small {
      display: inline-block;
    }
  }

  &.muted-item div.muted-activity {
    display: inline-block;
  }

  div.activity-share-container {
    display: none;

    div.activity-share-modal-container {
      right: -9px;
      margin-top: 32px;
    }
  }

  // Mobile swipe buttons
  button.mobile-more-bt {
    height: 48px;
    padding: 14px 0;
    border-radius: 4px;
    background-color: $deep_navy;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 16px;
    z-index: 4;
    transition: width 180ms;
    width: 0;
    overflow: hidden;

    @include big_web() {
      display: none;
    }

    span {
      color: white;
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      margin-left: 26px;
    }

    &:before {
      content: "";
      width: 18px;
      height: 4px;
      background-image: cdnUrl("/img/ML/mobile_more_ellipsis_white.svg");
      background-size: 18px 4px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 22px;
      left: 24px;
    }

    &.visible {
      width: 114px;
    }
  }

  button.mobile-dismiss-bt {
    height: 48px;
    padding: 14px 0;
    border-radius: 4px;
    background-color: $wut_purple;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    right: 16px;
    z-index: 4;
    transition: width 180ms, margin-right 180ms;
    width: 0;
    margin-right: -124px;
    overflow: hidden;

    @include big_web() {
      display: none;
    }

    span {
      color: white;
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      margin-left: 26px;
    }

    &:before {
      content: "";
      width: 14px;
      height: 10px;
      background-image: cdnUrl("/img/ML/mobile_dismiss_checkmark.svg");
      background-size: 14px 10px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 19px;
      left: 24px;
    }

    &.visible {
      width: 124px;
      margin-right: 0;
    }
  }

  div.stream-item-header {
    position: relative;
    height: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include mobile() {
      width: 100%;
      display: block;
    }

    div.stream-header-head-author {
      height: 24px;
      flex: 0 0 auto;
      margin-right: 8px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-items: center;
      max-width: calc(100% - 140px);

      &.has-inbox {
        max-width: calc(100% - 170px);
      }

      @include mobile() {
        min-height: 24px;
        height: auto;
        width: auto;
        margin-right: 0;
        max-width: initial;

        &.has-inbox {
          max-width: initial;
        }
      }

      div.hover-container {
        flex: 0 1 auto;
        white-space: nowrap;
        overflow: hidden; // needed for name truncation
        z-index: 2;

        @include activity-author(24);

        div.user-avatar-img-container {
          margin-right: 8px;
        }

        span.name {
          height: 24px;
          color: var(--light-color);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 24px;
          display: block;
          margin-right: 4px;
        }
      }

      @include activity-author(24);

      span.name {
        height: 24px;
        color: var(--light-color);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 24px;
        display: block;
        flex: 0 1 auto;
      }

      span.time-since {
        display: block;
        height: 24px;
        line-height: 24px;
        text-align: left;
        @include OC_Body_Book();
        font-size: 12px;
        color: var(--light-color);
        position: relative;
        margin-left: 12px;
        white-space: nowrap;
        flex: 0 0 auto;
        overflow: visible;

        &:before {
          content: "";
          width: 3px;
          height: 3px;
          background-color: var(--divider-line);
          border-radius: 50%;
          position: absolute;
          top: 12px;
          left: -8px;
        }
      }

      div.bookmark-tag-small {
        margin-right: 0;
        flex: 0 0 auto;
        align-self: center;
      }

      @include mobile() {
        div.bookmark-tag-small {
          margin-left: auto;
        }
      }

      div.bookmark-tag, div.must-see-tag {
        align-self: center;
        flex: 0 0 auto;
      }

      div.muted-activity {
        align-self: center;
        opacity: 0.5;
        flex: 0 0 auto;

        @include mobile() {
          margin-right: 8px;
        }
      }
    }

    div.more-menu {
      height: 32px;
      flex: 0 0 auto;
      margin-left: auto;

      @include big_web() {
        display: none;

        &:not(.menu-expanded) button {
          display: none;
        }
      }
    }
  }

  @include must-see-tag();
  
  @include bookmark-tag();

  @include muted-activity();


  div.must-see-tag, div.bookmark-tag, div.bookmark-tag-small, div.muted-activity {
    display: none;
    margin-right: 0;
    margin-left: 8px;
  }

  & > div.must-see-tag, & > div.bookmark-tag, & > div.bookmark-tag-small {
    margin-top: 16px;
  }

  div.stream-item-body-ext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border-radius: 6px;

    @include mobile() {
      display: block;
      flex-direction: unset;
      justify-content: unset;
      border-radius: 0;
    }

    &.expanded {
      div.thumbnail-container {
        cursor: default;

        div.ziggeo-player {
          margin-top: 24px;
          margin-bottom: 24px;
          float: unset;
          width: 654px;
          height: 478px;
          position: relative;
          top: unset;
          right: unset;
          transform: translate(0%,0%);

          video {
            max-height: 478px;
          }

          @include tablet(){
            width: 100vw;
            height: calc(100vw *  0.75);
          }
        }

        div.body-thumbnail-wrapper {
          display: none;
        }
      }
    }

    div.thumbnail-container {
      min-height: 80px;
      position: relative;
      cursor: pointer;

      @include mobile() {
        min-height: 71px;
      }

      div.ziggeo-player {
        width: 106px;
        height: 80px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        video {
          max-height: 80px;
        }

        @include tablet(){
          margin-top: 16px;
          float: unset;
          width: calc(100vw + 32px);
          height: auto;
          margin-left: -16px;
          position: initial;
          top: unset;
          right: unset;
          transform: translateY(0%);

          video {
            max-height: calc(100vw * 0.75);
          }

          div.ba-videoplayer-carrot-theme-volumebar, div[data-selector="button-icon-volume"] {
            display: none !important;
          }
        }
      }

      div.body-thumbnail-wrapper {
        width: 106px;
        max-height: 80px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;

        img.body-thumbnail {
          border-radius: 4px;
          object-fit: contain;
          max-width: 106px;
          max-height: 80px;
        }

        @include mobile() {
          width: 95px;
          top: 0;
          // Remove thumbnails from mobile for now
          display: none;

          img.body-thumbnail {
            max-height: 72px;
            max-width: 95px;
          }
        }

        &.video {
          &:hover:after {
            opacity: 1;
          }

          &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 45px;
            height: 45px;
            background-image: cdnUrl("/img/ML/play.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 45px;
            opacity: 0.6;
          }
        }
      }
    }

    div.stream-body-left {
      position: relative;
      margin-top: 4px;

      &.has-thumbnail, &.has-video {
        float: left;
        width: 478px;
        min-height: 80px;

        @include mobile() {
          width: 100%;
        }
      }

      @include tablet() {
        width: 100%;
        margin: 0;
      }

      &.has-video {
        @include tablet() {
          float: unset;
          width: 100%;
          min-height: initial;
        }
      }

      div.stream-item-headline {
        height: 28px;
        @include activity-title(20px, 28px);
        color: var(--color);
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
        overflow-wrap: break-word;

        @include mobile() {
          margin-top: 2px;
          height: 23px;
          @include activity-title(18px, 23px);
        }
      }

      div.stream-item-body {
        @include activity-body-preview(16, 22, var(--color), 2);

        @include mobile() {
          @include activity-body-preview(16, 22, var(--color), 2);
        }
      }
    }

    div.stream-item-footer {
      min-height: 26px;

      @include mobile() {
        height: auto;
        overflow: hidden;
        height: 32px;
      }

      div.reactions {
        @include mobile() {
          display: inline-block;
        }
      }

      div.stream-item-footer-mobile-group {
        @include mobile() {
          display: inline-block;
          padding-top: 4px;
          height: 32px;
        }
      }

      div.stream-body-draft-edit {
        float: left;

        button.edit-draft-bt {
          text-align: left;
          padding: 0px;
          @include OC_Body_Bold();
          font-size: 14px;
          color: $wut_purple;
        }
      }

      div.stream-body-draft-delete {
        float: right;
        button.delete-draft-bt {
          text-align: right;
          padding: 0px;
          @include OC_Body_Bold();
          font-size: 14px;
          color: var(--light-color);
        }
      }

      div.stream-item-comments-summary {
        margin-right: 16px;
        float: left;

        @include mobile() {
          margin-top: 1px;
        }
      }

      div.reactions {
        float: left;
        margin-right: 14px;

        div.reactions-picker-container {
          display: none;

          div.emoji-mart {
            bottom: unset;
            top: 0;
            left: calc(100% + 8px);

            @include mobile(){
              bottom: unset;
              right: unset;
              top: unset;
              left: unset;
            }
          }
        }
      }

      div.stream-item-mobile-attachments {
        display: none;

        @include mobile() {
          display: block;
          float: left;
          height: 22px;

          span.mobile-attachments-icon {
            display: inline-block;
            width: 18px;
            height: 22px;
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
            background-size: 18px 20px;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 6px;
            opacity: 0.5;

            @include dark_mode() {
              background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
            }
          }

          span.mobile-attachments-count {
            @include OC_Body_Book();
            font-size: 17px;
            line-height: 22px;
            color: var(--light-color);
            display: inline-block;
            height: 22px;
            vertical-align: top;
          }
        }
      }

      div.stream-item-attachments {
        float: left;
        margin-right: 16px;
        height: 26px;
        position: relative;

        @include mobile() {
          display: none;
        }

        &:hover {
          div.stream-item-attachments-count {
            opacity: 1;
          }

          div.stream-item-attachments-list {
            display: block;
          }
        }

        div.stream-item-attachments-count {
          position: relative;
          @include OC_Body_Book();
          font-size: 12px;
          color: var(--color);
          opacity: 0.5;
          line-height: 26px;

          @include mobile() {
            margin-top: 0;
            padding-left: 0;
            line-height: 20px;
          }
        }

        div.stream-item-attachments-list {
          position: absolute;
          top: 26px;
          left: calc(50% - 120px);
          width: 240px;
          max-height: 200px;
          background-color: var(--overlay-background-color);
          border-radius: 4px;
          border: 1px solid var(--divider-line);
          padding: 8px 0;
          display: none;
          z-index: 2;

          a.stream-item-attachments-item {
            padding: 8px 16px;
            height: 34px;
            display: block;

            &:active, &:hover {
              background-color: var(--selected-row-background-color);
              div.stream-item-attachments-item-desc {
                color: var(--selected-row-color);
              }
            }

            div.stream-item-attachments-item-desc {
              @include OC_Body_Book();
              font-size: 14px;
              color: var(--light-color);
              white-space: nowrap;
              max-width: 100%;

              span.file-name {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
                max-width: calc(100% - 80px);
              }

              span.file-size {
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                margin-left: 8px;
              }
            }
          }
        }
      }

      div.stream-item-wrt {
        float: left;
        position: relative;
        margin-top: 4px;
        margin-right: 16px;

        @include mobile() {
          display: none;
        }
      }
    }
  }
}
