div.stream-comments {
  height: 100%;
  position: relative;

  &.editing {
    div.stream-comments-list {
      div.streacm-comment {
        @include big_web(){
          &:hover {
            background-color: transparent;
            div.stream-comment-floating-buttons {
              display: none;
            }

            div.stream-comment-header div.stream-comment-author-right div.stream-comment-author-timestamp {
              display: none;
            }
          }
        }
      }
    }
  }

  div.stream-comments-empty {
    display: none;
  }

  div.stream-comments-list {

    div.stream-comment {
      position: relative;
      background-color: #FFF7DD;

      &.not-highlighted {
        background-color: transparent;
        transition: background-color 5s ease-in;
      }

      div.stream-comment-inner {
        padding: 8px 16px;
      }

      @include big_web() {
        &:not(.editing-other-comment):not(.highlighted):hover div.stream-comment-inner {
          background-color: #F5F5F5;

          div.stream-comment-floating-buttons {
            display: block;
          }

          div.stream-comment-header div.stream-comment-author-right div.stream-comment-author-timestamp {
            display: block;
          }
        }
      }

      div.stream-comment-mobile-menu {
        display: none;

        @include mobile() {
          display: block;

          div.more-menu {
            button.more-menu-bt {
              background-position: 0px left 4px top;
              margin-top: -4px;
            }

            ul.more-menu-list {
              width: 78px;
              top: 20px;
              right: 13px;
              left: unset;
            }
          }
        }
      }

      &.showing-picker {
        div.stream-comment-floating-buttons {
          background-color: rgba($ultra_light_grey, 0.3);
          display: block;
        }
      }

      &.editing {
        @include big_web() {
          &:not(.highlighted):hover div.stream-comment-inner {
            background-color: initial;
          }
        }
        div.stream-comment-floating-buttons div.stream-comment-floating-buttons-inner:hover {
          display: none;
        }

        div.stream-comment-header {
          display: none;
        }

        div.stream-comment-content {
          div.stream-comment-body, div.stream-comment-body.medium-editor-element {
            // editing comment
            display: block;
            margin-top: 0;
            border-radius: 4px;
            border: 1px solid $mid_light_grey;
            background-color: white;
            outline: none;
            padding: 4px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
            padding: 8px 16px;

            &:focus, &:active {
              outline: none;
            }
          }
        }
      }

      div.stream-comment-floating-buttons {
        position: absolute;
        right: 16px;
        top: -13px;
        height: 26px;
        width: 34px;
        display: none;

        &.can-share, &.can-edit, &.can-delete {
          width: 69px;
        }

        &.can-edit.can-delete, &.can-edit.can-share, &.can-delete.can-share {
          width: 104px;
        }

        &.can-edit.can-delete.can-share {
          width: 139px;
        }

        div.emoji-mart {
          right: 0;
          left: unset;
          position: absolute;
          top: 34px;
        }

        .tooltip {
          z-index: 1500;

          &:last-child {
            width: 86px;
          }

          &.in {
            opacity: 1;
          }

          // Change Bootstrap tooltip style
          .tooltip-arrow {
            display: block;
            border-top-color: $deep_navy;
          }

          .tooltip-inner {
            background-color: $deep_navy;
            white-space:pre-wrap;
            max-width: none;
            text-align: left;
            opacity: 1;
            @include OC_Body_Book();
            font-size: 12px;
            color: white;
            line-height: 18px;
            padding: 5px 8px;
            border-radius: 4px;
            box-shadow: none;
            border: none;
          }
        }
        & > button {
          background-color: #3FBD7C;
          width: 35px;
          height: 26px;
          background-position: center;
          background-repeat: no-repeat;
          border-right: 1px solid #61C98F;
          margin: 0;
          padding: 0;

          &:last-of-type {
            width: 34px;
            border-right: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          &:first-of-type {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          @include big_web() {
            &:hover {
              background-color: #3CA473;
            }
          }

          &.edit-bt {
            background-image: cdnUrl("/img/ML/comment_edit_pen.svg");
            background-size: 12px 12px;
          }

          &.delete-bt {
            background-image: cdnUrl("/img/ML/comment_delete_can.svg");
            background-size: 12px 14px;
          }

          &.share-bt {
            background-image: cdnUrl("/img/ML/comment_share.svg");
            background-size: 14px 12px;
          }

          &.react-bt {
            background-image: cdnUrl("/img/ML/comment_react_emoji.svg");
            background-size: 14px 14px;
          }
        }
      }

      div.stream-comment-author-avatar {
        float: left;
        width: 24px;
        height: 24px;

        @include user-profile(24);
      }

      div.stream-comment-right {
        margin-left: 40px;
        @include preload_image(cdnUrl("/img/ML/comment_react_emoji.svg"));
      }

      div.stream-comment-header {
        height: 16px;

        @include preload_image(cdnUrl("/img/ML/comment_edit_pen.svg"));

        div.stream-comment-author-right  {
          float: left;
          max-width: 80%;

          @include preload_image(cdnUrl("/img/ML/comment_delete_can.svg"));

          div.stream-comment-author-name {
            @include OC_Body_Bold();
            font-size: 12px;
            color: $deep_navy;
            line-height: 15px;
            float: left;
            @include preload_image(cdnUrl("/img/ML/comment_share.svg"));
          }

          div.stream-comment-author-timestamp {
            @include OC_Body_Book();
            font-size: 12px;
            color: rgba($deep_navy, 0.5);
            float: left;
            margin-left: 8px;
            line-height: 14px;
            display: none;
          }
        }
      }

      div.stream-comment-content {
        text-align: left;
        position: relative;
        margin-top: 2px;

        div.stream-comment-body {
          display: inline;
          @include activity-comment();
        }
      }

      div.stream-comment-reactions-footer {
        height: 24px;
        margin-top: 8px;
      }

      div.stream-comment-footer {
        height: 24px;
        margin-top: 2px;

        @include mobile() {
          margin-top: 8px;
        }
      }

      div.save-cancel-edit-buttons {
        float: right;
        padding-top: 16px;

        @include mobile() {
          padding-top: 0;
        }

        button {
          float: right;
          @include OC_Body_Book();
          font-size: 14px;
          padding: 0;
          height: 18px;
          line-height: 18px;

          &.cancel-bt {
            color: rgba($deep_navy, 0.5);
            margin-right: 16px;
          }

          &.save-bt {
            color: $carrot_green;
          }
        }
      }
    }

    div.stream-comments-expand {
      text-align: center;
      cursor: pointer;
      margin: 14px 0 8px;

      span.collapse-expand-list {
        @include OC_Body_Book();
        font-size: 14px;
        color: $ui_grey;
        padding-left: 22px;

        background-image: cdnUrl("/img/ML/expand_comments.svg");
        background-size: 14px 8px;
        background-position: 0px 3px;
        background-repeat: no-repeat;
      }

      &.expanded {
        span.collapse-expand-list {
          background-image: cdnUrl("/img/ML/collapse_comments.svg");
        }
      }
    }
  }
}
