div.stream-comments {
  height: 100%;
  position: relative;
  padding-bottom: 25vh;
  margin-top: 40px;
  padding-top: 16px;

  &.editing {
    div.stream-comments-list {
      div.streacm-comment {
        @include big_web(){
          &:hover {
            background-color: transparent;
            div.stream-comment-floating-buttons {
              display: none;
            }
          }
        }
      }
    }
  }

  div.stream-comments-list {

    div.stream-comment-outer {
      background-color: #FFF7DD;
      padding: 0;
      position: relative;

      &.left-border {
        &:before {
          content: "";
          width: 2px;
          height: 100%;
          position: absolute;
          left: 15px;
          top: 0;
          background-color: rgba($deep_navy, 0.1);
        }

        &.open-thread:before {
          height: calc(100% - 16px);
          top: 16px;
        }
      }

      &.open-thread {
        &:not(:first-child) {
          margin-top: 16px;
        }
      }

      &:last-child div.stream-comment div.stream-comment-inner {
        padding: 8px 0 0;
      }

      div.stream-comment.indented-comment div.stream-comment-inner {
        margin-left: 48px;
        width: calc(100% - 48px);

        @include mobile() {
          display: block;

          div.more-menu {
            button.more-menu-bt {
              background-position: 0px left 4px top;
              margin-top: -4px;
              background-color: transparent;
            }

            ul.more-menu-list {
              width: 94px;
              top: 20px;
              right: 13px;
              left: unset;
            }
          }
        }
      }

      &:not(.editing):hover {
        div.stream-comment-floating-buttons {
          display: block;
        }
      }

      &.not-highlighted {
        background-color: transparent;
        transition: background-color 3s ease-in;
      }

      div.stream-comment {
        position: relative;

        div.stream-comment-inner {
          padding: 8px 0;
        }

        div.stream-comment-mobile-menu {
          display: none;
          float: right;

          div.emoji-picker-container {
            button.close-bt {
              display: none;
            }
          }

          @include mobile() {
            display: block;

            div.emoji-picker-container {
              width: 100vw;
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100vh;
              background-color: white;
              z-index: 4;
              padding-top: 29px;

              button.close-bt {
                color: $deep_navy;
                padding: 0;
                margin: 0;
                @include OC_Body_Bold();
                font-size: 16px;
                position: absolute;
                top: 8px;
                right: 8px;
                display: block;
              }

              div.emoji-mart {
                position: relative;
                width: 100% !important;
                height: calc(100vh - 29px);
                bottom: unset;
                box-shadow: none;
                border-radius: none;
                border: none;

                div.emoji-mart-scroll {
                  height: calc(100vh - 29px - 46px - 29px);
                }

                div.emoji-mart-bar:last-child {
                  display: none;
                }
              }
            }

            div.more-menu {
              button.more-menu-bt {
                margin-top: -12px;
                margin-left: 7px;
                background-color: transparent;
              }

              ul.more-menu-list {
                width: 94px;
                top: 20px;
                right: 0;
                left: unset;
              }
            }
          }
        }

        &.showing-picker {
          div.stream-comment-floating-buttons {
            background-color: rgba($ultra_light_grey, 0.3);
            display: block;
          }
        }

        &.editing {
          @include big_web() {
            &:not(.highlighted):hover div.stream-comment-inner {
              background-color: initial;
            }
          }

          div.stream-comment-header {
            display: none;
          }

          div.stream-comment-content {
            div.stream-comment-body, div.stream-comment-body.medium-editor-element {
              // editing comment
              display: block;
              margin-top: 0;
              border-radius: 4px;
              border: 1px solid $mid_light_grey;
              background-color: white;
              outline: none;
              padding: 4px;
              box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
              padding: 8px 16px;

              &:focus, &:active {
                outline: none;
              }
            }
          }
        }

        div.stream-comment-floating-buttons {
          position: absolute;
          top: -8px;
          right: -24px;
          height: 32px;
          z-index: 2;
          display: none;
          border-radius: 4px;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
          background-color: $deep_navy;

          div.more-bt-container {
            height: 32px;
            float: left;
            position: relative;

            div.comment-more-menu-container {
              position: absolute;
              top: 34px;
              left: 0;
              padding: 8px 0;
              border-radius: 4px;
              width: 78px;
              outline: none;
              z-index: 110;
              background-color: white;
              border: 1px solid $mid_light_grey;

              button {
                padding: 0;
                margin: 0;
                @include OC_Body_Book();
                font-size: 14px;
                color: $deep_navy;
                line-height: 18px;
                cursor: pointer;
                padding: 8px 16px;
                background-color: white;
                position: relative;
              }
            }
          }

          div.react-bt-container {
            // width: 30px;
            height: 32px;
            float: left;

            div.emoji-mart {
              position: absolute;
              top: 28px;
              right: 0;
              bottom: unset;
              left: unset;
            }

            div.emoji-picker-container {
              button.close-bt {
                display: none;
              }
            }
          }

          div.react-bt-container .tooltip {
            width: 86px;
          }

          .separator-bt {
            border-left: 1px solid rgba(white, 0.1);
          }

          button.floating-bt {
            padding: 0;
            height: 32px;
            min-width: 20px;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0 8px;
            float: left;
            @include OC_Body_Bold();
            font-size: 12px;
            line-height: 32px;
            color: white;
            text-transform: uppercase;

            @include big_web() {
              opacity: 0.5;
              &:hover {
                opacity: 1;

                &:before {
                  opacity: 0.5;
                }
              }
            }

            &.more-bt {
              padding-left: 30px;
              background-image: cdnUrl("/img/ML/comment_more.svg");
              background-size: 18px 4px;
              background-position: left 8px top 14px;
            }

            &.share-bt {
              padding-left: 24px;
              background-image: cdnUrl("/img/ML/comment_share.svg");
              background-size: 12px 12px;
              background-position: left 8px top 10px;
            }

            &.reply-bt {
              padding-left: 24px;
              background-image: cdnUrl("/img/ML/comment_reply.svg");
              background-size: 12px 12px;
              background-position: left 8px top 10px;
            }

            &.react-bt {
              padding-left: 26px;
              background-image: cdnUrl("/img/ML/comment_react.svg");
              background-size: 14px 14px;
              background-position: left 8px top 9px;
              border-right: none;

              div.emoji-mart {
                right: 0;
                left: unset;
                position: absolute;
                top: 34px;
              }
            }
          }
        }

        div.stream-comment-author-right  {
          float: left;
          max-width: 80%;

          @include preload_image(cdnUrl("/img/ML/comment_reply.svg"));

          div.stream-comment-author-name {
            @include OC_Body_Bold();
            font-size: 14px;
            color: $deep_navy;
            line-height: 16px;
            float: left;
            @include preload_image(cdnUrl("/img/ML/comment_share.svg"));
          }
        }

        div.stream-comment-author-avatar {
          float: left;
          width: 32px;
          height: 32px;

          @include user-profile(32);
        }

        div.stream-comment-right {
          margin-left: 48px;

          @include preload_image(cdnUrl("/img/ML/comment_react.svg"));
        }

        div.stream-comment-header {
          height: 24px;

          @include preload_image(cdnUrl("/img/ML/comment_more.svg"));

          div.stream-comment-author-right  {
            float: left;
            max-width: 80%;

            div.stream-comment-author-name {
              @include OC_Body_Bold();
              font-size: 14px;
              color: $deep_navy;
              line-height: 16px;
              float: left;
            }

            div.stream-comment-author-timestamp {
              @include OC_Body_Book();
              font-size: 14px;
              color: rgba($deep_navy, 0.5);
              float: left;
              margin-left: 6px;
              line-height: 16px;
            }

            div.new-comment-tag {
              float: left;
              margin-left: 6px;
              color: $carrot_green;
              @include OC_Body_Bold();
              text-transform: uppercase;
              font-size: 14px;
              line-height: 16px;
            }
          }
        }

        div.stream-comment-content {
          text-align: left;
          position: relative;

          div.stream-comment-body {
            display: inline;
            @include activity-comment(17px, 22px);

            @include mobile() {
              @include activity-comment();              
            }

            .interactive-image {
              cursor: zoom-in;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }

        div.stream-comment-reactions-footer {
          height: 24px;
          margin-top: 8px;

          @include mobile() {
            margin-bottom: 8px;
          }
        }

        div.stream-comment-footer {
          height: 24px;
          margin-top: 2px;

          @include mobile() {
            margin-top: 8px;
          }
        }

        div.save-cancel-edit-buttons {
          float: right;
          padding-top: 16px;

          @include mobile() {
            padding-top: 0;
          }

          button {
            float: right;
            @include OC_Body_Book();
            font-size: 14px;
            padding: 0;
            height: 18px;
            line-height: 18px;

            &.cancel-bt {
              color: rgba($deep_navy, 0.5);
              margin-right: 16px;
            }

            &.save-bt {
              color: $carrot_green;
            }
          }
        }
      }

      div.stream-comment div.add-comment-box-container {
        padding-top: 8px;
        margin-bottom: 8px;

        div.add-comment-box div.add-comment-internal div.add-comment {
          min-height: 92px;

          @include mobile() {
            min-height: 48px;
          }

          div.add-comment-footer.hide-footer {
            display: none;
          }
        }
      }

      div.stream-comment.indented-comment {
        div.add-comment-box-container {
          margin-left: 48px;

          @include mobile() {
            margin-left: 0;
          }

          div.add-comment-box {
            width: calc(100% - 48px);

            @include mobile() {
              width: 100%;
            }

            div.add-comment-footer.hide-footer {
              display: none;
            }
          }
        }
      }
    }

    div.stream-comments-expand {
      text-align: center;
      cursor: pointer;
      margin: 14px 0 8px;

      span.collapse-expand-list {
        @include OC_Body_Book();
        font-size: 14px;
        color: $ui_grey;
        padding-left: 22px;

        background-image: cdnUrl("/img/ML/expand_comments.svg");
        background-size: 14px 8px;
        background-position: 0px 3px;
        background-repeat: no-repeat;
      }

      &.expanded {
        span.collapse-expand-list {
          background-image: cdnUrl("/img/ML/collapse_comments.svg");
        }
      }
    }
  }
}
