$thumbnail_ratio: 1.23;
$thumbnail_height: 98;
$thumbnail_width: $thumbnail_height * $thumbnail_ratio;

$mobile_thumbnail_ratio: 1;
$mobile_thumbnail_width: 70;
$mobile_thumbnail_height: $mobile_thumbnail_width / $mobile_thumbnail_ratio;

div.virtualized-list-row:not(.collapsed-item) {
  background-color: var(--background-color);

  @include big_web() {
    &.open-item div.stream-item {
      border-top: 1px solid var(--foc-divider-line-color);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin-top: 16px;
    }

    &.close-item div.stream-item {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  @include big_web() {
    &:hover, &.foc-menu-open {
      z-index: 2;
      box-shadow: 0 2px 4px 0 var(--foc-box-shadow);
      div.stream-item, div.stream-item.open-item, div.stream-item.close-item {
        background-color: var(--foc-hover-color);
        z-index: 2;
        border-top: 1px solid var(--foc-hover-border-color);
        border-right: 1px solid var(--foc-hover-border-color);
        border-bottom: 1px solid var(--foc-hover-border-color);
        border-left: 1px solid var(--foc-hover-border-color);

        div.stream-item-header {
          div.more-menu {
            display: block;

            button.menu-item-bt {
              display: initial;
            }
          }
        }

        div.activity-share-container {
          display: block;
        }

        &.expandable {
          div.stream-item-header {
            div.more-menu {
              display: block;

              button.menu-item-bt {
                display: initial;
              }
            }
          }
        }

        &.unread-item {
          background-color: var(--foc-new-color);
          z-index: 2;
          border-top: 1px solid var(--foc-new-border-color);
          border-right: 1px solid var(--foc-new-border-color);
          border-bottom: 1px solid var(--foc-new-border-color);
          border-left: 1px solid var(--foc-new-border-color);

          div.stream-item-header {
            div.more-menu {
              display: block;

              & > button {
                display: initial;
              }
            }
          }
        }
      }
    }
  }

  @include mobile() {
    background-color: var(--mobile-background-color);
    &.open-item div.stream-item {
      border-top: 1px solid var(--foc-divider-line-color);
    }
  }
}

div.stream-item {
  width: #{$board_container_width}px;
  margin: 0;
  border-top: 1px solid transparent;
  border-right: 1px solid var(--foc-divider-line-color);
  border-bottom: 1px solid var(--foc-divider-line-color);
  border-left: 1px solid var(--foc-divider-line-color);
  padding: 24px 32px 18px;
  background-color: var(--foc-background-color);
  overflow: visible;
  border-radius: 0;

  @include mobile() {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--foc-divider-line-color);
    border-left: none;
    background-color: var(--mobile-foc-background-color);
    padding: 24px 16px 18px;
  }

  div.separator-dot {
    width: 3px;
    height: 3px;
    background-color: var(--opac-background-color-2);
    border-radius: 50%;
    margin: 1px 1px 0 1px;
  }

  &.draft {
    cursor: pointer;
  }

  &.expandable {
    cursor: pointer;
  }

  &.unread-item {
    background-color: var(--foc-new-color);
    z-index: 1;
    position: relative;

    &.showing-share {
      z-index: 3;
    }
  }

  &.bookmark-item {

    div.bookmark-tag {
      display: flex;
    }

    div.bookmark-tag-small {
      display: flex;
    }
  }

  &.muted-item div.muted-activity {
    display: inline-block;
  }

  &.pinned-item div.pinned-tag {
    display: flex;
  }

  &.muted-item, &.pinned-item, &.new-item, &.bookmark-item {
    div.stream-item-header div.stream-item-header-head-author div.separator-dot {
      display: block;
    }
  }

  div.activity-share-container {
    display: none;

    div.activity-share-modal-container {
      right: -9px;
      margin-top: 24px;
    }
  }

  // Mobile swipe buttons
  button.mobile-more-bt {
    height: 48px;
    padding: 14px 0;
    border-radius: 4px;
    background-color: var(--tooltip-background-color);
    position: absolute;
    top: 50%;
    margin-top: -24px;
    right: 16px;
    z-index: 4;
    transition: width 180ms, margin-right 180ms;
    width: 0;
    margin-right: -124px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include big_web() {
      display: none;
    }

    span.mobile-more-bt-text {
      color: var(--tooltip-color);
      @include OC_Body_Bold();
      font-size: 16px;
      line-height: 20px;
      order: 2;
      margin-right: 24px;
      margin-left: 4px;
    }

    span.mobile-more-bt-icon {
      width: 18px;
      height: 4px;
      @include svgBgColor("/img/ML/mobile_more_ellipsis_white.svg", center, 18px 4px, var(--tooltip-color));
      order: 1;
      margin-left: 24px;
      margin-right: 4px;
    }

    &.visible {
      width: auto;
      margin-right: 0;
    }
  }

  div.stream-item-header {
    position: relative;
    height: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include mobile() {
      width: 100%;
      height: 32px;
      display: block;
    }

    div.stream-item-header-head-author {
      height: 24px;
      flex: 0 0 auto;
      margin-right: 8px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      max-width: calc(100% - 108px);

      &.has-inbox {
        max-width: calc(100% - 138px);
      }

      @include mobile() {
        min-height: 32px;
        height: auto;
        margin-right: 0;
        max-width: 100%;
        white-space: nowrap;
      }

      div.post-authorship {
        flex: 0 1 auto;
        z-index: 2;
        max-width: 100%;
        display: contents;
        *:last-child {
          margin-right: 4px;
        }
      }

      div.separator-dot {
        margin: 1px 1px 0 1px;
        flex: 0 0 auto;
        display: none;
      }

      span.time-since {
        display: block;
        height: 24px;
        line-height: 24px;
        text-align: left;
        @include OC_Body_Book();
        font-size: 12px;
        color: var(--light-color);
        position: relative;
        white-space: nowrap;
        flex: 0 0 auto;
        overflow: hidden;
        margin-left: 4px;
        margin-right: 4px;

        @include mobile() {
          height: 32px;
          line-height: 32px;
          // margin-left: 0;

          time {
            vertical-align: baseline;
            line-height: 32px;
            font-size: 14px;
          }
        }
      }

      div.new-item-tag {
        flex: 0 0 auto;
        margin-left: 4px;
        margin-right: 4px;
        display: none;
      }

      div.pin-tag {
        flex: 0 0 auto;
      }

      div.bookmark-tag-small {
        // margin-right: 0;
        flex: 0 0 auto;
        align-self: center;
      }

      div.bookmark-tag {
        flex: 0 0 auto;
        align-self: center;
      }

      div.muted-activity {
        align-self: center;
        opacity: 0.5;
        flex: 0 0 auto;

        // @include mobile() {
        //   margin-right: 8px;
        // }
      }
    }

    div.more-menu {
      height: 32px;
      flex: 0 0 auto;
      margin-left: auto;

      @include big_web() {
        display: none;

        &:not(.menu-expanded) button {
          display: none;
        }
      }

      button.more-menu-share-bt:hover {
        border-right: none;
      }
    }
  }

  @include bookmark-tag();

  @include muted-activity();

  @include new-item-tag();

  @include pinned-tag();

  div.bookmark-tag, div.bookmark-tag-small, div.muted-activity, div.pinned-tag {
    display: none;
    margin-left: 4px;
    margin-right: 4px;
    // margin-right: 8px;
    // margin-left: 0;

    // @include mobile() {
    //   margin-right: 8px;
    //   margin-left: 8px;
    // }
  }

  // div.new-item-tag {
  //   margin-left: 0;
  //   margin-right: 8px;

  //   @include mobile() {
  //     margin-left: 8px;
  //     margin-right: 8px;
  //   }
  // }

  & > div.bookmark-tag, & > div.bookmark-tag-small {
    margin-top: 16px;
  }

  div.stream-item-content {
    position: relative;
    cursor: pointer;
    margin-top: 8px;
    display: grid;
    grid-template-columns: [col1] auto [col2];
    grid-template-rows: [row1] auto [row2] 4px [row3] auto [row4];

    @include mobile() {
      margin-top: 12px;
    }

    div.stream-item-headline {
      grid-column-start: col1;
      grid-column-end: col2;
      grid-row-start: row1;
      grid-row-end: row2;
      @include activity-title-foc(20, 28, var(--color), 1);

      @include mobile() {
      @include activity-title-foc(18, 23, var(--color), 1);
      }
    }

    div.stream-item-body {
      grid-column-start: col1;
      grid-column-end: col2;
      grid-row-start: row3;
      grid-row-end: row4;
      @include activity-body-foc(16, 22, var(--color), 3);

      @include mobile() {
        @include activity-body-foc(16, 20, var(--color), 2);
      }
    }

    &.has-preview {
      grid-template-columns: [col1] auto [col2] 8px [col3] auto [col4];
      grid-template-rows: [row1] auto [row2] 4px [row3] auto [row4];

      @include mobile() {
        grid-template-columns: [col1] auto [col2] 8px [col3] auto [col4];
      }

      div.stream-item-preview-container {
        grid-column-start: col3;
        grid-column-end: col4;
        grid-row-start: row1;
        grid-row-end: row4;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;

        img.stream-item-preview {
          border-radius: 6px;
          object-fit: contain;
          max-width: #{$thumbnail_width}px;
          max-height: #{$thumbnail_height}px;

          @include mobile() {
            max-height: #{$mobile_thumbnail_height}px;
            max-width: #{$mobile_thumbnail_width}px;
          }
        }

        &.video {
          position: relative;

          &:hover:after {
            opacity: 1;
          }

          &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 45px;
            height: 45px;
            background-image: cdnUrl("/img/ML/play.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 45px;
            opacity: 0.6;
          }
        }
      }
    }
  }

  div.stream-item-draft-footer {
    margin-top: 10px;
    min-height: 26px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    @include mobile() {
      height: auto;
      overflow: hidden;
      margin-top: 12px;
      width: 100%;
    }

    div.stream-body-draft-edit {
      order: 1;

      button.edit-draft-bt {
        text-align: left;
        padding: 0px;
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--primary-color);
      }
    }

    div.stream-body-draft-delete {
      order: 2;
      margin-left: auto;

      button.delete-draft-bt {
        text-align: right;
        padding: 0px;
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--light-color);
      }
    }
  }

  div.stream-item-footer {
    margin-top: 10px;
    min-height: 26px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    @include mobile() {
      height: auto;
      overflow: hidden;
      margin-top: 12px;
      width: 100%;
    }

    div.reactions {
      order: 2;
      margin-right: 16px;

      div.reactions-picker-container {

        div.emoji-mart {
          bottom: unset;
          top: 0;
          left: calc(100% + 8px);

          @include mobile(){
            bottom: unset;
            right: unset;
            top: unset;
            left: unset;
          }
        }
      }
    }

    div.stream-item-comments-summary {
      order: 3;
      margin-right: 16px;
    }

    div.stream-item-wrt {
      order: 4;
      position: relative;
      margin-right: 16px;
    }

    div.stream-item-mobile-attachments {
      display: none;

      @include mobile() {
        display: block;
        order: 5;
        height: 22px;

        span.mobile-attachments-icon {
          display: inline-block;
          width: 18px;
          height: 22px;
          background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
          background-size: 18px 20px;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 6px;
          opacity: 0.5;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
          }
        }

        span.mobile-attachments-count {
          @include OC_Body_Book();
          font-size: 17px;
          line-height: 22px;
          color: var(--light-color);
          display: inline-block;
          height: 22px;
          vertical-align: top;
        }
      }
    }

    div.stream-item-attachments {
      order: 5;
      margin-right: 16px;
      height: 26px;
      position: relative;

      @include mobile() {
        display: none;
      }

      &:hover {
        div.stream-item-attachments-count {
          opacity: 1;
        }

        div.stream-item-attachments-list {
          display: block;
        }
      }

      div.stream-item-attachments-count {
        position: relative;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        opacity: 0.5;
        line-height: 26px;
        padding-left: 22px;

        &:before {
          content: "";
          width: 12px;
          height: 23px;
          background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
          background-size: 12px 16px;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          left: 0;
          top: 0;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
          }
        }

        &:hover {
          opacity: 1;
        }
      }

      div.stream-item-attachments-list {
        position: absolute;
        top: 26px;
        left: calc(50% - 120px);
        width: 240px;
        max-height: 200px;
        background-color: var(--overlay-background-color);
        border-radius: 4px;
        border: 1px solid var(--divider-line);
        padding: 8px 0;
        display: none;
        z-index: 2;

        a.stream-item-attachments-item {
          padding: 8px 16px;
          height: 34px;
          display: block;

          &:active, &:hover {
            background-color: var(--selected-row-background-color);
            div.stream-item-attachments-item-desc {
              color: var(--selected-row-color);
            }
          }

          div.stream-item-attachments-item-desc {
            @include OC_Body_Book();
            font-size: 14px;
            color: var(--light-color);
            white-space: nowrap;
            max-width: 100%;

            span.file-name {
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-transform: capitalize;
              max-width: calc(100% - 80px);
            }

            span.file-size {
              white-space: nowrap;
              overflow: hidden;
              display: inline-block;
              margin-left: 8px;
            }
          }
        }
      }
    }

    div.stream-item-labels {
      order: 6;
      position: relative;
      height: 20px;
      margin: 5px 16px 5px 16px;

      div.separator-dot {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: -19px;
      }

      @include mobile() {
        order: 1;
        width: 100%;
        margin: 8px 0 10px 0;
      }
    }

    div.stream-item-mobile-view-more {
      order: 7;
      display: block;
      margin-left: auto;
      height: 26px;
      line-height: 26px;
      font-size: 14px;
      @include OC_Body_Book();
      color: var(--light-color);
      padding-left: 12px;
      position: relative;

      &:before {
        content: "";
        width: 8px;
        height: 4px;
        @include svgBgColor("/img/ML/chevron.svg", center, 8px 4px, var(--light-color));
        position: absolute;
        top: 12px;
        left: 0;
        transform: rotate(-90deg);
        display: block;
      }
    }
  }
}