div.stream-view-attachments {
  margin-top: 32px;
  width: calc(100% - 40px);

  @include mobile() {
    width: 100%;
  }

  div.stream-view-attachments-title {
    @include avenir_H();
    font-size: 14px;
    color: $deep_navy;
  }

  div.stream-view-attachments-content {

    @include mobile() {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      display: flex;
    }

    a.stream-view-attachments-item {
      display: inline-block;
      height: 50px;
      border: 1px solid #ECECEC;
      background-color: white;
      padding: 9px 18px;
      margin-top: 8px;
      width: 100%;
      border-radius: 6px;
      box-shadow: none;

      @include mobile() {
        flex-grow: 1;
        width: 100%;
      }

      &:hover {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
        border: 1px solid $light_ui_grey;

        div.attachment-icon {
          background-color: rgba($light_ui_grey, 1);
        }
      }

      &.double-line {
        width: calc(50% - 8px);

        @include mobile() {
          width: 200px;
        }

        div.attachment-content {
          width: 146px;

          @include mobile() {
            width: calc(100% - 40px);
          }
        }
      }

      &:nth-child(even) {
        width: calc(50% - 8px);
        margin-left: 16px;
      }

      div.attachment-icon {
        background-color: rgba($light_ui_grey, 0.8);
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-image: cdnUrl("/img/ML/attachments_icon.svg");
        background-position: center;
        background-size: 11px 14px;
        background-repeat: no-repeat;
        float: left;
      }

      div.attachment-content {
        float: left;
        margin-left: 8px;
        height: 32px;
        width: 384px;

        @include mobile() {
          width: calc(100% - 40px);
        }

        div.attachment-name {
          @include avenir_M();
          font-size: 14px;
          color: $deep_navy;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        div.attachment-description {
          @include avenir_M();
          font-size: 12px;
          color: rgba($ui_grey, 0.5);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}