div.stream-attachments {
  margin-top: 32px;
  width: calc(100% - 40px);

  @include mobile() {
    width: 100%;
  }

  div.stream-attachments-content {
    width: 100%;
    height: auto;
    min-height: 34px;
    display: inline-block;

    a.stream-attachments-item {
      height: 26px;
      background-color: $chalk_blue;
      color: $sea_blue;
      padding: 2px 16px 4px 16px;
      margin-top: 8px;
      border-radius: 100px;
      margin-right: 16px;
      float: left;

      &.editable {
        
      }

      div.attachment-info {
        max-width: 100%;
        width: 100%;
        display: inline;

        &.editable {
          span.attachment-name {
            max-width: 446px;
          }

          span.attachment-description {
            max-width: 174px;
          }
        }

        span.attachment-name {
          @include avenir_H();
          font-size: 12px;
          color: $sea_blue;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 466px;
          display: inline-block;
          padding-top: 5px;
        }

        span.attachment-content-separator {
          height: 3px;
          width: 3px;
          margin: 0px 8px 8px 8px;
          background-color: #BACBFE;
          border-radius: 50%;
          display: inline-block;
        }

        span.attachment-description {
          @include avenir_R();
          font-size: 12px;
          color: $sea_blue;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 194px;
          display: inline-block;
          padding-top: 5px;
        }

        button.remove-attachment-bt {
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/clear_attachments_x.svg");
          background-size: 10px 10px;
          background-position: center;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 8px;
        }
      }
    }
  }
}