div.stream-comments {
  height: 100%;
  position: relative;
  padding-bottom: 25vh;
  margin-top: 16px;
  padding-top: 16px;

  @include big_web(){
    &.editing {
      div.stream-comments-list {
        div.stream-comment-thread div.stream-comment-outer {
          &.open-thread:hover, &.showing-picker.open-thread {
            background-color: transparent;
          }
        }
      }
    }
  }

  div.stream-comments-list {

    div.stream-comment-thread {
      margin-bottom: 16px;
      position: relative;

      button.expand-thead-bt {
        width: 100%;
        height: 28px;
        padding: 0 0 4px 48px;
        @include OC_Body_Book();
        font-size: 14px;
        line-height: 18px;
        color: var(--color);
        text-align: left;
        position: relative;

        &:before {
          content: "";
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #000000;
          background-image: cdnUrl("/img/ML/plus_button_icon@dark.svg");
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          left: 9px;
          top: 4px;

          @include dark_mode(){
            background-color: #FFFFFF;
            background-image: cdnUrl("/img/ML/plus_button_icon.svg");
          }
        }
      }

      &.left-border {
        &:before {
          content: "";
          width: 2px;
          height: calc(100% - 26px);
          position: absolute;
          left: 16px;
          top: 24px;
          background-color: var(--opac-background-color-1);
        }

        // &.has-new:before {
        //   background-color: rgba($wut_purple, 0.4);
        // }

        &.open-thread:before {
          height: calc(100% - 16px);
          top: 16px;
        }
      }

      div.stream-comment-outer {
        padding: 0;
        position: relative;
        width: calc(100% + 16px);
        padding-left: 8px;
        padding-right: 8px;
        margin-left: -8px;

        @include big_web() {

          &:not(.new-comment).open-thread:hover, &.open-thread.showing-picker {
            background-color: var(--comments-floating-bt-background);
            border-radius: 4px;
          }

          &:not(.new-comment):not(.open-thread):not(.showing-add-comment).indented-comment:hover div.stream-comment div.stream-comment-inner,
          &:not(.new-comment):not(.open-thread):not(.showing-add-comment).indented-comment.showing-picker div.stream-comment div.stream-comment-inner {
            background-color: var(--comments-floating-bt-background);
            border-radius: 4px;
          }
        }

        &.open-thread {
          &:not(:first-child) {
            margin-top: 16px;
          }
        }

        &.indented-comment div.stream-comment div.stream-comment-inner {
          margin-left: 40px;
          width: calc(100% - 32px);
          padding: 8px 0 8px 8px;

          @include mobile() {
            display: block;
            margin-left: 32px;
            width: calc(100% - 24px);

            div.more-menu {
              button.more-menu-bt {
                background-position: 0px left 4px top;
                margin-top: -4px;
                background-color: transparent;
              }

              ul.more-menu-list {
                width: 94px;
                top: 20px;
                right: 13px;
                left: unset;
              }
            }
          }
        }

        &:hover, &.showing-picker {
          div.stream-comment div.stream-comment-floating-buttons {
            display: block;
          }
        }

        &.new-comment {
          background-color: rgba($wut_purple, 0.16);
          border-radius: 8px;
          margin-bottom: 1px;

          &.indented-comment {
            background-color: transparent;

            div.stream-comment div.stream-comment-inner {
              background-color: rgba($wut_purple, 0.16);
              border-radius: 8px;
            }
          }
        }

        div.stream-comment {
          position: relative;

          div.stream-comment-inner {
            padding: 8px 0;
          }

          &.add-comment-container {
            padding-bottom: 8px;
          }

          div.stream-comment-mobile-menu {
            display: none;
            float: right;

            div.emoji-picker-container {
              button.close-bt {
                display: none;
              }
            }

            @include mobile() {
              display: block;

              div.emoji-picker-container {
                width: 100vw;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100vh;
                background-color: white;
                z-index: 104;
                padding-top: 29px;

                button.close-bt {
                  color: var(--color);
                  padding: 0;
                  margin: 0;
                  @include OC_Body_Bold();
                  font-size: 16px;
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  display: block;
                }

                div.emoji-mart {
                  position: relative;
                  width: 100% !important;
                  height: calc(100vh - 29px);
                  bottom: unset;
                  box-shadow: none;
                  border-radius: none;
                  border: none;

                  div.emoji-mart-scroll {
                    height: calc(100vh - 29px - 46px - 29px);
                  }

                  div.emoji-mart-bar:last-child {
                    display: none;
                  }
                }
              }

              div.more-menu {
                button.more-menu-bt {
                  margin-top: -12px;
                  margin-left: 7px;
                  background-color: transparent;
                }

                ul.more-menu-list {
                  width: 94px;
                  top: 20px;
                  right: 0;
                  left: unset;
                }
              }
            }
          }

          div.stream-comment-floating-buttons {
            position: absolute;
            top: -8px;
            right: -24px;
            height: 32px;
            z-index: 2;
            display: none;
            border-radius: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
            background-color: var(--color);

            @include dark_mode() {
              box-shadow: 0px 2px 6px 0px rgba(255, 255, 255, 0.24);
            }

            div.more-bt-container {
              height: 32px;
              float: left;
              position: relative;

              div.comment-more-menu-container {
                position: absolute;
                top: 34px;
                left: 0;
                padding: 8px 0;
                border-radius: 4px;
                width: 78px;
                outline: none;
                z-index: 110;
                background-color: var(--overlay-background-color);
                border: 1px solid var(--divider-line);

                button {
                  padding: 0;
                  margin: 0;
                  @include OC_Body_Book();
                  font-size: 14px;
                  color: var(--color);
                  line-height: 18px;
                  cursor: pointer;
                  padding: 8px 16px;
                  background-color: var(--overlay-background-color);
                  position: relative;
                }
              }
            }

            div.react-bt-container {
              // width: 30px;
              height: 32px;
              float: left;

              div.emoji-mart {
                position: absolute;
                top: 0;
                right: 0;
                bottom: unset;
                left: unset;
              }

              div.emoji-picker-container {
                button.close-bt {
                  display: none;
                }
              }
            }

            div.react-bt-container .tooltip {
              width: 86px;
            }

            .separator-bt {
              border-left: 1px solid rgba(white, 0.1);
            }

            button.floating-bt {
              padding: 0;
              height: 32px;
              min-width: 20px;
              background-position: center;
              background-repeat: no-repeat;
              padding: 0 8px;
              float: left;
              @include OC_Body_Bold();
              font-size: 12px;
              line-height: 32px;
              color: var(--overlay-background-color);
              text-transform: uppercase;

              @include big_web() {
                opacity: 0.5;
                &:hover {
                  opacity: 1;

                  &:before {
                    opacity: 0.5;
                  }
                }
              }

              &.more-bt {
                padding-left: 30px;
                background-image: cdnUrl("/img/ML/comment_more.svg");
                background-size: 18px 4px;
                background-position: left 8px top 14px;
              }

              &.share-bt {
                padding-left: 24px;
                background-image: cdnUrl("/img/ML/comment_share.svg");
                background-size: 12px 12px;
                background-position: left 8px top 10px;
              }

              &.reply-bt {
                padding-left: 24px;
                background-image: cdnUrl("/img/ML/comment_reply.svg");
                background-size: 12px 12px;
                background-position: left 8px top 10px;
              }

              &.react-bt {
                padding-left: 26px;
                background-image: cdnUrl("/img/ML/comment_react.svg");
                background-size: 14px 14px;
                background-position: left 8px top 9px;
                border-right: none;

                div.emoji-mart {
                  right: 0;
                  left: unset;
                  position: absolute;
                  top: 34px;
                }
              }

              @include dark_mode() {
                &.more-bt {
                  background-image: cdnUrl("/img/ML/comment_more@dark.svg");
                }

                &.share-bt {
                  background-image: cdnUrl("/img/ML/comment_share@dark.svg");
                }

                &.reply-bt {
                  background-image: cdnUrl("/img/ML/comment_reply@dark.svg");
                }

                &.react-bt {
                  background-image: cdnUrl("/img/ML/comment_react@dark.svg");
                }
              }
            }
          }

          div.stream-comment-right {
            margin-left: 48px;

            @include mobile() {
              margin-left: 40px;
            }

            @include preload_image(cdnUrl("/img/ML/comment_react.svg"));

            @include dark_mode() {
              @include preload_image(cdnUrl("/img/ML/comment_react@dark.svg"));
            }
          }

          div.stream-comment-header {
            height: 24px;

            @include preload_image(cdnUrl("/img/ML/comment_more.svg"));

            @include dark_mode() {
              @include preload_image(cdnUrl("/img/ML/comment_more@dark.svg"));
            }

            div.stream-comment-author-right {
              float: left;
              max-width: 100%;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              flex-wrap: nowrap;
              height: 18px;

              @include preload_image(cdnUrl("/img/ML/comment_reply.svg"));

              @include dark_mode() {
                @include preload_image(cdnUrl("/img/ML/comment_reply@dark.svg"));
              }

              div.stream-comment-author-name {
                @include OC_Body_Bold();
                font-size: 14px;
                color: var(--color);
                line-height: 16px;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include preload_image(cdnUrl("/img/ML/comment_share.svg"));

                @include dark_mode() {
                  @include preload_image(cdnUrl("/img/ML/comment_share@dark.svg"));
                }
              }

              @include mobile() {
                max-width: 80%;
              }

              div.stream-comment-author-right-group {
                width: auto;
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                max-width: 100%;

                &.new-comment {
                  max-width: calc(100% - 43px);
                }

                div.stream-comment-author-name-container {
                  flex: 1 0 auto;
                  position: relative;

                  div.user-info-hover {
                    transform: translateX(-48px);
                  }

                  div.stream-comment-author-avatar {
                    position: absolute;
                    left: -48px;
                    top: 0;
                    width: 48px;
                    height: 32px;
                    padding-right: 16px;

                    @include user-profile(32);

                    @include mobile() {
                      left: -40px;
                      padding-right: 8px;
                    }
                  }

                  @include mobile() {
                    flex: 1 1 auto;
                  }
                }

                div.stream-comment-author-timestamp {
                  flex: 0 0 auto;
                }
              }
              div.stream-comment-author-name {
                @include OC_Body_Bold();
                font-size: 14px;
                color: var(--color);
                line-height: 18px;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 18px;
              }

              div.stream-comment-author-timestamp {
                @include OC_Body_Book();
                font-size: 14px;
                color: var(--light-color);
                float: left;
                margin-left: 6px;
                line-height: 18px;
                height: 18px;
              }

              div.new-comment-tag {
                flex: 0 0 37px;
                margin-left: 8px;
                width: 37px;
                height: 18px;
                position: relative;

                &:before {
                  @include OC_Body_Bold();
                  font-size: 12px;
                  line-height: 18px;
                  content: "(NEW)";
                  color: $wut_purple;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }

          div.stream-comment-content {
            text-align: left;
            position: relative;

            div.stream-comment-body {
              display: inline;
              @include activity-comment(15, 18, 12);

              @include mobile() {
                @include activity-comment(18, 24, 16);
              }

              .interactive-image {
                cursor: zoom-in;

                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }

          div.stream-comment-reactions-footer {
            height: 26px;
            margin-top: 8px;

            @include mobile() {
              margin-bottom: 8px;
            }
          }

          button.thread-reply-bt {
            display: none;
            @include mobile() {
              display: initial;
              @include OC_Body_Book();
              font-size: 15px;
              line-height: 18px;
              color: var(--light-color);
              padding: 8px 24px 0 0;
              text-align: left;
              opacity: 1;

              @include big_web() {
                &:hover {
                  opacity: 1;
                  text-decoration: underline;
                }
              }
            }
          }

          div.stream-comment-footer {
            height: 24px;
            margin-top: 2px;

            @include mobile() {
              margin-top: 8px;
            }
          }

          div.save-cancel-edit-buttons {
            float: right;
            padding-top: 16px;

            @include mobile() {
              padding-top: 0;
            }

            button {
              float: right;
              @include OC_Body_Book();
              font-size: 14px;
              padding: 0;
              height: 18px;
              line-height: 18px;

              &.cancel-bt {
                color: var(--light-color);
                margin-right: 16px;
              }

              &.save-bt {
                color: $wut_purple;
              }
            }
          }
        }

        div.stream-comment div.add-comment-box-container {
          padding-top: 8px;
        }

        &.indented-comment div.stream-comment {
          div.add-comment-box-container {
            margin-left: 48px;

            @include mobile() {
              margin-left: 0;
            }

            div.add-comment-box {
              width: calc(100% - 48px);

              @include mobile() {
                width: 100%;
              }

              div.add-comment-footer.hide-footer {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}