div.stream-attachments {
  margin-top: 20px;

  @include mobile() {
    width: 100%;
  }

  div.stream-attachments-content {
    width: 100%;
    height: auto;

    &.collapsed {
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div.stream-attachments-show-more {
      cursor: pointer;
      height: 20px;
      margin-top: 8px;
      @include OC_Body_Book();
      font-size: 12px;
      color: $deep_navy;
      line-height: 20px;
      float: left;
    }

    div.stream-attachments-item {
      margin-right: 8px;
      height: 28px;
      float: left;

      a {
        float: left;
      }

      div.attachment-info {
        margin-top: 8px;
        height: 20px;

        div.attachment-icon {
          width: 18px;
          height: 20px;
          background-image: cdnUrl("/img/ML/attachment_icon.svg");
          background-size: 18px 20px;
          background-repeat: no-repeat;
          background-position: center;
          float: left;
        }

        span.attachment-name {
          @include OC_Body_Book();
          font-size: 12px;
          color: $deep_navy;
          white-space: nowrap;
          line-height: 20px;
          display: block;
          float: left;
          margin-left: 6px;
        }

        span.attachment-description {
          @include OC_Body_Book();
          font-size: 12px;
          color: $light_ui_grey;
          white-space: nowrap;
          line-height: 20px;
          display: block;
          float: left;
          margin-left: 6px;
        }

        button.remove-attachment-bt {
          width: 28px;
          height: 20px;
          background-image: cdnUrl("/img/ML/remove_attachment.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          margin-left: 8px;
          padding-left: 8px;
          border-left: 1px solid $light_ui_grey;
          opacity: 0.4;
          display: block;
          float: left;

          @include mobile() {
            opacity: 1;
          }

          @include big_web(){
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}