// --foc-background-color: rgba($deep_navy, 0.05);
// --mobile-foc-background-color: rgba($deep_navy, 0.05);
// --foc-hover-color: rgba($deep_navy, 0.10);
// --foc-new-color: white;
// --foc-divider-line-color: rgba($deep_navy, 0.15);
$foc_hover_extra_padding: 4;

div.virtualized-list-separator:not(.expanded-list) {
  & + div.virtualized-list-row.collapsed-item div.stream-collapsed-item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

div.virtualized-list-row.collapsed-item {
  background-color: var(--background-color);

  @include big_web() {
    z-index: 1;

    &.open-item div.stream-collapsed-item {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &.close-item div.stream-collapsed-item {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:not(.close-item) div.stream-collapsed-item {
      border-bottom: 0;
    }

    &:hover {
      z-index: 2;
      width: calc(100% + #{$foc_hover_extra_padding * 2}px) !important;
      height: #{$collapsed_foc_height + ($foc_hover_extra_padding * 2)}px !important;
      margin: -#{$foc_hover_extra_padding}px 0 0 -#{$foc_hover_extra_padding}px;

      div.stream-collapsed-item {
        background-color: var(--foc-hover-color);
        z-index: 2;
        box-shadow: 0 2px 6px 0 var(--foc-box-shadow);
        border-radius: 4px;
        padding: #{12 + $foc_hover_extra_padding}px #{12 + $foc_hover_extra_padding}px #{12 + $foc_hover_extra_padding}px #{20 + $foc_hover_extra_padding}px;
        width: #{$board_container_width + ($foc_hover_extra_padding * 2)}px;
        height: #{$collapsed_foc_height + ($foc_hover_extra_padding * 2)}px;
        border: 1px solid var(--foc-hover-border-color);

        div.more-menu {
          display: initial;

          button {
            display: initial;
          }
        }

        div.more-menu {
          background-color: var(--foc-hover-color);

          &:before {
            background: linear-gradient(to left, var(--foc-menu-gradient-from), var(--foc-menu-gradient-to) 100%);
          }
        }

        div.activity-share-container {
          display: block;
        }

        &.expandable {
          div.more-menu {
            display: initial;

            button {
              display: initial;
            }
          }
        }

        &.unread-item {
          background-color: var(--foc-new-color);
          z-index: 2;
          box-shadow: 0 2px 6px 0 var(--foc-box-shadow);
          border-radius: 4px;
          border: 1px solid var(--foc-new-border-color);
          padding: #{12 + $foc_hover_extra_padding}px #{12 + $foc_hover_extra_padding}px #{12 + $foc_hover_extra_padding}px #{20 + $foc_hover_extra_padding}px;
          width: #{$board_container_width + ($foc_hover_extra_padding * 2)}px;
          height: #{$collapsed_foc_height + ($foc_hover_extra_padding * 2)}px;
        }
      }
    }
  }

  @include mobile() {
    background-color: var(--mobile-background-color);
  }
}

div.stream-collapsed-item {
  width: #{$board_container_width}px;
  margin: 0;
  border: 1px solid var(--foc-divider-line-color);
  background-color: var(--foc-background-color);
  overflow: visible;
  height: #{$collapsed_foc_height}px;
  padding: 12px 12px 12px 20px;
  display: block;
  position: relative;

  &.expandable {
    cursor: pointer;
  }

  &.unread-item {
    background-color: var(--foc-new-color);
    z-index: 1;
    position: relative;

    &.showing-share {
      z-index: 3;
    }

    div.more-menu {
      background-color: var(--foc-new-color);

      &:before {
        background: linear-gradient(to left, var(--foc-new-menu-gradient-from), var(--foc-new-menu-gradient-to) 100%);
      }
    }
  }

  div.stream-collapsed-item-inner {
    width: 100%;
    height: 32px;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    padding: 4px 4px 4px 0;
    align-items: center;

    & > * {
      text-align: left;
    }

    div.stream-collapsed-item-avatar-container {
      margin: 0;
      padding: 0;
      flex: 0 0 20px;
      position: relative;

      div.stream-collapsed-item-avatar {
        @include activity-author(20);

        div.user-avatar-img-container {
          margin-right: 0;
        }
      }
    }

    &.bookmark-item div.stream-collapsed-item-fill {

      div.bookmark-tag-small {
        display: block;
      }

      div.stream-item-headline {
        max-width: calc(100% - 23px);
      }
    }

    &.must-see-item div.stream-collapsed-item-fill {
      div.must-see-tag {
        display: block;
      }

      div.stream-item-headline {
        max-width: calc(100% - 78px);
      }
    }

    &.muted-item div.stream-collapsed-item-fill {
      div.muted-activity {
        display: block;
      }

      div.stream-item-headline {
        max-width: calc(100% - 16px);
      }
    }

    &.bookmark-item.muted-item div.stream-collapsed-item-fill {
      div.stream-item-headline {
        max-width: calc(100% - 43px);
      }
    }

    &.must-see-item.muted-item div.stream-collapsed-item-fill {
      div.stream-item-headline {
        max-width: calc(100% - 98px);
      }
    }

    div.stream-collapsed-item-fill {
      width: auto;
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;

      div.stream-item-headline {
        height: 24px;
        @include activity-title(14px, 24px);
        flex: 0 0 auto;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-wrap: break-word;
      }

      @include must-see-tag();

      @include bookmark-tag();

      @include muted-activity();

      div.bookmark-tag-small, div.must-see-tag, div.muted-activity {
        display: none;
      }

      div.bookmark-tag-small, div.must-see-tag {
        margin: 4px 0 0 6px;
        flex: 0 0 auto;
      }

      div.muted-activity {
        flex: 0 0 auto;
        margin: 5px 0 0 6px;
      }

      div.stream-item-body {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include activity-body(14, 24, var(--color));
        margin-left: 3px;
        padding-left: 8px;
        position: relative;
        height: 24px;
        min-width: 0;
        flex: 0 1 auto;

        & > div.hide-tooltip:first-child:before {
          content: '';
          display: block;
        }

        h1, h2, mark, mark.highlight {
          color: var(--color);
          @include OC_Body_Book();
          font-size: 13px;
          line-height: 24px;
          background-color: transparent;
        }

        h1, h2, p {
          padding-left: 4px !important;
        }

        * { // We need to specify code and pre to override specific rules
          height: 24px;
          white-space: nowrap;
          margin: 0 !important;
          padding: 0 !important;
          text-overflow: ellipsis;
          overflow: hidden;
          vertical-align: top;
          display: inline !important;
          background-color: transparent;
          color: var(--color);
          border: none;
          border-radius: 0;
          min-height: unset;
          line-height: 24px;
          @include OC_Body_Book();
        }

        code, pre {
          display: none!important;
        }

        img, iframe, video {
          display: none !important;
        }

        &:before {
          content: "-";
          width: 8px;
          height: 24px;
          color: var(--color);
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 24px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    div.is-comments {
      height: 24px;
      margin-left: 8px;
      flex: 0 0 auto;

      div.is-comments-authors {
        margin-top: 1px;
      }
    }

    div.collapsed-time {
      height: 24px;
      @include OC_Body_Book();
      font-size: 12px;
      line-height: 24px;
      color: var(--light-color);
      margin-left: auto;
      padding-left: 8px;
      margin-top: 1px;
      flex: 0 0 auto;
    }
  }

  div.more-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 32px;
    z-index: 100;
    background-color: var(--foc-hover-color);
    display: none;
    padding-left: 8px;

    &:before {
      width: 24px;
      height: 32px;
      content: "";
      position: absolute;
      top: 0;
      left: -24px;
      background: linear-gradient(to left, var(--foc-menu-gradient-from), var(--foc-menu-gradient-to) 100%);
    }

    ul.more-menu-list {
      z-index: 102;
    }
  }

  div.activity-share-container {
    display: none;
    position: absolute;
    right: 0;
    bottom: 8px;

    div.activity-share-modal-container {
      margin-top: 0;
      right: 0;
    }
  }
}