div.stream-comments {
  height: 100%;
  position: relative;

  div.stream-comments-empty {
    display: none;
  }

  div.stream-comments-list {

    div.stream-comment {
      padding: 24px 0px 0px;

      &:hover, &.showing-more-menu {
        div.stream-comment-header {
          div.stream-comment-more-menu-container {
            button.comment-more-menu {
              display: block;
            }
          }
        }
      }

      div.stream-comment-author-avatar {
        float: left;
        width: 32px;
        height: 32px;

        @include user-profile(32);
      }

      div.stream-comment-right {
        margin-left: 48px;
      }

      div.stream-comment-header {
        height: 24px;

        div.stream-comment-author-right {
          float: left;
          max-width: 80%;
          // height: 24px;

          div.stream-comment-author-name {
            @include avenir_H();
            font-size: 14px;
            color: $deep_navy;
            line-height: 15px;
            float: left;
          }

          div.stream-comment-author-timestamp {
            @include avenir_R();
            font-size: 14px;
            color: $ui_grey;
            opacity: 0.5;
            float: left;
            margin-left: 8px;
            line-height: 14px;
            text-transform: capitalize;
          }
        }

        div.stream-comment-more-menu-container {
          position: relative;
          float: right;
          margin-left: 8px;

          button.comment-more-menu {
            width: 24px;
            height: 24px;
            padding: 2px 2px 16px 2px;
            display: block;
            background-image: cdnUrl("/img/ML/horizontal_ellipsis.svg");
            background-position: 50% 3px;
            background-size: 20px 4px;
            background-repeat: no-repeat;
            opacity: 0.4;
            display: none;

            &:hover, &:hover, &.active {
              opacity: 1;
            }
          }

          div.stream-comment-more-menu {
            position: absolute;
            top: -8px;
            right: 100%;
            background-color: white;
            width: 136px;
            border: 1px solid $deep_tan;
            box-shadow: 0 2px 4px 1px rgba(0,0,0,0.10);
            outline: none;
            z-index: 110;
            border-radius: 5px;
            margin: 0;
            padding: 24px;

            @include preload_image(cdnUrl("/img/ML/more_menu_edit_black.svg"));
            @include preload_image(cdnUrl("/img/ML/more_menu_delete_black.svg"), "before");

            div.stream-comment-more-menu-item {
              height: 18px;
              @include avenir_H();
              font-size: 14px;
              color: $deep_navy;
              cursor: pointer;
              padding-left: 32px;
              position: relative;
              margin-top: 16px;

              &:before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 18px;
                height: 18px;
                background-repeat: no-repeat;
                background-size: 18px 18px;
                background-position: center;
              }

              &:first-child {
                margin-top: 0px;
              }

              &.edit {
                &:before {
                  background-image: cdnUrl("/img/ML/more_menu_edit_black.svg");
                }
              }

              &.delete {
                &:before {
                  background-image: cdnUrl("/img/ML/more_menu_delete_black.svg");
                }
              }
            }
          }
        }
      }

      div.stream-comment-content {
        text-align: left;
        position: relative;

        div.stream-comment-body {
          @include avenir_R();
          font-size: 16px;
          color: $deep_navy;
          white-space: pre-wrap;
          word-wrap: break-word;
          line-height: 20px;
          display: inline;

          & > *:last-child {
            display: inline;
          }

          & > *:not(:last-child) {
            display: block;
          }

          &.editing {
            display: block;
            margin-top: 6px;
          }

          &:hover {
            a.read-more {
              color: $carrot_green;
            }
          }

          a.read-more {
            @include avenir_H();
            font-size: 12px;
            color: $deep_navy;
          }

          &.medium-editor-element {
            // editing comment
            border-radius: 4px;
            border: 1px solid $ui_grey;
            box-shadow: 0px 2px 6px 0px rgba(0,0,0, 0.1);
            border: 2px solid $light_ui_grey;
            background-color: white;
            outline: none;
            padding: 4px;
          }

          * {
            white-space: pre-wrap;
            word-wrap: break-word;
          }

          margin-bottom: 0px;

          &>*:last-child {
            margin-bottom: 0px;
          }

          &.emoji-comment {
            font-size: 50px;
            height: 50px;
            line-height: 50px;

            // & > * {
            //   line-height: 20px;
            //   margin-top: 20px;
            // }
          }
        }

        button.stream-comment-reaction {
          height: 16px;
          @include avenir_M();
          font-size: 12px;
          color: $ui_grey;
          padding: 0;
          margin-left: 10px;
          margin-top: 0;
          padding: 0 6px;
          display: inline;

          div.stream-comment-reaction-icon {
            float: left;
            width: 14px;
            height: 16px;
            background-repeat: no-repeat;
            background-image: cdnUrl("/img/ML/comment_agree_off.svg");
            opacity: 0.5;
            background-size: 14px 14px;
            background-position: center;

            @include preload_image(cdnUrl("/img/ML/comment_agree_on.svg"));
          }

          div.stream-comment-reaction-count {
            height: 16px;
            float: left;
            margin-left: 6px;
            color: $ui_grey;
            @include avenir_M();
            font-size: 12px;
            line-height: 22px;
          }

          &.reacted {
            color: $carrot_green;

            &.can-react:hover {
              color: $deep_navy;
              div.stream-comment-reaction-icon {
                background-image: cdnUrl("/img/ML/comment_agree_off.svg");
                opacity: 0.7;
              }

              div.stream-comment-reaction-count {
                color: $deep_navy;
              }
            }

            div.stream-comment-reaction-icon {
              background-image: cdnUrl("/img/ML/comment_agree_on.svg");
              opacity: 1;
            }

            div.stream-comment-reaction-count {
              color: $carrot_green;
            }
          }

          &.can-react {
            cursor: pointer;

            &:hover {
              color: $deep_navy;

              div.stream-comment-reaction-icon {
                background-image: cdnUrl("/img/ML/comment_agree_on.svg");
                opacity: 1;
              }

              div.stream-comment-reaction-count {
                color: $deep_navy;
              }
            }
          }
        }
      }

      div.stream-comment-footer {
        height: 24px;
        margin-top: 2px;
      }

      div.save-cancel-edit-buttons {
        float: right;
        padding-top: 8px;

        button {
          float: right;
        }
      }
    }

    div.stream-comments-expand {
      text-align: center;
      cursor: pointer;
      margin: 14px 0 8px;

      span.collapse-expand-list {
        @include avenir_H();
        font-size: 14px;
        color: $ui_grey;
        padding-left: 22px;

        background-image: cdnUrl("/img/ML/expand_comments.svg");
        background-size: 14px 8px;
        background-position: 0px 3px;
        background-repeat: no-repeat;
      }

      &.expanded {
        span.collapse-expand-list {
          background-image: cdnUrl("/img/ML/collapse_comments.svg");
        }
      }
    }
  }
}