div.stream-attachments {
  margin-top: 20px;

  @include mobile() {
    width: 100%;
    margin-top: 16px;
  }

  div.stream-attachments-content {
    width: 100%;
    height: auto;

    &.collapsed {
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div.stream-attachments-show-more {
      cursor: pointer;
      height: 20px;
      margin-top: 8px;
      @include OC_Body_Book();
      font-size: 12px;
      color: var(--color);
      line-height: 20px;
      float: left;
    }

    div.stream-attachments-item {
      max-width: 100%;

      div.small-loading {
        float: left;
      }

      span.attachment-uploading {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
        float: left;
      }

      div.attachment-info {
        margin-top: 8px;

        div.attachment-icon {
          width: 18px;
          height: 20px;
          background-image: cdnUrl("/img/ML/multi_picker_attachment_icon.svg");
          background-size: 14px 16px;
          background-repeat: no-repeat;
          background-position: center;
          float: left;
          opacity: 0.5;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/multi_picker_attachment_icon@dark.svg");
          }

          @include mobile() {
            width: 14px;
          }
        }

        div.attachment-labels {
          display: flex;
          align-items: center;
          max-width: calc(100% - 18px);
          float: left;

          &.edit {
            max-width: calc(100% - 54px);
          }

          span.attachment-name {
            @include OC_Body_Book();
            font-size: 12px;
            color: $wut_purple;
            line-height: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            flex: 1;
            min-width: 0;
            margin-left: 6px;
          }

          span.attachment-description {
            @include OC_Body_Book();
            font-size: 12px;
            color: var(--light-color);
            white-space: nowrap;
            line-height: 20px;
            display: block;
            margin-left: 6px;
          }
        }

        button.remove-attachment-bt {
          width: 28px;
          height: 20px;
          background-image: cdnUrl("/img/ML/remove_attachment.svg");
          background-size: 16px 16px;
          background-position: right 2px top 2px;
          background-repeat: no-repeat;
          margin-left: 8px;
          padding-right: 0px;
          padding-left: 8px;
          border-left: 1px solid var(--color);
          display: block;
          float: left;
          opacity: 0.5;

          @include dark_mode() {
            background-image: cdnUrl("/img/ML/remove_attachment@dark.svg");
          }

          @include big_web(){
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}