div.stream-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: #{$board_container_width}px;
  height: #{$foc_height}px;
  margin: 0;
  border-bottom: 1px solid $ultra_light_grey;
  padding: 24px 40px;

  &.expandable {
    cursor: pointer;

    @include big_web() {
      &:hover {
        background-color: #F5F5F5;

        div.stream-item-header {
          div.more-menu button {
            display: initial;
          }
        }

        div.stream-item-body-ext {
          div.stream-item-footer {
            div.stream-item-comments-summary {
              div.is-comments {
                div.is-comments-authors.show-border {
                  div.is-comments-author {
                    background-color: #F5F5F5;
                    border: 2px solid #F5F5F5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include mobile() {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-top: none;
    border-bottom: 1px solid $divider_line_grey;
    background-color: $grey_num_4;
    padding: 16px 16px 22px;
  }

  &.draft {
    cursor: pointer;
  }

  &.unread-item {
    background-color: white;
    z-index: 1;
    position: relative;

    &.showing-share {
      z-index: 3;
    }

    @include big_web(){
      &:hover {
        background-color: white;
        z-index: 2;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

        div.stream-item-body-ext {
          div.stream-item-footer {
            div.stream-item-comments-summary {
              div.is-comments {
                div.is-comments-authors.show-border {
                  div.is-comments-author {
                    background-color: white;
                    border: 2px solid white;
                  }
                }
              }
            }
          }
        }
      }

      div.stream-item-body-ext {
        div.stream-item-footer {
          div.stream-item-comments-summary {
            div.is-comments {
              div.is-comments-authors.show-border {
                div.is-comments-author {
                  background-color: white;
                  border: 2px solid white;
                }
              }
            }
          }
        }
      }
    }
  }

  &:not(.follow-up-item).must-see-item {

    div.must-see-tag {
      display: inline-block;
    }
  }

  &.follow-up-item, &.follow-up-item.must-see-item {
    div.must-see-tag {
      display: none;
    }

    div.follow-up-tag, div.follow-up-tag-small {
      display: inline-block;
    }
  }

  div.activity-share-container {
    div.activity-share-modal-container {
      right: -9px;
      margin-top: 32px;
    }
  }

  div.stream-item-header {
    position: relative;

    @include mobile() {
      width: 100%;
    }

    div.stream-header-head-author {
      width: 100%;

      @include activity-author(24);

      div.user-avatar-img-container {
        margin-right: 8px;
      }

      @include mobile() {
        @include activity-author(32);
      }

      div.name {
        height: 24px;
        float: left;
        max-width: 70%;
        color: rgba($deep_navy, 0.5);

        @include mobile() {
          height: 32px;
          width: calc(100% - 48px);
          max-width: unset;
        }

        div.mobile-name {
          display: inline-block;

          @include mobile() {
            display: flex;
            align-items: center;
          }

          div.name-inner {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 24px;
            margin-right: 8px;

            @include mobile() {
              flex: 1;
              min-width: 0;
              display: block;
              line-height: 32px;
            }
          }

          div.mobile-time-since {
            display: none;

            @include mobile() {
              display: block;
              white-space: nowrap;
            }
          }
        }
      }

      div.follow-up-tag, div.must-see-tag {
        margin-top: 2px;
      }
    }

    div.more-menu {
      height: 24px;

      @include big_web() {
        &:not(.menu-expanded) button {
          display: none;
        }
      }

      @include mobile() {
        height: 32px;

        ul.more-menu-list {
          left: unset;
          right: 0;
        }
      }
    }
  }

  div.new-tag {
    display: none;
  }

  @include must-see-tag();

  @include follow-up-tag();

  div.follow-up-tag, div.follow-up-tag-small, div.must-see-tag {
    display: none;
  }

  div.follow-up-tag, div.must-see-tag {
    @include mobile() {
      margin-top: 8px;
    }
  }

  & > div.new-tag, & > div.must-see-tag, & > div.follow-up-tag {
    margin-top: 16px;
  }

  div.stream-item-body-ext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    border-radius: 6px;

    &.expanded {
      div.thumbnail-container {
        cursor: default;

        div.ziggeo-player {
          margin-top: 24px;
          margin-bottom: 24px;
          float: unset;
          width: 638px;
          height: 478px;
          position: relative;
          top: unset;
          right: unset;
          transform: translate(0%,0%);

          video {
            max-height: 478px;
          }

          @include tablet(){
            width: 100vw;
            height: calc(100vw *  0.75);
          }
        }

        div.body-thumbnail-wrapper {
          display: none;
        }
      }
    }

    div.thumbnail-container {
      min-height: 110px;
      position: relative;
      cursor: pointer;

      div.ziggeo-player {
        width: 136px;
        height: 102px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        video {
          max-height: 102px;
        }

        @include tablet(){
          margin-top: 16px;
          float: unset;
          width: calc(100vw + 32px);
          height: auto;
          margin-left: -16px;
          position: initial;
          top: unset;
          right: unset;
          transform: translateY(0%);

          video {
            max-height: calc(100vw * 0.75);
          }

          div.ba-videoplayer-carrot-theme-volumebar, div[data-selector="button-icon-volume"] {
            display: none !important;
          }
        }
      }

      div.body-thumbnail-wrapper {
        width: 136px;
        // height: 102px;
        max-height: 102px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;

        img.body-thumbnail {
          border-radius: 4px;
          object-fit: contain;
          max-width: 136px;
          max-height: 102px;
        }

        &.video {
          &:hover:after {
            opacity: 1;
          }

          &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 45px;
            height: 45px;
            background-image: cdnUrl("/img/ML/play.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 45px;
            opacity: 0.6;
          }
        }
      }
    }

    div.stream-body-left {
      position: relative;
      margin-top: 8px;

      &.has-thumbnail, &.has-video {
        float: left;
        width: 484px;
        min-height: 98px;

        @include mobile() {
          width: calc(100% - 136px - 16px);
        }
      }

      @include tablet() {
        width: 100%;
        margin: 8px 0px 0px;
      }

      &.has-thumbnail {
        @include tablet() {
          width: calc(100% - 136px - 16px);
        }
      }

      &.has-video {
        @include tablet() {
          float: unset;
          width: 100%;
          min-height: initial;
        }
      }

      div.stream-item-headline {
        height: 28px;
        @include activity-title(24px, 28px);
        color: $deep_navy;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;

        @include mobile() {
          margin-top: 16px;
          @include activity-title(22px, 28px);
        }
      }

      div.stream-item-body {
        margin-top: 8px;
        @include activity-body(18, 24, $deep_navy);
        color: $deep_navy;
        @include OC_Body_Book();
        line-height: 24px;
        overflow: hidden;
        white-space: pre-wrap;
        word-break: break-word;

        max-height: #{24 * 2}px;

        @include mobile() {
          margin-top: 4px;
        }

        h2 {
          color: $deep_navy;
          @include OC_Body_Book();
          font-size: 18px;
          line-height: 24px;
        }

        b, strong, &.editing b, &.editing strong {
          @include OC_Body_Book();
          font-weight: normal;
        }

        .carrot-no-preview {
          display: none;
        }
      }
    }

    div.stream-item-footer {
      min-height: 26px;

      @include mobile() {
        height: auto;
        overflow: hidden;
        min-height: 32px;
      }

      div.reactions {
        @include mobile() {
          display: inline-block;
        }
      }

      div.stream-item-footer-mobile-group {
        @include mobile() {
          display: inline-block;
          height: 32px;
          padding-top: 8px;
        }
      }

      div.stream-body-draft-edit {
        float: left;

        button.edit-draft-bt {
          text-align: left;
          padding: 0px;
          @include OC_Body_Bold();
          font-size: 14px;
          color: $carrot_green;
        }
      }

      div.stream-body-draft-delete {
        float: right;
        button.delete-draft-bt {
          text-align: right;
          padding: 0px;
          @include OC_Body_Bold();
          font-size: 14px;
          color: $ui_grey;
        }
      }

      div.stream-item-comments-summary {
        margin-right: 16px;
        float: left;

        div.is-comments {
          div.is-comments-authors.show-border {
            div.is-comments-author {
              background-color: $grey_num_2;
              border: 2px solid $grey_num_2;

              @include mobile() {
                background-color: $grey_num_4;
                border: 2px solid $grey_num_4;
              }
            }
          }
        }
      }

      div.reactions {
        float: left;
        margin-right: 16px;

        div.reactions-picker-container {
          div.emoji-mart {
            bottom: unset;
            top: 0;
            left: calc(100% + 8px);

            @include mobile(){
              bottom: unset;
              right: unset;
              top: unset;
              left: unset;
            }
          }
        }
      }

      div.stream-item-attachments {
        float: left;
        margin-right: 16px;
        height: 26px;
        position: relative;

        @include mobile() {
          height: 20px;
        }

        &:hover {
          div.stream-item-attachments-count {
            opacity: 1;
          }

          div.stream-item-attachments-list {
            display: block;
          }
        }

        div.stream-item-attachments-count {
          position: relative;
          @include OC_Body_Book();
          font-size: 12px;
          color: $deep_navy;
          opacity: 0.5;
          margin-top: 4px;

          @include mobile() {
            margin-top: 0;
            padding-left: 0;
            line-height: 20px;
          }
        }

        div.stream-item-attachments-list {
          position: absolute;
          top: 26px;
          left: calc(50% - 120px);
          width: 240px;
          max-height: 200px;
          background-color: white;
          border-radius: 4px;
          border: 1px solid $mid_light_grey;
          padding: 8px 0;
          display: none;
          z-index: 2;

          a.stream-item-attachments-item {
            padding: 8px 16px;
            height: 34px;
            display: block;

            &:active, &:hover {
              background-color: #EBF8F1;
              div.stream-item-attachments-item-desc {
                color: $carrot_green;
              }
            }

            div.stream-item-attachments-item-desc {
              @include OC_Body_Book();
              font-size: 14px;
              color: rgba($light_navy, 0.5);
              white-space: nowrap;
              max-width: 100%;

              span.file-name {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
                max-width: calc(100% - 80px);
              }

              span.file-size {
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                margin-left: 8px;
              }
            }
          }
        }
      }

      div.stream-item-wrt {
        float: left;
        position: relative;
        margin-top: 4px;
        margin-right: 16px;

        @include mobile() {
          margin-left: 2px;
          margin-top: 0;
        }
      }

      div.time-since {
        float: right;
        max-width: 30%;
        height: 24px;
        line-height: 24px;
        text-align: right;
        @include OC_Body_Book();
        font-size: 12px;
        color: rgba($deep_navy, 0.5);

        @include mobile() {
          display: none;
        }
      }
    }
  }
}
