div.su-snapshot-preview {
  div.page {
    min-height: calc(100vh - #{$top_border_height}px);
  }
}

div.page.snapshot-page {
  background-color: $oc_gray_8 !important;
}

div.su-snapshot-preview {
  background-color: $oc_gray_8;
  border-top: 4px solid $oc_yellow;

  div.su-snapshot-header {
    height: 60px;
    background-color: rgba(78, 90, 107, 0.5);

    div.back-to-dashboard-row {
      float: left;
      width: 240px;
      margin-top: 13px;
      padding-top: 0px;

      button {
        border-color: white;
        color: white;
      }
    }

    div.snapshot-cta {
      color: $oc_gray_2;
      color: #D8D8D8;
      text-align: center;
      max-width: 460px;
      margin-left: -230px;
      left: 50%;
      position: absolute;
      margin-top: 20px;
      font-size: 16px;

      @media screen and (max-width: 950px) {
        display: none;
      }
    }

    div.share-su {
      float: right;
      padding: 9px 20px 11px 0;
      height: 60px;

      label {
        color: white;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        margin-top: 13px;
        float: left;
      }

      button.share-su-button {
        margin-top: 5px;

        &:disabled{
          opacity: 0.2;
          cursor: default;
        }
      }
    }
  }

  div.su-sp-content {
    padding-bottom: 20px;
    background-color: $oc_gray_8;

    div.su-sp-company-header {
      text-align: center;

      div.company-logo-container {
        margin-top: 40px;

        img.company-logo {
          max-height: 50px;
          max-width: 150px;
          margin-top: -5px;
        }
      }

      div.preview-title-container {
        text-align: center;
        margin: 25px auto 10px;

        input.preview-title {
          height: 28px;
          width: 100%;
          margin-top: 0px;
          padding-top: 0px;
          text-align: center;
          font-weight: 700;
          font-size: 22px;
          line-height: 1.2;
          color: $oc_gray_5;
          outline: none;
          background-color: transparent;
          border-radius: 2px;
          border: 1px solid rgba(78, 90, 107, 0.2);

          &:focus {
            border: 1px solid transparent;
          }

          @include placeholder {
            font-style: italic;
          }
        }
      }
    }

    div.preview-subtitle {
      width: 100%;
      text-align: center;
      font-size: 12px;
      line-height: 2.7;
      color: $oc_gray_5;
      margin-top: 0px;
      padding-bottom: 30px;
    }
  
    div.topics-columns div.topics-column-container.columns-1 {  

      div.topics-column {
        max-width: 100%;

        div.topic-row {
          width: 100%;
          border: 0px solid transparent;
          margin-bottom: 0px;
          padding: 0px 0px 12px 0px;

          &.hover, &:hover {
            div.share-remove-container {
              display: block;
            }
            div.share-dnd-container {
              display: block;
            }
          }

          &.su-dragging-topic {
            background-color: transparent;

            div.share-remove-container {
              display: none;
            }

            div.share-dnd-container {
              display: none;
            }

            div.topic {
              border: 4px solid $oc_yellow;
              transition: transform .25s ease-in-out;
              -webkit-transition: -webkit-transform .25s ease-in-out;
              -ms-transform: rotate(7deg); /* IE 9 */
              -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
              transform: rotate(7deg);
            }
          }
        }
      }
    }
  }

  div.su-preview-add-section-container {
    background-color: rgba(78, 90, 107, 0.05);
    padding-top: 60px;
    padding-bottom: 60px;

    div.su-preview-add-section {
      margin: 0px auto;

      div.add-header {
        height: 40px;
        background-color: #4e5a6b;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #ffffff;
        padding: 10px 19px;
        border-top: 2px solid $oc_yellow;
      }

      div.add-section {
        height: 40px;
        padding: 10px 24px;
        background-color: white;
        cursor: pointer;

        &:hover {
          background-color: rgba(78, 90, 107, 0.1);
        }

        div.svg-icon {
          width: 16px;
          height: 16px;
          float: left;
        }

        div.section-name {
          float: left;
          font-family: $oc_headers_font;
          font-size: 14px;
          line-height: 1.7;
          color: $oc_gray_5;
          margin-left: 10px;
          text-transform: capitalize;
        }
      }
    }
  }
}

div.sortable-placeholder {
  margin: 0px auto 22px;
}