div.su-snapshot {
  border-top: 4px solid $oc_yellow;

  div.su-sp-content {
    position: relative;
    content: "";
    min-height: calc(100vh - #{$navbar_height}px);
    background-color: $oc_gray_6;
    padding-top: 60px;

    div.su-sp-company-header {
      height: 50px;
      text-align: center;

      div {
        margin-top: 10px;
      }

      img.company-logo {
        max-height: 50px;
        max-width: 150px;
        margin-top: -5px;
      }

      span.company-name {
        margin-top: 0px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        color: $oc_gray_5;
      }
    }

    div.su-snapshot-title {
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      color: $oc_gray_5;
      margin-top: 50px;
      text-align: center;
    }

    div.su-snapshot-subtitle {
      width: 100%;
      text-align: center;
      font-size: 12px;
      line-height: 2.7;
      color: $oc_gray_5;
      margin-top: 0px;
      padding-bottom: 30px;
    }
  }

  div.su-sp-footer {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 38px;
    font-size: 18px;
    color: $oc_gray_5;
    font-weight: 400;
    font-family: $oc_main_font;
    background-color: $oc_gray_6;

    a {
      font-family: $oc_main_font;
      font-weight: 700;
      text-decoration: underline;
      color: $oc_gray_5;
    }
  }
}