.animating div.su-sp-content{
  margin-top: 0px;
  padding-top: #{$navbar_height}px;
}

div.su-snapshot-preview {
  background-color: white;
  border-top: 4px solid $oc_yellow;

  div.su-snapshot-header {
    height: 60px;
    background-color: rgba(78, 90, 107, 0.5);

    div.back-to-dashboard-row {
      float: left;
      width: 240px;
      margin-top: 0px;
      padding-top: 0px;

      button {
        border-color: white;
        color: white;
      }
    }

    div.share-su {
      float: right;
      padding: 10px 20px;
      height: 60px;

      label {
        color: white;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        margin-top: 13px;
        float: left;
      }

      button.share-su-button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        margin-left: 8px;
        float: left;

        img {
          width: 20px;
          height: 20px;
        }

        div.svg-icon {
          padding: 0px 4px;
        }
      }
    }
  }

  div.su-sp-content {
    position: relative;
    content: "";
    padding-bottom: 20px;
    min-height: calc(100vh - #{$footer_height}px);
    background-color: white;

    div.preview-title-container {
      width: 100%;
      text-align: center;
      padding-top: 50px;

      input.preview-title {
        font-family: $oc_headers_font;
        font-size: 20px;
        line-height: 1.2;
        color: $oc_gray_5;
        text-align: center;
        outline: none;
        border: 1px solid transparent;
        background-color: transparent;
        border-radius: 2px;
      }
    }

    div.preview-subtitle {
      width: 100%;
      text-align: center;
      font-family: $oc_headers_font;
      font-size: 12px;
      line-height: 2.7;
      color: $oc_gray_5;
      margin-top: 0px;
      padding-bottom: 30px;
    }
  }

  div.topic {
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;

    div.card-header {
      background-color: #f6f7f7;
    }

    div.pillbox-container{
      text-align: left;
    }
  }
}