div.su-preview-dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(78, 90, 107, 0.5);
  z-index: 1038;

  div.su-preview-window {
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -230px;
    border-radius: 2px;
    background-color: #fcfcfc;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;

    div.slack-note:empty:after{
      content: attr(placeholder);
      display: block;
      color: $oc_gray_5;
      font-style: italic;
      opacity: 0.5;
    }

    button {

      .circle50 {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: white;
        opacity: 0.8;

        & > img {
          margin-top: 14px;
          margin-left: 1px;
        }

        & > div.svg-icon {
          margin-top: 13px;
          margin-left: 14px;
        }
      }

      span {
        margin-top: 15px;
        opacity: 0.5;
        font-family: $oc_headers_font;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
      }

      &:hover {
        .circle50{
          opacity: 0.9;
        }
        span {
          opacity: 0.8; 
        }
      }
    }
  }
}