div.su-preview-dialog{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(78, 90, 107, 0.5);
  z-index: 1038;

  div.su-close-window {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 170px;
    margin-top: -230px;

    &.share-copy-window {
      margin-top: -120px;
      margin-left: 254px;
    }

    &.slack-patched-window {
      margin-top: -142px;
      margin-left: 190px;
    }

    button {
      background-color: transparent;
      outline: none;
      border: 0px solid transparent;

      &:active, &:focus {
        outline: none;
        border: none;
      }
    }
  }

  div.su-preview-window{
    width: 344px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -172px;
    border-radius: 2px;
    background-color: #fcfcfc;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;
    padding: 20px;

    &.share-link-copy {
      height: 230px;
      margin-top: -115px;
      width: 516px;
      margin-left: -258px;
    }

    &.slack-message {
      height: 275px;
      width: 384px;
      margin-top: -137px;
      margin-left: -192px;

      div.su-preview-box {
        margin-top: 0px;
      }
    }

    input.su-title {
      font-family: $oc_headers_font;
      font-size: 20px;
      line-height: 1.2;
      color: $oc_gray_5;
      border: 0px;
      outline: none;
    }

    div.su-preview-box {
      margin-top: 25px;

      label.share-link-cta{
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
        cursor: pointer;
      }

      div.share-link-box {
        width: 100%;
        margin-top: 20px;

        input.share-link-input {
          border: 1px solid rgba(78, 90, 107, 0.1);
          border-radius: 2px;
          height: 30px;
          width: 370px;
          font-size: 21px;
          line-height: 1.2;
          color: $oc_gray_5;
          float: left;

          &:active, &:focus {
            outline: none;
          }
        }

        button.share-link-button {
          margin: 0px;
          padding: 0px;
          width: 106px;
          height: 30px;
          background-color: $oc_yellow;
          font-weight: 700;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          cursor: pointer;
          outline: none;
          border: 1px solid transparent;
          float: left;

          &:active, &:focus {
            outline: none;
            border: none;
          }
        }
      }

      a.share-link-new-win{
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        color: $oc_gray_5;
        cursor: pointer;
        opacity: 0.5;
        text-decoration: underline;
      }


      label.slack-share-cta {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
        cursor: pointer;
        opacity: 0.5;
        margin-bottom: 25px;
      }

      textarea.slack-share-textarea {
        width: 100%;
        height: 100px;
        border: 1px solid rgba(78, 90, 107, 0.1);
        font-family: $oc_headers_font;
        font-size: 14px;
        line-height: 1.2;
        color: $oc_gray_5;
        outline: none;
        border-radius: 2px;
      }

      div.su-preview-title {
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
      }

      a.preview-button {
        outline: none;
        border: 0px solid transparent;
        width: 180px;
        background-color: transparent;
        padding: 0px;
        margin:0px;
        margin-top: 15px;
        display: block;
        text-align: left;

        label{
          padding: 13px;
          padding-left: 10px;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          cursor: pointer;
          opacity: 0.5;
        }

        div.link-circle{
          border-radius: 22.5px;
          width: 45px;
          height: 45px;
          border: 1px solid rgba(78, 90, 107, 0.1);
          padding: 11px;
          float: left;

          div.svg-icon {
            float: left;
          }
        }
      }

      div.separator {
        margin-top: 30px;
        width: calc(100% + 40px);
        margin-left: -20px;
        height: 1px;
        opacity: 0.2;
        background-color: rgba(78, 90, 107, 0.5);

        &.top-separator {
          margin-bottom: 25px;
        }
      }

      div.su-preview-ready{
        margin-top: 30px;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        color: $oc_gray_5;
      }

      button.ready-slack-button {
        outline: none;
        border: 0px solid transparent;
        width: 180px;
        background-color: transparent;
        padding: 0px;
        margin:0px;
        margin-top: 15px;
        text-align: left;

        &:active, &:focus {
          outline: none;
          border: none;
        }

        label{
          padding-top: 13px;
          padding-left: 10px;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          cursor: pointer;
          opacity: 0.5;
        }
        div.slack-circle {
          border-radius: 22.5px;
          width: 45px;
          height: 45px;
          border: 1px solid rgba(78, 90, 107, 0.1);
          float: left;
          padding: 9px;

          img.slack-icon {
            width: 25px;
            height: 25px;
          }
        }
      }

      button.ready-mail-button {
        outline: none;
        border: 0px solid transparent;
        width: 180px;
        background-color: transparent;
        padding: 0px;
        margin:0px;
        margin-top: 15px;
        text-align: left;

        &:active, &:focus {
          outline: none;
          border: none;
        }

        label{
          padding-top: 13px;
          padding-left: 10px;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: $oc_gray_5;
          cursor: pointer;
          opacity: 0.5;
        }

        div.mail-circle{
          border-radius: 22.5px;
          width: 45px;
          height: 45px;
          border: 1px solid rgba(78, 90, 107, 0.1);
          float: left;
          padding: 11px;
        }
      }
    }

    button.slack-send-button{
      padding-top: 5px;
      background-color: $oc_yellow;
      width: 106px;
      height: 30px;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1px;
      color: rgba(78, 90, 107, 0.5);
      position: absolute;
      bottom: 20px;
      right: 146px;
      outline: nonde;
      box-shadow: none;
      border: solid 1px rgba(78, 90, 107, 0.5);

      &:active, &:focus {
        outline: none;
      }
    }

    button.cancel-button {
      padding-top: 5px;
      background-color: transparent;
      border: solid 1px rgba(78, 90, 107, 0.5);
      width: 106px;
      height: 30px;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1px;
      color: rgba(78, 90, 107, 0.5);
      position: absolute;
      bottom: 20px;
      right: 20px;
      outline: none;
      box-shadow: none;

      &:active, &:focus {
        outline: none;
      }
    }
  }
}