div.su-preview-dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(78, 90, 107, 0.5);
  z-index: 1038;

  div.su-preview-window {
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -230px;
    border-radius: 2px;
    background-color: #fcfcfc;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 #ffffff;

    input[type=text], textarea {
      border: 1px solid rgba(78, 90, 107, 0.1);
      border-radius: 2px;
      font-size: 18px;
      line-height: 1.2;
      color: $oc_gray_5;
      transition: $oc_animation_duration;

      &:active, &:focus {
        border-color: rgba(78, 90, 107, 0.5);
        outline: none;
      }
    }
  }
}