div.su-snapshot {
  background-color: $oc_gray_8;
  min-height: 100vh;
  @include big_web(){
    border-top: 4px solid $oc_yellow;
  }

  @include mobile(){
    padding-top: #{$mobile_navbar_height}px;
  }

  div.su-mobile-navigation{
    position: fixed;
    top: 0px;
    left: 0px;
    height: #{$mobile_navbar_height}px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-top: 4px solid $oc_yellow;
    z-index: 1034;

    div.su-mobile-navigation-title {
      color: $oc_gray_7;
      font-weight: 400;
      font-family: $oc_headers_font;
      font-size: 25px;
      padding-top: 16px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipse;
      width: 80%;
      position: absolute;
      left: 50%;
      margin-left: -40%;
    }

    button.close-su-btn {
      position: absolute;
      top: 0px;
      right: -30px;
      width: 30px;
      height: 30px;
      font-weight: 400;
      font-family: $oc_headers_font;
      font-size: 28px;
      color: $oc_gray_7;

      @include mobile(){
        left: 8px;
        top: 12px;
      }
    }
  }

  &.has-navbar {
    div.su-sp-content {
      @include mobile(){
        padding-top: calc(20px + #{$mobile_navbar_height}px);
      }
      @include big_web() {
        margin-top: calc(55px + #{$mobile_navbar_height}px); 
      }
    }
  }

  div.su-sp-content {
    position: relative;
    content: "";
    background-color: white;
    @include big_web(){
      margin: 50px auto;
      padding: 20px 30px;
    }

    @include mobile(){
      padding-top: 20px;
    }

    div.topics-columns div.topics-column-container.columns-1 {
      div.topics-column {
        div.topic-row {
          width: 100%;
          margin: 0px auto;
          padding: 0px 0px 12px 0px;
        }
      }
    }

    div.su-sp-company-header {
      text-align: center;
      padding: 0px 0px 25px;

      div {
        margin-top: 10px;
      }

      img.company-logo {
        max-height: 50px;
        max-width: 150px;
        margin-top: -5px;
      }

      div.su-snapshot-title {
        width: 100%;
        margin-top: 50px;
        text-align: center;
        margin-top: 10px;
        line-height: 1.2;
        color: $oc_gray_7;
        font-size: 24px;
        font-family: $oc_headers_font;
        font-weight: 500;;
      }
    }

    div.topics-column-container{
      padding-top: 0px;

      div.topics-column {
        margin: 0;
        max-width: initial;
        background-color: white;

        div.topic-row{
          margin-left: 0px;
          margin-right: 0px;

          div.topic {
            margin-left: 0px;
            margin-right: 0px;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid rgba(78,90,107,0.1);

            div.card-header.card-image {
              @include big_web(){
                margin-top: 12px;
                padding: 0 20px;
              }
            }
          }

          &:last-child {
            div.topic {
              border-bottom: 0px solid rgba(78,90,107,0.1);
            }
          }
        }
      }
    }

    div.su-sp-footer {
      text-align: center;
      padding-top: 26px;
      padding-bottom: 38px;
      font-size: 15px;
      color: $oc_gray_5;
      font-weight: 400;
      font-family: $oc_main_font;

      a {
        font-family: $oc_main_font;
        text-decoration: underline;
        color: $oc_gray_5;
      }
    }
  }
}