div.su-snapshot {
  border-top: 4px solid $oc_yellow;

  div.su-sp-content {
    position: relative;
    content: "";
    min-height: calc(100vh - #{$navbar_height}px);
    background-color: $oc_gray_8;

    @media screen and (max-width: 683px){
      padding-top: 20px;
    }
    @media screen and (min-width: 684px){
      padding-top: 40px;
    }

    div.topics-columns div.topics-column-container.columns-1 {
      div.topics-column {
        div.topic-row {
          width: 100%;
          margin: 0px auto;
          padding: 0px 0px 12px 0px;
        }
      }
    }

    div.su-sp-company-header {
      text-align: center;

      div {
        margin-top: 10px;
      }

      img.company-logo {
        max-height: 50px;
        max-width: 150px;
        margin-top: -5px;
      }

      div.su-snapshot-title {
        width: 100%;
        margin-top: 50px;
        text-align: center;
        margin-top: 10px;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        color: $oc_gray_5;
      }
    }

    div.su-snapshot-subtitle {
      width: 100%;
      text-align: center;
      font-size: 12px;
      line-height: 2.7;
      color: $oc_gray_5;
      margin-top: 0px;
      padding-bottom: 30px;
    }
  }

  div.su-sp-footer {
    background: #f9f9f9;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 38px;
    font-size: 15px;
    color: $oc_gray_5;
    font-weight: 400;
    font-family: $oc_main_font;
    background-color: $oc_gray_8;

    a {
      font-family: $oc_main_font;
      text-decoration: underline;
      color: $oc_gray_5;
    }
  }
}