div.team-disclaimer.oc-popover-container-internal{
  width: 100vw;
  height: 100vh;
  button.close-button {
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -211px;
  }

  div.role-explainer-popover.oc-popover {
    width: 422px;
    height: 230px;
    font-family: $oc_main_font;
    font-size: 14px;
    font-weight: 300;
    padding: 20px;
    background-color: white;
    text-align: left;

    div.role-explainer-row {
      margin-bottom: 20px;
      display: inline-block;

      span.title {
        font-weight: 700;
        display: inline-block;
      }
    }

    button.got-it-btn {
      text-align: center;
    }
  }
}