div.team-management-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;
  }

  div.team-management {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    div.team-management-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      div.team-management-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        float: right;
      }

      button.save-bt {
        height: 32px;
        padding: 7px 14px;
        background-color: $wut_purple;
        @include OC_Body_Bold();
        font-size: 14px;
        color: white;
        line-height: 18px;
        float: right;
        border-radius: 4px;
        margin-left: 8px;
      }
    }

    div.team-management-body {
      margin-top: 16px;

      div.team-management-body-title {
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--color);
      }

      div.team-management-search-users {
        margin-top: 8px;
        width: 100%;
        height: 32px;
        background-image: cdnUrl("/img/ML/wrt_search_lens.svg");
        background-size: 11px 12px;
        background-position: top 11px left 8px;
        background-repeat: no-repeat;
        padding-left: 19px;
        background-color: var(--opac-background-color-1);
        border-radius: 4px;

        input {
          height: 32px;
          width: 100%;
          float: right;
          border-radius: 4px;
          background-color: transparent;
          padding: 7px 8px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          outline: none;
          border: none;

          @include placeholder(){
            color: var(--light-color);
          }
        }
      }

      div.team-management-users-list {
        margin-top: 16px;
        div.team-management-users-item {
          width: 100%;
          margin-top: 12px;
          height: 24px;

          &.is-pending-user {
            height: 38px;

            div.user-avatar-img-container {
              margin-top: 7px;
            }

            div.small-loading {
              margin-top: 7px;
            }

            div.user-name {
              line-height: 19px;

              button.user-name-label {
                line-height: 19px;
              }
            }

            div.user-role {
              margin-top: 7px;
            }

          }

          @include user_profile(24);

          div.small-loading {
            margin-right: 0;
            float: left;

            div.small-loading-inner {
              width: 20px;
              height: 20px;
              background-size: 20px 20px;
            }
          }

          div.user-avatar-img-container {
            float: left;
          }

          div.user-name {
            margin-left: 8px;
            float: left;
            width: calc(100% - 118px);
            height: 24px;

            div.tooltip {
              i.mdi.mdi-slack:before {
                font-size: 17px;
              }
            }

            button.user-name-label {
              @include OC_Body_Book();
              font-size: 14px;
              color: var(--color);
              line-height: 24px;
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              border: none;
              outline: none;
              text-align: left;

              &.removing {
                max-width: calc(100% - 23px);
              }

              span.current-user {
                font-size: 11px;
                color: var(--light-color);
              }
            }

            div.pending-user {
              @include OC_Body_Book();
              font-size: 12px;
              color: var(--color);
              line-height: 19px;

              button.resend-pending-bt {
                color: $wut_purple;
                padding: 0;
                display: inline;
              }

              button.remove-pending-bt {
                color: $carrot_orange;
                padding: 0;
                display: inline;
                margin-left: 6px;
              }
            }
          }

          div.user-role {
            float: right;
            height: 24px;
            @include OC_Body_Book();
            font-size: 12px;
            line-height: 24px;
            color: var(--color);

            span.self-user-type {
              text-transform: capitalize;
              padding: 0 7px;
            }

            div.dropdown {
              height: 24px;

              button.user-type-btn.dropdown-toggle {
                height: 24px;
                width: 82px;

                &:after {
                  top: 7px;
                  right: 0px;
                  padding-right: 16px;
                }
              }

              ul.user-type-dropdown-menu {
                left: unset;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@include dark_mode() {
  div.team-management-modal div.team-management div.team-management-body div.team-management-search-users {
    background-image: cdnUrl("/img/ML/wrt_search_lens.svg");
  }
}