div.tooltip-container {
  position: fixed;
  width: 221px;
  height: 113px;
  left: 50%;
  top: 50%;
  margin-left: -110px;
  margin-top: -56px;
  z-index: 10000;
  padding: 0px;

  div.tooltip-box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 89, 106, 1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 230ms;

    &.shown {
      opacity: 1;
    }

    div.triangle {
      @include triangle(right, $oc_yellow, 6px);
      top: 10px;
      left: 10px;
      margin-left: 10px;
      margin-top: 29px;
    }

    div.tooltip-cta {
      font-weight: 700;
      font-size: 12px;
      line-height: 1.3;
      letter-spacing: 1px;
      color: white;
      width: 192px;
      height: 88px;
      padding: 0px 5px 25px 0px;
      margin-left: 29px;
      margin-top: -15px;
      text-transform: uppercase;
    }
  }
}