button.topic-read-more {
  opacity: 0.5;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $oc_gray_7;
  text-decoration: underline;
  padding-left: 0px;
  font-size: 14px;
  font-family: $oc_headers_font;
  font-weight: 400;
}

button.topic-close {
  opacity: 0.5;
  font-weight: 800;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $oc_gray_7;
  text-decoration: underline;
  padding-left: 0px;
}