div.topics-columns {
  padding: 0;
  width: 100vw;

  &.dragging-topic {
    div.topic.not-draggable-topic {
      opacity: 0.5 !important;
    }
  }

  div.topics-column-container {
    padding: 20px 30px 20px 30px;
    margin: 0 auto;

    @media screen and (max-width: 413px){
      margin-left: 9px;
      margin-right: 9px;
      width: auto;
    }

    div.topics-column {
      min-width: 302px;
      max-width: 500px;
      margin-right: 0px;
      float: left;

      &:last-child {
        margin-right: 0px;
      }

      div.topic-row{
        height: auto;
        padding: 0px 10px 0px 10px;
        margin-bottom: 22px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;

        &.draggable-topic.left-highlight {
          border-left: 4px solid $oc-yellow;
        }

        &.draggable-topic.right-highlight {
          border-right: 4px solid $oc-yellow;
        }

        &.draggable-topic.ui-draggable-dragging {
          z-index: 1000;
          opacity: 0.5;
        }
      }
    }

    &.columns-1 {
      div.topics-column{
        margin: 0 auto;
        float: none;

        div.topic-row{
          padding-bottom: 12px;
        }
      }
    }
  }

  &.content-loaded:empty {
    text-align: center;
    font-size: 18px;
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.4);
    font-family: $oc_main_font;
    height: 200px;
  }
}

div.dragging {
  div.topics-column-pinned {
    min-height: 10px;
  }
}