$topic_box_width: 344;
$topic_box_height: 170;
$topic_box_padding: 10;

div.topic-list-edit-container {
  padding-bottom: 10px;

  @include mobile(){
    margin-top: 92px;
  }
}

.animating div.topic-list{
  margin-top: 0px;
  padding-top: #{$navbar_height}px;
}

div.topic-list{
  position: relative;
  content: "";
  padding-bottom: 20px;
  margin-top: #{$navbar_height}px;
  min-height: calc(100vh - #{$navbar_height}px - #{$footer_height}px);

  @include mobile(){
    background-color: #d9d9d9;
  }

  @include big_web(){
    background-color: $oc_gray_6;
  }

  div.sharing-button-container {
    height: 30px;
    margin: 0 auto;
    padding: 29px;
    button.sharing-button {
      float: right;
      height: 30px;
      padding: 5px 20px;
      background-color: $oc_yellow;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1px;
      color: $oc_gray_5;
      outline: none;
      border: 0px solid transparent;

      &:active, &:focus{
        outline: none;
        border: 0px solid transparent;
      }
    }
  }

  div.selected-topic-container{
    background-color: rgba(255, 255, 255, 0.98);
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1036;
    border-top: 4px solid $oc_yellow;

    div.selected-topic, div.tr-selected-topic {
      height: 100%;
      width: 100%;
    }
  }

  div.topic-list-internal {
    list-style: none;
    padding: 0;
    width: 100%;

    div.topics-column-container {
      padding: 20px 30px 20px 30px;
      margin: 0 auto;

      @media screen and (max-width: 413px){
        margin-left: 9px;
        margin-right: 9px;
        width: auto;
      }

      div.topics-column {
        min-width: 302px;
        max-width: 500px;
        margin-right: 20px;
        float: left;

        &:last-child {
          margin-right: 0px;
        }

        div.topic-row{
          height: auto;
          padding-bottom: 22px;
        }
      }

      &.columns-1 {
        padding: 20px 0px 20px 0px;
        div.topics-column{
          margin: 0 auto;
          float: none;

          div.topic-row{
            padding-bottom: 12px;
          }
        }
      }
    }

    &.content-loaded:empty {
      text-align: center;
      font-size: 18px;
      padding-top: 100px;
      color: rgba(0, 0, 0, 0.4);
      font-family: $oc_main_font;
      height: 200px;
    }
  }
}