div.topics-columns {
  padding: 0;
  width: 100%;
  overflow: visible;

  &.dragging-topic {
    div.topic.not-draggable-topic {
      opacity: 0.5 !important;
    }
    div.topic-row div.topic button.topic-pencil-button {
      opacity: 0;
    }
  }

  div.topics-column-container {
    padding: 40px 0px;
    margin: 0 auto;
    width: auto;
    width: 100%;

    div.board-container {
      margin-right: 36px;
      width: #{$board_container_width}px;
      background-color: $oc_gray_8;

      div.all-posts-icon {
        background-image: cdnUrl("/img/ML/activity_hamburger.svg");
        background-size: 26px 24px;
        width: 26px;
        height: 24px;
        float: left;
        margin-right: 10px;
        margin-top: 6px;
      }

      div.boards-icon {
        background-image: cdnUrl("/img/ML/boards_icon.svg");
        background-size: 23px 19px;
        width: 23px;
        height: 19px;
        float: left;
        margin-right: 10px;
        margin-top: 10px;
      }

      div.board-name {
        @include avenir_M();
        font-size: 32px;
        color: $carrot_gray;
        margin-bottom: 30px;
        float: left;
        margin-left: 15px;

        button.board-settings-bt {
          float: right;
          background-image: cdnUrl("/img/ML/board_settings.svg");
          background-size: 8px 8px;
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
          margin-top: 6px;
          margin-left: 6px;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }

      button.add-to-board-btn {
        &.floating-button {
          position: absolute;
          position: fixed;
          bottom: 24px;
          right: 24px;
          width: 66px;
          height: 66px;
          border-radius: 33px;
          background-color: #FA6654;
          z-index: 1000;
          box-shadow: 0px 4px 6px 0px rgba(#807D76, 0.4);
          opacity: 1;

          &:hover {
            background-color: #FF7C6C;
            opacity: 1;
          }

          &:active, &:focus {
            background-color: #ED4F3B;
            opacity: 1;
          }

          div.add-to-board-pencil {
            background-image: cdnUrl("/img/ML/add_to_board_pencil_white.svg");
            background-size: 24px 24px;
            width: 24px;
            height: 24px;
            margin-left: 6px;
            margin-top: 2px;
          }
        }

        &.top-button {
          float: right;
          width: 143px;
          height: 42px;
          background-color: $carrot_orange_light;
          color: $carrot_orange;
          border-radius: 100px;
          padding: 10px 22px;
          margin-right: 16px;
          border: 2px solid transparent;
          opacity: 1;
          transition: 0ms;

          &:hover, &:active, &:focus {
            background-color: $carrot_orange;
            color: white;
            opacity: 1;

            div.add-to-board-pencil {
              background-image: cdnUrl("/img/ML/add_to_board_pencil_white.svg");
            }

            label.add-to-board-label {
              color: white;
            }
          }

          &:active, &:focus {
            background-color: #ED4F3B;
            opacity: 1;
          }

          div.add-to-board-pencil {
            background-image: cdnUrl("/img/ML/add_to_board_pencil_orange.svg");
            background-size: 14px 14px;
            width: 14px;
            height: 14px;
            margin: 3px 6px 0px 0px;
            padding: 0;
            float: left;
          }

          label.add-to-board-label {
            @include avenir_H();
            font-size: 16px;
            color: $carrot_orange;
            float: left;
          }
        }
      }

      div.filters-dropdown-name {
        float: right;
        margin-right: 24px;
        margin-top: 8px;
      }
    }

    div.topics-column {
      margin-right: 0px;
      float: left;

      &:last-child {
        margin-right: 0px;
      }

      div.topic-row {
        height: auto;
        border: 0;
        margin: 0px 10px 22px 10px;
        padding: 0px;
      }
    }

    &.columns-1 {
      padding: 20px 0px;

      div.topics-column{
        margin: 0 auto;
        float: none;

        div.topic-row{
          padding: 0px;
          border: none;
          padding-bottom: 12px;
          margin-bottom: 0px;
        }
      }
    }
  }

  &.content-loaded:empty {
    text-align: center;
    font-size: 18px;
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.4);
    @include avenir_M();
    height: 200px;
  }

  div.invite-others {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: $oc_gray_5;
    cursor: pointer;

    span{
      &:hover {
        text-decoration: underline;
      }
    }
  }
}