@include big_web(){
  body.small-footer{
    div.org-dashboard{
      div.topic-list {
        min-height: 100vh;
      }
    }
  }
}

body.fullscreen-topic {
  @include mobile() {
    div.topic-list{
      overflow: hidden;
      div.selected-topic-container{
        overflow: hidden;
        div.selected-topic {
          overflow: hidden;
        }
      }
      div.topics-columns {
        overflow: hidden;
      }
    }
  }
}

div.org-dashboard.modal-activity-view.mobile-or-tablet {
  div.topic-list{
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

div.org-dashboard div.topic-list{
  @include big_web(){
    min-height: 100vh;
  }
  @include mobile(){
    min-height: calc(100vh - #{$mobile_navbar_height + $footer_small_height + 22}px);
  }
}

div.topic-list{
  padding-bottom: 20px;
  background-color: $oc_gray_8;

  @include big_web(){
    padding-top: #{$navbar_height + $carrot_trend_collapsed_height}px;

    &.not-first-board {
      padding-top: 0px;
    }
  }

  @include mobile(){
    min-height: calc(100vh - #{$footer_small_height}px);
  }
}

body.trend-bar-hidden {
  div.org-dashboard {
    div.topic-list{
      @include big_web(){
        padding-top: #{$navbar_height}px;
      }
    }
  }
}

body.trend-bar-collapsed {
  div.org-dashboard {
    div.topic-list{
      @include big_web(){
        padding-top: #{$navbar_height + $carrot_trend_collapsed_height}px;
      }
    }
  }
}

body.trend-bar-expanded {
  div.org-dashboard {
    div.topic-list{
      @include big_web(){
        padding-top: #{$navbar_height + $carrot_trend_expanded_height}px;
      }
    }
  }
}

body.trend-bar-trending {
  div.org-dashboard {
    div.topic-list{
      @include big_web(){
        padding-top: #{$navbar_height + $carrot_trend_trending_height}px;
      }
    }
  }
}

div.selected-topic-container{
  background-color: rgba(78, 90, 107, 0.5);
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: #{$navbar_zindex + 6};

  div.selected-topic, div.tr-selected-topic {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}

div.topic-list-sortable-placeholder {
  margin-bottom: 23px;
  height: 2px;
  background-color: $oc_yellow;
}