$bd_color: rgba(217,217,217,0.8); //#d9d9d9; //rgba(249, 215, 72, 0.5);

div.topics-columns.sharing-mode {
  div.topic {
    opacity: 0.5;
    border: 4px solid $bd_color;
    box-shadow: none;

    &:hover {
      opacity: 1;
      border: 4px solid $bd_color;
      box-shadow: none;
    }

    &.sharing-selected {
      opacity: 1;
      border: 4px solid $oc_yellow;
    }
  }
}

div.dnd-active {
  div.topic:not(.draggable-topic) {
    opacity: 0.2;
  }
}

div.updates {
  div.topic {
    div.topic-anim {
      div.topic-internal {
        div.card-header {
          margin-top: 15px;
        }
      }
    }
  }
}

div.topic {
  height: 100%;
  text-align: left;
  position: relative;
  transition: opacity 0.5s;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  background-color: white;

  &.no-foce {
    opacity: 0.5;
  }

  &.draggable-topic div.topic-dnd-handle {
    cursor: move;
  }

  div.share-remove-container{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -35px;
    display: none;

    button.share-remove {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: white;
      border: 1px solid rgba(78, 90, 107, 0.5);

      div.svg-icon {
        padding-left: 2px;
        margin-top: -14px;
      }
    }

    div.tooltip div.tooltip-inner {
      white-space: nowrap !important;
    }
  }

  div.share-dnd-container{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35px;
    right: -35px;
    display: none;

    div.share-dnd {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: white;
      padding: 3px 8.5px;
      border: 1px solid rgba(78, 90, 107, 0.5);

      i.fa {
        font-size: 12px;
        color: rgba(78, 90, 107, 0.5);
      }
    }

    div.tooltip div.tooltip-inner {
      white-space: nowrap !important;
    }
  }

  div.topic-anim{
    position: relative;
    height: auto;

    div.topic-cur-as-of {
      position: relative;
      height: auto;
    }

    div.topic-tr-as-of {
      position: absolute;
      top: 0;
      left: 0;
    }

    div.topic-internal{
      position: relative;

      &:hover {
        button.topic-pencil-button {
          opacity: 1;
        }
      }

      button.topic-pencil-button {
        width: 30px;
        height: 20px;
        float: right;
        opacity: 0;
        transition: 230ms;
        color: rgba(78, 90, 107, 0.5);
        margin-top: 9px;
        margin-right: 0px;
        padding-right: 0px;

        &:hover {
          color: rgba(78,90,107,1);
        }
      }

      div.pinned-topic{
        font-size: 12px;
        float: left;
        z-index: 100;
        margin-top: 14px;
        color: rgba(78, 90, 107, 0.5);
        margin-left: 5px;
      }

      & > div{
        padding: 0px 20px;
      }

      div.topic-header {

        .topic-image {
          width: 30px;
          height: 30px;
          float: left;
        }

        svg path, svg polygon {
          fill: #8b8a8a;
        }
      }

      div.card-header{
        margin: 0px 0px 5px 0px;
        padding: 0px;
        width: 100%;
        position: relative;
        padding-top: 10px;

        &.card-image {
          overflow: hidden;
          padding-top: 0px;
          border-bottom: none;
        }

        img {
          width:100%;
        }

        div.section-container {
          margin: 10px 10px 0px 10px;
        }

        div.gradient {
          position:absolute;
          z-index:2;
          right:0; bottom:0; left:0px;
          width: 100%;
          height: 20px; /* adjust it to your needs */
          background: url(data:image/svg+xml;base64,alotofcodehere);
          background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
          background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
          background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
          background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
          pointer-events: none;
        }
      }

      div.topic-title {
        padding-top: 12px;
        opacity: 0.5;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
        text-transform: uppercase;
        font-family: $oc_headers_font;
        font-weight: 700;
        float: left;
        width: auto;
      }

      div.topic-headline-inner {
        padding-top: 15px;
        font-size: 18px;
        line-height: 25px;
        color: $oc_gray_7;

        .emojione {
          @include emoji-size(18px);
        }
      }

      div.hidden-topic-body {
        display: none;
        padding: 0px;
        margin: 0px;
        opacity: 0;
      }

      div.topic-body {
        margin-top: 15px;
        font-weight: 400;
        color: $oc_gray_7;
        overflow: hidden;
        font-size: 14px;
        line-height: 22px;

        .emojione {
          @include emoji-size(14px);
        }

        *{
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
        }

        b{
          font-weight: 700;
        }

        a {
          text-decoration: none;
          box-shadow: inset 0 -1px 0 $oc_gray_7;
          font-weight: normal;
        }

        img:not(.emojione){
          display: none;
        }

        p:last-child, & > div:last-child {
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }
}