div.mobile-company-dashboard{
  div.topics-columns {
    div.topics-column-container {
      padding: 20px 0px;
      margin: 0 8px;

      div.topics-column {
        min-width: initial;
        max-width: initial;

        div.topic-row {
          margin: 0px 0px 8px 0px;
          border-left: 0px solid transparent;
          border-right: 0px solid transparent;
        }
      }

      &.tot-col-2 {
        div.topics-column.col-1 {
          div.topic-row {
            margin-right: 4px;
          }
        }
        div.topics-column.col-2 {
          div.topic-row {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

div.topics-columns {
  padding: 0;
  width: 100%;

  &.dragging-topic {
    div.topic.not-draggable-topic {
      opacity: 0.5 !important;
    }
    div.topic-row div.topic button.topic-pencil-button {
      opacity: 0;
    }
  }

  div.topics-column-container {
    padding: 40px 20px;
    margin: 0 auto;

    div.topics-column {
      margin-right: 0px;
      float: left;

      &:last-child {
        margin-right: 0px;
      }

      div.topic-row {
        height: auto;
        border: 0;
        margin: 0px 10px 22px 10px;
        padding: 0px;
      }
    }

    &.columns-1 {
      padding: 20px 0px;

      div.topics-column{
        margin: 0 auto;
        float: none;

        div.topic-row{
          padding: 0px;
          border: none;
          padding-bottom: 12px;
          margin-bottom: 0px;
        }
      }
    }
  }

  &.content-loaded:empty {
    text-align: center;
    font-size: 18px;
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.4);
    font-family: $oc_main_font;
    height: 200px;
  }
}