div.section-container{
  div.pillbox-container.finances{
    background-color: transparent;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

    @include mobile(){
      margin-left: -23px;
      width: calc(100% + 46px);
    }

    @include pillbox();
  }
}