div.topic-body-inner{
  p{
    @include rich-editor-body();
    padding: 5px 20px !important;
    line-height: 1.2 !important;
  }
}

div.oc-popover h3 {
  font-family: $oc_headers_font;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

div.section-container{
  div.pillbox-container.finances{
    background-color: transparent;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

    @include mobile(){
      margin-left: -23px;
      width: calc(100% + 46px);
    }

    @include pillbox();
  }
}