div.entry-card-dd-container {
  position: relative;
  float: right;
  display: inline-block;
  max-width: 50%;
  z-index: 1133;

  button.dropdown-toggle:not(.has-topic) {
    color: $carrot_light_gray_3;
    @include avenir_H();
    font-size: 12px;
    max-width: 100%;
    background-color: $carrot_light_gray_7;
    padding: 6px 16px 3px 16px;
    border-radius: 100px;

    &:hover, &[aria-expanded=true] {
      background-color: $carrot_light_gray_3;
      color: white;
    }
  }

  button.dropdown-toggle.has-topic {
    margin: 0;
    padding: 0;
    @include activity-tag();

    &[aria-expanded=true] div.activity-tag{
      background-color: $carrot_light_purple;
      color: $carrot_purple;
    }
  }

  div.entry-edit-topics-dd {
    position: absolute;
    top: 30px;
    left: calc(50% - 130px);
    width: 260px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;

    div.triangle {
      position: absolute;
      top: 3px;
      left: 120px;
      background-color: white;
      border-top: 1px solid rgba(177,184,192,0.50);
      border-left: 1px solid rgba(177,184,192,0.50);
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
    }

    div.entry-dropdown-list-content {
      background-color: white;
      border: 1px solid rgba(177,184,192,0.50);
      box-shadow: 0 4px 10px 1px rgba(0,0,0,0.10);
      border-radius: 5px;
      margin: 8px 0;
      min-height: 50px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 24px 16px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 400px;

        li.selectable {
          padding: 3px 16px;
          cursor: pointer;
          border-radius: 100px;

          &:hover {
            background-color: $carrot_light_purple;
            // button {
            //   color: $carrot_purple;
            // }
          }

          &.select {
            background-color: $carrot_light_purple;
            color: $carrot_purple;

            button {
              @include avenir_H();
              color: $carrot_purple;
            }
          }

          button {
            @include avenir_M();
            font-size: 14px;
            color: $oc_gray_7;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 60%;
            margin: 0;
            padding: 0;
          }

          button.remove {
            color: $carrot_light_gray;
            @include avenir_R();
            font-size: 12px;
            margin: 0;
            padding: 0;
            margin-left: 17px;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        li.divider {
          border-top: 1px solid rgba($carrot_light_gray, 0.2);
          width: calc(100% + 32px);
          cursor: default;
          margin: 12px 0 12px -16px;
          min-height: initial;

          &:hover {
            border-top: 1px solid rgba($carrot_light_gray, 0.5);
            min-height: initial;
            background-color: transparent;
            color: transparent;
          }
        }

        li.entry-edit-new-topic {

          div.entry-edit-new-topic-title {
            color: #34414F;
            @include avenir_H();
            font-size: 12px;
            margin-bottom: 4px;
          }

          &:hover {
            background-color: initial;
          }

          div.entry-edit-new-topic-container {
            box-shadow: 0px 4px 6px 0px rgba(#000000, 0.07);
            border: 1px solid rgba($carrot_light_gray_1, 0.5);
            border-radius: 4px;
            padding: 4px 16px;

            input.entry-edit-new-topic-field {
              float: left;
              width: calc(100% - 20px);
              border: none;
              outline: none;
              @include avenir_M();
              font-size: 14px;
              color: $oc_gray_7;
              margin: 0.3rem 0;
              padding: 0;

              @include placeholder(){
                color: #D0D1D4;
              }
            }

            button.entry-edit-new-topic-plus {
              width: 20px;
              height: 20px;
              padding: 0;
              float: left;
              margin-top: 3px;
              cursor: pointer;
              transition: $add_media_animation;
              background-color: #F0EFEA;
              background-image: cdnUrl("/img/ML/plus_button_icon.svg");
              background-repeat: no-repeat;
              background-position: 50%;
              background-size: 8px 8px;
              border-radius: 10px;
              float: left;

              &.active {
                background-image: cdnUrl("/img/ML/plus_button_icon_green.svg");
                background-color: $carrot_green_3;
              }

              &:hover, &:active, &:focus {
                background-image: cdnUrl("/img/ML/plus_button_icon_white.svg");
                background-color: $carrot_green_2; 
              }
            }
          }
        }
      }
    }
  }
}