div.topic {
  height: 100%;
  text-align: left;
  position: relative;
  transition: opacity 0.5s;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  background-color: white;

  &.dashboard-topic.no-tablet {
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;

    &.dashboard-selected {
      border-bottom: 2px solid $oc_yellow;
      border-left: 2px solid $oc_yellow;
      border-right: 2px solid $oc_yellow;
      border-top: 2px solid $oc_yellow;
    }

    div.topic-internal {
      & > div{
        padding-left: 16px;
        padding-right: 16px;
      }

      div.card-header.card-image {
        overflow: visible;
        padding: 0px;
        img {
          width: calc(100% + 4px);
          height: calc(100% + 2px);
          margin-left: -2px;
          margin-top: -2px;
          z-index: 1000;
        }
      }

      div.topic-title {
        padding-top: 8px;
      }
    }

    &.dashboard-selected, &:hover{

      div.topic-internal {
        div.card-header.card-image {
          overflow: hidden;
        }
      }
    }

    &.selectable-topic:hover {
      border-top: 2px solid rgba(78,90,107,0.2);
      border-bottom: 2px solid rgba(78,90,107,0.2);
      border-left: 2px solid rgba(78,90,107,0.2);
      border-right: 2px solid rgba(78,90,107,0.2);
    }

    &.dashboard-share-mode.dashboard-selected, &.dashboard-share-mode.dashboard-selected:hover {
      border-top: 2px solid $oc_yellow;
      border-bottom: 2px solid $oc_yellow;
      border-left: 2px solid $oc_yellow;
      border-right: 2px solid $oc_yellow;
    }
  }

  &.no-foce {
    opacity: 0.4;
  }

  &.mobile-dashboard-topic {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.show-headline {
      div.topic-internal {
        div.topic-headline-inner {
          flex: 1 0 auto;
        }
      }
    }

    div.topic-internal{

      & > div {
        padding: 0px 10px;
        width: 100%;
      }

      div.topic-title {
        text-transform: none;
        opacity: 1;
        color: $oc_gray_7;
        float: none;
        font-weight: 700;
        font-size: 15px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
      }

      div.mobile-date {
        margin-top: 5px;
        font-size: 12px;
        color: $oc_gray_7;
        opacity: 0.6;
        font-family: $oc_headers_font;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 0px;
      }

      div.topic-headline-inner {
        font-family: $oc_headers_font;
        padding-top: 5px;
        font-size: 13px;
        font-weight: 400;
        line-height: normal;

        .emojione {
          @include emoji-size(13px);
        }
      }
    }
  }

  div.topic-internal{
    position: relative;
    height: auto;

    button.topic-history-button {
      cursor: default;
      color: rgba(78, 90, 107, 0.7);
      &:hover {
        color: rgba(78, 90, 107, 1);
      }
    }

    &:hover {
      button.top-right-button {
        opacity: 1;
      }
    }

    button.top-right-button {
      width: 30px;
      height: 20px;
      float: right;
      opacity: 0;
      transition: 230ms;
      color: rgba(78, 90, 107, 0.5);
      margin-top: 6px;
      margin-right: 0px;
      padding-right: 0px;

      &:hover {
        color: rgba(78,90,107,1);
      }
    }

    & > div{
      padding: 0px 20px;
    }

    div.topic-header {

      .topic-image {
        width: 30px;
        height: 30px;
        float: left;
      }

      svg path, svg polygon {
        fill: #8b8a8a;
      }
    }

    div.card-header{
      margin: 0px 0px 5px 0px;
      padding: 0px;
      width: 100%;
      position: relative;
      padding-top: 10px;

      &.card-image {
        overflow: hidden;
        padding-top: 0px;
        border-bottom: none;
      }

      img {
        width:100%;
      }

      div.section-container {
        margin: 10px 10px 0px 10px;
      }

      div.gradient {
        position:absolute;
        z-index:2;
        right:0; bottom:0; left:0px;
        width: 100%;
        height: 20px; /* adjust it to your needs */
        background: url(data:image/svg+xml;base64,alotofcodehere);
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
        background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
        background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
        pointer-events: none;
      }
    }

    div.topic-title-container {
      position: relative;

      div.topic-top-menu {
        position: absolute;
        top: 0px;
        width:  80px;
        background-color: transparent;
        opacity: 0;
        transition: 230ms;
        padding: 0 !important;
        margin: 0 !important;
        cursor: pointer;
        pointer-events: none;
        z-index: 100;

        &.active {
          opacity: 1;
          pointer-events: auto;
        }

        &.left-column {
          right: -67px;

          button.topic-top-menu-btn {
            float: left;
          }

          &.active {
            right: -87px;
          }
        }

        &.right-column {
          left: -67px;

          button.topic-top-menu-btn {
            float: right;
          }

          &.active {
            left: -87px;
          }
        }

        button.topic-top-menu-btn {
          padding: 2px 5px;
          margin: 1px 0;
          background-color: white;
          color: rgba(78,90,107,0.7);
          font-size: 14px;
          font-weight: 300;
          font-family: $oc_main_font;
          white-space: pre;

          &:hover {
            color: rgba(78,90,107,0.8);
          }
        }
      }

      div.topic-title {
        padding-top: 12px;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: rgba(78,90,107,0.5);
        text-transform: uppercase;
        font-family: $oc_headers_font;
        font-weight: 700;
        float: left;
        width: 85%;
      }

    }

    div.topic-headline-inner {
      padding-top: 15px;
      font-size: 18px;
      line-height: 25px;
      color: $oc_gray_7;

      .emojione {
        @include emoji-size(18px);
      }
    }

    div.hidden-topic-body {
      display: none;
      padding: 0px;
      margin: 0px;
      opacity: 0;
    }

    div.search-result-card-container-fade{

      background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0px, rgba(255,255,255,0.6) 15px, rgba(255,255,255,0) 46px, rgba(255,255,255,0) 10000px);
      background: linear-gradient(to top, rgba(255,255,255,1) 0px, rgba(255,255,255,0.6) 15px, rgba(255,255,255,0) 46px, rgba(255,255,255,0) 10000px);
      bottom:0;
      left:0;
      position:absolute;
      right:0;
      top:0;
      z-index: 2
    }

    div.topic-body {
      margin-top: 15px;
      font-weight: 400;
      color: $oc_gray_7;
      overflow: hidden;
      font-size: 14px;
      line-height: 22px;

      .emojione {
        @include emoji-size(14px);
      }

      *{
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
      }

      b{
        font-weight: 700;
      }

      a {
        text-decoration: none;
        box-shadow: inset 0 -1px 0 $oc_gray_7;
        font-weight: normal;
      }

      img:not(.emojione){
        display: none;
      }

      p:last-child, & > div:last-child {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }
  }
}