div.topic-body {
  position: relative;
  overflow: visible;
  height: auto;
  
  @include rich-editor-body();

  &.expanded {
    height: auto;
  }

  div.charts {
    @include mobile(){
      width: 320px;
      height: 90px;
    }
  }

  div.topic-headline {
    font-weight: 600;
    font-size: 20px;
    color: #2d2d2d;
  }
}
