div.fullscreen-topic-edit {
  max-width: 575px;
  min-width: 302px;
  margin: #{$navbar_height}px auto 30px;
  position: relative;
  min-height: calc(100vh - #{$navbar_height}px - 30px - 8px);

  @include mobile(){
    margin-top: 40px;
  }

  input.topic-edit-title {
    opacity: 0.5;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $oc_gray_5;
    text-transform: uppercase;
    border: 0px;
    width: 100%;
    padding: 0px;

    &:active, &:focus{
      border: 0px;
      outline: none;
      box-shadow: none;
    }
  }

  div.topic-edit-title-count {
    float: right;
    text-align: right;
    width: 57px;
    height: 16px;
    margin-top: 0px;
    margin-right: 54px;
  }

  textarea.topic-edit-headline {
    font-family: $oc_headers_font;
    font-size: 26px;
    line-height: 1.4;
    color: $oc_gray_5;
    border: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;

    &:active, &:focus{
      border: 0px;
      outline: none;
      box-shadow: none;
    }
  }

  div.topic-edit-headline-count{
    float: right;
    text-align: right;
    width: 57px;
    height: 16px;
    margin-top: 0px;
    margin-right: 54px;
  }

  div.separator {
    margin-top: 20px;
    width: 30px;
    height: 2px;
    background-color: rgba(77, 89, 106, 0.2);
  }

  div.headline-separator {
    margin-top: 14px;
  }

  div.topic-growth-finances{
    margin-top: 10px;
  }

  div.topic-overlay-edit-data {

    div.finances, div.growth {
      width: 100%;
    }

    div.growth-body {
      table.table {
        margin-left: 40px;
        width: 400px;
        td.no-cell:first-child, tr:first-child{
          width: 150px;
        }
      }
    }

    div.pillbox-container.growth{
      background-color: $oc_gray_1;
      padding: 12px;
      border: 1px solid $oc_gray_2;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;

      @include big_web(){
        margin-left: -50px;
        width: calc(100% + 100px);
      }

      @include mobile(){
        margin-left: -23px;
        width: calc(100% + 46px);
      }

      @include pillbox();

      label.pillbox.new-metric-slug-placeholder{
        background-color: $oc_green_light;
        color: white;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
      }
    }
  }

  div.topic-body{
    margin-top: 22px;

    &:active, &:focus {
      border: 0px;
      outline: none;
      box-shadow: none;
    }

    &, div.topic-body *{
      font-family: $oc_headers_font;
      font-size: 18px;
      line-height: 1.8;
      color: $oc_gray_5;

      a {
        cursor: pointer;
        pointer-events: auto;
        height: 1.4em;
      }
    }
  }
}