$topic_box_width: 344;
$topic_box_height: 170;
$topic_box_padding: 10;

div.topic-list-edit-container {
  padding-bottom: 10px;

  @include mobile(){
    margin-top: 92px;
  }
}

.animating div.topic-list{
  margin-top: 0px;
  padding-top: 0px;
  top: 0;
  position: absolute;
  height: 100vh;
  left: 0;
  margin-left: 0px;
  width: 100vw;
}

div.topic-list{
  position: relative;
  content: "";
  padding-bottom: 20px;
  min-height: calc(100vh - #{$navbar_height}px - #{$footer_height}px);
  margin-top: #{$navbar_height}px;

  @include mobile(){
    background-color: #d9d9d9;
  }

  @include big_web(){
    background-color: $oc_gray_6;
  }

  div.sharing-header{
    border-top: 4px solid $oc_yellow;
    height: 64px;
    width: 100%;
    background-color: rgba(78, 90, 107, 0.5);

    div.sharing-header-inner{
      margin: 0px auto;
      padding: 15px 30px;

      div.sharing-header-left{
        float: left;
        width: 33%;
        height: 30px;

        label.selected-topics{
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: #ffffff;
          margin: 0px;
          padding: 0px;
          margin-top: 8px;
          display: inline-block;
        }
      }

      div.sharing-header-center{
        float: left;
        width: 33%;
        height: 30px;
        text-align: center;

        button.share-snapshot-bt{
          padding: 6.5px 20px;
          background-color: $oc_yellow;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 1px;
          color: #4e5a6b;
          outline: none;
          border: 0px solid transparent;

          div.small-loading-container {
            margin-right: 10px;
          }
        }
      }

      div.sharing-header-right{
        float: right;
        text-align: right;
        width: 33%;
        height: 30px;

        button.close-share {
          background-color: transparent;
          width: 30px;
          height: 30px;
          outline: none;
          border: 0px solid black;

          div.svg-icon{
            float: right;
            svg{
              stroke: white !important;
            }
          }
        }
      }
    }
  }

  div.sharing-button-container {
    height: 30px;
    margin: 0 auto;
    padding: 29px;

    button.sharing-button {
      float: right;
      height: 30px;
      padding: 5px 20px;
      background-color: transparent;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1px;
      color: $oc_gray_5;
      opacity: 0.6;
      outline: none;
      border: 0px solid transparent;

      &:hover {
        outline: none;
        border: 0px solid transparent;
        opacity: 1;
      }

      &:active, &:focus{
        outline: none;
        border: 0px solid transparent;
      }
    }
  }
}

div.selected-topic-container{
  background-color: rgba(255, 255, 255, 0.98);
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 1036;
  border-top: 4px solid $oc_yellow;

  div.selected-topic, div.tr-selected-topic {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}