div.topic-view-container{
  overflow-x: hidden;
  overflow-y: scroll;
  float: right;
  margin: 0 0 0 50px;

  @include mobile(){
    margin: 0;
  }

  div.topic-view {
    padding: 0;

    &.tablet-view{
      padding: 0px;
      margin: 0px;

      min-height: calc(100vh - #{$mobile_navbar_height}px - #{$footer_height}px);

      div.topic-view-internal {
        float: none;
        padding: 0px;
        margin-top: #{$mobile_navbar_height}px;
      }
    }

    div.topic-view-navbar {
      width: 100%;
      height: #{$mobile_navbar_height}px;
      font-size: 22px;
      font-family: $oc_headers_font;
      font-weight: 700;
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      z-index: 1;
      box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(78,90,107,0.1);

      div.topic-view-navbar-title {
        padding: 20px 10px;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 20px;
      }

      div.topic-view-navbar-close {
        padding: 20px 0 0 20px;
      }
    }

    &.topic-404 {
      @include mobile(){
        background-color: transparent;
      }

      div.topic-view-internal {
        @include mobile(){
          padding: 20px;
        }
      }
    }

    div.topic-view-internal {
      margin: 0 auto;
      padding: 20px 0px;
      float: left;
      position: relative;
      min-height: 80px;

      @include mobile(){
        background-color: white;
        min-height: calc(100vh - #{$footer_small_height}px - #{$back_to_dashboard_row_height}px);
      }

      &.loading {
        width: 100%;
        float: none;
        background-color: transparent;

        div.oc-loading {
          background-color: transparent;
        }
      }

      div.fake-textarea {
        padding: 10px 30px;
        background-color: white;
        margin-bottom: 20px;

        &.disabled {
          opacity: 0.4;
        }

        div.oc-loading {
          background-color: transparent;
        }

        div.topic {
          border: none;
          box-shadow: none;
          float: left;
          background-color: transparent;
        }

        div.fake-textarea-internal {
          cursor: text;
          color: $oc_gray_5;
          padding: 12px;
          font-size: 13px;
          font-family: $oc_headers_font;
          text-transform: uppercase;
          letter-spacing: 1px;
          line-height: 1.5;
          font-weight: 700;
          opacity: 0.5;

          span.new-entry{
            font-weight: 400;
            font-size: 14px;
            font-style: italic;
            text-transform: none;
          }
        }
      }

      div.revision-container{
        padding: 20px 20px 0px;
        background-color: white;

        &:last-child {
          padding-bottom: 20px;
        }

        hr.separator-line {
          margin: 0px 0px 20px 0px;
          padding: 0;
          height: 1px;
          background-color: rgba(78,90,107,0.2);
        }

        div.topic {
          border: none;
          box-shadow: none;
          float: left;
          background-color: transparent;

          div.card-image {
            margin-top: 12px;
          }
        }
      }
    }
  }

  button.archive-topic {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-transform: none;
  }
}