div.topic-list-edit{
  background-color: rgb(217, 217, 217);

  & * {
    @include no-user-select();
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  ul li{
    margin: 0px;
    padding: 0px;
    border: 1px solid transparent;
  }

  ul li:first-child {
    border-top: 1px solid transparent;
  }

  ul.dragging li {
    border-bottom: 1px solid $oc_blue_light;
  }

  ul.dragging li:first-child {
    border-top: 1px solid $oc_blue_light;
  }

  div.topic-list-separator {
    height: 1px;
    margin: 5px;
    background-color: $oc_gray_3;
  }

  li.topic-list-edit-li {
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
    height: auto;

    &.tt-expand {
      @include animation(0s, $oc_animation_duration, expand);
    }

    &.tt-collapse {
      @include animation(0s, $oc_animation_duration, collapse);
    }

    &.last-active-topic {
      border-bottom: 1px solid $oc_gray_3;
    }

    // item component style

    div.topic-edit {
      min-height: 56px;
      padding-top: 6px;

      &.active{
        div.topic-edit-internal{
          background-color: rgb(255, 255, 255);
          border: 1px solid rgba(0, 0, 0, 0.2);
          background-image: url("/img/draggable_transparent.png?#{$deploy_key}");
          background-size: 20px 20px;
          background-position: center left;
          background-repeat: no-repeat;
        }
      }

      div.topic-edit-internal{
        margin: 0px 10px 0px 10px;
        min-height: 56px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgb(252, 252, 252);
        vertical-align: middle;

        div.topic-edit-handle {
          float: left;
          min-height: 56px;
          width: 30px;
        }

        div.topic-edit-handle-placeholder {
          float: left;
          min-height: 56px;
          width: 30px;
        }

        &:hover{
          background-color: rgb(253, 253, 253);
        }

        div.svg-icon {
          float: left;
          margin-top: 10px;
          margin-right: 5px;
        }

        div.topic-edit-labels{
          float: center;
          overflow: hidden;

          h3.topic-title {
            font-size: 15px;
            font-weight: bold;
            margin: 10px 0px 5px 0px;
          }

          label.topic-description {
            font-weight: normal;
            font-size: 14px;
            font-family: $oc_main_font;
          }
        }
      }
    }
  }

  $expand_size: scale(1, 1);
  $collapse_size: scale(0.5, 0.5);

  @include keyframe(expand){
    from {
      opacity: 0;
      -webkit-transform: $collapse_size;
      -moz-transform: $collapse_size;
      transform: $collapse_size;
    }
    to {
      opacity: 1;
      -webkit-transform: $expand_size;
      -moz-transform: $expand_size;
      transform: $expand_size;
    }
  }

  @include keyframe(collapse){
    from {
      opacity: 1;
      -webkit-transform: $expand_size;
      -moz-transform: $expand_size;
      transform: $expand_size;
    }
    to {
      opacity: 0;
      -webkit-transform: $collapse_size;
      -moz-transform: $collapse_size;
      transform: $collapse_size;
    }
  }

}