$animation_duration: 120ms;

body.trend-bar-collapsed {
  div.trend-bar {
    margin-bottom: 0px;
    height: #{$carrot_trend_collapsed_height}px;

    div.trend-bar-orange-box {

      button.toggle-trend-bt, div.trending-org {
        opacity: 0;
      }

      div.trend-bar-cards {
        margin-top: -137px;
      }
    }
  }
}

body.trend-bar-expanded {
  div.trend-bar {
    margin-bottom: 0px;
    height: #{$carrot_trend_expanded_height}px;

    div.trend-bar-orange-box {

      button.toggle-trend-bt, div.trending-org {
        opacity: 1;
      }

      div.trend-bar-cards {
        margin-top: -137px;
      }
    }
  }
}

body.trend-bar-trending {
  div.trend-bar {
    height: #{$carrot_trend_trending_height}px;

    div.trend-bar-orange-box {

      button.toggle-trend-bt, div.trending-org {
        opacity: 1;
        margin-top: 20px;
      }

      div.trend-bar-cards {
        margin-top: 70px;
      }
    }
  }
}

div.trend-bar {
  width: 100%;
  transition: height $animation_duration ease 0s;
  overflow: hidden;
  background-color: $oc_gray_8;

  div.trend-bar-orange-box {
    width: 100%;
    background-color: $carrot_orange;
    padding: 7px 102px 0px;
    height: 188px;

    button.toggle-trend-bt {
      float: right;
      opacity: 0.8;
      @include avenir_B();
      font-size: 16px;
      color: #ffffff;
      margin-top: 0px;
      transition: all $animation_duration ease 0s;
      transition-property: opacity, margin-top;

      &:hover {
        opacity: 1;
      }
    }

    div.trending-org {
      float: left;
      @include avenir_B();
      font-size: 16px;
      color: #ffffff;
      margin-top: 0px;
      transition: all $animation_duration ease 0s;
      transition-property: opacity, margin-top;

      &:before {
        content: "";
        background-image: cdnUrl("/img/ML/trend_line.svg");
        background-size: 20px 12px;
        width: 20px;
        height: 12px;
        margin-top: 3px;
        margin-right: 16px;
        float: left;
      }
    }

    div.trend-bar-cards {
      width: calc(100vw - 204px);
      height: 127px;
      transition: margin-top $animation_duration ease 0s;
      overflow-y: visible;
      overflow-x: scroll;

      div.trend-bar-cards-inner {
        height: 127px;

        div.card:last-child {
          margin-right: 0px;
        }

        div.card {
          width: 278px;
          float: left;
          background-color: white;
          height: 127px;
          box-shadow: 0px 3px 5px 0px rgba(225,222,217,0.4);
          margin-right: 16px;
        }
      }
    }
  }
}