div.trial-expired-banner-container {
  height: #{$navbar_height}px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $navbar_zindex;
  background-color: $carrot_orange;

  @include mobile() {
    height: #{$mobile_trial_expired_banner_height}px;
    padding: 8px 16px;
  }

  div.trial-expired-banner {
    @include OC_Body_Book();
    font-size: 16px;
    line-height: 26px;
    color: white;

    &.reduced-copy {
      display: none;
    }

    @include mobile() {
      height: 100%;
      line-height: 22px;
    }

    @media screen and (max-width: 374px) {
      &:not(.reduced-copy) {
        display: none;
      }

      &.reduced-copy {
        display: block;
      }
    }

    button.open-payments-bt, a.chat-with-us {
      display: inline;
      text-decoration: underline;
      @include OC_Body_Book();
      font-size: 16px;
      line-height: 26px;
      color: white;
      padding: 0;
      margin: 0;
    }
  }
}

div.trial-expired-alert-container {
  position: absolute;
  width: #{$paywall_alert_width}px;
  padding: 16px;
  z-index: #{$navbar_zindex + 100};
  cursor: default;

  div.trial-expired-alert {
    padding: 16px;
    background-color: white;
    border: 1px solid $mid_light_grey;
    text-align: left;
    border-radius: 4px;
  
    div.trial-expired-alert-title {
      @include OC_Body_Bold();
      font-size: 14px;
      line-height: 18px;
      color: $deep_navy;
    }

    div.trial-expired-alert-description {
      margin-top: 8px;
      @include OC_Body_Book();
      font-size: 14px;
      line-height: 18px;
      color: $deep_navy;
    }

    button.trial-expired-alert-bt {
      width: 100%;
      height: 32px;
      background-color: $wut_purple;
      border-radius: 4px;
      text-align: center;
      padding: 7px 16px;
      @include OC_Body_Bold();
      font-size: 14px;
      line-height: 18px;
      color: white;
      margin-top: 16px;
      cursor: pointer;
    }
  }
}