div.try-it-combo-field {
  margin: 48px auto;
  padding: 0 16px;

  div.mc-field-group {
    display: inline;

    input {
      margin: 0;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      width: 322px;
      height: 48px;
      @include OC_Body_Book();
      font-size: 16px;
      color: $carrot_dark_brown;
      padding: 11px 20px 10px;
      outline: none;
      border: 1px solid transparent;

      @include big_web(){
        border-top: 1px solid rgba(51,51,51,0.3);
        border-bottom: 1px solid rgba(51,51,51,0.3);
        border-left: 1px solid rgba(51,51,51,0.3);
      }

      @include mobile() {
        width: 100%;
        border-radius: 8px;
        border: 1px solid rgba(51,51,51,0.5);
      }
    }
  }

  button.try-it-get-started {
    height: 48px;
    margin: 0;
    background-color: $carrot_text_blue;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: white;
    @include OC_Body_Bold();
    font-size: 16px;
    padding: 10px 18px;

    @include mobile(){
      width: 100%;
      border-radius: 8px;
      margin-top: 20px;
    }
  }
}

div.get-started-button {
  button.mlb-get-started {
    height: 32px;
    border-radius: 6px;
    background-color: $carrot_text_blue;
    @include OC_Body_Bold();
    font-size: 13px;
    color: white;
    padding: 8px 20px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  @include big_web(){
    div.mobile-already-account {
      display: none;
    }
  }
}

@include mobile(){
  div.get-started-button{
    display: none;
    bottom: 40px;
    left: 0px;
    position: absolute;
    width: 100%;
    text-align: center;

    button.mlb-get-started {
      background-color: $carrot_text_blue;
      color: white;
      font-size: 16px;
      @include OC_Body_Bold();
      padding: 13px 80px;
      width: auto;
      height: auto;
    }
  }

  ul.navbar-top li div.mobile-already-account {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;

    a {
      @include OC_Body_Book();
      font-size: 14px;
      color: white;

      span.login {
        @include OC_Body_Book();
        text-decoration: underline;
      }
    }
  }
}