div.updates {
  background-color: $oc_gray_8;

  div.updates-inner {
    min-height: calc(100vh - #{$footer_small_height}px);
    background-color: $oc_gray_8;

    div.updates-content {
      margin: 60px auto 10px;
      padding: 0 34px;

      div.updates-content-cards {
        padding-right: 10px;
        margin-right: 40px;

        div.loading-container {
          position: relative;
          float: none;
          width: 100%;
          height: 200px;

          div.oc-loading {
            background-color: transparent;
          }
        }

        h3.updates-content-cards-title {
          text-align: center;
          width: 100%;
          margin-top: 0px;
          padding-top: 0px;
          margin-bottom: 25px;
          font-size: 24px;
          font-family: $oc_headers_font;
          font-weight: 500;
          color: $oc_gray_7;
        }

        div.topics-column-container{
          padding-top: 0px;

          div.topics-column {
            margin: 0;
            max-width: 660px;

            div.topic-row{
              margin-left: 0px;

              div.topic {
                margin-left: 0px;
                margin-right: 0px;
              }
            }
          }
        }
      }

      div.updates-content-list{
        padding-left: 20px;
        padding-top: 2.2rem;
      }
    }
  }
}