div.updates {
  background-color: $oc_gray_8;

  &.mobile-layout {
    padding-top: #{$mobile_navbar_height}px;
  }

  div.updates-inner {
    min-height: calc(100vh - #{$footer_small_height}px);
    background-color: $oc_gray_8;

    div.updates-content {
      margin: 55px auto 55px;
      padding: 0 34px;

      div.updates-content-cards {
        padding: 20px 30px;
        margin-left: 50px;

        &.has-content {
          background-color: white;
        }

        div.loading-container {
          position: relative;
          float: none;
          width: 100%;
          height: 200px;

          div.oc-loading {
            background-color: transparent;
          }
        }

        h3.updates-content-cards-title {
          text-align: center;
          width: 100%;
          margin-top: 0px;
          padding-top: 0px;
          margin-bottom: 25px;
          font-size: 24px;
          font-family: $oc_headers_font;
          font-weight: 500;
          color: $oc_gray_7;
        }

        div.topics-column-container{
          padding-top: 0px;

          div.topics-column {
            margin: 0;
            max-width: initial;
            background-color: white;

            div.topic-row{
              margin-left: 0px;
              margin-right: 0px;

              div.topic {
                margin-left: 0px;
                margin-right: 0px;
                border: none;
                box-shadow: none;
                border-bottom: 1px solid rgba(78,90,107,0.1);

                div.card-header.card-image {
                  @include big_web(){
                    margin-top: 12px;
                    padding: 0 20px;
                  }
                }
              }

              &:last-child {
                div.topic {
                  border-bottom: 0px solid rgba(78,90,107,0.1);
                }
              }
            }
          }
        }
      }

      div.updates-content-list{
        padding-right: 20px;
        padding-top: 0px;
      }
    }
  }
}