div.dropdown{
  position: relative;

  button.user-type-btn {
    position: relative;
    cursor: pointer;
    padding-right: 25px;

    &:after {
      color: $oc_gray_7;
      font-size: 23px;
      font-family: "Material Design Icons";
      content: "\F35D";
      position: absolute;
      top: -6px;
      right: 0px;
    }
  }

  ul.user-type-dropdown-menu {
    padding: 0;
    width: 144px;
    min-width: 144px;
    @include avenir_R();
    font-size: 16px;
    color: $oc_gray_7;
    background-color: white;
    border: none;
    padding: 0.5rem 0;
    position: absolute;
    top: 0px;
    left: -20px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 5px 12.5px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    li {
      cursor: pointer;
      width: 144px;
      height: 32px;
      padding: 6px 24px;

      &:hover {
        text-decoration: underline;
      }

      &:hover, &.active {
        background-color: white;
        color: $oc_gray_7;
      }

      &.remove-li {
        color: $carrot_orange;
        border-top: 1px solid rgba($carrot_light_gray_1, 0.2);
      }
    }
  }
}