div.um-invitations-box {
  color: rgba(78, 90, 107, 0.5);
  table.table {
    tr {
      th, td {
        border: none;
      }

      td {
        border-top: 1px solid rgba(78,90,107,0.1);
      }

      th {
        font-family: $oc_headers_font;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
        margin: 5px;
      }

      td {
        font-family: $oc_headers_font;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        color: $oc_gray_5;
        padding: 3px;

        div {
          margin: 5px;
          height: 30px;
          padding: 0px;
          white-space: pre;

          button.invite-row-action {
            opacity: 1;
          }
        }
      }
    }
  }
}