div.user-info-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  @include mobile() {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;

    @include mobile() {
      position: fixed;
      right: 16px;
      top: 11px;
      width: 32px;
      height: 32px;
      padding: 0;
      background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
      background-size: 12px 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--divider-line);
      border-radius: 4px;
      z-index: 3;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/mobile_dark_x@dark.svg");
      }
    }
  }

  div.user-info {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    @include mobile() {
      top: 0;
      left: unset;
      right: 0;
      width: 85vw;
      height: auto;
      max-height: initial;
      min-height: 100vh;
      border: none;
      box-shadow: none;
      display: block;
      text-align: left;
      background-color: var(--mobile-background-color);
      padding: #{$mobile_navbar_height}px 16px 32px;
      margin-top: -2px;
      overflow: visible;
    }

    div.user-info-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 16px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      @include mobile() {
        height: #{$mobile_navbar_height}px;
        width: 85vw;
        border-bottom: 1px solid var(--divider-line);
        background-color: var(--mobile-background-color);
        padding: 16px;
        margin: 0;
        z-index: 2;
      }

      div.user-info-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;

        @include mobile() {
          float: unset;
          text-align: left;
          font-size: 16px;
          line-height: 24px;
        }
      }

      button.cancel-bt {
        height: 32px;
        padding: 0;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        float: right;
        margin-left: 16px;

        @include mobile() {
          display: none;
        }
      }

      button.save-bt {
        height: 32px;
        padding: 0;
        @include OC_Body_Book();
        font-size: 14px;
        color: $wut_purple;
        line-height: 18px;
        float: right;

        @include mobile() {
          display: none;
        }
      }
    }

    div.user-info-body {

      @include user-profile(120){
        margin: 24px auto 0;
        text-align: left;
      }

      div.user-info-name {
        margin-top: 16px;
        @include OC_Body_Bold();
        font-size: 16px;
        color: var(--color);
        line-height: 20px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }

      div.user-info-title {
        margin-top: 4px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        line-height: 18px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }

      div.user-info-followers-count {
        margin-top: 4px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        line-height: 18px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }

      button.view-posts-bt {
        margin: 16px auto 0;
        padding: 7px 12px;
        background-color: $wut_purple;
        @include OC_Body_Bold();
        color: white;
        font-size: 14px;
        line-height: 18px;
        width: auto;
        border-radius: 4px;
        display: block;

        &:hover {
          opacity: 1;
        }
      }

      div.user-info-about {
        text-align: left;
        margin-top: 24px;
        border-top: 1px solid var(--divider-line);

        p.user-info-about-blurb {
          margin: 16px 0 0;
          @include OC_Body_Book();
          color: var(--color);
          font-size: 14px;
          line-height: 18px;
          white-space: pre-wrap;
          overflow-wrap: break-word;
        }

        div.user-info-about-location {
          margin-top: 8px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--light-color);
          text-align: left;
        }

        div.user-info-about-email {
          margin-top: 4px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          text-align: left;
          padding-left: 24px;
          position: relative;

          a {
            color: $wut_purple;
            text-decoration: none;

            @include big_web() {
              &:hover {
                text-decoration: underline;
              }
            }
          }

          &:before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: cdnUrl("/img/ML/email_icon_purple.svg");
            background-size: 16px 12px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 3px;
          }
        }

        div.user-info-about-slack {
          margin-top: 4px;
          @include OC_Body_Book();
          font-size: 14px;
          height: 20px;
          line-height: 20px;
          color: $wut_purple;
          text-align: left;
          padding-left: 24px;
          position: relative;

          &:before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: cdnUrl("/img/ML/slack_icon_purple.svg");
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 3px;
          }
        }

        div.user-info-about-profiles {
          margin-top: 16px;
          height: 16px;

          a {
            margin-right: 16px;
            width: 24px;
            height: 24px;
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            text-decoration: none;
            background-color: var(--opac-background-color-1);
            border-radius: 4px;

            &.facebook {
              background-image: cdnUrl("/img/ML/profile_icon_fb.svg");

              @include dark_mode() {
                background-image: cdnUrl("/img/ML/profile_icon_fb@dark.svg");
              }
            }

            &.twitter {
              background-image: cdnUrl("/img/ML/profile_icon_tw.svg");
              background-size: 14px 12px;

              @include dark_mode() {
                background-image: cdnUrl("/img/ML/profile_icon_tw@dark.svg");
              }
            }

            &.linked-in {
              background-image: cdnUrl("/img/ML/profile_icon_li.svg");

              @include dark_mode() {
                background-image: cdnUrl("/img/ML/profile_icon_li@dark.svg");
              }
            }

            &.instagram {
              background-image: cdnUrl("/img/ML/profile_icon_in.svg");

              @include dark_mode() {
                background-image: cdnUrl("/img/ML/profile_icon_in@dark.svg");
              }
            }
          }
        }
      }
    }
  }
}