div.user-profile {

  div.user-profile-internal {
    position: relative;
    width: 509px;
    left: 50%;
    margin-left: -254px;
    padding-top: 80px;
    /* 29px is the height below the user info */
    min-height: calc(100vh - 29px - #{$back_to_dashboard_row_height}px - #{$footer_small_height}px);

    div.user-profile-title {
      height: 74px;
      font-size: 26px;
      font-weight: 400;
      line-height: 1.4;
      color: $oc_gray_5;
    }

    div.user-profile-disclaimer {
      width: 509px;
      height: 64px;
      font-size: 18px;
      line-height: 1.8;
      color: $oc_gray_5;
      margin-top: 32px;
      margin-bottom: 20px;
      font-weight: 400;
    }

    div.user-profile-content {
      padding: 28px;
      background-color: rgba(78, 90, 107, 0.05);

      .data-title {
        font-family: $oc_headers_font;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $oc_gray_5;
      }

      div.left-column{
        width: 50%;
        float: left;

        div.user-profile-name {
          margin-top: 6px;
          font-size: 18px;
          line-height: 1.8;
          color: $oc_gray_5;
        }

        div.user-profile-org-title {
          margin-top: 25px;
        }

        div.user-profile-org {
          margin-top: 6px;
          font-size: 18px;
          line-height: 1.8;
          color: $oc_gray_5;
        }

        div.user-profile-email-title {
          margin-top: 25px;
        }

        div.user-profile-email {
          margin-top: 6px;
          font-size: 18px;
          line-height: 1.8;
          color: $oc_gray_5;
        }
      }

      div.right-column {
        float: left;
        width: 50%;
        padding-left: 25px;

        img.user-profile-avatar {
          margin-top: 11px;
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
  }
}