div.user-type-picker {
  margin-right: 1rem;
  float: left;
  position: relative;
  overflow: visible;

  button.user-type-picker-btn {
    &.disabled {
      opacity: 0.4;
    }

    margin-right: 0.2rem;
    border: solid 1px rgba(78, 90, 107, 0.5);
    width: 40px;
    height: 36px;
    font-size: 14px;
    opacity: 0.8;

    &:hover, &.active {
      background-color: $oc_green_dark;
      border: solid 1px rgba(78, 90, 107, 0.5);
    }

    &:last-child {
      margin-right: 0rem;
    }

    span.user-type-disc {
      @include avenir_H();
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 1.2px;
      color: rgba(78, 90, 107, 1);
      position: absolute;
      top: -20px;
      cursor: pointer;
      width: 100px;
      height: 28px;

      &.viewer {
        left: -20px;
      }
      &.author {
        left: 22px;
      }
      &.admin {
        left: 65px;
      }
    }
  }
}

div.dropdown{
  position: relative;

  button.user-type-btn {
    margin-right: 10px;
    position: relative;

    &:after {
      color: $oc_gray_7;
      font-size: 23px;
      font-family: "Material Design Icons";
      content: "\F35D";
      position: absolute;
      top: -4px;
      right: -15px;
    }
  }

  ul.user-type-dropdown-menu {
    padding: 0;
    width: 144px;
    min-width: 144px;
    @include avenir_R();
    font-size: 16px;
    color: $oc_gray_7;
    background-color: white;
    border: none;
    padding: 0.5rem 0;
    position: absolute;
    top: 0px;
    left: -20px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 5px 12.5px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    li {
      cursor: pointer;
      width: 144px;
      height: 32px;
      padding: 6px 24px;

      &:hover {
        text-decoration: underline;
      }

      &:hover, &.active {
        background-color: white;
        color: $oc_gray_7;
      }

      &.remove-li {
        color: $carrot_orange;
        border-top: 1px solid rgba($carrot_light_gray_1, 0.2);
      }
    }
  }
}