$avatar_size: 32;
$mobile_avatar_size: 32;

button.user-avatar-button{
  margin: 0;
  border: 0px solid transparent;
  background-color: transparent;
  width: #{$avatar_size}px;
  height: #{$avatar_size}px;
  border-radius: 50%;
  padding: 0;
  position: relative;

  &.disabled-user-menu {
    cursor: default;
  }

  &:active, &:focus {
    outline: none;
    border: 0px solid tranparent;
  }

  @include user-profile($avatar_size);

  @include mobile() {
    width: #{$mobile_avatar_size}px;
    height: #{$mobile_avatar_size}px;
    @include user-profile($mobile_avatar_size);
  }
}