div.um-users-box {
  color: rgba(78, 90, 107, 0.5);
  table.table {
    margin-bottom: 0px;
    tr {

      th {
        margin: 1px;
      }

      th:last-child, td:last-child, td:last-child > div {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
      }

      td:last-child {
        text-align: right;
      }

      th, td {
        border: none;
      }

      th {
        border-bottom: 1px solid rgba(78,90,107,0.1);
      }

      th {
        @include avenir_H();
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1.2px;
        color: rgba(78, 90, 107, 0.5);
      }

      &:hover {
        td {
          background-color: $oc_blue_dark;
          color: white;

          div button.user-type-btn:after {
            color: white;
          }
        }
      }

      td {
        @include avenir_M();
        font-size: 14px;
        letter-spacing: 1px;
        color: $oc_gray_5;
        padding: 1px;

        div {
          margin: 5px;
          height: 18px;
          padding: 0px;
          white-space: pre;

          &.value {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
          }

          button.user-row-action {
            opacity: 1;
          }
        }
      }
    }
  }
}