$avatar_size: 25;

button.user-avatar-button{
  margin: 0;
  padding: 5px 0 5px 5px;
  border: 0px solid transparent;
  background-color: transparent;
  width: auto;
  height: #{$avatar_size}px;
  color: rgba(78, 90, 107, 0.5);

  &.no-image {
    i.fa.fa-ellipsis-v {
      margin-top: 3px;
    }
  }

  &:active, &:focus {
    outline: none;
    border: 0px solid tranparent;
  }

  div.user-avatar-name {
    font-size: 14px;
    margin-top: 7px;
    margin-right: 5px;
    color: rgba(78, 90, 107, 0.8);
  }

  img.user-avatar-img {
    max-width: #{$avatar_size}px;
    max-height: #{$avatar_size}px;
    margin-right: 5px;
  }

  i.fa.fa-ellipsis-v {
    font-size: 20px;
    margin-top: 9px;
    padding-right: 10px;
    transition: 230ms;
  }

  &:hover {
    i.fa.fa-ellipsis-v {
      color: rgba(78, 90, 107, 0.8);
    }
  }
}