div.user-notifications {
  position: relative;

  @include mobile() {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // Has fixed navbar and visible tabbar at the bottom
    height: calc(100vh - #{$mobile_navbar_height * 2}px);
    margin-top: #{$mobile_navbar_height}px;
    margin-bottom: #{$mobile_navbar_height}px;
    background-color: var(--mobile-background-color);
    z-index: 21;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    button.notification-bell-bt {
      display: none;
    }
  }

  button.notification-bell-bt {
    width: 32px;
    height: 32px;
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: var(--opac-background-color-1);
    border: none;
    transition: backgorund-color 180ms ease-in;

    span.bell-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      background-image: cdnUrl("/img/ML/notification_bell.svg");
      background-size: 12px 15px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
      transition: opacity 180ms ease-in;

      @include dark_mode() {
        background-image: cdnUrl("/img/ML/notification_bell@dark.svg");
      }
    }

    &:hover, &.active {
      background-color: var(--opac-background-color-2);

      span.bell-icon {
        opacity: 1;
      }
    }

    &.new:after {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      top: 0px;
      right: 0px;
      background-color: $wut_purple;
      border-radius: 50%;
      border: 2px solid var(--background-color);
    }
  }

  div.user-notifications-tray {
    position: absolute;
    top: 31px;
    right: 0px;
    background-color: var(--overlay-background-color);
    border-radius: 4px;
    border: 1px solid var(--notifications-border);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);;
    width: 375px;

    &.hidden-tray {
      top: -99999px;
      right: -99999px;
    }

    @include mobile() {
      position: relative;
      top: unset;
      right: unset;
      width: 100%;
      box-shadow: none;
      border: none;
      background-color: var(--mobile-background-color);

      &.hidden-tray {
        top: unset;
        right: unset;
      }
    }

    div.user-notifications-tray-header {
      padding: 16px;
      position: relative;

      @include mobile(){
        display: none;
      }

      button.user-notifications-tray-mobile-close {
        display: none;

        @include mobile() {
          display: block;
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/mobile_close_x.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 14px 14px;
          position: absolute;
          top: 12px;
          right: 11px;
        }
      }

      button.notification-settings-bt {
        position:absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        background-image: cdnUrl("/img/ML/notification_settings_bt.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px 16px;
      }

      div.title {
        @include OC_Body_Book();
        color: var(--color);
        font-size: 14px;
        text-align: center;
        width: 100px;
        margin: 0 auto;
        line-height: 20px;
        height: 18px;
        line-height: 18px;

        @include mobile() {
          font-size: 16px;
        }
      }

      button.all-read-bt {
        position:absolute;
        top: 12px;
        left: 12px;
        height: 24px;
        width: 24px;
        padding: 0px;
        margin: 0px;
        background-image: cdnUrl("/img/ML/notifications_mark_all_read.svg");
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    div.user-notifications-tray-list {
      max-height: calc(90vh - 100px);
      overflow-y: auto;
      overflow-x: hidden;

      @include mobile() {
        min-height: 100%;
        max-height: initial;
        overflow-y: hidden;
        overflow-x: hidden;
      }

      div.user-notifications-tray-empty {
        @include mobile() {
          div.all-caught-up {
            display: block !important;
            margin-top: 100px;
          }
        }
      }

      div.user-notification {
        border-top: 1px solid var(--divider-line);
        padding: 16px 16px 13px;
        cursor: pointer;
        text-align: left;
        opacity: 0.9;
        position: relative;
        background-color: var(--background-color);

        @include mobile() {
          background-color: var(--mobile-background-color);
          border-top: 1px solid var(--divider-line);

          &:first-child {
            border-top: none;
          }
        }

        &:hover {
          button.read-bt {
            display: block;
          }
        }

        &:last-child {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        &.unread {
          background-color: var(--overlay-background-color);

          @include mobile() {
            background-color: var(--background-color);
          }
        }

        @include user-profile(24);

        div.user-avatar-img-container {
          float: left;
        }

        div.user-notification-title {
          margin-left: 16px;
          float: left;
          width: calc(100% - 24px - 16px - 42px);
          padding-right: 8px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 16px;
          color: var(--color);
          float: left;
        }

        div.user-notification-time-since {
          float: right;
          text-align: right;
          width: 42px;
          @include OC_Body_Book();
          font-size: 12px;
          color: var(--light-color);
          height: 12px;
          line-height: 12px;
        }

        div.user-notification-body {
          margin-left: 16px;
          margin-top: 4px;
          width: calc(100% - 40px);
          padding-right: 8px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 18px;
          color: var(--color);
          float: right;
          overflow-wrap: break-word;

          p {
            margin: 0px;
            padding: 0px;
          }

          a {
            color: $wut_purple;
          }

          img {
            display: none;
          }
        }

        button.read-bt {
          position: absolute;
          right: 4px;
          top: 50%;
          float: right;
          margin-top: -12px;
          width: 24px;
          height: 24px;
          background-image: cdnUrl("/img/ML/notification_read_bt.svg");
          background-size: 8px 8px;
          background-position: center;
          background-repeat: no-repeat;
          display: none;
        }
      }
    }
  }
}