div.user-profile {
  margin-top: 10px;
  div.panel-heading {
    font-size: 12px;
    h4 {
      margin: 2px 0;
      font-weight: bold;
      font-size: 16px;
    }
  }

  div.panel-body span.user-profile-label {
    width: 150px;
    float: left;
    font-size: 14px;
    font-weight: bold;
  }

  img.user-avatar {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
  }
}