$user_info_width: 248;
$user_info_vertical_spacing: 8;

div.user-info-hover {
  position: absolute;
  display: none;

  div.user-info-view {
    position: relative;
    top: unset;
    left: unset;
  }

  &.top {
    bottom: 100%;
    padding-bottom: #{$user_info_vertical_spacing}px;
  }

  &.bottom {
    top: 100%;
    padding-top: #{$user_info_vertical_spacing}px;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.show {
    display: block;
  }
}

div.user-info-view {
  position: absolute;
  width: #{$user_info_width}px;
  height: auto;
  z-index: #{$navbar_zindex - 1};
  text-align: center;
  border: 1px solid var(--divider-line);
  background-color: var(--tooltip-background-color);
  border-radius: 4px;
  padding: 16px;
  box-shadow: var(--user-info-view-shadow);
  cursor: default;
  top: 100%;
  left: 0;

  div.user-info-header {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    justify-items: flex-start;
    align-items: center;

    @include user-profile(32, true) {
      margin-right: 8px;
      white-space: nowrap;
      flex: 0 0 auto;

      img.user-avatar-img {
        width: 32px!important;
        height: 32px!important;
      }
    }

    div.user-info-right {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      justify-items: center;
      align-content: flex-start;
      align-items: flex-start;
      max-width: calc(100% - 40px);

      div.user-info-name {
        @include OC_Body_Bold();
        font-size: 16px;
        line-height: 20px;
        color: var(--tooltip-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        max-width: 100%;
        flex: 1 1 auto;
      }

      div.user-info-subline {
        @include OC_Body_Book();
        font-size: 12px;
        line-height: 15px;
        color: var(--tooltip-color);
        opacity: 0.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
        max-width: 100%;
        flex: 1 1 auto;

        &.slack-icon {
          &:before {
            display: block;
            content: "";
            float: left;
            width: 14px;
            height: 14px;
            opacity: 0.5;
            background-image: cdnUrl("/img/ML/slack_mention_icon.svg");
            background-size: 14px 14px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 6px;
            margin-top: 2px;
          }
        }
      }
    }
  }

  div.user-info-buttons {
    height: 30px;
    margin-top: 8px;

    button.profile-bt {
      float: right;
      width: calc(50% - 4px);
      padding: 6px 0;
      background-color: var(--tooltip-button-background);
      @include OC_Body_Bold();
      color: var(--tooltip-color);
      font-size: 14px;
      line-height: 18px;
      border-radius: 4px;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }
    }

    button.posts-bt {
      float: left;
      width: calc(50% - 4px);
      padding: 6px 0;
      background-color: var(--tooltip-button-background);
      @include OC_Body_Bold();
      color: var(--tooltip-color);
      font-size: 14px;
      line-height: 18px;
      border-radius: 4px;

      @include big_web() {
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}