div.user-type-picker {
  margin-right: 1rem;
  float: left;
  position: relative;
  overflow: visible;

  button.user-type-picker-btn {
    &.disabled {
      opacity: 0.4;
    }

    margin-right: 0.2rem;
    border: solid 1px rgba(78, 90, 107, 0.5);
    width: 40px;
    height: 36px;
    font-size: 14px;
    opacity: 0.8;

    &:hover, &.active {
      background-color: $oc_green_dark;
      border: solid 1px rgba(78, 90, 107, 0.5);
    }

    &:last-child {
      margin-right: 0rem;
    }

    span.user-type-disc {
      font-family: $oc_headers_font;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 1.2px;
      color: rgba(78, 90, 107, 1);
      position: absolute;
      top: -20px;
      cursor: pointer;
      width: 100px;
      height: 28px;

      &.viewer {
        left: -20px;
      }
      &.author {
        left: 22px;
      }
      &.admin {
        left: 65px;
      }
    }
  }
}

div.dropdown{
  position: relative;

  button.user-type-btn {
    width: 80px;
    &:after {
      color: $oc_gray_5;
      font-size: 13px;
      font-family: FontAwesome;
      content: "\f078";
      margin-left: 5px;
      opacity: 0;
    }
  }

  &:hover {
    // background-color: $oc_blue_dark;
    // color: white;

    button.user-type-btn:after {
      opacity: 1;
    }
  }

  ul.user-type-dropdown-menu {
    padding: 0;
    font-family: $oc_main_font;
    font-size: 14px;
    color: $oc_gray_5;
    background-color: white;
    padding: 0.5rem 0;
    position: absolute;
    top: 24px;
    left: 20px;

    li {
      padding: 0 0.5rem;
      cursor: pointer;

      &:hover, &.active {
        background-color: $oc_blue_dark;
        color: white;
      }
    }
  }
}