div.user-profile-modal-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: visible;
  padding: 24px;
  text-transform: none;
  background-color: $carrot_modal_bg;
  z-index: #{$navbar_zindex + 156};
  opacity: 1;
  transition: opacity 180ms ease-in;

  button.modal-close-bt {
    position: absolute;
    right: 336px;
    top: 12px;

    @include mobile() {
      left: 16px;
      top: 11px;
      right: unset;
      z-index: 2;
      width: 32px;
      height: 32px;
      padding: 0;
      background-image: cdnUrl("/img/ML/mobile_dark_x.svg");
      background-size: 12px 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--mobile-background-color);
      border-radius: 4px;
    }
  }

  div.user-profile-modal {
    width: 320px;
    background-color: var(--overlay-background-color);
    position: absolute;
    top: 0;
    height: calc(100vh - #{$navbar_height}px);
    right: 0;
    margin-top: #{$navbar_height}px;
    padding: 0 24px 16px;
    transition: right 180ms ease-in;
    overflow-x: hidden;
    overflow-y: auto;

    @include mobile() {
      width: 100%;
      left: 0;
      min-height: 100vh;
      overflow-y: auto;
      padding: #{$mobile_navbar_height}px 16px 16px;
      z-index: 1;
      margin-top: 0;
    }

    div.user-profile-header {
      width: 320px;
      height: #{$navbar_height}px;
      background-color: var(--panel-header-background);
      padding: 12px 24px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;

      @include mobile() {
        height: #{$mobile_navbar_height}px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--divider-line);
        background-color: var(--mobile-background-color);
        padding: 15px 16px 15px 24px;
        margin: 0;
        z-index: 2;
      }

      div.user-profile-header-title {
        @include OC_Body_Bold();
        font-size: 14px;
        color: var(--color);
        line-height: 32px;
        float: left;

        @include mobile() {
          float: unset;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
        }
      }

      button.cancel-bt {
        height: 32px;
        padding: 0 8px;
        @include OC_Body_Book();
        font-size: 14px;
        color: var(--light-color);
        float: right;
        margin-right: 8px;

        @include mobile() {
          display: none;
        }
      }

      button.save-bt {
        height: 32px;
        padding: 7px 14px;
        background-color: $wut_purple;
        @include OC_Body_Bold();
        font-size: 14px;
        color: white;
        line-height: 18px;
        float: right;
        border-radius: 4px;

        &.disabled {
          opacity: 0.4;
        }

        @include mobile() {
          @include OC_Body_Book();
          position: absolute;
          height: 24px;
          top: 15px;
          right: 16px;
          background-color: transparent;
          color: $wut_purple;
          padding: 0;
        }
      }
    }

    div.user-profile-body {
      width: 272px;
      margin: 24px auto 32px;
      position: relative;
      color: var(--color);

      @include mobile() {
        padding: 0;
        width: initial;
      }

      div.user-profile-avatar {
        height: 32px;
        cursor: pointer;

        @include user-profile(32);

        div.user-avatar-img-container {
          float: left;
        }

        div.empty-user-avatar-placeholder {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: #F8FCFA;
          // border: 1px dashed $wut_purple;
          background-image: cdnUrl("/img/ML/company_avatar_purple_plus.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
          float: left;
        }

        div.user-profile-avatar-label {
          color: $wut_purple;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 32px;
          float: left;
          margin-left: 16px;
        }
      }

      div.user-profile-modal-fields {
        margin-top: 16px;
        border-top: 1px solid var(--divider-line);
        padding-top: 16px;

        div.fields-divider-line {
          width: 100%;
          height: 1px;
          background-color: var(--divider-line);
        }

        *:first-child {
          margin-top: 0;
        }

        .profile-group {
          margin-top: 16px;
        }

        .field-label {
          margin: 16px 0 0;
          color: var(--color);
          @include OC_Body_Book();
          font-size: 14px;

          &:first-child {
            margin: 0;
          }

          .half-field-label {
            width: calc(50% - 4px);
            display: inline-block;
            margin-left: 4px;
            color: var(--color);
            @include OC_Body_Book();
            font-size: 14px;

            &:first-of-type {
              margin-left: 0;
              margin-right: 4px;
            }
          }

          span.error {
            display: block;
            width: 100%;
            color: $carrot_orange;
          }
        }

        input.field-value {
          width: 100%;
          height: 32px;
          background-color: var(--opac-background-color-1);
          border-radius: 4px;
          padding: 7px 8px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          margin-top: 8px;
          border: none;
          outline: none;

          @include placeholder(){
            color: var(--ultralight-color);
          }

          &:focus, &:active {
            border: none;
            outline: none;
          }

          &.not-allowed {
            cursor: not-allowed;
          }

          &.half-field {
            width: calc(50% - 4px);
            display: inline-block;
            margin-left: 4px;

            &:first-of-type {
              margin-left: 0;
              margin-right: 4px;
            }

            @include mobile() {
              width: 100%;
              display: block;
              margin-left: 0;

              &:first-of-type {
                margin-left: 0;
                margin-right: 0;
              }
            }
          }
        }

        textarea.field-value {
          width: 100%;
          resize: none;
          background-color: var(--opac-background-color-1);
          border-radius: 4px;
          padding: 7px 8px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          margin-top: 8px;
          border: none;
          outline: none;
          display: block;

          @include placeholder(){
            color: var(--light-color);
          }

          &:focus, &:active {
            border: none;
            outline: none;
          }

          &.not-allowed {
            cursor: not-allowed;
          }

          &.half-field {
            width: calc(50% - 4px);
            display: inline-block;
            margin-left: 4px;

            &:first-of-type {
              margin-left: 0;
              margin-right: 4px;
            }
          }
        }

        select.field-value {
          width: 100%;
          height: 32px;
          border-radius: 4px;
          padding: 7px 8px;
          @include OC_Body_Book();
          font-size: 14px;
          color: var(--color);
          margin-top: 8px;
          display: block;
          border: none;
          outline: none;
          display: block;
          appearance: none;
          -webkit-appearance: none;
          background-color: var(--opac-background-color-1);
          position: relative;
          background-image: cdnUrl("/img/ML/select_arrows.svg");
          background-size: 8px 10px;
          background-position: top 11px right 8px;
          background-repeat: no-repeat;
        
          &::-ms-expand {
            display: none;
          }

          &:hover {
            border-color: #888;
          }

          &:focus {
            border-color: none;
            box-shadow: none;
            outline: none;
          }

          option {
            @include OC_Body_Book();
            font-size: 14px;
            color: $deep_navy;
            background-color: rgba($deep_navy, 0.1);
          }
        }
      }
    }
  }
}

@include dark_mode() {
  div.user-profile-modal-container div.user-profile-modal div.user-profile-body
  div.user-profile-modal-fields select.field-value {
    background-image: cdnUrl("/img/ML/select_arrows@dark.svg");
  }
}