@import "vars/main";

div.user-profile {
  background-color: $carrot_modal_bg;
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: #{$navbar_zindex + 156};
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;

  button.settings-modal-close {
    right: -56px;
    top: 0px;
  }

  @include mobile() {
    background-color: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;

    button.settings-modal-close {
      display: none;
    }
  }

  div.user-profile-mobile-header{
    dislpay: none;

    @include mobile() {
      display: block;
      width: 100%;
      height: 56px;
      background-color: white;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
      padding: 20px 16px;

      button.user-profile-mobile-close {
        display: block;
        width: 24px;
        height: 24px;
        background-image: cdnUrl("/img/ML/mobile_close_x.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        margin: -2px 16px 0 -5px;
        float: left;
      }

      div.user-profile-mobile-header-title {
        @include avenir_H();
        font-size: 16px;
        color: $deep_navy;
        line-height: 20px;
        height: 20px;
      }
    }
  }

  div.user-profile-inner {
    width: #{$settings_content_width}px;
    margin: 72px auto;
    border: 1px solid rgba($deep_tan, 0.7);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow-x: visible;
    overflow-y: auto;
    overflow: visible;
    position: relative;
    border-radius: 4px;
    padding: 32px 24px;

    @include mobile() {
      width: 100%;
      margin: 0px auto;
      box-shadow: none;
      border: none;
      border-radius: 0px;
      background-color: transparent;
    }

    div.user-profile-header {
      position: relative;
      color: $deep_navy;

      div.user-profile-header-avatar {
        float: left;
        width: 48px;
        height: 48px;

        &.profile-tab {
          cursor: pointer;
        }

        @include user-profile(48);

        div.empty-user-avatar-placeholder {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: #F8FCFA;
          border: 1px dashed $carrot_green;
          background-image: cdnUrl("/img/ML/company_avatar_green_plus.svg");
          background-size: 16px 16px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      div.user-profile-header-name {
        @include avenir_H();
        font-size: 22px;
        color: $deep_navy;
        margin-left: 64px;
      }

      div.user-profile-header-role {
        @include avenir_R();
        font-size: 18px;
        color: $light_ui_grey;
        margin-left: 64px;
      }
    }

    div.user-profile-tabs-header {
      min-height: 24px;
      position: relative;
      margin-top: 32px;
      margin-bottom: 32px;

      div.user-profile-bottom-line {
        width: 100%;
        height: 1px;
        background-color: rgba($deep_tan, 0.3);
        position: absolute;
        bottom: 0px;
        left: 0px;
      }

      div.user-profile-tab-header {
        height: 33px;
        float: left;
        width: auto;
        margin: 1px 24px 0px 0px;
        border-bottom: 1px solid transparent;

        a.user-profile-tab-link {
          display: block;
          width: auto;
          height: 24px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          @include avenir_B();
          font-size: 13px;
          color: $ui_grey;
          text-decoration: none;
          text-transform: uppercase;
          outline: none;

          &:active, &:hover, &:focus {
            text-decoration: none;
          }
        }

        &:hover {
          border-bottom: 1px solid $carrot_orange;
        }

        &.active {
          border-bottom: 1px solid $carrot_orange;

          a.user-profile-tab-link {
            padding: 0;
            color: $carrot_orange;

            @include mobile() {
              font-size: 14px;
            }
          }
        }
      }
    }

    div.user-profile-footer {
      background-color: white;
      position: relative;
      height: 40px;

      button {
        float: right;
        margin-left: 24px;
        @include avenir_R();
        font-size: 14px;
      }

      button.save-bt {
        min-width: 72px;
        background-color: $carrot_green;
        border-radius: 6px;
        color: white;
        @include avenir_H();
        font-size: 14px;
        height: 40px;

        &.no-disable[disabled] {
          opacity: 1 !important;
        }
      }

      button.cancel-bt {
        height: 40px;
        color: $ui_grey;
      }
    }

    div.user-profile-internal {
      position: relative;
      background-color: white;
      margin: 0 auto;

      div.user-profile-content {

         div.user-profile-column-left {
          float: left;
          width: calc(50% - 8px);
          margin-right: 8px;

          @include mobile() {
            float: unset;
            width: 100%;
            margin-right: 0px;
          }
        }

        div.user-profile-column-right {
          float: right;
          width: calc(50% - 8px);
          margin-left: 8px;

          @include mobile() {
            float: unset;
            width: 100%;
            margin-left: 0px;
          }
        }

        div.user-profile-avatar-box {
          height: 72px;
          margin-bottom: 40px;
          width: 338px;

          button.user-profile-avatar {
            width: 72px;
            height: 72px;
            float: left;
            cursor: pointer;
            margin: 0;
            padding: 0;
            opacity: 1;

            img.user-avatar-img {
              width: 72px;
              height: 72px;
            }
          }

          button.upload-photo {
            float: right;
            width: 236px;
            height: 72px;
            text-align: left;
            margin: 0;
            padding: 0;
            opacity: 1;

            &:hover {
              span.user-avatar-upload-cta {
                text-decoration: underline;
              }
            }

            span.user-avatar-upload-cta {
              float: left;
              width: 100%;
              margin-top: 6px;
            }

            span.user-avatar-upload-description {
              color: #a3a6ab;
              @include avenir_BOOK();
              font-size: 14px;
              float: left;
              width: 100%;
              margin-top: 8px;
            }
          }
        }

        div.user-profile-divider-line {
          width: 100%;
          height: 1px;
          padding: 0;
          margin: 0 0 24px;
          background-color: $ultra_light_grey;
        }

        div.user-profile-field-box {
          text-align: left;

          &.password-update {
            margin-top: 32px;
          }

          div.user-profile-field-label {
            @include avenir_H();
            font-size: 12px;
            color: $deep_navy;
            margin-top: 32px;

            span.error {
              margin-left: 16px;
              color: $carrot_orange;
            }

            i.mdi.mdi-information-outline {
              margin-left: 8px;
              
              &:before {
                font-size: 14px;
              }
            }
          }

          div.user-profile-field {
            margin: 8px 0 24px 0;
            padding: 0;

            &.no-slack {
              margin-bottom: 16px;
              div.dropdown-button {
                background-color: rgba($medium_light_grey, 0.4);
                border: 1px solid rgba(#B1B8C0, 0.5);

                button.user-type-btn {
                  color: rgba($deep_navy, 0.5);
                  pointer-events: none;
                  cursor: not-allowed;

                  &:after {
                    display: none;
                  }
                }
              }

              div.enable-slack {
                display: block;
                @include avenir_R();
                font-size: 13px;
                color: $deep_navy;
                margin-top: 8px;
                height: 24px;
                line-height: 24px;

                button.add-slack-bt {
                  color: $carrot_green;
                  display: inline;
                  padding: 0;
                  margin-left: 8px;
                }
              }
            }

            div.enable-slack {
              display: none;
            }

            div.dropdown-button {
              height: 40px;
              padding: 10px 8px;
              border: 1px solid rgba($carrot_light_gray_1, 0.5);
              border-radius: 4px;

              button.user-type-btn {
                width: 100%;
                text-align: left;
                @include avenir_R();
                font-size: 14px;
                line-height: 18px;
                color: $deep_navy;
                padding: 0 25px 0 7px;

                &:after {
                  top: 0;
                }
              }
            }

            ul.user-type-dropdown-menu {
              left: 0;
              width: 200px;

              li {
                width: 100%;
                @include avenir_R();
                font-size: 14px;
                line-height: 20px;
                color: $deep_navy;
              }
            }

            input, select {
              width: 100%;
              height: 40px;
              border-radius: 4px;
              background-color: white;
              border: 1px solid rgba($carrot_light_gray_1, 0.5);
              outline: none;
              padding: 10px 16px;
              position: relative;
              @include avenir_M();
              font-size: 15px;
              color: $deep_navy;

              &:disabled {
                opacity: 0.5;
              }

              @include placeholder() {
                @include avenir_R();
                font-size: 16px;
                color: $carrot_light_gray;
              }
            }
          }
        }
      }
    }

  }
}