div.user-notifications {
  position: relative;
  height: 24px;

  @include mobile() {
    position: fixed;
    top: #{$mobile_navbar_height}px;
    left: 0;
    width: 100%;
    // Has fixed navbar and visible tabbar at the bottom
    height: calc(100vh - #{$mobile_navbar_height * 2}px);
    background-color: var(--mobile-background-color);
    z-index: 21;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - #{$mobile_navbar_height * 2}px);
  }

  button.notification-bell-bt {
    width: 24px;
    height: 24px;
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: var(--opac-background-color-1);
    border: none;
    transition: backgorund-color 180ms ease-in;
    display: block;

    @include mobile() {
      display: none;
    }

    span.bell-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      opacity: 0.5;
      transition: opacity 180ms ease-in;
      @include svgBgColor("/img/ML/notification_bell.svg", center, 10px 12px, var(--color));
    }

    &:hover, &.active {
      background-color: var(--opac-background-color-2);

      span.bell-icon {
        opacity: 1;
      }

      &.new {
        background-color: var(--primary-color-04);
      }
    }

    &.new {
      background-color: var(--primary-light-color);

      span.bell-icon {
        @include svgBgColor("/img/ML/notification_bell.svg", center, 10px 12px, var(--primary-color));
        opacity: 1;
      }
    }
  }

  div.user-notifications-tray {
    $tray-width: 375;

    position: absolute;
    top: 36px;
    right: 0;
    background-color: var(--user-notifications-background);
    border-radius: 4px;
    border: 1px solid var(--user-notifications-border);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);;
    width: #{$tray-width}px;

    &.hidden-tray {
      top: -99999px;
      right: -99999px;
    }

    @include mobile() {
      position: relative;
      top: unset;
      right: unset;
      left: 0;
      width: 100%;
      box-shadow: none;
      border: none;
      background-color: var(--user-notifications-background);

      &.hidden-tray {
        top: unset;
        right: unset;
      }
    }

    div.user-notifications-tray-header {
      padding: 16px;
      position: relative;

      @include mobile(){
        display: none;
      }

      button.user-notifications-tray-mobile-close {
        display: none;

        @include mobile() {
          display: block;
          width: 24px;
          height: 24px;
          // background-image: cdnUrl("/img/ML/mobile_close_x.svg");
          // background-position: center;
          // background-repeat: no-repeat;
          // background-size: 14px 14px;
          @include svgBgColor("/img/ML/mobile_close_x.svg", center, 14px 14px, var(--color));
          position: absolute;
          top: 12px;
          right: 11px;
        }
      }

      button.notification-settings-bt {
        position:absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        // background-image: cdnUrl("/img/ML/notification_settings_bt.svg");
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: 15px 16px;
        @include svgBgColor("/img/ML/notification_settings_bt.svg", center, 15px 16px, var(--color));
      }

      div.title {
        @include OC_Body_Book();
        color: var(--color);
        font-size: 14px;
        text-align: center;
        width: 100px;
        margin: 0 auto;
        line-height: 20px;
        height: 18px;
        line-height: 18px;

        @include mobile() {
          font-size: 16px;
        }
      }

      button.all-read-bt {
        position:absolute;
        top: 12px;
        left: 12px;
        height: 24px;
        width: 24px;
        padding: 0px;
        margin: 0px;
        // background-image: cdnUrl("/img/ML/notifications_mark_all_read.svg");
        // background-size: 14px 14px;
        // background-position: center;
        // background-repeat: no-repeat;
        @include svgBgColor("/img/ML/notifications_mark_all_read.svg", center, 14px 14px, var(--color));
      }
    }

    div.user-notifications-tray-list {
      max-height: calc(90vh - 100px);
      overflow-y: auto;
      overflow-x: hidden;

      @include mobile() {
        min-height: calc(100vh - #{$mobile_navbar_height * 2}px);
        max-height: initial;
        overflow-y: hidden;
        overflow-x: hidden;
      }

      div.user-notifications-tray-empty {
        @include mobile() {
          height: calc(100vh - #{$mobile_navbar_height * 2}px);
          display: flex;
          flex-flow: column nowrap;

          div.all-caught-up {
            margin-top: auto;
            margin-bottom: auto;
            display: block !important;
          }
        }
      }

      div.user-notification {
        border-top: 1px solid var(--user-notifications-border);
        padding: 16px 16px 13px;
        cursor: pointer;
        text-align: left;
        opacity: 0.9;
        position: relative;
        background-color: var(--user-notifications-background);

        @include mobile() {
          background-color: var(--user-notifications-background);
          border-top: 1px solid var(--user-notifications-border);

          &:first-child {
            border-top: none;
          }
        }

        &:hover {
          button.read-bt {
            display: block;
          }
        }

        &:last-child {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        &.unread {
          background-color: var(--user-notifications-unread-background);

          @include mobile() {
            background-color: var(--user-notifications-background);
          }
        }

        @include user-profile(24);

        div.user-avatar-img-container {
          float: left;
        }

        div.user-notification-title {
          margin-left: 16px;
          float: left;
          width: calc(100% - 24px - 16px - 42px);
          padding-right: 8px;
          @include OC_Body_Book();
          font-size: 14px;
          line-height: 16px;
          color: var(--color);
          float: left;
        }

        div.user-notification-time-since {
          float: right;
          text-align: right;
          width: 42px;
          @include OC_Body_Book();
          font-size: 12px;
          color: var(--light-color);
          height: 12px;
          line-height: 12px;
        }

        div.user-notification-body {
          margin-left: 16px;
          margin-top: 4px;
          width: calc(100% - 40px);
          padding-right: 8px;
          overflow-wrap: break-word;
          @include activity-body-foc(14, 18, var(--color), 2);
          float: right;
        }

        button.read-bt {
          position: absolute;
          right: 4px;
          top: 50%;
          float: right;
          margin-top: -12px;
          width: 24px;
          height: 24px;
          // background-image: cdnUrl("/img/ML/notification_read_bt.svg");
          // background-size: 8px 8px;
          // background-position: center;
          // background-repeat: no-repeat;
          @include svgBgColor("/img/ML/notification_read_bt.svg", center, 8px 8px, var(--color));
          display: none;
        }
      }
    }
  }
}