div.welcome-screen{
  background-color: $oc_gray_1;
  padding-top: #{$navbar_height}px;
  padding-bottom: 20px;
  width: 100%;
  min-height: 100vh;

  div.welcome-screen-box {
    margin: 20px auto;
    width: 520px;
    background-color: white;
    padding: 20px;
    text-align: center;

    span:first-child {
      font-weight: 600;
    }

    span {
      display: block;
      font-family: $oc_headers_font;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}