div.welcome-screen{
  background-color: $oc_gray_1;
  padding-top: #{$navbar_height}px;
  padding-bottom: 20px;
  width: 100%;
  min-height: 100vh;

  div.welcome-screen-box {
    margin: 20px auto;
    width: 520px;
    background-color: white;
    text-align: center;
    border: 2px solid $oc_yellow;
    border-radius: 5px;
    padding: 25px;

    span {
      display: block;
      @include avenir_M();
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}