div#HW_frame_cont {
  width: 320px;
  height: 100vh !important;
  top: 0 !important;
  left: unset !important;
  right: 0;
  border-radius: 0;
  background-color: white;

  iframe {
    height: 100% !important;
  }
}