div.ziggeo-player {
  position: relative;

  button.remove-video-bt {
    width: 40px;
    height: 40px;
    background-image: cdnUrl("/img/ML/modal_close_x.svg");
    background-size: 40px;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
  }
}