div.ziggeo-player {
  position: relative;

  div.ziggeo-player-not-processed {
    width: 100%;
    height: 100%;
    background-color: #EAECED;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      @include avenir_H();
      font-size: 12px;
      color: #AFB3B6;
    }

    div.refresh-icon {
      width: 14px;
      height: 14px;
      float: left;
      background-image: cdnUrl("/img/ML/uploading_video_icon.svg");
      background-size: 14px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  button.remove-video-bt {
    width: 24px;
    height: 24px;
    background-image: cdnUrl("/img/ML/remove_video_x.svg");
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
  }

  .hide {
    display: none;
  }

  div.video-play-image {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &.loading {
      background-color: rgba(0, 0, 0, .1);
    }

    div.play {
      width: 45px;
      height: 45px;
      position: absolute;
      background-image: cdnUrl("/img/ML/play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 45px;
      z-index: 10;
      left: 50%;
      top: 50%;
      margin-left: -22.5px;
      margin-top: -22.5px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &.loading {
        width: 40px;
        height: 40px;
        background-image: cdnUrl("/img/ML/video-spinner.gif");
        background-size: 50px;
        background-color: #000000;
        opacity: 0.4;
        border-radius: 100px 100px 100px 100px;
        margin-left: -20px;
        margin-top: -20px;

        &:hover {
          opacity: 0.4;
        }
      }
    }

    img.video-image {
      position: absolute;
      object-fit: contain;
      background-color: black;
      width: 100%;
      height: 100%;

      &.loading {
        display: none;
      }
    }

    &.clicked {
      display: none;
    }
  }
}

div.ziggeo-recorder {
  position: relative;

 button.remove-recorder-bt {
    width: 40px;
    height: 40px;
    background-image: cdnUrl("/img/ML/remove_video_x.svg");
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
    border-radius: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  } 

}