{:require [oc.web.core]
 :init-fns [oc.web.core/init]
 :compiler-options {:asset-path "/js/oc.out"
                    :output-to "oc.js"
                    :source-map "oc.js.map"
                    :output-wrapper "%output%\n //# sourceMappingURL=https://staging.opencompany.com/oc.js.map"}}