html, body {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  height: 100%;
  padding-top: 101px;
}

nav.company-header {
  padding-top: 15px;
  background-color: white;
}

button.round {
  border-radius: 24px;
}

div.company-logo {
  padding-left: 15px;
}

div.company-share {
  padding-right: 15px;
}

div.company-name {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  padding-left: 45px;
  padding-right: 45px;
}

div.company-description {
  text-align: center;
  margin-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;
}

div.category-nav {
  border-top: 1px solid #DFDFDF; /* gray */
  border-bottom: 1px solid #DFDFDF; /* gray */
}

div.category {
  min-height: 40px;
  /* vertically center the text */
  padding-top: 10px;
  vertical-align: middle;
  /* horizontally center the text */
  text-align: center;
}

div.category-label {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  color: #A6A6A3; /* gray */
  min-height: 30px;
}

div.category.active div.category-label {
  color: black;
  border-bottom: 3px solid black;
}

div.topic {
  min-height: 100px;
  border-bottom: 1px solid #DFDFDF; /* gray */
}

div.topic div.topic-title {
  padding-top: 20px;
  font-size: 18px;
}

div.topic div.topic-headline {
  padding-top: 5px;
  padding-bottom: 5px;
}

div.topic div.topic-date {
  font-size: 12px;
  font-style: italic;
  color: #A6A6A3; /* gray */  
}