/* some style */

html, body{
  font-family: "proxima-nova", sans-serif;
}

a{
  cursor: pointer;
}

a:hover, a:hover *{
  text-decoration: none;
}

/*
 * Global add-ons
 */
 .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-fixed-top {
    border: 0;
}

/* Hide for mobile, show later */
 .sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
 .nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */
 .main {
    padding: 0px !important;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
 .placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
span.num.red {
    color: red;
}
.form-group {
    margin-bottom: 25px;
}

/* Reset bootstrap 3.3.5 help block overflow */
.input-group[class*=col-]{
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  display: none;
}

div#app{
  margin-top: 50px;
}

nav.navbar{
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

nav.tab-navigation{
  margin-top: 10px;
}

div.report-list {
  margin: 0;
  margin-top: 10px;
  background-color: white;
}

div.report-list div.report-list-left{
  width: 330px;
  float: left;
  display: block;
}

div.chart-container{
  width: 600px;
}

div.report-list div.chart-container{
  margin-left: 300px;
  width: 600px;
  margin-top: 30px;
}

div.report-panel div.chart-container{
  margin-left: -71px;
  margin-top: 0px;
}

div.report-list span.num{
  color: black;
  font-weight: bold;
}

span.num.red{
  color: red;
}

span.num.green{
  color: green;
}

div.report-list span.label, div.report-list label.label{
  color: black;
}

div.report-list label.comments-label{
  margin: 10px 0px 0px;
  padding: 0px;
  color: black;
}

label.switch-vis{
  margin: 0px 5px;
}

div.report-list input.editable-data, div.report-list input.editable-data:focus{
  outline: 0;
  border: 0px solid black;
  border-bottom: 1px solid blue;
  color: blue;
  text-align: center;
  width: 80px;
  height: 23px;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

div.report-list label.editable-label{
  width: 80px;
  color: black;
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: normal;
  height: 23px;
  padding: 0px;
  margin: 0px 0px 5px 0px;
}

div.report-list textarea.comment{
  width: 200px;
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
}

span.label{
  padding: 0;
  margin: 0;
}

span img.user-icon{
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.select2-selection span img.user-icon{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

div.composed-section i.add-metric{
  color: #707070;
  opacity: 0;
  cursor: default;
}

div.composed-section:hover i.add-metric{
  opacity: 1;
  margin-left: -30px;
  cursor: pointer;
}

div.composed-section h2{
  text-align: left;
}

div.composed-section h2.finances-edit-title{
  text-align: left;
  position: relative;
  width: 600px;
  margin-left: -300px;
  left: 50%;
}

div.composed-section div.link-bar{
  text-align: left;
  z-index: 1;
  margin-left: -300px;
  left: 50%;
  width: 600px;
  position: relative;
}

div.composed-section div.link-bar a.composed-section-link{
  text-decoration: underline;
  color: #707070;
  margin-left: 0px;
  margin-right: 60px;
  font-size: 16px;
  display: inline-block;
}

div.composed-section div.link-bar a.composed-section-link.active{
  text-decoration: none;
  color: #191919;
}

div.composed-section div.composed-section-body{
  width: 600px;
  left: 50%;
  margin-left: -300px;
  position: relative;
}

div.composed-section div.composed-section-body div.section{
  text-align: left;
}

div.composed-section div.section div.chart-footer-container {
  text-align: center;
}

div.composed-section div.section div.chart-footer-container h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

div.composed-section div.section div.period-container p {
  margin-top: 10px;
  margin-bottom: 0px;
}

div.composed-section div.section div.chart-footer-container div.target-actual-container {
  width: 150px;
  height: 70px;
  margin-left: 225px;
}

div.composed-section div.section div.chart-footer-container div.target-actual-container.double {
  width: 300px;
  margin-left: 150px;
}

div.composed-section div.section div.chart-footer-container div.actual-container {
  width: 150px;
  float: right;
}

div.target-actual-container div.target-container h3 {
  text-align: right;
  margin-right: 15px;
}

div.target-actual-container.double div.actual-container h3 {
  text-align: left;
  margin-left: 15px;
}

div.composed-section div.section div.chart-footer-container div.actual-container h3.actual {
  color: #109DB7;
}

div.composed-section div.section div.chart-footer-container div.actual-container h3.actual-label {
  font-size: 12px;
  font-weight: 700;
}

div.composed-section div.section div.chart-footer-container div.target-container {
  width: 150px;
  float: left;
}

div.composed-section div.section div.chart-footer-container div.target-container h3.target {
  color: #ADADAD;
}

div.composed-section div.section div.chart-footer-container div.target-container h3.target-label {
  font-size: 12px;
  font-weight: 700;
}

div.composed-section div.section div.chart-footer-container div.period-container {
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  font-size: 32px;
  font-weight: 300;
}

div.finances div.finances-body div.section h3{
  margin-bottom: 0px;
}

div.finances div.finances-body div.section div.chart-container{
  position: relative;
  left: 50%;
  margin-left: -300px;
}

div.update-footer{
  position: relative;
  left: 50%;
  margin-left: -300px;
  margin-top: 30px;
  width: 600px;
  height: 24px;
  vertical-align: middle;
}

div.update-footer div{
  margin: 0px 0px 0px 35px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

div.update-footer div.author{
  color: #4C4B4B;
  font-size: 16px;
  font-weight: 600;
}

div.update-footer div.timeago{
  color: #5B5B5B;
  font-size: 13px;
  font-weight: 300;
}

div.update-footer img.author-image{
  height: 30px;
  width: 30px;
  float: left;
  border-radius: 3px;
  margin-top: 5px;
}

div.rich-editor-container {
  position: relative;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  margin-top: 30px;
}

div.rich-editor-container div.rich-editor{
  color: #191919;
}

div.rich-editor-container div.rich-editor img,
div.rich-editor-container div.fake-rich-editor img{
  max-width: 500px;
}

div.rich-editor-container div.rich-editor ul img,
div.rich-editor-container div.fake-rich-editor ul img{
  max-width: 460px;
}

div.rich-editor-container div.rich-editor ul ul img,
div.rich-editor-container div.fake-rich-editor ul ul img{
  max-width: 420px;
}

div.rich-editor-container div.rich-editor,
div.rich-editor-container div.rich-editor p,
div.rich-editor-container div.fake-rich-editor,
div.rich-editor-container div.fake-rich-editor p{
   font-weight: normal;
   font-size: 19px;
}

div.rich-editor-container div.rich-editor h1,
div.rich-editor-container div.rich-editor h3{
  font-weight: 600;
   font-size: 24px; 
}

div.rich-editor-container div.rich-editor.no-data{
  color: rgba(0, 0, 0, 0.4);
}

div.rich-editor-container div.rich-editor,
div.rich-editor-container div.fake-rich-editor{
  width: 500px;
}

div.rich-editor-container div.rich-editor-save{
  height: 44px;
}

div.rich-editor-container div.rich-editor-save button.cancel-button{
  margin-left: 10px;
}

div.rich-editor-container div.rich-editor *::selection{
  background: #C1E7F4;
}

div.rich-editor-container div.rich-editor *::-moz-selection{
  background: #C1E7F4;
}

div.rich-editor-container div.rich-editor a{
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

div.rich-editor-container div.rich-editor.collapsed{
  overflow: hidden;
  max-height: 450px;
  position: relative;
}

div.rich-editor-container div.rich-editor.collapsed:after{
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(
    to top,
    rgba(255,255,255, 1) 0%,
    rgba(255,255,255, 0) 40%
  );
}

div.rich-editor-container button.collapse-button:focus,
div.rich-editor-container button.expand-button:focus{
  outline: none;
}

div.rich-editor-container button.collapse-button,
div.rich-editor-container button.expand-button{
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  margin-left: 0px;
  padding-left: 0px;
  outline: none;
}

div.rich-editor-container button.expand-button{
  color: #2F9B34;
}

div.rich-editor-container button.collapse-button{
  color: red;
}

.comp-cell {
  border: 2px solid transparent;
  width: 100px;
  height: 30px;
}

.comp-cell .comp-cell-int {
  width: 100%;
}

.comp-cell .comp-cell-int span, .comp-cell .comp-cell-int input{
  width: 100%;
  text-align: right;
}

.comp-cell .state-new {
  border: 2px solid black;
}

.comp-cell .state-new span {
  color: rgba(0, 0, 0, 0.4);
}

.comp-cell .state-display {
  border: 2px solid transparent;
}

.comp-cell .state-display span {
  color: black;
}

.comp-cell .state-draft {
  border: 2px solid transparent;
  border-bottom: 2px solid black;
}

.comp-cell .state-draft span {
  color: black;
}

.comp-cell .state-edit {
  border: 2px solid blue;
}

.comp-cell .state-edit input {
  color: black;
  border: 0px solid black;
  outline: none;
  text-align: left;
}

div.editable-title-container{
  width: 600px;
  position: relative;
  left: 50%;
  margin-left: -300px;
  height: 55px;
  margin-top: 30px;
  margin-bottom: 10px;
}

div.editable-title-container h2{
  cursor: text;
}

div.editable-title-container h2.read-only{
  cursor: pointer;
}

div.editable-title-container h2,
div.editable-title-container input,
div.editable-title-container span.hidden-span{
  text-align: left;
  color: #2D2D2D !important;
  font-size: 36px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 55px;
}

div.editable-title-container div.hidden-span-container{
  z-index: -1;
  opacity: 0;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
}

div.editable-title-container span.hidden-span{
  opacity: 0;
}

div.editable-title-container h2{
  border: 1px solid white;
  outline: none;
  padding-top: 1px;
}

div.editable-title-container input{
  border: 1px solid black;
  outline: none;
}

form.linkForm input.url {
  color: black;
}

form.linkForm input#addlinkButton {
  background-color: black;
}

div.finances div.finances-body.edit{
  width: 800px;
  left: 50%;
  margin-left: -400px;
  position: relative;
}

div.composed-section-body i.editable-pen{
  opacity: 0;
  margin-left: 10px;
  cursor: default;
}

div.composed-section-body.editable:hover i.editable-pen{
  opacity: 1;
  margin-left: 10px;
  cursor: pointer;
}

div.finances-body table.table td, div.finances-body table.table th{
  text-align: right;
}

div.finances-body table.table td.no-cell{
  padding-top: 12px;
}

div.finances-body table.table td.new-row-placeholder{
  color: rgba(0, 0, 0, 0.4);
}

div.finances-body table.table td div.comp-cell{
  float: right;
}

div.finances-body div.finances-edit-buttons{
  margin-left: 234px;
}

div.finances-body div.finances-edit-buttons button.cancel{
  margin-left: 10px;
}

div.recent-updates{
  margin-top: 8px;
}

div.recent-updates ul.recent-updates-list{
  width: 300px;
  top: auto;
}

div.recent-updates div.recent-updates-item{
  height: 27px;
}

div.recent-updates div.recent-updates-item p.title {
  font-size: 14px;
  color: black;
  float: left;
}

div.recent-updates div.recent-updates-item span.updated-at {
  font-size: 11px;
  color: gray;
  float: right;
}

div.simple-section-revisions-navigator{
  width: 600px;
  left: 50%;
  margin-left: -300px;
  position: relative;
}

div.revisions-navigator{
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

div.revisions-navigator div.revisions-navigator-left{
  float: left;
}

div.revisions-navigator div.revisions-navigator-left div.single-prev,
div.revisions-navigator div.revisions-navigator-right div.single-next,
div.revisions-navigator div.revisions-navigator-left div.double-prev,
div.revisions-navigator div.revisions-navigator-right div.double-next{
  color: #5B5B5B;
}

div.revisions-navigator div.revisions-navigator-left div.double-prev{
  font-size: 20px;
  margin-top: 6px;
}

div.revisions-navigator div.revisions-navigator-left div.single-prev{
  margin-top: 5px;
}

div.revisions-navigator div.revisions-navigator-left div.single-prev i{
  font-size: 28px;
  float:left;
}
div.revisions-navigator div.revisions-navigator-left div.single-prev p{
  margin: 5px 0px 0px 8px;
  float: left;
}

div.revisions-navigator div.revisions-navigator-left div.single-prev,
div.revisions-navigator div.revisions-navigator-left div.double-prev{
  float: left;
}

div.revisions-navigator div.revisions-navigator-left div.double-prev{
  margin-right: 10px;
}

div.revisions-navigator div.revisions-navigator-right{
  float: right;
}

div.revisions-navigator div.revisions-navigator-right div.double-next{
  font-size: 20px;
  margin-top: 6px;
}

div.revisions-navigator div.revisions-navigator-right div.single-next{
  margin-top: 5px;
}

div.revisions-navigator div.revisions-navigator-right div.single-next i{
  font-size: 28px;
  float:right;
}

div.revisions-navigator div.revisions-navigator-right div.single-next p{
  margin: 5px 8px 0px 0px;
  float: right;
}

div.revisions-navigator p.rev-nav-label{
  color: #5B5B5B;
  font-size: 16px;
  font-weight: normal;
}

div.revisions-navigator p.rev-nav-date{
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 300;
}

div.revisions-navigator div.revisions-navigator-right div.single-next,
div.revisions-navigator div.revisions-navigator-right div.double-next{
  float: right;
}

div.revisions-navigator div.revisions-navigator-right div.double-next{
  margin-left: 10px;
}

hr.section-separator{
  background-color: rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 1px;
  border: 0px solid transparent;
  margin-top: 30px;
  margin-bottom: 0px;
}

h4.login-error-message{
  color: red;
  font-size: 14px;
}

div.user-profile div.panel-heading{
  font-weight: bold;
  font-size: 16px;
}

div.user-profile div.panel-body span.user-profile-label{
  width: 150px;
  float: left;
  font-size: 14px;
  font-weight: bold;
}

div.user-avatar img.user-avatar-img{
  margin: 10px;
}

div.user-avatar span.user-avatar-name{
  margin-right: 10px;
  color: #2D2D2D;
  font-size: 12pt;
}

div.company-avatar a, div.company-avatar a:hover{
  text-decoration: none;
}

div.company-avatar div.company-avatar-img{
  border: 1px solid black;
  margin-top: -10px;
  padding: 9px;
  float: left;
}

div.company-avatar div.company-avatar-img span.company-avatar-initial{
  font-size: 28px;
  color: black;
}

div.company-avatar div.company-avatar-name{
  float: left;
  font-size: 16px;
  margin-left: 10px;
  color: black;
}

button.oc-btn{
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 10px;
  margin-left: 0px;
  margin-right: 20px;
  height: 20px;
  width: 60px;
  border-radius: 4px;
  background-color: transparent;
  margin-top: 30px;
}

button.oc-btn.oc-success{
  color: green;
}

button.oc-btn.oc-cancel{
  color: rgba(0, 0, 0, 0.4);
}

div.sections-container{
  position: relative;
  width: 600px;
  margin-left: -300px;
  left: 50%;
}

div.table-of-contents{
  position: relative;
  padding: 10px;
  color: #2D2D2D;
}

div.table-of-contents div.table-of-contents-inner{
  width: 100%;
  height: 100%;
}

div.table-of-contents div.table-of-contents-inner div.category{
  margin-left: 30px;
}

div.table-of-contents div.table-of-contents-inner div.category.empty{
  color: rgba(0, 0, 0, 0.4);
}

div.table-of-contents div.table-of-contents-inner div.category h3{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

div.table-of-contents div.table-of-contents-inner div.category-section{
  margin-left: 60px;
  margin-top: 20px;
}

div.table-of-contents div.table-of-contents-inner div.category-section a,
div.table-of-contents div.table-of-contents-inner div.category-section a:hover,
div.table-of-contents div.table-of-contents-inner div.category-section a:active,
div.table-of-contents div.table-of-contents-inner div.category-section a:visited{
  text-decoration: none;
}

div.table-of-contents div.table-of-contents-inner div.category-section a p.section-title{
  color: #2D2D2D;
  font-size: 16px;
  margin-bottom: 0px;
}

div.table-of-contents div.table-of-contents-inner div.category-section a p.section-date{
  color: #5B5B5B;
  font-weight: lighter;
  font-size: 11px;
  margin-bottom: 0px;
}