/* some style */

div.report-list {
  margin-left: 10px;
}

div.report-list span.num{
  color: blue;
  text-decoration: underline;
}

div.report-list span.num.red{
  color: red;
}

div.report-list span.num.green{
  color: green;
}

div.report-list span.label{
  color: black;
}

div.report-list div.comment{
  width: 200px;
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
}
