$oc_yellow: #f9d748;
$oc_gray: #D8D8D8; //#ADADAD;
$oc_green: #26C485;
$oc_red: #E04B53;
$oc_blue: #FEFEFE; //#004E64; //#109DB7;
$oc_black: #000000;
$oc_white: #FCFCFC;
// greens
$oc_green_dark: #35bc2e;
$oc_green_regular: #26C485;
$oc_green_light: #4DE249;
// blues
$oc_blue_dark: #1E81C4;
$oc_blue_regular: #004E64;
$oc_blue_light: #007A9D;
// Grays
$oc_gray_0: #FEFEFE;
$oc_gray_1: #F1F1F1;
$oc_gray_6: #E0E0E0; // Modified to be brighter
$oc_gray_2: #D8D8D8;
$oc_gray_3: #8B8A8A;
$oc_gray_4: #5B5B5B;
$oc_gray_5: #4E5A6B;
$oc_gray_7: #637282;
$oc_gray_8: #FBFAF7;
$ml_text_blue: #4c67fc;
// Reds
$oc_red_dark: #9E001A;
$oc_red_regular: #E04B53;
$oc_red_light: #EC7A8D;
// Charts
$oc_chart_blue: #4EE4D6;
$oc_chart_green: #4de148;
$oc_chart_red: #D72A46;

$cr_orange: #FA6452;
$cr_gray: #333333;
$cr_light_gray: #A3A6AC;
$cr_dark_gray: #34414F;