$oc_yellow: #f9d748;
$oc_gray: #D8D8D8; //#ADADAD;
$oc_green: #26C485; //#26C485;
$oc_red: #d72a46;
$oc_blue: #007A9D; //#004E64; //#109DB7;
$oc_black: #000000;
$oc_white: #FCFCFC;
// greens
$oc_green_dark: #008C54;
$oc_green_regular: #26C485;
$oc_green_light: #74E0B4;
// blues
$oc_blue_dark: #003848;
$oc_blue_regular: #004E64;
$oc_blue_light: #007A9D;
// Grays
$oc_gray_0: #FEFEFE;
$oc_gray_1: #F1F1F1;
$oc_gray_6: #E8E8E8; // Modified to be brighter
$oc_gray_2: #D8D8D8;
$oc_gray_3: #8B8A8A;
$oc_gray_4: #5B5B5B;
$oc_gray_5: #4E5A6B;
// Reds
$oc_red_dark: #9E001A;
$oc_red_regular: #D72A46;
$oc_red_light: #EC7A8D;

$oc_new_chart_blue: #4EE4D6;
$oc_new_chart_green: #4de148;