$oc_yellow: #f9d748;
$oc_gray: #D8D8D8; //#ADADAD;
$oc_green: #26C485;
$oc_red: #E04B53;
$oc_blue: #FEFEFE; //#004E64; //#109DB7;
$oc_black: #000000;
$oc_white: #FCFCFC;
// greens
$oc_green_dark: #35bc2e;
$oc_green_regular: #26C485;
$oc_green_light: #4DE249;
// blues
$oc_blue_dark: #1E81C4;
$oc_blue_regular: #004E64;
$oc_blue_light: #007A9D;
// Grays
$oc_gray_0: #FEFEFE;
$oc_gray_1: #F1F1F1;
$oc_gray_6: #E0E0E0; // Modified to be brighter
$oc_gray_2: #D8D8D8;
$oc_gray_3: #8B8A8A;
$oc_gray_4: #5B5B5B;
$oc_gray_5: #4E5A6B;
$oc_gray_7: #637282;
$oc_gray_8: #FBFAF7;
// Reds
$oc_red_dark: #9E001A;
$oc_red_regular: #E04B53;
$oc_red_light: #EC7A8D;

$carrot_text_blue: #4c67fc;
$carrot_orange: #FA6452;
$carrot_orange_1: #F8A094;
$carrot_gray: #333333;
$carrot_light_gray: #A3A6AC;
$carrot_dark_bg_gray: #F3F2EE;
$carrot_dark_gray: #34414F;
$carrot_dark_gray_1: #212830;
$carrot_dark_blue: #2e405a;
$carrot_light_gray_1: #B1B8C0;
$carrot_light_gray_2: #F2F1ED;
$carrot_light_gray_3: #898D93;
$carrot_light_gray_4: #C8C4BB;
$carrot_light_gray_5: #EBEAE4;
$carrot_light_gray_6: #DBDAD4;
$carrot_light_gray_7: #E4E3DE;
$carrot_green: #0F8E4C;
$carrot_green_1: #0E8749;
$carrot_green_2: #3FBD7C;
$carrot_green_3: #D4F6E4;
$carrot_text_blue_2: #3B3D40;
$carrot_light_blue: #DEE8FF;

$carrot_settings_background: #FCFBF7;

$carrot_modal_bg: rgba(51,51,51,0.7);