$oc_yellow: #f9d748;
$oc_gray: #D8D8D8; //#ADADAD;
$oc_green: #26C485;
$oc_red: #E04B53;
$oc_blue: #FEFEFE; //#004E64; //#109DB7;
$oc_black: #000000;
$oc_white: #FCFCFC;
// greens
$oc_green_dark: #35bc2e;
$oc_green_regular: #26C485;
$oc_green_light: #4DE249;
// blues
$oc_blue_dark: #1E81C4;
$oc_blue_regular: #004E64;
$oc_blue_light: #007A9D;
// Grays
$oc_gray_0: #FEFEFE;
$oc_gray_1: #F1F1F1;
$oc_gray_6: #E0E0E0; // Modified to be brighter
$oc_gray_2: #D8D8D8;
$oc_gray_3: #8B8A8A;
$oc_gray_4: #5B5B5B;
$oc_gray_5: #4E5A6B;
$oc_gray_7: #637282;
$oc_gray_8: #FBFAF7;
// Reds
$oc_red_dark: #9E001A;
$oc_red_regular: #E04B53;
$oc_red_light: #EC7A8D;

$carrot_text_blue: #4c67fc;
// $carrot_orange: #FA6452;
$carrot_orange_1: #F8A094;
$carrot_orange_2: #FA6654;
$carrot_orange_light: #FBE3DD;
$carrot_gray: #333333;
$carrot_gray_1: #9A9CA1;
$carrot_light_gray: #A3A6AC;
$carrot_dark_bg_gray: #F3F2EE;
$carrot_dark_gray: #34414F;
$carrot_dark_gray_1: #212830;
$carrot_dark_gray_2: #47535F;
$carrot_dark_blue: #2e405a;
$carrot_dark_blue_1: #4D67FC;
$carrot_light_gray_1: #B1B8C0;
$carrot_light_gray_2: #F2F1ED;
$carrot_light_gray_3: #898D93;
$carrot_light_gray_4: #C8C4BB;
$carrot_light_gray_5: #EBEAE4;
$carrot_light_gray_6: #DBDAD4;
$carrot_light_gray_7: #E4E3DE;
$carrot_light_gray_8: #F6F6F5;
$carrot_light_gray_9: #F5F4F1;
$carrot_light_gray_10: #C4C6C7;
// $carrot_green: #0F8E4C;
$carrot_green_1: #0E8749;
$carrot_green_2: #3FBD7C;
$carrot_green_3: #D4F6E4;
$carrot_text_blue_2: #3B3D40;
$carrot_text_blue_3: #6187F8;
$carrot_light_blue: #DEE8FF;
$carrot_light_blue_2: #E2EEFF;
$carrot_yellow: #F5A623;
$carrot_light_yellow: #FFF6DD;
$carrot_light_yellow_1: #FFF3CD;
$carrot_purple: #7B5FEC;
$carrot_light_purple: #E8E6FE;
$carrot_dark_brown: #70674B;
$carrot_dark_brown_1: #373F4F;
$carrot_blue: #4370F8;
$carrot_site_purple: #9B67E9;

$carrot_settings_background: #FCFBF7;

// Grey
$deep_navy: #34414F;
$light_navy: #242D42;
$ui_grey: #898D93;
$light_ui_grey: #C4C6C9;
$medium_light_grey: #D8DBDF;
$mid_light_grey: #D6D6D8;
$ultra_light_grey: #ECECEC;
$divider_line_grey: rgba($deep_navy, 0.15);
$more_ultra_light_grey: #E7E6E5;
$another_ui_grey: #F8F7F3;
$grey_num_1: #99A0A7;
$grey_num_2: #FBFAF9;
$grey_num_3: #EEEAE9;
$grey_num_4: #F9F8F7;
$grey_num_5: #EAEAE7;

// Tan
$deep_tan: #E4E3DE;
$light_tan: #F2F1ED;

// Orange
$carrot_orange: #FA6452;
$coral: #FBE3DD;

// Green
$carrot_green: #3FBD7C;
$feint_emerald: #D4F6E4;

// Gold
$carrot_gold: #FDAB1D;
$light_gold: #FFF6DD;
$ultra_light_gold: #FFFDF9;
$opac_yellow: #FDF6E4;

// Blue
$sea_blue: #6187F8;
$chalk_blue: #E2EEFF;

// Lilac
$lilac: #A66EF9;
$light_lilac: #F5EDFF;

// Wut

$wut_purple: #6833F1;
$wut_feint_purple: rgba($wut_purple, 0.16);

$carrot_modal_bg: rgba($deep_navy,0.8);