/*
100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
450 Book
550 Roman
650 Medium
850 Heavy
950 Black
*/

.OC-Title {
  font-family: "PT Serif", serif !important;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Book {
  font-family: "Circular Book", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Book-Oblique {
  font-family: "Circular Book Oblique", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Medium-Oblique {
  font-family: "Circular Medium Oblique", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Medium {
  font-family: "Circular Medium", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Bold {
  font-family: "Circular Bold", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Bold-Oblique {
  font-family: "Circular Bold Oblique", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Black {
  font-family: "Circular Black", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Black-Oblique {
  font-family: "Circular Black Oblique", Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

@mixin OCBodyFont($font_variant){
  font-family: #{$font_variant}, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

@mixin OC_Body_Book() {
  @include OCBodyFont(Circular-Book);
}

@mixin OC_Body_Book_Italic() {
  @include OCBodyFont(Circular-BookItalic);
}

@mixin OC_Body_Medium(){
  @include OCBodyFont(Circular-Medium);
}

@mixin OC_Body_Medium_Italic(){
  @include OCBodyFont(Circular-MediumItalic);
}

@mixin OC_Body_Bold(){
  @include OCBodyFont(Circular-Bold);
}

@mixin OC_Body_Bold_Italic(){
  @include OCBodyFont(Circular-BoldItalic);
}

@mixin OC_Body_Black(){
  @include OCBodyFont(Circular-Black);
}

@mixin OC_Body_Black_Italic(){
  @include OCBodyFont(Circular-BlackItalic);
}

@mixin OC_Title($weight: 700){
  font-family: "PT Serif", serif !important;
  font-weight: $weight;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}