/*
100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
450 Book
550 Roman
650 Medium
850 Heavy
950 Black
*/

$circular_book: "LL Circular Book Web";
$circular_bold: "LL Circular Book Web";

.OC-Title {
  font-family: "PT Serif", serif !important;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Book {
  font-family: $circular_book, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Book-Oblique {
  font-family: $circular_book, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Bold {
  font-family: $circular_bold, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.OC-Body-Bold-Oblique {
  font-family: $circular_bold, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

@mixin OCBodyFont($font_variant, $font_weight: normal, $font_style: normal){
  font-family: #{$font_variant}, Muli, Arial, sans-serif;
  font-weight: $font_weight;
  font-style: $font_style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

@mixin OC_Body_Book() {
  @include OCBodyFont($circular_book, 300);
}

@mixin OC_Body_Book_Italic() {
  @include OCBodyFont($circular_book, 300, italic);
}

@mixin OC_Body_Bold(){
  @include OCBodyFont($circular_bold, bold);
}

@mixin OC_Body_Bold_Italic(){
  @include OCBodyFont($circular_bold, bold, italic);
}

@mixin OC_Title($weight: 700){
  font-family: "PT Serif", serif !important;
  font-weight: $weight;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}