/*
100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
450 Book
550 Roman
650 Medium
850 Heavy
950 Black
*/

.PTSerif {
  font-family: "PT Serif", serif !important;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-Book {
  font-family: AvenirLTStd-Book, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-BookOblique {
  font-family: AvenirLTStd-BookOblique, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-Roman {
  font-family: AvenirLTStd-Roman, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-MediumOblique {
  font-family: AvenirLTStd-MediumOblique, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-Medium {
  font-family: AvenirLTStd-Medium, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-Oblique {
  font-family: AvenirLTStd-Oblique, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-Heavy {
  font-family: AvenirLTStd-Heavy, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-HeavyOblique {
  font-family: AvenirLTStd-HeavyOblique, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-Black {
  font-family: AvenirLTStd-Black, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

.AvenirLTStd-BlackOblique {
  font-family: AvenirLTStd-BlackOblique, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

@mixin avenir($avenir_variant){
  font-family: #{$avenir_variant}, Muli, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}

@mixin avenir_BOOK() {
  @include avenir(AvenirLTStd-Book);
}

@mixin avenir_BOOKO() {
  @include avenir(AvenirLTStd-BookOblique);
}

@mixin avenir_R(){
  @include avenir(AvenirLTStd-Roman);
}

@mixin avenir_O(){
  @include avenir(AvenirLTStd-Oblique);
}

@mixin avenir_M(){
  @include avenir(AvenirLTStd-Medium);
}

@mixin avenir_MO(){
  @include avenir(AvenirLTStd-MediumOblique);
}

@mixin avenir_H(){
  @include avenir(AvenirLTStd-Heavy);
}

@mixin avenir_HO(){
  @include avenir(AvenirLTStd-HeavyOblique);
}

@mixin avenir_B(){
  @include avenir(AvenirLTStd-Black);
}

@mixin avenir_BO(){
  @include avenir(AvenirLTStd-BlackOblique);
}

@mixin PTSerif($weight: 700){
  font-family: "PT Serif", serif !important;
  font-weight: $weight;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;;
}