// Theme 
@import "../modules/_colors";

$dark_mode: "dark";

@mixin dark_mode() {
  @at-root html.theme-mode-dark #{&} {
    @content
  }
}

:root {
  --background-color: #{$grey_num_2};
  --color: #{$deep_navy};
  --light-color: #{rgba($deep_navy,0.5)};
  --ultralight-color: #{rgba($deep_navy,0.25)};
  --tooltip-background-color: #{$deep_navy};
  --tooltip-color: white;
  --tooltip-button-background: #{rgba(white, 0.1)};
  --selection-color: rgba(250,100,82, 0.5);
  --divider-line: #{$divider_line_grey};
  --overlay-background-color: white;
  --highlighter-bg-color: #FEDF95;

  --opac-background-color-05: #{rgba($deep_navy, 0.05)};
  --opac-background-color-08: #{rgba($deep_navy, 0.08)};
  --opac-background-color-1: #{rgba($deep_navy, 0.1)};
  --opac-background-color-15: #{rgba($deep_navy, 0.15)};
  --opac-background-color-2: #{rgba($deep_navy, 0.2)};

  --mobile-background-color: white;
  --mobile-color: #{$deep_navy};
  --mobile-tabbar-color: #07C176;

  --panel-header-background: #{$ultra_light_grey};

  // Ractions
  --reaction-bt-background: #{rgba($deep_navy, 0.1)};

  // Stream-item
  --foc-background-color: #{rgba($deep_navy, 0.05)};
  --mobile-foc-background-color: #{rgba($deep_navy, 0.05)};
  --foc-hover-color: #F1F0F0; // rgb(241, 240, 240)
  --foc-hover-border-color: #{rgba($deep_navy, 0.24)};
  --foc-new-color: white;
  --foc-divider-line-color: #{rgba($deep_navy, 0.15)};
  --foc-new-border-color: #{rgba($deep_navy, 0.24)};
  --foc-menu-gradient-from: #{rgba(241, 240, 240, 1)};
  --foc-menu-gradient-to: #{rgba(241, 240, 240, 0)};
  --foc-new-menu-gradient-from: white;
  --foc-new-menu-gradient-to: #{rgba(white, 0)};
  --foc-box-shadow: rgba(0, 0, 0, 0.1);

  //Navigation item
  --navigation-sidebar-count-bg: #{rgba($light_navy, 0.1)};
  --navigation-sidebar-hover-bg: #{rgba($deep_navy, 0.05)};

  // Notifications tray
  --notifications-item-background: #848D95;
  --notifications-border: #{$deep_tan};

  // Search
  --search-background-color: #{rgba($light_ui_grey, 0.2)};

  // Comments
  --comments-floating-bt-background: #{rgba($deep_navy, 0.05)};
  --add-comment-background: white;
  --mobile-add-comment-background: white;

  // Cmail
  --cmail-fullscreen-bt-bg: #{rgba(white, 0.2)};
  --cmail-section-bt-background: #{$deep_navy};
  --cmail-section-bt-color: white;
  --cmail-me-separator: rgba(255, 255, 255, 0.3);
  --cmail-background-color: white;
  --cmail-border: 1px solid #{rgba($deep_navy, 0.24)};
  --cmail-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  --cmail-active-border: 1px solid #{rgba($deep_navy, 0.32)};
  --cmail-active-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

  // User dropdown
  --user-dropdown-shadow-start: rgba(0, 0, 0, 0.2);
  --user-dropdown-shadow-start: rgba(0, 0, 0, 0.1);

  // General settings
  --selected-row-background-color: #EBF8F1;
  --selected-row-color: #{$wut_purple};

  // Theme settings
  --ui-theme-border-color: #{rgba($deep_navy, 0.24)};

  // Polls
  --poll-background-color: white;
  --poll-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);

  // Code blocks
  --code-background-color: #{rgba($deep_navy, 0.08)};
  --code-border-color: #{rgba($deep_navy, 0.24)};
  --inline-code-color: #FB4884;

  // Collapsed post
  --collapse-post-start-bg: #{rgba($grey_num_2, 0)};
  --collapse-post-stop-bg: #{rgba($grey_num_2, 1)};
  --mobile-collapse-post-start-bg: #{rgba(white, 0)};
  --mobile-collapse-post-stop-bg: #{rgba(white, 1)};

  // User info hover
  --user-info-view-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

  // Wut
  --modal-shadow: rgba(0, 0, 0, 0.07);

  html, body {
    scrollbar-color: light;
  }
}

@include dark_mode() {
  --background-color: #1B202A;
  --color: white;
  --light-color: #{rgba(white,0.5)};
  --ultralight-color: #{rgba(white,0.25)};
  --tooltip-background-color: white;
  --tooltip-color: #1B202A;
  --tooltip-button-background: #{rgba($deep_navy, 0.1)};
  --selection-color: #{$carrot_orange};
  --divider-line: #{rgba(white, 0.16)};
  --overlay-background-color: #1B202A;
  --highlighter-bg-color: #FEDF95;

  --opac-background-color-05: #{rgba(white, 0.05)};
  --opac-background-color-08: #{rgba(white, 0.08)};
  --opac-background-color-1: #{rgba(white, 0.1)};
  --opac-background-color-15: #{rgba(white, 0.15)};
  --opac-background-color-2: #{rgba(white, 0.2)};

  --mobile-background-color: #1B202A;
  --mobile-color: white;
  --mobile-tabbar-color: white;

  --panel-header-background: rgb(35, 38 ,46);

  // Ractions
  --reaction-bt-background: #{rgba(white, 0.12)};

  // Stream-item
  --foc-background-color: #{rgba(black, 0.16)};
  --mobile-foc-background-color: #1B202A;
  --foc-hover-color: #{rgba(36, 41, 50, 1)};
  --foc-hover-border-color: #{rgba(white, 0.22)};
  --foc-new-color: #{rgba(45, 49, 59, 1)};
  --foc-divider-line-color: #{rgba(white, 0.16)};
  --foc-new-border-color: #{rgba(white, 0.22)};
  --foc-menu-gradient-from: #{rgba(36, 41, 50, 1)};
  --foc-menu-gradient-to: #{rgba(36, 41, 50, 0)};
  --foc-new-menu-gradient-from: #{rgba(45, 49, 59, 1)};
  --foc-new-menu-gradient-to: #{rgba(45, 49, 59, 0)};
  --foc-box-shadow: rgba(255, 255, 255, 0.14);

  //Navigation item
  --navigation-sidebar-count-bg: #{rgba(white, 0.09)};
  --navigation-sidebar-hover-bg: #{rgba(white, 0.03)};

  // Notifications tray
  --notifications-item-background: #1B202A;
  --notifications-border: #{rgba(white, 0.5)};

  // Search
  --search-background-color: #{rgba(white, 0.09)};

  // Comments
  --comments-floating-bt-background: #{rgba(white, 0.05)};
  --add-comment-background: rgb(27, 32, 42);
  --mobile-add-comment-background: #1B202A;

  // Cmail
  --cmail-fullscreen-bt-bg: #{rgba($deep_navy, 0.2)};
  --cmail-section-bt-background: white;
  --cmail-section-bt-color: #{$deep_navy};
  --cmail-me-separator: #{rgba($deep_navy, 0.3)};
  --cmail-background-color: #{rgba(white, 0.09)};
  --cmail-border: 1px solid #{rgba(white, 0.16)};
  --cmail-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  --cmail-active-border: 1px solid #{rgba(white, 0.24)};
  --cmail-active-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.32);

  // User dropdown
  --user-dropdown-shadow-start: rgba(255, 255, 255, 0.2);
  --user-dropdown-shadow-start: rgba(255, 255, 255, 0.1);

  // General settings
  --selected-row-background-color: #{rgba(white, 0.2)};
  --selected-row-color: #{$wut_purple};

  // Theme settings
  --ui-theme-border-color: #{rgba(white, 0.22)};

  // Polls
  --poll-background-color: #2c313a;
  --poll-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);

  // Code blocks
  --code-background-color: #2C313A;
  --code-border-color: #{rgba(white, 0.32)};
  --inline-code-color: #FFFD93;

  // Collapsed post
  --collapse-post-start-bg: rgba(27, 32, 42, 0);
  --collapse-post-stop-bg: rgba(27, 32, 42, 1);
  --mobile-collapse-post-start-bg: rgba(27, 32, 42, 0);
  --mobile-collapse-post-stop-bg: rgba(27, 32, 42, 1);

  // User info hover
  --user-info-view-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.32);

  // Wut
  --modal-shadow: rgba(0, 0, 0, 0.16);

  &, body {
    scrollbar-color: dark;
  }
}